[2013-11-22 08:21] skodapetr commented on #733
For defining the config.properties yes (or you can use just -c "\x\y" then from the configuration file the path to the log directory is loaded.
Is that enough? Adding possibility to set log directory from cmd line should take no more the 10 minutes ..

[2013-11-22 08:30] #725 closed, assigned to janvojt

[2013-11-22 08:32] tomas-knap commented on #693
Can Petr realize that?

[2013-11-22 08:34] tomas-knap commented on #635
I cannot reproduce now (last two weeks) as well

[2013-11-22 08:38] skodapetr commented on #693
I can and it should not be complicated  .. but, what about using triggers or stored procedures for that? or this is not for which the virtuoso is designed?

[2013-11-22 08:41] tomas-knap commented on #733
Yes, it is enough as it is. Just please document -c param in the documentation (install doc)

[2013-11-22 08:45] #803 closed, assigned to bogo777

[2013-11-22 08:53] tomas-knap commented on #678
Not working well.

I run the pipeline with SPARQL extractor and SPARQL loader. During loading, I kill Virtuoso. Then it was trying to reconnect to Virtuoso, which is ok. But when I turn the database on, an error with Transaction occur, the execution is finished immediately, pipeline remains in the status running.

Transaction problem:

[code]

Whole log (strating with reconnects):

[code]

[2013-11-22 08:55] tomas-knap commented on #798
Probably related to #678 . It tries to reconnect but when the database is on again, there is a problem with transaction and the execution is killed.

[2013-11-22 08:56] tomas-knap commented on #486
Have to test when issue #678 is solved

[2013-11-22 08:59] #804 closed, assigned to skodapetr

[2013-11-22 09:04] tomas-knap commented on #414
We will disuss on the meeting radio button group with two choices - END with error when error discovered and Log all errors and extract only those data do not containing errors

[2013-11-22 09:05] tomas-knap commented on #517
Outdated - see #414

[2013-11-22 09:05] #517 closed, assigned to tomesj

[2013-11-22 09:06] #521 closed, assigned to tomesj

[2013-11-22 09:08] tomas-knap commented on #511
When you tried to load the file, was everything ok?

[2013-11-22 09:10] jakubklimek opened #809 "Last status in Pipelines does not match the real last status in Exec. Monitor"
![image](https://f.cloud.github.com/assets/718827/1599391/c780be66-5355-11e3-983b-36dc8e6c51d2.png)
![image](https://f.cloud.github.com/assets/718827/1599398/daaf1c1c-5355-11e3-802b-3a4245a946b0.png)

[2013-11-22 09:11] tomas-knap commented on #798
Check ARES Test when #678 is solved

[2013-11-22 09:11] #802 closed, assigned to bogo777

[2013-11-22 09:13] tomas-knap opened #810 "Quotes when using name in the confirmation dialog"
![screen shot 2013-11-22 at 10 12 38 am](https://f.cloud.github.com/assets/3014917/1599417/42fb01c8-5356-11e3-8f05-0b3e3a159c13.png)

Should be ...delete the "TED data test" pipeline ...

[2013-11-22 09:21] tomas-knap commented on #227
Sorry, it is working, the problem was that extractor took and removed all the problematic triples

but this remains:
- There should be always a single event saying - Validation Successfull - NO ERRORs, or summary report
- Also please mark Output containing validated data as optional, report is mandatory.

[2013-11-22 09:25] tomas-knap commented on #227
Regarding the format of the report:

PREFIX declaration is missing. @prefix odcs-val: http://linked.opendata.cz/ontology/odcs/validation/
-> ztrati se pri mergovani native repositories - reseni: bud predavat namespaces (krome kopirovani dat) a nebo mit namespace prefix nahodny pri ulozeni do souboru.

You have:

http://linked.opendata.cz/resource/odcs/internal/pipeline/exec/177/dpu/146/du/0 rdf:ty

[2013-11-22 09:31] tomas-knap commented on #708
It is working fine for RDF native repository. We should solve this issue for Virtuoso (that is missing)

[2013-11-22 09:44] tomas-knap opened #811 "Disable input/output data unit if DPU does not have it"
If the selected DPU on Browse/query tab does not have input or output data unit, such checkbox is automatically disabled.

![screen shot 2013-11-22 at 10 43 34 am](https://f.cloud.github.com/assets/3014917/1599596/ade82fde-535a-11e3-8128-57f5229f2fab.png)

[2013-11-22 09:48] tomas-knap commented on #557
I create a loader with configuration:

![screen shot 2013-11-22 at 10 47 32 am](https://f.cloud.github.com/assets/3014917/1599615/22211b7c-535b-11e3-9866-219f789de5b4.png)

But the resulting data was in RDF/XML

[2013-11-22 09:51] tomas-knap opened #812 "Debug button on pipeline list opens wrong exec record detail or no detail"
To reproduce: run pipeline in debug mode. It opens a wrong execution (i the currently being executed is still in queued state). If you run the pipeline in debug mode for the first time, no exec record detail is selectedbecause when selecting, the pipeline is still in queued state probably and there is no other.

![screen shot 2013-11-22 at 10 45 44 am](https://f.cloud.github.com/assets/3014917/159

[2013-11-22 09:55] tomas-knap commented on #557
It is ok

[2013-11-22 09:55] #557 closed, assigned to tomesj

[2013-11-22 09:56] tomas-knap commented on #460
solved by sending notifications

[2013-11-22 09:56] #460 closed, assigned to tomas-knap

[2013-11-22 10:00] tomas-knap commented on #715
Only categorization to extractor/transformer/loader so far

[2013-11-22 10:01] tomas-knap commented on #319
There is a possibility to prune debug data in virtuoso. No possibility to prune logs/execution records

[2013-11-22 10:01] tomas-knap commented on #530
Cannot reproduce

[2013-11-22 10:01] #530 closed, assigned to tomas-knap

[2013-11-22 10:01] tomas-knap commented on #535
solved

[2013-11-22 10:01] #535 closed, assigned to tomas-knap

[2013-11-22 10:23] bogo777 commented on #812
The problem is in PresenterWrap, where method enter() in which the parameters are set, is called AFTER method enterPresenter() which uses the parameters.

So for first request, there aren't any stored parameters and for the next requestes it is always one request later.

As @skodape is author of navigation, maybe he would be the best person for the fix. Or we cas discuss it in the meeting and I ca

[2013-11-22 10:34] skodapetr commented on #812
This is true .. and it's a little bit unfortunate. The enter method .. will be always called after the enter presenter .. as enter presenter is called by PresenterWrap when it's set .. and enter when it's shows.

What we can do is:
a) presenterEnter will create the layout .. without any data (I remove the parameter)
b) then the setParameter will be called (with the parameter from enter) .. and her

[2013-11-22 10:47] tomas-knap opened #813 "PipelineList - put again columns with statistics after the action buttons"
Motivation: Long distance between pipeline name and action buttons

![screen shot 2013-11-22 at 11 44 37 am](https://f.cloud.github.com/assets/3014917/1599943/2acc1224-5363-11e3-82ee-510c1670fdc0.png)

Move them after the action buttons

[2013-11-22 10:53] tomas-knap opened #814 "Problem when clicking on exec monitor"
Second exec record was open, I clicked on the first one. Could be related to #812

![screen shot 2013-11-22 at 11 51 38 am](https://f.cloud.github.com/assets/3014917/1599997/3a6db27c-5364-11e3-9457-fb2a4bac9430.png)

2013-11-22 11:51:21,316 [http-bio-8080-exec-267] DEBUG c.c.m.x.o.f.g.v.e.ExecutionListPresenterImpl - ExecutionMonitor refreshed.
2013-11-22 11:51:21,573 [http-bio-8080-exec-267] ERRO

[2013-11-22 10:55] tomas-knap opened #815 "Combo box with download formats small"
On Browse/Query

![screen shot 2013-11-22 at 11 54 59 am](https://f.cloud.github.com/assets/3014917/1600007/8f637bf4-5364-11e3-8ad1-f895e0738798.png)

[2013-11-22 10:56] tomas-knap opened #816 "When just clicking on "-" button next to emails in settings, save remains disabled!"
![screen shot 2013-11-22 at 11 56 19 am](https://f.cloud.github.com/assets/3014917/1600023/c56fcebe-5364-11e3-87b4-3637082be0df.png)

[2013-11-22 10:57] tomas-knap commented on #816
To reproduce: Add second email, save. Then remove the second email, save button is disabled!

[2013-11-22 12:39] bogo777 commented on #790
In FF it is propably just a performance issue. I found some threads regarding this and FF is just slower with HTML5 canvas than Chrome. I found some tips, how to improve the code to work more faster.

[2013-11-22 12:54] bogo777 commented on #548
It is connected to this bug in Vaadin: http://dev.vaadin.com/ticket/6024

Current state is, that there is vertical scrollbar for the right part when Log tab is active. But when the window is resized, there is only one vertical scrollbar for whole window.

[2013-11-22 14:20] tomas-knap commented on #758
Bohuslav, check that pipeline is stored to db before it is debugged

[2013-11-22 14:32] #736 closed, assigned to janvojt

[2013-11-22 14:33] tomas-knap commented on #625
1 log table
pruning - promaznuti logu na zaklade prop v config.properties
asociace

[2013-11-22 14:36] tomas-knap commented on #475
Tab manage users should be hidden for a normal user, visible only for Administrators

[2013-11-22 14:42] tomas-knap commented on #624
Could duplicate #798

[2013-11-22 14:48] tomas-knap commented on #693
? k last execution - ma to byt last execution moje nebo libovolneho uzivatele?  Probrat s Kubou @jakubklimek

[2013-11-22 15:04] tomas-knap commented on #713
u pipeline musi jit rict ze je private/public. Pokud private tak to funguje jak ted. Pokud je public, tak je treba overit jestli jsou private/public DPU, pokud jsou nejake private, tak se automaticky prevedou na public (notifikace uzivateli jestli to tak opravdu chce).

DPU tree -> private a public filtrovani (checkbox mame, jen musi fungovat), barvicky - jina barva pro public a private

PipelineL

[2013-11-22 15:08] tomas-knap commented on #805
no, no further impl

[2013-11-22 15:25] tomas-knap opened #818 "When browsing logs"
![screen shot 2013-11-22 at 4 25 11 pm](https://f.cloud.github.com/assets/3014917/1601569/4d57d0c2-538a-11e3-88d5-3f724a0846b5.png)

java.lang.NullPointerException: null
    at cz.cuni.mff.xrg.odcs.frontend.container.ReadOnlyContainer.getObject(ReadOnlyContainer.java:186) ~[ReadOnlyContainer.class:na]
    at cz.cuni.mff.xrg.odcs.frontend.container.ValueProperty.<init>(ValueProperty.java:22) ~[Valu

[2013-11-22 15:29] tomas-knap commented on #598
Ask Jirka which method should be callled
RDFDataUnit -> method clearApplicaionGraph()

[2013-11-22 15:30] tomas-knap commented on #598
Jirka zkusi

[2013-11-22 15:31] #483 closed, assigned to kukharm

[2013-11-22 15:33] tomas-knap opened #819 "Add param how many times loader should try to reconnect"

[2013-11-22 15:56] tomas-knap commented on #414
TODO:
- If there is error in the log due to some validation issue and the extractor should not end with ERROR, there is no WARN event for the Extractor. There should be one such event.
- The problem with certain triples should NOT be logged as a short message of event but as a detail (appears in a details dialog when clicking on it), so that it does not spoil the event table
- radio button group w

[2013-11-22 16:08] tomas-knap opened #820 "Align tables with namespaces with Virtuoso table with namespaces"

[2013-11-22 16:24] tomas-knap commented on #356
Move extractFromSPARQL methods to the SPARQL extractor module (similarly as for loader). Move the tests. Then add support for cancel to that DPU

[2013-11-22 16:31] tomas-knap commented on #297
Try to prepare mockup - musis vedet jak se tool pouziva a konfiguruje.

[2013-11-22 16:33] #511 closed, assigned to tomesj

[2013-11-22 16:55] tomas-knap commented on #790
Ok, pls put here the list of tips in case you are not able to implement them all

[2013-11-22 17:00] tomas-knap commented on #477
Should be solved when #625 is solved

[2013-11-22 19:54] skodapetr commented on #814
After come ReadOnlyContainer update (sorry forgot to mention this issue in comit) I have tried to click around a little ... and no exception at all .. please test that
- I also reassign this, as I'm the responsible person for readOnlyContainer

[2013-11-23 10:11] tomas-knap commented on #740
Works fine, only I think it would be better to have each pipeline in one row, not as:

![screen shot 2013-11-23 at 11 09 53 am](https://f.cloud.github.com/assets/3014917/1606261/a84db710-5427-11e3-8f20-dff0e54fa0c0.png)

[2013-11-23 12:03] #737 closed, assigned to janvojt

[2013-11-23 12:10] janvojt opened #821 "Settings -> MyAccount: If I remove emails, save button is disabled"
Save button is enabled only after I edit text fields.

[2013-11-23 16:27] #774 closed, assigned to janvojt

[2013-11-23 17:42] #738 closed, assigned to janvojt

[2013-11-23 21:07] skodapetr commented on #740
Hups .. zapomněl jsem tag pro zalomení řádku .. už by mělo být fajn.

Jinak tvar emailu je sestaven "builderem" v backend.report .. tj. pokud by bylo třeba nějaké lepší struktury, barviček, textu .. není problém dodat a modifikovat.

[2013-11-24 10:29] janvojt opened #822 "Private / public pipeline in GUI"
1. add radio box in pipeline edit form to choose whether pipeline is public/private
   - default is private
   - once user saves pipeline as public radio box is grayed out, so pipeline cannot be set back to private (same as is with DPU templates).
2. If pipeline is being saved as public, all DPUs are set as public (this is already implemented in `PipelineFacade#save`). Before saving, if pipeline i

[2013-11-24 10:30] janvojt opened #823 "Public/private DPUs in DPUtree have different color"
DPU tree -> private a public filtrovani (checkbox mame, jen musi fungovat), barvicky - jina barva pro public a private

[2013-11-24 10:32] janvojt commented on #713
I created issues for Bohuslav to implement changes in GUI (#822 and #823). Everything else is done.

[2013-11-24 11:10] bogo777 commented on #818
Same as #814.

[2013-11-24 11:47] #758 closed, assigned to bogo777

[2013-11-24 12:15] #813 closed, assigned to bogo777

[2013-11-24 14:46] bogo777 commented on #822
I will add confirm dialog when there are private DPUs instead of notification, ok?

[2013-11-24 15:39] janvojt commented on #822
Yes, I meant a confirmation dialog, so user can still cancel.

[2013-11-25 08:11] tomas-knap opened #824 "Notifications for the scheduled events"
When clicking on scheduled event, notification tab, save ->

![screen shot 2013-11-25 at 9 09 21 am](https://f.cloud.github.com/assets/3014917/1611345/23f6354a-55a9-11e3-9d47-84bcf62333cf.png)

2013-11-25 09:09:09,311 [http-bio-8080-exec-280] DEBUG org.eclipse.persistence.logging.sql - 2013-11-25 09:09:09.31--ServerSession(362209224)--Connection(1994737194)--Thread(Thread[http-bio-8080-exec-280,5,

[2013-11-25 08:14] tomas-knap opened #825 "Notification settings on particular events should override default settings"
As a defalt settings, summary daily mails should be sent. This is fine. But I have also specified earlier that after executing pipeline INTLIB Decisions from nsoud.cz - Daily updates, I should also get immediate report. Howerver, such email is not sent from the time daily reports are supported.

[2013-11-25 08:31] bogo777 commented on #824
Cannot reproduce on latest version, which version is this? In latest version, SchedulePipeline.java:451 is line with comment.

[2013-11-25 08:56] #800 closed, assigned to bogo777

[2013-11-25 09:03] tomesj opened #826 "Could not open JPA EntityManager for transaction"
I can not run frontend on localhost - problem with EntityManager (EclipseLink)

![image](https://f.cloud.github.com/assets/3481055/1611587/17ceed1e-55b0-11e3-970d-43555a4c879a.png)

If is not for you, please re-assign it.

[2013-11-25 09:40] tomesj opened #827 "Not possible to see list pipeline"
When I log to ODCS and I can list pipelines, I get this error:
![image](https://f.cloud.github.com/assets/3481055/1611747/39051ecc-55b5-11e3-99b4-a05dd94a2843.png)

Others items like DPU TEMPLATE, EXECUTION MONITOR, ... works fine :-)

[2013-11-25 09:42] tomesj commented on #827
virtuoso.jdbc4.VirtuosoException: SQ200: No column visibility.
    at virtuoso.jdbc4.VirtuosoResultSet.process_result(Unknown Source) ~[jdbc-driver-4.jar:na]
    at virtuoso.jdbc4.VirtuosoResultSet.<init>(Unknown Source) ~[jdbc-driver-4.jar:na]
    at virtuoso.jdbc4.VirtuosoPreparedStatement.<init>(Unknown Source) ~[jdbc-driver-4.jar:na]
    at virtuoso.jdbc4.VirtuosoConnection.prepareStatement(Un

[2013-11-25 09:51] janvojt commented on #827
Sorry, I forgot to attach update SQL script for commit b7aec22c. Here it is:

[code]

[2013-11-25 09:51] #827 closed, assigned to janvojt

[2013-11-25 11:09] #649 closed, assigned to bogo777

[2013-11-25 11:15] bogo777 commented on #409
Start time is assigned by backend upon starting of execution. Scheduled executions which have not yet started don't have time assigned. With this, real duration of execution can be captured. Is it ok? Or should it be measured from the creation date of execution? Any difference for planned/scheduled executions?

[2013-11-25 12:42] bogo777 commented on #790
http://www.html5canvastutorials.com/kineticjs/html5-canvas-shape-caching-with-kineticjs/
Try shape caching for DPUs, maybe for edge labels.

One toolbar for DPUs.(Possibly not performance relevant)

[2013-11-25 12:47] bogo777 commented on #507
It is caused by incorrect address for images in javascript. I use var
basePath = "http://" + window.location.host + window.location.pathname;
to get domain dependent part of the path, but it apparently doesn't work with proxy.

[2013-11-25 12:49] bogo777 commented on #516
I do not know what caused/what is the problem?

[2013-11-25 13:05] tomas-knap commented on #507
Ok, but you can pass the correct address from the server to the browser, right? (javascript can see the address which is then translated to a different one, but app on tomcat can see the correct address)

[2013-11-25 13:06] tomas-knap commented on #516
Yes, not a well written issue, closing. cannot reproduce

[2013-11-25 13:06] #516 closed, assigned to bogo777

[2013-11-25 13:08] tomas-knap commented on #409
Ok, could be counted as a feature.

[2013-11-25 13:08] #409 closed, assigned to bogo777

[2013-11-25 13:10] tomas-knap commented on #824
It is the version from 22., but do not know the commit, will retest on the latest version

[2013-11-25 13:56] skodapetr commented on #826
Máš puštěné virtuoso?

Nicméně dle dalšího tvého issue (kde jsi měl potíž s updatem DB), se toto "vyřešilo" ?

[2013-11-25 14:57] #811 closed, assigned to bogo777

[2013-11-25 17:25] #821 closed, assigned to kukharm

[2013-11-25 17:49] tomas-knap commented on #816
Problem neni v tom, ze se da odebrat posledni email, ale v tom, ze kdyz mam save disabled a X emailu a jeden odeberu, tak je save stale disabled

[2013-11-25 19:25] skodapetr commented on #797
DPUs now can work with vaadin version 7.1.5 up to 8.0.0 (not included) .. so just change the version in pom.xml a and update version in commons.app - com.vaadin.packageList .. I reassign back to @bogo777 to end the migration

[2013-11-25 20:16] tomas-knap opened #828 "Canvas contains old mappings if the DU is renamed"
When data unit name is updated in DPU (was output but now it is renamed), it is not reflected on the canvas. But it is only realized when running the pipeline when the pipeline fails.

As a result the following situation may occur:

Canvas:

![screen shot 2013-11-25 at 9 11 32 pm](https://f.cloud.github.com/assets/3014917/1616572/ebbda1b2-560d-11e3-9036-4d6da40ea2a2.png)

But when clicking on Edge

[2013-11-25 20:31] tomesj commented on #542
Move SPARQL loader with its tests to SPARQL loader module :-)

[2013-11-25 21:07] tomas-knap opened #829 "1 day, 1 week instead of 1 days, 1weeks"
When rule of scheduled event contains number 1, then there should be singular of days, weeks etc. Create a special rule for that.

![screen shot 2013-11-25 at 10 04 57 pm](https://f.cloud.github.com/assets/3014917/1617006/5623a14e-5615-11e3-8ce1-a65068546f71.png)

[2013-11-25 21:59] #632 closed, assigned to bogo777

[2013-11-26 03:55] kukharm commented on #816
I fixed it in https://github.com/mff-uk/ODCS/issues/821. Now when i remove email save button is enable

[2013-11-26 08:24] tomas-knap commented on #821
So this is solved?

[2013-11-26 08:29] tomas-knap commented on #799
So that means to use N-Triples and RDF/XML

[2013-11-26 08:33] tomas-knap commented on #708
Jirko, please prepare ARES test pipeline in your local environment, use virtuoso as RDF store. Check that merging is ok. Take into account all the notes above (loading to your RDF stores, not to our repositories, copying cache from the server,..) Ask if something is not clear. This issue is tough, but important to be solved. We should find out why Virtuoso is freezing during merging

[2013-11-26 08:36] janvojt commented on #821
It is a duplicate of #816, I did not know about #816 when I was opening this issue.

[2013-11-26 08:36] tomas-knap commented on #828
Bohuslav please propose the solution here, we will discus that tomorrow

[2013-11-26 08:37] tomas-knap commented on #790
Bohuslav, so would you sugest to try caching when other normal prio bugs are done?

[2013-11-26 08:37] tomas-knap commented on #769
Bohuslav, can you please comment this? do you need any more info from Honza?

[2013-11-26 08:38] tomas-knap commented on #706
Currently such problem is reported when the pipeline is run.

[2013-11-26 08:39] tomas-knap commented on #706
Which is fine. ALternatively, we could provide "validate" button next to save, close on the pipeline edit. Such validate button can check in the future various aspects.

[2013-11-26 08:43] tomas-knap commented on #302
Jirka, just to add, you can also use predicate URI (call describe on predicate URI) , but such URI will typically not be involved in the data unit itself, so DESCRIBE will not return any data

[2013-11-26 08:47] tomas-knap commented on #547
Bohuslav, in general, it happens that when there is an error in gui (like #545 for example), then GUI is behaving strange and reload in the browser or even reload of the app on the server is needed. Do you have any explanation for that?

[2013-11-26 08:47] tomas-knap commented on #543
I know we were discussing that, is that easy to be implemented?

[2013-11-26 09:17] kukharm opened #830 "Canvas view bug"
![bug](https://f.cloud.github.com/assets/3471169/1620617/8e9fbe34-567b-11e3-938e-e211d5ab9e21.jpg)

Tested on commit 479250022fe244d452f14fb20f14d431fd3129d6
Author: bogo777 bogo777@gmail.com 2013-11-25 22:59:20
Committer: bogo777 bogo777@gmail.com 2013-11-25 22:59:20
Parent: 706ce7b75aa34b71b5b4ad26f7921afabcd265a2 (Merge branch 'master' of git@github.com:mff-uk/intlib.git)
Branches: master, orig

[2013-11-26 09:33] kukharm opened #831 "prazdna DBpedia"
on commit 479250022fe244d452f14fb20f14d431fd3129d6
Author: bogo777 bogo777@gmail.com 2013-11-25 22:59:20
Committer: bogo777 bogo777@gmail.com 2013-11-25 22:59:20
Parent: 706ce7b75aa34b71b5b4ad26f7921afabcd265a2 (Merge branch 'master' of git@github.com:mff-uk/intlib.git)
Branches: master, origin/HEAD, origin/master

i open DBpedia pipeline and it is empty.

[2013-11-26 11:30] tomas-knap commented on #486
Jirko, jeste prosim otestuj jednu vec: Vypni databazi do ktere se ma loadovat. Spust pipeline s loaderem do te db. Zkontroluj, ze loader se i tak snazi o pripojeni. Pak zapni db. A napis jak to dopadlo. Udelej tohle prosim prioritne pred vsemi jinymi issues

[2013-11-26 15:56] tomesj commented on #608
Add needed inputs, try using in pipelines, add validation to dialog for this DPU- solved and prepare for testing and close.

[2013-11-26 16:09] tomas-knap opened #832 "SPARQL Loader Test Context"
Vyhodit this.context = new TestContext();

Pockej, ale takove nastaveni nemuze byt v produkcnim kodu!! Pouzij TestEnvironment co pripravil Petr. Viz tutorial [1] a nebo se inspiruj u testu na SPARQL transformer. Tohle jeste oprav prosim vsude, zakladam na to issue

Zkontroluj ze nic podobneho se nevyskytuje ani u jineho DPU

[1] http://www.ksi.mff.cuni.cz/~knap/odcs/practice.html

[2013-11-26 16:13] tomas-knap opened #833 "Better suggestion of what is missing in the bundle"
[11/26/13 5:11:51 PM] p.e.t.y.r: ale DPU chec A .. máš knihovnu co poskytuje A ale chce B
[11/26/13 5:11:54 PM] p.e.t.y.r: pokud nemáš B
[11/26/13 5:12:00 PM] p.e.t.y.r: tak DPU správně řekně . není A
[11/26/13 5:12:07 PM] p.e.t.y.r: ale už ti neřekne, že proto že není B .. atd

[2013-11-26 16:17] skodapetr commented on #832
Možná bych se ještě připojil s dotazel na SPARQL loader testy .. neb mám virtuoso .. na 5111 .. a tedy to nepřeložím, což nevím zda je dobře?

Nemělo by to být integračním testem? Myslím, že jsme to již jednou řešili .. i se na to někdo externě ptal .. proč mu to nejde přeložit a potom Honza jako řešení právě přidal tu integration-test anotaci.

[2013-11-26 16:36] tomesj commented on #799
Format in comboboxes are solved. Prepare to close.

[2013-11-26 17:01] tomesj commented on #832
Vyřešeno
- poradil jsem si přes v rámci testování přes TestEnvironment.
- Nikde v kódu už se to nepoužívá, toto bylo odstraněno.
- Původní contructor pro testy jsem předělal na druhý (alternativní) contructor pro DPU s default nastavením.
- udělal jsem testy jako integrační

[2013-11-26 18:10] skodapetr opened #834 "SPARQLTest"
Aniž bych něco měnil dostal jsem ..

nejsem si zrovna jistý věcmi jako

[code]

neb v inputs může být klidně null .. což ukazuje podle mě selhání následujícího testu. Přehlížím něco, nebo jen test nezafungoval .. když se toto implementovalo?

[code]

[2013-11-26 18:24] tomesj commented on #834
Aha...Už to vidím, bral jsem to tak, že všechny vstupy jsou vždy inicializované, jen jsou prázdné, pokud do toho nic nejde - a oni jsou rovnou null. Tak to je potom jasné.

Přilepím opravu a zavírám (jinak díky za upozornění).

[2013-11-26 18:26] #834 closed, assigned to tomesj

[2013-11-26 18:41] #830 closed, assigned to bogo777

[2013-11-26 18:49] bogo777 commented on #831
It is because DBpedia doesn't have visibility set in db. Please update it by:

UPDATE "PPL_MODEL"
SET visibility = 1
WHERE id = 1

I also changed it in data.sql

[2013-11-26 18:49] #831 closed, assigned to bogo777

[2013-11-26 19:45] #797 closed, assigned to bogo777

[2013-11-26 20:33] tomesj commented on #414
All described TODOs solved.

[2013-11-26 22:45] tomesj commented on #297
Add page for CSV extractor (with mockup):
https://grips.semantic-web.at/display/LOD2/DPU+-+CSV+extractor

[2013-11-27 07:45] kukharm opened #835 "RDF File Extractor"
I think that in RDF File Extractor is some conflict of parameters.
What should application do if user select at ones
- Extract files based on the path to the directory - stop if some file cause error
  on the Core tab and
  - Extract only triples with no errors.
    on the Details tab ?
    Should pipeline stops or extracted triples with no error? (Now it stops)

The same in case of combination
-E

[2013-11-27 08:20] kukharm opened #836 "SPARQL Extractor"
Is it Ok that i can save SPARQL Extractor without any settings?

[2013-11-27 08:39] kukharm opened #837 "testing SPARQL Extractor/Loader"
I need some
SPARQL endpoint:
Named Graph:
with error triples and with no triple extracted for testing SPARQL Extractor/Loader

Could you please write down some of that.

[2013-11-27 08:45] #786 closed, assigned to bogo777

[2013-11-27 08:56] bogo777 commented on #769
It is common problem in our application. If exception occurs during initialization of component/view/etc. it is in invalid state, but it's not null, so next time it is used as if it was already initialized.

Proposed solution 1:
Identify places when components which are re-used are initialized and surround them with try-catch block. If exception occurs, reset the component as if it was not yet ini

[2013-11-27 08:58] kukharm commented on #837
Also for testing  SPARQL Loader i use
-SPARQL endpoint  http://localhost:8890/sparql-auth
-Named Graph  http://goal, http://myName, http://XXX

but get error in execution: DPU 'SPARQL Loader' publish message short: 'HTTP/1.1 401 Unauthorized. Your USERNAME and PASSWORD for connection is wrong. URL endpoint: http://localhost:8890/sparql-auth POST content: default-graph-uri=&query=CLEAR+GRAPH+%3Chtt

[2013-11-27 09:19] kukharm commented on #806
https://grips.semantic-web.at/display/LOD2/Testing

[2013-11-27 09:53] bogo777 commented on #828
If the mapping is no longer valid, remove it from the mappings.

If there is no mapping, color edge red.(Standard behaviour.)

[2013-11-27 09:54] bogo777 commented on #790
Yes, I would try caching DPUs as images.

[2013-11-27 10:01] kukharm opened #838 "email settings messages with wrong email format"
If i try to save error format of email in Settings i get messages about error and "emails settings were saving" together

[2013-11-27 10:12] kukharm opened #839 "Confirmation window bug"
I open DPU templates section and select some standard DPU template in the tree. After that i get 6 times dialog (i have 6 standard DPU i think it is the reason) about unsaved changes before that DPU opens.

[2013-11-27 10:25] kukharm opened #840 "Pipeline exception"
I edit DBpedia pipeline, i delete sparql extractor and add file extractor to canvas. then try to save. After that i get exception

![pipe](https://f.cloud.github.com/assets/3471169/1630569/343de0d2-574e-11e3-8a0a-dcb41484e218.jpg)

java.lang.IllegalArgumentException: Object: null is not a known entity type.
    at org.eclipse.persistence.internal.jpa.EntityManagerImpl.remove(EntityManagerImpl.java

[2013-11-27 10:36] kukharm commented on #805
https://grips.semantic-web.at/display/LOD2/Testing

[2013-11-27 13:34] skodapetr commented on #826
@tomesj Jaký je aktuální stav? pořád to trvá? nebo to přešlo?

[2013-11-27 13:36] tomas-knap commented on #828
So you will check the validity of mappings when opening pipeline canvas?

[2013-11-27 13:38] tomas-knap commented on #828
Napis Petrovi, he will discuss that with you

[2013-11-27 13:41] tomas-knap opened #841 "User should know if the DPU is configured correctly (all mandatory fields are satisfied)"
Motivation - DPU is placed on canvas, could have some fields not prepared
DPU may change its configuration

To detect whether validation is ok, should we use:
- validator in the DPU dialog (used when saving configuration)?
- isValid method on DPU Config object?

[2013-11-27 13:42] tomas-knap commented on #809
Is this happening still? According to Petr, it should be solved already

[2013-11-27 13:44] tomas-knap commented on #808
new icon is needed

[2013-11-27 13:45] tomas-knap commented on #807
Please check that our container is used everywhere

[2013-11-27 13:45] #807 closed, assigned to skodapetr

[2013-11-27 13:52] tomas-knap commented on #747
Why does it appear when pipeline is copied and not when it is saved/reopened?

[2013-11-27 13:52] tomas-knap commented on #747
What is the diff when copy is created?

[2013-11-27 13:53] tomesj commented on #826
Měnil jsem si DB a od té doby už se mi to neukázalo :-)

[2013-11-27 14:00] tomas-knap commented on #741
Problem is that last execution is user dependant? May be different for different users

[2013-11-27 14:00] tomas-knap commented on #741
Using DB View brings less queries executed by the container

[2013-11-27 14:01] tomas-knap commented on #734
Should I test that?

[2013-11-27 14:10] tomas-knap opened #842 "Cookie for automatic login"

[2013-11-27 14:10] tomas-knap opened #843 "What is shown under last exec columns? getLastExecution?"
should last exec respect pipeline owner or logged user?

context. getLastExecution() - what is the result? Add method getLastGlobalExecution()?

Sepsat strucne, marie pak da do user doc

[2013-11-27 14:31] bogo777 commented on #809
This should be already solved by automatic refresh of pipeline list from monday.

[2013-11-27 14:36] bogo777 commented on #734
It is ready for testing.

[2013-11-27 15:00] tomesj commented on #837
For SPARQL endpoint for update http://localhost:8890/sparql-auth
you have to set USERNAME and PASSWORD...Default setting is for these are "dba" "dba".

[2013-11-27 15:01] #840 closed, assigned to bogo777

[2013-11-27 15:10] tomesj commented on #836
I think, that is OK
- there are only mantatory SPARQL endpoint (must start with http://),
  - if named graphs are empty - is used default graph on that endpoint
  - if SPARQL construct query s empty - is used default query like "CONSTRUCT {?x ?y ?z} WHERE {?x ?y ?z}".

[2013-11-27 15:24] janvojt commented on #747
Because the copied string is invalid. I need to try to log the byte array and see what encoding is actually used. Although it should not matter, you should get what you typed in...
Byte array is copied with simple clone(), so I assume it is messed up somewhere in JDBC or in Virtuoso. However I could not get the sources of Virtuoso JDBC to match the compiled code, so I cannot debug inside JDBC.

Ac

[2013-11-27 15:28] janvojt commented on #842
I suggest a checkbox "Remember me", unchecked by default. If checked during login, cookie is saved with lifetime of 14 days. OK?

[2013-11-27 15:44] tomesj commented on #486
Pokouší se o připojení, ale jakmile obnovím databázi - pustím virtuoso, tak to celé spadne.
Něco mě napadlo - kdyžtak to pak probereme :-)

[2013-11-27 16:15] #799 closed, assigned to tomesj

[2013-11-27 16:22] #414 closed, assigned to tomesj

[2013-11-27 16:26] tomas-knap opened #844 "Stack trace is shown for known errors"
![screen shot 2013-11-27 at 5 24 52 pm](https://f.cloud.github.com/assets/3014917/1632967/7d582a98-5780-11e3-8d77-dc6ab9bf60b2.png)

[2013-11-27 16:30] tomas-knap opened #845 "Canvas - labels for the edges appear after moving target DPU"
Try to create edge to SPARQL transformer, it is red. When new mapping is selected in the dialog, confirmed, only black edge appears, but with no label.
![screen shot 2013-11-27 at 5 28 04 pm](https://f.cloud.github.com/assets/3014917/1633016/fea05ad0-5780-11e3-8e3e-8a271eb393e9.png)

When moving the SPARQL transformer DPU a bit, it appears:

![screen shot 2013-11-27 at 5 28 10 pm](https://f.cloud.

[2013-11-27 16:34] tomas-knap opened #846 "Problem when trying to debug from canvas (appear only sometimes)"
Created pipeline with 3 DPU, saved, run debug from canvas and this appears:

![screen shot 2013-11-27 at 5 32 28 pm](https://f.cloud.github.com/assets/3014917/1633060/a35c6a0a-5781-11e3-893a-3d86ae53c828.png)

2013-11-27 17:32:28,341 [http-bio-8080-exec-292] ERROR cz.cuni.mff.xrg.odcs.frontend.AppEntry - Uncaught exception
java.lang.IllegalArgumentException: Object: null is not a known entity type

[2013-11-27 16:37] tomas-knap opened #847 "Browse/Query dialog not working properly"
Based on the release from this afternoon, when using browse/query, trying to select a different data unit, shortly after that, it swaps to the default one. Also when clicking on browse, data are shown only for short period of time and erased again.

[2013-11-27 16:38] #608 closed, assigned to tomesj

[2013-11-27 16:49] tomas-knap commented on #835
Leave only one option - Extract files from directory.

Add choice below "If directory....", which is radio button group:
- when there is a problem parsing a file, it is skipped
- when there is a problem parsing a file, extraction ends with error

[2013-11-27 16:50] tomas-knap commented on #832
remove dependency from OSGI Module config and then close

[2013-11-27 16:54] tomas-knap opened #848 "Grouping controls in SPARQL loader details tab"
Now the SPARQL Loader configuration dialog on details tab looks like:
![screen shot 2013-11-27 at 5 21 15 pm](https://f.cloud.github.com/assets/3014917/1633202/1cda15f6-5784-11e3-85ce-4480631fe41d.png)

WHich is a bit confusing.
Please group certain settings via a Panel together. You should group it as shown below:

One group:
![screen shot 2013-11-27 at 5 21 36 pm](https://f.cloud.github.com/asse

[2013-11-27 16:56] #542 closed, assigned to tomesj

[2013-11-27 17:01] bogo777 commented on #302
Should the URIs in table be styled somehow? (To look like link? Underline and blue?)

[2013-11-27 17:01] tomas-knap commented on #708
Jirko, zkus nasadit u Honzy a pustit tam, domluv s honzou

[2013-11-27 17:03] bogo777 commented on #846
Should be solved by 5a7cffb64945de60bd0e09dc31d669a743d5d86c

[2013-11-27 17:05] tomas-knap commented on #708
Cache: /data/odcs/backend/working/user/admin/Extractor_ares/cache/wwwinfo.mfcr.cz/cgi-bin/ares/*

[2013-11-27 17:05] #354 closed, assigned to tomesj

[2013-11-27 17:08] bogo777 commented on #847
Were you using DESCRIBE?(Clicking on the result table cells)

There is a bug, which causes DESCRIBE to be called multiple times, I will push fix shortly.

If not, is it easily reproducible? Which data/pipeline?

[2013-11-27 17:15] bogo777 commented on #845
Is it recent version of frontend? Which browser? Works fine for me in Chrome, IE.

[2013-11-27 17:15] tomas-knap commented on #297
- ZKusit pouzit tool, vzit nejake CSV, zadefinovat prevod a ziskat RDF
- Upravit mockup dle predchoziho bodu, aby se to dalo konfigurovat
- Uhanet marii aby udelala dialog
- Pripravit DPU, Zkusit naimplementovat metodu execute(), config, ale bez dialogu.

[2013-11-27 17:18] tomas-knap opened #849 "Hide public attributes in core DPUs"
- Hide public attributes in core DPUs
- constructor implicit
- set values in constructor if it is possible

[2013-11-27 17:19] bogo777 commented on #273
simple functionality: When trying to delete pipeline, it cannot be deleted (dialog is shown) if it is currently running (in the status QUEUED or RUNNING).

This is done.

[2013-11-27 17:25] tomas-knap commented on #847
No, I was not able to click on any data, the resulting data appears only for 1/2s or so.

[2013-11-27 17:28] tomas-knap commented on #847
Pipeline "test" na odcs. Pozor nemam tam spravne nastavenou visibility pro dpus, takze kdyz kliknes na pipeline, tak se nezobrazi nic

Pust si v debugu, jdi na browse, prepni selected dpu na prazdne, pak znovu sparql transformer. zkus preponout na output z inputu - v ten moment mi to skoci zpet. Kdyz tam necham input, dam browse, tak se data zobrazi jen na moment

[2013-11-27 18:05] bogo777 commented on #847
Found the problem, Petr changed refreshing for debug data and it continued to run after pipeline was finished and caused this to happen.

[2013-11-27 18:06] #847 closed, assigned to bogo777

[2013-11-27 23:26] janvojt commented on #381
I do not remember how exactly was this simulated. I tried removing some columns from `usr_user` table, but SQLException is shown, which is correct. I suppose it is already resolved then?

![screenshot from 2013-11-28 00 24 26](https://f.cloud.github.com/assets/2247062/1635905/5f8f41a0-57bb-11e3-8833-85eb88b3a471.png)

[2013-11-28 08:17] #381 closed, assigned to bogo777

[2013-11-28 09:45] janvojt opened #850 "Long schedule description causes table to go outside of display area."
We should cut text longer than x characters in table and append ... .
This problem will probably occur at several places (pipeline description, ...).

![screenshot](https://f.cloud.github.com/assets/2247062/1638694/e851a2de-5811-11e3-856d-444850d87c7e.png)

[2013-11-28 10:02] tomas-knap commented on #832
nicmene jako integracni by mely byt jen ty testy, u kterych je to opravdu nutne

[2013-11-28 10:03] tomas-knap commented on #778
Should be ok, if the settings for temp dir are correct

[2013-11-28 10:03] #778 closed, assigned to kukharm

[2013-11-28 10:29] tomas-knap commented on #486
Jirko, jeste k tomu dialogu:

![screen shot 2013-11-28 at 11 26 23 am](https://f.cloud.github.com/assets/3014917/1639016/c57b37f6-5817-11e3-91de-afcffdb18173.png)

Automaticky nastav, ze defaultne ceka 1000ms. To nesmi byt mandatory.
Taky to uprav tak, ze kdyz da 0 do number tries, tak to proste znovu nezkusi a rovnou skonci. Az kdyz da uzivatel -1, tak to zkousi porad.

[2013-11-28 10:36] tomesj commented on #486
Aktuálně je tam defaultně nastaveno -1 a 1000.
Musíš mít aktuální DB (configuraci obohacenou tímto nastavením - skript jsem posílal). Pokud to nemáš, je tam asi automaticky nastaveno 0,0. To bude asi i u DPU, které už se někde používají, s tím já asi nic neudělám - u nových už by to mělo být jak jsem psal - tedy defaultně -1 (nekonečno) a 1000ms.

Přidám tedy to, že když je to 0, tak se nic nezkou

[2013-11-28 10:44] tomas-knap opened #851 "If DB is down and ODCLeanStore gui is accessed"
If DB is down and I access the main page of the tool, I got:

![screen shot 2013-11-28 at 11 06 51 am](https://f.cloud.github.com/assets/3014917/1639116/f5944692-5819-11e3-8687-428baaaf3e43.png)

[2013-11-28 11:35] tomas-knap commented on #486
OK

[2013-11-28 11:55] tomas-knap opened #852 "Rename DPU tree label"
![screen shot 2013-11-28 at 12 54 20 pm](https://f.cloud.github.com/assets/3014917/1639576/dab0b48c-5823-11e3-8eae-7603a425c0b5.png)

Rename Only my DPU Templates to "Only private DPU templates"

[2013-11-28 11:55] tomas-knap commented on #852
Also the color for the text "Only private DPU templates" should be blue

[2013-11-28 11:58] tomas-knap opened #853 "Cannot save pipeline"
I created pipeline with one DPU, set name "xx" and try to save the pipeline, error occurs:

![screen shot 2013-11-28 at 12 56 49 pm](https://f.cloud.github.com/assets/3014917/1639586/3910204e-5824-11e3-8d15-1c16e9276c35.png)

I tried also with a different name

The error should not occur, name is set

[2013-11-28 11:59] tomas-knap commented on #853
But when reloading the app, it does not happen again

[2013-11-28 12:05] tomas-knap commented on #853
Nothing suspicious in the log

[2013-11-28 12:13] tomas-knap commented on #836
Well at least SPARQL endpoint is mandatory, Jirka, check that.

[2013-11-28 12:15] tomas-knap commented on #838
So even if there is an error (wrong format of mail), it is saved?

[2013-11-28 12:16] tomas-knap commented on #839
See https://grips.semantic-web.at/display/LOD2/Testing

[2013-11-28 12:22] #816 closed, assigned to kukharm

[2013-11-28 12:23] #806 closed, assigned to kukharm

[2013-11-28 12:23] #805 closed, assigned to kukharm

[2013-11-28 12:25] #258 closed, assigned to kukharm

[2013-11-28 12:35] tomas-knap opened #854 "When launching pipeline, problem with logging facade"
There is a warn regarding logging and then the pipeline remains in the status running.

Two problems:
- with the logging
- it is strange that pipeline do not finish with error

Tested on commit

commit 9de0c763fd12483e92b96f88fb41d256fedf4fba
Author: bogo777 bogo777@gmail.com
Date:   Thu Nov 28 09:30:32 2013 +0100

2013-11-28 13:33:19,682 [pool-2-thread-2] INFO  exec:573 dpu: c.c.m.x.o.b.p.e.Pipel

[2013-11-28 12:37] tomas-knap commented on #854
Did not appear on the commit from yesterday

[2013-11-28 12:38] tomas-knap commented on #845
Safari Version 6.0.3 (8536.28.10) :)

[2013-11-28 12:42] tomas-knap commented on #273
Please add warning if the pipeline being delete is schedulled, show something like " Pipeline XX is schedulled by user YY. Delete anyway? " If the user clicks yes, pipeline is deleted and apart from other things, all scheduled event  of that pipeline are deleted.

[2013-11-28 12:43] tomas-knap commented on #302
Well, it should be highlighted as a link, so that it is obvious you can click on that. The link should have a different color, but I would not underline the link, that could be quite awful, because there will be lots of links in the table

[2013-11-28 12:44] tomas-knap commented on #842
ok, I would save it even longer

[2013-11-28 12:47] tomas-knap commented on #819
-1 - infinitive number of repeats
0 no repeat

Then you can close

[2013-11-28 12:54] #227 closed, assigned to tomesj

[2013-11-28 12:59] tomas-knap commented on #642
Another solution would be NOT to automatically try to reconnect when there is a problem but force user to reload the app

[2013-11-28 13:00] tomas-knap commented on #508
cannot be reproduced

[2013-11-28 13:00] #508 closed, assigned to bogo777

[2013-11-28 13:01] #823 closed, assigned to bogo777

[2013-11-28 13:05] tomas-knap commented on #822
Adjust the notification:
![screen shot 2013-11-28 at 2 02 26 pm](https://f.cloud.github.com/assets/3014917/1639956/7c689b38-582d-11e3-835a-85657b35b65c.png)

To:
".. will cause all DPU templates, the pipeline is using, to become public. When they become public, they cannot be reverted to private."

[2013-11-28 13:05] tomas-knap commented on #822
Then close

[2013-11-28 13:05] #818 closed, assigned to bogo777

[2013-11-28 13:10] #734 closed, assigned to bogo777

[2013-11-28 13:13] #456 closed, assigned to bogo777

[2013-11-28 13:15] #824 closed, assigned to bogo777

[2013-11-28 13:16] #477 closed, assigned to bogo777

[2013-11-28 13:20] tomas-knap commented on #769
Well, if there is an exception which then causes the component to be in invalid state, it could also set the component again to null, right? and then should be inicialized again.

Or simply always inicialize it. (which may have inpact on the time needed to show the components/dialogs).

So I would go for the first solution.

petr also had some solution, discuss also with him

[2013-11-28 13:22] tomas-knap commented on #853
tried with the latest version and cannot reproduce

[2013-11-28 13:22] #853 closed, assigned to bogo777

[2013-11-28 13:30] tomesj commented on #836
Yes, SPARQL endpoint is mandatory - have to starts with prefix http://

[2013-11-28 13:30] tomas-knap opened #855 "Test how the private/public pipeline works"
Look at https://github.com/mff-uk/ODCS/issues/713, where it is described how it should work.

Test then the following:
- create a pipeline under user x
- user x runs the private pipeline. Check that user y cannot see the execution record.
- log as user y. You should not be able to see private pipeline. Log as user x, publish pipeline, check that user y can see it.
- check that when publishing pipe

[2013-11-28 13:31] #713 closed, assigned to janvojt

[2013-11-28 13:31] tomesj commented on #837
Use previous described USERNAME and PASSWORD - it could be fine :-)

[2013-11-28 13:31] #837 closed, assigned to tomesj

[2013-11-28 13:37] kukharm commented on #838
Save message appear always after pressing save button. It need to add condition that in case of error saving do not show message about successful saving

[2013-11-28 13:39] #832 closed, assigned to tomesj

[2013-11-28 13:43] kukharm commented on #836
But in sparql endpoint field is default string  "http://" so that is why there is no error that mandatory field is empty, but i can save DPU with sparql endpoint "http://". It's correct?

[2013-11-28 13:46] #302 closed, assigned to bogo777

[2013-11-28 13:46] #822 closed, assigned to bogo777

[2013-11-28 14:05] #273 closed, assigned to bogo777

[2013-11-28 14:27] #789 closed, assigned to skodapetr

[2013-11-28 14:27] #814 closed, assigned to skodapetr

[2013-11-28 14:33] tomesj commented on #836
We are not responsible that enpoint http:// dont exist. User must specify right URL enpoint path - this is only check,that this URL starts with this prefix :-) What else do you want to check (use as default) ?

[2013-11-28 14:52] kukharm commented on #836
we may check the format of URL address by some regular expression

[2013-11-28 15:34] tomesj commented on #836
That´s right - but is some rule to descibe this ? And is necessary to solve this ?
@tomas-knap add please your opinion to our discussion.

[2013-11-28 16:02] tomas-knap commented on #854
![screen shot 2013-11-28 at 3 44 19 pm](https://f.cloud.github.com/assets/3014917/1640519/9660282c-583b-11e3-9adc-cb3131fd3f35.png)

[2013-11-28 16:02] tomesj opened #856 "Query/Browse - problem when select query"
When I debug pipeline, go to Query/Browse, select DPU and input...When I write query like
SELECT ?s WHERE {?s ?p ?o}
I get "INTERNAL ERROR - click to continue" and no expected resutl.

See
![image](https://f.cloud.github.com/assets/3481055/1640941/44946a66-5846-11e3-950d-0c53adb871ee.png)

[2013-11-28 16:02] tomas-knap commented on #854
2013-11-28 16:57:16,990 [taskScheduler-3] ERROR exec:572 dpu: o.s.s.s.TaskUtils$LoggingErrorHandler - Unexpected error occurred in scheduled task.
org.springframework.transaction.TransactionSystemException: Could not commit JPA transaction; nested exception is javax.persistence.RollbackException: Exception [EclipseLink-4002](Eclipse Persistence Services - 2.5.1.v20130918-f2b9fc5): org.eclipse.pers

[2013-11-28 16:04] tomas-knap commented on #854
non-unique primary key again, relates to #763 #643

[2013-11-28 16:11] tomesj commented on #835
Solved and prepared to close :-)

[2013-11-28 16:12] #835 closed, assigned to tomesj

[2013-11-28 21:01] #856 closed, assigned to bogo777

[2013-11-28 21:06] janvojt commented on #678
This is not the original problem in the issue, but a duplicate of #624. It is quite clear, because issue reported a problem with RDF database (broken pipe), but this comment is talking about relational database (tx rolled back).

Please test the original problem reported (or close).

[2013-11-28 23:34] tomesj commented on #849
Problem solved :-)

[2013-11-29 09:49] #839 closed, assigned to bogo777

[2013-11-29 09:53] bogo777 commented on #507
http://odcs.xrg.cz/ works for me, canvas included.

[2013-11-29 12:50] bogo777 commented on #790
Found and applied another tip: Use batchDraw() method, which limits number of redraws per second. Dragging is not so smooth, but it's usable in Firefox now.

I will also try to update version of KineticJS.

Caching DPUs as images is little tricky, so I am postponing that.

[2013-11-29 13:01] #828 closed, assigned to bogo777

[2013-11-29 13:55] bogo777 commented on #547
Similar problem to #769. Should be solved by same solution.

[2013-11-29 16:23] tomas-knap opened #857 "Tabs in settings dialog - oversized?"
![screen shot 2013-11-29 at 5 22 54 pm](https://f.cloud.github.com/assets/3014917/1646128/95cc6650-5912-11e3-9d61-be71d93c6bb3.png)

![screen shot 2013-11-29 at 5 22 41 pm](https://f.cloud.github.com/assets/3014917/1646129/98d21e08-5912-11e3-90ca-50bfeb2a1b01.png)

[2013-11-29 16:26] tomas-knap commented on #507
I have a problem, but only in Safari, related to #790

[2013-11-29 16:26] tomas-knap commented on #507
Problem only in Safari

[2013-11-29 16:29] #849 closed, assigned to tomesj

[2013-11-29 16:33] #678 closed, assigned to janvojt

[2013-11-29 17:38] #846 closed, assigned to bogo777

[2013-11-29 17:38] #760 closed, assigned to skodapetr

[2013-11-29 17:40] #740 closed, assigned to skodapetr

[2013-11-29 17:41] tomas-knap commented on #836
I think it is fine to just check that some string starting with http:// is there

[2013-11-29 17:41] #836 closed, assigned to tomesj

[2013-11-29 17:41] tomas-knap commented on #819
This is ready?

[2013-11-29 17:42] #812 closed, assigned to skodapetr

[2013-11-29 17:42] skodapetr commented on #826
Ok, tedy v reakci ..

[2013-11-29 17:42] #826 closed, assigned to skodapetr

[2013-11-29 17:45] tomas-knap commented on #624
Honzo, zkusim. Jak funguje ten @Order(1)? Resp. jaka je myslenka te upravy?

[2013-11-29 17:45] #733 closed, assigned to skodapetr

[2013-11-29 17:46] #809 closed, assigned to bogo777

[2013-11-29 17:48] tomas-knap commented on #854
Duplicates #763 #643

[2013-11-29 17:48] #854 closed, assigned to janvojt

[2013-11-29 17:59] tomas-knap commented on #319
logs are pruned automatically

[2013-11-29 17:59] #319 closed, assigned to tomas-knap

[2013-11-29 18:00] #857 closed, assigned to bogo777

[2013-11-29 18:19] bogo777 commented on #543
User can set number of rows in execution table in settings and height of the split is computed in a way, that there are no unnecessary scrollbars.

[2013-11-29 18:20] skodapetr commented on #625
Nove je pridano take davkove pridavani logu do databaze, tedy je treba nasadit na ODCS a otestovat za realneho rezimu.

[2013-11-29 18:20] #543 closed, assigned to bogo777

[2013-11-30 11:44] tomesj commented on #819
It´s ready and prepared for close

[2013-11-30 14:32] jakubklimek opened #858 "Add constant URIs for xmlValue etc. to ODCS"
URIs for e.g., xmlValue are constants that we agreed on to be the same for all DPUs. They should therefore be constants present in ODCS.

[2013-11-30 20:40] tomesj commented on #356
Create separated class SPARQL extractor in SPARQL extractor module
- move here all method add/extractFromSPARLEndpoint.
- methods remove from interfaces RDFDataUnit, RDFDataUnitHelper
- implementation of methods remove from BaseRDFRepo
- create separated test in class SPARQLExtractorTest

Prepare to close :-)

[2013-11-30 22:31] janvojt commented on #624
Je to poradie, v ktorom AspectJ pusta aspekty. Nastavil som to na 1 preto, aby sa aspekt odchytavajuci vynimku (pre offline db) spustal pred aspektom na zacatie transakcie.

[2013-11-30 22:39] tomesj commented on #598
K mazání grafů Virtuosa
- přidána obsluha události k tlačítku pro mazání grafů aplikace v položce Settings
- po kliknutí smaže všechny grafy používané v aplikaci.
- dá výslednou zprávu o tom jak to dopadlo v podobě notifikace
- funkcionalia též úspěšně otestována

Hotovo a připraveno zavřít :-)

[2013-11-30 22:44] tomesj commented on #330
I think, that this issue is not actuall yet and could be closed :-)

[2013-11-30 22:58] janvojt commented on #763
To resolve run [queries for updating sequences](https://github.com/mff-uk/ODCS/blob/cc20bdea5156e809a06540b95f97091e1f97eeaa/db/virtuoso/rdbms/data.sql#L102). I explained how this problem happens at the meeting. I fear that there will be no elegant way to get around this.

It is not strange, because user email is saved in this table.

[2013-12-01 07:30] kukharm commented on #829
Closed by commit https://github.com/mff-uk/ODCS/commit/0211bc7958efcf79c9e94afb5c0fcbad35d17c83

[2013-12-01 07:30] #829 closed, assigned to kukharm

[2013-12-01 07:41] #838 closed, assigned to kukharm

[2013-12-01 08:04] #810 closed, assigned to kukharm

[2013-12-01 08:09] #766 closed, assigned to kukharm

[2013-12-01 15:09] #851 closed, assigned to janvojt

[2013-12-01 21:38] kukharm commented on #770
changes need to pre-clear the browser cache

[2013-12-01 21:56] #852 closed, assigned to kukharm

[2013-12-01 22:32] kukharm commented on #848
changes need to pre-clear the browser cache and reinstall SPARQL loader

[2013-12-02 05:53] kukharm commented on #855
tested on commit 812825382269de14969d2e9bd72230ff71a8e132
Author: Maria Kukhar mari.kukhar@gmail.com 2013-12-01 23:30:07
Committer: Maria Kukhar mari.kukhar@gmail.com 2013-12-01 23:30:07
Parent: bd3374d7d43730ad95b473a9605b7fba665cc61a (Changing the text color of checkbox. Closed #852)
Branches: master, origin/HEAD, origin/master

"Log as user x, publish pipeline, check that user y can see it."
Us

[2013-12-02 05:54] kukharm opened #859 "delete public pipeline bug"
I check scenario:
"log as y. Try to delete pipeline create by x, which should work. Log as x, there should not be any pipeline because it was deleted."

Delete don't work (user y have only User role). I press delete button appear confirmation window, i confirm deleting and nothing happens.

[2013-12-02 05:57] kukharm opened #860 "visibility of publish pipeline in scheduler"
I check scenario:
"Log as user x, publish pipeline, check that user y can see it."

User y see published pipeline in Pipelines section but do not see it in the "Schedule a pipeline" dialog in Scheduler section. When user y open "Schedule a pipeline" dialog by "Schedule" button in Pipelines section he can see it.

[2013-12-02 07:41] bogo777 commented on #547
Outdated, DPUTree is now initialized in enter() method.(Called each access through menu/directly by URL/browser refresh)

[2013-12-02 07:41] #547 closed, assigned to bogo777

[2013-12-02 11:39] tomas-knap opened #861 "Problem with private DPU templates"
![screen shot 2013-12-02 at 12 37 13 pm](https://f.cloud.github.com/assets/3014917/1654191/2441006e-5b46-11e3-99d1-1e316a86a362.png)

It is confusing, that user cannot create DPU because of the name clash, but he cannot see the conflicting DPU.

Please propose the solution.

[2013-12-02 11:42] skodapetr commented on #861
Related to #855, the problem is not only with DPUs but also with pipelines

[2013-12-02 11:43] tomas-knap opened #862 "Users - changing pipeline created by a different user"
![screen shot 2013-12-02 at 12 42 26 pm](https://f.cloud.github.com/assets/3014917/1654222/dadedada-5b46-11e3-8349-ae1d6c180eeb.png)

[2013-12-02 11:43] tomas-knap commented on #855
Created #861 , #862

[2013-12-02 11:44] tomas-knap commented on #855
Please add this report to the confluence testing page. Please also separated each testing to a new page

[2013-12-02 11:50] skodapetr commented on #861
I see two possible solutions:
1} Ignore this, ie. the name of the DPU/pipeline is given by user and we will not restrict him. There can be same names for different object (no problem for ODCS as it use IDs).

2} We separate the scope of private/public.
I can have private DPU with the same name other public DPU (they can be differentiate by color), but once I decide to publish it I have to provide

[2013-12-02 11:51] skodapetr commented on #862
How we decide that at the end? Is there public-read, public-edit permissions? Or just private/public?

[2013-12-02 11:51] tomas-knap commented on #763
Yes, but we have to solve this type of issues, e.g. by catching the exception, executing the queries and replaying the user action, so that user does not know that something happen.

[2013-12-02 11:55] #819 closed, assigned to tomesj

[2013-12-02 12:03] tomas-knap commented on #330
Just to recap, isValid method is calling when loading data to DPU configuration dialog and also when running DPU?

[2013-12-02 12:06] tomas-knap commented on #858
There is a class OdcsTerms in commons

[2013-12-02 12:09] tomas-knap commented on #862
I would opt for public-read and public-edit. I could imaging having a set of referential (best practise) pipelines, which others (e.g. student) should have rights to change, even by chance.

[2013-12-02 12:15] tomas-knap commented on #861
Regarding 1) it will be ok, but as soon as the  user publishes his private DPU having the same name as another already public DPU, it will be confusing.

Rather easy solution would be 2),  so that when user creates private DPU with the colliding name, everything will be ok. When user tries to publish DPU, or create new DPU directly as public with the name already existing, he will be warned that b

[2013-12-02 12:16] tomas-knap commented on #791
Problem was in wrong settings of the pipeline

[2013-12-02 12:16] #791 closed, assigned to skodapetr

[2013-12-02 12:29] janvojt commented on #763
I did some googling and found a [bug report/article](http://knowledgebase.progress.com/articles/Article/P89986), where sequence changes made outside of transaction context were lost after DB crash. However this was reported on a different DBMS. I will do some more testing to see how exactly the issue can be reproduced.

If this happens in transaction context as well, I will probably need to parse

[2013-12-02 12:55] tomesj commented on #330
This method is Valid in configuration of DPU is called only when loading data to DPU dialog.
Each dialog has then it´s own parameter validation placed directly in dialog - it stop saving invalid configuration.

Thanks that, when DPU is running, configuration is valid yet. But parameters are checked in called DPU method (for sure) once again - but as part of called method - this isValid method is n

[2013-12-02 14:54] tomas-knap opened #863 "When user runs a query"
When user is on the browse/query tab, there is no default query. When I click Run query before specifying query, awful message appears:

![screen shot 2013-12-02 at 3 51 22 pm](https://f.cloud.github.com/assets/3014917/1655379/a39436fe-5b61-11e3-8bf9-0ffc9fb21194.png)
1. I would suggest to put there a default query "select ?s ?p ?o where {?s ?p ?o} LIMIT 1000".
2. if there is no query specifies, p

[2013-12-02 14:59] tomas-knap commented on #770
Thanks, could you please change the background color of the panel to white as well?

[2013-12-02 14:59] tomas-knap commented on #770
Than we can close

[2013-12-02 15:05] tomas-knap opened #864 "Extra vertical scrollbar after changing number of rows"
When setting number of rows, pipeline list and scheduller work fine. But in case of execution monitor, extra vertical scrollbar appears which should not be there:

![screen shot 2013-12-02 at 4 03 20 pm](https://f.cloud.github.com/assets/3014917/1655456/06858212-5b63-11e3-874a-5b72a63e11e5.png)

[2013-12-02 15:08] tomas-knap opened #865 "When copying pipeline, notification should appear"
When user copy pipeline (click the button copy), notification should appear "Pipeline X was successfully copied"

[2013-12-02 15:11] #775 closed, assigned to bogo777

[2013-12-02 15:12] tomas-knap commented on #743
cannot reproduce

[2013-12-02 15:12] #743 closed, assigned to tomas-knap

[2013-12-02 15:14] #570 closed, assigned to bogo777

[2013-12-02 15:14] tomas-knap commented on #570
Not needed

[2013-12-02 15:16] tomas-knap commented on #555
Not an important issue

[2013-12-02 15:16] #555 closed, assigned to skodapetr

[2013-12-02 15:17] tomas-knap commented on #548
Kubo, check if it is enough so that we can close this issue

[2013-12-02 15:18] tomas-knap commented on #524
solved

[2013-12-02 15:18] #524 closed, assigned to bogo777

[2013-12-02 15:19] #346 closed, assigned to tomas-knap

[2013-12-02 15:30] tomas-knap commented on #118
will be solved when preparing installer

[2013-12-02 15:44] tomas-knap opened #866 "Problems with Settings -> my account tab"
1. There should not be possible to enter chars to Settings:

![screen shot 2013-12-02 at 3 59 50 pm](https://f.cloud.github.com/assets/3014917/1655429/7f15bf90-5b62-11e3-9d59-f0c5ca8fbbe7.png)

Actually the only allowed values should be 1-100 for example.
1. When I set number of rows, I got notification: Emails successfully saved. But the notification message should be "My account settings were su

[2013-12-02 15:46] tomas-knap commented on #848
Thanks, couple of minor things to the loader detail dialog:
- put the button default size next to the text box with chunk size
- check that only positive integers may be used in the text box with chunk size
- "(Use 0 for no repeat ...)" -> This should be only in tool tip OR next to the text box
- check that only integers may be used for "count of attempts"
- chech that only positive integers may b

[2013-12-02 15:48] tomas-knap commented on #625
It works fine

[2013-12-02 15:48] #625 closed, assigned to skodapetr

[2013-12-02 15:55] tomas-knap commented on #708
So what is the result if the timeout is reached? What is returned by the loader?

Why do you encode TIME_OUT? final String timeOut = getEncodedString(TIME_OUT);

Was everything fine when testing on the Jan's server?

[2013-12-02 15:59] tomas-knap opened #867 "Exception when clicking on the pipeline in pipeline list"
Applies to commit: commit 6dd25f54bd408a93009b8d4cf5a09e65092450da

After using GUI for a while:

![screen shot 2013-12-02 at 4 49 45 pm](https://f.cloud.github.com/assets/3014917/1655936/85d2f03e-5b6a-11e3-89de-9e79adb43303.png)

[code]

[2013-12-02 16:15] tomesj commented on #708
I know that string number don´t need encoding, but I encode timeout same as others parameters (only for sure)

To testing
- I tried run ARES during weekend, it ends with an error - no enough time for query execution - TRANSACTION abort - same error as we get always (on SPARQL loader).
- Now I add timeout parameter and I think it could be fine, but I haven´t be able to try it yet, because Honza has

[2013-12-02 16:16] tomas-knap commented on #708
Ok, but what will happen with the query if timeout is reached? How such timeout will be presented to user browsing DPU events/ logs?

[2013-12-02 16:19] tomas-knap commented on #708
A solution is if you can react on such situation, solution is NOT if you show "Sorry, too big file"

[2013-12-02 16:34] tomas-knap opened #868 "Pipeline duration is not updated in exec monitor properly"
When I debug pipeline, uncheck automatically refresh (on details), then duration is not updated. Further, even if I check "automatic refresh" again, the duration is not updated further.

![screen shot 2013-12-02 at 5 26 31 pm](https://f.cloud.github.com/assets/3014917/1656167/a0ae24ce-5b6e-11e3-8260-fb26197f82a8.png)

![screen shot 2013-12-02 at 5 26 37 pm](https://f.cloud.github.com/assets/301491

[2013-12-02 16:39] tomas-knap commented on #486
Jirko, prave jsem zkousel. SPARQL loader loadoval do DB X. Kdyz jsem ji zabil, ohlasilo mi to hlasku:

2013-12-02 17:36:15,633 [dpu: SPARQL Loader odcs] DEBUG exec:617 dpu:408 cz.cuni.mff.xrg.odcs.loader.rdf.SPARQLoader - Data 47/100 part loaded successful
2013-12-02 17:36:15,664 [dpu: SPARQL Loader odcs] DEBUG exec:617 dpu:408 cz.cuni.mff.xrg.odcs.loader.rdf.SPARQLoader - Data 48/100 part loaded

[2013-12-02 17:20] tomas-knap commented on #455
Jakub, are all these issues done?

[2013-12-02 17:27] tomas-knap opened #869 "Edges on the canvas dissappeared"
Week before, I create pipeline [QA] TED data - 3DPUs + 2 edges.
When opening pipeline [QA] TED data today, no edges are visible. But if you try to add new edge between extractor and transformer, it cannot be added.

Bohuslav, please check where the problem is. Check also that DB is ok (with Jan's help if needed).

![screen shot 2013-12-02 at 6 16 33 pm](https://f.cloud.github.com/assets/3014917/16

[2013-12-02 17:29] tomas-knap commented on #768
Maria, this has high priority. Why it is not done yet?

[2013-12-02 17:33] tomas-knap commented on #588
not needed

[2013-12-02 17:33] #588 closed, assigned to janvojt

[2013-12-02 18:25] skodapetr commented on #861
1) yes, we can say that, there are no restriction, this situation can happened and leave user to do hist best ..

2) yes, it should be not so much complicated .. and imho. it's more user friendly

[2013-12-02 18:50] tomas-knap commented on #708
Jirko, please paste here your virtuoso.ini file you use in the above example. Problem with transaction is probably caused by too short timeout on your virtuoso.

[2013-12-02 20:31] tomesj commented on #708
My virtuoso.ini file has not short timeout (I send you by email - It´s not support add this type - only images), but I teste it on Honza´s virtuoso.

Parameter timeout which I add to query allow this problem generally remove. It will not depends on whatever value is set in the virtuoso.ini file (on concrete endpoint).

[2013-12-02 21:38] bogo777 commented on #869
![image](https://f.cloud.github.com/assets/1550848/1658862/f917a6c8-5b99-11e3-988c-29e02323de9c.png)

This is propably the cause, strange is, that it is not shown when pipeline is loaded. Will investigate further.

[2013-12-02 21:59] bogo777 commented on #769
We discussed with Petr and came to conclusion, that we should set the object being initialized as last step in init method. So if it fails before, it is still null and will be initialized again upon next request. There are possibly many places in code, which need to be changed, I would do it in one step with autowiring/refactoring.

For this current case it should be solved already.

[2013-12-02 22:03] bogo777 commented on #790
Newer version unexpectedly slowed down canvas, so I didn't push it yet. Will try to figure out why.

[2013-12-02 22:06] bogo777 commented on #706
So should I add the "Validate" button and its funcionality?

[2013-12-02 22:08] bogo777 commented on #192
Should it be error which prevents saving pipeline or only warning?

[2013-12-02 22:09] bogo777 commented on #692
Should I continue with autowiring, or is there something we need to discuss first?

[2013-12-02 22:52] kukharm commented on #768
Because there was some problem. For ListSelect (that used for data unit) rows don't exist standard vaadin method for tooltip. I consulted with Bohuslav he suggested to change ListSelect to Table. For table there is method for rows tooltip. So i try to do it.

[2013-12-03 00:39] #475 closed, assigned to kukharm

[2013-12-03 07:37] tomas-knap commented on #692
We discussed with Petr and came to conclusion, that we should set the object being initialized as last step in init method. So if it fails before, it is still null and will be initialized again upon next request. There are possibly many places in code, which need to be changed, I would do it in one step with autowiring/refactoring.

[2013-12-03 07:38] #769 closed, assigned to bogo777

[2013-12-03 07:44] tomas-knap opened #870 "Namespace prefixes - users and admins"
namespace prefixes should be also visible for the user. But user should not be able to edit namespace prefixes created by others. So basically, users may only adjust their namespace prefixes. Admins may adjust all prefixes. All prefixes are public.

[2013-12-03 07:44] tomas-knap commented on #475
Just to recap, admin should see everything. user should see tabs: my account, notification.

prefixes are disabled for users right now, because the functionality is not ready

[2013-12-03 07:46] tomas-knap commented on #790
Ok

[2013-12-03 07:57] skodapetr commented on #869
It does not have to be the cause. This is related to some package .. updates. We though that rdf.impl package is not used, but it is. This 'rdf-impl' error should occur no more. But according to the times .. it is probably the source.
Sorry for that.

[2013-12-03 08:02] tomas-knap commented on #192
The best behaviour would be as follows:

If I am creating a pipeline, I may press validate button (see #706 ) to check that mandatory fields are ok. As a result, either notification that it is ok is shown or all problematic DPUs on the canvas are emhasized somehow (e.g. red exclamation mark in the corner of DPU or drawing red border around DPU). When directly pressing save or save & close button,

[2013-12-03 08:03] tomas-knap commented on #706
See #192 regarding the validate button. Needs discussion.

[2013-12-03 08:05] tomas-knap commented on #869
Ok, I will test

[2013-12-03 08:05] skodapetr commented on #833
If the library B can not be resolved, then this information is logged in same format as for DPU

[2013-12-03 08:12] tomas-knap commented on #768
Ok, thanks for clarification. Then please try the table with one column

[2013-12-03 08:14] tomas-knap commented on #708
Jirka, but will that work also on other non-virtuoso endpoints? Also, I would doubt that if you set timeout to 10s in virtuoso.ini and then to 100s in the query itself, that it will overwrite the settings in virtuoso.ini - probably not, that would be an easy way how to skip such restriction. So how could the timeout in the query itself help?

[2013-12-03 08:16] skodapetr commented on #867
This seems to be hard to replicate .. from log ..

[code]

we know how and why ... and we can prevent the exception by ignoring the on-click action .. what we do not know is what is the cause of this (why the table give us object with null as Id ) .. I added few more logs (just few, as this slow down the performance of all tables in ODCS) .. so please if anybody see this exception again, please se

[2013-12-03 08:23] tomas-knap commented on #867
Well, if you know that it happens only rarely, we can just log the problem, do not show anything to the user and simply try the action again.

[2013-12-03 08:24] tomas-knap commented on #867
Also please add TODO to the code, so that we know that we do not know the cause, but know that it happens only rarely, and that is the reason why we are simply trying the action again

[2013-12-03 08:27] skodapetr commented on #867
Yes we can .. but with that I decrease the chance, that some post me the log .. what about .. let the exception to be thrown for 7 - 10 days .. then we do what you propose? I sill hope that we find the true reason for that.

it probably does not help to try it again .. the problem is, that the on-click action (from table) say that the event is on object with id = null. So we can just ignore .. and

[2013-12-03 08:44] tomas-knap commented on #747
Source code for jdbc
https://github.com/openlink/virtuoso-opensource/tree/develop/7/

Akorat je to mozna pro to Virtuoso 7...

[2013-12-03 08:50] janvojt commented on #747
Ano, uz davno si mi pisal ze tam maju zdrojaky. Nasiel som ich tu https://github.com/openlink/virtuoso-opensource/tree/develop/7/libsrc/JDBCDriverType4. Ale nejdu mi pouzit. Je tam classpath virtuoso.jdbc2, a v JDBC driveri je virtuoso.jdbc4. Skusal som ten adresar aj manualne premenovat, ale nepasovali tie zdrojaky (alebo netbeans to nepobral). Ale aj tak neviem ci ma cenu debuggovat ten JDBC, ni

[2013-12-03 08:51] tomas-knap commented on #867
Ok, got the point. If we cannot come with solution till midDecember, we should simply hide it.

[2013-12-03 08:54] skodapetr commented on #747
Jen dotaz .. pokud je to problém s konfigurací .. ve keré je soubor, tj. string ..  kde je znak `é`, tak pokud ten znak napíšu třeba do cesty k souboru  (string) pro file extractor, tak to taky spadne?

Nebo jsem mimo?

[2013-12-03 09:04] tomas-knap commented on #747
Mozna bychom jeste mohli zkusit rucne vytvorit kopii te pipeline, ktera obsahuje jen ARES/XSLT DPU a ty konfigurace vyplnit stejne. Problem imho nebude v tech zakladnich DPUs - extraktor/loader.

Ad Petr: Jj, to je divne, bo pro FIle extractor narodni znaky fungujou dobre.

K tomu BASE64, moc se mi to nelibi, bylo by potreba zakodovat i stavajici konfigurace, musime to napsat Alexovi a dalsim,ze s

[2013-12-03 09:20] tomas-knap commented on #61
Test if it is ok for the use

[2013-12-03 09:25] tomas-knap commented on #841
duplicates #706 #192

[2013-12-03 09:25] #841 closed, assigned to tomas-knap

[2013-12-03 09:25] tomas-knap commented on #292
Partially realized by #706 #192

[2013-12-03 09:26] tomas-knap commented on #861
Yes, I am also for 2)

[2013-12-03 09:40] tomas-knap commented on #692
Bohuslave, main refactoring must be ready before 12.12, the only thing which may remain is the MVP of other components. Could you please write your plan here? I would suggest to:
1. finish autowiring (but please write below in more detail what is missing regarding that, or if you have any questions, or anything to be discussed whether it is a good idea to autowire or not)
2. object being initializ

[2013-12-03 10:12] skodapetr commented on #491
The mockup is ready for @kukharm , so I reassign to her

[2013-12-03 10:54] tomesj commented on #708
Raději česky:
No právě nastavení timeoutu je způsob, který je silnější než nastavení ve virtuosu.ini. Je to totiž tak, že standardně se tento timeout neuvádí a bere se automaticky ten z virtuoso.ini, pokud se ale uvede, tak má vyšší prioritu. Zkoušel jsem to právě u Honzy - měl tam nastavený nějaký malý default time, takže při mazání toho velkého grafu před loadem na to ten time nestačil - aniž by

[2013-12-03 10:56] janvojt commented on #747
Uz som o tom pisal, ale chova sa to fakt divne. Z mojho testovania mi vyslo, ze to pada len na niektorych stringoch obsahujucich narodne znaky. Ked do konfiguracie ulozim len problemovy znak, tak to funguje. Ked ma nejake "okolie" standardnych znakov z ASCII tabulky, tak pre niektore okolie to funguje, pre niektore nie. Snazil som sa dohladat co najkratsi problemovy string pulenim intervalu, ale c

[2013-12-03 11:10] janvojt commented on #747
To som samozrejme skusal, uz davno som prisiel nato, ze problem je len v XSLT konfiguracii. Takze ano, ak vytvorim pipeline len s jednym XSLT DPU s rovnakou konfiguraciou, tak sa neda skopirovat.

[2013-12-03 14:43] tomas-knap opened #871 "Error when refreshing logs in exec detail"
Pipeline ARES test was running, logs were reloaded. During one of the reloads, I click on settings menu item. The error occurred and then view was changed. Petre, please reassign on Honza, if you are not responsible

![screen shot 2013-12-03 at 3 38 08 pm](https://f.cloud.github.com/assets/3014917/1664537/dbd042a2-5c28-11e3-9e6f-5400fa65e640.png)

2013-12-03 15:38:33,192 [http-bio-8080-exec-376] D

[2013-12-03 14:52] skodapetr commented on #871
ahh .. smutné je, že je to vlastně jako #867 .. jen ty logy na téhle tabulce nemáme .. přidám je na všechny a snad nám to pomůže ..

[2013-12-03 17:16] skodapetr commented on #871
Report in #871

[2013-12-03 17:21] skodapetr commented on #867
As it shows up .. the ROC can be asked to return ValueObject for null ID despite the fact that no object of null id has ever been created before.
So I added check for id = null into ROC. If the id is not null then return ValueObject with given ID, otherwise return null (according to the documentation) and log .. so let's test ..

[2013-12-04 07:44] kukharm opened #872 "RDF File Extractor - Not a valid (absolute) URI"
I create RDF File Extractor and set Extract file from the given HTTP URL. http://www.reeep.org/dir.ttl RDF format AUTO.
Then i try to run pipeline with this DPU. Run pipeline-fail.
    Message:
    DPU 'RDF File Extractor' publish message short: 'Not a valid (absolute) URI: [line 11]' long: ''

full testing scenario in https://grips.semantic-web.at/display/LOD2/2013-11-26+DPUs+and+confirmation+win

[2013-12-04 07:46] kukharm commented on #855
https://grips.semantic-web.at/pages/viewpage.action?pageId=50932889
https://grips.semantic-web.at/display/LOD2/Testing

[2013-12-04 07:57] tomas-knap opened #873 "Out of Mem connected with pruning?"
Po pulnoci nekolik chyb:
##

2013-12-04 00:12:46,120 [taskScheduler-4] ERROR exec: dpu: o.s.s.s.TaskUtils$LoggingErrorHandler - Unexpected error occurred in scheduled task.
java.lang.OutOfMemoryError: Java heap space
    at java.lang.Class.privateGetDeclaredMethods(Class.java:2526) ~[na:1.7.0_40]
    at java.lang.Class.getDeclaredMethods(Class.java:1845) ~[na:1.7.0_40]
    at org.springframework.u

[2013-12-04 08:02] #855 closed, assigned to kukharm

[2013-12-04 08:57] bogo777 commented on #692
1. I will work on that today and write here any problems/findings about this.
2. Easiest would be to do it as part of process to change the views to MVP(for some components it can be done as part of autowiring process)
3. What should be done with DRF Browser?

[2013-12-04 12:43] tomesj commented on #486
Upravil jsem vše potřebné a otestoval
- nyní už to vždy doběhne a nahraje všechny trojice
- během výpadku se správně loguje, kde je chyba - že se DB pokouší připojit tam a tam, nahrát/ připravit určitý data part znovu, atd...
- dojde-li k výpadku během nahrání např. 1/16 až 13/60 part se nahrál úspěšně a při pokusu nahrát 14/60 došlo k přerušení DB...Je to opět hlášeno a po obnovení DB se pokračuj

[2013-12-04 12:52] tomas-knap commented on #692
1 - OK
2 - dej prosim casovy odhad nez to zacnes delat, abychom vedeli
3 - Nic, nechame jak je

[2013-12-04 12:54] tomas-knap commented on #862
Should be solved together with Bohuslav, Bohuslav should have a way to find out if the user is privileged to work with the pipeline etc.

[2013-12-04 13:13] tomas-knap commented on #192
First try how long does it take to validate all confiugration dialogs. Then we can decide whether it is a good idea to validate automatically when opening pipeline detail / saving pipeline detail.

[2013-12-04 13:17] tomas-knap commented on #706
When pressing validate button, notification is shown with the list of missing mandatory inputs

[2013-12-04 14:17] tomas-knap commented on #486
Jirko, diky.

Jak je mozne, ze nejake info chybi v DB mezi logy, ale je v backend.log? Je v tom nejaky rad nebo pokazde chybi neco jineho?

[2013-12-04 15:09] skodapetr commented on #486
Jirka: Máš sample těchto logů? Tj. co chybí z čeho ..

[2013-12-04 15:48] tomesj commented on #486
Zdravím,
ne řád v tom moc není - jednou chybí to, jednou zase něco jiného - nejlepší zkusit rovnou u sebe :-)
Žádný konkrétní příklady bohužel nemám, jen jsem na to narazil, tak jsem to zmínil, aby se to vědělo :-)

[2013-12-04 15:56] jakubklimek commented on #486
V tom pripade na to vytvorte zvlastni issue, ne?
On Dec 4, 2013 4:48 PM, "Jiří Tomeš" notifications@github.com wrote:

[2013-12-04 16:05] tomesj opened #874 "Missing LOGS after failure and recovery DB"

[2013-12-04 16:06] tomesj commented on #486
Založil jsem na to teda extra issue: #874

[2013-12-04 16:33] tomas-knap commented on #874
Jirko, popis tu "steps to reproduce"

[2013-12-04 17:28] tomesj commented on #874
Uděláte si jednoduchou pipeline (FIle extractor - SPARQL loader)
- jakmile začně běžet loader shodíte DB, po chvilce jí znovu nahodíte (necháte doběhnout) a sledujete, co se stalo
- shození si zkuste pro případy
- a) mezi tím, než se zavolá metoda load (s tím, že znám už všechny parametry)
- b) někde během získávání a práci s httpConnection - nejlépe v metodě getEndpointStreamReader (najdete v Bas

[2013-12-04 17:57] tomesj commented on #872
Tak jsem se na to díval a vyhozená chyba je v tomto případě správná - ten soubor nemá totiž hned první řádek s daty napsaný správně:
<> foaf:primaryTopic <#org> . - URI, které reprezentuje v tomto případě subject nemůže být nikdy prázdné !!!

Tedy myslím, že to, že to skončilo, je správně - je tam použit RDF parser pro příslušný formát (pro tento konkrétně TTL) a ten umí přeskakovat pouze některé

[2013-12-04 21:03] janvojt commented on #635
Commit 444f2f1 prevents the exception, but has an incorrect behavior. It replaces object with already assigned ID with a new object.

The resolution will be problematic. The problem is, that we do not know about the problem with sequences until we try to commit a transaction inserting a new object. Then because of duplicate primary key, exception is thrown. I am currently catching this exception i

[2013-12-04 21:24] skodapetr commented on #635
Take it as a "brainstroming":
By "the state of IDs was in the object tree" you mean remember highest ID value for each created object .. and then use this ID in sequence update query?

Maybe .. we can even remember the highest ID in the object's instance itself .. as static value .. and if the Id is set .. (can we hook on this?) then update this static value?

[2013-12-04 21:46] janvojt commented on #635
No by tree I mean for example when you are saving a pipeline you have

[code]

So you have a tree-like structure of IDs, that you need to look for recursively, save their state before the start of transaction, and if this transaction is rolled back reset their state back to what it was.

[2013-12-04 22:18] skodapetr opened #875 "Settings"
Záložka Settings, na ODCS i u sebe dostanu ..

[code]

[2013-12-04 23:16] #875 closed, assigned to bogo777

[2013-12-05 08:18] tomas-knap commented on #874
Ok, a v kterych pripadech nastava, ze nejktere logy nejsou zalogovane v DB?

[2013-12-05 09:53] skodapetr opened #876 "Exec.start = null"
For pipelines that have been cancelled in queued state .. is t_stast = null and t_end is set

status = 3
stop = 1

[2013-12-05 11:54] tomas-knap opened #877 "When repository is lost and then again ok, pipeline is able to survive, but certain data is lost"
Suppose that method addStatement is called in the for cycle in the DPU to add certain triple for every iteration i. If there is a problem in iteration i with the connection (e.g. Virtuoso frozen and then restarted), the currently processed triple is skipped when the Virtuoso is again on, which must not happen.

According to code:

protected void addStatement(Statement statement, Resource... graphs

[2013-12-05 11:54] tomas-knap commented on #877
Please propose a solution which will work for all the baseRDF methods

[2013-12-05 12:03] tomas-knap opened #878 "java.lang.String cannot be cast to openlink.util.Vector"
While browsing logs:

2013-12-05 12:59:00,816 [http-bio-8080-exec-415] ERROR cz.cuni.mff.xrg.odcs.frontend.AppEntry - Uncaught exception

[code]

[2013-12-05 12:35] jakubklimek opened #879 "Last log refresh not performed when cancelling pipeline"
When viewing a running pipeline's log and clicking on cancel, the log stops refreshing too early and does not show all log entries. It needs to be refreshed in order to see the end of the execution.

[2013-12-05 13:53] tomas-knap opened #880 "Combo box with DPUs in exec records detail not working sometimes properly"
The combo box sometimes does not contain all the DPUs for which there is already a log. If I click on exec monitor records for pipeline which has already finished, it is fine. But when observing the log and then, at certain moment try to filter, certain DPUs may not be accessible

[2013-12-05 15:53] tomas-knap opened #881 "For each pipeline mark whether it is scheduled or not in case it is edited"

[2013-12-05 16:21] tomas-knap opened #882 "When opening exec record detail in debug mode, show directly the tab with logs (not with events)"

[2013-12-05 16:23] tomas-knap opened #883 "Description of DPU template not shown?"
When there is description in pom.xml, it is not shown in the DPU template dialog

![screen shot 2013-12-05 at 5 22 00 pm](https://f.cloud.github.com/assets/3014917/1684311/7d793540-5dc9-11e3-8723-c1b562ebd7dc.png)

[2013-12-05 16:27] skodapetr commented on #883
It's not .. it's the user-provided description .. the description of JAR is slightly lower on this dialog.
Also if the description is empty, then on pipelnine-canvas the config-provided description is used. We may emphasize this a little bit more ..

[2013-12-05 16:41] tomas-knap commented on #883
Ok, but I could imagine that the read-only description from pom.xml will be shown instead of "Maven parent project..." (see above), so that description filled in by the developer (who could be a different person than the person importing the DPU to the app) is not lost

[2013-12-05 16:48] skodapetr commented on #883
Well .. the problem here is that the geocoder is written according the old tutorial.

The description and version are for some time (on Jakub's request) no longer under properties tag, but directly under the root tag .. see DPU_Template pom.xml for more details .. what we see here "Maven parent .. " is used description from parent maven project.

[2013-12-05 19:22] tomesj commented on #874
V podstatě u všech výše zmíněných :-)

[2013-12-05 19:32] skodapetr commented on #874
Jen se zeptám .. jak mám stihnout\poznat schodit virtuoso .. než se zavolá nějaká metoda?

Na druhou stranu, je možné .. že některé logy by mohli zmizet .. pokud by se aplikace pokusila zalogovat a databáze byla mimo .. nicméně, ikdyž je tam zcela jistě hodně případů .. čekal bych něco jednodižšího .. případně skutečně diff mezi db a file logem.

[2013-12-05 19:38] tomesj commented on #874
No jednoduše třeba tak, že si dáš příslušný breakpoint a pustíš v backend v debugu. Když se ti to zastaví na breakpointu shodíš DB a necháš běžet dále - pak ji obnovíš a necháš doběhnout celé a koukáš, co se děje. Pak můžeš zkusit přerušit též náhodně normálně při run - aspoň třeba 10 krát :-) Mě se to podařilo i při tomto klasickém runu vychytat skoro všechny případy pro zastavení (chce to ale ur

[2013-12-05 19:45] skodapetr commented on #874
No .. doufal jsem v něco snažšího 0:  .. ale když bude čas tak to zkusím.

[2013-12-06 00:36] tomesj commented on #877
Summary:
- add extension to class FailureTolerantRepositoryWrapper with RepositoryConnection implementation including trying right reconnect, if connection during execution failed.
- set this for VirtuosoRepository
- tested on RDF methods (it works perfekt)

Problem complexly solved in RDF module (everywhere when is used Virtuoso connection ). Issue is prepared for testing and close :-)

[2013-12-06 08:28] #863 closed, assigned to bogo777

[2013-12-06 08:43] bogo777 commented on #880
We currently use list of DPUs from execution context, where only finished DPUs are. Other way would be to show all DPUs from the pipeline.

We could use the current approach for finished pipelines, so we wouldn't show DPUs which were not part of execution in case of debugging to certain node and the other for running pipeline.

Alternatively we could use DependencyGraph for both and show only the

[2013-12-06 08:59] bogo777 commented on #868
That is strange, the checkbox relates only to the detail, execution list is refreshed always.

But for running pipeline duration is computed as current time - start time. For finished pipeline it is end time - start time and end time can be reported with delay so duration can decrease after refresh.

[2013-12-06 09:24] bogo777 commented on #879
Refreshing of detail data(including logs) stops when execution is marked as finished/failed/canceled(not cancelling) in db. So it's about when the pipeline is marked, or if there is some delay in writing logs to db. We can add one extra refresh, if that will help? @skodape

[2013-12-06 09:29] skodapetr commented on #879
Well .. there is a delay  .. the logs are written once per 4 seconds .. or where there are more then 50 logs .. extra refresh .. should help .., or we may use some technique to force logs save before the end of execution?

[2013-12-06 09:33] bogo777 commented on #879
If it's possible it would be nice to force logs to save before marking execution as ended, so it would really be last action regarding that execution.

[2013-12-06 09:36] skodapetr commented on #879
ok, reassign .

[2013-12-06 09:48] bogo777 commented on #850
Done for pipeline name and description, for pipeline name in execution list and for description in scheduler. Any other places?

[2013-12-06 12:14] bogo777 commented on #192
When the configuration dialog is loaded for the first time, it takes about 0.6 second per DPU. The next time it's fast(0.3s for 6 different DPUs).

[2013-12-06 12:52] bogo777 commented on #692
Autowiring is mostly done.
2. It will mean to go through every view/component and check/change the initialization behavoir. So half a day at least.

[2013-12-06 14:26] jakubklimek opened #884 "SPARQL Extractor not supporting cancel"
When cancelled... still counting triples....
![image](https://f.cloud.github.com/assets/718827/1692751/6da04f3c-5e82-11e3-88ac-3f36d0192d15.png)

[2013-12-06 14:39] jakubklimek opened #885 "SPARQL Extractor slow"
Internal...:
http://linked.opendata.cz/resource/dataset/seznam.gov.cz/ovm/list

<pre><code>PREFIX s: &lt;http://schema.org/&gt;
CONSTRUCT {?address ?p ?o}
WHERE
{
?address a s:PostalAddress ;
?p ?o .
}</code></pre>

approx 50 000 triples.

Using internal's sparql endpoint: approx 5s.
Using SPARQL extractor: approx 9min.

[2013-12-06 18:17] janvojt commented on #747
Petr commited a modification in commit 9e80d6f3, where when copying configuration serialized string is converted to UTF-8 with `String.getBytes("UTF-8")`. This method always replaces malformed-input and unmappable character sequences with UTF-8's default replacement byte array. Therefore the pipeline should be copied successfully even with accented characters, but they may be replaced. This still

[2013-12-06 21:37] skodapetr commented on #878
I would like to ask @janvojt for his opinion as this is not exactly my cup of tee

[2013-12-06 21:43] #876 closed, assigned to skodapetr

[2013-12-06 21:46] skodapetr commented on #843
Podle posledního stavu:
Pokud je pipeline privátní tak její běhy jsou také privátní.
Pokud je pipeline public tak její běhy jsou také public. Tedy nelze mít privátní běh pro veřejnou pipeline.

Tedy pod last_exec columns je globální poslední běh ( a ten také vrací getLastExecution)

Což je přesně to co čekáme, neb pokud je pipelina private tak tam nejsou běhy od jiného uživatele.
Pokud je public,

[2013-12-06 21:50] skodapetr commented on #330
@tomesj as you are the author of last comment, can I ask you what I'm suppose to do with this issue?

[2013-12-06 21:54] tomesj commented on #330
Maybe Tomas assigned you, I don´t know anything about that. Try to ask him.

[2013-12-07 18:45] tomas-knap commented on #192
Ok, so I would suggest validate the pipeline only on request (validate button is pressed), not automatically when opening/saving.

[2013-12-07 18:49] tomas-knap commented on #330
I do not know. But Petr, could you please comment the isValid method a bit in the code, so that it is clear why null value is checked? Also if not explained, explain in the code when isValid is called.

Then we can close I think

[2013-12-08 10:14] tomas-knap commented on #747
So what is still missing to be solved?

[2013-12-08 10:16] #869 closed, assigned to bogo777

[2013-12-08 10:18] tomas-knap commented on #880
Yes, but the problem is that I cannot filter logs from the currently running DPU. And also the problem was also with already finished DPUs - sometimes when debugging pipeline, it was necessary to reload execution monitor view and reopen the debugged pipeline to see all the DPUs in the combo box

[2013-12-08 10:27] tomas-knap commented on #692
Ok, so finish 1)
Then I will put this issue to 0.5 with normal prio to finish 2)

[2013-12-08 10:27] tomas-knap opened #886 "Browse/Query really slow for localRDF intermediate storage"
Go to ODCS, open exec monitor detail with id 674, go to browse/query, and try to browse data, e.g. for gov-cz:Organy. You can wait minutes and no data appear. What is the reason for that? It seems that data are lazy loaded, so I would expect to see first 30 triples really quickly. What is the problem? what are the queries being executed to the DB? Ask Petr to help you tuning the queries if they ar

[2013-12-08 10:33] tomas-knap commented on #706
Yes, please add the validate button to solve this issue and #192 . Or do you have other questions?

[2013-12-08 10:42] tomas-knap commented on #708
Jirko, tohle se mi nezda. Nemuzes preci nejakemu cizimu serveru prepsat nastaveni ve Virtuoso.ini. To je blbost. Mas nekde oporu v dokumentaci nebo je to jen tvuj dojem?

[2013-12-08 10:42] kukharm commented on #843
i added information to https://grips.semantic-web.at/display/LOD2/Pipelines+Section

[2013-12-08 10:53] tomas-knap commented on #886
Please test the browse working with couple of milions of triples. It should be possible because of the lazy loading. Ask Jirka (@tomesj) how to generate 7 milions of triples

[2013-12-08 11:26] tomas-knap opened #887 "SPARQL Loader really slow"
Jirka, SPARQL loader is really slow. The problem is that you have to touch in Java every single subject/predicate/object, add it to the String, etc.

Suggested solution (bude jeste doplneno):
Krome stavajici funkcionality pro tvorbu HTTP requestu ve SPARQL loaderu pridej novou: Misto nahravani dat po castech pres SPARQL INSERT, pouzij SPARQL LOAD - http://www.w3.org/TR/sparql11-update/#load

Tedy

[2013-12-08 11:36] #865 closed, assigned to kukharm

[2013-12-08 11:36] tomas-knap commented on #885
Kubo, when extracting, do you have "use statistical and error handler" on in SPARQL extractor settings?

[2013-12-08 11:38] tomas-knap commented on #884
When SPARQL is using our own handler to parse the triples, it should support cancel

[2013-12-08 11:47] tomas-knap commented on #887
Note: Use specific Virtuoso Loader?

[2013-12-08 12:03] kukharm commented on #866
Validation was already done in last commit i had  10259e5ab6165b65685c24e3223033342902d2bc so i changed notification messages.

[2013-12-08 17:07] bogo777 commented on #886
We talked about this, we are lazy loading data, but we need the total count triples to show total pages. And count function for CONSTRUCT is really slow, especially for localRDF. From what I got from looking to source, we are iterating through all triples(see BaseRDFRepo, method getSizeForConstruct() ). I think any improvement should be made there.

[2013-12-08 17:45] tomesj commented on #708
Přikládám odkaz do oficiální dokumentace:
Hlavní dokument [1], která vychází z
[2] - SPARQL endpoint a parametr timeout (sekce 16.2.3.3.9. SPARQL Anytime Queries či 16.2.3.3.1. Request Parameters)

[1] http://docs.openlinksw.com/virtuoso/anytimequeries.html
[2] http://docs.openlinksw.com/virtuoso/rdfsparql.html#rdfsupportedprotocolendpoint

[2013-12-08 17:56] tomesj commented on #886
If you want show only total pages - for browsing all data in graph (construct query like CONSTRUCT {?x ?y ?z} WHERE {?x ?y ?z } - call method getTripleCount().

[2013-12-08 19:19] tomesj commented on #886
I updated method using only in last version - it could be faster :-)

[2013-12-08 19:30] tomesj commented on #887
Metoda SPARQL load, kterou výše zmiňuješ je určená pro nahrání RDF dat z URL zdroje do virtuosa. To, že to budu mít data u sebe v souboru mi tedy moc nepomůže..Jak jsi to myslel ?

[2013-12-08 19:57] jakubklimek opened #888 "SPARQL Transformer working strange"
OK, this is a bit tricky to explain. Look at the gov.cz pipeline on ODCS. The extractor creates 2 dataunits DU1 - from list of organizations, DU2 - from details of organizations. They are XMLs. Each DU is transformed by a different XSLT. Then, the output goes to Geocoders, which for each s:PostalAddress create s:GeoCoordinates, which is connected to s:PostalAddress using s:geo, which is not correc

[2013-12-09 06:50] tomas-knap commented on #886
Jirka, please test that - run the pipeline with 7milions of triples and native store in debug mode and then try to browse. The method on count could take < 1s, so I would expect the first results in the browser in < 1s. Please report here.

[2013-12-09 07:02] jakubklimek commented on #885
Tried that, it is slow both with and without it.

From: Tomas Knap [mailto:notifications@github.com]
Sent: Sunday, December 08, 2013 11:37 AM
To: mff-uk/ODCS
Cc: jakubklimek
Subject: Re: [ODCS] SPARQL Extractor slow (#885)

Kubo, when extracting, do you have "use statistical and error handler" on in SPARQL extractor settings?

—
Reply to this email directly or view it on GitHub https://github.com/

[2013-12-09 07:26] tomas-knap commented on #885
As looking into the code:

switch (handlerExtractType) {
            case STANDARD_HANDLER:
                handler = new TripleCountHandler(connection);
                break;
            case ERROR_HANDLER_CONTINUE_WHEN_MISTAKE:
                handler = new StatisticalHandler(connection);
                break;
            case ERROR_HANDLER_FAIL_WHEN_MISTAKE:
                handler = new Stat

[2013-12-09 07:27] tomas-knap commented on #885
Please measure the time for the use case above when using:
1) the construct directly
2) default openRDF parser.
3) statistical and error handler

[2013-12-09 09:24] tomas-knap opened #889 "Loader - check that first chunk is not skipped"
SPARQLLoader, line 347 - first part is constructed, but never loaded. The loader starts from loading the second part with offset at "chunk size"

[2013-12-09 09:31] jakubklimek commented on #888
Ok, see the SPARQL TRANSFORMER TEST pipeline. It takes the source data where there are s:geo properties from s:PostalAddress to s:GeoCoordinates. In the target graph, the properties are missing (deleted and not inserted) which should not be possible because SPARQL DELETE/INSERT query is supposed to be atomic according to the specification.

Source: http://internal.opendata.cz:8890/sparql?default-g

[2013-12-09 09:41] tomas-knap opened #890 "SPARQL Transformer - delete+insert sparql update"
Jirka, please test SPARQL transformer with a query of type:

PREFIX s: http://schema.org/

DELETE {?address s:geo ?geo}
INSERT {?place s:geo ?geo}
WHERE {
...
}

I suspect that method AddGraphToUpdateQuery (see below) is not working properly - the named graph is not properly added.

Jirko, kdybys spravne osertril else vetev, tak bys videl, ze to mas blbe. Pomalu mi take dochazi trpelivost, nerad b

[2013-12-09 09:41] tomas-knap commented on #888
Jirko, I suspect it is related with #890

[2013-12-09 09:42] tomas-knap commented on #890
As a result, there is no graph specified, so the data is delete from a default graph and inserted to a default graph!

[2013-12-09 09:44] tomas-knap commented on #888
Jirko, vyres #890, pak si u sebe udelej pipeline SPARQL TRANSFORMER TEST a over ze je to ok. Pridej na to test.

[2013-12-09 09:46] bogo777 commented on #232
Pipeline detail(name, description, ..) is now hideable. Also DPUTree changes height with window's height change. There is still the problem with button bar ober the tree though.

[2013-12-09 09:47] bogo777 commented on #768
Maria have you made any progress before it was reassigned to me? Any code I could use?

[2013-12-09 09:54] tomas-knap commented on #887
Postponed

[2013-12-09 12:30] tomas-knap commented on #877
Jirko, popis prosim myslenku te tve upravy

[2013-12-09 12:43] kukharm commented on #768
I changed ListSelect to Table

[code]

and then added tooltip to table's cells this way

[code]

but i can't this way to get tooltip for element in the cell only for cell

[2013-12-09 13:07] #883 closed, assigned to skodapetr

[2013-12-09 16:12] jakubklimek opened #891 "Back button needs to preserve the page listed in paged lists"
When I am on page 2 in pipelines, click on a pipeline and go back, I end up on page 1 of the list. This is VERY annoying and probably applies to all lists.

[2013-12-09 16:52] tomas-knap commented on #891
The solution would be to remember the already set filters. I have found that it is annoying mainly in the pipeline list. We have everywhere the clear filters button (in pipeline list/exec monitor/scheduller event/manage users), so I would suggest to remember the filters in these cases?

[2013-12-09 16:54] jakubklimek commented on #891
Yes. Filters also need to be remembered.
On Dec 9, 2013 4:53 PM, "Tomas Knap" notifications@github.com wrote:

[2013-12-09 23:32] janvojt opened #892 "When session/cookies are deleted and page is refreshed in browser, NPE is thrown."
I know there was already a duplicate issue, but it was missing steps to reproduce and I cannot find it, so I am creating a new one.

Steps to reproduce:
1. Log in to ODCS frontend
2. Delete session and cookies in browser settings (or wait for timeout).
3. Refresh the page.

Expected result: User is redirected to login view.
Actual result: NPE is thrown with a stacktrace on screen.

![screenshot fr

[2013-12-09 23:56] janvojt commented on #892
Sorry, this is my mistake.

[2013-12-09 23:56] #892 closed, assigned to bogo777

[2013-12-10 13:02] skodapetr commented on #491
I update the dialog .. and do a simple test to test the functionality. The screens shows the results:

First the conflict dialog:
![dialog](https://f.cloud.github.com/assets/3341693/1714111/dbeaa99a-619a-11e3-84a6-ca4c240dd1ce.png)

Then the message log which show that the pipeline waits:
![detail](https://f.cloud.github.com/assets/3341693/1714106/becd412e-619a-11e3-929d-bd39d3a9e9f6.png)

I also

[2013-12-10 13:14] skodapetr commented on #861
I have checked the current behaviour and it seems to me .. as there is no name check at all .. have we removed it, or do I overlook something?

[2013-12-10 13:32] tomesj opened #893 "SPARQL transformer don´t need add/merge data to unused inputs"
Actually when we used SPARQL transformer we merge/add data to all inputs (input, optional1,...optional3), but when this data are large collection and we used only one (or two) inputs of that - we don´t merge data to others unused inputs - transformer is slowly.

Goal is merge/add only to used inputs and transformer will be more faster :-)

[2013-12-10 14:10] kukharm commented on #491
mockup update https://grips.semantic-web.at/display/LOD2/Pipeline+conflicts

[2013-12-10 14:12] skodapetr commented on #893
@tomesj : Mohl bych poprosit o nějaký rozpis? Nebo co je cílem .. neb definice "pokud se to nepoužívá, tak to tam nepředávat" .. co znamená nepoužívá a jak na tohle přijdu?

Pokud tam není mapování tak se nic nepředává, pokud tam je .. tak nemám šanci zjistit jeslti se to pak v DPu použije nebo ne.  - tady bych spíše viděl Lazy RDF DataUnit, jenž by nemusela Merge vykonávat okamžitě ale až po dalš

[2013-12-10 14:52] tomesj commented on #893
No jde hlavně o to, aby se mergovalo jen na to, co je skutečně namapované - jsem včera koukal na nějakou pipelinu na odcs.xrg.cz a zdálo se mi, že to právě tak nebylo (možná že jsem se špatně díval)

[2013-12-10 15:17] skodapetr commented on #893
@tomesj: No možná, tedy pokud by jsi měl po ruce log .. neb pokud je to jak říkáš, tak je o chybu, nikoliv záměr. Neb ty bez mapování by to mělo ignorovat. Tedy pokud by jsi narazil na takové chování, tak bych asi poprosil o odkaz, abych mohl prozkoumat kde je chyba.

[2013-12-10 20:21] janvojt commented on #842
Cookie's lifetime is 60 days. I left a TODO to move this constant to configuration.

[2013-12-10 22:32] janvojt commented on #747
OK, I did some testing, and it seems Petr's solution works. I was suspecting it would obfuscate serialized configurations, but that would be true only if we were serializing to binary data (we are serializing to XML).

There is no guarantee that national characters in configuration will not be obfuscated. However, from my testing it seems Czech characters are OK. As long as we won't be using some

[2013-12-10 23:18] #859 closed, assigned to janvojt

[2013-12-11 09:10] tomas-knap opened #894 "Cannot copy public DPU template"
Solution: It should be possible to copy all templates visible to the user

[2013-12-11 09:12] tomas-knap opened #895 "Scheduller - run after another pipeline"
When setting in scheduller "run after another pipeline", in the list of pipelines this pipeline will run after I should not see pipeline for which the current scheduled event is prepared.

[2013-12-11 09:14] tomas-knap opened #896 "SPARQL Extractor/Loader - SPARQL Endpoint should not be prefilled"
Currently, there is a value http://, which is prefilled. THis is wrong. The field should be empty and mandatory - user has to fill the value.

Solution: Show http://localhost:8890/sparql as a hint to the user (greyed) in the textbox for SPARQL endpoint. Adjust in both cases - extractor/loader

[2013-12-11 09:16] tomas-knap opened #897 "Pipeline confict - the current pipeline should not be in the list"
In the list of pipelines with which the current pipeline is in conflict should not be the pipeline itself, this is strange. related to #895

[2013-12-11 09:17] kukharm commented on #894
According to the documentation
"Only DPU templates at the third level can be copied. DPU templates on the second level in the tree must be manually created. "

[2013-12-11 09:19] tomas-knap opened #898 "Check all text fields and provide user friendly error message"
WHen going to settings -> myAccount and filling "aa" to number of items on page, it displays an error, which is ok, but the text of the error must be more user friendly - It should be understandable to nonIT person - so something like "Number of pages in the list must be a number. You entered XX. Please correct that before saving. "

Please check that for all text boxes in the core app (not for di

[2013-12-11 09:22] tomas-knap commented on #894
You are right

[2013-12-11 09:22] #894 closed, assigned to kukharm

[2013-12-11 09:27] skodapetr commented on #897
Well It's actually the use-case from Jakub. From first point of view it may be confusing (hope the documentation helps here). The reason for this is to enable run only one instance of given pipeline at time.

reassigned to me

[2013-12-11 09:30] skodapetr commented on #895
Reassign, I think I'm the right person for this as I'm author of the container used in this case.

[2013-12-11 09:33] tomas-knap commented on #897
Ok, the documentation should probably help, please tell maria how the user documentation should be extended and assign on her

[2013-12-11 10:09] bogo777 commented on #880
There are 2 ways how I'm getting DPUs now:
1. for finished/failed/cancelled pipelines - from execution context - only DPUs which were executed are shown
2. for running pipelines - ALL planned DPUs are shown

[2013-12-11 10:19] tomas-knap opened #899 "Caching - container"
I created new pipeline, add RDF Extractor, set it as in #872 . I saved the pipeline, forgot to specify the name, added pipeline name, saved,  run the pipeline in debug (ony the extractor DPU) from canvas and:

![screen shot 2013-12-11 at 11 09 39 am](https://f.cloud.github.com/assets/3014917/1722898/6fe88524-624d-11e3-922d-6f1b4386555b.png)

2013-12-11 11:09:32,457 [http-bio-8080-exec-16] ERROR cz

[2013-12-11 10:22] tomas-knap commented on #872
JJ, je to ok

[2013-12-11 10:22] #872 closed, assigned to tomesj

[2013-12-11 10:22] #871 closed, assigned to skodapetr

[2013-12-11 10:23] tomas-knap commented on #866
I created a special issue for better notification messages

[2013-12-11 10:23] #866 closed, assigned to kukharm

[2013-12-11 10:29] tomas-knap commented on #848
Maria, just one thing. When entering wrong value to some textbox, it is silently replaced with a correct value. That is not correct behaviour.

Solution: When there is an error in the configuration and user tries to save it, an error message should appear as in #898. You should not automatically replace the inserted value with the default value. User has to correct it manually.   Please check this

[2013-12-11 10:29] #867 closed, assigned to skodapetr

[2013-12-11 10:30] #770 closed, assigned to kukharm

[2013-12-11 10:30] #747 closed, assigned to janvojt

[2013-12-11 10:33] #526 closed, assigned to jakubklimek

[2013-12-11 10:34] tomas-knap commented on #763
Is this solved by the aspects?

[2013-12-11 10:36] tomas-knap commented on #635
What is the status of this issue?

[2013-12-11 10:38] tomas-knap commented on #880
Ok

[2013-12-11 10:40] #890 closed, assigned to tomesj

[2013-12-11 10:46] tomas-knap commented on #885
Please summarize the findings, so what is the improvement in the performance

[2013-12-11 10:53] #232 closed, assigned to bogo777

[2013-12-11 11:03] tomesj commented on #888
Pipelina SPARQL TRANSFORMER TEST u mě seběhla pro Virtuoso i pro Local bez problémů a obsahovala příslušná data.

Byla taktéž přidána třída AddQueryGraphsTest testující přidání grafů v případě SPARQL transformer.

Tím by tedy mělo být vše splněno :-)

[2013-12-11 11:26] tomas-knap commented on #888
Jirko a v cem byl tedy problem? Dle commitu to vypada, ze jsi nic nemenil.

[2013-12-11 11:35] tomas-knap commented on #598
The deleting of the debug named graphs in virtuoso could take tens of minutes. I would suggest that when the user clicks on "delete button", message like: "Datum: Task for deleting the graphs was planned.". Backend by to spustil, provedl a az by bylo hotovo, tak by frontend pouze zobrazil hlasku "Datum: Task for deleting the graphs was finished successfully, 10 named graphs was deleted"

It should

[2013-12-11 11:44] tomesj commented on #888
Problém byl jen, že pro lokální repozitář se graf dříve nepřidával, protože to nebylo potřeba. Chybu to vyřešilo
- změna je v commitu 0465fe299e5489db53ea9c0cedc405fa743c8b76, který jsem už dal k issue #890

[2013-12-11 12:08] tomesj commented on #885
How I was written on skype
- with get InputDataStream using construct query - there was no problem (same time as using contruct query direct in Virtuoso dialog)
- problem is that RDFParser parse data data stream slower, if that input data stream from construct are too large.
- time of parsing is of cource longer for Statistical and error handler, but defauft handler and TripleCountHandler (simple

[2013-12-11 12:08] janvojt commented on #763
I described my problem on [stackoverflow](http://stackoverflow.com/questions/20428248/can-i-weave-aspect-into-same-maven-module-it-was-defined-in-and-into-a-3rd-party), but I got no answer. I will try to solve it myself tonight. It is only about configuring maven, everything else is working.

[2013-12-11 12:14] tomas-knap commented on #763
Ok, or you may wait one or two days just in case some answer arrives. If not, then you finish it yourself

[2013-12-11 12:19] tomas-knap commented on #885
Ok, so you optimized the use of shared connection and all operations working with RDF store should be faster? What is the idea of the optimalization?

[2013-12-11 12:21] tomesj commented on #877
Základní myšlenka úpravy:
Abychom zabránili výpadkům v případě DB/Virtuosa, bylo třeba, abychom podchytili všechny operace/metody, které používají nějaké spojení s Virtuosem. Jde o všechny metody týkající se interface RepositoryConnection, kterou náš Virtuoso repozitář používá.

Z tohoto důvodu byla rozšířena třída FailureTolerantRepositoryWrapper (vytvořená původně Honzou), kde už byly dříve ošet

[2013-12-11 12:22] tomesj commented on #885
Yes, you right, because all RDF operation are depended on connection (RepositoryConnection).

[2013-12-11 12:26] tomas-knap opened #900 "Linux script for generating dependencies of DPUs"
Based on PowerShell script

[2013-12-11 12:29] tomas-knap commented on #885
And what was the idea of the optimalization, where was the problem with the previous FailureTolerantRepo?

[2013-12-11 12:46] tomas-knap opened #901 "cannot login to the application"
I just installed new version on ODCS and tried to log to frontend using admin/test, but I got:

![screen shot 2013-12-11 at 1 41 17 pm](https://f.cloud.github.com/assets/3014917/1723795/b0ab3fe8-6261-11e3-8d83-839c6b3868cc.png)

I was checking the database, it is running properly. Configuration is also ok. There is no log in frontend.log.  Any idea? Could be connected with adjustments of FailureTo

[2013-12-11 12:47] skodapetr commented on #901
Frontend's log?

[2013-12-11 12:47] tomas-knap commented on #901
nothing there

[2013-12-11 12:47] tomas-knap commented on #901
@tomesj

[2013-12-11 12:52] tomesj commented on #885
The problem was, that if some method in FailureTolerantRepo need connection for it´s execution - this connection was getting as calling repository.getConnection() method and this was´n optimal, because if some connection has been existed yet, the system try to get the next connection (but really the same - it´s time consuming).

Now this method is called only, when it is necessary - we have null s

[2013-12-11 12:52] skodapetr commented on #901
No exception you are right but still .. there is:

[code]

Unfortunately I can't see reason for this ..the strange thing is that ..

[code]

This should basically never happened. It seems to me .. like spring decide to close some beans .. for "uknown" reason.

[2013-12-11 12:55] tomesj commented on #901
How is this problem related with me ?

[2013-12-11 12:56] skodapetr commented on #598
I do not know how to easily archive this unfortunately. We only directional communication channel from Frontend to Backend now.

On the other hand .. we can use special thread in Frontend for this. Assume that this is not commonly called function. Neb, bych čekla, že tohle bude výpočetně náročné spíše pro virtuoso a naše aplikace čeká?

[2013-12-11 12:56] tomas-knap commented on #901
Just an idea that it might have been caused by adjusting the failure tolerant connection?

[2013-12-11 12:58] tomas-knap commented on #901
Yes, there is such log, bug if you try to login again and again, the log is not showing any new such messages, so actually these logs might be associated with some activities before the new version was deployed?

[2013-12-11 12:59] tomas-knap commented on #598
yes, could be also. But the current situation were I have to wait actively is not good

[2013-12-11 13:03] skodapetr commented on #901
You are right, it could be .. but then it's .. the spring should log some messages when it starts and as the Vaadin's main UI is spring bean we should not see this if the spring does not start .. but then there should be the logs about that.

I have no other suggestions then ..  delete log file (just for sure) and try to reset the application. But maybe someone else can come up with some smarter a

[2013-12-11 13:05] tomesj commented on #901
The class FailureTolerantRepoWrapper [1]  is not related with loggin to ODCS, I am sure :-)

It have to be another problem. I have version from yesterday (with change of [1] ) and there was no problems with loggin.

It´s maybe somethere in last X commits or bad config/DB settings :-) Difficult to say.

[2013-12-11 13:07] tomas-knap commented on #901
Petre, Jirka, could you pls try the latest version on local host? If you are able to log in normally?

[2013-12-11 13:08] skodapetr commented on #598
Yes the waiting is really bad .. we can have some static "storage" .. at the user request start the thread .. set flag in storage to "executing" .. disable button and show this message. User can work .. see other pages .. and when pruning ends we can show this information in the "pruning  view" that the operation is done ..

or try to show some notification .. but still the notification will be su

[2013-12-11 13:17] tomesj commented on #901
I have no problem with loggin in latest version on localhost :-)

[2013-12-11 13:21] skodapetr commented on #901
No problem on my localhost

[2013-12-11 13:37] tomas-knap commented on #901
the problem is that i do not see any log, so I do not know where to start. I tried to redeploy odcs and restart tomcat, restarted db

[2013-12-11 13:41] skodapetr commented on #901
And does it work on your local host? What about the tomcat logs?

[2013-12-11 14:51] skodapetr commented on #897
Dobře, tedy @kukharm pro připomenutí: v seznamu konfliktních pipeline jsou všechny pipeline .. pokud je některá pipeline přesunuta do toho seznamu vpravo . tj. je konfliktní, tak se ta aktuální pipeline (tak ke které jsou to konflikty) čeká až skončí executions těch konfliktních a až pak se pustí její exekuční část (čeká ve stavu running).
Pokud vyberu pro pipeline A konflik s A .. tak to znamená,

[2013-12-11 14:56] skodapetr commented on #895
Přidal jsem k InMemorySource metody (as asi špatně napsal číslo issue :( ) .. pro add, remove položky .. tedy mělo by být možné podle aktuálně zvolené pipeline odebírat-přidávat tento seznam.

Neb není nejlepší při každém výběru, znovu načíst celý seznam .. a pak jen jednu odebrat.

Bohužel, trochu nerozumím kódu (v SchedleDialogu) a jeho struktuře, tedy předávám Marii jako autorce, snad jí úprava

[2013-12-11 14:58] skodapetr commented on #893
@tomesj Sice je to iterace 5, ale i tak, proč mít otevřený issue. Máš tedy Jirko nějaké podklady? jestli ne, tak jeslti by jsi to tu zavřel a půjdeme zase o dům dál :)

[2013-12-11 15:26] #796 closed, assigned to skodapetr

[2013-12-11 17:49] janvojt commented on #862
This is resolved by ab28c820 in #859.

[2013-12-11 22:26] tomesj commented on #893
Já tu chybu někde viděl, až ji najdu, tak ti jí sem dám, prozatím Ti to tedy zavřu :-)

[2013-12-11 22:26] #893 closed, assigned to skodapetr

[2013-12-12 09:21] tomas-knap opened #902 "Cancelled executions are restarted when the backend is again onlince"
TO reproduce: On ODCS, I cancelled executions:

![screen shot 2013-12-12 at 10 16 28 am](https://f.cloud.github.com/assets/3014917/1731696/912bd238-630e-11e3-9939-421e6ffbd9c1.png)

They are not properly cancelled, because extractor does not support cancelling.

Then I restarted backend and these cancelled executions are restarted - even if they were cancelled and have strict timing in scheduller:

[2013-12-12 09:23] tomas-knap opened #903 "NullPointer exception when clicking on Scheduller"
When clicking on scheduler menu item:

![screen shot 2013-12-12 at 10 11 04 am](https://f.cloud.github.com/assets/3014917/1731703/e98100e8-630e-11e3-958a-b1d5f04e984f.png)

In the logs;

2013-12-12 10:18:51,817 [http-bio-8080-exec-7] ERROR cz.cuni.mff.xrg.odcs.frontend.AppEntry - Uncaught exception
java.lang.NullPointerException: null
    at cz.cuni.mff.xrg.odcs.frontend.gui.views.Scheduler.getTab

[2013-12-12 09:27] #899 closed, assigned to skodapetr

[2013-12-12 09:29] tomas-knap opened #904 "Browse/Query - greyed combo box and button if no data available for download"
If no data is available, download button below the table with data must be greyed:

![screen shot 2013-12-12 at 10 28 13 am](https://f.cloud.github.com/assets/3014917/1731731/d46bb1b6-630f-11e3-87ad-49c1416a33d0.png)

[2013-12-12 09:39] tomas-knap opened #905 "Menu behaves strange when screen is resized"
![screen shot 2013-12-12 at 10 35 49 am](https://f.cloud.github.com/assets/3014917/1731779/337513cc-6311-11e3-832d-a19f4cfe6355.png)

Menu should not shrink

[2013-12-12 09:44] skodapetr commented on #905
I do not even know that Vaadin have this functionality.
imho: on the other hand it's more like it's not a bug it's a feature. On the small screen (like the ine in the picture) you do not have to scroll in order to have full access to the menu.

[2013-12-12 09:55] skodapetr commented on #903
I believe that the source of the problem was on the lines:

[code]

where item is Schedule, if the description is null (and there are null values in odcs's database) then this throw NPE. So I have added the null check into the code.

[2013-12-12 10:07] tomas-knap opened #906 "Scheduller should show ID"
scheduller should show event ID as the first column as in pipelineList, execMonitor

[2013-12-12 10:08] tomas-knap opened #907 "Align DPU TEmplates-> DPU Instances with PipelineList"
DPU TEmplates -> DPU instances:

DPU Instances show all the pipelines user may normally see (the content is the same as for PipelineList)
Just check that it is the same as for pipelineList

[2013-12-12 10:09] #903 closed, assigned to skodapetr

[2013-12-12 10:19] tomas-knap commented on #864
Still, if I e.g. set 5 as num of rows, there is extra vertical scroll bar:

![screen shot 2013-12-12 at 11 17 39 am](https://f.cloud.github.com/assets/3014917/1732060/aea525aa-6316-11e3-9ddf-2dbedc01bd70.png)

Also appears for pipelineList and scheduler probably

[2013-12-12 10:20] #833 closed, assigned to skodapetr

[2013-12-12 10:25] #843 closed, assigned to kukharm

[2013-12-12 10:25] #815 closed, assigned to bogo777

[2013-12-12 11:43] tomas-knap opened #908 "context.getLasExecutionTime variants"
currently: context.getLasExecutionTime - returns the last successfull runtime

There should be variants of these methods (proposal):
context.getLastSuccessfullExecutionTime - behaves as context.getLasExecutionTime so far, for public pipelines it returns the last run time even if run by anohter user, for private it shows the last run time even if run by admin
context.getMyLastSuccessfullExecutionTi

[2013-12-12 12:27] tomas-knap opened #909 "Pipelines in strange state in exec monitor"
When looking at ODCS, on executions 725-730, something strange happened there:

Although the exec  detail says pipeline finished, it is still in the cancelling state:

![screen shot 2013-12-12 at 1 22 22 pm](https://f.cloud.github.com/assets/3014917/1732832/13541018-6328-11e3-986e-b7b861d1180f.png)

Or pipeline is in the state of running in exec monitor, but based on the events, it has already fin

[2013-12-12 13:27] bogo777 commented on #864
Tested in Chrome, Firefox and IE, no scrollbar anywhere. Only case when vertical scrollbar appears is, when I increase column width so that horizontal scrollbar appears, but after a moment, table is resized and vertical scrollbar dissappears.

It looks like Safari specific problem. Does it appear when there is no horizontal scrollbar? Is table resized when horizontal scrollbar dis/appears?

[2013-12-12 13:30] bogo777 commented on #891
For this to work correctly we would have to save paging/filtering information as part of url. Such change will take some time. I will start with paging first.

[2013-12-12 13:32] bogo777 commented on #481
Menu's html is generated by Vaadin, looked for any arcticles/info about this, haven't found any yet.

[2013-12-12 13:36] tomas-knap commented on #864
I am testing just on Chrome, 31.0.1650.63

[2013-12-12 13:37] tomas-knap commented on #864
Ok, may be this is the case, that it appears because of the horizontal scrollbar. But what is the reason for that?

[2013-12-12 13:37] tomas-knap commented on #864
Do not waste much time on that, just if you know

[2013-12-12 13:44] tomas-knap opened #910 "Combo with 10+ DPU instances"
If the pipeline has more then 10 DPUs, then, when looking at combo box in exec monitor detail, strange things happen. It shows the first cca 9 items. When clicking on the link to get more:

![screen shot 2013-12-12 at 2 42 57 pm](https://f.cloud.github.com/assets/3014917/1733229/7fbf3eca-6333-11e3-81aa-726024ce4461.png)

[2013-12-12 15:33] skodapetr commented on #891
Do we? really? I mean .. the pages are spring beans .. with scope "session" so we can basically hold them .. and reuse them - so we can show the page in the last state.

But also the questions if our application design is ready for this (and I believe it's not :( .. it can be easier to use URL as Bohuslav suggest.

I just want to mention this as imho a possible solution.

[2013-12-12 16:43] tomesj commented on #889
That is not true,
- first part defined on line 347 is set to String query (see line 359), and then is prepared second part used in next while cycle (on line 360). If next data part doesn´t exist null value is return and while cycle ends.

For loading is used method getEndpointStreamReader with parameter query (line 367)

[2013-12-12 17:55] skodapetr commented on #902
The problem has no relation to the .. cancelling state .. no so long ago I have updated the run-after functionality and made some mistakes .. which results in this behaviour .. it should be ok now .. for every case I have added some logs.
I also add special message for cancel-saniteyer.

[2013-12-12 17:57] skodapetr commented on #909
Je to divné .. prohlédnu logy. Zkusil bych redeploy poslední verze - to by mělo pomoci s #902 a snad ukončit ty vysící. Také jsem přidal pár logů jenž by měli napovedět jak k této situaci došlo, bez toho pro to nemám snadné vysvětlení.

[2013-12-12 17:59] skodapetr commented on #901
@tomas-knap  jak se to nakonec vyřešilo? pokud to bylo nějak z "nebe" tak bych to uzavřel, neb myslím, že nemáme představu o příčině

[2013-12-12 18:56] janvojt commented on #635
OK, I actually found out, that the around advice **is** being triggered, but the code does not do what I expect. I thought it is not triggered because a debugger breakpoint was not hit. From a brief googling I found the reason...

Now I only need to find the error in the code. I will try to extract as much code as I can from the around advice to separate method, so I can use debugger.

[2013-12-12 19:50] tomesj commented on #886
So I tried browse on the large collection (7 milions triples)
- if you open concrete pipeline, click on BROWSE first is time ~8s
- then if you change DPU, input/output, and click on BROWSE - time is always very short ~1s

[2013-12-12 19:52] tomesj commented on #884
Solved. SPARQL extractor supported CANCEL now :-)

[2013-12-12 22:35] janvojt commented on #763
Allright, it works.

[2013-12-12 23:07] bogo777 commented on #891
Well Back button and its action is made by browser and it is not detectable as different from direct URL access in Vaadin. For menu clicks we could propably differentiate.

I looked at this and using uri fragment seems like standard solution for this in Vaadin. And it shouldn't be too hard, there is already working example for paging in pipeline list.

[2013-12-12 23:14] #763 closed, assigned to janvojt

[2013-12-12 23:15] janvojt commented on #635
Solved by commit 853b688. I am closing #763 and leaving this issue for retest.

[2013-12-13 07:07] jakubklimek opened #911 "Top bar should remain visible when scrolling down"
Top bar should remain visible when scrolling down, not like this:

![image](https://f.cloud.github.com/assets/718827/1740377/2812103e-63c5-11e3-8547-e04b76d8215e.png)

[2013-12-13 07:08] jakubklimek opened #912 "Authentization: implement "remember me" functionality"
So that I don't need to log in every time I come to odcs

[2013-12-13 07:10] jakubklimek opened #913 "Execution monitor: Execution list (left part) overflow and no scrollbar"
![image](https://f.cloud.github.com/assets/718827/1740388/a6d19ba6-63c5-11e3-9a3b-29045d7724a9.png)

[2013-12-13 07:27] jakubklimek opened #914 "DPU template upload: NPE"
Create DPU template, upload. NPE. Try again again and it is OK.

[2013-12-13 08:35] tomas-knap commented on #914
gov-cz dpu

[2013-12-13 08:35] #901 closed, assigned to skodapetr

[2013-12-13 08:36] tomas-knap commented on #763
How did you solve it finally?

[2013-12-13 08:37] tomas-knap commented on #763
uz vidim

[2013-12-13 08:38] tomas-knap commented on #886
Thanks, why does it take 8s first time? What is the reason for that?

[2013-12-13 08:39] tomas-knap commented on #886
@bogo777  do you have any clarification why it is much slower first time?

[2013-12-13 08:41] tomas-knap commented on #909
Ok, zkusim redeploy a uvidime

[2013-12-13 08:41] bogo777 commented on #886
I don't. I will add some logging, so we see, where it spends this time.

@tomesj  Could you give me the guide how to generate 7 milion triples?

[2013-12-13 08:49] tomas-knap opened #915 "Minor adjustment to notification dialog"
The current notification dialog for scheduled event:

![screen shot 2013-12-13 at 9 46 53 am](https://f.cloud.github.com/assets/3014917/1740782/391ed264-63d3-11e3-9c6e-8842f7cbfd4a.png)

Instead of "Overwrite default settings for all scheduled events with the following:" please use "Use default notification settings", which is checked by default. If it is checked,  notification for the event is gr

[2013-12-13 08:52] tomas-knap opened #916 "When opening schedule event dialog, it should open always on the core tab"
Motivation: Now, if I open schedule events, switch to notification and close. Then, when opening different event, notification is shown.

[2013-12-13 09:07] tomas-knap commented on #914
cannot reproduce

[2013-12-13 09:08] tomas-knap commented on #912
done already

[2013-12-13 09:08] #912 closed, assigned to tomas-knap

[2013-12-13 11:21] tomesj commented on #886
@bogo777
The simples way how to get graph with 7 milions triples:
1) Download file with 7 milions triples / or something size like this
2) Load this file in your concrete named graph through Virtuoso conductor -> Linked Data ->Quad Store Upload

I actually don´t have this file on my disk yet, only graph in Virtuoso,

But you can used file like this:
9,8 mil triples
http://www.cs.toronto.edu/~oktie

[2013-12-13 11:50] tomas-knap commented on #886
Bohuslave, pro ty data, napis si pipeline se SPARQL extractorem, ktera stahne nejaka vetsi data. Inspiraci muzes brat tu: http://linked.opendata.cz/ Je tam seznam datasetu, i s prislusnym named graph, ktery zadas do konfigurace SPARQL extractoru. Adresa SPARQL extractoru je http://linked.opendata.cz/sparql

[2013-12-13 11:51] tomas-knap commented on #886
Vystup extraktoru pak zkus zobrazit v browseru. Pro zjisteni poctu triplu v datasetu: klikni na dataset na linked.opendata.cz a dostatnes statistky

[2013-12-13 12:17] tomas-knap commented on #885
Jirko, jeste dotaz, proc pouzivas pro SPARQL extrakci (validace nezaskrtnuta) ten nas tripleCountHandler? Podle me se ti to urcite o 20-30% zrychli kdyz budes pouzivat primo ten jejich handler (ted ho jen prevolavas). Zkus to prosim. Tedy zmer prosim jak dlouho trva neco nacist ted a jak dlouho trva to same jen s tim jejich defaultnim handlerem.

[2013-12-13 12:18] tomas-knap commented on #885
Pouzij ten priklad v zahlavi issue

[2013-12-13 12:20] tomesj commented on #885
Dobře, vyzkouším a dám vědět co a jak, ale řekl bych, že se moc neušetří :-)

[2013-12-13 12:23] tomas-knap commented on #889
jj, vidim, ok

[2013-12-13 12:23] #889 closed, assigned to tomesj

[2013-12-13 12:30] tomas-knap commented on #884
Jirka, and what about the statistical handler?

[2013-12-13 12:34] tomas-knap commented on #877
Jirko, otestuj prosim jeste, ze pri vypadku a obnoveni spojeni se zadna data neztrati. Tedy pust si na necem extraktor, koukni na vysledek. Pak to pust jeste jednou, v prubehu extrakce shod virtuoso a zas nahod (klidne vicekrat) a koukni jestli je pocet vyslednych triplu stejny

[2013-12-13 12:43] tomesj commented on #884
CANCEL is suported in Statistical Handler too, but this is implemented in TripleCountHandler. It is supported thanks inheritance.

[2013-12-13 13:13] kukharm commented on #896
"http://" was set directly in DB i changed file  data.sql in project. For changes in local DBs it needs to use script prepared by Jirka (i'll send in email).

[2013-12-13 13:29] tomas-knap opened #917 "If DPU (SPARQL Extractor) is cancelled, it should not try to reconnect"
If if it is set to be reconnected indefinitely

[2013-12-13 13:30] bogo777 commented on #886
Zkusil jsem 5 extractorů z různých grafů z linked.opendata.cz, ale ač ukazují, že mají přes milion triples, tak se mi jich vždy extrahuje jen 10001. A výsledný graf, který má 50005 triples přes conductor, tak v Browse/Query ukazuje 667 stran \* 15 triple na stránku = opět jen 10000 triples.
Předpokládám, že problém je někde na naší straně? Je potřeba někde něco nastavit?

[2013-12-13 13:33] tomas-knap opened #918 "SPARQL Extractor - settings how many times it should try to reconnect in case of problems"
Motivation: If I put wrong connection string, it tries to reconnect indefinitely

Solution: As for SPARQL loader, extractor should be also configurable regarding how many times it tries to reconnect in case of problems. Default is 10.

[2013-12-13 13:44] tomesj commented on #885
Tak jsem naměřil následující výsledky:

Použitý endpoint: http://internal.opendata.cz:8890/sparql
Použitý named graf: http://linked.opendata.cz/resource/dataset/seznam.gov.cz/ovm/list
Použitý dotaz:

PREFIX s: http://schema.org/
CONSTRUCT {?address ?p ?o}
WHERE
{
?address a s:PostalAddress ;
?p ?o .
}

Použité handlery a získané časy:
1) Statistical and error handler - průměrný čas 2:06 (naměřeno

[2013-12-13 13:46] tomas-knap opened #919 "SPARQL Extractor - Connection broken and restored - confusing numbering of attempts to reconnect"
I launch Extractor test pipeline on ODCS (one extractor). I was using virtuoso to store results. Then I killed virtuoso. As a result, strange messages occur:

![screen shot 2013-12-13 at 2 35 43 pm](https://f.cloud.github.com/assets/3014917/1742463/5f2d9020-63fc-11e3-839a-9818f2575d8f.png)

It seems to me that there are lost of threads trying to reconnect, which is wrong.

Also it seems to me that

[2013-12-13 13:52] tomas-knap commented on #886
10000 byva standardni limit poctu vracenych records ve virtuoso.ini pro praci se SPARQL. Zvedni si jej. Nebo pouzij localRDF misto virtuosa

[2013-12-13 13:54] tomas-knap commented on #885
Ok, to jsi zkousel s ukladanim mezivysledku do virtuosa nebo localRDF?

[2013-12-13 13:55] tomesj commented on #918
Default is -1 (infinity), not 10 (this is default chunkSize).

So I add these parameters (attempts count + time between them) to SPARQL extractor dialog same as to SPARQL loader, OK ?

[2013-12-13 13:57] tomesj commented on #877
Tohle jsem už jsme zkoušel (hned jako první) a co se týká dat, tak nedochází ke ztrátám :-)

[2013-12-13 13:57] tomesj commented on #885
S ukládáním výsledků do Virtuosa :-)

[2013-12-13 13:57] tomas-knap commented on #917
Jirka, can this be done easily?

[2013-12-13 13:58] tomas-knap commented on #918
Ok, but it is connected with #917, if sparql extractor is cancelled, it should not try again and again to connect using wrong connection string

[2013-12-13 14:01] #916 closed, assigned to bogo777

[2013-12-13 14:01] janvojt commented on #919
- the counter for attempts is not thread-local.
- I am not sure how many repositories (and thus wrappers) are initialized here.
- attempts++ is not atomic operation (in Java)

[2013-12-13 14:07] bogo777 commented on #910
It was caused by refreshing the DPU list. But it is changed only upon finishing the execution, so it is now the only time it will be refreshed.

[2013-12-13 14:07] tomas-knap commented on #919
Ok, so what happens when the connection is lost? SPARQL extractor tries to obtain connection again and again, always gets a different connection from the pool, which reports that database is down? This looks really strange.

Jirka, why there is no timeout, e.g. 1s between reconnects? This should be solved by #918, right?

[2013-12-13 14:09] tomesj commented on #917
Nevím, jak to přesně je myšleno - nějaký příklad by nebyl ?

Když se extrakce to dostane do metody getEndpointStreamReader, kde se získává stream s daty z endpointu, tak se to získávání spojení řídí počtem pokusů (neboť tato metoda je univerzální pro více použití a tak nemůže mít v sobě context sledující přerušení).

Přerušení se dá udělat buď před tím nebo až během parsování dat.

[2013-12-13 14:14] tomas-knap commented on #598
Petre, udelal bys tedy prosim to vlakno ve frontendu? Zaukoluj kdyztak marii/bohuslava, aby ti upravil GUI hlasky, pokud potrebujes

[2013-12-13 14:23] tomesj commented on #919
Yes, there is timeout between reconnection - in FailureTollerantWapper (line 237), in method getEndpointStream in BaseRDFRepo (line 1608)

[2013-12-13 14:31] jakubklimek opened #920 "calncelled"
![image](https://f.cloud.github.com/assets/718827/1742858/30d826fc-6403-11e3-878b-da29c3954149.png)

[2013-12-13 14:34] tomas-knap opened #921 "Check that autorization works as defined below"
https://docs.google.com/document/d/1DW6NtUmRFS2tlWu-FeHlsXTS2u45atyCrBY8BYM6uag/edit

We tried to simplify that as much as possible.

Ask Bohuslav to prepare:
In pipeline detail: Public-R: add such possibility to pipeline edit (user may set the pipeline to be private, public-R, public-RW) (Bohuslav)
Instead of header “Editing pipeline”, use header “Pipeline detail”. In case user has only Public-R

[2013-12-13 14:35] tomas-knap opened #922 "Authorisation - support"
https://docs.google.com/document/d/1DW6NtUmRFS2tlWu-FeHlsXTS2u45atyCrBY8BYM6uag/edit

related with #921

[2013-12-13 14:35] tomas-knap commented on #921
Related to #922

[2013-12-13 14:41] tomas-knap commented on #919
Jirka, but how is it possible that the extractor is started 7x or even more? After running one pipeline with one extractor, I have in the log (every error is associated with one instance of SPARQL extractor):

2013-12-13 15:30:50,547 [dpu: SPARQL Extractor] ERROR exec:745 dpu:474 cz.cuni.mff.xrg.odcs.extractor.rdf.SPARQLExtractor - Expected an RDF value here, found '§' [line 4123]
2013-12-13 15:30

[2013-12-13 14:52] tomesj commented on #919
Im really don´t know why it is started 7 or more times. I have never met with this example and I have no reason what is source of this problem.

[2013-12-13 14:57] tomas-knap commented on #920
opravil jsem preklep

[2013-12-13 14:59] tomas-knap commented on #919
Ok, we are checking that with Petr

[2013-12-13 15:00] skodapetr commented on #919
Jirka je v tomhle asi nevinně .. tohle půjde za mnou, tedy tolik k pátečnímu volnu ...

[2013-12-13 15:01] tomas-knap commented on #917
Mno, problem je kdyz zadas spatnou adresu SPARQL endpointu. Pak se ti to reconnecti porad a nejde to zrusit. Si zkus udelat pipeline se SPARQL Extractor a zadej nejaky neexistuji endpoint.

[2013-12-13 15:18] tomas-knap opened #923 "Backend neuklada nic do DB"
Latest change (yesterday/today till 14:00) caused that events, changes in the pipeline state, ... are not stored to DB - but it should be there according to logs of backend.

If pipeline is in queued state, it starts again and again (state is not stored).

@janvojt  could it be connected with aspects introduced in the recent days?

Connected to #919

[2013-12-13 15:19] tomas-knap commented on #920
see #923

[2013-12-13 15:19] #920 closed, assigned to tomas-knap

[2013-12-13 15:20] tomesj commented on #917
Tak jsem to zkusil a skončilo mi to hned na chybu: UNKNOWN HOST :-)

[2013-12-13 15:20] tomas-knap commented on #919
the problem with the restarting of the pipeline should be solved by  #923

[2013-12-13 15:21] tomas-knap commented on #919
What should we do with:

![screen shot 2013-12-13 at 2 35 43 pm](https://f.cloud.github.com/assets/3014917/1742463/5f2d9020-63fc-11e3-839a-9818f2575d8f.png)

?

[2013-12-13 15:23] skodapetr commented on #923
Zkoum jsem logy .. a narazil na věci jako:

[code]

Tj. pipeline staruje pořád, to by mohlo vysvětlit #919 - ale, po startu pipeline je stav nastaven na running a pak by neměla být spuštěna znova - tj. její stav se nemění (což je vidět i ve frontendu).

Dále k posledním běhům na ODCS jenž se chovají takto podezřele nejsou žádné events= messages i když podle logů by být měli.

Log jako takový tam t

[2013-12-13 15:24] skodapetr commented on #919
To záleží .. nemusí to být špatně .. pokud se tam jedna execution pouští pořád dokola .. mohou to být logy z více executions ..

[2013-12-13 15:34] kukharm commented on #898
Resolved by commit https://github.com/mff-uk/ODCS/commit/57b0b38f5aa5970b69d0092a67ceb7d53395189b

[2013-12-13 15:43] tomas-knap opened #924 "Pipeline canvas - when validation (clicking on validate button) is successful, show notification"

[2013-12-13 15:46] tomas-knap commented on #917
tak zkus dat do sparql endpointu http://localhost:8080/sparql

[2013-12-13 15:51] tomesj commented on #917
Tak tentokráte mi to rovněž skončilo, tentokráte na chybu:
HTTP/1.1 404 Not Found.

[2013-12-13 15:53] tomas-knap commented on #919
Mno, tenhle log to ukazalo hned na zacatku, jeste nez se podle logu backendu stihla spustit dalsi exec. Ale checknu to az bude vyresen #923

[2013-12-13 16:06] tomas-knap commented on #919
Jirko, kdyz uz jsme se k tomu dostali, jak ted funguje ten SPARQL extractor?

Kdyz to popisu na te moji situaci: Pustim SPARQL extractor, dostanes se to az do situace kdyz se vstup zacne parsovat (tj. objevi se v logu parser started). Potom killnu virtuoso, kam parser uklada data (predpokladej, ze v situaci kdy se zrovna provadi handleStatement pro TripleCountHandler). Co se potom stane v kodu? Na

[2013-12-13 16:07] tomas-knap commented on #917
tak zkus http://internal.xrg:8080/sparql

[2013-12-13 16:14] tomesj commented on #917
Tak opět chyba Unknown host :-)

[2013-12-13 16:29] tomesj commented on #919
Když jsme v situaci, že se provádí parsing a provádí se handleStatement pro TripleCountHandler, tak dojde-li k výpadku Virtuosa, tak se zastaví na metodě super.handleStatement(st) - řádek 95. Až dojde k opětovnému navázání spojení, tak to pokračuje dále v kódu :-)

V té metodě super.handleStatement(st). Je někde potřeba určitě potřeba spojení, což oštřří FailureTolerrantWrapper, protože je na to p

[2013-12-13 16:46] tomesj commented on #919
Pro ještě pro upřesnění:
Jde konkrétně o to, že v té metodě super.handleStatement(st), se ten statement st přidává přes metodu add do repozitáře a k tomu je zapotřebí spojení a to je právě podchycenu ve FailureTollerantWrapper.

[2013-12-13 18:02] #915 closed, assigned to kukharm

[2013-12-13 18:16] kukharm opened #925 "Debug exception"
I pressed the Debug button and get exeption
![debug](https://f.cloud.github.com/assets/3471169/1744724/75a57c34-6422-11e3-8eca-300b1d026869.jpg)

pipeline disappeared from pipeline list.

Also when i Run pipeline no information about execution appears on Execution monitor and pipeline list.

[2013-12-13 18:18] kukharm opened #926 "Create scheguling rule problem"
I create new scheduling rule and press save button in the dialog. New scheduling rule does not appear in the table

[2013-12-13 18:19] skodapetr commented on #925
Do you hace stack trace?

[2013-12-13 18:21] skodapetr commented on #926
This can be related to the #923

[2013-12-13 18:24] kukharm commented on #925
java.lang.NullPointerException: null
    at cz.cuni.mff.xrg.odcs.frontend.gui.views.executionlist.ExecutionListViewImpl.buildDebugView(ExecutionListViewImpl.java:344) ~[ExecutionListViewImpl.class:na]
    at cz.cuni.mff.xrg.odcs.frontend.gui.views.executionlist.ExecutionListViewImpl.buildExecutionDetail(ExecutionListViewImpl.java:297) ~[ExecutionListViewImpl.class:na]
    at cz.cuni.mff.xrg.odcs.f

[2013-12-13 18:47] bogo777 commented on #925
Same for me, but it look like execution isn't saved to db. Possibly related to #923.

[2013-12-13 18:52] skodapetr commented on #925
Yes this can be .. it looks like our 923 becomes quite popular. On the other hand, we may consider adding some safety check so we do not get NPE, but better something else?

[2013-12-13 19:10] janvojt commented on #923
Teraz nemam cas to riesit, ale moze to byt tym aspektom. Zakomentujte nad tym mojim aspektom co som vcera menil anotaciu `@Aspect`, ak to zacne fungovat tak je to tym. Zajtra sa nato pozriem. Popravde backend som vobec neskusal ci funguje spravne...

[2013-12-13 19:13] janvojt commented on #923
Je mozne ze sa to bije s aspektom pre backend, ktory zaistuje retry pri spadnuti DB, oba aspecty su na niektorych rovnakych metodach. Inac si neviem vysvetlit preco by to pre frontend fungovalo a pre backend nie.

[2013-12-13 20:04] kukharm commented on #848
Please clarify witch one textbox replaced value and in what scenario. I can not reproduce. When i enter error values to Chunk size,Count of attempts and  Time in milliseconds they  are not replaced after pressing save button. error message is appear.

[2013-12-14 08:10] tomas-knap commented on #925
Yes, please add proper check.

[2013-12-14 08:23] #926 closed, assigned to bogo777

[2013-12-14 09:05] #924 closed, assigned to bogo777

[2013-12-14 11:48] bogo777 commented on #886
I have about 5M triples and it acts little strange. Sometimes it is extremely slow(propably due to RAM), then it takes several seconds and sometimes it is very fast(possibly caching). I added logging when calling RDF queries, so please test it yourself. In any case, it is always stuck on the RDF method(size/data) query, so there is no delay in frontend code.

For first query there is this in the l

[2013-12-14 16:16] tomesj commented on #918
Problem solved :-) Retry parameters add to SPARQL extractor (same as to SPARQL loader).

[2013-12-15 09:09] tomas-knap opened #927 "Problems opening pipeline list due to malformed input"
When trying version from 14.12 (morning), when clicking on pipelines menu item, error occurs:

![screen shot 2013-12-15 at 10 10 02 am](https://f.cloud.github.com/assets/3014917/1750088/b63c4f7e-6568-11e3-8a40-af7f995861cb.png)

Petre, davam na tebe, ale kdyztak prosim reassignuj - prober s Honzou.

Details:

[code]

[2013-12-15 09:12] tomas-knap opened #928 "When pipeline list is prepared, there are quite a lot of queries"
In particular, the particular PPL_Model/nodes are loaded for all pipelines, which is not necessary.

[code]

....

[2013-12-15 09:13] tomas-knap commented on #895
Marie?

[2013-12-15 09:14] tomas-knap commented on #848
Can you please post a screenshot of the error messages?

[2013-12-15 09:15] tomas-knap commented on #917
I will show you on the f2fmeeting

[2013-12-15 09:19] tomas-knap commented on #886
Jirko, hod sem prosim ten query, kterym zjistujes ten pocet zaznamu

[2013-12-15 09:19] tomas-knap commented on #886
The problem which should be solved is why query on count of triples is sometimes very slow

[2013-12-15 09:20] tomas-knap commented on #925
Marie, is there a commit associated with the fix?

[2013-12-15 09:30] kukharm commented on #925
I don't know i tested it after Petr's repair on Friday evening and debug was ok

[2013-12-15 09:31] tomas-knap commented on #925
ok, reassigning. Bohuslav, please add proper null pointer check, just in case.

[2013-12-15 13:38] kukharm commented on #848
![sparqlloader](https://f.cloud.github.com/assets/3471169/1750416/c39be5ec-658d-11e3-9f4d-4cabd3146068.jpg)
I see there only problem with text of error messages, because it don't consist all problems description

[2013-12-15 14:57] tomesj commented on #886
Pokud se jedná o zjištění všech záznamů v kolekci - (tedy dotaz např. CONTSTRUCT {?x ?y ?z} WHERE {?x ?y ?z} ), volá se rovnou metoda - connection.size(), která vrací počet všech záznamů

Pro select se položí dotaz typu SELECT (count(*) as ?pocet) WHERE {....} a ten počet se vrátí jako výsledek...
Pro nějaký obecný jinak omezený contruct dotaz - na základě contruct dotazu se vytvoří graf - ten se

[2013-12-15 16:12] kukharm commented on #848
i corrected the message
![sparqlloader](https://f.cloud.github.com/assets/3471169/1750628/a002b622-65a3-11e3-86ed-c169ce0c1386.jpg)

[2013-12-15 16:52] tomas-knap commented on #848
Ok, I will test

[2013-12-15 16:55] tomas-knap commented on #886
"Pokud se jedná o zjištění všech záznamů v kolekci". Ok a cim se lisi ten pripad "Pro nějaký obecný jinak omezený contruct dotaz - na základě contruct dotazu se vytvoří graf - ten se předá modelu a na tom se zavolá metoda size() - která vrátí velikost :-)"?

"Pro nějaký obecný jinak omezený contruct dotaz - na základě contruct dotazu se vytvoří graf - ten se předá modelu a na tom se zavolá metoda

[2013-12-15 17:03] bogo777 commented on #925
Null pointer check added in 36ed9e0e9593538ef27e7c3c1b276e68f1201483.

[2013-12-15 17:03] #925 closed, assigned to bogo777

[2013-12-15 17:17] tomesj commented on #886
Tak když máš construct dotaz, tak ten vždycky vrací nějaký graf a když chceš zjistit velikost, tak není jiná možnost než to dát modelu a zavolat metodu size.

Neboť samotný graph tuto funkci nemá a kdybys jí chtěl naimplementovat ručně, musel bys vzít všechny ty trojice, které dostaneš, projít je a spočítat kolik jich je, což by nebylo moc dobré.

Nebo víš o nějaké jiné metodě ? Nemůžeme bohužel k

[2013-12-15 17:19] tomas-knap commented on #927
strange chars in pipeline conf

[2013-12-15 17:19] #927 closed, assigned to skodapetr

[2013-12-15 17:20] tomas-knap commented on #886
To jo, ale blbe je, ze v podstate musis vsechny trojice nacist u constructu do pameti abys ziskal jejich pocet, ne?

[2013-12-15 17:25] tomesj commented on #886
Ne, ty dostaneš jako výsledek constructu instanci grafu, takže se drží jen tato instance. Jen tuto instanci dáš modelu a dostaneš instanci modelu s istancí grafu a na ní zavoláš metodu. Myslím, že to není tak, že by se v tom grafu drželi všechny trojice - bude to taky implementované lazy, tedy načtou se, až je skutečně potřeba. Kdyby jsi třeba zavolal iterator na tom grafu pro jejich procházení, n

[2013-12-15 20:40] kukharm commented on #897
i added information https://grips.semantic-web.at/display/LOD2/Pipeline+conflicts

[2013-12-16 07:51] tomas-knap commented on #909
Tak jsem zkusil verzi z 14.12. (rano) a nefunguje to:

![screen shot 2013-12-16 at 8 43 32 am](https://f.cloud.github.com/assets/3014917/1752648/c93606ec-6626-11e3-9815-a9777786cde4.png)
![screen shot 2013-12-16 at 8 43 22 am](https://f.cloud.github.com/assets/3014917/1752649/cd203246-6626-11e3-94c4-f344c6d2d6ea.png)

Pipelines sebehnou, to je ok. Nicmene status se neupdatuje, tedy ackoliv pipelin

[2013-12-16 07:52] tomas-knap commented on #909
Check exec 23108-23112

[2013-12-16 08:03] tomas-knap opened #929 "Validate pipeline before run"
When opening pipeline, I can validate to check that mandatory inputs/outputs/fields are ok for all DPUs, which is great.

![screen shot 2013-12-16 at 8 55 41 am](https://f.cloud.github.com/assets/3014917/1752693/219b0a84-6628-11e3-9fed-198068054bc0.png)

However, when running pipeline with problems with mandatory fields, the problems are revealed only when the DPU with a problem is tried to be use

[2013-12-16 08:22] skodapetr commented on #909
It looks like there is problem in logs flush, I have removed call of this function please try redeploy.

[2013-12-16 11:37] janvojt commented on #635
This change had to be reverted, because transactions were not working. I cannot get spring managed transactions to work in AspectJ mode. I wasted too much time on this. I will start implementing new functionality which is due the end of this week. I will get back to this afterwards, so we can have some progress...

[2013-12-16 11:53] tomas-knap opened #930 "RDF File Extractor - uploaded file at a wrong location"
If I upload a file in RDF File extractor and then run the pipeline, I got:

![screen shot 2013-12-16 at 12 49 59 pm](https://f.cloud.github.com/assets/3014917/1754050/6c36ce32-6648-11e3-843b-3126c6d5a09c.png)

Please test a simple pipeline on ODCS with a single file extractor, upload a file there.

[2013-12-16 11:54] tomas-knap commented on #930
It was working earlier, please explain where the problem is

[2013-12-16 12:01] tomesj opened #931 "After run/debug pipeline is not redraw pipeline status and exucution time"
When I run/debug pipeline  then I am automatically direct to execution monitor, but I pipeline status and exucution time is not change (redraw).

When I click on execution monitor manually or click on other header field and then back, redraw is OK :-)

[2013-12-16 13:36] kukharm commented on #930
I didn't do ​​any changes in  RDF File Extractor in recent times. The uploader of  RDF File Extractor uploads file to template directory of users PC as it was earlier. I checked this template directory and the file really was there.
In execution monitor i get message that Path to file "C:\initlib2\intlib\backend\null\dbpedia2.ttl"doesnt exist. I don't know why application try to find file in C:\in

[2013-12-16 13:45] kukharm commented on #930
I also have problem with file loader path

![fileloader](https://f.cloud.github.com/assets/3471169/1754758/2475cdd6-6658-11e3-8c9d-ce2d12dd4dcf.jpg)

The path i was set in file loader dpu was  С:\ted\testextractor.rdf

[2013-12-16 13:45] skodapetr commented on #930
The description in DPU (on the screen) does not have to be "up-to date". Can you provide screenshot of the configuration screen or even serialized configuration?

Also please .. how did you created the RDF extractor? From some template ?

In this case .. the description is probably out-dated .. this can happen as it's actualized only when DPU is saved and has empty configuration.

[2013-12-16 13:53] kukharm commented on #930
RDF extractor wasn't create from template the instance was placed to canvas from dpu tree. I add  configuration screen of RDF extractor but it isn't contain the path to upload file.. And i checked template directory, the file was there so upload was correct.
![fileextractor](https://f.cloud.github.com/assets/3471169/1754798/27e34286-6659-11e3-9f1b-3cbe32c997e6.jpg)
![fileloaderr](https://f.cloud.g

[2013-12-16 14:26] skodapetr commented on #930
It's not as bad as it may seems to be (the differences between the details, events etc .. ). But still the configuration (xml) from database, and logs .. would help a lot in full understanding of the issue.

[2013-12-16 15:06] skodapetr commented on #928
I have added the previously removed plugin (I was the one who removed it .. when I sanitize the "aspect" ) so it's my fault basicaly .. this decrease the number of queries drastically but .. still there are twice as much queries as there have to be .. as the table is loaded .. then the filters are set and then again the table is loaded .. not a big deal probably, I can discuss this with @bogo777

[2013-12-16 15:07] skodapetr commented on #928
updating the issue from bug to enhancement with low prior and the needs for discussion

[2013-12-16 16:00] tomas-knap commented on #930
@tomesj Jirko, zda se ze problem se tam objevil po jedne z tvych uprav v #849 - projdi si ty commits. Konkretni je problem v tom, ze metoda fileUploadReceiver.getPath() vraci NULL:

if (extractType == FileExtractType.UPLOAD_FILE) {
                path = fileUploadReceiver.getPath() + "/" + textFieldPath
                        .getValue().trim();

[code]

[2013-12-16 16:02] tomas-knap commented on #849
there is problem, see #930

[2013-12-16 16:07] tomas-knap commented on #711
Please propose your solution here

[2013-12-16 16:10] tomas-knap commented on #928
Summary: It could be further improved, data is loaded twice (before and after the filters are set)

[2013-12-16 16:14] tomesj commented on #930
Podívám se na to,
i když tohle je problém, který jsem kdysi sám reportoval a vy jste mi ho potom zavřeli - že prý extrakce z uploadovaného souboru je OK. Je vidět, že není :-)

[2013-12-16 16:19] tomas-knap commented on #635
Ok, so what is the current status? Do you have idea for the workaround?

[2013-12-16 16:27] janvojt commented on #711
I suggest implementing this through an asynchronous AJAX call (similarly to ExecutionMonitor). Let's say the update interval would be 5 seconds. If pipeline canvas is open, asynchronous call will be made every 5 seconds. Upon this call, we will save a timestamp in database, that currently logged-in user had given pipeline open at given time. Each following call will update this timestamp. If times

[2013-12-16 16:31] janvojt commented on #635
The solution is ready, the aspect I wrote works. The problem is integration - if I enable AspectJ in Spring, my aspect works, but transaction aspects stop working.

[2013-12-16 16:33] tomas-knap commented on #861
We will keep it as it is

[2013-12-16 16:33] #861 closed, assigned to skodapetr

[2013-12-16 16:34] bogo777 commented on #711
So it would be saved in table with user? Or in some special table? That would take care of one user who opened multiple pipelines. There is also the "another user saved your opened pipeline" but we could implement that through simple lastChange column in the pipeline table.

It seems easy enough, refresh listener on pipeline canvas which informs about opened pipeline and asks for conflicts.

Other

[2013-12-16 16:39] skodapetr commented on #711
Can we use refresh like in pipeline-execution list instead of push ?
Also I suggest to define some clear interface for this .. between commons-app and frontend.

[2013-12-16 16:45] janvojt commented on #711
No, I will make a dedicated table, because one user can open multiple pipelines in different tabs/browsers.

I agree, sounds reasonable.

I would not mess around with PUSH now, it could bring new problems.

[2013-12-16 16:59] tomas-knap commented on #825
Problem is that data from notification settings for schedulled events are not stored properly. Dialog se chova divne.

![screen shot 2013-12-16 at 5 56 21 pm](https://f.cloud.github.com/assets/3014917/1756473/6fbeab94-6673-11e3-8683-61115ea67562.png)

[2013-12-16 17:01] tomas-knap commented on #825
Create new schedulling rule A , edit notification. Create another schedulling rule B, switch to notification, close. Open the rule A.

[2013-12-16 17:14] bogo777 commented on #931
Does this happen for every execution? Or some specific? There was issue with duration refreshing, but it looks ok now. Please test on the latest version.

[2013-12-16 17:17] bogo777 commented on #711
Ok, so from frontend I would periodically call something like reportOpenedPipeline(User?, Pipeline) and getPipelineConflicts(User?, Pipeline) which would return e.g. None/Opened/Saved? Or maybe only one method, which updates status and gets result, since it has same parameters and would be used in the same place...

[2013-12-16 17:23] bogo777 commented on #913
Column name was changed and width was set for bad column. Please test it now and if this still occurs, can you write your browser and its version?

[2013-12-16 17:27] bogo777 commented on #868
There was bad order of refresh actions on execution list, should be fixed by 473f9b6093e2358d424b51d918bc527b50a3a744

[2013-12-16 17:29] bogo777 commented on #850
Max lenght of column is set in Utils class(now 100). Is it ok? What other value should it be?

[2013-12-16 18:47] tomesj commented on #931
OK, I try it and in case no problem close this issue :-)

[2013-12-16 23:29] janvojt commented on #711
OK, I implemented everything needed in commons-app. I also created a test case, so it should work.

I am reassinging to Bohuslav to implement in frontend. Please use methods `PipelineFacade.createOpenEvent` and `PipelineFacade.getOpenPipelineEvents`.

[2013-12-17 08:32] tomas-knap commented on #930
Jirko, kouknes se na to prosim co nejdriv? Budu tam problem s tou metodu getPath

[2013-12-17 08:32] tomas-knap commented on #825
Marie, tell me please when it will be solved. This is a major problem

[2013-12-17 08:33] tomas-knap commented on #923
Solved by removing aspect which was used to update wrong sequences in DB. Problem - solution for sequences should be different

[2013-12-17 08:33] #923 closed, assigned to skodapetr

[2013-12-17 08:40] tomas-knap opened #932 "Problem with pipeline dbpedia extractor"
Pipeline dbpedia extractor has one SPARQL extractor and one loader. However, when running the pipeline, events contain:

![screen shot 2013-12-17 at 9 29 29 am](https://f.cloud.github.com/assets/3014917/1762526/b1bb5dd4-66f6-11e3-9a67-c50eab692a8b.png)

So there is no record for SPARQL loader
Petre, please check that. If you do not have time today and tomorrow, reassign on Jirka.

[2013-12-17 08:45] skodapetr commented on #932
Based on log .. (not events) both DPUs have been executed, also the event has been published, otherwised there would not been log about starting the second DPU.

I hope that the backend file log gives me more info.

[2013-12-17 08:48] tomas-knap commented on #932
So it seems that certain events are not flushed properly?

[2013-12-17 08:49] kukharm commented on #825
i try to resolve it today

[2013-12-17 09:20] tomesj commented on #930
Aktuálně ladím a hledám, kde je problém, tak snad na to brzy přijdu :-)

[2013-12-17 09:47] tomas-knap commented on #930
ok, diky za info

2013/12/17 Jiøí Tome¹ notifications@github.com

[2013-12-17 11:53] tomesj commented on #931
Yes, it´s fine now :-)

[2013-12-17 11:53] #931 closed, assigned to bogo777

[2013-12-17 11:56] tomesj commented on #930
Problem solved :-) I tested it and it works fine :-)

[2013-12-17 12:44] tomas-knap opened #933 "Log message do not appear in the exec monitor detail/log view"
When looking on exec record 23135, in backend.log, I have:

2013-12-17 09:45:34,819 [dpu: SPARQL Loader] DEBUG exec:23135 dpu:166 cz.cuni.mff.xrg.odcs.loader.rdf.SPARQLoader - Data 1118/1588 part loaded successful
2013-12-17 09:45:36,645 [dpu: SPARQL Loader] DEBUG exec:23135 dpu:166 cz.cuni.mff.xrg.odcs.loader.rdf.SPARQLoader - Data 1119/1588 part loaded successful
2013-12-17 09:45:38,470 [dpu: SP

[2013-12-17 12:48] tomas-knap commented on #933
And the pipeline remains in the running state, because it freezes during loading.

[2013-12-17 12:52] tomas-knap commented on #933
The freezing is caused by Virtuoso

[2013-12-17 13:22] skodapetr commented on #933
Well .. based on logs there was problem with values in the LOG>

[code]

I will add check for this

[2013-12-17 13:30] tomas-knap commented on #902
Not working properly, at least on ODCS.

I just restarted twice backend and executions 23142, 23143, 23135, 23136 are still in cancelling state

[2013-12-17 13:32] #896 closed, assigned to kukharm

[2013-12-17 13:32] #880 closed, assigned to bogo777

[2013-12-17 13:34] #910 closed, assigned to bogo777

[2013-12-17 13:35] #706 closed, assigned to bogo777

[2013-12-17 13:37] #848 closed, assigned to kukharm

[2013-12-17 13:40] skodapetr commented on #902
And the virtuoso is responsible? As from logs and.. when canceling, the DataUnits are deleted .. if they use virtuoso and the virtuoso is iresponsible .. then the cancelling thread wait for virtuoso to responds ..

[2013-12-17 13:50] tomas-knap commented on #902
problem is with virtuoso, otherwise cancelling is ok

[2013-12-17 13:50] #902 closed, assigned to skodapetr

[2013-12-17 14:13] kukharm commented on #825
test please

[2013-12-17 20:58] bogo777 commented on #711
I looked at the methods and it looks like PipelineFacade.getOpenPipelineEvents returns OpenEvents of all pipelines.
Also, there is no way to detect if pipeline was saved by other user.

[2013-12-18 13:57] tomas-knap opened #934 "Problem when creating new pipeline - synchronization"
When I tried to create a new pipeline, I got:

![screen shot 2013-12-18 at 2 54 50 pm](https://f.cloud.github.com/assets/3014917/1773610/2c696f4e-67ec-11e3-919f-4d47737b2faa.png)

[code]

[2013-12-18 13:59] tomas-knap commented on #934
@skodape if you have any explanation, please help

[2013-12-18 14:02] tomas-knap opened #935 "Notification whether I would like to save the changes in the pipeline not shown"
I open the pipeline, add new dpu, close and there is no warning that I will loose my changes. Such warning was already there, why it is not working now?

@bogo777 please help

[2013-12-18 14:17] tomas-knap opened #936 "Canvas with two dependency trees - NPE"
When I created pipeline:

![screen shot 2013-12-18 at 3 09 40 pm](https://f.cloud.github.com/assets/3014917/1773769/e1f10b2c-67ee-11e3-9e46-ae0ccc847a2f.png)

I click debug icon on DPU (file loader) and got:
![screen shot 2013-12-18 at 3 11 25 pm](https://f.cloud.github.com/assets/3014917/1773749/8d50d93a-67ee-11e3-9845-a87463fc46ed.png)

But it is a normal valid pipeline, which has to work.

[2013-12-18 14:19] tomas-knap commented on #936
If I remove the top 2 DPUs, save and try to debug from canvas, it still shows NPE, which is strange. Please explain

[2013-12-18 14:20] tomas-knap commented on #936
Also if I click on exec monitor, to the problematic execution above, I got the same error again

[2013-12-18 14:23] tomas-knap opened #937 "Minor adjustment -browse/query from canvas"
The status and "refresh automatically" should be on the same (one line). Otherwise, when the run finishes, the refresh automatically is removed and whole dialog is shifted one line up

![screen shot 2013-12-18 at 3 22 11 pm](https://f.cloud.github.com/assets/3014917/1773833/d9248b80-67ef-11e3-9973-413e790f1015.png)

[2013-12-18 14:28] tomas-knap opened #938 "URI in the results of the select query not highlighted"
![screen shot 2013-12-18 at 3 27 18 pm](https://f.cloud.github.com/assets/3014917/1773875/98f5fbce-67f0-11e3-94eb-47876ca9fbca.png)

They are highlighted if it is CONSTRUCT query, but not for select

[2013-12-18 14:29] #930 closed, assigned to tomesj

[2013-12-18 14:37] tomas-knap commented on #825
Maria, if i add one email for schedulling rule A, save, open B, open A, I can see only one email - so the problem is still in emails. Testuj prosim poradne

[2013-12-18 14:37] #909 closed, assigned to skodapetr

[2013-12-18 15:18] jakubklimek opened #939 "Time to reconnect > 0? Why?"
![image](https://f.cloud.github.com/assets/718827/1774344/a6cfa6a8-67f7-11e3-84c0-ece299064734.png)

[2013-12-18 15:28] skodapetr commented on #934
Well imho .. the application try to save into table with the "pipepeline_editing_users" which reference the "pipeline" table. But in this time .. the pipeline is not yet presented in "pipeline" table. So it throws and exception .. but just guessing.

[2013-12-18 15:44] #934 closed, assigned to janvojt

[2013-12-18 15:56] #888 closed, assigned to tomesj

[2013-12-18 16:01] tomas-knap opened #940 "Roles"
When adding new user, is there a difference if I say that user has roles:
1) Administrator and User
2) Administrator only

Is there a difference between 1) and 2)?

[2013-12-18 16:06] #862 closed, assigned to janvojt

[2013-12-18 16:08] skodapetr commented on #936
The same exception I also get when I try to debug (run as debug and open the detail in execuiton monitor) the "Copy of Dbpedia extractor", although the pipeline seems to be ok on pipeline edit.

[2013-12-18 16:08] janvojt commented on #940
No, not in current implementation. The "user" role is used, because it is usually done this way in the frameworks I have seen. In our situation, it is unimportant. But I would keep it for future enhancements. For instance, in future we could decide that we want to allow an anonymous user to be authorized with read-only access just to see what the interface looks like. We could simply add a new rol

[2013-12-18 16:09] #933 closed, assigned to skodapetr

[2013-12-18 16:10] #918 closed, assigned to tomesj

[2013-12-18 16:11] tomas-knap commented on #874
How was this issues solved?

[2013-12-18 16:13] tomas-knap commented on #940
Yes, I understand that. But then the dialog for managing users is confusing - when admininstrator is selected, user should be automatically selected as well, right?

[2013-12-18 16:16] skodapetr commented on #932
The problem was in the invalid configuration .. of the Loader (it even show message then the configuration dialog has been opened) .. unfortunately by this .. I close my self the way to test this .. :( but it looks like it has been connected with isValid methods .. it is my fault that there may rise the NPE exception that has been probably the source of the problems ..  the fact that the SPARQL lo

[2013-12-18 16:19] janvojt commented on #940
I agree, this can be dealt with in presentation layer, it is a question of UI.

[2013-12-18 16:20] skodapetr commented on #874
Well we store all logs into the ArrayList before they are flushed into the database (in case we have batch insert, we have it now for virtuoso .. ) ... then once upon the time (4300ms) the flush method is called. The flush method swaps the buffers (ArrayLists) and try to save logs into the database .. if failed then try again and again .. in mean time the logs are stored in the second ArrayList ..

[2013-12-18 16:22] tomas-knap opened #941 "Pipeline conflicts"
Currently, if there is a conflict, pipeline waits and then continues. Another possibility and sometimes better behaviour is that if there is a conflict, the second pipeline is cancelled/ends with error.

Suggested solution: In conflict dialog, I may specify what should happen in case of conflicts:
- pipeline should wait (current behaviour)
- pipeline execution should be cancelled
- pipeline ends w

[2013-12-18 16:25] tomas-knap commented on #940
In manage users dialogs, if Admin role is selected and copied to right listbox, user role is copied automatically as well.

[2013-12-18 16:40] tomas-knap opened #942 "DB updates"
1. Column "Name" for:
   -sch event,
   -dpu record,
   -EXEC_DATAUNIT_INFO
   -> 45chars - this is too restrictive. I would go for 2048, as in other cases.
2.  "description" VARCHAR(512),
   "tool_tip" VARCHAR(255),

All description columns should be LONG VARCHAR, tool tip as well.

Update scripts needed.

[2013-12-18 16:46] tomas-knap commented on #897
Ok, current pipeline should be there

[2013-12-18 16:46] #897 closed, assigned to kukharm

[2013-12-18 16:47] tomas-knap commented on #850
This is fine

[2013-12-18 16:47] #850 closed, assigned to bogo777

[2013-12-18 16:48] #868 closed, assigned to bogo777

[2013-12-18 16:49] tomas-knap commented on #787
Maria, please check that and close

[2013-12-18 16:52] #768 closed, assigned to bogo777

[2013-12-18 16:52] #192 closed, assigned to bogo777

[2013-12-18 16:55] #895 closed, assigned to kukharm

[2013-12-18 16:58] tomas-knap opened #943 "Filtering list of pipelines in dialogs"
When creating new scheduled event - run after another pipeline, the text box filtering the list of available pipeline is not working properly. It should work as a filter - if I write AR, it should filter the list of pipelines available.

![screen shot 2013-12-18 at 5 54 25 pm](https://f.cloud.github.com/assets/3014917/1775344/4bcc1a3a-6805-11e3-8417-64362d034921.png)

In a similar way as for sched

[2013-12-18 16:58] #491 closed, assigned to kukharm

[2013-12-18 17:02] tomas-knap opened #944 "Testing December"
Prepare second instance with virtuoso.

Check loading, what happens if db is down in the middle
Check merging - the data are also split to parts.
Check autorization

Check & compare performance of pipeline runs, browse of RDF data

[2013-12-18 17:08] tomas-knap commented on #874
So when switching e.g. to mysql, we have to copy & adjust batch inserter for virtuoso?
Ok, so I will close?

[2013-12-18 17:10] #932 closed, assigned to skodapetr

[2013-12-18 17:16] skodapetr commented on #874
Maybe .. the mysql seems to be reasonable database so it probably supports the batch update/insert as well. But the SQLAppender is probably one of the places that should be revised in case of database change.

[2013-12-18 17:18] janvojt commented on #921
I believe I am done, assigning to Bohuslav.

[2013-12-18 17:18] tomas-knap commented on #874
ok

[2013-12-18 17:18] #874 closed, assigned to skodapetr

[2013-12-18 17:31] janvojt commented on #860
This seems to be fixed now.

![screenshot from 2013-12-18 18 30 47](https://f.cloud.github.com/assets/2247062/1775674/329e21fc-680a-11e3-92c7-d448e442dafb.png)

[2013-12-18 17:31] #860 closed, assigned to janvojt

[2013-12-18 17:43] skodapetr commented on #929
Unfortunately we can do the same validation in backend as the validation use the dialogs. Still I can add the validation of "edges".

[2013-12-18 19:20] #942 closed, assigned to janvojt

[2013-12-18 19:20] janvojt commented on #942
Update SQL script is in commit message.

[2013-12-18 19:27] janvojt commented on #942
Sorry, update script in commit message does not work for `LONG VARCHAR`. Use this update script instead (will delete descriptions and tooltip):

[code]

[2013-12-18 20:19] bogo777 commented on #936
I tried to reproduce this on local, with no success, it works fine. Will investigate further.

[2013-12-18 21:21] bogo777 opened #945 "Read-only mode for pipeline edit"
Due to Public-RO a Public-RW rights, it is neccessary to have read-only mode for pipeline edit.

This is proposed solution:
Pipeline settings(name, desc, visibility) are read-only.

For pipeline canvas there is already Standard/Develop mode, so for RO only Standard mode is enabled(only possible actions are highlighting DPUs and edges and opening DPU and Edge detail)

Make DPU detail read-only, can

[2013-12-18 21:27] skodapetr commented on #945
Well, I was thinking about this .. I would just "hide" the save button .. and show message "read only mode" .. this do the job .. not the most user friendly solution  .. I agree, but fast, effective  and imho easy to implement

btw. made the configuration dialog is not easy as it's provided by the DPU's author .. and he has access to the whole Vaadin

[2013-12-18 21:54] kukharm opened #946 "Add scheduling rule exception"
I press Add new scheduling rule button and get exception
(the last commit i have commit 480dadcf05f12322b93de7764fda30e6e2f8d44c
Author: Jan Vojt jan@vojt.net 2013-12-18 20:10:26)

virtuoso.jdbc4.VirtuosoException: SQ200: No column last_change.
    at virtuoso.jdbc4.VirtuosoResultSet.process_result(Unknown Source) ~[jdbc-driver-4.jar:na]
    at virtuoso.jdbc4.VirtuosoResultSet.<init>(Unknown Sourc

[2013-12-18 21:55] kukharm commented on #825
i have a problem with adding rule now #946

[2013-12-18 21:58] skodapetr commented on #946
Have you updated the database by update-scripts that has been send by .. I think ... Bohuslav?

[2013-12-18 22:02] kukharm commented on #946
i didn't get any script today.. but i updated DB with schema.sql and data.sql files

[2013-12-18 22:05] kukharm commented on #946
i found the script on letter now and try to update but I got error

**\* Error 42S11: [OpenLink][Virtuoso ODBC Driver][Virtuoso Server]SQ022: Duplica
te index name ix_PPL_OPEN_EVENT_pipeline_id
at line 1527 of Top-Level:
CREATE INDEX "ix_PPL_OPEN_EVENT_pipeline_id" ON "DB"."ODCS"."PPL_OPEN_EVENT" ("p
ipeline_id")
SQL> CREATE INDEX "ix_PPL_OPEN_EVENT_user_id" ON "DB"."ODCS"."PPL_OPEN_EVENT" ("
user

[2013-12-18 22:11] janvojt commented on #946
You can ignore "duplicate index" error messages, it means you already have the index.

[2013-12-18 22:52] janvojt opened #947 "ODCS support for Virtuoso 7"
- check if ODCS works with Virtuoso version 7
- identify problems
- explore possibility of supporting both versions 6 and 7

[2013-12-18 23:06] janvojt commented on #947
I built Virtuoso 7 version from today (openlink/virtuoso-opensource@2701d3f242a630562302471d168d20fec5ed2805):

[code]

Frontend does not work. I am unable to login. The problem is, that queries return empty resultsets. I spent several hours debugging to find out, that the problem is in `VirtuosoResultSet.next()` of JDBC. It always returns `false`, even though resultset contains rows (which I saw

[2013-12-19 08:41] tomas-knap commented on #945
Yes, I would also go for the most simple realization - there will for sure be certain further bugs in December, so I would focus rather on them and not on a new functionality, which is not core.

So I would suggest to:
1) change "Editing pipeline" to "Pipeline detail".
2) When pupline is shared in RO mode, there will be a red text next to "Pipeline detail" that it is read only mode.
3) Save button

[2013-12-19 08:50] tomas-knap commented on #946
Marie, test. In case of problems, you can always rebuild the whole DB. Solve it today together with #825

[2013-12-19 08:51] tomas-knap commented on #936
Can you reproduce that on odcs?

[2013-12-19 08:57] tomas-knap commented on #922
Petre, napis prosim jaky je stav, muzem tohle uzavrit?

[2013-12-19 09:06] tomas-knap commented on #886
Jirko, popis prosim na wiki postup, tedy hlavne me zajimaji ty dotazy, kterym se zjistuje kolik bude vysledku na obecny CONSTRUCT. Udelej to prosim do zitrka.

[2013-12-19 09:12] tomas-knap commented on #942
Update will not work for descriptions?

[2013-12-19 09:17] janvojt commented on #942
Yes, the one in the comment will. But it will truncate all the descriptions (Virtuoso cannot convert VARCHAR(x) to LONG VARCHAR). If it is a problem tell me and I will change the script so that descriptions are preserved.

[2013-12-19 09:26] tomas-knap commented on #942
Yes please, tooltips may be truncates, but descriptions should be preserved

[2013-12-19 09:56] tomas-knap commented on #939
Time to reconnect could be >= 0

[2013-12-19 09:58] tomas-knap commented on #947
Honzo, when you build Virtuoso 7, you should also get the JDBC driver. Can you find it?

[2013-12-19 09:58] tomas-knap commented on #947
Send it to me, I will add it to maven proxy

[2013-12-19 11:23] janvojt commented on #947
OK, which JDBC driver should be used for RDF data then? @tomesj had some problems with the driver we currently have, so I assume there will be the same problem with a newer one...

[2013-12-19 11:32] tomas-knap opened #948 "For older execution records, there is wrong icon for dpu events"
Filter executions having ID < 470, click on detail. DPU events have warning icon instead of standard info.

![screen shot 2013-12-19 at 12 31 24 pm](https://f.cloud.github.com/assets/3014917/1781983/44c0cd98-68a1-11e3-97f9-37a58f3c465e.png)

[2013-12-19 12:01] tomas-knap commented on #947
For RDF data, we start using 2.7.7 Sesame connector. Based on that, as @tomesj said, we can use jdbc v4. Do I remember correctly?

By observing dependencies of rdf module, I can see jdbc version 3. Can we update on v4?

We should update anyway because the problems when working with RDF and virtuoso might be cause by jdbc v3

[2013-12-19 14:44] tomas-knap opened #949 "Try to use jdbc4 for RDF connections"
Currently we use sesame adapter 2.7.7., not the adapter from SWC. So it should be possible to use jdbc4 together with it.

Motivation: using virtuoso7 and having latest version (there are some strange bugs, which may be fixed in jdbc4)

Please test that.

[2013-12-19 14:45] tomas-knap commented on #947
#949

[2013-12-19 14:51] tomas-knap commented on #949
Sorry, there is sesame 2.7.7, but adapter from SWC.

[2013-12-19 14:55] skodapetr commented on #948
imho" this is possible, as we added some icons ... (or I believe so) so the index is bad .. to fix this we would need to find out when we done this change and alter the database.

[2013-12-19 14:57] tomas-knap commented on #949
Koukam ze je tam problem s tim virtuoso-7.0.1 od SWC. Kdyz pouzijes virtuoso-sesame2.jar, bude to ok?

[2013-12-19 14:58] tomesj commented on #949
Přesně tak :-) To už jsem zkoušel už v minulosti :-)

[2013-12-19 15:09] tomas-knap commented on #949
tak vydrz, zkusim dat na maven proxy jine ty originalni knihovny od open linku

[2013-12-19 15:11] tomesj commented on #949
OK :-)

[2013-12-19 15:17] janvojt commented on #942
Allright then, use this instead:

[code]

[2013-12-19 15:27] tomas-knap commented on #949
Jirko, updatoval jsem pom.xml u RDF modulu, udelej si clean & rebuild a zkus prosim na mensich pipelines. Pak dej vedet. Pote pust na tu 7 milionovou a zas dej vedet.

[2013-12-19 15:29] tomesj commented on #949
Dobře, zkusím a dám vědět :-)

[2013-12-19 15:30] tomas-knap commented on #947
Please test the jdbc v4.1, pom dependency:

  <pre> <dependency>
            <groupId>com.openlinksw</groupId>
            <artifactId>virtjdbc</artifactId>
            <version>4.1</version>
        </dependency> </pre>

[2013-12-19 15:41] tomesj commented on #886
Tak sepsáno
https://grips.semantic-web.at/display/LOD2/Size+of+query+result

Jinak v vlastní dotaz používáme v podstatě jen pro SELECT, všude jinde už voláme metody openRDF sesame.

[2013-12-19 16:03] tomesj commented on #949
Tak klasické pipeliny v pohodě a bez problémů fungují :-) Teď zkusím ta velká data :-)

[2013-12-19 16:10] tomas-knap commented on #692
Bohuslav, is the autowiring done?

Regarding 2), could you please do that for the components already being refactored according to MVP? Or is it already done

Putting with high prio, although not needed to be tomorrow

[2013-12-19 16:10] tomas-knap opened #950 "Wrong initializaiton of the exec monitor detail"
If I set filters in exec monitor in one exec monitor detail, then open another exec monitor detail, the filter remains there but it is not applied to the data.

Solution: Always reset filters when showing exec detail.

Relates with #692

[2013-12-19 16:17] tomas-knap opened #951 "SPARQL loader not working"
Please check execution 23180 on ODCS - log events "Data XX part was skipped"
Check why it was skipped. Is the form of the query submitted to target ODCS ok?

![screen shot 2013-12-19 at 5 14 02 pm](https://f.cloud.github.com/assets/3014917/1783811/9f107128-68c8-11e3-8e63-b4c8de31e32e.png)

Write you findings here. Why it was skipped?

[2013-12-19 16:24] tomesj commented on #949
Jen jeden postřeh
To vykonávání RDF metod obecně hrozně blokuje nějaké volání SqlAppenderImpl - flush()...Tedy chvilku běží RDFko, pak dlouho tohle a pak zase RDFko..

Celé to pak může vypadat, že je RDFko pomalé, i když tomu tak není

Nemůžeme s tím SqlAppenderImpl něco dělat ?

Dobře je to vidět na logu backendu - viz malá ukázka

2013-12-19 17:20:03,491 [dpu: SPARQL Extractor] DEBUG exec:283 dp

[2013-12-19 16:33] tomesj commented on #949
Pozorování č.2
U všech pipeline u mě seběhnutých po datu 15.12. je časový nárůst jejího execution (při stejném nastavení všech vlastností a konfigurace) zhruba o 8-9% oproti času do 15.12.včetně.

Možná je to způsobené výše zmíněnou úpravou či jinou změnou po tomto datumu :-)

[2013-12-19 16:35] skodapetr commented on #949
Ten flush ukládá logy do DB. nicméně jak je vidět, tak zatímco DPU věží ve vlákně [dpu: SPARQL Extractor], tak flush stejně jako další jsou ve vláknech  "taskScheduler-..." (new pipeline check, apod .. jak je vidět z logu ..)

Tedy pokud má stroj více než jedno jádro .. tak si troufnu tvrdit, že toto nebude důvod proč něco trvá tak dlouho jak to trvá .. na druhsou tranu pokud něco vygeneruje 10.00

[2013-12-19 16:35] #946 closed, assigned to kukharm

[2013-12-19 16:51] tomesj commented on #951
V tomto případě se na server posílala nějaká nevalidní data, např. URI ve špatném formátu nebo tak podobně :-)

[2013-12-19 16:55] janvojt opened #952 "Backend cannot run pipeline when using Virtuoso 7"
Backend actually only retires to connect over and over again, but after disabling the `DatabaseReconnectAspect` I unveiled the following cause:

[code]

[2013-12-19 16:57] janvojt commented on #952
This is really weird, because even conductor says index `ix_EXEC_PIPELINE_t_start` is **not** unique.

![screenshot from 2013-12-19 17 56 23](https://f.cloud.github.com/assets/2247062/1784172/a7367b12-68ce-11e3-81fe-dace4d037f22.png)

[2013-12-19 17:06] janvojt commented on #952
Dropping the index resolves the issue.

[2013-12-19 17:06] janvojt opened #953 "Virtuoso 7 - cannot open detail of finished DBpedia execution."
![screenshot from 2013-12-19 18 04 33](https://f.cloud.github.com/assets/2247062/1784260/f6322616-68cf-11e3-9462-554472f86290.png)

[2013-12-19 17:14] tomesj commented on #949
Tak i velká pipeline je OK :-)

[2013-12-19 17:14] janvojt opened #954 "If error occurs while loading debugging window, it does not render until app reload in Tomcat."
I know there already was an issue with this problem, but I cannot find it. I thought this is resolved.

![screenshot from 2013-12-19 18 09 22](https://f.cloud.github.com/assets/2247062/1784310/cd3b8d32-68d0-11e3-9ba0-89ea07555b1a.png)

[2013-12-19 20:23] janvojt commented on #953
Related to #878.

[2013-12-19 21:11] bogo777 commented on #945
Done as written in last comment. Please test and close/change priority.

[2013-12-19 21:12] bogo777 commented on #921
Needed changes described in #945 and done.

[2013-12-19 21:55] bogo777 commented on #936
I can reproduce it on odcs on "Copy of Dbpedia extractor" pipeline.

[2013-12-19 22:03] bogo777 commented on #948
Yes, it is because of Event type enum change.

[2013-12-19 22:05] #935 closed, assigned to bogo777

[2013-12-19 22:13] bogo777 commented on #938
Cannot reproduce on local.

[2013-12-19 22:28] #950 closed, assigned to bogo777

[2013-12-19 23:35] janvojt commented on #921
Currently, if user changes pipeline to public-RO, he can then change it to public-RW. However once pipeline is set as public-RW it cannot be changed back to public-RO. I understand why it cannot be changed to private, but I think it would be useful to leave the possibility to change to public-RO (I can't think of any problems that might arise from this). @tomas-knap what do you think?

[2013-12-19 23:49] janvojt opened #955 "I cannot open execution details - ClassCastException"
![screenshot from 2013-12-20 00 48 19](https://f.cloud.github.com/assets/2247062/1787509/2a8b0594-6908-11e3-91c4-ae6be7bc3382.png)

[2013-12-20 01:39] kukharm opened #956 "show log exception"
I can not open log of execution, after pressing Show Log/Debug data i get exception
![ex01](https://f.cloud.github.com/assets/3471169/1788001/73828218-6917-11e3-9962-205fdca97814.jpg)

[2013-12-20 01:59] kukharm opened #957 "Strictly Timed works wrong"
I switch of backend and scheduling pipeline to run in a minute and put tolerance 2 min. Then i switch on backend in a 4 min. - pipeline is execute

[2013-12-20 03:03] kukharm opened #958 "Available pipelines in scheduling rule dont consist new created pipelines"
I create copies of dbpedia pipeline and would like to schedule them one by one but i don't see this new pipelines in available pipeline list instead of them i see there one old pipeline was deleted from the system. This new pipelines also are absent in pipeline combobox.
Possibly something is wrong with dialog initialisation or with container @skodape what do you think?

[2013-12-20 03:23] kukharm opened #959 "Deleting PUBLIC_RW pipeline"
The user x create PUBLIC_RW pipeline, then the user y try to delete it but get access is denied exception. Is that right?

[2013-12-20 07:29] tomas-knap commented on #948
Ok, we can leave it as it is

wont fix

[2013-12-20 07:29] #948 closed, assigned to bogo777

[2013-12-20 07:34] skodapetr commented on #956
Duplicit #955, so closing

[2013-12-20 07:34] #956 closed, assigned to bogo777

[2013-12-20 07:39] #955 closed, assigned to bogo777

[2013-12-20 07:42] tomas-knap commented on #949
Ok, diky, zkusime na problematicky ares test

[2013-12-20 07:42] #949 closed, assigned to tomesj

[2013-12-20 08:00] skodapetr commented on #957
I tried on local host and .. it does not run the execution.

Can you provide more details - log, schedule rule config (screen)?

Also try it again with some more obvious intervals like .. tolerance 2 minutes .. run after 10 minutes?

[2013-12-20 08:08] tomas-knap commented on #886
Jirko, okomentoval jsem na confluence, pri model.size se musi nejprv nacist vsechny triples.

[2013-12-20 08:12] tomas-knap commented on #886
Udelal bych aspon to, ze bych po stisknuti tlacitka browse, nevolal CONSTRUCT, ale SELECT ?s ?p ?o WHERE {?s ?p ?o}. Samozrejme ten select musi pracovat jen na prochazenou data unit. Tim padem se pouzije efektivnejsi varianta prochazeni, navic je mozne filtrovat.

V pripade describe se primo vola SPARQL DESCRIBE?

[2013-12-20 08:13] tomas-knap commented on #886
u SPARQL constructu si holt uzivatel pocka. Pripadne by mel pouzit u constructu spis query and download.

[2013-12-20 08:15] tomas-knap commented on #921
Yes, it should be possible to change pipeline from public-RW to public RO

[2013-12-20 08:16] skodapetr commented on #958
Yes it's ... the dialog is initilized only once .. (as it's autowired in view which is scope .. ) .. and the InMemorySource .. load/refresh data only when load() method or constructor is called .. so what you have to do is:
a) for every path that can be used to open dialog add the InMemorySource.load method
b) create new instance of dialog when ever it's opened ..

What surprise me is that the bea

[2013-12-20 08:18] skodapetr commented on #922
Ono je to paralelní k #921 , za mě tam toho snad už moc není .. tedy možná bych v tom 921 dořešil spíše ..

[2013-12-20 08:30] tomas-knap commented on #952
Ok, so this is solved? Or dropping the index is a solution, but we are looking for better one?

[2013-12-20 08:39] tomas-knap opened #960 "Parallel editing - issues discovered by Honza"
Dva uzivatele maji otevrenou stejnou pipeline.
1. Jeden zmeny ulozi, nezobrazi sa notice inemu uzivatelovi - len zostava notice ze to ma otvorene.
2. Ked otvorim read-only pipeline, dam "Save as new copy", vytvori sa mi kopia, ale canvas zostane v read-only mode. Je nutne canvas zavriet a znovu otvorit pipeline aby som mohol editovat.
3. Save as new by se melo zobrazit jen pro pipeline in read onl

[2013-12-20 08:51] tomas-knap commented on #959
Is the user y admin? If yes, it should be possible. If not, then it is correct

[2013-12-20 08:52] tomas-knap commented on #947
I can close this, right?

[2013-12-20 08:52] tomas-knap commented on #936
And do you know the reason?

[2013-12-20 09:11] bogo777 commented on #960
Ad 3. And what about the case when pipeline is saved by another user and saving it would cause to overwrite his save? I think there should be this button also. And should there be some additional warning upon save which would cause overwrite?

[2013-12-20 09:40] tomas-knap commented on #960
Just to supplement 1) it would be good to notify the second user that the first has saved the pipeline, thus, that the second is not working with the actual version. Thus the notification "Another user is also browsing the pipeline" should be supplemented with notification "user x made changes to the version you are editing, please refresh the pipeline detail". To realize that,  I would add button

[2013-12-20 09:52] skodapetr commented on #960
Sounds reasonable .. user also should receive this information when he saves the pipeline ..  about the refresh button, it may be nice to have a link .. so I can open on other tab .. and see both versions

maybe in case of  "other user update" we can give user possibility to "save as a copy" with his changes or "overwrite" (I do not know if this is possible)

but this is kind  "advanced" solution

[2013-12-20 09:52] janvojt commented on #952
Well, dropping the index slows down performance. There are many other indices, I would wait if it happens with other index, or try to isolate the problem. It is weird, there is nothing specific about this index. Also, maybe it is a problem with migrating virtuoso database from version 6 to 7 (I used the same files for db).

I did not commit index deletion, because we may forget about it, and have

[2013-12-20 09:55] janvojt commented on #947
I created #952 and #953, so we can close.

[2013-12-20 09:55] #947 closed, assigned to janvojt

[2013-12-20 09:56] tomas-knap commented on #960
Regarding 3) Yes, that is true. Save as new might be useful even in cases when the pipeline is in private mode e.g. Maybe we can leave the button save as new in all cases. I would suggest to have buttons save, save & close, copy, copy & close, close. The behaviour of "copy" would be: "save as a new pipeline and open the pipeline detail of that new pipeline", copy and close = "save as a new pipelin

[2013-12-20 10:04] tomas-knap commented on #692
Please focus on finishing autowiring and proper initialization. Rest of MVP refactoring could  be postponed.

[2013-12-20 10:04] tomas-knap commented on #891
Should we test?

[2013-12-20 10:08] tomas-knap opened #961 "Menu styling"

[2013-12-20 11:39] tomesj commented on #886
Co se týká procházení všech trojic, tam se volá metoda size() přímo na repozitáři (RepositoryConnection) nikoliv na modelu a volá se přímo :-) Myslím, že SELECT nebude rychlejší, ale klidně to tak můžu předělat, jestli chceš.

See http://openrdf.callimachus.net/sesame/2.7/apidocs/org/openrdf/repository/RepositoryConnection.html#size(org.openrdf.model.Resource...)

Co se týká DESCRIBE, tak pro zjiš

[2013-12-20 11:46] kukharm commented on #959
The user y was User, when the user y was Admin it was possible. So i close the issue

[2013-12-20 11:46] #959 closed, assigned to janvojt

[2013-12-20 11:53] tomas-knap opened #962 "Schedulling to past - last exec column"
When I schedule new pipeline, schedule it to run every week, starting from tomorrow. Last execution column is empty, which is correct. Then I change it to run every week but starting from yesterday. As a result, last execution column is filled, which is wrong.

[2013-12-20 11:54] tomas-knap opened #963 "Check [Ontology] FRBR copy pipeline on ODCS"
Why the data cannot be extracted from the given file?

[2013-12-20 11:57] tomas-knap commented on #963
Execution failed because: Content is not allowed in prolog. [line 1, column 1]cz.cuni.mff.xrg.odcs.commons.dpu.DPUException: Content is not allowed in prolog. [line 1, column 1]
    at cz.cuni.mff.xrg.odcs.extractor.file.FileExtractor.execute(FileExtractor.java:83)
    at cz.cuni.mff.xrg.odcs.backend.execution.dpu.Executor.executeInstance(Executor.java:213)
    at cz.cuni.mff.xrg.odcs.backend.exec

[2013-12-20 11:57] tomas-knap commented on #963
Please check where the problem is. Supplement log, so that it contains more detail information where the problem is (if possible)

[2013-12-20 11:58] skodapetr commented on #962
Can this be replicated on odcs?

[2013-12-20 11:59] skodapetr commented on #962
Do you use strict timing?

[2013-12-20 11:59] tomas-knap commented on #963
Based on the validator, it is a valid turtle

[2013-12-20 12:01] tomas-knap commented on #962
No strict timing. You can see it, see [Ontology] FRBR pipeline in
scheduller. But as I am checking again, it seems that the reason why the
last execution is prefilled is because it was manually run at that time.
Should we show times of manual runs in last exec column?

On Fri, Dec 20, 2013 at 12:59 PM, Petr Škoda notifications@github.comwrote:

[2013-12-20 12:02] tomas-knap commented on #962
So basically I schedulled pipeline to be run tomorrow, I test it (by manual
running), there was a problem, so I reschedulle it to todays morning, so
that it is firstly launched in a month

On Fri, Dec 20, 2013 at 1:01 PM, Tomas Knap toknap@gmail.com wrote:

[2013-12-20 12:02] skodapetr commented on #962
Well.. then I gues that the backned start the execution before you update the rule.

[2013-12-20 12:05] skodapetr commented on #962
Yes.. but if do not use strict timing, the the pipeline is run asap after the date of next|first schedule is before "now".

So if you schedule pipeline from yesterday .. run every week .. then the first execution is now .. and the second now + 7 days ..

[2013-12-20 12:08] tomas-knap commented on #886
Depends on the implementation of repository.size(), but probably yes.

Co se tyce toho selectu, proc vlastne ten count pocitame jako:

http://my.dc SELECT (count( \* ) AS ?selectSize) WHERE { SELECT ?x, ?y WHERE {?x dc:has ?y} }?

Vzdy by slo vzdy nahradit v originalnim selectu tu cast pred WHERE tim "SELECT (count( \* ) AS ?selectSize)", ne?  Samozrejme by to chtelo konzultaci s dokumentaci.

[2013-12-20 12:09] tomas-knap commented on #886
Ale je pravda, ze ne vzdy. Problem by mohl byt kdyz bychom meli napriklad
{Select ?s ?p ?o WHERE {} } UNION { Select ?s ?p ?o WHERE {} }

[2013-12-20 12:11] tomas-knap commented on #886
ok, tak to nech, jak to mas, jen prosim zkus pro moji informaci porovnat ty dve varianty pro browse, tedy:
1. CONSTRUCT {?s ?p ?o} where {}
2. SELECT (count( \* ) AS ?selectSize) WHERE { SELECT ... }

Zkus to prosim na vetsich datech, trebas na tom 7milionovem ;)

[2013-12-20 12:17] tomas-knap commented on #962
Yes, you are right. That is maybe a bit confusing, but could be a feature :)

[2013-12-20 12:17] #962 closed, assigned to skodapetr

[2013-12-20 12:54] tomesj commented on #886
Dobře :) Zkusím to porovnat a rovnou tam dám to rychlejší :-)

[2013-12-20 13:18] tomas-knap commented on #886
Kdyztak zatim jen porovnej a pak rozhodneme

2013/12/20 Jiøí Tome¹ notifications@github.com

[2013-12-20 13:52] tomesj commented on #963
Problem fixed - it is fine now :-)

[2013-12-20 14:37] tomesj commented on #886
Tak jsem si pro všechny grafy ve Virtuosu zavolal obě metody pro zjištění všech prvků v kolekci a měřil u nich časy.

Výsledek:
Pro grafy s velikostí do cca 2000 prvků je lepší použít přímý přístup ( místy je rozdíl až o 50 ms), naopak pro větší grafy je lepší použít SELECT přístup, (většinou je rozdíl v rozmezí do 30 ms)

[2013-12-20 15:51] tomas-knap commented on #886
Tak tam dej ten select. Zoptimalizuj to prosim jeste tak,ze si vzdy zjistis, jestli je v tom dotazu jediny prikaz "SELECT". Pokud ano, tak postupuj dle 1. Pokud je tam vice "SELECTU" v originalnim dotazu (to nebude caste), tak bys pouzil stavajici pristup pro SELECT.
1. nahradis puvodni dotaz novym nasledovne:

SELECT ma vzdy tvar: SelectClause DatasetClause\* WhereClause SolutionModifier, Dataset

[2013-12-20 15:52] tomas-knap commented on #886
a Browse bude potom pouzivat select

[2013-12-20 18:30] tomas-knap commented on #951
Jirko, zkontroluj prosim pro jistotu ta data, tedy zkus je decodovat a overit - manualne zkusit nahrat na virtuoso. At vime ze chyba neni na nasi strane

[2013-12-20 19:20] tomesj commented on #951
Dobře :-)

[2013-12-20 19:22] tomesj commented on #886
OK, instrukce jsou mi jasné :-) Takže to tak udělám :-) Tím bychom měli dosáhnout ideální optimalizace :-)

[2013-12-21 09:57] janvojt commented on #125
This is very old. Exception is thrown in hibernate, which we are not using anymore (we use eclipselink instead). I tested Virtuoso 7 this week and did not experience this. I am closing.

[2013-12-21 09:57] #125 closed, assigned to janvojt

[2013-12-21 10:00] janvojt commented on #214
I tested this week with a new JDBC driver and did not encounter this issue. I am closing.

[2013-12-21 10:00] #214 closed, assigned to janvojt

[2013-12-21 14:35] tomesj commented on #886
Tak jsem optimalizoval výpočet size ty SELECT queries, jak bylo popsáno :-)

Jinak co se týká procházení všech dat v kolekci - používá se pro zjištění velikosti nyní metoda getResultSizeForDataCollection (založená na SELECT dotazu).

V rámci aplikace browse/query se ale zobrazuje stále dotaz CONSTRUCT {?x ?y ?z} WHERE {?x ?y ?z} neboť pro následné načítání prvků do lazy collection je lepší (výše p

[2013-12-22 09:19] tomas-knap commented on #886
Diky, jake je to zrychleni? 10% nebo 300%?

Ja bych pouzil ten select misto constructu pro browse - tedy pokud to zobrazeni dat trva zruba stejne. Duvod je ten, ze vysledek selectu se da filtrovat

[2013-12-22 09:24] tomas-knap opened #964 "When querying RDF data unit - graph queries not working properly"
Od kolegy: Když se dotazuju SPARQLem nad RDFDataUnit, nefungujou dotazy s GRAPH {} klauzulí
    (např. SELECT ?s ?g WHERE { GRAPH ?g {?s ?p ?o }} ), respektive vrací prázdný výsledek.

[2013-12-22 09:24] tomas-knap commented on #964
Zkontroluj a dej vedet proc to tak je.

[2013-12-22 11:29] tomesj commented on #886
Zrychlení je cca 10%
Jinak já právě zkoušel použít ten select místo contructu i pro přidávání do containeru, ale bylo to hrozně pomalé. (přitom logicky dotaz na velikost je stále stejně rychlý). Možná se tam něco přidává neefektivně, ale to je spíš na Bohuslava.

Proto se nejlépe na browse hodí varianta construct dotaz (select dotaz pro zjištění počtu). Můžu to klidně předělat i na ten select, aby