[2014-03-02 20:35] tomesj commented on #1278
Tak Tome,
chyba je v datech, konkrétně v následující trojici - špatný tvar objectu:
http://linked.opendata.cz/resource/ndfrt/C14670 http://www.w3.org/2004/02/skos/core#broader http://linked.opendata.cz/resource/ndfrt/C50.416^4619^ .

[2014-03-02 20:43] tomesj commented on #1278
Je tam toho víc, všude kde v URI používáš střechu (^) - ta by se měla používat (pokud vím) jen v případě typovaného literátu

[2014-03-02 21:07] tomas-knap commented on #1258
Ok, diky, dokonci prosim a ja to pak v utery zkusim

2014-03-02 20:07 GMT+01:00 bogo777 notifications@github.com:

[2014-03-03 08:46] tomas-knap opened #1280 "Confusing errors when switching from localRDF to virtuoso intermediate store"
Pipeline was running, backend was killed, configuration changed (localRDF->virtuoso). As a result strange errors appear:

![screen shot 2014-03-03 at 9 38 39 am](https://f.cloud.github.com/assets/3014917/2307678/c1b63dcc-a2af-11e3-94f6-4efb5565bd39.png)

![screen shot 2014-03-03 at 9 46 20 am](https://f.cloud.github.com/assets/3014917/2307705/50dd7c22-a2b0-11e3-9f6b-211a527f2f7c.png)

See ODCS, pi

[2014-03-03 09:00] #1278 closed, assigned to tomesj

[2014-03-03 09:01] tomas-knap commented on #1277
This problem still appears, see ODCS, exec 934, browse/query for XSLT/rdfInput.

![screen shot 2014-03-03 at 10 00 21 am](https://f.cloud.github.com/assets/3014917/2307814/734e1e54-a2b2-11e3-805f-374b99e35fed.png)

Please look on that

[2014-03-03 09:03] #1103 closed, assigned to bogo777

[2014-03-03 09:11] tomas-knap opened #1281 "Native repository is used when it should not be used?"
On ODCS, I am running on top of virtuoso intermediate store (NO native rep). But when looking at execution 935, in browse/query tab, there is virtuoso graph and I can browse the data on virtuoso. So it is fine so far.  But when looking to the log, I got:

![screen shot 2014-03-03 at 10 08 10 am](https://f.cloud.github.com/assets/3014917/2307863/af38fad2-a2b3-11e3-8bd0-2acd24613628.png)

Based on t

[2014-03-03 11:15] tomesj commented on #1281
Problém nebude v mixování implementací, ale v tom, že autor, který psal DPU XSLT někde používá sám ve svém kódu lokální repozitář (např. pro nějaké mezivýpočty) a nevolá metodu (tuším getRepository), která sedí výše ve frontendu/backendu, která vrací repozitář na základě configurace - tedy Virtuoso nebo LocalRDF.

Nevím, kdo je autorem, ale v této věci bych se určitě obrátil na něj.

[2014-03-03 11:47] tomas-knap commented on #1281
Jirko, xslt jsem psal ja a nevim o tom, ze bych nekde pouzival natvrdo native repository. Resp. toho by ani autor DPU nemel mit moznost docilit, ne?

[2014-03-03 11:51] tomas-knap commented on #1281
Koukni prosim na XSLT kod ( je  v repozitari https://github.com/mff-uk/DPUs), koukni na hlavni tridu a projdi prosim volani RDF data unit metod, je jich tam par. Jestli neuvidis neco podezreleho. Tech volani je tam par

[2014-03-03 12:14] tomesj commented on #1281
Podívám se na to, jen co se vrátím z práce ke svému počítači :-)

[2014-03-03 16:09] tomesj commented on #1281
Tak důvod odhalen
- metoda OrderTupleQueryResultImpl executeOrderSelectQueryAsTuples totiž testuje, zda je daný dotaz validní - volá metodu isValid() - a ta ve své implementaci používá LocalRDF, která slouží jako pomocná repozitory pro tuto validaci.

Tím je to objasněné :-)

[2014-03-03 16:46] bogo777 commented on #1277
I wasn't able to reproduce it on exec 934, but it occured for some RUIAN execution for me. It seems that this call:
executionInfo.dpu(dpuInstance)
returns null and is cause of the trouble. I added check, that it is so, so after loading newest version to odcs we could confirm it from log. But I will need help from @skodape , as I don't know why this code would return null for finished execution...

[2014-03-03 18:51] tomas-knap commented on #1281
Jirko, a jak to tam tedy funguje, inicializuje se native store a pak se jen
otestuje dotaz? Neda se to udela bez inicializace?

2014-03-03 17:09 GMT+01:00 Jiří Tomeš notifications@github.com:

[2014-03-03 18:55] tomas-knap commented on #1281
Resp. nedala by se na toto pouzit nejaka jedna native rep pripravena pro celou jednu instanci ODCS? Aneb je trochu neefektivni pokazde delat novou native store jen proto, aby se zkontroloval query

[2014-03-03 22:31] tomesj commented on #1281
Bohužel validace vyžaduje vytvoření dočasného repozitáře, ten se po provedení validace opět smaže. Takže na disku nic nezůstane. Vytvoření a mazání je rychlé a nestojí prakticky nic.

Držet jednu instanci bychom asi mohli, ale nic bychom neušetřili.

Naopak by přibyly zbytečné problémy se jak správně sdílet repozitář ve chvíli, když mi např. 2 různá vlákna volají validaci, protože validace na zamk

[2014-03-04 04:00] kukharm commented on #1187
Firefox 27.0.1
1) nekdy dlouho se nacitavali icony statusu a tlacitek
![ff01](https://f.cloud.github.com/assets/3471169/2317486/a07c159c-a34e-11e3-9f4f-6d4fbd736410.jpg)

2) Jednou pri otevreni pipeliny ([INTLIB] Data from psp.cz ) byla zobrazena jen pulka instance,
pak se to neopakovalo
![ff02](https://f.cloud.github.com/assets/3471169/2317491/b94f86ee-a34e-11e3-8be3-03fc8153fc86.jpg)

3) Pri zme

[2014-03-04 07:23] tomas-knap commented on #1281
Takhle, urcite by stalo za to delat max jeden repozitar pro execution jedne
DPU instance. Ale nechme to pro ted.

2014-03-03 23:31 GMT+01:00 Jiří Tomeš notifications@github.com:

[2014-03-04 07:24] tomas-knap commented on #1281
Summary: For validating queries, local rdf store (native rep) is used

[2014-03-04 07:26] tomas-knap opened #1282 "Instead of using native store, use Sesame storage instead"
Advantage: data in rep can be browsed using Sesame

[2014-03-04 07:28] tomas-knap commented on #1261
The same problem appears as Maria described:

BUG! Jsem pridala na kanvas "SPARQL Loader completeness" DPU pak zmacknula Save as DPU template, potom nova dpu se pridala do DPU tree ale DPU tree ztratilo svou strukturu, vsechny DPU se zacali zobrazovat na 1-m levlu. Po opakovanem otevreni OK

![53b6f2e4-a34f-11e3-8de8-baa2109568e0](https://f.cloud.github.com/assets/3014917/2318779/8b4abece-a36e-11e

[2014-03-04 07:28] #1239 closed, assigned to tomesj

[2014-03-04 07:29] #1238 closed, assigned to janvojt

[2014-03-04 07:29] #1249 closed, assigned to tomesj

[2014-03-04 07:31] tomas-knap commented on #1220
Needs to be adjusted a bit (discussion in Mannheim), inner subgraph which operates only on subjects..when subject is selected, all triples for this subject are fetched.

[2014-03-04 07:32] tomas-knap commented on #1277
@skoda, please look on that when you find some time

[2014-03-04 07:33] #1188 closed, assigned to bogo777

[2014-03-04 07:35] tomas-knap commented on #1187
@bogo777 , tohle si prosim nech na konec a koukni prosim co se da rychle (v radu hodiny, dvou) upravit. Zbytek nechame.

[2014-03-04 07:43] tomas-knap opened #1284 "Add possibility to prune backend/working/{id} directories"
Add possibility to prune backend/working/{id} directories on demand - could be in settings, delete debug resources tab.

[2014-03-04 07:44] tomas-knap opened #1285 "When execution finishes with error, do not clean working data"
When execution finishes with error, the debug data in backend/working/{id} and the graphs in the triple store should be kept and delete during next automatic/manual cleansing of debug resources.

[2014-03-04 08:21] tomas-knap opened #1286 "Scheduller - button for disabling/enabling can be directly in the status column"
Scheduller - button for disabling/enabling can be directly in the status column

Motivation - one column in actions may dissappear

[2014-03-04 13:46] tomas-knap opened #1287 "Add Vaadin touchkit addon"
[3/4/14 2:13:22 PM] Jakub Klímek: je v odcs vaadin addon touchkit?
[3/4/14 2:13:37 PM] Jakub Klímek: aby tam slo pouzit http://demo.vaadin.com/javadoc/com.vaadin.addon/vaadin-touchkit-agpl/3.0.0/com/vaadin/addon/touchkit/ui/UrlField.html

[2014-03-04 13:49] tomas-knap commented on #1287
Check license

[2014-03-04 13:50] tomas-knap opened #1288 "License of frontend. Can we use addons of arbitrary license?"
DPUs can have arbitrary license. But what about plugins to vaadin?

[2014-03-04 14:37] jakubklimek opened #1289 "DPU Configuration - getConfiguration() is called when selecting DPU template, why?"
on ODCS, In DPU Templates:
- On Metadata DPU config I click Save.
- I click on Buyer Profiles DPU
- Then, when I look in the frontend log, I see:
  <pre><code>
  java.lang.NumberFormatException: For input string: ""
      at java.lang.NumberFormatException.forInputString(NumberFormatException.java:65) ~[na:1.7.0_40]
      at java.lang.Integer.parseInt(Integer.java:504) ~[na:1.7.0_40]
      at java

[2014-03-04 14:41] jakubklimek opened #1290 "DPU configuration issue"
When I click save on configuration that looks like this:
![image](https://f.cloud.github.com/assets/718827/2321938/0d3b97e6-a3ab-11e3-8caf-d761e7e126c6.png)

In the log I get:

<pre><code>
2014-03-04 15:38:35,817 [http-bio-8080-exec-360] DEBUG org.eclipse.persistence.logging.sql - 2014-03-04 15:38:35.817--ClientSession(719707410)--Connection(1494539966)--UPDATE dpu_template SET configuration = ? W

[2014-03-04 15:11] tomas-knap opened #1291 "Configuration changes - properly loaded when dpu template is updated?"
Please test that the following scenario works correctly:

1) Serialize configuration for DPU template A
2) Adjust the DPU configuration class for DPU template A, load it to odcs
3) Try to deserialize the previously stored configuration (with the previous version of the config class)
4) As a result, all fields except of the new one should be deserialized properly. It must not happen that default va

[2014-03-04 15:12] tomas-knap commented on #1291
Motivation: Jakub reported that it behaves wrong on odcs.

[2014-03-04 15:17] tomas-knap opened #1292 "When deserialization fails, default instead of null value should be provided"
Suppose that user:

1) Serializes configuration for DPU template A
2) Adjusts the DPU configuration class for DPU template A, loads it to odcs
3) Tries to deserialize the previously stored configuration (with the previous version of the config class)
4) As a result, all fields except of the new one should be deserialized properly. The new field which was not available in the previous configuration

[2014-03-05 09:34] tomas-knap opened #1293 "Problem with national chars when storing configuration"
Appears for Virtuoso, not for mysql

To reproduce - create new pipeline, with one DPU, put some national chars to the configuration (not description), save pipeline, reopen DPU detail

Sample result
![screen shot 2014-03-05 at 10 32 45 am](https://f.cloud.github.com/assets/3014917/2331431/43b8f77a-a449-11e3-88d1-fc0757b0527d.png)

[2014-03-05 09:34] tomas-knap opened #1294 "Problems with Metadata DPU Configuration"
on ODCS, In DPU Templates:
- On Metadata DPU config I click Save.
- I click on Buyer Profiles DPU

1) I get asked if I want to discard changes - Why???

2) Also when browsing the detail of the configuration, I got:

![screen shot 2014-03-04 at 4 03 21 pm](https://f.cloud.github.com/assets/3014917/2331395/c0b5008a-a448-11e3-96d3-179a37e36381.png)

Related with: #1293

[2014-03-05 09:36] tomas-knap commented on #1289
When clicking on Ares Updates or Buyers' profile DPU template in the tree, the error above occurs. The error says that the configuration is taken from the dialog, but the dialog is not yes initialized, so when getting and parsing number from the field it throws an exception as above. That is probably the problem.

Why is the method getConfiguration() called when clicking on the DPU template?

[2014-03-05 10:07] ghost commented on #1270
resolved here: https://github.com/mff-uk/ODCS/issues/1295

[2014-03-05 10:07] #1270 closed, assigned to nobody

[2014-03-05 12:16] tomas-knap commented on #1234
Was not able to reproduce again.

[2014-03-05 12:16] #1234 closed, assigned to janvojt

[2014-03-05 12:23] tomas-knap commented on #1229
On ODCS, we use:

Version 6.1.8-dev.3127-pthreads as of Nov 11 2013
Compiled for Linux (x86_64-unknown-linux-gnu)

Regarding the dpu_template table:

![screen shot 2014-03-05 at 1 21 00 pm](https://f.cloud.github.com/assets/3014917/2332902/b4eac240-a460-11e3-8e5e-66009eba535f.png)

dpu_instance:

![screen shot 2014-03-05 at 1 21 48 pm](https://f.cloud.github.com/assets/3014917/2332905/c1b3baea-a46

[2014-03-05 12:45] tomas-knap commented on #1235
Currently, we use:

 <dependency>
            <groupId>com.openlinksw</groupId>
            <artifactId>virtjdbc</artifactId>
            <version>4.1</version>
        </dependency>

[2014-03-05 12:59] skodapetr commented on #1291
Can I have more details? I have "tested" this with File Loader during the #1292 and it seems to be ok.

[2014-03-05 13:00] skodapetr commented on #1290
It's for Metadata adder on ODCS?

[2014-03-05 13:20] jakubklimek commented on #1290
Yes

[2014-03-05 13:23] tomas-knap commented on #1291
Jakub was testing that on metadata DPU template, which has problems with czech national chars. So it is possible that this scenario works fine. When solving issues with Czech chars, we should test this in metadata dpu template and close.

[2014-03-05 13:24] ghost commented on #1244
Resolved in #1283

[2014-03-05 13:24] #1244 closed, assigned to nobody

[2014-03-05 13:26] tomas-knap opened #1296 "When DPU template is not properly saved, there is no warning to the user"
To reproduce:
- go to instance ODCS, DPU templates, select Metadata DPU template
- change certain field in DPU template
- click save, everything seems to be fine so far
- when clicking to any other different DPU template in the tree, the notification dialog "would you like to save changes?" occurs.

So, it seems that the DPU was actually not properly saved, but no warning appears to the user?

[2014-03-05 13:28] ghost commented on #1133
Resolved in #1263

[2014-03-05 13:28] #1133 closed, assigned to tomas-knap

[2014-03-05 13:29] janvojt commented on #1229
From the [Virtuoso documentation](http://docs.openlinksw.com/virtuoso/coredbengine.html#twobyteunicode) about n(var)char datatype:

From this excerpt I understand there is no difference between the data stored in varchar vs. nvarchar. It is used simply to give a hint to virtuoso that column stores a string with variable character length, so it needs to actually count the characters instead of just

[2014-03-05 13:32] tomas-knap commented on #1235
Nove jsem tam dal

   <dependency>
            <groupId>com.openlinksw</groupId>
            <artifactId>virtjdbc</artifactId>
            <version>4.1.1</version>
        </dependency>

Upravil jsem to u commons-app a rdf modulu. Zkusim na odcs-test

[2014-03-05 14:41] tomas-knap commented on #1229
On http://odcs.xrg.cz:8080/odcleanstore-test/, there is the version using Virtuoso 7 and the latest JDBC driver (compiled couple of days ago). Still the problem is there.

[2014-03-05 14:48] tomas-knap commented on #1258
Much better, thanks for that. If I should be "hnidopich":

1) When zooming out, the following happens:
![screen shot 2014-03-05 at 3 47 20 pm](https://f.cloud.github.com/assets/3014917/2334122/1cf729fa-a475-11e3-890c-ea0d4dcb0f5c.png)

The best solution would be to automatically increase the canvas, when user zooms out. Or, you can prepare default canvas size bigger, so that it looks good when ful

[2014-03-05 14:49] tomas-knap commented on #1258
If some of these comments can be easily repaired in one hour, please do it. If not, lets postpone to future work

[2014-03-05 14:54] tomas-knap commented on #1258
A question, when the pipeline is saved, the size of the canvas is also saved? Or the size is determined based on the pipeline size when opening canvas?

[2014-03-05 15:01] tomas-knap commented on #1187
The most important for Chrome/Firefox is:
-  issue 3)
-  issue 4), which is covered by #1261.

Rest can be future work

[2014-03-05 15:01] bogo777 commented on #1187
Firefox,Chrome
1) s tim nic neudelame
2,3) melo by byt vyreseno novou verzi canvasu
4) nedari se mi to zreprodukovat, ani na ODCS
5) to je spravne

IE
- 8 je stara verze, ale ja to obcas poustim v 11 a vypada a chova se to normalne, v 10 by to take melo bezet

[2014-03-05 15:03] tomas-knap commented on #1099
Can you still reproduce?

[2014-03-05 15:08] bogo777 commented on #1258
1) The default size for canvas is for its width to fill whole window in 1920x1080 resolution in default zoom. When user zooms out it is possible for canvas to be smaller and 1) happens. I didn't want to start with bigger canvas if not neccessary, it slows us down.

2) This I can fix easily.
3) State for undo is kept on the server, but the selection is strictly client thing. This would need some bi

[2014-03-05 15:22] tomas-knap opened #1297 "Problem running pipeline on ODCS-test"
On odcs-test (using Virtuoso 7), I have problem with running the pipelines. Although frontend is saying that backend is online and backend is online, when running certain pipeline, it remains in the status "queued".

![screen shot 2014-03-05 at 4 17 54 pm](https://f.cloud.github.com/assets/3014917/2334537/ca227afe-a479-11e3-9f3d-f836f0ce097e.png)

The database was just created with the script, so

[2014-03-05 15:25] tomas-knap commented on #1258
Thanks,

1) ok, but then, when user firstly zooms out, we can simply increase the canvas size, right? If he will not use the added space, next time, he opens the pipeline, default canvas is used (current feature).
2) ok, thanks
3) we will leave for future work

[2014-03-05 15:27] tomas-knap commented on #1187
Ok, I will close this, 4) is covered by #1261. Please try to reproduce there

[2014-03-05 15:27] #1187 closed, assigned to bogo777

[2014-03-05 16:15] skodapetr commented on #1297
Can you specify the version of Virtuoso (or better provide link) so I can test on localhost.

[2014-03-05 23:22] janvojt commented on #1229
In an email conversation, Petr mentioned that Virtuoso works well with UTF-8 if we use byte array for serializedConfiguration. I tested and he is correct.
The problem is, that MySQL maps TEXT data type in database to String. This results in ConversionException. We can overcome this simply by changing serializedConfiguration column data types to BLOB for MySQL (BLOB is mapped to byte array). I did

[2014-03-06 08:06] bkaempgen commented on #963
Could you shortly mention what the problem was? ;-)

Thanks.

[2014-03-06 08:13] tomas-knap commented on #963
Every closed issues should be accompanied with the commit.  @tomesj Please add at least the  explanation.

[2014-03-06 08:45] tomas-knap commented on #1229
Ok, sounds good, please try to correct this tomorrow. The only drawback is that when stored as BLOB, admins cannot easily read the stored configuration when using some dbAdmin tool, right?

[2014-03-06 08:48] tomas-knap commented on #1229
An alternative would be to serialize/deserialize the configuration either as string or byte array, based on the database used. String variant may be used as default (as it is now) and the byte variant (as it was before playing with mysql) may be used only when Virtuooso 6/7 is used for relational db?

[2014-03-06 08:50] tomas-knap commented on #1229
We have to also bear in mind that it should be possible to export configuration from mysql and import to virtuoso and vice versa, without any conversion/refinement needed.

[2014-03-06 08:55] ghost commented on #1229
Don't blame, but, won't this help?
http://virtuoso.openlinksw.com/dataspace/doc/dav/wiki/Main/VirtODBCJDBCUTF8Set

http://docs.openlinksw.com/virtuoso/VirtuosoDriverJDBC.html

If we not employ it yet, change jdbc url to include charset parameter:

[2014-03-06 09:06] tomas-knap commented on #1229
We already use the charset param

[2014-03-06 09:11] janvojt commented on #1229
Hmmm, we are using charset option, but we have it in lowercase. Maybe this is the problem. I will try to change it to uppercase.

[2014-03-06 09:21] tomas-knap commented on #1229
Please test that before the meeting

[2014-03-06 09:45] bkaempgen commented on #963
I just solved at least my problem. Prolog error seemed to be because of encoding:

[code]

[2014-03-06 10:34] skodapetr commented on #1289
The problem is that Frontend set the DPU. This invokes the isChanged handler and this cause the call of ConfigDialog.isConfigChanged method and then  getConfiguration method,  before the frontend actually set the configuration.

I add check which automatically return false as an answer for isConfigChanged , in case that the configuration has not been set yet.

[2014-03-06 10:36] skodapetr commented on #1272
Duplicit to #1274

[2014-03-06 10:36] #1272 closed, assigned to skodapetr

[2014-03-06 10:38] skodapetr commented on #1274
It originally was .. now the directory is computed on request from information about execution. I will remove this during(or after) the merge operation.

[2014-03-06 10:39] skodapetr commented on #922
Myslím, že v této věci už se vše udělalo .. a co se neudělalo, to už se zapomnělo.

[2014-03-06 10:39] #922 closed, assigned to skodapetr

[2014-03-06 13:29] bogo777 commented on #1120
After changes to canvas, focusing multiple DPUs can be done by mouse selection(rectangle) + adding/removing DPU by clicking on it with CTRL key held down.

1) After the changes it is simply by clicking on the empty canvas or unselected DPU.
2) This should not appear anymore.

[2014-03-06 13:33] #1120 closed, assigned to bogo777

[2014-03-06 13:43] ghost commented on #1245
Resolved in #1298

[2014-03-06 13:43] #1245 closed, assigned to nobody

[2014-03-06 15:36] tomas-knap commented on #1043
New connection has to be created when virtuoso is again on, which cannot be done easily with aspects.

[2014-03-06 15:36] #1043 closed, assigned to janvojt

[2014-03-06 15:40] tomas-knap commented on #1023
Check that clearGraph is using properly loader conf "count of attemps"

[2014-03-06 15:47] tomas-knap opened #1299 "When canceling DPU template upload, everything must be cleaned"
DPU Folder is remaining there.

[2014-03-06 15:48] tomas-knap commented on #1099
So the proble is that when uploading jar from pipeline, progress bar is missing.

[2014-03-06 15:57] #1235 closed, assigned to janvojt

[2014-03-06 15:57] #1297 closed, assigned to skodapetr

[2014-03-06 15:58] tomas-knap commented on #1297
problem was in the configuration - wrong db was used

[2014-03-06 19:21] skodapetr opened #1300 "Backend freez problem"
If the virtuoso freezed, then the beckend slowly freezed too.

[2014-03-06 19:24] skodapetr commented on #1300
The problem was with Virtuso monitor component, that exhausted all thread from respective thread pool. This threads are used also for logging, that stop the logging. The problem was with badly used Asynch annotation, that changes the meaning of Schedule(fixedDelay) annotation.

[2014-03-06 19:29] #1300 closed, assigned to skodapetr

[2014-03-07 09:03] #1214 closed, assigned to skodapetr

[2014-03-07 10:44] jakubklimek opened #1301 "Fix layout in all DPUs where it does not fill the window"
![image](https://f.cloud.github.com/assets/718827/2356030/63c31756-a5e5-11e3-9903-f72413d92305.png)

[2014-03-07 11:33] jakubklimek opened #1302 "Canvas: DPU Disappeared"
And appeared somewhere else
![image](https://f.cloud.github.com/assets/718827/2356403/66b469c2-a5ec-11e3-8884-1a358ef5d71b.png)

[2014-03-07 11:50] jakubklimek opened #1303 "Bad log message"
![image](https://f.cloud.github.com/assets/718827/2356527/ad60a1a4-a5ee-11e3-8ce0-1aefc03241d2.png)

[2014-03-07 11:54] jakubklimek opened #1304 "Bad log message"
![image](https://f.cloud.github.com/assets/718827/2356559/3efe39f0-a5ef-11e3-8da3-b6b21208ef86.png)

[2014-03-07 12:25] jakubklimek opened #1305 "Bad log message"
![image](https://f.cloud.github.com/assets/718827/2356821/86b4be82-a5f3-11e3-9fca-1bafb9d0f0ac.png)

[2014-03-07 13:58] tomas-knap opened #1306 "SPARQL Transformer - update queries not working properly?"
- Try dbpedia pipeline with sparql extractor after dbpedia extractor.
- use query insert {?s http://xxx ?o} where {?s ?p ?o}
- as a result, there should be triples \* http://xxx \* in the output

[2014-03-07 14:00] tomas-knap opened #1307 "SPARQL Transformer - validations"
When there is an error in the query, there is exclamation mark

1) When I correct the query, it is still marked as having error. Solution: Immediately when the query is ok (Value in the text area changed), revalidation can be done and the error must disappear.

For example, if I made an error in the first query, exclamation mark is shown, then I correct the error and click "+", it still shows an e

[2014-03-07 16:08] tomesj commented on #1023
Yes, it is used :-)

[2014-03-07 16:08] #1023 closed, assigned to tomesj

[2014-03-07 17:25] #1306 closed, assigned to tomesj

[2014-03-07 18:01] tomesj commented on #1307
Tak jsem se na to koukal a věc se má následovně:

Mandatory field, které používáme ve všech DPUs si sám řídí Vaadin a ten pouští jejich validaci vždy po ztrátě focusu na dané komponentě - tedy například u SPARQL extractoru, když je špatná URL adresa, tak vykřičník zmizí až po překliknutí na jiné pole a ne ihned po vyplnění správné adresy, podobně je to tady u SPARQL transformeru. Stačí si to vyzko

[2014-03-08 11:20] skodapetr commented on #1299
It seems to be ok. The directory is created in reaction on OK button. @tomas-knap Is it possible that we test on some "non-clean" dpu directory?

[2014-03-08 12:33] janvojt commented on #1229
I tried all combinations of lower/uppercase charset/utf-8. It seems that using utf-8 in lowercase ends up in failure during connecting to Virtuoso with the following error on Virtuoso side:

[code]

Making charset uppercase seems not to make any difference.

I will therefore change the datatype for MySQL and use byte array as discussed before.

[2014-03-08 13:13] skodapetr commented on #1301
I will prepare for this change, but as it may bring some bugs .. I will postpone the commit after the presentation.

[2014-03-08 16:56] skodapetr commented on #1301
It look's like there is challenge with initial size. In order to properly resize the dialog I have to choose fix initial size. As an enhancement we may compute the size if the configuration dialog provides it, ie. has other size then -1px and 100 percent.

[2014-03-08 17:28] tomas-knap commented on #1299
Yes, it seems that the directory was already there

[2014-03-08 17:28] #1299 closed, assigned to skodapetr

[2014-03-08 17:32] tomas-knap commented on #1307
@jakubklimek Please describe your issue with the sparql transformer validation. Currently, the validation is done when the component loses focus and we will not change that in the near future. In which situation you got wrong error message for certain  queries?

[2014-03-09 14:12] janvojt opened #1308 "Failed to set class value for: FileLoaderConfig.validDataBefore"
DBpedia finishes with warning with the following error in the log (run in debug mode):

Failed to set class value for: FileLoaderConfig.validDataBefore

Stack trace:

[code]

[2014-03-09 14:57] skodapetr commented on #1308
Well I can definitely change the level to warn(maybe), but basically the message is right in this case. It says that there was some unset variable in the configuration of given DPU and ODCS tries to set them from default configuration (initialized by empty ctor) but failed as there is no setter for given fields.

@tomas-knap How should ODCS behave in such situations?
In some cases this may cause p

[2014-03-09 15:36] tomas-knap commented on #1308
1) I think it is an error. It does not make much sense to set certain attribute only in onDeserialize(). But we should specify in the tutorial that every attribute on the config class must have proper setter.

2) Please correct that for dbpedia pipeline, so that when user installs odcs and tries the dbpedia pipeline, everything goes smoothly.

[2014-03-09 15:40] tomas-knap commented on #1302
@jakubklimek , steps to reproduce are needed

[2014-03-09 15:42] tomas-knap commented on #1293
@janvojt So should I test on Virtuoso with the latest update of the work with configurations?

[2014-03-09 15:42] tomas-knap commented on #1261
@kukharm Please describe how you manage to reproduce, to have guidance for Bohuslav

[2014-03-09 15:43] tomas-knap commented on #1293
Duplicates #1229

[2014-03-09 15:43] #1293 closed, assigned to skodapetr

[2014-03-09 15:58] tomas-knap opened #1309 "From certain time, no log record appeared in db"
Happened on odcs.xrg.cz. Possible cause: Logging thread was not created by Spring, thus, as a result, logging messages were lost. Needs further investigation

@skodape Please write more details here

[2014-03-09 16:04] skodapetr commented on #1309
This has been already solved in #1300

[2014-03-09 16:07] #1309 closed, assigned to skodapetr

[2014-03-09 16:12] skodapetr commented on #1308
OK, I've added the getters and setters .. but I hope I did it right as usage of some fields is not exactly clear to me.
@tomesj Can you please check that?

Basically if the serialized configuration do not contains value for certain field, then ODCS create a default configuration and try to get/set that property from default do deserialized configuration. The filed I worry about is endpointParams.

[2014-03-09 17:45] kukharm commented on #1261
I checked "Only private dpu template" filter, then put private DPU to the canvas, opened its details and pushed the button "Save as DPU template"

[2014-03-09 19:01] tomesj commented on #1308
@skodape  Nemůžu pochopit, proč upravuješ SPARQL extractor, když Ti Honza nareportoval problém u configurace SPARQL loaderu

[2014-03-09 19:05] skodapetr commented on #1308
@tomesj Aha .. tak to se bude muset upravit oboje ..

Upravil jsem ho proto, že jsem si pustil DBPedii na lokálu a šel jsem podle exception.

Nicméně pokud chybí settery, gettry všude tak bude třeba upravit všechny konfigurace? Mám to udělat já nebo chceš ty?

[2014-03-09 19:05] tomesj commented on #1308
Já teď mám jiné starosti, tak to udělej ty :-)

[2014-03-10 07:29] tomas-knap commented on #1292
Do we need onDeserialize() method then?

[2014-03-10 07:35] skodapetr commented on #1292
Actually imho yes .. or at least with design of some configurations. Imagine the situation ..
You have extractor that extracts from multiple sources .. and those sources are serialized into the String.
Then you decide to add some metadata to them .. so you do not add new values but you modify the existing ones. Also you may wan't to store then into List<> (or some complex class) so you need onDese

[2014-03-10 07:44] tomas-knap commented on #1292
In case of deserializing configuration from XStream, it works in a way that
firstly the non-param constructor is called, then the fields are set,
right?

On Mon, Mar 10, 2014 at 8:35 AM, Petr Škoda notifications@github.comwrote:

[2014-03-10 07:52] tomas-knap opened #1310 "Problem with dependency"
v DPU repo mam toto DPU:

extractor_tabular_czso_vdb

Nejde mi z nej ale udelat DPU Template. ODCS hazi chybu, viz screenshot. Muzes na to prosim mrknout? Potrebuju to rychle (zitra = v pondeli), musim tahat data ze stataku.

potíž je chybějící balíček .. junit.framework .. což asi už víš z popisu exception. Nicméně to jsou pokud se nepletu testy.

Není v pom.xml ten testovací balíček se špatným s

[2014-03-10 07:53] skodapetr commented on #1292
XStream do deserialization .. and set whatever he can .. we watch this process and take a note of all set fields. Then we use reflection to get list of all fields in configuration and if there are fields that has not been set, then we create default configuration (empty ctor) and use getters/setters to copy required values.

[2014-03-10 08:00] tomas-knap commented on #1292
Ok. So the basic advice is - if you need any initialization (apart from the
setting of the initial value for persisted fields), which should be done
when deserialization is done or when the new object is built, put it into
onDeserialize method, so that the code is not on two places. Maybe we
should call it postInitialization() instead of onDeserialize()?

On Mon, Mar 10, 2014 at 8:53 AM, Petr Škod

[2014-03-10 08:25] Jan-Marcek commented on #1223
Hi,

I made some attempts. I created python script which puts this file into the virtuoso repository. I found out that there is a same bug. It means that Virtuoso 6.1.7 has the bug. I suggest to try this case at Virtuoso 7.

[2014-03-10 08:32] jakubklimek commented on #1302
This is one of the issues that just happen. The fact that we cannot reproduce them does not mean they are not there.

[2014-03-10 08:38] jakubklimek commented on #1307
Hmm... now it works for me too. I think the problem was that the query was valid, ran in Virtuoso, but was missing some prefixes (and Virtuoso had them predefined, that is why it worked). So I think it actually works, but could you display more detailed message than "query invalid"?

[2014-03-10 09:47] skodapetr commented on #1310
Dependencies will be provided as OSGI bundle libraries.

[2014-03-10 10:28] tomas-knap opened #1311 "Possibility to load target/lib folder on the fly"
Motiviation: If new lib bundles are added, it is not necessary to restart the app.
@skodape How much time do you expect this feature will require?

[2014-03-10 11:21] skodapetr commented on #1311
Depends how much user friendly this should be. We should discuss on next meeting.

[2014-03-10 11:49] tomas-knap commented on #1311
Well, what I meant is that user uploads bundle to the given location (target/lib) and backend automatically loads such bundles while running. So it should behave similarly as in case of new DPU templates versions

[2014-03-10 12:02] skodapetr commented on #1311
Some questions that cross my mind:
1) How does the user load the library - currently he can not use Frontend for this.
2) What if the library has dependencies - and so can not be resolved?
3) User do not see list of already loaded libraries, and when we have such list it would be nice to have some "reload" functionality - so when big library A (that has been loaded first) but not resolved, can be

[2014-03-10 12:08] tomas-knap commented on #1311
I think it does not need to be superfriendly. But it should allow to add libraries as the tool (backend) is running.

1) I think it would be enough for now to copy the bundle to the given folder
2) Than, an error should be written to the log/error log. It could be also a separate error log, so that admin can quickly see the problems with the bundles newly added
3) Again, I think we can start with

[2014-03-10 13:22] tomas-knap opened #1312 "HTTP Authenticator - not working properly"
Jirko, explain me how the Authenticator (for connecting over HTTP) would work when two parallel pipelines (their loaders) are trying to connect to a different SPARQL endpoint using different name/pass.

[2014-03-10 13:30] tomas-knap commented on #1310
Tested, still having problem:

![screen shot 2014-03-10 at 2 29 26 pm](https://f.cloud.github.com/assets/3014917/2373910/141a8be2-a858-11e3-9a59-786c086127e8.png)

[2014-03-10 13:50] #1310 closed, assigned to nobody

[2014-03-10 16:58] skodapetr commented on #1308
Well should be ok and if not it's problem of a DPU not ODCS so closing.

[2014-03-10 16:58] #1308 closed, assigned to skodapetr

[2014-03-11 07:19] tomas-knap opened #1313 "Frontend slow - working with DPU configurations"
PROBLEM je, ze ODCS GUI je stale silene pomaly. Mam na ODCS pipeline - [CZSO] Public DB - Demography. Je tam vlozeny i to novy DPU. V jeho config dialogu, kdyz se snazim pridat radek do nektere z tech tabulek tam (tlacitka Add mapping), tak po kliku na to tlacitko trva klidne i minutu ci dve (napsal jsem za tu dobu tenhle mail), nez GUI zareaguje a prida novy radek. Takhle to bohuzel pouzitelny ne

[2014-03-11 07:20] tomas-knap commented on #1313
@martinnec When the gui was slow, were there other pipelines running at that moment?

[2014-03-11 07:24] tomas-knap opened #1314 "Possibility for the users to change the password"

[2014-03-11 07:33] ghost commented on #1314
+1 vote

[2014-03-11 07:42] martinnec commented on #1313
Sometimes, GUI responses quickly. However, few minutes later, I have to wait up to one minute or two until something happens. GUI **_HAS TO BE**_ independent of the backend!

[2014-03-11 07:59] bogo777 commented on #1313
In almost all views is periodic automatic check for changes, followed by refresh when needed. If even the simple query there takes long, it can result in slow response, as those checks can stack up. We could propably add test, if previous check is finished and if not, don't start another.

This could increase responsiveness of GUI, but it only hides the fact, that the database is flodded/slow.

[2014-03-11 08:39] ghost commented on #1313
@martinnec  It is not happening after DPU jar replace, is it? See this issue: https://github.com/UnifiedViews/Core/issues/3

[2014-03-11 08:46] tomas-knap commented on #1313
@bogo777  How often is the database contacted to get information whether the canvas was not updated by another user? Futher, how is it done? Gui is actively waiting for the result of the check? It should be checked in background and when the response is ready and the response says that somebody has changed the canvas user is editting, then gui/user is notified.

[2014-03-11 09:47] skodapetr commented on #1313
WARN: I assume there was only one user online! But the queries was against one pipeline and I expect that Martin would tell us if there were more users on his pipeline.

Well I try to examine the log and from what I see .. the refresh (Open pipeline checks) is was quite was .. but sometimes more of them goes one after another .. like one checks ends and one second later start another (I also got o

[2014-03-11 11:33] ghost commented on #1274
resolved here: https://github.com/UnifiedViews/Core/commit/4ce65260f8183b1daf50a04a46a7c85d9f3b9d1c

[2014-03-11 11:33] #1274 closed, assigned to nobody

[2014-03-11 11:36] #1157 closed, assigned to nobody

[2014-03-11 11:36] ghost commented on #1157
Wontfix

[2014-03-11 11:52] jakubklimek opened #1315 "Low resolution on canvas"
(Chrome) ![image](https://f.cloud.github.com/assets/718827/2384843/94b05096-a913-11e3-85ed-6cf3fe00b939.png)
 Has to do with zooming and switching various tabs in chrome

[2014-03-11 12:02] tomas-knap opened #1316 "Optimisation - when output is not used, it should not be created"
If certain output data unit is not used by any DPU on the pipeline (there is no mapping between that output data unit and consequent input data unit), any method called on top of the output data unit should immediately return.

Applies only when running in non-debug (normal) mode.

[2014-03-11 12:10] ghost commented on #1253
resolved here: https://github.com/UnifiedViews/Core/commit/dd37606bd0ba8d200827f7096b2e2f015339ff16

[2014-03-11 12:10] #1253 closed, assigned to nobody

[2014-03-11 12:20] tomesj opened #1317 "Problems with session"
The session fell out few times (the Interval of outages were different). The problem was most often while working with DPU on canvas when the pipeline was edited.

[2014-03-11 12:54] tomas-knap commented on #1316
duplicates #4, unifiedViews rep

[2014-03-11 12:54] #1316 closed, assigned to nobody

[2014-03-11 13:17] tomas-knap commented on #1313
Ok, so the solution is to introduce proper timing of check requests? So that every new check starts not earlier than after X seconds after the previous.

[2014-03-11 13:34] skodapetr commented on #1313
I think it might help .. but I have no detail knowledge how does the "update" component works ..

[2014-03-11 13:43] tomas-knap commented on #1313
@bogo777 Can you please look on that? If you find out it is too complicated, please send us the detailed set of changes needed.

[2014-03-11 14:11] tomas-knap commented on #1305
Should be: Data part x/y was successfully merged.

[2014-03-11 14:11] tomas-knap commented on #1304
Should be: X triples extracted.

[2014-03-11 14:12] tomas-knap commented on #1303
Should be: Data part X/Y loaded successfully

[2014-03-11 14:40] #1305 closed, assigned to skodapetr

[2014-03-11 14:40] #1304 closed, assigned to skodapetr

[2014-03-11 14:40] #1303 closed, assigned to skodapetr

[2014-03-11 15:05] skodapetr opened #1318 "FileDataUnit"
When FileDataUnit logs info about "File name with special chars" special chars "{}" are not replaced with file name.

[2014-03-11 15:07] #1289 closed, assigned to skodapetr

[2014-03-11 16:44] bogo777 commented on #1313
I added minimal interval between refreshes, i.e. new refresh is not started, if there is not enough time between the last refresh finished and now. This should solve the stacking of check requests...

[2014-03-11 16:48] bogo777 commented on #1302
Was this the result after opening of the pipeline? Or did this happen while working with the canvas?

[2014-03-11 19:12] skodapetr opened #1319 "Extended connections"
Loader by mel mit vystup a na nem to co mu prislo na vstupu - volitelne.

Aplikace dovoluje vest hranu z loaderu.

Podpora pro hrany pres ktere nejdou data, ale funguji tak ze se cilove dpu spusti po tom zdrojovem.

[2014-03-11 20:36] skodapetr commented on #1301
Non core DPUs may also require configuration dialog update in order to work properly.

[2014-03-12 07:51] jakubklimek commented on #1302
During work. I was configuring the edges and DPUs

[2014-03-12 07:53] jakubklimek commented on #1290
This was caused by various Vaadin exceptions. It works now.

[2014-03-12 07:53] #1290 closed, assigned to tomas-knap

[2014-03-12 07:55] jakubklimek commented on #1020
Yes, these are related to Virtuoso issues https://github.com/openlink/virtuoso-opensource/issues/114 and https://github.com/openlink/virtuoso-opensource/issues/125

[2014-03-12 07:55] #1020 closed, assigned to tomas-knap

[2014-03-12 08:38] ghost commented on #1255
Resolved here: https://github.com/UnifiedViews/Core/commit/a1317da150c31ac8b0bf8ecdccdc755a2c1d9541

[2014-03-12 08:38] #1255 closed, assigned to nobody

[2014-03-12 09:16] tomas-knap opened #1320 "Neprochazejici test u SPARQL extractoru - opravit prosim"
Results :

Failed tests:
  SPARQLExtractorRequestTest.GetSimpleTest:91->extractFromEndpoint:67 HTTP/1.1 502 Bad Gateway. Caused by <html>
    <head>
    <title>Web Site Under Maintenance</title>
    </head>
    <body>
    <div><img src="data:image/gif;base64,R0lGODlhMgAyAOYAAO/v7+7u7u3t7f//AOzs7Ovr6+rq6unp6ejo6Ofn5+bm5uXl5eTk5ODg4N/f397e3t3d3dzc3Nvb29ra2tnZ2djY2NfX19PT09LS0tHR0dDQ0M/Pz87OzszMzMvLy

[2014-03-12 09:18] ghost commented on #1248
Resolved here: https://github.com/UnifiedViews/Core/commit/92e2407f403f5e74f1a03c4a48f1d9cd23041617

[2014-03-12 09:18] #1248 closed, assigned to nobody

[2014-03-12 09:30] skodapetr commented on #1320
Well the test should be marked as integration (at least) if it use some external sources.

[2014-03-12 09:42] ghost commented on #1247
Resolved here: https://github.com/UnifiedViews/Core/commit/dd9be90a8e5648ace63a5c542daf8d4573e1da76

[2014-03-12 09:42] #1247 closed, assigned to nobody

[2014-03-12 09:42] #1229 closed, assigned to janvojt

[2014-03-12 09:43] #1258 closed, assigned to bogo777

[2014-03-12 10:11] Jan-Marcek opened #1321 "bundle-deps.ps1 problem"
Skúšal som použiť skript: http://www.ksi.mff.cuni.cz/~knap/odcs/bundle-deps.ps1
ale žiaľ nefunguje.  Dostávam správu:

No dependencies have been downloaded ..

Po nasledovnom prieskume som zistil že

 Malformed POM E:\eea\comsode\working_repo\module\odcs-datanest-dpu\CSV_Organization_extractor\super-pom.xml:
 Unrecognised tag: 'relativePath' (position: START_TAG seen ...</version>\r\n      <relati

[2014-03-12 10:29] skodapetr commented on #1321
Skript by měl být schopný pracovat s relative-path v hlavičce.

[2014-03-12 11:42] ghost commented on #1246
resolved here: https://github.com/UnifiedViews/Core/commit/c1d28496cf15a3a5d83042f35bbabe61e62d9468

[2014-03-12 11:42] #1246 closed, assigned to nobody

[2014-03-12 14:26] Jan-Marcek commented on #1321
Ešte jeden postreh k linuxovému skriptu.
Je dobrá spraviť "konfiguračný súbor"  bundle-deps.conf
ten bude vyzerat nasledovne:

[code]

a potom do bundle-deps.sh je potrebné pridať:

[code]

To zabezpečí to, že sa premenná načíta z conf. Potom "príkaz" mvn bude vyzeať nasledovne

[code]

Alebo ďalším riešením by stačilo spraviť MVN iba premennú na začiatku bundle-deps.sh a potom sa už len na nu odk

[2014-03-12 14:33] Jan-Marcek commented on #1321
ešte som si všimol že ked som na ten istý pom pustil linuxovú verziu a windows verziu tak som dostal odlišný počel lib dependency
linux:
commons-beanutils-1.8.3-bundle.jar  commons-lang3-3.1-bundle.jar  commons-logging-1.1.1-bundle.jar  groovy-all-1.7.2-bundle.jar

windows:
commons-beanutils-1.8.3.jar  commons-lang3-3.1.jar  groovy-all-1.7.2.jar

Očakával by som že výstupom budú rovnaké libky. Asi

[2014-03-12 19:23] tomesj commented on #1320
Důvodem  neprocházení testů byla údržba DBPedie, nikoliv nesprávnost. Test jsem zařadil do kategorie integračních testů, aby se nepouštěl při CLEAN & BUILD. Tím je to vyřešené

[2014-03-12 19:23] #1320 closed, assigned to tomesj

[2014-03-13 13:10] Jan-Marcek opened #1322 "rdf processing performance issue"
There is a problem with performance. A module's performing consumes a lot of time. The problem could be caused by the SPARQL loader or the way of how a RDF file is extracted. In fact, this issue appears when system is using the RDF File Extractor and SPARQL loader (it just takes the RDF file and loads him into a virtuoso repository).

|  | odcs | POJO application |
| --- | --- | --- |
| duration [

[2014-03-13 13:13] Jan-Marcek opened #1323 "SPARQL Loader - Loading data into multiple target graphs."
Sparql loader has problem with Loading data into multiple target graphs.

odcs version: release-1.0.0

[2014-03-13 13:15] Jan-Marcek opened #1324 "The dpu design issue dialog"
Some dialog's functionality is suitable to put into the core. The things such as uploading and read from a file.

odcs version: release-1.0.0

[2014-03-13 13:28] skodapetr commented on #1324
Do you have any suggestion how should this be realized ?- from the user point of view.
Should  core should provide some easy to use component?

But generally I agree that we may move some common (dialog) functionality to a single shared place for example commons-module.

[2014-03-13 14:21] Jan-Marcek commented on #1324
Trochu sme sa nad tym zamýšlali ako to spraviť najlepšie s Michalom. Bolo by rozumné vytvoriť samotný napr. http extractor ten by zobral dané dáta a dal by ich na vstup ďaľšiemu DPU, ktoré by potom spracoval.
Potom by konštrukcia vyzerala napr:

http downloader -> unzipper -> rdf extractor
Ak sa nemýlim tak teraz je unzipper spravený tak, že sám sťahuje dáta z http adresy. Tak aby sa mohli vytvara

[2014-03-13 14:28] skodapetr commented on #1324
Aha já myslel, že myslíš jako komponentu do dialogu, tohle mění situaci.
Info za mě:
Aktuální ODCS podporuje i předávání souborů a adresářů pomocí file data unit. To DPU jak jsi popsal mi přijde skoro ideální pro "workshop"  - a ze strany funkcionality mi to nezní špatně. Jen by se muselo vymyslet dost univerzálně a pak zaintegrovat do existujících dpu.

[2014-03-13 14:34] ghost commented on #1324
Ahojte,
som zvedavy ci github umozni reply cez mail.

Ja by som isiel dale a sprawl by som niece okolo output/inputstream (pipelineinputstreeam, pipelineoutputstreeam).
Ono totiz na zaciatku je nejaky data extractor, ten by iba sypal data do ouputstreamu na nasom prenosovom objekte.
Nas prenosovy object by dal dalsiemu dpu v poradi zase inputstream z ktoreho moze citat. Napriklad\
http extractor,

[2014-03-13 14:48] Jan-Marcek commented on #1322
Faktom to je ze SPARQL loader vkladal data do viruosa ktory bol na tej istej masine. Mozno to mohol by aj kamen urazu. Ale aj  tak je rozdiel markantný.

[2014-03-13 16:58] tomas-knap commented on #1324
I agree that some shared functionality (e.g., function for unzipping archive) should be provided in some common utils classes visible to all DPUs. Actually, if you check DataUnitUtils in commons module, there are methods for storing string to a file, reading file to a String etc.

Regarding the particular example of extractor, yes, it would be more versatile, if we have three DPUs - one for downlo

[2014-03-14 06:22] ghost commented on #1324
cau,

On 13.3.2014, at 17:58, Tomas Knap notifications@github.com wrote:

[2014-03-14 09:33] tomas-knap opened #1325 "Cannot browse RDF data unit"
Problem when trying to browse RDF data unit!

See it on ODCS, exec 1090, reproduce according to image:

![screen shot 2014-03-14 at 10 31 19 am](https://f.cloud.github.com/assets/3014917/2419344/badbb02c-ab5b-11e3-938a-48f816bd409d.png)

2014-03-14 10:30:12,968 [http-bio-8080-exec-587] ERROR c.c.m.x.o.frontend.auxiliaries.RDFDataUnitHelper - DPU info is null!
2014-03-14 10:30:12,972 [http-bio-8080

[2014-03-14 09:49] tomas-knap commented on #1325
I tried once again during the same session and it did not work. Then I tried to reload app, open the exec monitor again, open the detail and it was working properly

[2014-03-14 10:07] skodapetr commented on #1325
Can be cause by some cache? We may examine logs for mode info.
Better null pointer (invalid DPU info) handling is also a possibility here.

[2014-03-17 11:44] tomas-knap commented on #1324
Michale, tedy kdyz to shrnu, tak ti jde o to mit nejake utils metody dostupne vsem DPU, ktere napr."stahnout soubor z daneho HTTP URL a ulozi do prislusneho souboru", streamove.

?

[2014-03-18 07:45] ghost commented on #1091
Is this resolved?

[2014-03-18 13:16] tomas-knap commented on #1312
https://github.com/UnifiedViews/Core/issues/25

[2014-03-18 13:16] #1312 closed, assigned to tomesj

[2014-03-18 13:18] #1261 closed, assigned to bogo777

[2014-03-18 13:22] #1301 closed, assigned to skodapetr

[2014-03-18 13:26] tomas-knap commented on #1294
@jakubklimek Please test if it is still relevant. It should be solved now

[2014-03-18 13:30] tomas-knap commented on #1045
cannot reproduce

[2014-03-18 13:30] #1045 closed, assigned to bogo777

[2014-03-18 13:32] tomas-knap commented on #1042
Check whether there is no way how to merge the data at once

[2014-03-18 13:34] #1281 closed, assigned to nobody

[2014-03-18 13:36] tomas-knap commented on #1262
Solution: extension of rdf data unit interface

[2014-03-18 13:37] tomas-knap commented on #1230
Not important

[2014-03-18 13:37] #1230 closed, assigned to bogo777

[2014-03-18 13:42] tomas-knap commented on #885
Performance was already improved - there was problem using transactions - they were not used effectively

[2014-03-18 13:42] #885 closed, assigned to tomas-knap

[2014-03-18 13:44] tomas-knap commented on #1142
There should be column, which may filter pipelines based on their visibility

[2014-03-18 13:46] tomas-knap commented on #1072
duplicates #1137

[2014-03-18 13:46] #1072 closed, assigned to nobody

[2014-03-18 13:47] #1025 closed, assigned to bogo777

[2014-03-18 13:51] tomas-knap commented on #268
So that it is possible to download the resulting file using gui. Currently, the file is stored on the server and access to the server is needed

[2014-03-18 13:52] #134 closed, assigned to bogo777

[2014-03-18 13:53] tomas-knap commented on #326
Still relevant?

[2014-03-18 13:59] tomas-knap commented on #1134
Not merged yet, there is a problem when the width of the screen is low, see :+1:
https://github.com/mff-uk/ODCS/pull/1264

[2014-03-18 14:03] tomas-knap commented on #1313
It is better, but still sometimes gui is slow. But this is probably caused by slow db queries. Examine the queries being executed for getting pipeline detail, pipeline list..

[2014-03-18 14:09] #1232 closed, assigned to tomas-knap

[2014-03-18 14:10] #1227 closed, assigned to skodapetr

[2014-03-18 14:15] tomas-knap commented on #297
See https://team.eea.sk/wiki/pages/viewpage.action?title=Requirements%2Bfor%2Btabular%2Bextractors%2Band%2Bloaders&spaceKey=COMSODE

[2014-03-18 15:47] janvojt commented on #326
Yes, you can set session timeout in web.xml. Otherwise, if you wish to read it from config.properties, you probably need to obtain session from RequestHolder, and then use method setMaxInactiveInterval().

[2014-03-19 11:50] #905 closed, assigned to nobody

[2014-03-19 13:41] ghost commented on #1171
resolved here:
https://github.com/UnifiedViews/Core/commit/369867885cb16031c01694a3c7574cb82e41402d

[2014-03-19 13:41] #1171 closed, assigned to tomas-knap

[2014-03-19 14:04] ghost commented on #1317
Trying to resolve here:
https://github.com/UnifiedViews/Core/commit/bde8d6ca3f980bcda212eec88dde4c80bb75b26a

test again if persist reopen.
According to Vaadin Book , given no settings, sessions never expire (nor they are cleared). So i don't understand how it could happen. But, they (of course) recommend to set basic session expiration settings, which I have employed (heartbeat at 5 minutes, expi

[2014-03-19 14:04] #1317 closed, assigned to tomesj

[2014-03-25 15:12] #1296 closed, assigned to skodapetr

[2014-03-25 15:16] tomas-knap commented on #900
See scripts/bundle-deps.sh

[2014-03-25 15:16] #900 closed, assigned to skodapetr

[2014-03-25 15:19] tomas-knap commented on #1231
Pokud programátor čte dokumentaci tak je to v pohodě. Ale třeba Martin to jednou neudělal a pak se divil. Podobně bychom mohli přidat kontrolu jmen DataUnit (neb Kuba to taky jednou nedodržel a pak se také divil :)

[2014-03-25 15:24] tomas-knap commented on #1217
Slo mi o to, ze by se to melo chovat tak, ze kdyz nejakou pipeline chci zrusit a nez to zruseni probehne, tak restartuju backend, tak by se ta pipeline nemela znovu spustit. Pokud to takto funguje, muzem zavrit.

[2014-03-25 15:28] skodapetr commented on #1217
Mělo by se to chovat jak popisuješ.

[2014-03-25 15:36] #1217 closed, assigned to skodapetr

[2014-05-14 12:34] ghost commented on #1233
wontfix

[2014-05-14 12:34] #1233 closed, assigned to skodapetr

[2014-05-14 12:35] ghost commented on #1042
in this branch it is resolved : https://github.com/UnifiedViews/Core/tree/develop

[2014-05-14 12:35] #1042 closed, assigned to tomas-knap

[2014-05-14 12:36] ghost commented on #1282
resolved in branch https://github.com/UnifiedViews/Core/tree/develop

[2014-05-14 12:36] #1282 closed, assigned to nobody

[2014-05-14 12:36] ghost commented on #1318
wontfix

[2014-05-14 12:36] #1318 closed, assigned to skodapetr

[2014-05-14 12:37] ghost commented on #1319
anybody can copy rdfdataunit to any writablerdfdataunit (method addAll). with "merger" dpu, it does not make sense to use it as 'clone', as merger dpu will be far more effective (faster).

[2014-05-14 12:37] #1319 closed, assigned to skodapetr

[2014-05-14 12:38] ghost commented on #1091
is this resolved?

[2014-05-14 12:39] ghost commented on #1322
try again please

[2014-05-14 12:40] ghost commented on #1114
fixed already

[2014-05-14 12:40] #1114 closed, assigned to skodapetr

[2014-05-14 12:40] ghost commented on #1113
resolved

[2014-05-14 12:40] #1113 closed, assigned to tomas-knap

[2014-05-14 12:41] ghost commented on #1267
resolved

[2014-05-14 12:41] #1267 closed, assigned to tomas-knap

[2014-05-14 12:41] ghost commented on #1266
wontfix

[2014-05-14 12:41] #1266 closed, assigned to tomas-knap

[2014-05-14 12:42] ghost commented on #877
wontfix, pipeline restart from point where all data was correct will resolve

[2014-05-14 12:42] #877 closed, assigned to tomas-knap

[2014-05-14 12:43] ghost commented on #978
wontfix

[2014-05-14 12:43] #978 closed, assigned to tomas-knap

[2014-05-14 12:45] ghost commented on #1216
recheck if possible on new UV after deployment, now - wontfix

[2014-05-14 12:45] #1216 closed, assigned to tomas-knap

[2014-05-14 12:45] ghost commented on #1145
toto rozdiskutuj s nami pls alebo zavri

[2014-05-14 12:46] ghost commented on #1138
? tomas-knap rethink this or close

[2014-05-14 12:46] #1087 closed, assigned to tomas-knap

[2014-05-14 12:48] ghost commented on #356
tomas-knap please close ...

[2014-05-14 12:50] ghost commented on #195
je to jeste aktualni?

[2014-05-14 12:50] #844 closed, assigned to tomas-knap

[2014-05-14 12:56] ghost commented on #272
je to aktualne? je to zmysluplne? tomas mozno close?

[2014-05-14 12:57] ghost commented on #359
je to aktualne?

[2014-05-14 12:57] #294 closed, assigned to tomas-knap

[2014-05-14 12:58] ghost commented on #353
je to aktualne?

[2014-05-14 12:59] ghost commented on #507
je to aktualne?

[2014-05-14 13:00] #278 closed, assigned to nobody

[2014-05-14 13:00] #56 closed, assigned to nobody

[2014-05-20 08:58] #353 closed, assigned to tomas-knap

[2014-05-20 08:59] tomas-knap commented on #353
backend logs reasonably

[2014-05-20 09:00] tomas-knap commented on #394
We should add extra icon indicating status of the connection to DB

[2014-05-20 09:01] tomas-knap commented on #359
I think yes, have to be tested

[2014-05-20 09:03] tomas-knap commented on #195
Yes

[2014-05-20 09:06] tomas-knap commented on #359
@jakubklimek , Please test

[2014-05-20 09:07] tomas-knap commented on #359
Relates to #272

[2014-05-20 09:08] tomas-knap commented on #272
@jakubklimek, please test whether it occurs on the current version

[2014-05-20 09:09] tomas-knap commented on #356
Done by the rdf data unit refactoring

[2014-05-20 09:09] #356 closed, assigned to tomas-knap

[2014-05-20 09:10] tomas-knap commented on #1138
won't fix, we will use openRDF, at least for now. We may add support for Jena later.

[2014-05-20 09:10] #1138 closed, assigned to nobody

[2014-05-20 09:15] tomas-knap commented on #195
won't fix

[2014-05-20 09:15] #195 closed, assigned to tomas-knap

[2014-05-30 11:26] ghost commented on #1124
wontfix, merging is instant.

[2014-05-30 11:26] #1124 closed, assigned to nobody

[2014-05-30 11:27] ghost commented on #1325
probably gone

[2014-05-30 11:27] #1325 closed, assigned to skodapetr

[2014-06-10 10:25] #281 closed, assigned to tomas-knap

[2014-10-06 07:45] skrchnavy commented on #1242
Is this requirement valid ? Shall we move it into UV/Core issues?

[2014-10-06 08:16] ghost commented on #1242
Move it, we should rework the naming, yes. Not from client HTTP infor (multiparf-form-data filename atribute), but from JAR artifactId, parse manifest file etc etc.

[2015-01-02 16:54] tomas-knap commented on #1242
Duplicates: https://github.com/UnifiedViews/Core/issues/268

[2015-01-02 16:54] #1242 closed

[2015-07-26 14:37] #1313 closed

[2015-07-26 14:38] #1307 closed

[2015-07-26 14:39] tomas-knap commented on #1277
Cannot reproduce

[2015-07-26 14:39] #1277 closed

[2015-07-26 14:39] tomas-knap commented on #1250
Tutorial is now different

[2015-07-26 14:39] #1250 closed

[2015-07-26 14:40] #1139 closed