[2013-08-19 16:33] skodapetr commented on #242
I would prefer to discuss this personally as I'm not able to give simple answer.

[2013-08-19 16:38] jakubklimek opened #253 "Debugging of Dialogs"
I am unable to debug an issue with ExtractorDialog in PSP_CZ DPU.
minYear.setMin(1918); for a minYear Vaadin slider causes an exception, but it is hard to debug for 2 resaons:

1) Even when backend is running in debug, the breakpoints dont work (as they do with execution)
2) I can only see the exception stack trace when I add another DPU to a pipeline and hover over it. Otherwise I only see a red

[2013-08-19 17:33] #222 closed, assigned to kukharm

[2013-08-19 17:49] #115 closed, assigned to skodapetr

[2013-08-19 17:53] #243 closed, assigned to kukharm

[2013-08-19 20:05] #203 closed, assigned to kukharm

[2013-08-19 23:23] tomas-knap opened #254 "Pipeline Worker exception more descriptive"
I come across problem being described by the log below. However, engine shows in execution monitor/log   only "PipelineWorker exception", with no detail. Could you be please more descriptive?

![screen shot 2013-08-20 at 1 23 24 am](https://f.cloud.github.com/assets/3014917/990197/5db6b090-0926-11e3-9905-465a2ae40acf.png)

[code]

[2013-08-19 23:25] tomas-knap opened #255 "Automatic refresh not working"
Automatic refresh not working  for execution monitor records, details about events/logs in debug view/show log. Can you please check that?

[2013-08-20 07:16] #236 closed, assigned to bogo777

[2013-08-20 08:04] #244 closed, assigned to bogo777

[2013-08-20 08:22] bogo777 commented on #156
I think current funcionality is fine. If you start writing, only matching pipelines are displayed in the automatically showed list. If you explicitly open the list via arrow, all pipelines appear.

[2013-08-20 09:19] jakubklimek opened #256 "Frontend error reporting"
This is related to https://github.com/mff-uk/intlib/issues/253

I was debugging a DPU dialog and there was an issue with conversion of an empty string to Integer. This was in a Validator given to a TextField.
When I clicked on the DPU in DPU Templates, a Vaadin waiting circle was shown, first yellow, then red and that was it. Nothing more. However, in Tomcat log, there was already an exception log

[2013-08-20 09:38] tomas-knap commented on #156
Yes, it is fine.

[2013-08-20 09:38] #156 closed, assigned to bogo777

[2013-08-20 09:41] tomas-knap opened #257 "Default Values for DPUs"
When user creates new DPU bundle, then imports to the tool, he would like to see certain default configuration in the dialog. Should we provide method like getDefaultConfiguration, which the user may implement and provide ConfigObject with default values for DPU details dialogs/when running pipeline?

Currently, default values can be specified directly in the initalization of the dialog.
Alternati

[2013-08-20 09:43] tomas-knap opened #258 "Save button is greyed if nothing to save"
If user saves pipeline and there is nothing to be saved, the button save is greyed. Should be applied also to other buttons

[2013-08-20 09:53] jakubklimek opened #259 "Strange exception when adding a TextChangeListener to a TextField"
I added this piece of code (minYear is a textfield):

<pre><code>minYear.addTextChangeListener(new TextChangeListener() {
        @Override
            public void textChange(TextChangeEvent event) {
                minYear.validate();
            }

        });
</code></pre>

And with this change when clicking on the affected DPU, I get the Failed to load configuration dialog because the bundle c

[2013-08-20 11:01] jakubklimek opened #260 "Pipeline running multiple times and seems scheduled at the same time"
In master d4c5426b6366d3117019e1921dedd67d1727c36a when I deploy the psp_cz DPU (which is now in the DPU project) and I create a simple pipeline where psp_cz extractor parses years 1918 to 1921 and passes data to RDF file loader and run it, it starts, and in a while it starts for a second time and so on and multiple instances run simultaneuously. At the same time the pipeline is seen as SCHEDULED

[2013-08-20 11:10] skodapetr commented on #260
Are there also two record in frontned - execution monitor as well?

How did you start the execution? Using "run" button in pipeline list?

[2013-08-20 11:14] jakubklimek commented on #260
No, there is only one record in execution manager and it says SCHEDULED.

Yes, I started it using "run" button in pipeline list.

[2013-08-20 11:19] jakubklimek commented on #260
Actually, now I left it running for a while and it got started again for the third time. So it just keeps starting it again and again... really seems like an issue with the pipeline viewed as SCHEDULED even if it is actually running.

[2013-08-20 11:26] skodapetr commented on #260
I have uploaded changes that should fix this. Please try it now.

[2013-08-20 11:46] jakubklimek commented on #260
With this version the pipeline crashes in the DPU:

<pre><code>2013-08-20 13:45:29,651 [pool-2-thread-1] DEBUG c.c.x.i.b.execution.PipelineWorker - Started
2013-08-20 13:45:30,930 [pool-2-thread-1] ERROR c.c.x.i.b.execution.PipelineWorker - PipelineWorker: Exception
org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'extractContext' defined in class path resourc

[2013-08-20 14:33] skodapetr commented on #247
What exactly should I add?

Could you please provide me more information about the "outdated" implementation of DPU? Does it not have the interfaces against current commons?

For such case my commit should change the exception to classNotFound and this can solve the situations? Maybe if there still exist that jar file we can try it to upload in current version to find out what happen?

[2013-08-20 14:44] jakubklimek commented on #247
It could be one of the older ones here: https://github.com/mff-uk/DPUs/commits/master/Extractor_psp_cz/target/Extractor_psp_cz_metadata-0.0.1.jar

[2013-08-20 16:48] skodapetr commented on #259
Well we should discuss this with Tomas.
Basically user can use limited set of packages from Vaadin. These packages are those specified in config.properties. If other are used it ends up with this exception.

The problem in my opinion can be solved by adding record for this package to cofiguration.properties.
Something like
com.vaadin.PACKAGE;version\="7.1.0"\
right after the line
com.vaadin.ui;ver

[2013-08-20 17:53] skodapetr commented on #257
I would rather use ConfigObject. It's in my opinion better solution. I implement this solution for testing purpose.

[2013-08-20 20:08] skodapetr commented on #254
Yes and no :) DPU Records are more descriptive ..

In fact the information is stored in database in table LOGGING_EVENT_EXCEPTION. Where I believe the complete stack can be found (I test this by query into DB).

So it's more for Honza, Bohuslav ..
Honza: Should connect LOGGING_EVENT_EXCEPTION table to the LogMessage .. and maybe implement method that join the List<String> (from that table) into si

[2013-08-20 20:10] #233 closed, assigned to skodapetr

[2013-08-21 06:22] jakubklimek commented on #260
Tested and working

[2013-08-21 06:22] #260 closed, assigned to skodapetr

[2013-08-21 06:53] jakubklimek opened #261 "Unable to version DPU projects"
When creating a DPU project JAR, it has version 0.0.1 by default. I can set dpu.version in pom.xml file to 1.0.0 but it still creates a 0.0.1 file. When I set &lt;version&gt;1.0.0&lt;/version&gt; to the pom.xml file, it starts to look for all dependencies in the 1.0.0 version and fails:

<pre><code>[WARNING] The POM for cz.cuni.xrg.intlib:commons-web:jar:1.0.0 is missing, no de
pendency informatio

[2013-08-21 07:00] tomas-knap commented on #261
The versioning of DPUs should not be dependent on the versioning of the tool, so ideally, regardless of version specified in DPU pom.xml, the latest version of the tool should be used.

[2013-08-21 07:04] jakubklimek commented on #100
Also, when a pipeline is in a SCHEDULED state, I should be able to "pause" it and "resume" it. For example, when a pipeline is running and I stop the backend, when I run it again, it is again scheduled and starts to run. Currently there is no way to "pause" it.

[2013-08-21 07:05] tomas-knap commented on #259
I would add all packages, it is acceptable for the comfort that everything in Vaadin is available. But I would suggest to put:
- module.frontend.expose
  module.backend.expose

To separate configuration file, so that new users are not scared. Petr, what do you think?

[2013-08-21 07:10] tomas-knap opened #262 "Possibility to pause/resume pipeline execution"
Late iter4 issue

User may pause pipeline execution and then resume. Question:

Pause may either finish the currently executed DPU and then stop OR the currently executed DPU is cancelled and must be rerun when resumed.

[2013-08-21 07:11] tomas-knap commented on #100
We were discussing that but postponed possibility to pause/resume, see #262

[2013-08-21 07:19] tomas-knap commented on #259
Petre, is it possible to add all vaadin packages at once somehow? Problem is when we switch e.g. from v 7.1.0 to 7.2, than, everything has to be changed - I mean every package name?

[2013-08-21 07:34] tomas-knap commented on #257
Petre, ok. But the default configuration has to work when importing new DPU template. When importing, the DPU template configuration (configuration for the template) must be prefilled with these default values. Can you please do that?

[2013-08-21 07:40] tomas-knap commented on #247
Petre, just please check that proper error message is used when trying to upload the Jar jakub has provided. I also created issue #251 for Bohuslav to provide better error messages in GUI - instead of "Unable to invoke method click" proper error should be mentioned

[2013-08-21 07:45] tomas-knap commented on #242
Ok, let's discuss on Thursday

[2013-08-21 07:49] tomas-knap commented on #250
Jirka, please change the named graph names of type "http://ex3_dpu4_du0" to "http://linked.opendata.cz/resource/odcs/internal/pipeline/exec/3/dpu/4/du/0"?

[2013-08-21 07:52] skodapetr commented on #261
I do not know about possibility to automatically use latest-parent.

But to specify DPU version one should use property
`<dpu.version>0.0.2</dpu.version>` so imho it's independent in certain point of view.

That will affect the "version of the code" but does not change the version of the parent project. I will commit some changes that will propagate the dpu.version into bundle-version as well to m

[2013-08-21 07:57] jakubklimek commented on #261
Yes, I can use the dpu.version property, but as you pointed out, that is not visible anywhere. What I however can see is the version of the resulting jar file.

Strange thing is that in the pom file I left the version of the parent as 0.0.1 and only added version which should be of the current DPU. But that did not work.

[2013-08-21 08:04] jakubklimek opened #263 "RDF File Loader (and similar DPUs) should display some basic settings directly in the box"
When I have an extractor with multiple outputs and I want to save each of them to a different file, I need to use multiple RDF File Loaders. It gets confusing as I don't see the file name of the output file directly in the box of the file loader.

I would expect to see some basic settings directly in the box instead of a description. I already know that RDF file loader loads RDF into files. I don'

[2013-08-21 08:07] jakubklimek opened #264 "Frontend: icons for editing and deleting edges stay visible"
Frontend: When setting edge DataUnitName, the icons for editing and deleting the edge stay visible
![image](https://f.cloud.github.com/assets/718827/999753/ad54eaaa-0a38-11e3-8e18-022fb2dd328a.png)

[2013-08-21 08:09] skodapetr commented on #261
It was visible (even before update) in the last line of manifest.mf in exportet-package, but if do not know where to search I agree that it is "invisible".

To the described behaviour .. when the jar's manifest file is created it use version to determine the version of required libraries as can be seen from error message. If you set version in DPU .. you override the setting for version in parent

[2013-08-21 08:13] skodapetr commented on #263
I thing it's possible to modify that text from DPU configuration dialog. So it's possible to add the output file name into description.

But maybe it's not a bad idea to add some button, that enable the configuration dialog (provided by DPU author) to specify this description?

Ad. to the saving multiple outputs .. I'm no sure if that is possible in current version with current loader.

[2013-08-21 08:21] skodapetr commented on #250
It's more issue for me as the graph url is set from backend. So I reassign it.

[2013-08-21 08:25] jakubklimek commented on #263
OK, the description should be configurable by the dialog author.

Ad. multiple outputs: I thought that that is what the named edges are for - to specify which data unit the next DPU should take.

[2013-08-21 08:36] skodapetr commented on #263
Ad. multiple: Yes but the file loader did not support this.

But it takes less then minute to update it. So please rename dataUnit that should be stored by FileLoader to "input". If there are more dataUnits with this name only the first one is taken.

Unfortunately I'm currently working on another issue so I can't test this functionality now.

[2013-08-21 08:47] jakubklimek opened #265 "Pipeline marked as successful even though there are exceptions"
I ran the buyer-profiles DPU extractor. It ran OK, produces two TTL files as usual. I upload them to RDFDataRepositories as two DataUnits. Here, I got the following exception:

<pre><code>2013-08-21 10:31:33,231 [pool-2-thread-1] INFO  c.c.x.i.rdf.impl.VirtuosoRDFRepo - Virtuoso repository successfully incicialized
2013-08-21 10:31:33,268 [pool-2-thread-1] INFO  c.c.x.i.rdf.impl.VirtuosoRDFRepo -

[2013-08-21 08:52] jakubklimek commented on #265
Actually, as I think about it, this might not be an issue after all. The exception is handled within the DPU, so on the outside, it looks as everything worked OK. I need to throw ExtractException here.

[2013-08-21 08:52] #265 closed, assigned to tomas-knap

[2013-08-21 08:59] skodapetr commented on #250
Tomas please check if that is what you want. Also the browsing of previously created DU won't work.

[2013-08-21 09:03] skodapetr commented on #259
Yes this is issue .. I think it is not possible :( that is why the packages are enumerated in cofig.property file.

I'm not sure if the separate file is the best solution .. the whole configuration will be moving into slq maybe ..

What I can try is to inspect jar-files in the frontend.jar .. and get the list of packages from vaadin files automatically. But I would prefer discussion before writing

[2013-08-21 09:07] skodapetr commented on #262
Interrupt running DPU ie. whole execution is in my opinion not exactly a good idea.

As DPU can run some threads work with valuable resources and so no .. it may create orphan thread .. not properly close connections .. we have to actually terminate the whole subtree of threads ..

[2013-08-21 09:20] tomas-knap opened #266 "Discuss the status of data units renaming"
[8/21/13 11:17:48 AM] Tomas "nappy" Knap: ok, tedy potrebujes mit moznost rict ze outputA as inputA napr., s tim, ze prvni DPU vi ze produkuje outputA a druhe musi ocekavat inputA
[8/21/13 11:17:57 AM] Tomas "nappy" Knap: ok?
[8/21/13 11:19:29 AM] Tomas "nappy" Knap: S tim ze standardni RDF loader proste bere input pojmenovany napr. "input", tedy pokud na nej posles outputA a outputB a pak na hran

[2013-08-21 09:24] skodapetr commented on #257
Well it should .. or you have different experience?

[2013-08-21 09:41] tomas-knap opened #267 "When running pipeline (no debug), only INFO+ logs should be stored and available via GUI"

[2013-08-21 10:06] tomas-knap opened #268 "Loader to RDF file should provide link for the file to be downloaded"

[2013-08-21 10:07] tomas-knap commented on #255
Bohuslav, please update me on this issue

[2013-08-21 10:30] jakubklimek opened #269 "Typo in logging: SUCESSFULL"
Should be: SUCCESSFUL (Merge SUCCESSFUL)

[2013-08-21 10:39] jakubklimek opened #270 "Timeout when clicking on "Show log" of a running pipeline in Execution Manager"
When I click on show log of a long running pipeline in Execution monitor (e.g. in state of transferring large data to a remote Virtuoso), it takes a long time and then it times out.
![image](https://f.cloud.github.com/assets/718827/1000526/f9aa4688-0a4d-11e3-8f7f-52b808002fc3.png)

[2013-08-21 10:45] tomas-knap opened #271 "Columns in log view (lower table in debug detail/show log)"
Column "thread" should be put just to the log detail dialog, removed from the table. Column source should be put as the last column.

Motivation: Have never user column thread (it is not interesting, quite implementation issue), source will be typically the class implementing the DPU, which will be typically one class (so it could be moved as the last column)

[2013-08-21 10:52] jakubklimek opened #272 "Handle connection errors better - sleep & resume problem"
During merging of larger number of triples, virtuoso crashed. I had to kill it on the server. This resulted in several exceptions and the backend crashed.

<pre><code>2013-08-21 12:22:43,348 [pool-2-thread-1] INFO  c.c.x.i.rdf.impl.VirtuosoRDFRepo - Virtuoso repository successfully incicialized
2013-08-21 12:22:43,491 [pool-2-thread-1] INFO  c.c.x.i.rdf.impl.VirtuosoRDFRepo - Set new data graph -

[2013-08-21 11:00] jakubklimek commented on #261
I think that the element not in single place is a small price to pay for being able to version properly.

[2013-08-21 11:19] jakubklimek opened #273 "Deleting a running pipeline"
Deleting a running pipeline is possible. It runs anyway, but is not showing in the execution monitor.

In addition, deleting a pipeline should have a confirmation dialog.

[2013-08-21 11:23] jakubklimek opened #274 "Frontend canvas: DataUnit and edge confusion"
When pointing at an edge in canvas, it says Set name of DataUnit. When opened, the dialog is named Edge details and contains textfield Data Unit Name and button Remove Data Unit.

This needs to be sorted out.

Also, enter does not work in the text field to confirm changes.

[2013-08-21 13:05] jakubklimek opened #275 "When DPU file not found, strange exception is in the log"
When the JAR of DPU which is in pipeline is missing and the pipeline is run, in the log I see:
PipelineWorker: Structure exception

In console there is an exception that makes more sense:

<pre><code>2013-08-21 15:02:18,610 [pool-2-thread-1] ERROR c.c.x.i.b.execution.PipelineWorker - PipelineWorker: Structure exception
cz.cuni.xrg.intlib.backend.execution.StructureException: Failed to load instanc

[2013-08-21 13:13] skodapetr commented on #275
This is in my opinion the same as #254.

[2013-08-21 14:09] tomas-knap commented on #250
Yes, that is fine, thanks also for writing the test :)

[2013-08-21 14:09] #250 closed, assigned to skodapetr

[2013-08-21 14:11] tomas-knap commented on #262
Ok, so when user presses pause, it will finish one DPU and then stop?

[2013-08-21 16:08] tomas-knap opened #276 "RDF parsing exception"
What does the following error mean? (the selected one)

![screen shot 2013-08-21 at 6 06 53 pm](https://f.cloud.github.com/assets/3014917/1002373/cb4f758c-0a7b-11e3-8487-cf097dda4feb.png)

[2013-08-21 16:11] tomas-knap commented on #276
Aha, tak log backendu mi hlasi:

org.openrdf.repository.RepositoryException: Problem parsing triples
    at virtuoso.sesame2.driver.VirtuosoRepositoryConnection.add(VirtuosoRepositoryConnection.java:1031) ~[virtuoso-sesame-7.0.1.jar:na]
    at cz.cuni.xrg.intlib.rdf.impl.LocalRDFRepo.addInputStreamToRepository(LocalRDFRepo.java:599) [RDF-0.0.1.jar:na]
    at cz.cuni.xrg.intlib.rdf.impl.LocalRDFRep

[2013-08-21 16:12] tomas-knap commented on #276
1. oprav prosim, aby v gui byla videt lepsi hlaska
2. proc to hlasi?

[2013-08-21 16:33] bogo777 commented on #255
Automatic refresh worked for me on canvas, but I currently have some issue with loading DPUs(propably missing some jars in lib folder) and execution fails, so I do not have enough time to try it from execution monitor.

[2013-08-21 17:28] #276 closed, assigned to tomesj

[2013-08-21 17:37] tomas-knap opened #277 "Problem when importing DPU"
![screen shot 2013-08-21 at 7 29 48 pm](https://f.cloud.github.com/assets/3014917/1003100/3ddd1602-0a88-11e3-9ebc-5b1ab329fc86.png)

[2013-08-21 19:30] tomas-knap commented on #277
Cannot reproduce

[2013-08-21 19:30] #277 closed, assigned to nobody

[2013-08-21 19:31] tomas-knap opened #278 "Issue when connecting to virtuoso"
Connection to jdbc:virtuoso://localhost:1119/charset=UTF-8/log_enable=2 is FAILED.
2013-08-21 20:48:57,909 [pool-2-thread-1] DEBUG c.c.x.i.rdf.impl.VirtuosoRDFRepo - virtuoso.jdbc4.VirtuosoException: Connection failed: Cannot assign requested address
org.openrdf.repository.RepositoryException: virtuoso.jdbc4.VirtuosoException: Connection failed: Cannot assign requested address
    at virtuoso.sesa

[2013-08-22 06:37] jakubklimek opened #279 "When running and deleting a pipeline at the same time, backend crashes"
I am not able to stop or unschedule tasks in the current version. Therefore, when I run backend and there is a pipeline scheduled, what I can do is copy it and delete it before it runs to stop it. This time I was a bit late and deleted the pipeline roughly at the same time it started and this exception happened and the backend crashed:

<pre><code>2013-08-22 08:33:12,425 [pool-2-thread-1] DEBUG c.

[2013-08-22 07:53] #271 closed, assigned to bogo777

[2013-08-22 07:58] #10 closed, assigned to bogo777

[2013-08-22 11:58] jakubklimek opened #280 "NumberFormatException when log as 4690 pages (probably > 1000)"
![image](https://f.cloud.github.com/assets/718827/1008368/579a6eba-0b22-11e3-93b1-398d0a45dbc1.png)

[2013-08-22 19:07] tomas-knap opened #281 "Execution monitor should show how long the pipeline have been running"

[2013-08-22 20:15] tomas-knap commented on #270
Will be solved by #220

[2013-08-22 20:32] tomas-knap commented on #257
just tried :)

[2013-08-22 20:32] #257 closed, assigned to skodapetr

[2013-08-23 05:46] jakubklimek opened #282 "There should be a new pipeline state in Execution Monitor: Finished with warnings"
When a pipeline finishes, but had some problems which it handled but still wants to let it know, there should be a state like Finished with warnings (yellow). Finished (green) should be the case when there is no attention needed and red should be when there was some serious problem like that it crashed or did not finish.

[2013-08-23 06:29] jakubklimek opened #283 "Scheduler: Wrong behavior with missed events"
I scheduled an event to run at 8:15 every day. I did this in the afternoon.

1) It started immediately - probably was seen as missed

2) It got scheduled 24 hours after the start, not at 8:15 the next day

![image](https://f.cloud.github.com/assets/718827/1014538/1693e27a-0bbd-11e3-8f02-3c8a885d9d87.png)

[2013-08-23 07:01] tomas-knap commented on #283
So the problem is that the time for which the event was schedulled was not successfully recorded. Petre, can you please check that? Probably it is a problem on Maria's side, but Maria is out till end of August.

[2013-08-23 07:09] tomas-knap commented on #282
There is "finished with Warnings status" in the list of possible statuses, but probably not used. Such state should be used if at least one WARNING+ occurs in the log.

[2013-08-23 07:09] jakubklimek commented on #283
The problem is visible when you look at the screenshot: Scheduled for 8:15 AM, next run 1 PM.

[2013-08-23 07:13] tomas-knap commented on #275
Honza, please look at #254 and adjust correspondingly. Discuss with Bohuslav.

Honza: Should connect LOGGING_EVENT_EXCEPTION table to the LogMessage .. and maybe implement method that join the List (from that table) into single String .. and merge with current message.
Bohuslav: Should use new this new method.

[2013-08-23 07:17] tomas-knap commented on #274
Yes, I will propose the mockup for the data unit mapping dialog, then assign to Bohuslav

[2013-08-23 07:22] tomas-knap commented on #273
Solution: When clicking on delete, there should be confirmation dialog. The confirmation dialog should ask whether the usr would like to really delete the pipeline and all associated records (DPU instances e.g.). If the pipeline is currently schedulled, user should be warned about that fact. If the pipeline is running currnetly, the user has to be warned that the current run will be cancelled. If

[2013-08-23 07:37] tomas-knap opened #284 "DPU - Expected data unit names for inputs, provided data unit names for outputs"
Every DPU should define the name of the inputs it is expecting. If there is only one input, such as in case of loader, it is by default named "input".

Every DPU should define the names of the outputs it is providing. If there is only one output, it is by default named "output".

How the DPU devel will define the names?

[2013-08-23 07:37] tomas-knap commented on #263
I would suggest to show tooltip when mouse is over certain DPU -> the tooltip can be obtained by calling getConfigurationSummary() method which the DPU developer may redefine. By default, it will show description.
What do you think?

Regarding input/outputs, discussing is needed, contribute to #280

[2013-08-23 07:57] jakubklimek commented on #263
I don't agree. These things should be visible without hovering to getting a tooltip. I would do it the other way around. Description in a tooltip and settings in the box. When one uses the DPUs for some time like we do, we already know which is for what so we don't need nor read the descriptions. We however need to see the settings like to which file/graph/... the pipeline puts data, where it gets

[2013-08-23 08:14] tomas-knap commented on #263
Kubo, the problem is that if we put all such information directly to the DPU box on the canvas, the box will be quite big and not much DPUs could be visible at one time or the font of the description would have to be rather small. That  was the motivation for tooltip

[2013-08-23 08:19] jakubklimek commented on #263
Not all, just the important one. Like the file name in the RDF file loader, graph name in RDF graph loader etc. That should be up to the DPU developer to keep it simple but efficient.

[2013-08-23 08:37] tomas-knap commented on #263
Yes, but e.g. named graphs ten to be quite long, so it would need extra logic which hides the prefix of the named graph e.g. Otherwise, the DPU boxes on the canvas would look really ugly. On the other hand, long tooltip is completely fine and no refinement is needed.

[2013-08-23 08:45] skodapetr commented on #263
I thing that it can be sometime useful to define the description on your own. Just imagine using multiple SPARQL transformers .. the query is too long to be used as a description and there is no other value in configuration.

On the other hand using description from configuration is probably better for loader,file dependent DPU, etc ..

So I propose the following solution:
1)  add method getConfig

[2013-08-23 08:47] skodapetr commented on #263
The tool tip seem fine to me for some use case ..  maybe for DPUs  with user provided description?

So I can not only see me description if I want but I can also quickly revise important aspect of the configuration?

PS: We can check the length of getConfigSummary and if too long warn user about it .. so he may decide not put it into the description. Because for example what is too long on 13,3 mo

[2013-08-23 08:49] tomas-knap commented on #263
I think that the checkbox is not needed, if the user redefines certain methods, his definition will be used.

What about having two methods, e.g.:
getToolTip() and getCanvasText(), which the DPU developer may redefine. If they are not redefined, the first returns nothing, the second one getDescription(). If redefined, the first defines the content of the tooltip and the second one the text under t

[2013-08-23 09:04] skodapetr commented on #263
But in that case when DPU author redefine certain method I as user can't give my description to the DPU ..

even worse I can give my description only to some (based on something I can't see) and in my opinion this can be confusing for some people: why I can add description to this and not to this?

[2013-08-23 09:14] tomas-knap commented on #263
The problem is that for certain DPUs, the description is not that interesting as for the others. If I upload certain rather specific DPU for particular use case, description is what the user would like to see. But if I use the core DPUs, which will be used often by the user, it is a waste of the space to show always the description. Maybe we can combine these two methods with the checkbox in the S

[2013-08-23 09:26] skodapetr commented on #263
I'm for checkbox for each DPU with default value -> use getConfigSummary
It will give user freedom to decide on his own.

It will require:
- small change in DB (adding check box value)
- update configuration interface
- introduce new class BaseConfig with empty implementation of this methods (for easy use)
- implement in core DPUs
- add checkbox to the dialog and if need use value from getConfigSu

[2013-08-23 10:26] tomas-knap commented on #263
Petre, just the question is if the change is not to complex for the feature we gain. because, still, we can rely that DPU developers are those who know what they are doing, so it is their intention to provide understandable DPU - provide reasonable implementation of getDescription method. And still, description in the original form may be presented in DPUs menu item when browsing templates

[2013-08-23 17:59] jakubklimek opened #285 "Scheduler: Scheduled pipeline did not run"
Look at ARES 5000., located at odcs.xrg.cz:8080/odcleanstore This was taken 23.8. 8PM.
It says it ran yesterday at 6PM and next should have been today (23.8.) 6:15PM. But it didn't (it would have been shown in "last run").
So the scheduler only worked once - yesterday.
![image](https://f.cloud.github.com/assets/718827/1017954/5f7d1b4a-0c1d-11e3-8ce1-361e0dd8ade2.png)

[2013-08-23 20:13] tomas-knap opened #286 "Do we need to distinguish between extractors and transformers?"
Motivation:

[8/23/13 9:47:12 PM] Jakub Klímek: prakticka vec: jedna pipeline mi dela ty buyer profiles, druha pro dany ica stahuje ARES
[8/23/13 9:47:49 PM] Jakub Klímek: a ja bych chtel v odcs zautomatizovat to, aby se po dokonceni buyer-profiles vzaly ica z nich (1 sparql) a nejak se predali tomu ARESu ke zpracovani

1) jak predat data z jedny pipeline do druhy? Jedna moznost je v prvni zadat d

[2013-08-24 12:54] tomas-knap opened #287 "Transaction deadlocked"
When running the same pipeline twice, sometimes the following error occurs. Jirka, please try that

Steps to reproduces: Prepare pipeline which is running at least one minute (e.g. dbpedia pipeline, but with some SPARQL query). RUn the pipeline twice or more times. Kill backend. Restart backend, all these pipelines starts at the same time. Watch for this exception.

2013-08-24 14:45:24,842 [pool-2

[2013-08-24 13:03] tomas-knap opened #288 "Silk - DPU calling API function"
Silk is currently called as external process.

Mno, je tam problem tento:

java.lang.IllegalArgumentException: http://www.w3.org/2001/XMLSchema

[code]

Coz je ale krajne podivne, bo kdyz ten SIlk pustim vedle, se vsemi knihovnami co odcleanstore pouziva, tak to bezi. Zrejme ale jde o problem v classloaderu. Tedy ze se pro javax.xml.validation pouzije nejaka spatna implemnetace...ackoliv je to div

[2013-08-24 13:18] #60 closed, assigned to skodapetr

[2013-08-24 13:23] tomas-knap commented on #259
Please add all Vaadin packages/reasonable subset into configuration file ,but it's about 20,0 KB .. for all packages that are located in Vaadin related jar files.

Check also if newer version of Vaadin is not available.

[2013-08-24 13:35] tomas-knap commented on #261
dpu.version removed, instead of that version is used. intlib version is used for version of the core

[2013-08-25 08:10] tomas-knap opened #289 "CSS pro Vaadin ve stylu twitter bootstrap"
Upozorňuji na vznikající projekt https://github.com/jounik/bootstrap-for-vaadin . Je tam základní proof-of-concept starý 14 dní. Mrkněte na to, minimálně ta tlačítka bychom už používat mohli, dost by se hodila tam kde je jich 5 stejně vypadajících vedle sebe s naprosto rozdílnou úrovní závažnosti (pipelines, delete a copy například)

Bohuslave, zkusis na to prosim mrknout a sepsat svoje poznatky s

[2013-08-25 08:44] tomas-knap commented on #208
Jirko,

metody makeSelectQuery/makeConstrustQuery vraci FIle. To se muze hodit, ale to RDFDataUnit musi nabidnout i metodu, ktera vrati openRDF resultSet, se kterym je rovnou mozne pracovat, napriklad si iterovat pres vysledky.

Tedy cekal bych tam napriklad metodu, ktera vrati http://www.openrdf.org/doc/sesame2/api/org/openrdf/query/TupleQueryResult.html

Ale cim vice metod udelas s ruznymi vystu

[2013-08-25 08:55] tomas-knap commented on #224
Honzo, mame v confluence nejaky zaznam o tom jak to funguje? Pokud ne, tak rychle dopln, at na to muzu mrknout a muzem kdyztak jeste korigovat. Jinak tedy tento task chces mit dnes hotovy, vcetne implementace toho approach jako je v bodu 1 v iteration 4 na confluence? <b> Tohle potrebuju vedet, abych mohl planovat.</b>

[2013-08-25 08:59] tomas-knap commented on #206
email setting in config.properties, needs to be tested on accesible mail server
email.enabled = true
email.smtp.host = smtp.gmail.com
email.smtp.port = 587
email.smtp.ttl = true
email.from = intlib@localhost.cz
email.authorization = true
email.username = login
email.password = pass

[2013-08-25 09:08] tomas-knap opened #290 "Implement Standard & Develop mode"
Specify and Implement locking of pipelines, switching to devel mode...

[2013-08-25 09:15] tomas-knap opened #291 "Pipeline statistics about runs"
Realizes 3C.

The system will provide statistics – which pipelines ran for how long, under which user account, what was the size of the result, resulting state - error/OK, average run time for each pipeline, number of pipelines per user account, total runtime per user account – all of this computed from execution monitor record + logs

Allocation:
Tomas: Write down confluence page of intended stat

[2013-08-25 09:25] tomas-knap opened #292 "Validation of pipeline"
Realizes 3B

B Validation - Validation before running/debugging pipeline - checking that: all mandatory fields are set, connections are correct between DPUs (Jan - 2 days)

Write down what the validation should contain, checking mandatory fields are ok, checking that connections between DPU are ok (based on the number of required inputs, input names, ...), checking there is no DPU which is not rea

[2013-08-25 10:28] tomas-knap opened #293 "Export/Import DPU templates/Pipelines"
Realizes iter4/4

I want to be able to easily export/import environment (pipelines I have defined, DPU templates I am using, DPU instances) when moving to another instance of the tool
Problem with conflicts when importing on the second instance!
I want to be able to easily export/import DPUs  when moving to another instance of the tool
It means to have button to export (certain) pipelines and then

[2013-08-25 10:33] tomas-knap opened #294 "Pruning of historical execution monitor records"
Administrator can delete historical records older than one day/week/month for all the accounts from his settings - admin interface (see. Mockup 1). He may which prune execution records (which yields in deleting of execution folders on the server and files needed for debugging, named graphs in virtuoso)
Pipeline execution monitor is supported with checkbox "Show all executions". By default this che

[2013-08-25 10:41] tomas-knap opened #295 "Namespace prefixes"
Jirka:
- Under menu item Settings, create tab Namespace Prefixes which is accessible for admin.
- Under the tab Namespace Prefixes, there will be table of namespace prefixes managed by the application (initialized by the namespace prefixes from Virtuoso)
  - admin may add/remove/edit namespace prefixes, functionality similar as in ODCleanStore
- When SPARQL query is prepared, user may use namespac

[2013-08-25 10:48] tomas-knap opened #296 "Possibility to copy DPU on the canvas"
There is certain icon, which allows to duplicate the DPU instance on the canvas with the same settings.

[2013-08-25 10:50] tomas-knap opened #297 "CSV extractor DPU"
I want to extract CSV files (using https://github.com/cygri/tarql) (Req 22b)

Allocation:
Jirka: Everything, including GUI. create confluence page with mockup of the DPU details dialog before (needs to be consulted)

[2013-08-25 10:56] tomas-knap opened #298 "Suggest ontological terms - Bohuslav's part"
Supplement core DPUs with the possibility to suggest ontological terms to the user when writing SPARQL queries (Req 47), it will use ontologies from the designed area.

We will provide special TextBoxes, TextAreas and ComboBoxes, which will have the ability to suggest ontological terms

Allocation:

Bohuslav: prepare special TextBoxes, TextAreas, ComboBoxes. It should work in a way that when "[a-z

[2013-08-25 11:02] tomas-knap opened #299 "Suggest ontological terms - Jirka's part"
Supplement core DPUs with the possibility to suggest ontological terms to the user when writing SPARQL queries (Req 47), it will use ontologies from the designed area.

Jirka:
- Implement the method getRelevantSuggestions, which is called for each "[a-z]+:[a-z]+"   being filled to special TextBoxes (see #298). the method looks into ontology repository, translates prefix to full URI using namespace

[2013-08-25 11:02] tomas-knap opened #300 "Extended possibility to set location of ontologies"
When #298, #299 is done
- Under menu item Settings, create tab Ontologies which is accessible for admin.
- Under the tab Ontlogies, there will one or more SPARQL endpoints + named graphs specified, where ontologies may be found. Ask Bohuslav to help with that.

[2013-08-25 11:13] #124 closed, assigned to janvojt

[2013-08-25 11:24] #282 closed, assigned to skodapetr

[2013-08-25 11:34] janvojt commented on #224
Sharing and permissions for DPUs and Pipelines are documented in [confluence](https://grips.semantic-web.at/pages/viewpage.action?pageId=42730318). As documented, pipelines have a special Access Control List with permissions defined explicitly for each user.

I plan to finish general security restrictions based on entity ownership tonight/tomorrow, including restrictions for public/private DPUs an

[2013-08-25 11:34] #242 closed, assigned to skodapetr

[2013-08-25 11:35] tomas-knap commented on #168
I saw there is an extra event that the pipeline was restarted, so we can close this issue?

[2013-08-25 11:52] tomas-knap commented on #189
So to summarize, blinking of scrollbars is still an issue, will be solved when #220 done

[2013-08-25 11:59] tomas-knap commented on #253
Will be solved by #251

[2013-08-25 11:59] #253 closed, assigned to bogo777

[2013-08-25 12:06] tomas-knap commented on #161
Correction, could you please adjust it, so that:

when debugging, DEBUG+ is selected by default as the filter
when running in normal mode WARNING+ is selected by default as the filter

[2013-08-25 12:36] tomas-knap opened #301 "Loader supplements data with metadata"
Loader may support the data with
metadata (when created, by who, which DPUs were executed on the way). (zadani)

There will be textarea, where metadata can be put (in the form of turtle file). User may also upload the metadata from a file. User may specify named graph with the metadata. Textarea may contain variable with the graph being replaces with the actual graph being processed by the loader.

[2013-08-25 12:40] tomas-knap opened #302 "Possibility to browse resulting triples"
Data browser/query:

Every URI resource - result of the browser/query - is clickable - when clicking on that URI X, query  DESCRIBE <X>
is executed which provides me with all data about X in the same graph.

Jirka: Implement method "describeURI", Bohuslav: call "describeURI", allow to click on the URI resources

[2013-08-25 12:42] tomas-knap opened #303 "Global Configuration - prepare detailed spec"
Global configuration (globar SPARQL rules management)
every DPU could access global shared configuration object, if it knows the object's ID (e.g. ID of the given SPARQL rule) + tridu (trida = napr. SPARQL Rules Manager)
such shared object might be use in:
DPU SPARQL transformer to store/retrieve SPARQL queries
When debugging to store/retrieve SPARQL queries executed against the data
When working

[2013-08-25 12:56] tomas-knap commented on #220
Kluci, co jste se tedy dozvedeli posledni tyden? Porad to vypada na tu variantu:

3) Nejak skombinovat oba pristupy - namiesto pouzitia querybuilder, predavat frontendu nejaky vlastny objekt, kde by uz bola vybrana entita, predfiltrovany vysledok autorizatorom len na povolene objekty. Na tomto objekte by potom mohol frontend dalej filtrovat, ale nemohol by zrusit uz zadane kriteria.

Napiste mi tu

[2013-08-25 13:00] tomas-knap commented on #99
See DPUs repository

[2013-08-25 13:00] #99 closed, assigned to tomas-knap

[2013-08-25 13:03] tomas-knap opened #304 "Define Data Unit names for DPUs"
How the DPU developer can define which names of output data units DPU is producing and which names of input data units DPU is supporting?

Using annotations?

Test annotations, implement, and adjust DPU tutorial

[2013-08-25 13:05] tomas-knap opened #305 "Support for mapping data units outputs on inputs"
Each DPU has n outputs and m inputs in general.

Bohuslav: When clicking on the edge, dialog should occur (works right now). The dialog should allow to select one output data unit name of the source DPU and one input data unit name of the target DPU and based on that create mapping between outputs and imputs

[2013-08-25 13:10] tomas-knap opened #306 "Support XML Data Units"
Test it on some testing DPUs which outputs/consumes XML.

[2013-08-25 13:12] tomas-knap opened #307 "Data browser for XML Data Unit"

[2013-08-25 13:16] tomas-knap opened #308 "Annotations for mandatory/optional inputs/outputs, types of data units"
When #304 ready and when it looks as a good approach. Relates also to #306

Each DataUnit is annotated not just with name, but also type (RDF, XML, ..). Each input/output is annotated as mandatory/optional.

[2013-08-25 13:44] tomas-knap opened #309 "PipelineWorker rozdelit do vic trid"

[2013-08-25 14:36] janvojt opened #310 "Optimize DPU template listing"
When DPU template detail is showed, all occurrences of given DPU in pipelines needs to be counted. This is OK, however it is implemented by loading ALL pipelines from database and iterating over them, their graph, nodes, and DPU instances. This is very performance intensive.
We need to prepare a method in commons-app, which does the counting in one query. This needs to be prepared in `DPUFacade` a

[2013-08-26 09:15] tomas-knap commented on #100
Melo by jit o okamzity cancel. Tedy ze by se zabilo bezici DPUcko a pipeline byla ve stavu cancelled. Asi by bylo fajn aby DPU mohl implementovat metodu, diky ktere po sobe v techto pripadech uklidi.

[2013-08-26 10:20] tomas-knap commented on #208
Jirkam further comments, please check as soon as possible. I have renamed certain methods a bit, but you shoul d be able to find them:
1. Comment for: @param baseURI String name of defined used URI prefix namespace used by
   -                all triples.
     Is not clear to mean. Explain better. What the baseURI brings to the DPU developer?

<b> 2. There must be method extractRDFFromSPARQLEndpoi

[2013-08-26 10:20] tomas-knap opened #311 "LocalRDFRepo, VirtuosoRDFRepo - needs refactoring"
Current state:

LocalRDFRepo implements most of the methods, VirtuosoRDFRepo only adds couple of more methods. So when we will be adjusting code in the future, it is not obvious which code is common to all repositories and which is specific for local repo

Solution: It would be nicer to have a class (e.g. AbstractRDFRepo) from which both localRDFRepo and VirtuosoRDFRepo inherit. Thus, add one clas

[2013-08-26 10:41] tomas-knap opened #312 "All Core DPUs should use RDFDataUnit instead of RDFRepository"
RDF Repository SHOULD not be used by any DPU, even by the core DPUs, because this gives bad examples for others.

Solution: All Core DPUs must use RDFDataUnit, not RDFDataRepository

[2013-08-26 11:27] tomas-knap opened #313 "Red/Green light in GUI to denote whether backend is running"
GUI will periodically (e.g. every 1s) checks whether backend is running. If yes, green light will appear. If not, red will appear. Please propose the location for such light icon.

[2013-08-26 12:24] #312 closed, assigned to tomesj

[2013-08-26 13:49] tomesj commented on #208
1. BaseURI je string, který v případě, že je definován je použit u každé trojice, např mám-li BaseURI=http://my/base/, a vkládám trojici ("subject, "predicate,"object"), vlozi se mi trojici "http://my/base/subject, http://my/base/predicate, http://my/base/object. Je-li prázný, je potřeba napsat celé URI pro každou složku (s,p,o).

Napsal jsem toto:
 @param baseURI = String name of defined URI pref

[2013-08-26 14:52] tomas-knap commented on #208
Jirko, jeste k tomu baseURI, a kdyz vkladam (x, http://myexample/y, z), tak se z toho udela diky baseURI trojice http://my/base/x, http://myexample/y, http://my/base/z ?

Ad prazdny dotaz u addTriplesFromSPARQL, chapu, ale neni potreba preci po uzivateli chtit aby dodal dotaz "dej mi vse z grafu", proste se ten dotaz "dej mi vse z daneho named graph" vytvori u tebe, tedy uzivatel ten dotaz nemusi

[2013-08-26 15:17] tomas-knap opened #314 "Refactor RDFDataUnit, RDFDataRepository"
Mame interface DataUnit, pak interface RDFDataRepository a pak Local/Virtu impl RDFDataRep. A krom toho mamRDFDataUnit, coz ma byt rozhrani, pres ktere kouka na pro nej zajimave metody DPU developer. Ale realita je jina.

RDFDataUnit implemmentuje vsechny metody, i ty, co s DPU developerem nesouvisi. To je blbe.
navrhuju tedy, aby RDFDataUnit nebyla trida co extenduje DataUnit, ale aby RDFDataRepo

[2013-08-26 16:12] bogo777 commented on #197
Closed by 33b83b5762dbf7de97a5d2636a30b418cc86e256

[2013-08-26 16:12] #197 closed, assigned to bogo777

[2013-08-26 16:52] tomesj commented on #208
Je to tak, že když vkládám (x, http://myexample/y, z), tak mi z toho udela diky baseURI trojice http://my/base/x, http://my/base/http://my/example/y http://myexample/z.

Tedy časté užití to určitě nemá - spíš se bude používat případ, kdy je každá část zpravidla jiná (jiný namespace).

Ten prázdný dotaz jsem chtěl jenom ujasnit - chápeme to tedy stejně - přidám příslušné metody k tomu určené

Co se

[2013-08-26 17:00] bogo777 commented on #220
Zmergoval jsem svou branch s lazy-loadingem do masteru. Aktualne je to pouzite na: seznam pipeline, execution monitor, execution records, log messages.
Meli bychom rozmyslet, kde lazy-loading pouzijeme. Pokud nekde bude relativne malo zaznamu, bylo by vyhodnejsi pouzit inmemory container, ktery ma tu vyhodu, ze po uvodnim nacteni uz veskere filtrovani probiha take inmemory, naopak pri nasem pristu

[2013-08-26 17:22] tomesj commented on #314
Jsem pro - jdu to udělat. Co s původní třídou RDFDataUnit - tu smazat ?

Jestli to chápu správně, tak
a) RDFDataUnitHelper - metody pro developera
b) RDFDataRepository extends DataUnit,RDFDataUnitHelper
c) Smazání původní RDFDataUnit
c) přejmenování RDFDataRepository na RDFDataUnit.

Je to v tak v pořádku ?

[2013-08-26 19:02] tomas-knap commented on #314
Jeste pockejme na nazor Petra, Petre? :)

Kdyz se nevyjadri do zitrejsiho poledne, tak na to prosim vlitni.

[2013-08-26 19:06] tomas-knap commented on #208
Ok, diky :-) S tim file uz to chapu, ok, tak jo. Tu metody s baseURI bych vyhodil z toho RDFDataUnit, to nikdo nikdy nepouzije imho a jeste to bude matouci.

[2013-08-26 19:27] tomesj commented on #314
Už jsem na to vlítl - je to už naimplementované a vyřešené. Udělal jsem to, jak bylo řečeno výše. V DPU je správně volána RDFDataUnit.

Přidal jsem navíc novou ještě RDFDataUnitFactory třídu pro vytváření instancí a nahradil předchozí použivání.

Myslím, že by to mělo být OK, jsou-li nějaké nedostatky či připomínky, tak sem s nimi :-)

[2013-08-26 20:30] tomas-knap commented on #208
Jirko, jeste mi tam prosim dopln metodu:

public void copyAllDataToTargetDataUnit(RDFDataUnit targetDataUnit);

[2013-08-26 20:49] tomesj commented on #208
Vyřešeno - metody s baseURI přehozeny z RDFDataUnitHelper do RDFDataUnit. Přídána 1 další implementace pro metodu extractFromFile.

Metoda copyAllDataToTargetDataUnit přidána pro developery do RDFDataUnitHelper :-)

[2013-08-26 21:39] #314 closed, assigned to tomas-knap

[2013-08-26 21:40] #208 closed, assigned to tomesj

[2013-08-27 00:13] tomesj commented on #311
Add common parent abstract class BaseRDFRepo - add implementation, update Local/VirtuosoRDFRepo classes.

[2013-08-27 00:13] #311 closed, assigned to tomesj

[2013-08-27 06:55] jakubklimek commented on #272
backend cannot connect to DB = he can run in readonly mode if possible, do not crash

[2013-08-27 07:31] #218 closed, assigned to tomas-knap

[2013-08-27 07:36] #117 closed, assigned to nobody

[2013-08-27 07:42] tomas-knap opened #315 "Show how long the pipeline was executed"
Show when the pipeline was started, when it finished in the execution monitor.

[2013-08-27 08:29] bogo777 commented on #161
It is adjusted.

[2013-08-27 08:29] #161 closed, assigned to bogo777

[2013-08-27 08:44] bogo777 commented on #61
Selecting the DPUs with mouse in a similar way as more icons on the desktop should be possible, but it would require some additional work, I can only guess that about half a day. Easier solution could be the one, when selection happens when CTRL key is held. As for right click and context menu, this is web application, and I do not know about any way how to make this.

But I agree that current app

[2013-08-27 08:49] bogo777 commented on #251
There is way in Vaadin to process uncaught exceptions and customize how they are displayed, instead of the very long error window that appears now. I made first attempt to customize it and now only short error dialog is displayed. But there are maybe too few infromation now.

Also for more precise description of errors, as in example:
e.g. Method for storing configuration threw exception: "Not sup

[2013-08-27 09:16] tomas-knap opened #316 "SPARQL Loader NOT Working correctly"
It does not take into account literals, datatypes, language tags. Everything is hardcoded as URI.

Is there any warning reported?

<b>Jirka can you please start by explaining the functionality of the code below? I mean the replace calls</b> Then we can discuss how to implement it better

<pre> <code>for (Statement nextStatement : statements) {

                String subject = nextStatement.getSub

[2013-08-27 09:20] tomas-knap opened #317 "Update OpenRDF to latest release"
Currently, latest is 2.7.5

[2013-08-27 09:22] bogo777 commented on #225
Login screen is present, it is shown instead of any page if user is not logged or his session expired. Information about logged in user are shown in top right corner with possibility to log out of the system.

[2013-08-27 09:36] jakubklimek opened #318 "Cannot compile frontend due to repository changes"
<pre><code>[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.
1:compile (default-compile) on project frontend: Compilation failure: Compilatio
n failure:
[ERROR] /C:/Users/Kuba/Documents/GitHub/intlib/frontend/src/main/java/cz/cuni/xr
g/intlib/frontend/browser/DataUnitBrowserFactory.java:[137,40] incompatible type
s
[ERROR] required: cz.cuni.xrg.intlib.rdf.impl.LocalR

[2013-08-27 10:38] tomas-knap opened #319 "Delete debug data for the pipeline/for all pipelines"
Admin should be possible to delete all debug data for all pipelines, or for selected pipelines. User may be possible to delete all debug data for all his pipelines/selected pipelines.

[2013-08-27 11:04] #318 closed, assigned to tomesj

[2013-08-27 11:20] tomesj commented on #317
I tried to use version 2.7.5, but I found out, that some method I used there are not yet (or their eqvivalent).

Problems are found with:
1) GraphQueryResult class - method asGraph();
2) TupleQueryResult class -  methods C addTo(C arg0), asList(), asSet(), singleResult(), ...

What do you mean ?

[2013-08-27 12:12] #264 closed, assigned to bogo777

[2013-08-27 12:15] tomas-knap opened #320 "Backend should be more robust when Virtuoso throws an exception"
Tady by to chtělo probrat s Honzou ... pro mě by bylo nejhezčí .. kdyby se tohle řešilo ve facadách .. tj. nejde DB - Hibernate .. tak začnou blokovat a zkoušet po třeba 20 vteřinách

Přijde mi to hezčí a bezpečnější než při každém get-save .. používat try catch a nějaký čekací mechanismus .. pak se to někde zapomene, nebo neupraví ... kdežto fadady jsou na jednom místě a většina App přistupuje k

[2013-08-27 12:27] tomas-knap commented on #251
Ok, can you point me please to the code where some individual solution is used?

[2013-08-27 12:35] tomesj commented on #316
<code>

object = object.replaceAll("<br\\s*/>", "")
.replaceAll("\s+", "_")
.replaceAll("<", "â€ą")
.replaceAll(">", "â€ş");

 String appendLine = "<" + subject + "> <" + predicate + "> <" + object + "> . ";
 builder.append(appendLine.replaceAll("\s+", " ").replaceAll( "\"", "'"));

</code>

Když jsem zkoušel nahrávání dat na SPARQL endpoint, ukázalo se, že jsou některé speciální znaky tomu vadí a

[2013-08-27 12:54] jakubklimek opened #321 "Unresolved conflict in db/virtuoso/rdbms/data.sql"
Unresolved conflict in db/virtuoso/rdbms/data.sql - commited with GIT conflict messages

[2013-08-27 12:58] #321 closed, assigned to bogo777

[2013-08-27 13:09] jakubklimek opened #322 "Login: Missing error messages when invalid user/password"
Login: Missing error messages when invalid user/password

In addition, a message should be displayed with contact information about admin who should be contacted for account creation.

[2013-08-27 14:11] tomas-knap commented on #316
Aha,

je tam problem v tom, ze na tom radku:

String appendLine = "<" + subject + "> <" + predicate + "> <" + object + "> . ";

Vlastne rikas, ze se maji vlozit trojice, ktere obsahuji same URI ,ale to tak neni. Literal neni URI, tedy pokud je v trojici literal napr. "U s n e s e n i", tak se z toho nesmi udelat URI <U_S_N_E_S_E_N_I>, to je zmena puvodnich dat, ktera neni pripustna. Musime zachova

[2013-08-27 14:12] tomas-knap commented on #316
Jeste k tomu rozdelovani do bloku, tech 10 bloku jsi urcil nejak nahodne a je stejny pro libovolne velka RDF data?

[2013-08-27 14:18] tomesj commented on #316
Je mi jasné, že literály chceme původní a originální. Jen najít něco, jak toho docílit....Zkusím se podívat ještě jednou na syntaxi vkládání, jestli na to není nějaká konstrukce, aby to prošlo :-)

K těm blokům - je to aktuálně pro všechny data určená k nahrání na SPARQL endpoint stejné.

[2013-08-27 14:26] tomas-knap commented on #272
Od Petra:
Tady by to chtělo probrat s Honzou ... pro mě by bylo nejhezčí .. kdyby se tohle řešilo ve facadách .. tj. nejde DB - Hibernate .. tak začnou blokovat a zkoušet po třeba 20 vteřinách

Přijde mi to hezčí a bezpečnější než při každém get-save .. používat try catch a nějaký čekací mechanismus .. pak se to někde zapomene, nebo neupraví ... kdežto fadady jsou na jednom místě a většina App při

[2013-08-27 14:28] tomas-knap commented on #316
Ok, mrkni prosim a posli sem mozna reseni

[2013-08-27 14:42] tomas-knap commented on #261
DPU - pom.xml
- use version instead of dpu.version
- use description instead of dpu.description

[2013-08-27 14:47] tomesj opened #323 "Login: NumberFormatException"
When I login to INTLIB , then change password, logout and try to login again,  I get this error:

![image](https://f.cloud.github.com/assets/3481055/1035202/f4b75674-0f26-11e3-873e-9c6565143e82.png)

If is not work for you, assign responsible person.

[2013-08-27 15:07] tomesj opened #324 "Login: Very short time for working"
When I login to INTLIB, it shown our splash screen. When I choose anything (Pipeline, Execution Monitor,...) login screen is showing to me and I have to login again ?

I used
login: admin (and user)
password: test

Where is problem ? I think, that it could be may be something like short session , but if I use another application I have no problem with session or cookies.

Is it OK by you ?

If the

[2013-08-27 17:19] tomesj commented on #316
Tak jsem přece jen něco našel - u literálu stačí použít uvozovek a pak není s vložením problém, rovnou jsem to zkusil a opravdu to funguje (nevadí potom šipky, mezery ani jednoduché úvozovky), jen je potřeba nahradit případné " v literálu za \"...

Opravím to rovnou v implementaci :-)

[2013-08-28 09:23] #313 closed, assigned to bogo777

[2013-08-28 09:46] #322 closed, assigned to bogo777

[2013-08-28 10:11] #323 closed, assigned to bogo777

[2013-08-28 11:57] bogo777 opened #325 "Cannot run DbPedia pipeline"
When I try to run or debug DbPedia pipeline, execution fails with this message:

Pipeline execution terminated because of: java.lang.NullPointerException
    at cz.cuni.xrg.intlib.rdf.impl.BaseRDFRepo.setDataGraph(BaseRDFRepo.java:2142)
    at cz.cuni.xrg.intlib.rdf.impl.VirtuosoRDFRepo.setDataGraph(VirtuosoRDFRepo.java:84)
    at cz.cuni.xrg.intlib.rdf.impl.VirtuosoRDFRepo.<init>(VirtuosoRDFRepo.

[2013-08-28 12:15] bogo777 commented on #251
Ok, look at last commit regarding this issue. There was try-catch block for ConfigException, but not for general exceptions. So exception at this level was processed at application level.

So what I actually meant is, that we need right try-catch blocks, where we want more customized error mesages.

[2013-08-28 13:01] tomesj commented on #325
Fix just now by commit 1638a3269f381aa4c992b7b8d99dae401b607cd2 - close #325 issue.

[2013-08-28 13:01] #325 closed, assigned to tomesj

[2013-08-28 13:14] #228 closed, assigned to tomesj

[2013-08-28 15:46] tomas-knap commented on #228
Jirka, so did you find where the problem is?

[2013-08-28 15:51] bogo777 commented on #324
Honza made authentication, I don't see any timeout in it at first glance.
But for me only one login is necessary, then I can work normally without loging in again. Only when I change something in GUI and reload the application I have to log in again. But that is correct.

[2013-08-28 16:03] tomesj commented on #228
Honza sent mail about it.

[2013-08-28 16:08] tomas-knap commented on #100
Petre, k tomu zabijeni pipelines, kazda pipeline bezi ve vlastnim vlakne v PipelineWorkeru, ne?
Tedy slo by to udelat tak, ze kdyz by uzivatel stiskl tlacitko cancel, tak by se poslal signal vlaknu, aby se prerusilo -  to lze metodou interrupt(). Nasledne staci odchytavat v PipelineWorkeru InterruptedException (urcite v metode run, ale take v metode runNode vzdy u prislusneho pousteni DPUcka, kde

[2013-08-28 20:43] janvojt commented on #324
I cannot reproduce this either. Can you please try clean&build on project, redeploy to tomcat, and clear browser cache and cookies and try again? Post your results.

I used spring security for handling session, and the default timeout should be 30 minutes. Generally in Spring Security this can be changed on HTTP session object. However vaadin tries to hide HTTP communication, so I am not sure how

[2013-08-29 07:09] tomas-knap opened #326 "Session timeout settings"
I used spring security for handling session, and the default timeout should be 30 minutes. Generally in Spring Security this can be changed on HTTP session object. However vaadin tries to hide HTTP communication, so I am not sure how to change it. It would require more research. I believe 30 minutes is OK for timeout, but in future it would probably be better to add session timeout setting to conf

[2013-08-29 07:57] bogo777 opened #327 "Impossible to debug from canvas"
When I try to debug pipeline from canvas, weird exception appears:

[code]

Automatic refresh then stops working and execution monitor throws same exception.

[2013-08-29 08:02] bogo777 opened #328 "What should debug show when loader has multiple inputs?"
I have pipeline with multiple inputs for loader. When I select loader in debug dialog, loader's input graph should be shown, but there are multiple graphs.

Should I just merge them every time(I should be able to do that personally) or should there be merged graph already in the context(this would be work for someone else)?

[2013-08-29 08:07] tomas-knap opened #329 "Test more complex pipelines"
Test pipelines, which contain 5+ DPU, more complex workflow, not just Extractor1 -> Transformer1 -> T2 ->T3 -> Loader, ale trebas E1 -> T1 -> T3 -> L1, E1 -> T2 -> T3 -> L1, T2 -> L2.

Co se tyce dat, muzes vyjit z toho male souboru ted2.ttl, ktery jsem myslim daval k nejakemu akceptacnimu scenari, myslim u iter3?

Zkus take ruzne volby extractoru a loader, tohle musime mit perfektne protestovane.

[2013-08-29 09:08] tomas-knap commented on #328
This also applies to data units with more outputs

[2013-08-29 09:46] skodapetr commented on #328
Personally I thing that "merge" is not what user always expect. If DPU has multiple IO .. there is probably reason for that.
Use case: I have input A and input B .. and output C .. I know that output C is wrong, for example (log, validation , etc .. ) and then it may be vital to know which data are on which input as they probably have different meaning.

[2013-08-29 09:53] tomas-knap commented on #328
Just to recap, Petre, one data unit may contain more named graphs or just one in case of RDF Data unit? Otherwise I would also prefer to have e.g. combo box with data unit names, so that user who is debugging may observe the output of the particular DPU flowing over particular data unit.

[2013-08-29 09:56] skodapetr commented on #328
This is more question on Tomas as he is responsible for current RDF
implementation.

2013/8/29, Tomas Knap notifications@github.com:

[2013-08-29 13:07] tomas-knap opened #330 "Validator for RDF Loader + other isValid method implementations"
Jirka,, when examining the code:

<pre> <code>  public String SPARQL_endpoint = "";

    public String Host_name = "";

    public String Password = "";

    public List<String> GraphsUri = new LinkedList<>();

    public WriteGraphType Options = WriteGraphType.OVERRIDE;

    @Override
    public boolean isValid() {
        return SPARQL_endpoint != null &&
                Host_name != null &&

[2013-08-29 13:23] tomesj commented on #330
I dont known about this method isValid() - data validation a their method isValid() I have implemented  in dialogs (in *Dialog.class). yet.

I dont understand the importance and using this method - I was created by Peter. Why again ?

Parameters as SPARQL_endpoint, Host_name,...are set and validated in dialog yet.

May be there is another importance. Should I set it parameters to null as default o

[2013-08-29 13:25] tomas-knap commented on #330
If you set params to null, then it would cause the problem when configuration is loaded to the dialogs I guess. But you can improve the isValid() method, so that it also checks that !Sparq_enpoint.isEmpty() for example

[2013-08-29 13:26] tomas-knap commented on #330
You did not implement the isvalid method, jirka?

[2013-08-29 13:44] tomesj commented on #330
No I didnt implement this method - I use validation only in dialogs based on my classes for validation and validation of vaadin components.

[2013-08-29 13:45] janvojt commented on #320
What is the use case for this?

I am not sure if catching and absorbing exceptions in the facade is correct. Do you mean, e.g. when fetching an entity, just absorb the exception and return null? How would we differentiate between "entity is not in the db" and "something is broken and db threw exception"?

About reconnecting when db is not available, is that not current behaviour? I believe a new c

[2013-08-29 13:45] tomesj commented on #330
Only something like:

@Override
    public RDFLoaderConfig getConfiguration() throws ConfigException {
        if (!comboBoxSparql.isValid() | !areGraphsNameValid()) {
            throw new ConfigException(ex.getMessage(), ex);
        } else {
            saveEditedTexts();
            RDFLoaderConfig config = new RDFLoaderConfig();
            String graphDescription = (String) optionGroupDetail

[2013-08-29 13:47] tomas-knap commented on #316
Jirko, porad tam vidim problem.

mas tam neco jako:

<pre><code> String subject = nextStatement.getSubject().stringValue();
                String predicate = nextStatement.getPredicate().stringValue();
                String object = nextStatement.getObject().stringValue();
                subject=subject.replaceAll("\\s+","").replaceAll("\"","'");
                predicate=predicate.replaceAll("

[2013-08-29 13:52] tomas-knap commented on #320
The motivation is the reconnect issue. Reconnecting probably works in gui, but not in backend. But it should work for both. In particular, if backend cannot connect to DB, it should try more times and also send email about this problem. So one option is to adjust backend, another option is too adjust facade, so that it is applicable for both

[2013-08-29 14:07] tomesj commented on #316
No bral jsem to tak, že URI, nesmí mít nikdy mezery, jinak to selže - pokud to tedy necháme na validaci a nastane-li tento případ, tak vyhodit výjimku, tak to dává smysl....

Jinak bych si chtěl ujasnit pár věcí:
subject - je vždy jen URI nebo Literál ?
predicate - je vždy URI
object - je buď URI nebo Literál....

Je to tak, bych potřeboval vědět s jistotou ?

Potom by se hodilo napsat to tak, aby

[2013-08-29 14:10] tomas-knap opened #331 "When merging data units, what should be the default behaviour"
When merging 3 data units (e.g. output of 3 extractors) to the input of transformer, should the transformer:
- get one input data unit with one merged named graph
- get one input data unit with 3 named graphs
- get three data units

Option 3 will not work, because in that way, loader would have to have 1-N inputs, which is not nice.
Option 2 will work, but user cannot anyhow refer to these 3 named

[2013-08-29 14:14] tomas-knap commented on #316
http://www.w3.org/TR/2004/REC-rdf-concepts-20040210/#dfn-subject:

the subject, which is an RDF URI reference or a blank node
the predicate, which is an RDF URI reference
the object, which is an RDF URI reference, a literal or a blank node

[2013-08-29 14:14] tomas-knap commented on #316
zkusim si oddebugovat ten rdf loader

[2013-08-29 15:02] tomesj commented on #316
OK, díky...Akorát jsem to taky našel :-) Ještě se podívám, jak se to se syntaxí pro vkládání blank_nodes, pak implementuju :-)

[2013-08-29 17:02] tomas-knap commented on #316
Jirka, I have adjusted that a bit, it seems to be ok now. But, when I try to SPARQL load to:

http://localhost:8890/sparql-auth, with user and password set, it does not work and error is reported (see below) Did you test it with sparql-auth? If not, please test and let me know when done. Please try that asap.

cz.cuni.xrg.intlib.commons.loader.LoadException: HTTP/1.1 400 Bad Request. You probably

[2013-08-29 17:06] tomesj commented on #316
Jo, zkoušel jsem to u mě na sparq-auth a vše bylo OK.

[2013-08-29 17:40] tomesj opened #332 "Create pipeline - uncaught exception"
When I create pipeline, I got this exception:

![image](https://f.cloud.github.com/assets/3481055/1051811/ca13c9d2-10d1-11e3-9dfc-5f5155466c42.png)

Please start backend then - I dont run pipeline without it.

Thanks.

[2013-08-30 07:52] tomas-knap commented on #316
Jirko, problem je v tom, ze mi to hazi chybu HTTP/1.1 400 Bad Request., ale problem je v tom, ze se ten INSERT proste nepodari, nebot jsou tam nejake problemy s validitou dat, napriklad:

<pre>
Virtuoso 22007 Error DT006: Cannot convert Date2012-02-09T10:00:00 to datetime : Incorrect year delimiter
SPARQL query:
define sql:big-data-const 0
#output-format:text/n3
define input:default-graph-uri <htt

[2013-08-30 07:59] tomas-knap commented on #316
Jirko, pohraj si tedy prosim s tim a pokud je chyba v datech a pri pokusu o nahrani se vrati trebas "Virtuoso 22007 Error DT006: Cannot convert Date2012-02-09T10:00:00 to datetime : Incorrect year delimiter", tak je potreba tohle reportovat uzivateli (a ne zavadejici chybu HTTP bad request). Pridej prosim take do dialogu do details moznost nastavit si, jak se chovat pri chybe tohoto typu:

1) Bud

[2013-08-30 09:22] jakubklimek opened #333 "Be able to specify that given Pipeline should not run in multiple instances"
Be able to specify that given Pipeline should not run in multiple instances

For example - in my ARES pipeline, there is a limit of 1000 downloads per day. I accidentally ran the pipeline twice (it really happend to me several times - don't know why exactly... probably one click on run was interpreted as 2 or something) which is a problem in a case like this. It would be better to have a setting d

[2013-08-30 10:27] tomas-knap commented on #286
od Honzy: Nemam presnu predstavu o co presne tam ide. Ak ten RDF vstup nejak ovplyvnuje pracu extractora (napr co extractovat a co nie), tak je to sucast extractora. Ak su RDF data len nejak spracovavane spolu s ostatnymi datami, tak by tam mali byt 3 extractory a spracovavanie az v transformeri.

[2013-08-30 10:31] tomas-knap commented on #286
Viz popis issue, jedna pipeline stahuje profily zadavatelu (firem co zadavaji verejne zakazky) a druha pro ica v techto profilech stahuje ARES (tedy informace o te firme). Tedy z povahy veci jsou to dva extraktory, jen ten druhy jeste potrebuje nejak na vstupu dostat ty ica, tedy asi nejlepsi reseni:

Dve pipeline, jedna nahraje data z profilu zadavatelu do db, druha pipeline (je naplanovana po te

[2013-08-30 10:40] tomas-knap commented on #286
nicmene z logickeho pohledu je ARES DPU spise Extractor (tedy davalo by smysl aby byl oznacen jako extractor), jelikoz stahuje externi data

[2013-08-30 10:44] tomas-knap commented on #286
Tedy jde o to, co vse je treba upravit aby to fungovalo tak, ze :
- Extractor muze mit vstup, tedy interne se chova jako transformer, rozliseni je pouze na logicke urovni (V DPU tree ma uzivatel zvlast extraktory a transformery) -> tedy:
  -  je treba vyhodit omezeni, ze extraktor nemuze mit vstup, coz se kontroluje na canvasu.
  - ?je treba rozsirit extraktor context, aby take obsahoval metodu ge

[2013-08-31 11:47] tomesj commented on #316
Zkoušel jsem vložit např. trojici
insert {_:464 http://predicate "Date2012-02-09T10:00:00"^^xsd:datetime .}

A ta prošla v pořádku. Tedy žádný problém s typem.

Zjistil jsem, že u objektů v případě literálů by se měly používat jen jedny úvozovky, nikoliv troje (v některých případech to totiž způsobuje potíže)

Správně tedy
1) "Date2012-02-09T10:00:00"^^xsd:datetime    místo """Date2012-02-09T10:00

[2013-08-31 12:37] tomesj commented on #316
Zajímavý rovněž je i například to, že
1) insert {_:125 http://a "2012-01-27TLhůta pro doručení žádostí o dokumentaci nebo pro přístup k dokumentům: 27.1.2012:00"^^xsd:datetime .}

PROJDE

Ale
2) insert {_:125 http://a "2012-01-27TLhůta pro doručení žádostí o dokumentaci nebo pro přístup k dokumentům: 27.1.2012:00"^^xsd:dateTime .}

NEPROJDE a nahlásí chybu :
Virtuoso 22007 Error DT006: Cannot conv

[2013-08-31 12:41] skodapetr commented on #100
The pipeline can be cancelled now even during DPU execution. But there is no cleanUp method yet but the registered (input-output) DataUnits are released.
We can probably add new pipeline execution state like "CANCELLING"? Also I was unable to update frontend so the "stop" button become disabled once pipeline "stop" flag is on.

[2013-08-31 12:42] #168 closed, assigned to skodapetr

[2013-08-31 12:43] skodapetr commented on #259
The list of packages in now in commons.app.com.vaadin.PackageList.
I think we can update version later as now we have more important issues?

[2013-08-31 12:45] skodapetr commented on #283
Can I ask if the issue is still "active" or the problem has been solved?

[2013-08-31 12:47] skodapetr commented on #285
Time for next run is used to determine also to decide if execute pipeline or not. This change has been made as noted in #283. So is this issue still relative to the current version?

The true is, that if backend is offline the execution can be possibly scheduled into past.

[2013-08-31 13:07] skodapetr commented on #304
Tomas please check the annotations .. I implement just simple input/output annotations these annotations are used to explore DPU and get list of inputs/outputs. So it is not possible to specify inputs/outputs without annotations. Please also check #308.

[2013-08-31 13:08] skodapetr commented on #308
Currently I implement only mandatory annotations, I add optional this evening. Only simple annotations are implemented yet.
But we can come up with more complex solution that enable lines like this: List<RDFDataUnit> inputs.

Maybe we should discuss this on next meeting?

[2013-09-01 14:39] janvojt commented on #332
Looks like broken database. I am closing this. If you have more specific steps to reproduce, please reopen and comment.

[2013-09-01 14:39] #332 closed, assigned to janvojt

[2013-09-01 14:55] #320 closed, assigned to janvojt

[2013-09-01 16:39] tomas-knap commented on #100
Petre, yes, we should have probably two new states: cancelling (which appears when the cancel/stop button is pressed) and cancelled (when the pipeline is cancelled, stopped and method cleanUp finished. What do you think?

"Also I was unable to update frontend so the "stop" button become disabled once pipeline "stop" flag is on." Do not understand where the problem is?

[2013-09-01 16:42] #259 closed, assigned to skodapetr

[2013-09-01 16:43] tomas-knap commented on #259
So the list of packages is hardcoded and admin have to update it in the code when new release of vaadin occurs or when certain packages is miising?

[2013-09-01 16:51] tomas-knap commented on #285
Petre, I do not understand, can you please describe how does it work:
1) If I plan certain event to the past
2) If I plan event but at the time when it should start, backedn is offline

Just to have better idea how it should work.

[2013-09-01 16:52] tomas-knap commented on #304
Ok, thanks, I will check late this evening or early morning and let you know

[2013-09-01 16:56] tomas-knap commented on #316
Jirko, odkazes me prosim na misto, kde ses dozvedel, ze troje uvozovky jsou problem? Jsem myslel, ze by to melo byt ekvivalentni a trojite uvozovky naviz umozni mit normalni uvozovky v textu a dalsi veci

K tem datum, zkus ten ted, soubor co ma asi 53KB. Mno, asi uz jsi zkusil, ale pro jistotu jeste pisu

Jirko, k tomu literalu "2012-01-27TLhůta pro doru....", pokud se kontroluj, zda dana hodnota

[2013-09-01 17:15] skodapetr commented on #259
Yes. actually for missing packages the configuration file can be used, so it is not necessary to recompile.
But when update Vaadin version then all DPUs have to be updated as well, from that point of view the recompilation of Intlib does not look as a big deal to me.

[2013-09-01 17:23] skodapetr commented on #285
It is basically the same .. so I give single answer:
The next execution time is computed according to formula:
next = start + period \* i  where: min i that next > last
So if the last execution is yesterday and the period is one hour .. then next schedule will be yesterday  + 1 hour

When the Backend is running he just check: next.before(now) and if it true then start the execution and update last

[2013-09-01 17:35] janvojt commented on #273
I am assigning Bohuslav to finish dialogs. All needed methods should be ready. I already fixed backend so that it does not die if it is working with deleted entity.

[2013-09-01 18:26] tomesj commented on #316
Tak nakonec to navadí, mě jsem jeden z mnoha příkladů, kdy to tak vypadalo, že ano, ale nakonec se ukázalo, že 3 úvozovky jsou taky OK....Takže to už je vyřešené.

Jinak jsem to zkoušel právě na TED souboru - momentálně už tam máme možnost přeskočit parts, které mají chybu (dá se warning) nebo přerušit a vyhodit výjimku a skončit.

Příklady se liší v tom, že jeden je xsd:datetime (vše malé) - proj

[2013-09-01 19:12] skodapetr commented on #286
Zdravím .. z pohledu backendu:
DPU jsou spouštěna z jedné funkce podle implementovaného interface .. tedy zde není problém.
Každé DPU má přiřazený kontext .. již v současné době jsem při úpravách sloučil kontexty do jednoho, tedy z tohoto pohledu zde není také problém. Vlastně se jen zahodí všechny kromě Transformeru a z toho se se udělá prostě context.

Co se týče toho jak pouštět DPU to je v imp

[2013-09-01 21:00] tomas-knap commented on #286
Petre, diky za info.

K tomu "bych pak nechal na autorovi DPU aby nastavil jen enum, nebo spíše property pom.xml": Bud by to uzivatel explicitne rekl, trebas pres nejakou metodu getType, pripadne jak pises v tom pomu, pripadne by se ten typ dal odvodit z zvoleneho rozhrani, pokud bychom zachovali interfaces Extract/Transform/Load. Mne se docela libi ta moznost definovat to v pomu, bo to je dobre p

[2013-09-01 21:03] tomas-knap commented on #316
Dobra, tak tam ale prosim dej zpet ty troje uvozovky, pokud jsi je jeste nedal ;-) Aha, mno, tak ten duvod je ten, ze zatimco xsd:dateTime je validni datovy typ z XML Schema, xsd:datetype je blbe, resp. je to jiny datovy typ, jehoz vyznam, ale Virtuoso nezna a proto nezakrici kdyz tam clovek cpe blbosti

[2013-09-01 21:05] tomas-knap commented on #316
Jeste k te variante, kdy se vyhodi vyjimka a skonci se, funguje to opravdu "transakcne"? Tedy kdyz mi to spadne u posledniho parts, vyhodi se vyjimka, skonci nahravani a zadne predchozi data se tam nenahrajou? Viz jak jsem psal ten trik s pouzitim temp named grafu.

[2013-09-01 22:17] tomesj commented on #316
Troje úvozovky jsou zpět. Zkoušel jsem zatím jen netransakční variantu, jak to vůbec bude fungovat. Na transakční variantě pracuju teď...

Řešil jsem dnes hlavně testování complex pipeline, vypadá to na pár problémů, ještě to prozkoumám víc a pak to napíšu k odpovídajícímu issue :-)

[2013-09-01 23:51] janvojt commented on #286
Ahoj,

co sa tyka DependencyGraph, tak ten nerozlisoval medzi ETL. Pouzival len Nodes, a poradie pre iterator sa doteraz zostavovalo len na zaklade zavislosti, a nie typu DPU. Takze toto uz bolo OK. Aby kod odpovedal konvenciam, premenoval som akurat metodu findExtractors() na findStarters(), apod. Inac logicky sa nic nezmenilo.

Co sa tyka validacii v canvas, tak som odstranil kontrolu na vstupnu

[2013-09-02 00:35] tomesj commented on #316
Tak přidána i varianta podporující transakce :-) Tím je to asi uzavřené :-)

[2013-09-02 05:35] tomas-knap commented on #316
Thanks, I will test and then close

[2013-09-02 05:53] jakubklimek opened #334 "Display ODCS frontend and backend version in frontend and version properly"
Currently, it is not clear what version (and built when) is running. Since there are changes in interfaces that affect which DPU version can go where, it is necessary to
1) version ODCS properly - each interface change must be a version change, minor changes don't have to be versioned
2) Display frontend and backend build date and time and version in frontend (footer?)

[2013-09-02 06:02] jakubklimek opened #335 "Missing config errors"
When running a version of ODCS that expects something new in config, backend crashes. Could it be done that if backend or frontend don't find their configs where they are supposed to be (or they do, but some properties are missing) it creates what it needs with default values? If not, could it not crash with exception but write a civilized error message?

In general, we should NEVER see exception

[2013-09-02 06:17] jakubklimek opened #336 "RDF File Loader Dialog - path and file should be one textfield"
RDF File Loader Dialog - path and file should be one textfield, now it is two and it is not clear why, it is confusing.

[2013-09-02 06:27] jakubklimek opened #337 "Icons in canvas still staying visible"
They stay visible when you hover over the DPU and exit the DPU box to the right across the icons.

![image](https://f.cloud.github.com/assets/718827/1065636/a17e11c0-1398-11e3-92c0-00b34769364f.png)

[2013-09-02 06:58] jakubklimek opened #338 "All visual objects should be on the left of the screen"
It is highly unpractical to have right-adjusted buttons like Execution Monitor - Refresh and Clear Filters or Pipelines - Create pipeline. Especially on wide-screen monitors the buttons are not where one would expect.

[2013-09-02 07:03] jakubklimek opened #339 "Relation between @OutputDataUnit(name = "xxx") and (RDFDataUnit) ctx.addOutputDataUnit(DataUnitType.RDF, "xxx");"
What is now the relation between <pre><code>@OutputDataUnit(name = "xxx")</code></pre> and <pre><code>(RDFDataUnit) ctx.addOutputDataUnit(DataUnitType.RDF, "xxx");</code></pre>?

Shouldn't the second one be deprecated?

[2013-09-02 07:07] jakubklimek opened #340 "Unsaved changes monitoring and notification"
When there are unsaved changes and you don't implement the autosave mechanism, the user should be notified before leaving the page like it is done in gmail, for example, to avoid loosing the changes because one forgets to click Save. At the same time, Save should be disabled when there are no changes.

[2013-09-02 07:28] jakubklimek commented on #100
Does not work correctly. When I clicked Stop, it interrupted the currently running DPU in the pipeline (ended with exception - not sure if this is OK), but not the pipeline itself. The pipeline was in the "running" state and connected DPUs started to run as if the interrrupted DPU finished normally. The whole time the Stop button was still clickable and I ame not sure what would happen if I clicke

[2013-09-02 07:30] jakubklimek opened #341 "Initializing and Destroying repositories should log their names (urls)"
When there is "repository destroyed successfully" in the log, there is no name (url) so it is not clear which repository is destroyed.
The same goes for init.

<pre><code>IX 02, 2013 9:03:48 DOP. cz.cuni.xrg.intlib.commons.app.conf.AppConfig <init>
INFO: Loading configuration from: C:\Users\Kuba/.intlib/config.properties
SLF4J: The following loggers will not work because they were created
SLF4J: d

[2013-09-02 07:44] tomas-knap commented on #341
Solution: Add name of the named graph or file (in case of local repository), which was destroyed

[2013-09-02 07:46] tomas-knap commented on #338
Motivation: On the wide monitors, it is a long way to reach the buttons on the right.

[2013-09-02 09:21] tomas-knap commented on #45
Bohuslav, after the internal presentation of the tool to my colleagues, we were discussing the canvas and its resizing and were thinking whether the following behavior would not be better:
- canvas will fill maximum space in the window available and the both scrollbars will appear always
- there should be no vertical/horizontal scrollbar of the whole window, unless the size of the browser window i

[2013-09-02 09:41] tomas-knap opened #342 "Do not automatically merge all data units, but based on the names"
Related to new annotations approach for working with data units

[2013-09-02 09:47] tomas-knap opened #343 "PipelineRecords are missing"

[2013-09-02 11:03] #341 closed, assigned to tomesj

[2013-09-02 11:53] jakubklimek opened #344 "DPUException is abstract"
<pre><code>[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.
1:compile (default-compile) on project Extractor_buyer_profiles_cz: Compilation
failure
[ERROR] /C:/Users/Kuba/Documents/GitHub/DPUs/buyer-profiles/src/main/java/cz/ope
ndata/linked/buyer_profiles/Extractor.java:[150,23] cz.cuni.xrg.intlib.commons.d
pu.DPUException is abstract; cannot be instantiated
[ERROR

[2013-09-02 11:59] tomas-knap commented on #336
Maria, please adjust mockup and instead of two text boxes, prepare just one with the full path to the file

[2013-09-02 12:09] tomas-knap opened #345 "Lazy creation of output data units"
Output data units are created before the DPU is being executed. They should be created when they are actually needed for the first time.

[2013-09-02 12:11] tomas-knap commented on #100
So based on our discussion:
- Petre pls check that the rest of the pipeline is not executed when dpu is cancelled
- Add cleanUp method call, default void implementation of cleanUp to the Base class of DPUs

[2013-09-02 12:21] tomesj commented on #329
I tested complex pipeline like this:

![complex_pipeline](https://f.cloud.github.com/assets/3481055/1067179/4695cfb2-13c7-11e3-967b-425242dc54fd.jpg)

Pipeline finished sucessfull, but I found out there are problems:

1) If DPU has more input edges (=more than one grahs we need to merge to this DPU), we use only one merge calling.

(example of this pipeline - no data from File_Extractor to TRANSFO

[2013-09-02 12:53] tomas-knap commented on #305
Bohuslav, can you please automatically create a default mapping when new edge is created on the canvas?
Such default mapping should be created when there is exactly one output from the data unit and one input to the next data unit. Such mapping should also appear in the mapping dialog.

[2013-09-02 13:08] tomas-knap commented on #305
And further, when the edge is created, it should be red when no mapping is present. If default mapping was generated, than it is ok and the edge remains black.

Similarly, when certain mappings on the red data unit (edge) is defined and confirmed in the dialog, that the edge should become black.

[2013-09-02 13:57] tomas-knap opened #346 "Remove all warnings from the code"

[2013-09-02 14:37] jakubklimek opened #347 "SPARQL extractor query validator not working"
In SPARQL extractor I use query:
<pre><code>prefix adms: http://www.w3.org/ns/adms#
construct {?id skos:notation ?ic} from http://linked.opendata.cz/resource/dataset/buyer-profiles/profiles/cz
where {?id a adms:Identifier; skos:notation ?ic.}</code></pre>which is valid. It says it is not a construct query. When I remove the prefix declaration, it says that skos is an undefined prefix.

[2013-09-02 14:38] tomesj commented on #295
Add page and mockups to confluence
https://grips.semantic-web.at/display/LOD2/Namespace+Prefixes

[2013-09-02 15:16] tomas-knap opened #348 "addTriple NOT working correctly"
RDFDataUnit.addTriple() - it is internally calling:

URI subject = valueFaktory.createURI(subjectName);
        URI predicate = valueFaktory.createURI(predicateName);
        Literal object = valueFaktory.createLiteral(objectName);

But object might be URI as well!

Solution: Expose openRDF repository interface for adding new triples, so that user may create new triple with resource at the positio

[2013-09-02 15:33] tomas-knap opened #349 "No canvas on the pipeline (in chrome)"
This bug appears once again for me and Jakub. Collect javascript debug notes.

[2013-09-02 15:35] tomas-knap commented on #334
Please discuss with Petr. The idea is to show in frontend the version, which is useful when checking whether current DPUs can be loaded to the app. Petre, please show that for backend. Petr will provide information about dpu version from pom.xml

[2013-09-02 15:36] tomas-knap opened #350 "Prepare longer and more complex pipelines for Jirka"

[2013-09-02 16:02] skodapetr commented on #329
The merge behaviour is actually correct, I think, I give a demostration:
S2 -> T1 <- S1
S1 has DataUnit output
S2 has DataUnit output
Then T1 recieve two DataUnits named output .. the data do not merge into single one. So i current implementation the T1 takes only one of those DataUnit and the other one is lost.

But this is expected behaviour.

With this are there any other problems?

[2013-09-02 18:14] #348 closed, assigned to tomesj

[2013-09-02 18:23] tomas-knap opened #351 "Support for more named graphs in the RDF data unit"

[2013-09-02 19:28] skodapetr commented on #343
The records was not lost I just forgot to publish start/stop event. Should be ok now.

[2013-09-02 21:38] #343 closed, assigned to skodapetr

[2013-09-03 07:36] #305 closed, assigned to bogo777

[2013-09-03 07:55] bogo777 commented on #327
There is corresponding exception in backend when debugging from canvas:

[code]

[2013-09-03 08:06] jakubklimek opened #352 "Canvas: DPU alignment not working"
When I select multiple DPUs on canvas using ctrl and click and then click on any of the alignment and distribution buttons, nothing happens.

[2013-09-03 08:11] bogo777 commented on #327
Only difference between debugging from PipelineList and from canvas, is selecting DPU where execution should end. Precisely this lines of code in IntlibHelper.java:

[code]

If Node is set for execution, its run in backend fails on exception above, and frontend fails on the exception above that.

I am reassigning Honza, to see if he can find some reason for this behaviour from backend/scheduling p

[2013-09-03 08:43] jakubklimek opened #353 "Backend still writes out exception when internet connection is interrupted"
Pipeline was in state of uploading data to remote Virtuoso when internet connection failed. The following was in the log. I am not sure whether this is OK and ODCS will recover (reattempt the upload) or not. This has to be clearer, ideally, no exception should be written, it should be handled. ODCS should be resilient and retry failed pipeline operation as well.

<pre><code>10:25:12 [Thread-5] DEB

[2013-09-03 09:01] jakubklimek commented on #353
In addition, no retry attempt was made.

[2013-09-03 09:02] jakubklimek commented on #353
In addition, the pipeline is RUNNING in the execution monitor, but it is not running when it was interrupted this way.

[2013-09-03 09:59] tomas-knap opened #354 "Tests calling external virtuoso must be adjusted"
Jirko, there are tests, which are calling http://ld.opendata.cz/...
Such testing is not acceptable, for all Virtuoso tests, you have to use the Virtuoso the user specifies in config.properties.

Solution: Adjust the tests calling external virtuoso, so that only the virtuoso specified in config.properties is used

[2013-09-03 10:08] tomas-knap opened #355 "DataUnitBrowserFactory refactoring"
// TODO Bohuslav: Why is this method here? It's almost the same as the one above.
    /**
     \* Return repository for specified DataUnit.
     *
     \* @param context       The pipelineExecution context.
     \* @param execution     Respective PipelineExecution.
     \* @param dpuInstance   Owner of DataUnit.
     \* @param dataUnitIndex Index of data unit.
     \* @return Repository or null if

[2013-09-03 10:30] tomas-knap opened #356 "RDF Extractor - poor method"
rdfDataUnit.extractFromSPARQLEndpoint(endpointURL,
                    defaultGraphsUri,
                    query, hostName, password, RDFFormat.N3,
                    useStatisticHandler,extractFail);

Definitely must be refactored. You can call more than one method instead of that but please do not use this one. How is RDFFormat.N3 related to the process of extraction from SPARQL? I do not kno

[2013-09-03 10:56] tomas-knap opened #357 "The location for config.properties should be adjustable and loadable by backend"
Motivation: Two instances of ODCS on one machine

It should be possible to give the backend the config.properties location as a parameter.
As a result, backend automatically write all params (except of connection to db) from config to certain table in DB. Think what will happen if backend is launched twice with different config.properties, will the second launch overwrite the first or reject it?

[2013-09-03 11:10] tomesj commented on #356
Reasons of using:

1) boolean value extractFail = if we extract from SPARQL endpoint and result has no triples, we can continue or throw exception and stop. This functionality is asociated with checkbox "Extraction fails if there is no triple extracted" DETAILS in RDF_EXTRACTOR.

2) Data from SPARQL enpoint are extract to repository. Repository we can understand as a container for RDF data - we do

[2013-09-03 11:19] jakubklimek opened #358 "SPARQL loader slow"
<pre><code>c.c.x.i.r.i.VirtuosoRDFRepo - Data 176/72114 part loaded successful
13:16:32 [Thread-10] DEBUG c.c.x.i.r.i.VirtuosoRDFRepo - Data 177/72114 part loaded successful
13:16:32 [Thread-10] DEBUG c.c.x.i.r.i.VirtuosoRDFRepo - Data 178/72114 part loaded successful
13:16:32 [Thread-10] DEBUG c.c.x.i.r.i.VirtuosoRDFRepo - Data 179/72114 part loaded successful
13:16:33 [Thread-10] DEBUG c.c.x.i.r

[2013-09-03 11:30] #296 closed, assigned to bogo777

[2013-09-03 11:32] tomesj commented on #354
We actually have in RDF module class called  GraphUrl
and here set fixed prefix like
http://linked.opendata.cz/resource/odcs/internal/pipeline/

Do you want this prefix set via variable defined in config. properties ? It´s going about prefix we set as graph name in Virtuoso ? Is it true ?

[2013-09-03 11:35] bogo777 commented on #355
This method is used in QueryView for getting data source for querying. The method above constructs whole visual component for Browsing triples, but in this case only the data source is needed. If only one method should remain, it should be this one, and the creation of browsing component should be adjusted to using this method.

[2013-09-03 11:37] tomas-knap commented on #356
Jirka,

1) but you can check that there are some triples by some simple query ASK {?s ?p ?o}. Otherwise, you spoil the RDFDataUnit interface with a method nobody except of the extractor will use, which is really bad.

2) Well the data is loaded for our internal purpuso, so there is no need for choice of formats. Moreover, if you put the data to virtuoso named graphs as a result of extraction, ther

[2013-09-03 11:41] tomas-knap commented on #355
Ok, than please put common parts to an extra private method and remove @Depracated annotaiton

[2013-09-03 11:43] tomas-knap commented on #354
Yes, I think it makes sense to execute the tests agains the repository the user is configured. If we use current approach and change the repository at ld.opendata.cz:8894, tests will fail to everybody

[2013-09-03 11:45] skodapetr commented on #355
The DataUnitBrowser factory class should directly create a Browser for given DataUnit .. so I'm not sure if it's good solution use it to obtain "access" to some source. If yes then the class should have different name.

Maybe we can add the QueryView under the RDFBrowser? It can be then not so easy to adjust the application graphical interface.
But from the concepts of DataUnits: not every DataUni

[2013-09-03 11:47] tomesj commented on #356
1) I have method how I find if there are any triples or not - But I need something that say - ignore it and continue or throw exception. There is no other way how to provide it - extract method need this parameter.

2) I dont understand exactly what to ask.

[2013-09-03 11:51] tomesj commented on #354
OK - So I implement, that this prefix is set via variable defined in config.properties :-)

[2013-09-03 12:03] skodapetr commented on #356
1) Can I ask how many triples there are? Can I find out how many triples has been added in extractFromSPARQLEndpoint? (maybe you can return that number)

If I can .. then I can throw exception my self and I do not need a function to do this instead of me, do I?

2) a) As far as I understand it: RDFFormat.N3 says how the data are stored in DataUnits .. but that should be internal and not visible to

[2013-09-03 12:08] jakubklimek opened #359 "Backend crashes when PC goes to sleep and resumes"
Backend crashes when PC goes to sleep and resumes.

[2013-09-03 12:18] skodapetr commented on #354
Actually accessing configuration.properties during test phase is not easy as the config.properties is defined in commons-app while RDF see only commons, so it hasn't a clue that some configuration file exists.

How high priority does it have and what is the deadline? I personally prefer discuss the solution before implementing it.
The simplest solution (and probably the only one.. ) is to add depe

[2013-09-03 12:20] tomesj commented on #356
1) Yes - you can find you, how many triples for SPARQL endpoint were added to repository. And than throw exception if you can.

2) RDFFormat.N3 format only say, if which format are data on the way between repository and SPARQL endpoint. DataUnit have data which are keeping in repository for RDF. Internal representation of these data is not visible.

[2013-09-03 12:39] jakubklimek opened #360 "extractFromLocalTurtleFile method missing"

[2013-09-03 13:57] jakubklimek opened #361 "Canvas: ???"
![image](https://f.cloud.github.com/assets/718827/1073130/702f6c7c-14a1-11e3-89f4-2568427eb3af.png)
![image](https://f.cloud.github.com/assets/718827/1073100/cb19969a-14a0-11e3-8a65-19c875eccd30.png)

[2013-09-03 14:03] jakubklimek opened #362 "Data flow optimization"
Data flow optimization

[2013-09-03 14:58] tomas-knap commented on #360
Use addFromTurtleFile

[2013-09-03 14:58] #360 closed, assigned to tomas-knap

[2013-09-03 15:56] tomas-knap commented on #361
Bohuslav, this is really critical, it is also on the demo available on: http://odcs.xrg.cz:8080/odcleanstore

Just open the Ares 5000 pipeline.

[2013-09-03 16:41] #361 closed, assigned to bogo777

[2013-09-03 20:07] tomas-knap commented on #362
See ares 5000. problem, every context produces all output data units, just in case, they will be needed. Solution - evidence of data units not at the level of context, but at the level of pipeline execution.

[2013-09-03 20:54] tomas-knap opened #363 "DPU movement on the canvas really slow"
zkousim na http://odcs.xrg.cz:8080/odcleanstore/ ten canvas, zobrazuje uz se to ok, ale co mi vadi, ze presuny DPUcek jsou hrozne pomale, aneb zkus si zalozit novou pipeline a posouvat si DPU po canvasu, je to hrozne trhane a nekopiruje to pohyb mysi.

Co by tam mohlo byt tak vypocetne narocne? Ty presuny se resi jen na urovni javascriptu, ne?

Zkus si to demo a dej mi vedet jestli by te nenapadlo

[2013-09-03 20:55] kukharm commented on #249
Tomas, could you sent me some JAR file of extractor, transformer or loader that is not default in the project, please. I need it for testing functionality.

[2013-09-03 20:55] tomas-knap commented on #255
Bohuslav, but when you launch pipeline dbpedia, switch to execution monitor and then wait, the execution monitor does not refresh automatically when the pipeline is ready. The pipeline is still in the state running in the execution monitor, but it has already finished. Can you reproduce this?

[2013-09-03 20:58] tomas-knap opened #364 "Virtuoso - default named graph http://default"
When launching dbpedia e.g., then when the pipeline is done, there is log message:

![screen shot 2013-09-03 at 10 56 57 pm](https://f.cloud.github.com/assets/3014917/1076038/87b1d80a-14db-11e3-9a2e-0c02d77e021d.png)

What is the purpose of the default named graph?

[2013-09-03 21:08] tomas-knap commented on #361
I have deployed an update on odcs.xrg.cz, but Kubo, can you please recreate ARES pipeline? It seems that as there was the problem with canvas, it was wrongly saved

[2013-09-03 21:19] tomesj commented on #364
Each repository have one default graph - all data, queries,etc...are used with data in this set graph. When we change it to another, we become data set in that graph.

[2013-09-03 21:22] skodapetr commented on #364
Maybe we can adjust the code to solve this.
Now the graph name is set after the RDFDataUnit is created by calling setGraphName method.

Can you update RDFDatUnit::ctor to take graphName optionally as a parameter and use it instead of default graph? So we don't have to call setGraphName and also there will be no issue with default graph.

[2013-09-03 21:43] bogo777 commented on #255
Ok, I see where the problem is, I started automatic refresh as feature of DebuggingView, because it is used both for debugging from canvas and execution monitor. I added refreshing of execution monitor by firing event on DebuggingView. But when there is no execution selected, execution monitor doesn't refresh itself.

I will fix this.

[2013-09-03 21:58] #363 closed, assigned to bogo777

[2013-09-03 21:59] bogo777 commented on #363
Mel jsem rozdelany standard/develop mode v javacriptove casti canvasu a jak jsem opravoval to copy button, tak jsem to commitnul s tim v nefunkcnim stavu.

[2013-09-04 06:01] jakubklimek commented on #283
Tested OK

[2013-09-04 06:01] #283 closed, assigned to jakubklimek

[2013-09-04 06:03] jakubklimek commented on #339
e596503743b0182b4237ae623c55902b4d0499a5

[2013-09-04 06:03] #339 closed, assigned to skodapetr

[2013-09-04 06:06] jakubklimek commented on #364
Either eliminate the need for default graph (URI mandatory) or, if you insist that you need a default graph, give it a proper URI like <pre><code>http://linked.opendata.cz/resource/odcs/.../default-graph</code></pre>

[2013-09-04 06:56] jakubklimek opened #365 "Stopping DPUs: Should DPU.execute() throw InterruptedException, DPUException or nothing?"
When DPU is stopped (detects InterruptedException), should DPU.execute() throw InterruptedException (needs interface update), DPUException or just handle it and stop as soon as possible normally? Will the pipeline stop anyway now?

[2013-09-04 07:29] jakubklimek opened #366 "Logging typo: starteds"
DPU starteds

![image](https://f.cloud.github.com/assets/718827/1078776/b2429962-1533-11e3-9d8f-c40ca9866834.png)

[2013-09-04 07:58] jakubklimek opened #367 "openRDF packages cannot be used in DPUs"
I would like to use import org.openrdf.model.Statement; but it again causes the cannot resolve bundle exception.

This means that it is not listed in the allowed packages list somewhere in configuration - related to https://github.com/mff-uk/intlib/issues/259

[2013-09-04 08:01] tomas-knap commented on #364
Jirka, but that basically means that http://default is a default graph for all create RDF data units, thus, all data units by default work with the same graph? But does it make any sense? Every data unit involves at least one named graph, where the data resides, so is there any need for any default named graph?

[2013-09-04 08:02] tomas-knap commented on #364
As Petr was commenting, I think there is no need for default graph.

[2013-09-04 08:30] jakubklimek commented on #347
The query still does not pass due to skos:notation - undefined prefix. But in Settings -> Namespace prefixes there is nothing, so I cannot even create that prefix. Could you please remove (comment) this check for now?

[2013-09-04 09:12] skodapetr opened #368 "RDF compilation"
I do not know if it is only my problem, but since yesterday:

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:2.3.2:compile (default-compile) on project RDF: Compilation failure: Compilation failure:
[ERROR] intlib\rdf\src\main\java\cz\cuni\xrg\intlib\rdf\impl\LocalRDFRepo.java:[29,7] error: LocalRDFRepo is not abstract and does not override abstract method loadtoSPAR

[2013-09-04 09:17] skodapetr commented on #365
The pipeline should stop anyway so it's up to the DPU programmer what he decide to do. The true is that we do not have cleanUp method yet ... I can add it today, but it will make existing DPU's non-functional. I will discuss with Tomas.

[2013-09-04 09:36] jakubklimek commented on #367
The project is in DPUs here on github, mvn install creates the JAR file

[2013-09-04 09:41] tomesj commented on #364
Default graph we mean graph, where RDF data are stored and all operation over repository are about only this set graph. We dont add all to http://default....We call setDataGraph(http://something) and than set it our graph. Reason of this is, that we can something create new repository, but we dont know graphName. It is specificated later before calling operation.

Of cource if we specific graphNam

[2013-09-04 09:47] tomas-knap commented on #347
Jirka, I have commented isValid method, it is a temporary hack, please remove the hack when this issue is solved.

[2013-09-04 09:50] tomesj commented on #347
Ok, you was faster than me...Thanks. But if I tested validation, I have no problems....

Can you add here code, which dont passed ?

[2013-09-04 09:54] tomesj commented on #368
Try to get last version from github, compile and write result :-)

Thanks.

[2013-09-04 10:09] skodapetr commented on #368
It's ok now ..

[2013-09-04 10:09] #368 closed, assigned to tomesj

[2013-09-04 10:17] skodapetr commented on #367
In #259 only the list on vaadin package was included. The openrdf .. is another story. Fast solution is add the
org.openrdf.model into configuration.propoerties as

module.frontend.expose = org.openrdf.model
module.backend.expose =  org.openrdf.model

I try to list the all org.openrdf packages and add them to the application.

[2013-09-04 10:27] jakubklimek commented on #367
as? :)

[2013-09-04 10:44] tomesj commented on #347
When I was written last update of SPARQL query validator, I try validate this:

prefix adms: http://www.w3.org/ns/adms#
prefix skos: http:/defined/skos/prefix/

construct {?id skos:notation ?ic} from http://linked.opendata.cz/resource/dataset/buyer-profiles/profiles/cz
where {?id a adms:Identifier; skos:notation ?ic.}

And there was no problem.

[2013-09-04 10:52] jakubklimek commented on #347
I see... OK, when I defined the prefix in the query, it worked.

The "problem" is that some SPARQL endpoints (like Virtuoso) have their own map of prefixes and then it is not necessary to specify the prefix in the query. So the question is whether we force the DPU designer to specify all the prefixes or not. If yes, then we can be sure there will be no errors from missing prefixes. Else it can be

[2013-09-04 11:14] tomesj commented on #347
OK, thank you, Jakub.

Actually is necessary to define all used prefixes. In the future (after we will finish issue namespace prefixes) you dont need define the prefixes which have been defined in the namespace prefix table yet.

Tom, can I revert changes (hacking) in SPARQL query validator ?

[2013-09-04 11:24] skodapetr commented on #367
Sorry for that .. I hit crt+enter and send comment instead of new line  ... I updated the code, so please try the current version from git it should work without any modification in config.propoerties file

[2013-09-04 12:02] tomesj commented on #295
Jan, I need DB support for namespace prefixes . How this table would look like - see mockup n.1 at  https://grips.semantic-web.at/display/LOD2/Namespace+Prefixes

If you have finished, assign me back.

Thanks

[2013-09-04 12:13] #347 closed, assigned to tomas-knap

[2013-09-04 12:55] jakubklimek opened #369 "Cannot compile commons-app"
<pre><code>[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:2.
5.1:compile (default-compile) on project commons-app: Compilation failure
[ERROR] C:\Users\Kuba\Documents\GitHub\intlib\commons-app\src\main\java\cz\cuni\
xrg\intlib\commons\app\module\ModuleFacadeConfig.java:[135,41] error: package or
g.openrdf does not exist
[ERROR] -> [Help 1]
[ERROR]
[ERROR] To see the

[2013-09-04 12:59] skodapetr commented on #369
Sorry ,my fault I miss that file in commit. Should be fine now.

[2013-09-04 13:01] #369 closed, assigned to skodapetr

[2013-09-04 13:10] jakubklimek opened #370 "Cannot compile core DPUs due to missing implementation of getDescription()"
<pre><code>[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.
1:compile (default-compile) on project File_extractor: Compilation failure
[ERROR] /C:/Users/Kuba/Documents/GitHub/intlib/module/File_extractor/src/main/ja
va/cz/cuni/mff/xrg/intlib/extractor/file/FileExtractorConfig.java:[12,8] cz.cuni
.mff.xrg.intlib.extractor.file.FileExtractorConfig is not abstract and

[2013-09-04 13:18] skodapetr commented on #370
At least now I know which file I committed instead of seasame-package list. Should be fine now.

Actually this interface should be committed today at 22:00 so please have all DPUs to committed to  GIT by 21:00 so we can update their code.

[2013-09-04 13:34] #370 closed, assigned to skodapetr

[2013-09-04 13:34] jakubklimek commented on #370
All my DPUs are committed.

[2013-09-04 16:00] jakubklimek opened #371 "SPARQL extractor not working properly"
The following query executes correctly on http://internal.opendata.cz:8890/sparql in browser.

<pre><code>prefix skos: &lt;http://www.w3.org/2004/02/skos/core#&gt;
prefix adms: &lt;http://www.w3.org/ns/adms#&gt;
construct {?id &lt;http://linked.opendata.cz/ontology/odcs/textValue&gt; ?ic }from &lt;http://linked.opendata.cz/resource/dataset/buyer-profiles/profiles/cz&gt;
where {?id a adms:Identifie

[2013-09-04 17:23] #255 closed, assigned to bogo777

[2013-09-04 17:29] bogo777 commented on #349
I have sometimes same problem, looked around and found this:
https://github.com/ericdrowell/KineticJS/issues/585
and then this:
https://code.google.com/p/chromium/issues/detail?id=278940
So hopefully it will be resolved by new version of Chrome.

[2013-09-04 18:43] bogo777 commented on #298
This should be helpful https://vaadin.com/forum#!/thread/67925

[2013-09-04 19:12] tomas-knap commented on #354
ok, let's discuss that during f2f meeting

[2013-09-04 19:28] tomas-knap commented on #364
Jirka, but we know named graphs in advance, so there is no reason for reseting the name later from default to the named graph contained within the data unit, right?

[2013-09-04 19:31] #366 closed, assigned to skodapetr

[2013-09-04 20:09] #224 closed, assigned to janvojt

[2013-09-04 20:17] janvojt commented on #324
There was a problem with security context not being saved to session by Spring Security. Because of that, security context was bound to a tomcat thread. Then the login status depended on the thread worker that was chosen to service request = pretty random.

After few days wasted on trying to setup spring security filter chain and make it work with websocket connections and custom vaadin login form

[2013-09-04 20:17] #324 closed, assigned to janvojt

[2013-09-04 21:05] tomas-knap opened #372 "Alternativne RDF SPARQL loader"
[9/4/13 11:00:11 PM] Tomas "nappy" Knap: Jo, jeste jsme se bavili, davalo by dobry smysl udelat alternativni SPARQL loader, ktery by nenahraval data pres HTTP, ale pres tu knihovnu viortuosi, tedy napriklad by se dala pouzit metodo load_data_from_ttl(), kterou virtuoso implementuje  (tedy ona se jmenuje trochu jinak) a pak by bylo zajimave porovnat kolikrat je to rychlejsi

[2013-09-04 21:07] skodapetr commented on #367
Could you please confirm that you can use your DPU now?

[2013-09-04 21:14] skodapetr commented on #309
There is now separate package that execute DPU .. and the pipeline itself.

The DPU is executed in 3 phases as PreExecutor, Executor, PostExecutor .. the execution can be easily extended in terms of Pre/PostExecutors.

For the pipeline there is just one class Executor, maybe I can split that class to into smaller pieces. If we still need a issue for that .. is a question as it's not so bad with th

[2013-09-05 07:29] tomas-knap commented on #356
Add 2) Regarding N3 format in the method, the problem is that the method IS in RDFDataUnitHelper, which means that every DPU developer can see such a strange method "extract from sparql to sparql", which needs N3 argument. This is really strange. I think that such method, if needed, should be hidden from DPU developer. But since the format (N3) is internal to that app and it is not needed to expos

[2013-09-05 07:38] tomas-knap commented on #329
Jirka, can you please explain for me what is the problem in case of:

2) Edge list of this pipeline, where data from source DPU are not used (merge to target):
a) File_extractor -> Transformer III
b) File_extractor -> Transformer II
c) Transformer II -> Transformer II

[2013-09-05 07:41] tomas-knap commented on #249
Maria, please try any DPU in DPUs repository - https://github.com/mff-uk/DPUs

Tell me if that worked for you

[2013-09-05 07:53] jakubklimek commented on #367
Yes... until I use some other package I guess :)

[2013-09-05 07:53] #367 closed, assigned to skodapetr

[2013-09-05 07:59] tomas-knap commented on #327
Is this still relevant? What is the state of this issue?

[2013-09-05 08:05] tomas-knap commented on #286
Honza,

so the remaining issues here:

1) not finished pipeline may be stored, but should not be able to be executed.
2) E -> T -> E ->L

?

[2013-09-05 08:05] jakubklimek opened #373 "When ODCS is already running and another instance is started, it ends with an exception"

[2013-09-05 08:11] tomesj commented on #329
Problem was that DPU used only one input edge and other edges (data merging) from 2) were ignored.

[2013-09-05 08:25] jakubklimek commented on #371
My bad... forgot to update :D

[2013-09-05 08:25] #371 closed, assigned to tomesj

[2013-09-05 08:38] kukharm commented on #249
I tried Extractor_psp_cz_metadata-0.0.1 but during upload i get  "Unknown DPURecord type" exception that appear in case if type of jar  (Extractor, Transformer or Loader) not defined. Furthermore I was unable to download this jar as new DPU template because of this exception. When i try JTagger_Extractor-0.0.1 & Simple_XSLT-0.0.1 i get ![ex](https://f.cloud.github.com/assets/3471169/1086752/09fdf8

[2013-09-05 08:42] tomas-knap commented on #365
Petre, please commit that, I will then redeploy on the server.

[2013-09-05 08:46] tomas-knap commented on #373
Petre, could you please adjust that, so that it does not ends with exception, but just writes "Could not start because another instance is running" and stops? SO that it looks like a standard behavior, not like an exception.

[2013-09-05 09:05] tomas-knap commented on #320
Should not end with exception, just log that there is an error when trying to connect to db and sleep for e.g. 30 minuts and try again.

![screen shot 2013-09-05 at 10 57 18 am](https://f.cloud.github.com/assets/3014917/1086930/2c103e12-160a-11e3-88ff-90438b657184.png)

[2013-09-05 09:14] tomas-knap opened #374 "Show Notification messages when certain user action is provided"
Motivation: When user clicks on "Stop" in execution monitor, there should be simple information (not that intrusive as red/yellow message of Vaadin?), that the Pipeline is being stopped. Because currently I do not know if some action takes place when clicking on STOP. Also the button stop should be then disabled.

Motivation2: When clicking on button save on the pipeline edit, I do not know if the

[2013-09-05 09:16] tomas-knap commented on #287
Jirka, you told me there is a progress in this?

[2013-09-05 09:17] tomas-knap commented on #329
Jirka, please test today (if possible) this scenario, if it works after the update of Petr based on our yesterday's discussion. And let me know.

[2013-09-05 09:22] tomas-knap commented on #364
Solution, based on the discussion on skype: Remove http://default from config.properties, do not use default graph, assign the graph when you know with which graph the data unit is working. Discuss with Petr when commiting this, so that you do not have conflicts

[2013-09-05 09:24] tomesj commented on #287
I wasnt deal with that - it was crossed at collab page. That was one of my question I asked you yesterday.

[2013-09-05 09:25] tomesj commented on #364
Yes, I know about it. I change it today and close this issue.

[2013-09-05 09:26] tomesj commented on #329
I will test it and then write here my result.

[2013-09-05 09:27] tomas-knap commented on #249
ok, so please copy some core module - for example RDF etractor - adjust the name basically and test it on that please

[2013-09-05 09:38] tomas-knap commented on #337
It happens when you move the cursor from the icons to the right, not over the DPU green/red box, which is behind

[2013-09-05 09:42] tomas-knap commented on #220
Test that

[2013-09-05 09:44] tomas-knap commented on #273
Kubo, test that

[2013-09-05 09:46] tomas-knap commented on #251
Test that

[2013-09-05 09:47] tomas-knap commented on #100
Jirka, please test that

[2013-09-05 09:50] tomas-knap commented on #247
Jakub, please test that

[2013-09-05 10:04] #364 closed, assigned to tomesj

[2013-09-05 10:06] tomas-knap commented on #287
Ok, planned if you have time for 0.4.1

[2013-09-05 10:33] janvojt commented on #286
Yes, provided Petr implements support in backend.
1. I can create PipelineValidator and set a flag whether pipeline is runnable. This flag could be updated upon each save. Then we could disable button "run" in frontend if pipeline is not runnable. Furthermore, just before pipeline is executed, backend should check whether it is currently runnable (or possibly even validate it). I can do all this m

[2013-09-05 10:46] janvojt commented on #353
I will look into this. I implemented reconnection attempts, however only when trying to persist objects through PipelineFacade. This seems like connection failure was detected when trying to save RDF data, which I believe uses a completely different connection. I will discuss this with Petr, as he knows how backend accesses RDF database.

[2013-09-05 10:55] tomesj opened #375 "Can not add DPU on canvas - AuthenticationCredentialsNotFoundException"
When I create new pipeline and can add some DPU on canvas, I get this exception and no DPU is added.

<pre><code>
IX 05, 2013 12:51:22 ODP. com.vaadin.server.DefaultErrorHandler doDefault
SEVERE:
org.springframework.security.authentication.AuthenticationCredentialsNotFoundException: An Authentication object was not found in the SecurityContext
    at org.springframework.security.access.intercept.A

[2013-09-05 10:59] tomesj commented on #329
I am actually waiting for solving #375 - I can no add DPUs, on the pipeline.

[2013-09-05 11:01] bogo777 commented on #374
There is one more Vaadin notification - it is used when debug/run is started from PipelineList, would that be sufficient? I can add it on these two places for now, and, if it is not good enough, later replace it with something different.

[2013-09-05 11:05] jakubklimek opened #376 "Login screen: Enter does not work"
When I log in, I want to be able to write username, tab, password, enter.

Now, I need to click on login.

[2013-09-05 11:07] jakubklimek opened #377 "Pipelines list: Access denied"
I login as user/test, click on Pipelines and this is what I get.
![image](https://f.cloud.github.com/assets/718827/1087569/47e9bd3c-161b-11e3-96c8-00342d6df67c.png)

[2013-09-05 11:07] jakubklimek commented on #377
In addition, Access is denied should be the main message, not "Uncaught exceptinon" - this applies in general to all exceptions

[2013-09-05 11:14] jakubklimek commented on #247
Currently, I get another exception when uploading old jar:
![image](https://f.cloud.github.com/assets/718827/1087598/5ed019a0-161c-11e3-8697-fb319114c231.png)

[2013-09-05 12:05] #337 closed, assigned to bogo777

[2013-09-05 12:05] #376 closed, assigned to bogo777

[2013-09-05 12:36] skodapetr commented on #353
RDF database is accessed through the RDFDataUnit (Jirka).

From my point of view .. I can to add more try-catch blocks .. on the other hand I would expect that the DataUnit should throw DataUnitException in case of problem  not .. VirtuosoException .. but I do not know if Jirka can manage this?

[2013-09-05 12:37] #338 closed, assigned to bogo777

[2013-09-05 12:38] skodapetr commented on #353
But it would be better it this situation would be properly handled in RDFDataUnit .. so in case of connection error .. RDFDataUnit just try .. and sleep .. and try .. until the connection is available or the pipeline execution is aborted by user.

[2013-09-05 12:46] skodapetr commented on #286
Backend can check the pipeline .. but .. if the backend is offline then the user can start the pipeline "as soon as possible" and then .. when backend gets online the execution failed. I'm not sure if that is the behaviour that the user will expect.

[2013-09-05 12:54] #285 closed, assigned to jakubklimek

[2013-09-05 12:55] #344 closed, assigned to skodapetr

[2013-09-05 12:56] #365 closed, assigned to skodapetr

[2013-09-05 13:06] bogo777 commented on #352
Could you please test that/describe it more? For me, it works fine.(But I tested latest version on 2 DPUs only, because of #375.)
DPUs selected for formatting have wider border, and only selected DPUs are formatted.

[2013-09-05 13:10] janvojt commented on #286
Well, we can never completely prevent execution of broken pipeline. We can only accomplish this by validating pipeline just before we run it. E.g. imagine user schedules a pipeline run while pipeline is valid and perfectly runnable. Then user may edit pipeline and break it (let's say he removes all extractors for example). When scheduled run executes, pipeline is broken even though it was OK when

[2013-09-05 13:14] jakubklimek commented on #352
OK, now it works for me too. The weird thing is that first you need to "activate" alignment mode and then click on DPUs you want to align. Usually it is the other way around... you select the DPUs and then you click on align.

[2013-09-05 13:19] bogo777 commented on #352
You can "activate" alignment mode without clicking on menu icon by clicking on DPU with CTRL key pressed.

[2013-09-05 13:30] skodapetr commented on #286
Sorry I miss the idea ... as I understand it now you propose two step validation ..
1) when the pipeline is saved
2) just before the pipeline is executed
I'm OK with this.

For the schedule : we can .. but I understand that asking query for every pipeline usage .. like "pipeline is broken and used .. you can not save this" is not optimal solution. But still we can thing about it .. as user should

[2013-09-05 13:34] jakubklimek commented on #352
OK, I couldnt test that yet due to the current authentication error issue

[2013-09-05 13:43] skodapetr opened #378 "Frontend restart"
Is there possibility to restart frontned?

Like for example .. I forgot to put a value into configuration.property and even when I fix this .. the frontend do not register this change and restarting tomcat is really unpleasant with my computer ...

The missing property was "email.admin"

Or the source of this "error" is somewhere else?

[2013-09-05 13:58] skodapetr opened #379 "Import DPU authentication problem - dependent on backend on/off"
DPU Create .. when I click on save I get:

![image](https://f.cloud.github.com/assets/3341693/1088437/c1f24060-1632-11e3-9854-4262616f4822.png)

Please keep me inform about the progress as there are few issues #249 and #247 that fully depend on this functionality.

[2013-09-05 14:04] skodapetr commented on #379
Same exception also appear if I as a "user" try to open DPU template detail from tree.

As admin I do not see any DPU in DPU Templates is that expected behaviour?

[2013-09-05 14:15] janvojt commented on #378
Try reloading application in tomcat manager. If it works and is sufficient please close this issue.

[2013-09-05 14:26] kukharm commented on #379
Same exception: Scheduler/add new scheduling rule; Settings after clicking any of tab or button save

[2013-09-05 15:04] #378 closed, assigned to skodapetr

[2013-09-05 15:30] skodapetr commented on #373
Yes I can .. but it come up wit question about logging .. as for further use we can need to see detail of some exception.

Like we should normally log into file (so user can provide us with this information in order to fix something).. and use std::in,out to communicate with user, don't we? And then .. we can give user nice a readable messages .. for example:  "We are sorry .. but the communicatio

[2013-09-05 15:36] skodapetr commented on #367
Well I believe that I added all packages from org.seasame that are located in used jar-files. So I do not expect similar problem with this packages. But there may by additional complication with packages as OSGI is really strict with this.
There were two ideas that can help with this.
1) Run whole Intlib in OSGI environment
2) Provide some way how to say to the user (in case that DPU is not workin

[2013-09-05 17:42] skodapetr commented on #306
RDFDataUnit should be used to wrap XML data, because of that XMLDataUnit is no longer needed.

[2013-09-05 17:42] #306 closed, assigned to skodapetr

[2013-09-05 17:57] kukharm opened #380 "DPU Templates - save, delete buttons"
The buttons save and delete in the DPU templates now available in accordance with the user permission  (as i understand from the code). When i was logging as admin and as user this buttons were disable in each case. Could you please explain  in which case buttons are enable. I need it for solve #246

[2013-09-05 19:09] #375 closed, assigned to janvojt

[2013-09-05 19:16] janvojt commented on #380
First pull the latest version, I commited an important fix concerning authentication and authorization.

To explain:
Owner of all DPUs is admin. All 5 DPUs versioned in database are public. Owner can perform all actions, so all buttons are visible for him. Since they are public, user "user" can see them and can copy them (he should also be able to export them as I think of it now, I will adjust ap

[2013-09-05 19:26] janvojt commented on #379
This should be resolved in 6b5b92a5, if not please reopen.

[2013-09-05 19:31] #380 closed, assigned to janvojt

[2013-09-05 20:27] janvojt commented on #377
I cannot reproduce this. Please try to retest, commit 6b5b92a5 might have fixed it.

[2013-09-05 20:29] skodapetr commented on #373
Tomas please test, is that what you have want backend to do?

[2013-09-05 20:31] skodapetr commented on #342
To describe the process:
1) mapping is applied .. if there is no mapping then the DPU is not used ie. copied
2) if DataUnit is used .. then backend check if there is no DataUnit with same name .. if is then merge them

[2013-09-06 07:19] jakubklimek opened #381 "Bad login exception when database is incorrectly configured"
When database is incorrectly configured, frontend receives VirtuosoException. However, when this is caught on the login screen, it is shown as Bad Login.

1) Distinguish among different exceptions
2) Bad login should not be the big red exception that the user needs to close to try again. It should be written in a red box above the login form or something more common like that

[2013-09-06 07:28] jakubklimek opened #382 "Pipelines list and DPU templates shows exception"
I got this when using cleared db with schema.sql and data.sql loaded.
![image](https://f.cloud.github.com/assets/718827/1094310/e5a03f38-16c5-11e3-9cf0-776d21b486e4.png)

[2013-09-06 07:37] jakubklimek opened #383 "Execution monitor automatic refresh works only once"
Execution monitor automatic refresh when showing log works only once - it refreshes and then nothing (at least in the version currently at odcs.xrg.cz:8080/odcleanstore)

[2013-09-06 07:43] bogo777 commented on #383
For me it works fine on this URL, if I select ALL in level filter, new logs are appearing again and again.

[2013-09-06 07:45] jakubklimek commented on #383
Hm... that is weird. I am looking at the currently running ARES 1000 pipeline, ALL selected, but the last log entry I see is from 9:36 (9 minutes ago)

[2013-09-06 07:54] bogo777 commented on #383
Ok, I look at the same pipeline and it works for me. But there were big changes in refreshing since the version deployed on the server(judging from not seeing an icon for backend status)...

[2013-09-06 07:56] jakubklimek commented on #383
OK, let's wait with this issue until the current master is working again

[2013-09-06 08:26] janvojt opened #384 "Refactoring of DPU view in frontend"
When browsing code I noticed a terrible implementation of getting DPU instances for given DPU template. To find relevant instances, **all** DPU instances in application are iterated in a for loop. Furthermore, to get a list of Pipelines using these DPUs, all pipelines in the application are iterated over in a nested for loop. As a result, there are **3 nested for loops** iterating among pretty muc

[2013-09-06 09:21] tomas-knap commented on #384
Honzo, thanks for reporting this. Bohuslav, can you please check that? I am adding that to your list with high prio. If you need any method from Honzo, please ask him. If you think it is not doable till Monday, please discuss with Petr/Honza, if he can help you with that

[2013-09-06 09:54] tomas-knap commented on #353
Jirka, can you please look on that? Discuss please your solution with Honza and Petr.

[2013-09-06 09:56] tomas-knap commented on #353
What should be done:
1)  try to reconnect to target SPARQL endpoint if not being successfull,
2) proper handling of error, so that stack trace is not produced, but only a standard log.error("Connection to ... was not successfull after ... attempts, because ...")

[2013-09-06 10:13] janvojt commented on #353
I am working on this, that is why I had "solving" tag on this. I am reassigning this back to me. I started working on a wrapper for VirtuosoRepository to handle exceptions. Also, I moved AppConfiguration to commons, so that it is accessible from rdf module and retries and timeouts are configurable from config.properties.

[2013-09-06 10:20] tomas-knap commented on #353
Sorry,  I have to get used to that tag ;)

[2013-09-06 10:36] tomas-knap commented on #286
I would suggest to distinguish these states of pipeline:

1) pipeline can be saved but cannot be launched (work in progress state)
2) pipeline can be launched

Saving pipeline:
WHen I save the pipeline, which is not schedulled by ME to be executed, it is checked against condition one. When I save the pipeline which is schedulled by ME to be executed, it is checked against condition two (when there

[2013-09-06 10:37] tomas-knap commented on #286
2) E -> T -> E ->L

I think we can allow that, just please document in the code where the validation is happening so that it can be adjusted in the future. So the intermixing of extractors and transformers should be allowed.

However, loader should be the last one and there shouldn't be any edge from loader to any other DPU. THis should be checked

[2013-09-06 10:44] tomas-knap opened #385 "Exception when RDF extractor cannot connect to DB"
Solution: Better error message when connection cannot be established.

![screen shot 2013-09-05 at 4 38 58 pm](https://f.cloud.github.com/assets/3014917/1095242/136c8118-16e1-11e3-92e8-6a81812d3431.png)

[2013-09-06 10:58] tomas-knap opened #386 "Minor adjustment of edge label on canvas"
Instead of "output rename input" on the edge on the canvas as a result of mapping, use "output -> input", which is more concise

[2013-09-06 10:59] tomas-knap opened #387 "Adjust DBPedia Pipeline being inserted in data.sql"
After fresh install and running of dbpedia, it fails, because default mapping on the edge "output->input" is missing. Please add such mapping.

[2013-09-06 11:00] tomas-knap opened #388 "Remove data browser menu item from the main menu"

[2013-09-06 11:02] tomas-knap opened #389 "Buttons create new user, clear filters should be on the left for manage users dialog"

[2013-09-06 11:12] tomas-knap opened #390 "When pipeline execution is stopped, use a different icon than in case of "errror""
Firstly, I would suggest to rename button stop to cancel.

When pipeline is cancelled, a proper icon should be assigned in the execution monitor.

Further in pipeline event, there is a message that it was aborted:
![screen shot 2013-09-06 at 1 04 37 pm](https://f.cloud.github.com/assets/3014917/1095355/6f696514-16e4-11e3-9269-88d9db63e9fa.png)
But icon for pipeline_info is missing (which could be

[2013-09-06 11:14] tomas-knap opened #391 "Please add images for log levels in the same way as for types of pipeline events in "show log""

[2013-09-06 11:32] #388 closed, assigned to bogo777

[2013-09-06 12:16] #390 closed, assigned to bogo777

[2013-09-06 12:21] bogo777 commented on #390
When stopping pipeline from frontend, I added setting execution status to CANCELLED, until now, only backend was doing that. So when you had scheduled pipeline and cancelled it while backend was offline, it remained there as scheduled, which was weird.
But I don't know what to do about execution record with mesage about aborting pipeline?
Now only backend puts one there, so if you cancel pipeline

[2013-09-06 12:41] janvojt commented on #310
This is a duplicate of #384, where it is discussed in more detail.

[2013-09-06 12:41] #310 closed, assigned to janvojt

[2013-09-06 12:42] #386 closed, assigned to bogo777

[2013-09-06 12:48] janvojt commented on #279
This is resolved by commit 6efb72cd. Also #273 is relevant to this case and is to be tested.

[2013-09-06 12:48] #279 closed, assigned to janvojt

[2013-09-06 12:57] tomas-knap commented on #373
Petre,

in case of error/warning, there should be one line of message saying that there was some problem and then detailed information (even stack trace) can be logged at the debug level. In the productive environment, when the bugs are tuned, we can switch debug level off.

[2013-09-06 12:58] tomas-knap commented on #373
Sorry for not explaining it properly from the beginning ;)

[2013-09-06 13:05] tomas-knap opened #392 "Status Schedulled in execution monitor - questions"
1. It may be rather condusing that you may set up schedulled events in the scheduler menu item and they do not appear in the execution monitor. But when you run pipeline and backend is offline, there are certain schedulled events in the execution monitor which are not result of the scheduler.
2. If I click cancel on the pipeline being in the status schedulled, what should happen? Should there be e

[2013-09-06 13:05] tomas-knap commented on #390
I have created #392, so that we can close this one.

[2013-09-06 13:15] #384 closed, assigned to bogo777

[2013-09-06 14:21] #382 closed, assigned to skodapetr

[2013-09-06 14:38] jakubklimek commented on #379
Another exception, but still does not work. This is when clicking save. ![image](https://f.cloud.github.com/assets/718827/1096576/e3b3788e-1701-11e3-9f9d-adbfe1e5ac50.png)

[2013-09-06 14:41] jakubklimek commented on #377
OK

[2013-09-06 14:41] #377 closed, assigned to jakubklimek

[2013-09-06 14:42] #274 closed, assigned to tomas-knap

[2013-09-06 15:11] jakubklimek opened #393 "Frontend exception when db is not running"
when clicking DPU templates and DB not running

User friendly exception please.

![image](https://f.cloud.github.com/assets/718827/1096834/9f2d44f6-1706-11e3-9868-c4a2ba9b04ab.png)

[2013-09-06 15:12] jakubklimek opened #394 "Backend status icon yellow: DB down?"

[2013-09-06 15:20] bogo777 commented on #340
There are currently two mechanism for this:
1) in Settings, if changes are detected, dialog asking user for save/cancel pops up
2) in PipelineEdit, if changes are detected, navigation is disabled until save/cancel
Could you please test this and say which is better/how to improve it?

[2013-09-06 16:00] jakubklimek commented on #379
Interesting, Access is denied is shown when backend is not running. The first one is shown when it is. I thought the frontend should be independent here.

[2013-09-06 16:05] jakubklimek commented on #359
When I start DBpedia pipeline and put the PC to sleep after it says "Started", it looks like this and cycles after resume even though the db is up.
Probably strongly related to https://github.com/mff-uk/intlib/issues/393

<pre><code>IX 06, 2013 5:06:15 ODP. cz.cuni.xrg.intlib.commons.app.conf.AppConfig <init>
INFO: Loading configuration from: {}
SLF4J: The following loggers will not work because t

[2013-09-06 16:20] tomas-knap opened #395 "Confirmation to save changes when moving between menu items"
I changes something in DPU templates. Then I clicked on Pipelines main menu item. As a result, screen occurs:

![screen shot 2013-09-06 at 6 17 03 pm](https://f.cloud.github.com/assets/3014917/1097361/04408e8a-1710-11e3-9d2e-0cab21a9c986.png)

The problem is that the confirmation dialog appears too late, with the background being already filled with the new context. So I would prefer to firstly sh

[2013-09-06 16:29] jakubklimek opened #396 "Settings: Access denied"
![image](https://f.cloud.github.com/assets/718827/1097466/799d7980-1711-11e3-9998-d0443da100ef.png)

[2013-09-06 16:30] jakubklimek commented on #396
And after I close the error and click on other menu items:
![image](https://f.cloud.github.com/assets/718827/1097489/a0f3ac84-1711-11e3-9a94-4ba19f8b6298.png)

[2013-09-06 16:34] jakubklimek commented on #352
I tested it. It is almost OK, but there is still a problem. When I hold down CTRL and select DPUs, the alignment buttons get in my way when selecting another DPU and I often click by mistake on some of the alignment buttons instead of the DPU I want to select

[2013-09-06 16:37] jakubklimek commented on #340
This: https://github.com/mff-uk/intlib/issues/395 is basically the same thing.

I prefer the way it is now in pipeline editor. The dialog is too annoying for a web application I think

[2013-09-06 16:40] jakubklimek commented on #340
Even better solution would be for the notification not to disappear and contain another set of Save, Discard, Cancel buttons.

In addition, the lower button should not be labeled Cancel, but Discard changes.

[2013-09-06 16:43] jakubklimek opened #397 "Execution monitor refreshes logs, not pipelines"
Related to https://github.com/mff-uk/intlib/issues/383

When looking at logs in Execution monitor and the pipeline finishes, its status is not refreshed and still shows as running.
![image](https://f.cloud.github.com/assets/718827/1097669/b06d0c26-1713-11e3-9e02-b40ff2fdfcb8.png)

[2013-09-06 16:48] #211 closed, assigned to tomas-knap

[2013-09-06 16:49] jakubklimek opened #398 "Loading DPUs: NullPointerException"
Now I see another exception when clicking Save in Create DPU Template:

![image](https://f.cloud.github.com/assets/718827/1097687/f35fff20-1713-11e3-9f07-cd695f1020c0.png)

Probably related to https://github.com/mff-uk/intlib/issues/379

[2013-09-06 16:50] tomas-knap commented on #249
Maria, did that work for you?

[2013-09-06 16:56] tomas-knap commented on #395
And the confirmation does not work properly, I just tried to modify DPU template configuration of some DPU, then saved it and moved to pipelines item and the confirmation occured again! Bohuslav, please delegate task partially to Maria if needed.

[2013-09-06 17:01] tomas-knap opened #399 "Status of the executed pipeline in the record"
In the monitor below, the resulting status of the pipeline run is "Warning" But there are errors in the pipeline events:

![screen shot 2013-09-06 at 6 47 58 pm](https://f.cloud.github.com/assets/3014917/1097803/e5ec4284-1715-11e3-8ee5-6e83ead97611.png)

 Therefore, the resulting status should take into account pipeline events as well as logs -> if there is Error+ in the events/log, then the resul

[2013-09-06 17:03] bogo777 commented on #397
There is lag between failed DPU event and time when backend marks execution as failed. I think it is due to cleanup. After pipeline is marked as failed(or finished any other way, checkbox "Refresh automatically" dissappears from right part and at the same time the status of execution should be changed).

[2013-09-06 17:04] bogo777 commented on #399
Ok, but execution status is resolved in backend and saved to db, on frontend it is only loaded and shown, so I am reassigning Petr

[2013-09-06 17:05] tomas-knap opened #400 "SPARQL loader - details tab - label which is not clear to the user"
![screen shot 2013-09-06 at 7 03 40 pm](https://f.cloud.github.com/assets/3014917/1097829/62294c16-1716-11e3-8184-b161f774f39c.png)

User does not know anything about some PARTs, what is bad insert part? Think as the user, he has to understand what the choices mean.

[2013-09-06 17:08] jakubklimek commented on #397
Well, not in this case. It stayed like it is on the screenshot. From the log it is apparent that it is already failed.

[2013-09-06 17:24] tomas-knap opened #401 "RDF loader - Stop when bad part occurs"
Jirka, radsi v cestine. To si delas srandu?? Ty tam pouzivas pro KAZDY beh jeden temporary graph:

![screen shot 2013-09-06 at 7 20 17 pm](https://f.cloud.github.com/assets/3014917/1097943/a6237228-1718-11e3-826a-b93b1aa8da48.png)

Tedy kdyz pobezi paralelne dvakrat loader, tak ten prvni trebas smaze temp graf tomu druhemu pod rukou?? Tedy kazdy beh, kazda data unit musi mit vlastni temp graf, nap

[2013-09-06 17:30] tomas-knap opened #402 "RDF loader - fails but there is no reason for that"
Jirka, I am sending to the SPARQL loader the following data, which I load to the data unit via outputConfirmed.addFromTurtleFile(new File("/Users/tomasknap/.silk/output/confirmed.ttl"));:

![screen shot 2013-09-06 at 7 26 20 pm](https://f.cloud.github.com/assets/3014917/1097982/8f3c9232-1719-11e3-88e5-5d6264b5f98e.png)

10 triples, which are correct.

Configuration of the loader is, which is corre

[2013-09-06 17:30] kukharm commented on #249
When i reload the same jar that is already in project (but with another name) i  get duplicate bundle exception. Yesterday i talk about this with Petr, he said that there some problem with it and  need discussion.

[2013-09-06 17:39] tomas-knap opened #403 "Mapping dialog - the same mappings can be added twice"
When I add the same mapping twice in the mapping dialog, it does not appear in the bottom part, which is correct. But when I save the dialog, it appears twice

[2013-09-06 17:39] tomesj commented on #401
Specifikaci pro insert znám - zjistil jsem ale, že kdy insert, resp. kopírování z temp grafu je pomalejší než nové vkládání přes http. Navíc ten příkaz pro insert funguje dobře pro malá data, pro velká je už potřeba udělat connection a brát to jako graph query - tam se postupuje jako v případě mergování velkých souborů.

Je pravda, že jsem zapomněl na to, že i temp graph by měl být unikátní. Takže

[2013-09-06 17:40] tomas-knap commented on #399
Ok, thanks, you are right

[2013-09-06 17:43] tomas-knap commented on #401
Jirko, tak jen oprav ten temp graph a poznamenej do kodu, zes to udelal takhle bo je to rychlejsi nez INSERT a pak to zavri.

Ikdyz teda o tom pochybuju. Kdyz misto druheho volani zavolas query ve stylu INSERT INTO <grafFinal> {GRAPH <graphTemp> {?s ?p ?o}}, tak to proste musi byt rychlejsi nez potencialne stovky/tisice HTTP connections ;-) Udelam ti issue na tohle, abys to vyzkousel.

[2013-09-06 17:44] tomas-knap commented on #401
Jirko, tak nove issue delat nebudu, proste zkus vzit nejaky soubor co ma aspon 10000 trojic a zkus stavajici zpusob a pak  INSERT INTO {GRAPH {?s ?p ?o}} misto druheho volani insertParts. A vysledek mi prosim napis sem. Az pak to zavrem

[2013-09-06 17:47] tomesj commented on #402
Can you please send me the file. The problem is described as "invalid character in SPARQL expression at %", but I dont know why a what is source of this problem. I try to debug it and solve it.

[2013-09-06 17:54] tomesj commented on #401
Dobře. Udělám to tedy tak, že ten stávající temp graph budu generovat - odvodím z názvu skutečného cílového grafu, který je unikátní. Jinak co se týká insertu, je stejný příkaz přímo pro virtuoso ADD &lt;jmeno_grafu&gt; TO &lt;cilovy_graf&gt;, který v podstatě odpovídá INSERT INTO {GRAPH {?s ?p ?o}} , tedy vložení všech trojic do daného grafu. Pro větší grafy totiž Virtuoso odpoví na to, že skonči

[2013-09-06 18:06] tomesj commented on #400
OK. And what about "SKIP adding incosinstend data" ? Is it clear to user ?

[2013-09-06 18:59] janvojt commented on #353
Well, backend survives when RDF repo is down now. However exceptions are still produced, so I must reopen. I think in some cases this is OK, so even if there is a short connection failure, you can find it in the log so you know something broke and you can investigate further.

There are actually 2 kinds of exception stacktraces that appear in the log:
1. Exceptions I logged intentionally at INFO l

[2013-09-06 19:07] tomesj opened #404 "Problems with bunde"
When I create new pipeline and I add file extractor and SPARQL loader. When I try to add an edge between DPUs I get this exception:

![image](https://f.cloud.github.com/assets/3481055/1098736/8a640692-1727-11e3-8935-c3efe4096e5a.png)

I tried rebuild project, tomcat, database, but this problem was not solved.

[2013-09-06 19:19] #379 closed, assigned to janvojt

[2013-09-06 19:20] tomesj opened #405 "Problems with DB Pipeline"
Our DB pipeline, we use as default after updating database has this problems:

1] This pipeline I can not change - e.g path to file_loader are set for UNIX. I have to possible change it and save.  Actually I can not use button save, save&close, only close.
2] In SPARQL extractor is bad char "," in text box named graph - it will be remove. Right is http://dbpedia.org

3] Mapping between DPUs is not

[2013-09-06 20:24] jakubklimek commented on #404
+1
I cannot even load my DPUs
![image](https://f.cloud.github.com/assets/718827/1099206/45e415ec-1732-11e3-87aa-50bb3464d025.png)

[2013-09-06 20:24] #402 closed, assigned to tomesj

[2013-09-06 20:33] tomas-knap commented on #400
- In case of data errors, continue with the loading process, resulting data will be incomplete.
- In case of data errors, stop the loading process and end with an error.

And I would set the second option as default choice.

[2013-09-06 21:14] #400 closed, assigned to tomesj

[2013-09-06 23:20] #385 closed, assigned to tomesj

[2013-09-07 08:20] #403 closed, assigned to bogo777

[2013-09-07 08:36] #393 closed, assigned to bogo777

[2013-09-07 08:55] bogo777 commented on #352
I changed conditions when alignment buttons appear:
1) If CTRL key is held, they don't appear
2) They appear only upon entering selected DPU
This should make selecting DPUs easier and avoid alignment by mistake.

[2013-09-07 09:19] skodapetr commented on #359
According to the log it as problem with database connection .. I reassign to Jan.

But to my knowledge in config.property there is possibility to set ho many time backend tries to connect I would suggest change the default value to the infinite number of tries .. Jan what do you thing?

[2013-09-07 09:33] skodapetr commented on #397
Bohuslav is right .. there has been certain lag after last DPU finished/failed and the end of the execution because of cleanUp. Unfortunately it is not now .. as I save the data first and after that I do cleanUp.

What we can try is to open another instance of frontend and check if the Pipeline is still in running state or not as I ting that this information can be helpful or add log into frontend

[2013-09-07 10:02] tomas-knap opened #406 "Null pointer exception originating from canvas after playing with edge mappings"
I opened the pipeline, click on the DPUs details, everything was working. Then I deleted and again added edge, was adjusting edge mappings and then, tried to open DPU detail but:

![screen shot 2013-09-07 at 11 58 42 am](https://f.cloud.github.com/assets/3014917/1101047/3130594a-17a4-11e3-9535-5114ce835150.png)

The GUI error dialog as in #398

[2013-09-07 10:02] tomas-knap commented on #406
Please let me know if you can reproduce this Bohuslav

[2013-09-07 10:03] tomas-knap commented on #406
When I create new pipeline the problem appears again and again

[2013-09-07 10:16] tomas-knap opened #407 "More descriptive messages "Bundle cannot be resolved""
Ask Petr Parizek and please discuss here his opinion.

The basic idea is that it will not show only exception "Package cannot be resolved" but: "Package org.openrdf.rio cannot be imported, thus bundle cannot be resolved."

[2013-09-07 10:23] tomas-knap opened #408 "Logging debug messages from frontend to the file"
When logging from gui, the problem is that standard logging mechanisms to output stream does not provide debug messages (and should not provide, because user should not be provided with detailed log message while he is using gui). On the other hand, such detailed log messages should be put to some file, because they might be needed when debugging problems for the users.

[2013-09-07 10:29] tomas-knap commented on #406
Hmm, tried to restart tomcat and it seems to be working again, could be a problem with PermGen space on Tomcat?

[2013-09-07 10:39] jakubklimek commented on #398
Does not happen now, will reopen if it happens again

[2013-09-07 10:39] #398 closed, assigned to bogo777

[2013-09-07 10:51] skodapetr commented on #404
Jakub: the missing package in your case is javax.net.ssl so please add to the config.property file as package to export. Unfortunately after Jan's update the config.property file is not reload with new session so you have to manually restart application.

[2013-09-07 11:21] tomas-knap opened #409 "Scheduled record in execution monitor does not have time associated"
When I run the pipeline but backend is offline, pipeline run may be schedulled. In that case the pipeline execution monitor with the status schedulled occurs, but time is missing for the execution records of this type.

[2013-09-07 11:36] jakubklimek opened #410 "Authentication: session times out often, sometimes producing weird errors"
I was in DPUTemplates page for a long time, then I clicked create template, uploaded file and when clicking Save, I got this: (which is apparently caused by session timeout):
![image](https://f.cloud.github.com/assets/718827/1101200/a6152cb0-17b1-11e3-96c2-d6849d95744b.png)

However, I noticed that the login session is probably too short, often I need to relogin, that should be more persistent.

E

[2013-09-07 11:45] skodapetr commented on #406
It looks like that this issue is somehow related to the sessions and calling OSGI stop function .. reassign to me for further exploration.

[2013-09-07 11:53] jakubklimek commented on #406
Happened to me also when adding an edge, Tomcat freshly restarted:
![image](https://f.cloud.github.com/assets/718827/1101219/0d647f54-17b4-11e3-9ab3-ebf106dccd26.png)

The interesting thing is that when I closed the exception message, the edge was not there. I clicked save and close and then edit again and the edge was there. However, I cannot open the mapping dialog - the exception keeps reappear

[2013-09-07 12:06] jakubklimek opened #411 "Authentication: F5 or page reload causes relogin"
When logged in and in Pipelines, F5 or pressing enter in the address bar causes login screen to show.

[2013-09-07 12:09] jakubklimek commented on #406
After adding

<pre><code>-XX:MaxPermSize=128m</code></pre>

to Tomcat startup and clicking the edge I get:
![image](https://f.cloud.github.com/assets/718827/1101233/381bb396-17b6-11e3-80a8-eea4c779dedd.png)

[2013-09-07 12:14] jakubklimek commented on #406
It works with <code>-XX:MaxPermSize=512m</code>, so possibly related to https://github.com/mff-uk/intlib/issues/252

[2013-09-07 12:26] jakubklimek commented on #410
May be related to https://github.com/mff-uk/intlib/issues/411

[2013-09-07 12:33] jakubklimek commented on #340
Now I had a pipeline where I changed one DPUs property in its dialog. When I clicked on Save there, the Pipeline save buttons were still disabled, so I was unable to save what I did in the DPU dialog.

[2013-09-07 12:57] jakubklimek opened #412 "Logging: Do not save messages < INFO when not debugging"
Logging when ODCS runs on a different server than its DB is VERY slow, probably due to the fact that probably 1 log entry means 1 connection. When not debugging, only WARN+ messages should be saved.

Therefore, the debug/not debug difference should be not in showing only WARN+ messages, but in actually saving only WARN+ messages.

Or is it like this now?

[2013-09-07 14:16] skodapetr commented on #406
Merge under #404

[2013-09-07 14:16] #406 closed, assigned to skodapetr

[2013-09-07 14:25] skodapetr commented on #404
Please test now also with #406

The source of error was one and the same for both issue and it takes me few hours to find it .. actually the OSGI was implemented to work per session, but some time ago Jan update the Spring context .. and now OSGI work per Tomcat.

This cause thing like .. that the old session close OSGI for the rest of the application ("null" exceptions) same bundles were loaded t

[2013-09-07 14:41] jakubklimek commented on #404
It is not clear to me what excatly was Jan's update. It seems from your description that it brought lots of problems. Did you discuss all this with Tomas?

Aren't all this the advantages we had for all the trouble with osgi and libraries etc.?

Do I still need to add the ssl package, or is it by default now?

[2013-09-07 14:49] skodapetr commented on #404
Sorry .. ssl package in still not by default ... I discuss with Thomas how to solve such issues .. I can add this package simply but this scenario will repeat for every single new package .. :( nevertheless if you really want I can add it.

Jan change the Spring context scope from per session to per serverlet.
The source of problem was that on the start/end of every session the OSGI start (create

[2013-09-07 15:10] jakubklimek commented on #407
Now it says
![image](https://f.cloud.github.com/assets/718827/1101547/a7906898-17cf-11e3-8cc0-8c914c5fc564.png)
which is equally not helpful

[2013-09-07 15:11] jakubklimek commented on #404
Now it says
![image](https://f.cloud.github.com/assets/718827/1101549/bae0279e-17cf-11e3-9c41-89907f889c61.png)

If the problem is the ssl package, why it worked before?

[2013-09-07 15:11] skodapetr commented on #395
I even get the "save dialog" after automatic logout ..

![logout save changes](https://f.cloud.github.com/assets/3341693/1101551/c87f579e-17cf-11e3-8f4b-45c83e6af29b.png)

[2013-09-07 15:13] skodapetr commented on #407
I agree basically .. to what to do .. has the DPU proper annotation (ie. AsExtractor, AsLoader ..) ?

[2013-09-07 15:17] jakubklimek commented on #407
You're right, this is missing (due to conflicts when you updated my DPUs ;)). Nevertheless, this should be described in the error message.

[2013-09-07 15:20] jakubklimek opened #413 "DPU file upload issue"
When I upload a DPU jar in the Create DPU template dialog and it is wrong somehow (displays error message), I select another one (or the same one I meanwhile recompiled) but it is not uploaded again.

[2013-09-07 15:20] skodapetr commented on #407
I'm not sure if this window is suitable for longer messages.

Maybe we can add some interpreter which provide user with more details based on exception as writing such story (probably with html marks) into exception message in code, is that what we want?

Thomas .. f2f discussion?

[2013-09-07 15:22] jakubklimek commented on #407
Nevertheless, when I added the @AsExtractor annotation, I still get the same error

[2013-09-07 15:23] jakubklimek commented on #407
But, when I restarted Tomcat, it was OK. But that is not OK :)

[2013-09-07 15:25] skodapetr commented on #407
I check this .. I thing that Maria is probably not using OSGI#uninstall method properly, which is now even more important as we have single OSGI class.

[2013-09-07 16:00] tomas-knap opened #414 "RDF Parser which validates data as part of RDF loader"
1. Write parser which processes the data before they are loaded.
2. Test on ted2.ttl (see iter3 on confluence), which errors/warning are thrown (please report here the list of errors/warn encountered).

[2013-09-07 16:03] tomas-knap commented on #404
Kubo, regarding unknown DPURecord type, do you have proper annotation for the DPU main executive class?

[2013-09-07 16:08] tomas-knap commented on #249
Petre,Maria, so what is the status? Is it prepared for testing?

[2013-09-07 16:11] tomas-knap commented on #404
Based on what you said Petr, it is of utmost importance to provide possibility to reload bundle, see #249 . It is not acceptable to  restart the whole app when DPU is changed and I would like to test the change. Please discuss to #249. We can also provide a button in DPU templates which reloads all the dpu bundles, what do you think?

On the other hand, when loading per servlet, we speed up a bit

[2013-09-07 16:27] skodapetr commented on #249
Tomas: Actually I experience problem with security  "An authentication object has not been found .." when I click on "Replace" button and select file to load. Please test and it there really is that problem reassign to Honza .. or write otherwise

[2013-09-07 16:46] skodapetr commented on #413
Maria do not call unistall on bundle if the import process failed .. for example due the missing annotations.Please test it now. In case of any problems please provide information about the exceptions.

[2013-09-07 16:48] skodapetr commented on #404
Tomas the speed is .. actually negligible as the size of core-DPUs and Jakub's DPUs are reasonably small.

But for example if you use SILK library .. that can take some time .. but it's only per first request in new session. The more important is that it may strongly help with permGen problem as we significantly decrease the number of loaded classes.

The change itself is generally not bad .. bad

[2013-09-07 17:25] skodapetr opened #415 "DPU - replace authentication"
I get "An authen.. object was not found" when I try to replace DPU.
Step to reproduce:
DPU Templates
select DPU click "Repalce"
select file .. and wait

There probably will be another (but different) exception as the original bundle is not properly uninstalled ..

necessary for #249

[2013-09-07 18:10] #342 closed, assigned to skodapetr

[2013-09-07 18:54] tomas-knap commented on #387
Duplicates #405

[2013-09-07 18:54] #387 closed, assigned to tomesj

[2013-09-07 18:55] tomas-knap commented on #405
Jirko, can you please look on that? Honza will have lots of work with authentication issues

[2013-09-07 18:59] tomas-knap commented on #353
Yes, the most important is that backend continues when certain errors occurs

[2013-09-07 19:03] tomas-knap commented on #353
In general, I would suggest to log.error("SImple error message"). Log.debug("detailed message, stack trace"). If third-party library is logging differently, I would create issue for that, but it is definitely not issue for 0.4.1. SO I would change the target milestone to 0.4 for this?

[2013-09-07 19:11] tomas-knap commented on #329
Jirka, can you please update me on this?

[2013-09-07 19:26] tomas-knap commented on #401
Jirko, k tomu "Jak jsem říkal, tak alternativa je přes connection - tam už problémy nejsou, jen bych to musel napsat celé znovu." To je to, co by melo byt predmetem #372 ?

U tohohle issue mi slo o to zkusit, zda je lepsi volat dvakrat getInsertedParts(), nebo jen jednou a pak Add<graph> to <graph>.

[2013-09-07 19:26] tomas-knap commented on #401
Na co jsi prisel s temi 7 milony trojic? ZKus jen dve moznosti - 2x getInsertedParts a jednou getInsertedParts + prekopirovani. Jak ti to vychazi?

[2013-09-07 19:42] tomas-knap commented on #352
Jakub, please test that, assign back if needed

[2013-09-07 19:45] tomas-knap commented on #413
Jakub, please test

[2013-09-07 19:47] tomas-knap commented on #404
Yes, you are right, permGen issue is a problem. We will test and let you know

[2013-09-07 19:50] jakubklimek commented on #352
Still not as usual, but better. Usually, I would single-click on a DPU, which would select it. This is now used for edge selection, but it could do both. Then I would singleclick on another dpu with ctrl and I would have 2 selected. Then it works OK, so what still needs to be done is to select (wide border) DPU on single click and combine it well with the other functionalities.

[2013-09-07 20:01] janvojt commented on #415
The problem is, that authentication context is kept in a ThreadLocal. Vaadin's component Upload has a succeed listener which seems to run on a different thread than the HTTP request. I will do some more debugging. Please disable the security annotations for now, so you can work on your issue.

[2013-09-07 20:04] janvojt commented on #411
I noticed this myself and this behavior is changed by 9518f846.

[2013-09-07 20:04] #411 closed, assigned to janvojt

[2013-09-07 20:07] janvojt commented on #410
The first screen is a duplicate of #415, where it is discussed.

[2013-09-07 20:24] tomas-knap opened #416 "Test browse/query"

[2013-09-07 20:35] tomesj commented on #401
Ne, to nemá s #372 nic společného, To se zase bavíme úplně o ničem jiném. Zlobilo mě tu rozhraní, dělám teď na complex pipeline, protože tam vidím větší prioritu. Až bude vše OK, tak pak se podívám na toto :-)

[2013-09-07 20:38] #396 closed, assigned to janvojt

[2013-09-07 21:27] tomesj commented on #329
I can not actually working on this - I have clean my DB and now when I created complex pipeline and I got save I got this exception:

![image](https://f.cloud.github.com/assets/3481055/1102210/46b83aca-1804-11e3-9e27-b5035d3337ca.png)

[2013-09-07 21:51] tomesj commented on #329
When I tried to create pipeline once again, I got this:
![image](https://f.cloud.github.com/assets/3481055/1102240/922116b4-1807-11e3-91a8-2abd33652dac.png)

[2013-09-07 23:21] tomesj commented on #329
At the end I finally created and saved pipeline. Then I tested funkcionality and merging is right now - without  problems. I got data equals to my expected result.

![image](https://f.cloud.github.com/assets/3481055/1102339/264ba7b2-1814-11e3-9902-e1a6f4b40d8e.png)

But is necessery to solve 2 describes above errors problems.

[2013-09-07 23:45] tomesj commented on #414
I tried to use RDF parser for described ted file and I got this as report:

WARNINGS:
1]Message: 'http://purl.org/procurement/public-contracts-datatypes#percentage' is not recognized as a supported xsd datatype. LINE:100 COLUMN:-1
2]Message: 'http://purl.org/procurement/public-contracts-datatypes#percentage' is not recognized as a supported xsd datatype. LINE:570 COLUMN:-1
3]Message: 'http://purl.

[2013-09-08 00:56] tomesj commented on #401
Pro graf se 7 mil trojic v případě vkládání příkazu INSERT INTO {GRAPH {?s ?p ?o}} či ADD &lt;jmeno_grafu&gt; TO &lt;cilovy_graf&gt; přes SPARQL endpoint dostanu vždy:

Virtuoso 40005 Error SR325: Transaction aborted because it's log after image size went above the limit.

Jinak zde je asi hlavní problém ten, že jde obecně o libovolný SPARQL endpoint -může to tedy být ne naše, ale vzdálené Virtuos

[2013-09-08 04:06] #238 closed, assigned to kukharm

[2013-09-08 07:26] jakubklimek opened #417 "Go away from settings: NullPointerException"
I logged in, went to settings and clicked on Execution Monitor or any other menu item:

![image](https://f.cloud.github.com/assets/718827/1102761/f65f951a-1857-11e3-8596-2620d6e7c5d4.png)

[2013-09-08 07:51] jakubklimek opened #418 "Execution Monitor load is extremely slow when heavy logging on backend + Show log does not respond, see the end of the discussion"
My DPU, buyer profiles, logs a lot. When it has its cache, it is the main bottleneck. When it runs and logs and I click on Execution monitor, it takes up to a minute to load it, which is unacceptable.

[2013-09-08 08:02] tomas-knap commented on #418
Related to issue #412, which helps. Bohuslav, can you please check that, I thought that with lazy loading these problems should not occur?

[2013-09-08 08:11] jakubklimek commented on #383
I checked today, it does not refresh for me in Chrome nor Internet Explorer.

[2013-09-08 08:11] tomas-knap commented on #401
Jirko, tak zkusi mene trojic, trebas jen stovky tisic pro zacatek.

Virtuoso 40005 Error SR325: Transaction aborted because it's log after image size went above the limit.
-> Mas spravne nastavene log_enabled()? Pokud jo, tak se ti tohle neobjevi. Myslim, ze se to log_enabled() da nastavit i jako soucast query? <pre> SPARQL DEFINE sql:log-enable 3
INSERT INTO <graph-name> ...  </pre>

Jinak zde je

[2013-09-08 08:21] tomas-knap commented on #401
Tedy kdyz to shrnu, tohle je dulezite issue, nahravani vetsich dat musime umet, a to stavajicim druhem loaderu.
1. Je treba odladit getInsertedParts - tedy aby to proslo pro tech 7 milionu trojic. Klidne zacni od statisicu, ale musi to fungovat i pro miliony. Urcite bude potreba zvetsit chunk z 10 na tisice aspon pro vetsi data. Zkousej to zatim v tom rezimu BEZ temp grafu. Napis mi prosim v prube

[2013-09-08 08:29] tomas-knap commented on #414
Thanks! Can you please further introduce the following URIs (blue one) to certain resources (subjects, predicates, or objects)  in ted2.ttl and test whether all the errors below are also reported?

Bad IRI: http://www.-marches06.fr Code: 33/DNS_LABEL_DASH_START_OR_END in HOST: A DNS name had a - at the beginning or end.
Count: 3

Bad IRI: http://http:/marchespublics.nantesmetropole.fr Code: 12/POR

[2013-09-08 08:36] tomas-knap commented on #329
Jirka, thanks, when I deploy the tool on odcs.xrg.cz, I will let you know, so that you can prepare the pipeline for me there.

[2013-09-08 08:53] tomas-knap commented on #362
Solved by #342

[2013-09-08 08:53] #362 closed, assigned to tomas-knap

[2013-09-08 08:54] tomas-knap commented on #331
Solved by #342, conflence report pending

[2013-09-08 08:54] #331 closed, assigned to tomas-knap

[2013-09-08 08:56] tomas-knap commented on #150
Not actual

[2013-09-08 08:56] #150 closed, assigned to tomas-knap

[2013-09-08 08:58] tomas-knap commented on #351
No, we will keep it simple unless there is agood reason for that. Every data unit will have one named graph + one provenance named graph

[2013-09-08 08:58] #351 closed, assigned to tomas-knap

[2013-09-08 08:59] tomas-knap opened #419 "Write down result of the discussion about data units and merging (skype prev week)"

[2013-09-08 09:00] #304 closed, assigned to tomas-knap

[2013-09-08 09:01] tomas-knap commented on #284
Solved

[2013-09-08 09:01] #284 closed, assigned to tomas-knap

[2013-09-08 09:03] tomas-knap commented on #267
duplicates #412

[2013-09-08 09:03] #267 closed, assigned to tomas-knap

[2013-09-08 09:03] tomas-knap commented on #266
Solved

[2013-09-08 09:03] #266 closed, assigned to tomas-knap

[2013-09-08 10:07] janvojt opened #420 "Tests in commons-app fail."
Directory `target` does not exist. Stactrace with following root cause is produced.

[code]

[2013-09-08 10:10] tomas-knap opened #421 "Problem with DPU dialog implementation appears cannot be differentiate from a problem with the core app"
I was preparing dialog for SILK extractor and did some mistake when designing the dialog. When I click on DPU template -Silk, I got message:

![screen shot 2013-09-08 at 12 07 34 pm](https://f.cloud.github.com/assets/3014917/1102911/b4c0c798-186e-11e3-9afe-6b60933b0fe0.png)

From such message, it is not clear whether the problem is in the core application of DPU itself (more probable). So the stac

[2013-09-08 10:15] tomas-knap opened #422 "Problems in DPU dialog should be discovered as the DPU is being created"
Not when I click on DPU template, the dialog should be already tested by that time

[2013-09-08 10:30] janvojt commented on #420
The problem occurs only when executing `clean` before `install` target. Directory `target` is deleted during clean, however it is not recreated in the commons-app `install` target. Seems like this directory is created elsewhere. Solution would then probably be to put building of this module before the build of commons-app. (If you use skipTests profile, everything seems to work fine).

[2013-09-08 10:45] tomas-knap opened #423 "DPU Detail Dialog should be resizable"
Motivation: Certain configuraitons can contain couple of textareas, lots of fields, space is needed.

[2013-09-08 10:48] tomas-knap commented on #340
Bohuslav, please write us when ready, this is really annoying ;)

[2013-09-08 10:57] tomas-knap opened #424 "Label for mappings on the edges - do not wrap them if there is a space"
When there is a space, wrapping of the mapping labels is not needed:

![screen shot 2013-09-08 at 12 56 00 pm](https://f.cloud.github.com/assets/3014917/1102970/60f23a64-1875-11e3-93d6-00dc498f3653.png)

If it is needed to wrap the mapping label, "->" should be always together on one line.

[2013-09-08 11:24] tomesj commented on #401
Dneska budu pracovat převážně jenom na tomto a pokusím se to dát nějak zprovoznit.

Jinak to vkládání po částech funguje vždy, ale už pro větší data to selže na JAVA heap space a to v místě, kde se mají vrátit všechny trojice, které je potřeba nahrát.... Hledal jsem nějakou alternativu, ale nenašel.
-> Tohle musi byt ale zcela jiste chyba tveho kodu..jakmile dodelam jeden chunk, tak rozhodne nepot

[2013-09-08 11:31] tomesj commented on #414
What I should do with these URIs ? I dont understand what you want from me. Try to explain it better.

[2013-09-08 12:06] jakubklimek opened #425 "Add menuitem "ODCleanStore" as the first one, leading to the homepage"
Add menuitem "ODCleanStore" as the first one, leading to the homepage so that it is consistent with our other applications (based on Twitter Bootstrap).

[2013-09-08 12:16] tomas-knap commented on #401
Jo tak, jasne, chapu. Mno, muzes urcite ty data ziskat nejak jinak, trebas construct {?s ?p ?o} where {?s ?p ?o} LIMIT 1000 OFFSET 0. A pak zvedat OFFSET o 1000. Ale mrkni jestli openRDF nema pro toto primo nejakou metodu, ktera ti vraci jen casti dat z RDF uloziste.

[2013-09-08 12:18] tomas-knap commented on #414
Ok, the motivation is to try how the parser (your parser) behaves  (which exceptions/warnings will be thrown), when the parser processes such URIs. Ideally, errors should occur as in the comment above, which is output of Apache Fuseki.

[2013-09-08 13:10] tomesj commented on #414
I added next triples to file:

<pre><code>
&lt;http://www.-marches06.fr&gt; &lt;http://hasEdge&gt; &lt;http://http:/marchespublics.nantesmetropole.fr&gt; .
&lt;http://www.kommersannons.se:80/engelholm/Notice/NoticeOverview.aspx?ProcurementId=251&gt; &lt;http://myURI &gt; "myLiteral" .
&lt;http://www..strassen.nrw.de&gt; &lt;http://nextProblem&gt; &lt;http://public_procurement@sibelga.be&gt; .
&lt;

[2013-09-08 14:22] janvojt opened #426 "Deleting email notification does not work."
(reported by Maria)
skusila jsem

[code]

ale nic se mi nesmazalo s DB, delam neco spatne?

[2013-09-08 14:27] janvojt commented on #410
The second screen - I can confirm that authentication is lost after few minutes. I debugged this, and it seems the session lasts 30 minutes which is default and is correct. The problem is that session attribute gets lost somewhere. It might be caused by a PUSH handler, where FakeHttpSession is used. I need to do some more research.

[2013-09-08 15:02] janvojt commented on #207
Do I understand this correctly?
1. Is it true that the configuration of virtuoso in config.properties should be duplicated in web.xml?
2. Which configuration takes precedence then?
3. Is it still true, that if config.properties is not present, frontend dies?
4. Is this only about virtuoso configuration? (I think frontend requres also backend._, email._ and module.path)

[2013-09-08 15:50] skodapetr commented on #420
Well it's not so easy as the library folder contains for example commons-web which (in project hierarchy) is descendant of commons/app. So it's little bit circle dependency during test phase.

But as OSGI is not used during tests as far as I know . I disable it's automatic start up in test-context.

[2013-09-08 15:55] skodapetr commented on #308
I discuss the needs of annotation for List<> with Jakub. The conclusion is that such annotation could be helpful when we have for example XMLDataUnits .. so I don't think we need additional annotations right now.

Based on this I suggest closing this issue.

[2013-09-08 16:22] tomas-knap commented on #308
Ok, we do not need to annotate types, but what about mandatory/optional i/o?

[2013-09-08 17:07] jakubklimek commented on #100
I tried stopping again. My DPU catches the Interrupted exception and should end. However, this exception is now not thrown when I click cancel. In the log I see <code>19:04:03 [pool-2-thread-2] DEBUG c.c.x.i.b.e.p.Executor - Terminating the DPU thread ...</code> and the DPU continues (And the button should be Stop, not cancel)

[2013-09-08 17:11] jakubklimek commented on #418
Actually, it seems that the issue is not related to logging. Clicking on execution monitor simply takes forever. What is the problem here? There is only 8 records shown, that should be instantaneous.

[2013-09-08 17:12] jakubklimek opened #427 "When a pipeline is cancelled (stopped), there is no "show log" button"

[2013-09-08 17:22] jakubklimek opened #428 "Backend online/offline notification not working"
I stopped the backend and the frontend kept showing the "green light"
![image](https://f.cloud.github.com/assets/718827/1103468/2e347d2c-18ab-11e3-8c8f-9ba3b3a9677d.png)

[2013-09-08 17:47] janvojt commented on #420
Retest OK.

[2013-09-08 17:47] #420 closed, assigned to skodapetr

[2013-09-08 17:50] skodapetr commented on #308
Well optional output is not supported .... we would need some support from DataUnit how to recognize that it has been used.
The inputs can be optional by using "optional=true" as annotation parameter. Or should we have special annotation or this?

[2013-09-09 04:56] jakubklimek commented on #207
No, frontend should not read config.properties at all. All necessary configuration must be in web.xml, part of the frontend WAR. This is common for tomcat web applications.

[2013-09-09 07:38] tomas-knap commented on #425
Now there is no way to see the the homepage.

[2013-09-09 07:39] tomas-knap opened #429 "Homepage showing list of pipelines or execution monitor"
Better yet, delete the homepage (it is useless) and make the pipelines list or execution monitor the homepage.

[2013-09-09 07:42] tomas-knap commented on #418
Bohuslav, do you have any explanation?

[2013-09-09 07:48] #374 closed, assigned to jakubklimek

[2013-09-09 07:50] tomas-knap opened #430 "Errors during compilation of frontend"
When compiling frontend, errors occurs, although finallly it is compiled successfully. Can you please comment these errors?

[2013-09-09 07:54] tomas-knap commented on #207
We will discuss that tomorrow f2f

[2013-09-09 08:03] bogo777 commented on #430
If you mean errors produced by Vaadin compilation, it is described here:
https://vaadin.com/book/-/page/addons.maven.html

Do not mind the "ERROR" labels, they are just an issue with the Vaadin Plugin for Maven.

[2013-09-09 08:14] tomas-knap commented on #427
It works for me, Kubo?

[2013-09-09 08:17] janvojt commented on #207
Well, this would mean we duplicate majority of config.properties into web.xml. I think this is really unnecessary if frontend and backend runs on the same machine. Maybe a better solution would be to specify a path to config.properties in web.xml?

[2013-09-09 08:17] jakubklimek opened #431 "Frontend cannot start"
Well, now when I deploy to tomcat, I get the following error so something is definitely wrong:
![image](https://f.cloud.github.com/assets/718827/1105500/d133f7c4-1927-11e3-92fb-4fc6094cc10b.png)

<pre><code>INFO: The APR based Apache Tomcat Native library which allows optimal performance in production environments was not found on the java.library.path: C:\Program Files\Apache Software Foundation\

[2013-09-09 08:19] jakubklimek commented on #427
I don't know, cannot start frontend at all now.

[2013-09-09 08:23] jakubklimek commented on #207
1) There are 2 identical config.properties files even if ODCS runs on the same computer (one in the home of the user running backend and one in the home of user running frontend, which is a problem especially because SYSTEM user on Windows does not have a home and the location is then C:.intlib\config.properties, which is just wrong), so from that point of view, it is not much worse.
2) Who said t

[2013-09-09 08:31] bogo777 commented on #431
I cannot reproduce it, I made clean&build on whole intlib without frontend and deployed frontend and it runs fine. I have class RequestHolder in frontend. Since it is Jan's class, maybe he will know more.

[2013-09-09 08:41] tomas-knap commented on #100
Kubo, which DPU was it, so that it can be reroduced?

[2013-09-09 08:42] tomas-knap commented on #308
Lets discuss optional/mandatory data units when 0.4.1 is done

[2013-09-09 08:44] tomas-knap commented on #414
Well the user should be at least warned that  there is a problem with URI. That is what apache fuseki is doing. Thanks for testing.

[2013-09-09 08:53] janvojt commented on #431
The message is clear, class RequestHolder cannot be resolved. I checked in the repository, and the class is there in the same namespace as IntlibApplicationServlet, where it is called. Therefore there must be something wrong with your build. It worked yesterday and there were no changes in these files for 5 days.

I am guessing your build did not succeed for some other reason. Please make a clean

[2013-09-09 09:07] jakubklimek commented on #100
This is the buyer-profiles DPU. Yes, it can be reproduced. Just run it and try to stop it.

I can provide you with its <a href="http://opendata.cz/files/Extractor_buyer_profiles_cz-0.0.1.jar.zip">cache</a> (approx 130MB zip) so that it does not download anything. I suspect that the cancelling works when the DPU sleeps - it throws the InterruptedException. But when the DPU has everything cached and

[2013-09-09 09:10] jakubklimek commented on #431
The WAR was a result of <code>mvn clean install -DskipTests</code> but OK, I will do that again. However, the mentioned class is in the WAR. And yes, all modules had SUCCESS after compilation.

[2013-09-09 09:14] bogo777 commented on #417
It seems that for account "user" there is no email in db filled. While it was tested when loading data(and default username@example.com) was prefilled, it was not tested when determining if changes happened.

[2013-09-09 09:17] jakubklimek commented on #431
OK, did the same thing and this time it worked. Strange. Just FYI, the resulting WAR and the erroneous one have different sizes - really weird when I just ran <code>mvn clean install -DskipTests</code> twice...

[2013-09-09 09:17] #431 closed, assigned to jakubklimek

[2013-09-09 09:28] bogo777 commented on #340
Well notification with buttons is basically dialog, or not?
For now, there is dialog, it can be styled in the future, to be less annoying. Also addon is used for ConfirmDialog and it doesn't support three buttons yet. It may be possible to modify it in the future but probably not till 11.9.

[2013-09-09 09:29] bogo777 commented on #395
Confirmation should occur before loading new view now. Result of work on #340.

[2013-09-09 09:31] jakubklimek commented on #417
OK, now it does not write the NullPointerException, but it asks me whether to save changes when there were not any. But that is another issue like https://github.com/mff-uk/intlib/issues/395 or https://github.com/mff-uk/intlib/issues/340

[2013-09-09 09:31] #417 closed, assigned to bogo777

[2013-09-09 09:33] bogo777 commented on #418
I have no explanation yet, will test that. Will I be able to use DPU buyer profiles from mff-uk/DPUs for testing? Or do I need some special configuration/pipeline?

[2013-09-09 09:39] jakubklimek opened #432 "Weird backend exception"
I ran backend and got this exception. However, I could not reproduce it:

<pre><code>11:38:17 [main] INFO  c.c.x.i.b.execution.Engine - Working dir: C:\Users\Kuba\Documents\GitHub\intlib\backend\working
11:38:19 [main] INFO  c.c.x.i.backend.AppEntry - Starting TCP/IP server ...
11:38:19 [main] INFO  c.c.x.i.backend.AppEntry - Heartbeat is running ...
11:38:19 [main] INFO  c.c.x.i.backend.AppEntry

[2013-09-09 09:41] #427 closed, assigned to bogo777

[2013-09-09 09:44] jakubklimek commented on #415
Still geting that - or is it a different one?
![image](https://f.cloud.github.com/assets/718827/1105898/5432d580-1934-11e3-8c1a-a16c06d12cf5.png)

[2013-09-09 09:46] bogo777 commented on #417
It was because account "user" didn't have initial notification settings in db. They are there for "admin" account and are automatically created for any new user. So I filled them to db for "user" account too, so this should not occur again.

[2013-09-09 09:48] jakubklimek commented on #413
Now it works when I select different file. But if I recompile the one I selected and select it again, it does not reupload.

[2013-09-09 09:49] jakubklimek commented on #395
Works

[2013-09-09 09:49] #395 closed, assigned to bogo777

[2013-09-09 09:51] janvojt commented on #207
1) If you run on the same machine, you can just make a symlink. Or you can even run under the same user. I agree that having C:\.intlib is wrong, but even worse is, that system user on Windows is homeless. :D Anyway, this would be addressed by my suggestion to specify config path in web.xml.
2) I do not presume they run on the same machine. It would just be easier for developers to update one conf

[2013-09-09 09:52] jakubklimek commented on #340
OK. Could you please switch the two buttons so that on the left is save and on the right is discard?

[2013-09-09 09:57] jakubklimek commented on #352
OK, now it works more or less as expected. When you play with it long enough, sometimes it gets "stuck", but that is OK for now.

[2013-09-09 09:57] #352 closed, assigned to bogo777

[2013-09-09 09:59] janvojt commented on #415
It is the same exception, but caused by a different line. I know where the problem is. I will fix this tonight. I could not retest the whole scenario myself, because at the time there was a different bug causing BundleException.

[2013-09-09 10:00] jakubklimek commented on #272
When starting backend without a running database, it writes 2 exceptions (not sure if this is OK or not) and then correctly starts waiting.

<pre><code>11:58:32,936 |-WARN in ch.qos.logback.classic.db.ConfigurableConnectionSource@172036a1 - Could not discover the dialect to use. virtuoso.jdbc4.VirtuosoException: Connection failed: Connection refused: connect
    at virtuoso.jdbc4.VirtuosoException

[2013-09-09 10:04] jakubklimek commented on #272
When running the dbpedia pipeline and immediately stopping database, I get these exceptions (again, not sure if handled correctly or not). Finally, when virtuoso is restarted, the pipeline finishes, but again, it is not clear from the log if everything is OK.

<pre><code>12:01:51 [Thread-9] INFO  c.c.x.i.r.i.VirtuosoRDFRepo - Set new data graph - http://linked.opendata.cz/resource/odcs/internal/pi

[2013-09-09 10:04] jakubklimek commented on #272
It should be clearer from the log if everything is OK or not. Exception stack trace usually indicates that something is wrong.

[2013-09-09 11:03] jakubklimek commented on #418
See https://github.com/mff-uk/intlib/issues/100#issuecomment-24055759 for buyer-profiles DPU usage

[2013-09-09 11:05] jakubklimek commented on #417
OK, that is provided that I reload the database, right? And as always, the exception should be handled better even though it is fixed by fixing the database

[2013-09-09 11:16] jakubklimek commented on #425
Almost OK. Could the text for ODCleanStore be bigger than the rest so that it is clearer that it is the name of the app? And, but only if it is not too much work, could the black menu bar itself be higher so that it looks more like <a href="http://live.payola.cz">Payola</a>, <a href="http://wealthofnation.com">Wealth of Nation</a>, <a href="http://getbootstrap.com/">Bootstrap</a> itself or even <a

[2013-09-09 12:11] tomas-knap opened #433 "Extractor from SPARQL endpoint - Construct query not mandatory"
Construct query is not mandatory. If not filled, default construct query selecting all triples is used. Please check that functionality. If you need Maria, ask her regarding the checking of mandatory fields.

[2013-09-09 13:27] skodapetr commented on #408
Where should this file be located?

[2013-09-09 16:56] tomas-knap opened #434 "PermGen space - certain objects are not removed correctly"

[2013-09-09 20:02] tomas-knap commented on #428
Bohuslav please test that if you can reproduce, if not, reject.

[2013-09-09 20:40] janvojt commented on #415
Please retest. I am not 100% sure it works, because right now even the version before the last commit works on my setup.

[2013-09-09 21:38] tomas-knap commented on #401
Jirko, zkusil jsem deployovat na odcs.xrg.cz:8080/odcleanstore. Kdyz tam zkusis dbpedia pipeline, kterou jsem obohatil o SPARQL loader, tak nahravani selze:

![screen shot 2013-09-09 at 11 33 32 pm](https://f.cloud.github.com/assets/3014917/1110662/130e6146-1998-11e3-86a4-32be15a0968d.png)

Zvlastni je, ze to vypise - 1/10 part loaded successfully, ale pak dalsi debug hlaska napise execution faile

[2013-09-09 21:58] tomesj commented on #401
Tak jsem to zkoušel na odcs.xrg.cz:8080/odcleanstore a nejprve to nemělo dost práv - (bylo tam sparql místo spaql-auth).

Je zajímavé, že to umře na autorizaci, tedy to že se po 1 úspěšném nahrání to vrátí HTTP 401 - Unauthorized.

Podívám se, jak se to chová u mě a dám vědět....

[2013-09-09 22:15] janvojt commented on #254
I finished my part as explained by Petr. I am assigning Bohuslav to use relevant method `LogFacade.getLogException(LogMessage)` in frontend.

[2013-09-09 22:20] tomesj commented on #401
U mě to nahraje též 1/10 parts a pak to rovněž spadne na HTTP 401 - Unauthorized.

[2013-09-09 22:32] tomesj commented on #401
Tak už jsem zjistil, kde je problém....Při tom nahrávání totiž záleží na délce toho URL. Je-li moc dlouhé, potom to skončí výše zmíněnou chybou.

Tady v tom případě je hodně i 10 trojic na jedno nahrání, protože jejich texty jednotlivých trojic jsou příliš dlouhé. Když si to ale zkusíš nastavit velikost PARTS na 3, je to už OK.

[2013-09-10 01:32] #336 closed, assigned to kukharm

[2013-09-10 01:32] #433 closed, assigned to tomesj

[2013-09-10 01:33] tomesj commented on #401
Tak mám nakonec skvělou zprávu - stačí zaměnit metodu get za post a už to bere libovolně velké úseky :-) Takže skvělá zpráva :-) Můžeš hned zkusit a jde to i pro velká data

[2013-09-10 07:42] tomas-knap commented on #405
Jirko, check also that SPARQL loader works correctly, in my case it produced an error with username/pass autentication, ale to je nesmysl

[2013-09-10 08:42] tomas-knap commented on #401
Ok, super. Jeste te poprosim o jednu vec, pridej prosim do dialog pro SPARQL loader - na zalozku details jeden text box, ve ktere bude velikost te part. A odstran to z BaseRDFRepo. Defaultne to nech trebas na 100. Tohle bude hlavne pro nas, pro testovani jak se zvysi rychlost, kdyz se zvetsi chunky. Pro ruzna data - ruzne velka se to bude chovat ruzne. Implementace SPARQL loaderu si pak vezme tu v

[2013-09-10 08:44] tomas-knap commented on #401
A jeste mam jednu vec, posledni snad :) Kdyz si nastavim, aby to skoncilo po vyskytu chyby, tak to spravne skonci chybou cele to nahravani kdyz je v datech nejaky problem, akorat ta chyba neni intuitivni, je to stack trace. Melo by byt jasne recono, ze chyba je: Data obsahuji tuto chybu XX a proto cele nahravani fails.

[2013-09-10 09:18] #389 closed, assigned to kukharm

[2013-09-10 09:29] jakubklimek commented on #415
Still does not work. I am bumping the priority, becasue when this problem occurs on the server, it means deleting all pipelines, the DPU, then uploading a new version and recreating the pipelines instead of the replace.

Btw, you can test it on the current live instance on <a href="http://odcs.xrg.cz:8080/odcleanstore">http://odcs.xrg.cz:8080/odcleanstore</a>. It is the version before your commit,

[2013-09-10 09:29] bogo777 commented on #418
It seems, that this problem is caused by combination of issues:
1) heavy logging strains database, so queries are slower
2) if component is refreshed before it is loaded for the first time, it gets stuck in loop of reloading, which sometimes ends after while and sometimes it goes on and on.

I changed when automatical refresh on execution monitor is started, so this issue should not occure there.

[2013-09-10 09:30] bogo777 commented on #428
Same issue as #397.

[2013-09-10 09:31] bogo777 commented on #397
Sometimes refresh thread got stuck on NPE and didn't recover from it. I adjusted it, so it shouldn't happen anymore.

[2013-09-10 09:33] jakubklimek opened #435 "DPU Create template: Description should not be mandatory"
![image](https://f.cloud.github.com/assets/718827/1113401/0be0e5f6-19fc-11e3-9a36-1aadfbaaf59d.png)

In addition, please check that you don't display "Must be filled" messages where the field is already filled, like the one on the screenshot.

[2013-09-10 09:38] kukharm commented on #246
Probably will require a method for getting data from configDIalog from Petr. Now there is no possibility to check configDIalog for changes. We agreed to discuss this at the meeting 10.9. Confirmation dialog now responding to changes in tab General only.

[2013-09-10 09:39] jakubklimek opened #436 "SPARQL extractor/loader SPARQL Endpoint combobox"
Combobox should save (and be able to delete) the used endpoints.

[2013-09-10 09:41] jakubklimek opened #437 "Copy pipeline throws exception"
![image](https://f.cloud.github.com/assets/718827/1113437/22355aca-19fd-11e3-83d1-088c6932fd16.png)

[2013-09-10 09:45] jakubklimek opened #438 "Bad layout when showing logs - hidden buttons"
![image](https://f.cloud.github.com/assets/718827/1113468/bb9bf50c-19fd-11e3-87ea-ab49cc88ac0e.png)

[2013-09-10 09:50] #435 closed, assigned to kukharm

[2013-09-10 10:05] tomas-knap opened #439 "Backend should not actively wait for readline("exit")"
Check every 100ms e.g. Is it needed to read anything from input?

[2013-09-10 11:12] jakubklimek commented on #412
It works, however, now there is no way to log anything without the DPU to end with warnings. This is my fault, sorry for that. Please change it to < INFO.

[2013-09-10 11:16] jakubklimek opened #440 "Option text too wide. Either make the window wider or wrap the text"
![image](https://f.cloud.github.com/assets/718827/1113922/626cc31e-1a0a-11e3-9b43-f8b1e24ffbfb.png)

[2013-09-10 11:47] bogo777 commented on #437
Looks like authentication issue, reassigning Jan.

[2013-09-10 11:58] bogo777 commented on #421
Added custom error notification for loading DPU dialog.
But I do not know, how to find the right exception in stack to show line XX.
I made error in buyer-profiles dialog and got this exception:

java.lang.IllegalArgumentException: Component cannot be added inside it's own content
    at com.vaadin.ui.AbstractComponentContainer.addComponent(AbstractComponentContainer.java:204) ~[vaadin-server-7.1.

[2013-09-10 12:08] tomesj commented on #401
Přidám textbox pro ten SPARQL loader, aby se to dalo nastavit. Jinak věc těch hlášek je taková, že já tam předávám přesně tu chybu a její message, ale ten kdo programoval pak ty případné chyby - reporty (nejspíše Petr) tam z toho pak dělá stacktrace ....Už jsem se na to jednou díval a přišlo mi to divné, jen jsem to nechtěl nějak měnit, protože to není můj kód....Je to tuším někdy v commons-app...

[2013-09-10 12:15] tomas-knap commented on #421
yes, that is true, one option is to select first X lines from the stack trace, alternatively, if the packages for dpus would have certain naming conventions, we can grep only the relevant messages. Or we should wrap all DPU exceptions to our exception DPUException, so that we know which part of the stack is from the dpu - we can then provide info that error occurs in DPU and user may click and get

[2013-09-10 12:26] tomesj commented on #405
It is fine, now :-) It was caused by too long URL - fixed using POST method. See #401

[2013-09-10 12:30] tomas-knap opened #441 "RDFDataUnitHelper - method getTriples, which allows iteration over results"
List<Statement> triples = inputRdf.getTriples();

There should be also a version of getTriples() method, which allows to iterate over smaller chunks of data as in case of the loader getting only XX triples at once.

[2013-09-10 12:32] tomas-knap opened #442 "RDFDataUnitHelper - methods returning Jena objects"
For DPU developers, it would be great to have possibility to work with triples either using OpenRDF or Jena. Probably we should think about separating RDFDataUnitHelper to more Helper interfaces?

[2013-09-10 14:18] #425 closed, assigned to bogo777

[2013-09-10 14:24] jakubklimek opened #443 "Logged user panel (top right) is ugly"
It should have the same background as the top bar (black). Again, look at <a href="http://live.payola.cz/">Payola</a>. The goal is to be as close to its design as possible.

[2013-09-10 14:24] #404 closed, assigned to skodapetr

[2013-09-10 14:25] tomas-knap commented on #404
PermGen issues is being solved in #434

[2013-09-10 14:35] jakubklimek commented on #340
OK, but... the Save button is much smaller than the Discard changes one. So it is more probable that I will click on Discard changes. They should be at least the same size. In addition, the dialog says cancel or apply. It should say "There are unsaved changes. Do you wish to save them or discard?"

[2013-09-10 14:40] #397 closed, assigned to bogo777

[2013-09-10 14:42] jakubklimek commented on #428
Unable to reproduce, will reopen if it happens again.

[2013-09-10 14:42] #428 closed, assigned to bogo777

[2013-09-10 14:52] tomas-knap commented on #100
Many uses of stop should be replaced by code that simply modifies some variable to indicate that the target thread should stop running. The target thread should check this variable regularly, and return from its run method in an orderly fashion if the variable indicates that it is to stop running.

Implement method which may be called regularly by DPU

[2013-09-10 14:53] tomas-knap commented on #399
If there is an error event -> end the execution in the same way as if cancelled. If log.error(), then it will end with error, but the pipeline will finish (reason: external libraries may use log.error())

[2013-09-10 14:58] tomas-knap commented on #263
getToolTip() - maybe later, postponed

[2013-09-10 14:58] #263 closed, assigned to skodapetr

[2013-09-10 15:08] tomas-knap commented on #272
basic idea of solution:
do souboru vsechno (musi byt volitelne kde ten soubor je)
na standardni vystup vsechno

[2013-09-10 15:18] tomas-knap commented on #246
It also not possible to provide readonly dialog (DPU detail) when user does not have rigths to change the dialog

[2013-09-10 15:40] tomas-knap commented on #329
Test the pipeline on odcs.xrg.cz:8080/odcleanstore

[2013-09-10 15:49] tomas-knap commented on #418
muzes prosim ologovat a dat casy? Jak co dlouho trva? abychom vedeli

[2013-09-10 15:51] tomas-knap commented on #418
add 2) vyresils to?

[2013-09-10 16:03] tomas-knap opened #444 "Move lazy loading from frontend to commons app, check autorization to view logs/records/.."

[2013-09-10 16:21] tomas-knap commented on #207
2 config files -> jeden pro backend (tak jak je), pro frontend config.properties vlastni, ve WARku. Pozor aby se nedaval do gitu

[2013-09-10 17:03] tomas-knap commented on #421
Explore how to customize error messages, so that we can show main message, stack trace hidable, email to admin etc. Customization will be useful to support custom behavior when dealing with exceptions. For example, Petr may parse the exception above in DPURecordWrap and throw our custom rich exception

[2013-09-10 17:16] tomas-knap opened #445 "Config from commons to commons-app"

[2013-09-10 17:29] #256 closed, assigned to bogo777

[2013-09-10 17:30] tomas-knap commented on #275
duplicated with #254

[2013-09-10 17:30] #275 closed, assigned to janvojt

[2013-09-10 21:19] janvojt commented on #415
Should be fixed now. There is only one cosmetic problem - DPU file label does not refresh after upload. You can click a different DPU and then back to see the change.
I am assigning Bohuslav to resolve this.

[2013-09-10 21:30] janvojt commented on #437
Fixed, problem was that facades must be used for copying, because we distinguish it as a separate right to copy objects.

[2013-09-11 05:42] #437 closed, assigned to janvojt

[2013-09-11 05:44] jakubklimek commented on #272
Also please explain what happened in the two instances shown here

[2013-09-11 05:47] jakubklimek opened #446 "When deleting pipeline, it is not deleted completely"
I copied my pipeline and then wanted to delete it. I clicked on delete and all the buttons from the pipeline disappeared, but the pipeline record is still visible. When I clicked on it, I got to the login screen. When I logged in, the pipeline was gone.
![image](https://f.cloud.github.com/assets/718827/1120521/5ddac2f6-1aa5-11e3-9ea2-330a2579c395.png)

[2013-09-11 05:49] jakubklimek commented on #415
Another cosmetic problem to fix is that the Template Configuration tab is not updated after the replace

[2013-09-11 06:15] jakubklimek opened #447 "Login screen: admin@example.com shoud be knap@ksi.mff.cuni.cz"

[2013-09-11 07:03] tomas-knap commented on #447
It is taken from the config.properties, right?

[2013-09-11 07:04] tomas-knap commented on #446
Bohuslav, is this relevant for you? If not, please switch to Honza

[2013-09-11 07:05] tomas-knap commented on #421
Bohuslav, is there any way how to customize the error message as described in the prev commment?

[2013-09-11 07:37] tomas-knap opened #448 "DPU tree - labels"
![screen shot 2013-09-11 at 9 31 19 am](https://f.cloud.github.com/assets/3014917/1120981/cd1669fe-1ab4-11e3-992a-709f7698d8e9.png)

The DPU tree label (top) should be renamed to DPU Templates Tree.
DPU Templates label below the filter text box should be removed.

[2013-09-11 07:46] tomas-knap opened #449 "SPARQL Loader - division by zero if no data available to load"
Jirka, if there are 0 triples to be loaded, division by zero.

![screen shot 2013-09-11 at 9 44 50 am](https://f.cloud.github.com/assets/3014917/1121024/2141ced2-1ab6-11e3-88ab-f9a5ec8f97b3.png)

[2013-09-11 07:51] tomas-knap opened #450 "Prepare Base classes for DPUs"
For DPUCOnfigObject, so that isValid default impl is available (returns true)
For DPU, so that default impl for cleanUp is available (void)

[2013-09-11 07:51] tomas-knap commented on #450
Adjust also the documentation (web site) and DPU template in modules folder

[2013-09-11 07:56] bogo777 commented on #421
Vaadin's Notifications aren't that customizable -> There are 2 strings, which are shown, which can contain HTML, and the visual can be styled by CSS.
Email as link should not be a problem, but hideable stack trace will. We could use Window class(used for details - DPU, Record,...), for showing all that.
Maybe not customization, but template for error messages would be better - Every exception has

[2013-09-11 07:58] bogo777 commented on #447
It is, entry "email.admin". Should I change it in default config?

[2013-09-11 08:04] tomas-knap opened #451 "SPARQL Loader - dialog details - chunk text box"
![screen shot 2013-09-11 at 10 00 43 am](https://f.cloud.github.com/assets/3014917/1121097/627e37da-1ab8-11e3-8af0-2b613dd1a185.png)

Correct the label to "..inserted at once"

Textfield should be smaller and at the end of the config dialog.
When inserting invalid chars - letters and then correcting, the exclamation mark is still there. Ask Maria if you need help with that.

Add a button next to t

[2013-09-11 08:07] tomas-knap commented on #421
Probably it would be nicer if we have our own dialog for that. But then, we should have such dialog for all big red error messages. I am putting this issue to 0.4

[2013-09-11 08:08] tomas-knap commented on #447
No, it's ok, I do not want to receive emails from all the users of the tool

[2013-09-11 08:08] #447 closed, assigned to bogo777

[2013-09-11 08:32] bogo777 commented on #446
Cannot reproduce it, has the confirm dialog showed properly? Or did it failed even before that?