[2013-12-22 11:35] tomesj commented on #964
Mám svůj typ proč tomu tak je - ověřím to a napíšu k tomu, co a jak :-)

[2013-12-22 11:53] tomas-knap commented on #886
Pockej, to je divne. Bych cekal vetsi zrychleni. Zkusim na to kouknout.

@bogo777  netusis proc je SELECT ?s ?p ?o WHERE {?s ?p  ?o } znatelne pomalejsi nez CONSTRUCT {?s ?p  ?o } WHERE {?s ?p  ?o }?

[2013-12-22 12:06] tomesj commented on #964
Tak hlásím rovnou 2 zjištění:

1) Dotazy obsahující klauzuli GRAPH obecně při browse fungují
- jen výše zmíněný dotaz je vražedný - vlastně vrací počet trojic *pocet grafu, což se nedá skoro upočítat - vyhodnocení trvá dost dlouho i přes normální virtuoso.

Stačí zkusit ale např. dotaz (a vše je OK) :
SELECT  DISTINCT ?g WHERE { GRAPH ?g {?x ?y ?z}}     [1]

2) Problém je, že pro [1] aktuálně počí

[2013-12-22 12:08] tomas-knap commented on #951
Jirko, nejake nalezy? Tohle je dulezite issue, prosim podivej se na nej co nejdrive

[2013-12-22 12:11] tomas-knap commented on #708
If SPARQL Virtuoso configuration file contains MaxQueryExecutionTime parameter and its value is greater than or equal to 1000 then the actual "anytime" timeout is the minimum of the requested value and the value in the configuration file.
-> So based on that (as I suspected), this timeout in URL cannot override virtuoso.ini settings. So it is useless.

Also such timeout may result in partial resul

[2013-12-22 12:45] tomas-knap commented on #825
It works, but it is strange that I can add the same email address more times. If I try to save the notification containing one email more times, show an eror "Email X is introduced more times, please correct".

[2013-12-22 13:00] tomas-knap opened #965 "If I click "copy" on pipeline detail, I cannot then save the new pipeline"

[2013-12-22 13:05] tomas-knap commented on #964
ad 1) Jirko, nelze rict, ze je vrazedny a zkusit jiny. Ten puvodni musi taky fungovat. Podle me kdyz se z dotazu SELECT ?s ?g WHERE { GRAPH ?g {?s ?p ?o }}  udela dotaz:
SELECT (count(_) AS ?selectSize) WHERE { GRAPH ?g {?s ?p ?o }}, tak to musi byt stejne rychle jako SELECT (count(_) AS ?selectSize) WHERE { ?s ?p ?o }. Over toto prosim zda je to opravdu stejne rychle a napis cos zjistil.

ad 2) T

[2013-12-22 13:05] tomas-knap commented on #886
Je potreba vyresit:

Problém je, že pro [1] aktuálně počítáme špatně velikost dle #886, neboť má to jen 1 select - nemá FROM, ale má to WHERE

uděláme z toho SELECT (count(*) AS ?selectSize) WHERE { GRAPH ?g {?x ?y ?z}}
tedy zanedbá se to DISTINCT, což se v původním případě nedělo.

[2013-12-22 13:06] kukharm commented on #825
I can't reproduce, or i don't understand the scenario.

I create event A and there put 2 emails: admin@example.com, admin2@example.com
Then i create B  with checked Use default notification settings.
Then i open A and there are 2 emails admin@example.com, admin2@example.com.

Other way
I create new event C and there put 1 emails: admin3@example.com
Then i create D with checked Use default notifica

[2013-12-22 13:11] tomesj commented on #964
add 1) Tady nešlo o výpočet size - ten je v pořádku, jen o to, že ten dotaz je "šílený" a trvá moc dlouho :-) Schválně ho zkus například v http://localhost:8890/sparql. O nic jiného zde nešlo:-) Tedy že výsledek se vrátí, ale za dost dlouhou dobu.

Na problém s velikostí dotazu jsem poukázal jen v případě 2)

[2013-12-22 13:14] tomas-knap commented on #886
Navrhuji rozsirit logiku takto:

Je-li v puvodnim SELECTu DISTINCT, tak se takovy dotaz neda optimalizovat a postupuje se jako v pripade, ze je tam vicero selectu.

[2013-12-22 13:16] kukharm commented on #825
I will add the control for the same e-mails.

[2013-12-22 13:16] tomesj commented on #886
Dobře, rovnou to tak naimplementuji :-)

[2013-12-22 13:16] tomas-knap commented on #964
JIrko,  s tim, ze ten dotaz trva dlouho moc neudelame.

[2013-12-22 13:17] tomas-knap commented on #964
Jak dlouho to u tebe trva?

[2013-12-22 13:19] tomas-knap opened #966 "Incorrect enabling of save buttons, pipeline canvas"
When I open pipeline detail, save. Open conflicts dialog, click cancel. As a result, buttons save are enabled which is incorrect

[2013-12-22 13:20] tomesj commented on #964
Já vím, že ne...Jde jen o to, že to není chyba - tedy že se něco vrací....

Čas není v tomto případě objektivní - každý máme ve virtuosu jiný počet grafů...Jen to trvá opravdu dlouho (v řádu minut)

[2013-12-22 13:23] tomas-knap commented on #964
ok,  future work - check if improvement can be done

[2013-12-22 13:28] tomas-knap opened #967 "SPARQL Extractor - problems with settings error handler + extract only triples without error"
Please test pipeline Copy of Extractor test on
http://odcs.xrg.cz:8080/odcleanstore-test/#!ExecutionList/exec=106&page=1&owner.username=admin

As you can see, the settings of the extractor involve - use error handler, continue when errors are revealed:

![screen shot 2013-12-22 at 2 26 01 pm](https://f.cloud.github.com/assets/3014917/1797757/a083d608-6b0c-11e3-9278-bcb4baf9a7de.png)

 By the extra

[2013-12-22 13:28] tomas-knap commented on #886
pozor ze distinct muze byt velkym i malym pismem

[2013-12-22 13:29] tomas-knap commented on #886
teoreticky i jako DistincT

[2013-12-22 13:30] tomas-knap commented on #967
Further, the log says:
Expected an RDF value here, found '§' [line 4125]

But this is not useful. Please provide also the particular triple which cause the problem

[2013-12-22 13:43] tomas-knap opened #968 "Incorrect counting of database reconnects in case SPARQL Extractor was interrupted"
When extracting RDF data, stopping virtuoso during that time, the counting of reconnect is not correct (first attempt occurs twice):

![screen shot 2013-12-22 at 2 33 17 pm](https://f.cloud.github.com/assets/3014917/1797768/cbc5192a-6b0d-11e3-9d6f-d4bf3f7cb2fc.png)

See #919 for a possible reason

[2013-12-22 13:49] tomesj commented on #886
Tohle mám všeobecně podchycené :-)

[2013-12-22 13:52] tomas-knap commented on #886
Tak je to komplikovanejsi, viz napriklad dotaz:
SELECT (count(*) as ?x) WHERE {?s ?p ?o} LIMIT 1000

Tak prosim pro ted zakomentuj to tvoje vylepseni a nech tam tu puvodni variantu, tedy SELECT (count(*) as ?x) WHERE { SELECT {} }. Tedy necht se to vzdy chova jako by tam bylo vic SELECTU, tedy tak jak se to chovalo driv. Pardon ;)

[2013-12-22 14:01] tomas-knap opened #969 "Problem of SPARQL Extractor if DB is restarted"
I have a pipeline "Extractor test - problem when db restarted" (see http://odcs.xrg.cz:8080/odcleanstore-test/)

If i run the pipeline normally, it extracts correctly 10000 triples. Second time, I run the pipeline, killed virtuoso in the middle (when cca 5900 triples was extracted), and restarted virtuoso. The execution correctly continued, but at the end the log shows:

2013-12-22 14:37:05,271 [d

[2013-12-22 14:03] tomas-knap commented on #919
See #968, otherwise solved

[2013-12-22 14:03] #919 closed, assigned to tomesj

[2013-12-22 14:12] tomesj commented on #886
Dobře - vrátím to tedy zpět na původní variantu :-)

[2013-12-22 14:19] tomas-knap opened #970 "Problem with SPARQL loader when DB is restarted"
1. I execute pipeline "Extractor test - loader db restarted" (on http://odcs.xrg.cz:8080/odcleanstore-test/)
2. During loader, i killed virtuoso, then restarted. The log which appears shortly before and after restarting

![screen shot 2013-12-22 at 3 10 32 pm](https://f.cloud.github.com/assets/3014917/1797845/25fe38d6-6b13-11e3-9179-efb717b4188b.png)

Problem: Loader cannot reconnect after killing

[2013-12-22 14:25] tomas-knap commented on #798
This issue does not appear, closing. But there is a problem - #970

[2013-12-22 14:25] #798 closed, assigned to tomas-knap

[2013-12-22 14:33] janvojt commented on #968
If we want consistent counting and one single counter for all connections in the whole application, it should be enough to change counter of attempts to `AtomicInteger` and make it static.

[2013-12-22 14:42] tomas-knap opened #971 "When uploading new DPU template"
![screen shot 2013-12-22 at 3 40 36 pm](https://f.cloud.github.com/assets/3014917/1797888/38363248-6b17-11e3-8f97-b1bb5da2f06c.png)

2013-12-22 15:40:59,587 [http-bio-8080-exec-322] DEBUG c.c.mff.xrg.odcs.frontend.gui.views.PipelineEdit - Open pipelines checked.
2013-12-22 15:40:59,811 [http-bio-8080-exec-319] ERROR cz.cuni.mff.xrg.odcs.frontend.AppEntry - Uncaught exception
java.lang.NullPointerE

[2013-12-22 14:42] tomas-knap commented on #971
Solution: Check null pointer exception

[2013-12-22 14:45] tomesj commented on #951
Tak našel jsem tam skutečně chybu v datech
- konkrétně např. pro data part 151/7613 v SPARQL loader ares or
- neprojde např trojice
  http://linked.opendata.cz/resource/domain/ares/business-entity/CZ27749240/spolecnictvi-s-vkladem/1986-07-16/bedn%C3%A1%C5%99-lubo%C5%A1/splaceno http://purl.org/goodrelations/v1#hasCurrencyValue """100%"""^^http://www.w3.org/2001/XMLSchema#decimal .

Virtuoso hlásí

[2013-12-22 14:45] tomas-knap opened #972 "When creating new DPU template from canvas, field name is not properly initialized"
create dpu template for the first time.
create it again (name is prefilled from the previous creation, which is wrong)

Solution: Proper initialization

[2013-12-22 14:48] skodapetr commented on #968
iimho we should still have at least 2 .. one for SQL and one for RDF .. and then they should be for all connections to given "database"

Also the logs give messages as well as they use direct connection to the database.

[2013-12-22 15:08] tomas-knap opened #973 "Failed to create DataUnit for DPU 'XSLT'"
Failed to create DataUnit for DPU 'XSLT'

To reproduce:
- go to http://odcs.xrg.cz:8080/odcleanstore-test
- pipeline execution: 115 , ares test pipeline

Reason: &lt;http://linked.opendata.cz/ontology/odcs/DataUnit> in the query below

Stack trace:
cz.cuni.mff.xrg.odcs.rdf.exceptions.InvalidQueryException This query is probably not valid. : SPARQL execute failed:[SELECT ?pName ?pValue where {&lt;h

[2013-12-22 15:09] tomas-knap commented on #973
It is urgent, because otherwise ARES test pipeline cannot be debugged, thus I cannot test one of the most problematic pipelines

[2013-12-22 15:12] tomas-knap commented on #951
Diky,

tedy zkusim to sebehnout jeste jednou, s tim, ze zaskrtnu validaci dat pred nahranim.

Mel bych tam pak mit podobny vystup jako u RDF validatoru, tedy ze hlasis v DPU evente seznam vsech problematickych triplu a srozumitelne duvody? Chapu spravne?

[2013-12-22 15:26] tomas-knap opened #974 "Validation does not work properly for RDF data validator"
Validation for RDF data validator's output does not work properly:

![screen shot 2013-12-22 at 4 18 04 pm](https://f.cloud.github.com/assets/3014917/1797924/72d47838-6b1c-11e3-974c-8c2ad32ea3ca.png)

RDF data validator has two outputs:
- validated data, which is optional
- report - which is mandatory

Even if I define NO output edge from RDF data validator, validation says "OK, no problem". Which

[2013-12-22 15:30] tomesj commented on #951
Zkoušel jsem ještě druhou sérii - konkrétně data part 320/7613 v SPARQL loader ares or
- neprojde např. trojice http://linked.opendata.cz/resource/domain/ares/business-entity/CZ25736361/zakladni-kapital http://purl.org/goodrelations/v1#hasCurrencyValue """3.445.000,-Kč"""^^http://www.w3.org/2001/XMLSchema#decimal .

Je co se týká validace, je to tak jak říkáš, jen v aktuální verzi máme, že když js

[2013-12-22 15:49] tomesj commented on #886
Vrácené zpět na původní verzi pro výpočet v případě selectu. Tím bych to asi uzavřel :-)

[2013-12-22 16:09] tomesj commented on #973
Někde v implementaci nebo v nastavení XSLT používáte nebo voláte tento dotaz:

SELECT ?pName ?pValue where {http://linked.opendata.cz/ontology/odcs/DataUnit http://linked.opendata.cz/ontology/odcs/xsltParam ?x . ?x http://purl.org/dc/terms/title ?pName ; http://www.w3.org/1999/02/22-rdf-syntax-ns#value ?pValue .

V dotazu chybí uzavírací závorka na konci "}" - proto je navalidní a skončí vše chybo

[2013-12-22 16:19] tomesj commented on #973
Což dokládá i zdrojový kód XSLT

String query = "SELECT ?pName ?pValue where {<"+ subject +"> <" + config.getParamsPredicate() + "> ?x . ?x <" + config.getParamsPredicateName()+ "> ?pName ; <" + config.getParamsPredicateValue() + "> ?pValue . ";

řádek 105, třída SimpleXSLT :-)
Tedy jednoznačná chyba autora této implementace :)

[2013-12-22 17:07] tomesj commented on #967
Parser má problém konkrétně v této trojici  (vadí mu použití znaku §, což vede k fatal erroru, který okamžitě končí parsování) :
ns295:§    rdf:type    lex:Act .

Pro definované prefixy
prefix ns295:http://linked.opendata.cz/resource/legislation/cz/act/0/
prefix rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns#
prefix lex: http://purl.org/lex#

Hledám způsob, jak tento fatal error převést na klasic

[2013-12-22 17:50] tomas-knap commented on #973
Diky, mne zmatlo to "Data unit creation failed", necekal jsem ze za vytvareni DU je zodpovedny muj kod ;)

[2013-12-22 17:50] #973 closed, assigned to tomesj

[2013-12-22 17:54] tomas-knap opened #975 "Grouping of controls in pipeline detail"
![screen shot 2013-12-22 at 6 53 57 pm](https://f.cloud.github.com/assets/3014917/1798177/26a43a46-6b32-11e3-9d52-c21e430d57e0.png)

[2013-12-22 17:55] tomas-knap commented on #624
Does not appear now

[2013-12-22 17:55] #624 closed, assigned to janvojt

[2013-12-22 17:56] tomas-knap commented on #486
The exception does not occur. But there is still a problem with loader, see #970

[2013-12-22 17:56] #486 closed, assigned to tomesj

[2013-12-22 18:10] tomesj commented on #967
Tak jsem nakonec zjistil, že formát N3, který jsme původně používali pro stream z endpointu už není v nabíce formátu - změnil jsem jej tedy na NTriples a vše je nyní OK.

Bylo tam špatně nastavené též baseURI, ale to nezpůsobovalo ty problémy - i tak jsem to opravil na správné :-)

Zkoušel jsem a všech 5000 triplů se již extrahuje úspěšně :-)

[2013-12-22 18:50] tomesj commented on #969
Tak jsem si udělal stejnou pipelinu

Provedl jsem 5 testů a nechal shodit Virtuoso po 5900, 6000, 3500, 1200, 7200 triplech....Vždy mi to pak po nahození Virtuosa zpět doběhlo v pořádku a výsledný graf měl zmíněných 10 000 triplů (tedy všechny).

Co se týká hlásky Extracted triples tak jde o počet trojic v daném grafu (hlášku přidával Petr). Tedy pokud si pro extrakci nastavíš graf, který už nějak

[2013-12-22 20:03] tomas-knap commented on #967
Pockej, to je divne, tedy ns295:§ uz projde, kdyz to parsujes jako NTriples? Nebo cim si to vysvetlujes, ze to potom uz nehazi Fatal exception?

[2013-12-22 20:11] tomas-knap commented on #969
To je divne, v mem cilovem grafu (do ktereho se nahravala vyextrahovana data) bylo opravdu jen 4000 trojic. Zkus to prosim jeste jednou, smaz predtim ten graf do ktereho extraktor nahrava. Pak tu pipeline pust a zabij virtuoso v pulce a znovu pust. Zkontroluj potom ten vystupni graf z extraktoru.

[2013-12-22 20:12] tomas-knap commented on #969
Tedy samozrejme to nezkousej na pripade, kdy extrahujes do uz existujiciho grafu, ale do noveho. Pripad kdy extrahujes do uz existujiciho neres

[2013-12-22 20:13] tomas-knap commented on #969
Ostatne muze udelat i to, ze si pres browser prohlidnes ta data co lezou z extraktoru. Tenhle graf je pro kazdy beh jiny

[2013-12-22 20:15] tomesj commented on #967
Jo, je to přesně tak...Já jsem totiž ještě předtím udělal to, že jsem výsledek toho dotazu uložil jako data do souboru a zkusil parsovat ten soubor - tam to bylo vše OK :-) A pak jsem zjistil, že když tohle nastavení, tak je to už taky OK .

[2013-12-22 20:20] tomesj commented on #969
Tak zkoušel jsem to ještě 2x vždy do nového grafu - zkoušel jsem přerušení v půlce, při druhém běhu přibližně po 3000 trojicích a pak ještě po 7000 trojicích (2 výpadky během běhu) a obě jsou OK a obsahují všechny trojice - o čemž jsem se přesvědčil i při browsu :-)

[2013-12-22 20:38] tomesj commented on #970
V tomto případě se vyskytoval problém s connection při výpadku v části GraphQueryResult getTriplesPart()
- když došlo k výpadku DB, bralo se stále stejné spojení (vlivem JDBC 4 je totiž stále otevřené). Díky tomu se to točilo v nekonečné smyčce
- ošetřeno metodou restartConnection() - v případě výpadků se zavře to staré spojení a získá se nové
- vše pak funguje správně
- navíc přidáno možnost dalš

[2013-12-22 20:40] tomesj commented on #970
Jinak též vyzkoušeno též ostrým testem přímo v prostředí
- přerušení přímo během loadování  (celkem 3x).
- chová se korektně po nahození a na konci obsahuje všechna nahrávaná data :-)

[2013-12-22 20:42] tomas-knap commented on #967
Nechapu. ns295:§ rdf:type lex:Act Tahle trojice by nemela projit v zadnem pripade. Rozdil je tedy ten, ze v pripade N-triples tu chybu odchyti error handler, ale v pripade N-triples fatal error handler? Potrebuju nejake logicke vysvetleni proc ta tvoje uprava pomohla. At vime, ze to nepomohlo jen v tomhle jednom konkretnim pripade, napr.

Zkus si vratit to baseURI jak bylo a zkusit N-Triples misto

[2013-12-22 20:43] tomas-knap commented on #967
Jirko, jeste nechapu "sem výsledek toho dotazu uložil jako data do souboru". Kde se tam vytvari ten soubor u SPARQL extraktoru?

[2013-12-22 20:44] tomas-knap commented on #969
a jakou pouzivas verzi Virtuosa a nasich zdrojaku? ktery commit?

[2013-12-22 20:46] tomesj commented on #967
U SPARQL extractoru se konkrétně nevytváří žádný soubor. Já chtěl konkrétně zkusit, zda je chyba v datech a nebo někde jinde - tak jsem ty data nahrál do souboru a zkusil File Extractor - tam extrakce dopadla OK...Tak jsem zkoumal proč, když oboje je stejný stream a používá se stejný parser....

[2013-12-22 20:47] tomas-knap commented on #951
Check encoding in URL

[2013-12-22 20:50] tomesj commented on #969
Virtuoso verze: 6.1.7
Ze zdrojáků nejnovější verze: tedy commit cbe53bed2e2dd73b2d516a61a03df69e9a134a3

[2013-12-22 20:51] tomas-knap commented on #967
Ok, ale porad jeste nechapu, viz jak jsem psal:

Rozdil je tedy ten, ze v pripade N-triples tu chybu odchyti error handler, ale v pripade N-triples fatal error handler? Potrebuju nejake logicke vysvetleni proc ta tvoje uprava pomohla. At vime, ze to nepomohlo jen v tomhle jednom konkretnim pripade, napr. Vzdy musi existovat logicke zduvodneni, jinak se stava software nerizenou strelou. Pristup, ze

[2013-12-22 20:51] tomesj commented on #951
Kódování všude používáme UTF-8 :-)

[2013-12-22 20:53] tomas-knap commented on #970
Dobra, diky, zkusim

[2013-12-22 20:54] tomesj commented on #967
Není to tak, v prvním případě šlo o fatal error, ale ve druhém případě už k žádnému erroru vůbec nedošlo....Původně jsem myslel, že fatal error zmírním pouze na error, ale v případě použití N-Triples místo N3 už pro parsování nebyl error vůbec žádný :-)

[2013-12-22 21:04] tomas-knap commented on #967
Tak to je dobre, ale co pomohlo? Zkus prosim vratit to baseURI na moment tak jak bylo a zkus jak se to bude chovat. Bo to baseURI by mohlo byt duvodem. Jinak nechapu proc ns295:§ je fatal error v N3 a ok v N-Triples

[2013-12-22 21:16] tomesj commented on #967
Tak jsem ti přidal test přímo do SPARQL extractoru - SPARQLExtractorVirtuosoTest test, na kterém si to sám můžeš zkusit. Je tam nastavený formát na N-Triples a test projde...Když formát změníš na N3 (jak bylo dříve) dostaneš původní chybu :-) Schválně si to zkus :-)

[2013-12-22 21:18] tomas-knap commented on #967
to ja ti verim, ale zajima me ten duvod. Tedy proc v N-triples je to ok, ale N3 ne.

[2013-12-22 21:20] tomas-knap commented on #967
Btw. je potreba ten test upravit, aby pouzival lokalni virtuoso, nemuze sahat do cizi db. Muze se kdykolv stat, ze tam nebude

[2013-12-22 21:20] tomesj commented on #967
Tak to opravdu nevím - zkoušel jsem i vrátit tu hodnotu baseURI, jak jsi psal, ale to výsledek vůbec neovlivňuje :-) Prostě mám pocit, že je potřeba používat jen formáty endpointu - tedy spolehlivé jsou RDF/XML a N-Triples.

[2013-12-22 21:20] tomas-knap commented on #967
Dnes uz to nech, ale zitra popremyslej nad tim duvodem, at to muzem zavrit

[2013-12-22 21:22] tomesj commented on #967
Ten test je z kategorie integračních, takže se normálně nepustí :-) Takových testů tam máme víc :-) No zkusím popřemýšlet, ale do parseru nevidím, tak nevím....Logicky to moc smysl nedává :-)

[2013-12-22 21:24] tomas-knap commented on #967
Mno, s tim endpointem to nesouvisi, pokud by ten endpoint nepodporoval N3, tak by ti nevratil zadne trojice a rovnou chybu, ne? Tedy ten endpoint N3 podporuje.

[2013-12-22 21:25] tomas-knap commented on #967
Proste tomu N3 formatu z nejakeho duvodu vadi ns295:§

[2013-12-22 21:25] tomas-knap commented on #967
Tzn. chtelo by to kouknou do specifikace formatu N3 a N-Triples - proc jednomu vadi ns295:§ a druhemu ne.

[2013-12-22 21:26] tomesj commented on #967
No na tom něco bude :-)

[2013-12-22 21:27] tomas-knap commented on #967
Co je vlastne za tim namespacem ns295?

[2013-12-22 21:29] tomesj commented on #967
To už jsem psal hned u toho - jde o
prefix ns295:http://linked.opendata.cz/resource/legislation/cz/act/0/

[2013-12-22 21:29] tomas-knap commented on #967
Mozna tusim. V N-triples se vubec prefixy nepouzivaji, ne? Tedy v N-triples nebude nikdy zapis ns295:x. Na druhou stranu v N3 se prefixy pouzivaji. Mno, a kdyz se to prefixuje, tak se mu nelibi ten paragraf

[2013-12-22 21:29] tomas-knap commented on #967
ale stale jeste nevime proc se mu nelibi ten paragraf

[2013-12-22 21:32] tomas-knap commented on #967
http://www.w3.org/TeamSubmission/turtle/#qname

[2013-12-22 21:33] tomas-knap commented on #967
http://www.w3.org/TeamSubmission/turtle/#nameStartChar

[2013-12-22 21:33] tomas-knap commented on #967
Paragraf mezi povolenymi starting chars nebude, proto ta chyba. Zvlastni, ze je rovnou fatalni

[2013-12-22 21:34] tomas-knap commented on #967
Tedy zkus Jirko jeste zjistit, jestli se da ten parser nastavit tak, aby nevyhazoval fatalni chyby, ale jen chyby. Protoze protentokrat se to vyresilo, ale v jinych pripadech ti N-triples nepomuzou

[2013-12-22 21:35] tomesj commented on #967
Je to tak, bohužel...Ale je to zajímavé zjištění celkem :-)

[2013-12-22 21:35] tomas-knap commented on #967
musis obecne pocitat s falal errors

[2013-12-22 21:36] tomas-knap commented on #967
Co to vyhodi za exception v pripade fatal? Ta se taky da odchytit normalne, ne?

[2013-12-22 21:42] tomesj commented on #967
Jedna možnost tam je - jde nastavit množina atributů, pro které se fatální chyby mají brát jen jako chyby (my např. používáme VERIFY_DATA_VALUES)

Já už ale projel všechny možnosti, co jsou k dispozici (nastavil) už v prvním případě, ale nepomohlo to (není to dělané úplně na vše)

Jinak když nastane fatální chyba - vyhodí to RDFParseException.

[2013-12-23 06:29] skodapetr commented on #973
Jen pro moje info .. kde já myslel, že tam máme validaci těch RDF dotazů?
Chápu z tohoto správně, že tedy zde není použita?

[2013-12-23 09:06] bogo777 commented on #965
Copy pipeline function from PipelineFacade (originaly used in PipelineList) already saves the pipeline during copy creation. So the copied pipeline is already saved and save buttons are disabled, since there are no changes since load of the copied pipeline. Is it ok? Or do we need to create copied pipeline without saving it to db?

[2013-12-23 09:11] bogo777 commented on #936
I would like to inspect the database on odcs. I found credentials in some old mail, but it doesn't work anymore. Can you mail me actual credentials?

[2013-12-23 09:15] tomas-knap commented on #936
rel db http://odcs.xrg.cz:8899/conductor, dba/dba01OD

On Mon, Dec 23, 2013 at 10:11 AM, bogo777 notifications@github.com wrote:

[2013-12-23 09:24] bogo777 commented on #936
Thanks, it looks like corrupted data.
![odcs_corrupteddata](https://f.cloud.github.com/assets/1550848/1799961/cce38ac0-6bb3-11e3-9d12-93a221ac2009.png)

These are nodes and edges(but there should be only one edge!) of Copy of Dbpedia extractor pipeline. There is the extra edge from non-existent node, which causes NPE. But how it got there?

[2013-12-23 09:28] bogo777 commented on #936
I will try testing pipeline creation and repeateadly add/remove DPUs, see if there is any problem with that.

[2013-12-23 09:34] #966 closed, assigned to bogo777

[2013-12-23 09:36] tomas-knap commented on #967
Jirko, co bys mohl, je predefinovat chovani metod reportFatalError na RDFParseru, viz http://openrdf.callimachus.net/sesame/2.7/apidocs/index.html

Tedy ze by se tvuj parser choval jako ten jejich, jen by predefinovaval fatalError.

Nicmene to neni pekne reseni. Hezci reseni by bylo pohrat si s nastavenim toho jejich openRDF parseru, tedy pouzit  ParserConfing http://openrdf.callimachus.net/sesame

[2013-12-23 09:43] tomas-knap commented on #965
No, that is fine, it is just a bit confusing that it open a new pipeline record for me and it is automatically saved, which does not happen if I create new pipeline.

Maybe we can change the name of the button:
copy -> copy & open

When clicking on such button, before copying and opening, we should inform user that the pipeline will be saved before it is copied. Obviously it may be saved only if t

[2013-12-23 09:46] tomas-knap commented on #936
Maybe the cascade delete - when deleting DPU, edges should be deleted as well - does not work properly

[2013-12-23 10:06] #972 closed, assigned to bogo777

[2013-12-23 10:39] #974 closed, assigned to bogo777

[2013-12-23 10:41] tomesj commented on #967
No ten ParserConfig my už ale dávno používáme, s tím že tam nastavujeme ty non-fatal exception (je to ten případ jak jsem psal - používáme VERIFY_DATA_VALUES, ale já pro tento případ zkoušel nastavit i ostatní a i tak došlo k fatal erroru, tedy to nepomohlo :-)

[2013-12-23 10:47] tomesj commented on #967
Navíc když bych zachytil výjimku RDFParseException v případě fatal erroru, tak pro pokračování parsování se musí metodě parse předat zase inputStream
- a ten nevím, jak by se "nerozdělil", aby to pokračovalo tam, kde skončil ten předchozí.
- tedy si asi vůbec nepomůžeme

[2013-12-23 10:58] bogo777 commented on #965
I think that there are 2 main motivations for copy button in pipeline edit:
1) Another user saved the same pipeline while I was editing it and I don't want to lose my changes but also don' t want to overwrite his. So I save my modifications as copy of the original pipeline.
2) I have only RO access to pipeline, so I must create my private copy before I can edit it.

For both these use cases, it is

[2013-12-23 11:20] tomas-knap commented on #965
Yes, understand the motivation. But it is also useful in situations when I open existing pipeline, do some changes and than I would like to store them to a new copy, rather then modifying the existing.

Suggestion:
-instead of "copy & close" button, we may have button with title "save a copy". Which only saves the copy, pipeline detail still shows the original pipeline. User may close by clicking

[2013-12-23 11:27] tomas-knap commented on #967
Jo tak. Jasne. tedy kdyz to shrnu, problem je, ze kdyz to vyhodi fatal error a uzivatel ma nastaveno: extract only triples with no errors, tak mu to skonci po prvni (fatal) chybe.

 Muzem udelat to, ze kdyz ma uzivatel nastaveno "extract triples with no errors", tak v pripade fatal error  publikujeme DPU event ve stylu "Fatal error discovered, only triples occured before the fatal error occurrence

[2013-12-23 11:48] tomesj commented on #967
Je to přesně tak, jak píšeš :-)

Můžeme ale zjistit pouze číslo řádku a popis problému - konkrétní trojici, ve které jsou problémy by bylo možné zjistit až v dalším kroku - ve chvilce, kdy se používá handler (ale k díky tomu, že to vyhodí RDFParseException, tak se k tomu už nedostaneme). Tedy budeme se muset spokojit aspoň s tím, co víme :-)

[2013-12-23 11:59] tomas-knap commented on #967
To nemusi byt pravda, muzes napsat vlastni handler tech fatalErrors, ne? A
ten muzes nasetovat tomu parseru. Viz
http://openrdf.callimachus.net/sesame/2.7/apidocs/index.html

2013/12/23 Jiří Tomeš notifications@github.com

[2013-12-23 19:22] tomesj commented on #967
No ale my přece používáme vlastní handler a ten nastavujeme :-) Ale je to tak, jak jsem psal...Nepíšu to tady jen tak do větru :-)

[2013-12-25 09:16] tomas-knap commented on #967
Mno, tak kdyz mame vlastni handler tak uz se neda dostat k informaci o trojici?

[2013-12-25 12:35] tomas-knap commented on #958
Maria, why is this issue NOT done? If something is unclear, discuss here.

[2013-12-25 12:44] tomas-knap opened #976 "Performance issue - Ares TEST pipeline - did not finish (XSLT)"
Ares test pipeline was started at 7pm (odcleanstore-test) on ODCS, using virtuoso for intermediate stores. There is last log about the pipeline exec from 9:20pm:

2013-12-22 21:21:11,095 [dpu: XSLT] DEBUG exec:116 dpu:121 c.c.m.x.o.c.m.u.DataUnitUtils - File path /data/odcs-test/backend/working/116/working/dpu_121/tmp/out/36422.rdf
2013-12-22 21:21:11,096 [dpu: XSLT] DEBUG exec:116 dpu:121 org.xml

[2013-12-25 13:08] tomas-knap opened #977 "Non unique primary key on DB.ODCS.PPL_OPEN_EVENT"
When opening a pipeline, I got: Non unique primary key on DB.ODCS.PPL_OPEN_EVENT

[code]

[2013-12-25 13:11] tomas-knap opened #978 "RDF data validator cannot connect to db - using local RDF store"
When running pipeline ARES test on ODCS (http://odcs.xrg.cz:8080/odcleanstore/), localRDF store, I got:

2013-12-25 13:27:29,222 [dpu: RDF Data Validator] WARN  exec:23228 dpu:504 c.c.m.x.o.backend.facade.DatabaseReconnectAspect - Database is down after 26802 attempts.
2013-12-25 13:27:33,006 [dpu: RDF Data Validator] WARN  exec:23228 dpu:504 c.c.m.x.o.backend.facade.DatabaseReconnectAspect - Data

[2013-12-25 13:12] tomas-knap commented on #978
See pipeline exec 23228 there

[2013-12-25 14:02] janvojt commented on #977
I also encountered this issue. It was happening very seldom and randomly. I cannot reproduce it on demand. Anyway, this will be solved by #635.

[2013-12-25 14:06] janvojt commented on #977
If I do not solve #635 soon, I could just wrap creating OpenEvents in try-catch block and ignore errors. Sequence would be incremented even in case of error, and the next call after 5 second interval should work.

[2013-12-25 14:10] tomas-knap opened #979 "No named graph specified (at least according to logs) - while executing ares test"
Please look at ODCS-test (http://odcs.xrg.cz:8080/odcleanstore-test/).

Open exec monitor, check execution 116. When looking into logs, trying to get the named graphs used, I got strange logs:

![screen shot 2013-12-25 at 3 07 32 pm](https://f.cloud.github.com/assets/3014917/1808682/0e4f1694-6d6e-11e3-891e-c29979b8b905.png)
1. Why is the TO named graph name not filled?
2. WHy is the from named gra

[2013-12-25 14:37] tomas-knap opened #980 "Pipeline remains in cancelling state"
I managed to cancel pipeline exec shortly before the normal run was finished and the result is:

![screen shot 2013-12-25 at 3 35 57 pm](https://f.cloud.github.com/assets/3014917/1808726/f92f3be6-6d71-11e3-907b-a9786cdaa6fa.png)

As a result, pipeline remains in cancelling state

[2013-12-25 14:39] skodapetr commented on #980
Well this can "happen" we need to update the PipelineFacade.stop method to fix this .. in the transaction we have to load the instance .. check for it's state .. and if running then change to "cancelling" otherwise we should do nothing.

[2013-12-25 14:45] tomas-knap opened #981 "When opening exec monitor detail, SHORT cannot be cast to VECTOR"
2013-12-25 15:44:29,906 [http-bio-8080-exec-328] DEBUG org.eclipse.persistence.logging.sql - 2013-12-25 15:44:29.905--ServerSession(1857768095)--Connection(374641186)--Thread(Thread[http-bio-8080-exec-328,5,main])--SELECT TOP 301,19 id AS a1, DPU AS a2, EXECUTION AS a3, logLevel AS a4, message AS a5, logger AS a6, stack_trace AS a7, timestmp AS a8 FROM logging WHERE (EXECUTION = ?)
    bind => [12

[2013-12-25 15:01] tomas-knap commented on #981
on odcs test - http://odcs.xrg.cz:8080/odcleanstore-test/

[2013-12-25 15:19] skodapetr commented on #981
It looks like the problem is with long "line" in database .. again the problem with the "national characters" just this time outside the configuration. Also it seems to me as the problem is only for "larger" data.

[2013-12-25 15:20] tomas-knap opened #982 "Try mysql as a relational database instead of virtuoso 6/7"
We have couple of problems when working with Virtuoso:
- problem with sequences
- problem with strange serialization of national characters to configuration of DPU instances, logs, above certain length
- ...

Please test mysql as relational database. If it behaves well, I would suggest to add one param to config.properties, which allows user to specify whether he would like to use mysql or virtuos

[2013-12-25 16:47] tomesj commented on #967
K té informaci se lze dostat jen v případě warningu/normálního erroru. Je potřeba, aby se při chybě předalo řízení parseru tomu handleru, ale když parser nalezne fatal error, do handleru se to už nedostane a rovnou to skončí RDFParseException. A to je ten důvod proč nemůžeme zjistit tu trojici - to se zjišťuje až v handleru a tam už se to bohužel nedostane....

[2013-12-25 17:10] tomesj commented on #978
Když jsem si najel zmíněnou pipelinu a nahlédl do posledního logu, zjistil jsem, že validace celá doběhla v pořádku s výsledkem
TOTAL VALIDATED:7451361 triples (viz screen)

Proč pipeline nepokračuje dále a konec události validace se neukazuje,to netuším. Možná se mezitím vykonává něco jiného.

![image](https://f.cloud.github.com/assets/3481055/1808877/0e7d2868-6d87-11e3-9b6b-1246efa62c4b.png)

Ji

[2013-12-25 17:25] tomesj commented on #979
Tak o tomhle bohužel nic nevím
- koukal jsem i do kódu a tam se to loguje všechno správně (konkrétně třída VirtuosoRDFRepo, řádek 170).
  To je vidět i v tom sloupečku, kde se jména grafů normálně objevují správně :-)

Jak se dělá detail zprávy, bohužel já nevím :-)

To by měl vědět @skodape nebo @bogo777 .
Ty ti také patrně dokážou vyřešit, tak jim k tomu nechám prostor na vyjádření a opravu :-)

[2013-12-25 17:47] skodapetr commented on #979
Try the file log from backend (this eliminate possible problem in SQLAppender) if the same message is in the file then we got empty strings on your 170 line .. if not ,,then we can try to find out what happen.

[2013-12-25 17:49] skodapetr commented on #978
And is the used virtuoso alive? Based on the log the class DatabaseReconnectAspect take care about SQL problems, unfortunately .. it somehow can hide problems with database other than connections problems.

[2013-12-25 18:00] skodapetr commented on #980
I done the adjustments based on my previous comments .. this can be hard to replicate and so to test, but let's hope that the problem is history ...

[2013-12-25 18:49] #980 closed, assigned to skodapetr

[2013-12-25 18:51] tomas-knap commented on #967
To je divne, proc by tedy to rozhrani (errorListener) umoznovalo definovat si fatal error handler? To by pak nedavalo smysl, bo se to tam nikde nedostane. Koukni prosim jeste do openrdf doc, musi jit nejak zajistit, aby se ta chyba dala odchytit

[2013-12-25 18:51] tomas-knap commented on #967
Kdyztak prosim napis na podproru, tam uz jsi psal, vid?

[2013-12-25 18:56] tomas-knap commented on #982
It seems that we have solved the problem with national chars in long Strings. But anyway, it would be useful to know if mysql can be easily used.

I would suggest you will test mysql and if there are no problems, mysql is working smoothy, you will add support for it. If you find some problems during that one day testing and it seems that it will take 3+ days to adjust our code to work with mysql,

[2013-12-25 20:39] janvojt commented on #982
I do not see this as a high priority issue. You already need Virtuoso to run ODCS for RDF, so what would be the motivation of running it on MySQL? I definitely do not see this urgent enough to spend half a day setting up the environment to work on this at home during Christmas (I am not in Prague). So if we want to do this, definitely not earlier than January...

Anyway, it should not be complicat

[2013-12-26 08:41] tomas-knap commented on #982
Ok, I will plan it for January. national chars were solved by NVARCHARs, so it is not high prio issue now.

[2013-12-26 10:18] tomas-knap commented on #979
When logging there is a code:

logger.info("START merging " + second
                            .getTripleCount()
                            + " triples from <" + sourceGraphName + "> "
                            + "TO <" + targetGraphName + ">.");

SO it is strange, that there is "from TO" in the log browser, but no "<", ">".

[2013-12-26 10:22] tomas-knap commented on #978
Koukam ted jeste do logu a objevuje se tam:

2013-12-26 11:20:52,507 [dpu: RDF Data Validator] WARN  exec:23228 dpu:504 org.eclipse.persistence.logging.Slf4jSessionLogger - Unknown category 'null', the default is used.
2013-12-26 11:20:52,507 [dpu: RDF Data Validator] WARN  exec:23228 dpu:504 org.eclipse.persistence.logging.Slf4jSessionLogger - Unknown category 'null', the default is used.
2013-12

[2013-12-26 11:06] skodapetr commented on #979
btw. the better approach to logs is imho:
logger.info("START merging {} triples from < {}">  TO < {} >.,  second.getTripleCount(), sourceGraphName, targetGraphName );

this does not prevent the sourceGraphName and targetGraphName  to be empty strings. Where does those values comes from?

[2013-12-26 19:18] tomas-knap commented on #979
Yes, the approach mentioned by @skodape should be used everywhere, because it is more effective - the placeholders are replaced with particular values, no concatenation of Strings, which is not effective.

Jirka, please check that by inspecting the code, adding some tests. Just in case.

[2013-12-26 21:18] tomas-knap opened #983 "RDF data validator - doc + localRDF repo?"
It seems that RDF data validator is always using local RDF repo. Why? Please add comment to RDFDataValidator DPU main class (contains execute method), which describes how the rdf data validator works (the main idea). It should explain why local RDF repo is used.

private RDFDataUnit getGoalRepository() {
        if (hasOutput()) {
            return output;
        } else {
            RDFDataUnit

[2013-12-26 21:24] tomas-knap commented on #979
As I was checking the logs again, the names of the graphs are there. Strange, will reopen if reappers

[2013-12-26 21:24] #979 closed, assigned to tomesj

[2013-12-26 22:08] tomesj commented on #983
Do you mean class RepositoryDataValidator, not RDFDataValidator !!!

To your questions:
1) I will add description to RepositoryDataValidator with describing how it works
2) To localRepo:
- there are two contructors (you set input + output RDFDataUnit [A], you set nur input RDFDataUnit [B])

[A] is used in RDFValidator DPU
[B] is used ex. as validation data before loading to SPARQL endpoint.

Becau

[2013-12-27 09:41] tomas-knap commented on #983
Ok, thanks for clarification!

[2013-12-27 09:41] #983 closed, assigned to tomesj

[2013-12-27 09:43] tomas-knap commented on #291
We have basic statistics - last run time, last execution time, last status, next is fw

[2013-12-27 09:45] tomas-knap commented on #334
for January

[2013-12-27 09:46] #762 closed, assigned to skodapetr

[2013-12-27 09:49] tomas-knap commented on #977
Also happened when pressing "copy" to get a copy of public RO pipeline. It happens when the copied pipeline was open. Yes, please add the checking and throwing away the errors, but please log the errors to frontend.log and add TODO to the code saying that it will be done by solving #635

[2013-12-27 09:50] #945 closed, assigned to bogo777

[2013-12-27 09:52] tomas-knap commented on #858
You can put any such constant there

[2013-12-27 09:52] #858 closed, assigned to tomas-knap

[2013-12-27 09:53] tomas-knap commented on #913
Please test

[2013-12-27 09:55] #913 closed, assigned to tomas-knap

[2013-12-27 10:00] tomas-knap opened #984 "Browse/Query - adjusting query, cannot run the query"
To reproduce:

-Run dbpedia pipeline, go to browse/query, click browse.
-Then adjust query e.g. to
CONSTRUCT {?s ?p ?o} WHERE {?s http://xyz ?o}
-Click query. As a result no data is displayed.
-Adjust the query to the previous value and click query.
-Query button does nothing

[2013-12-27 10:00] #904 closed, assigned to kukharm

[2013-12-27 10:01] tomas-knap commented on #965
Bohuslav, please discuss

[2013-12-27 10:02] #879 closed, assigned to skodapetr

[2013-12-27 10:03] tomas-knap commented on #957
Maria, please test again

[2013-12-27 10:03] tomas-knap commented on #957
And write your findings here

[2013-12-27 10:05] tomas-knap commented on #981
Should be solved by NVARCHAR

[2013-12-27 10:07] tomas-knap commented on #938
Also cannot reproduce

[2013-12-27 10:07] #938 closed, assigned to bogo777

[2013-12-27 10:09] tomas-knap commented on #790
What is missing:
- Caching DPUs as images is little tricky, so I am postponing that.
- Newer version unexpectedly slowed down canvas, so I didn't push it yet. Will try to figure out why.
- IE drag problem solved in newer version of Vaadin?

[2013-12-27 10:09] tomas-knap commented on #936
Any findings?

[2013-12-27 10:20] tomas-knap commented on #579
Should be solved by NVARCHAR fields

[2013-12-27 10:27] tomas-knap commented on #61
It would be nicer to have the dpu layoting controls (the arrows + horizont/vertical distribut) next to zoomin controls. When at least two DPUs are selected (by using left click + CTRL), the layouting controls become available. When less then two DPUs are selected, the layouting controls are again greyed.

[2013-12-27 10:27] #432 closed, assigned to tomas-knap

[2013-12-27 10:27] tomas-knap commented on #432
Does not happen since that time

[2013-12-27 10:59] tomas-knap opened #985 "ARES TEST - NullPointerException when iterating over inputs to XSLT"
Pipeline failed on DPU 'XSLT OR' because of the exception

Stack trace:
java.lang.NullPointerException null at virtuoso.sesame2.driver.VirtuosoRepositoryConnection$CloseableIterationBase.moveForward(Unknown Source) at virtuoso.sesame2.driver.VirtuosoRepositoryConnection$CloseableIterationBase.hasNext(Unknown Source) at info.aduna.iteration.IterationWrapper.hasNext(IterationWrapper.java:68) at cz.c

[2013-12-27 11:29] tomas-knap commented on #985
ODCS test

[2013-12-27 12:56] tomas-knap commented on #985
@tomesj Jirka, as I was iterating over results provided by: rdfInput.executeSelectQueryAsTuples(query), I got a null pointer exception after approx 10hours or iterating over the results. Can you please check whether there is any timout after which openRDF automatically releases the resources? Settings in Virtuoso itself should be fine.

[2013-12-27 13:11] tomas-knap opened #986 "Initialize position of the canvas"
To reproduce: Open longer pipeline, e.g. ARES test on ODCS. Roll to right. close the pipeline. When opening any different pipeline, the view is shifted.

Solution: When opening a pipeline, always initialize the view to the base position, not to the last position

[2013-12-27 13:15] tomesj commented on #985
Your problem is the same as here:

https://taskman.eionet.europa.eu/issues/2940

It goes about SESAME bug on Linux :-)

[2013-12-27 13:18] tomesj commented on #985
Virtuoso forum with same problem:
http://boards.openlinksw.com/phpBB3/viewtopic.php?f=12&t=420

[2013-12-27 17:37] tomas-knap opened #987 "ARES TEST - problem with SPARQL loader - connection refused"
I was again running ares test (see ODCS, execution 23268), there was a problem with SPARQL loader.

![screen shot 2013-12-27 at 6 20 53 pm](https://f.cloud.github.com/assets/3014917/1815562/65bf26a2-6f1d-11e3-8aea-58a519406f96.png)

In particluar, there are two errors in the log:

![screen shot 2013-12-27 at 6 22 02 pm](https://f.cloud.github.com/assets/3014917/1815563/6d5b827a-6f1d-11e3-8ff7-44d7

[2013-12-27 17:44] tomas-knap commented on #976
Not confirmed

[2013-12-27 19:02] tomesj commented on #987
The reason of this exception is:

Count of attempt is more than set RETRY_CONNECTION_SIZE - you have to set this param to value 10 (not to infinity) - after 10 attempts to reconnect it´s thrown this exception. See screeen.

![image](https://f.cloud.github.com/assets/3481055/1815888/f3462240-6f28-11e3-9ffd-ff6a7a8e1a9e.png)

[2013-12-27 19:25] tomas-knap commented on #987
Ok, pak se omlouvam, nicmene kdyby tam byla hlaska kterou jsi tam ted dodal, tak by to bylo jasne. Tys ted upravil  to nastaveni SPARQL loaderu? Koukam, ze ted tam mam vsude -1

[2013-12-27 19:27] tomesj commented on #987
Jo, nastavení už jsem změnil na -1 :-) Tu hlášku jsem právě upravil, aby to nebylo zavádějící a rovnou to celé nechat pustit znovu :-)

Jinak to vyzkouším ještě nezávisle na tom u Honzy - už jsem mu psal, protože bohužel nemůžu nechat svůj hlučný počítač běžet takovou dobu.....

[2013-12-27 19:33] tomesj opened #988 "Problem when creating pipeline on ODCS"
I tried create new pipeline on http://odcs.xrg.cz:8080/odcleanstore
and I got this:

![image](https://f.cloud.github.com/assets/3481055/1816029/9f7743b0-6f2d-11e3-8c4b-61ee6864e632.png)

[2013-12-27 19:48] skodapetr commented on #988
I can try to look on this but more info (like stack trace) would be nice ... from the exception not much can be seen imho. Also the name is missing, you tried to save empty pipeline? or .. how does this happen?

[2013-12-27 19:50] tomesj opened #989 "New setting of DPU template- Template configuration works wrong"
Is not possible to change default configuration setting for DPU defined in DPU tempate/template configuration.

If you change some value -> click on save button - the previous (not new value) is still used.

Configuration is always same (is not possible to change it) - you can create new pipeline with this DPU (which config tried to change) and check it.

[2013-12-27 19:53] tomesj commented on #988
I click on button "create new pipeline", nothing else and I got this.

Try it on http://odcs.xrg.cz:8080/odcleanstore. You probably get the same result.

[2013-12-27 20:02] tomas-knap commented on #989
For which DPU?

[2013-12-27 20:06] tomesj commented on #989
For all DPUs - problem is global.

[2013-12-27 20:10] tomesj commented on #987
Jinak ještě poznámka - loader, který se používá pro AREST test pipeline,
tedy
http://internal.opendata.cz:8891/sparql-auth

Není dostupný. Nevím, zda je to účel, každopádně se nedivím, že nemůže pipeline ani doběhnout, když tento endpoint není ani dostupný - to bohužel nevyřeší ani infinity parametr.

[2013-12-27 21:17] kukharm commented on #971
I think it was corrected by Bohuslav in #972. UploadInfoWindow.java:130 now contains condition
if(progressBar.getUI() != null)
and i can't reproduce this exception. Please test

[2013-12-27 22:02] kukharm commented on #957
I tested it one more time with tolerance 3 minutes and i switched on backend in a 10 min - execution was not run.
Also i tried tolerance 10 min and  switched on backend in a 5 min -  execution was run.
Everything is ok

[2013-12-27 22:02] #957 closed, assigned to kukharm

[2013-12-27 23:48] #939 closed, assigned to kukharm

[2013-12-28 00:42] kukharm commented on #787
I created 3 copies of DBpedia pipeline DBpedia #1, DBpedia #2, DBpedia #3. And created 3 scheduling rules for them (as automatically run). Then i created after pipeline rule for DBpedia pipeline and set it to run after pipelines:  DBpedia #1, DBpedia #2, DBpedia #3. The result:
After pipeline (DBpedia ) was executed after DBpedia #1 pipeline was executed.
![sch](https://f.cloud.github.com/assets/3

[2013-12-28 02:35] janvojt commented on #579
Converting column types to NVARCHAR will not help, because serialized configuration is stored in VARBINARY column.

[2013-12-28 10:18] tomas-knap commented on #579
But it can be stored in LONG NVARCHAR, right?
@skodape  pls discuss

[2013-12-28 10:19] #971 closed, assigned to kukharm

[2013-12-28 10:34] tomas-knap commented on #989
Please describe the steps to reproduce on one example. Thanks!

[2013-12-28 10:36] tomas-knap commented on #987
Jeste k te vyjimce, proc je v short message: Pipeline failed because of exception.

Melo by v te short message byt napriklad. Cannot load data to target endpoint, because connection cannot be established.
V long message je pak exception, to je ok.

[2013-12-28 10:37] tomas-knap commented on #988
[code]

[2013-12-28 10:38] tomas-knap commented on #988
@janvojt Please explain

[2013-12-28 10:38] skodapetr commented on #787
We have other "issue": if the pipeline (S) should run after A, B, C .. if the S is disabled .. and A, B, C ran .. then schedule for S is enabled .. the S is not executed until 1) backend restart 2) one of A, B, C is executed
(as these are the times when run-after check is performed)

@kukharm can you please retest and add the above into the documentation? For more details please feel free to skype

[2013-12-28 10:44] skodapetr commented on #987
Tohle je asi spíše na mě .. tem log je odemně .. prakticky to znamená, že DPU.execute() vyhodila exception .. tu zachytil kód ODCS (takový super catch jenž kolém té metody je právě pro tyhle případy, jinak by to zabylo vlákno DPU) .. zalogoval a ukončil pipeline.

Pokud by to mělo být jak píšeš ty Tome, tak by tuhle chybu muselo odchytit DPU .. a vypublikovat error message a pak skončit.

[2013-12-28 10:45] tomesj commented on #987
Pokud vím, tak tahle zpráva se tvoří někde v backendu - nejsem jejím autorem. To bude vědět @skodape. Jinak co se týká logů, tak jsem si všiml, že ač se používá pro logování přítup, který popsal Petr,

tj např.

LOG.debug ("Something {} var", variable);

Tak stále tam, kde je jméno grafu v <...> tak se v detailu zprávy nic neukazuje, ale v přehledu je vše OK.

[2013-12-28 10:46] skodapetr commented on #988
imho: Do you have the "last" version?  I think that we had met similar problem already .. it tries to save open event for non-saved pipeline.
But this has been solved already by @janvojt I think.

[2013-12-28 10:49] tomas-knap commented on #988
No, there is version from 22.12. on ODCS, ODCS-test is more up to date

[2013-12-28 10:50] skodapetr commented on #987
The log message already commented. But to the LOG.debug .. can you give example? As I do not fully understand what to you mean by "Tak stále tam, kde je jméno grafu v <...> tak se v detailu zprávy nic neukazuje, ale v přehledu je vše OK." ?

In you example is nothing like "<"  ">" .. or they are in that variable?
What is the message detail ("detailu zprávy") and what is the overview ("přehledu")?

[2013-12-28 10:55] tomas-knap commented on #987
Ok, nicmene Petr s tim nic lepsiho neudela. Nicmene kdyz koukam do prehledu events, tak je tam eventa: "Endpoint http connection stream .." Tedy Jirka to odchyti, zaloguje event(ERROR), ale pak jeste vyhodi DPU exception? Je nutne tam jeste vyhazovat DPU exception? Nestacilo by ten stacktrace dat do long message u te jedne event(ERROR)?

[2013-12-28 10:58] tomas-knap commented on #985
Was able to reproduce again, again it ends after 10hours

[2013-12-28 11:00] tomesj commented on #987
Petr see
![image](https://f.cloud.github.com/assets/3481055/1817593/e3f44ef8-6fae-11e3-86d8-8d67f7f829d1.png)

Message contains graf name, but there is not in log message detail.

[2013-12-28 11:10] tomesj commented on #987
Výjimku je nutné vyhodit, protože je třeba řešit smyčku pro získání InputStreamu z endpointu (případ kdy byl překročen počet connection)

Tato metoda se používá na více místech a pouze vyskočení z cyklu nebo vrácení nějaké hodnoty by pak mělo skoro katastrofální následky.

Jsou jen 3 možnosti
a) stream je OK - pak se se vrátí, ideální stav
b) je tam nějaká chyba ohledně endpointu - např. neznámý h

[2013-12-28 11:11] tomas-knap commented on #985
Jirko, ale ten prvni odkaz je udajne vyresen. Koukni na to prosim. Ten druhy je z roku 2009.

Jirko, pokud by ten dotaz obsahoval nejake order by, tak by slo jednoduse po tom NPE navazat nove spojeni a pokracovat. Pripadne by sis mohl napsat vlastni tridu pro iteraci (tu vlastne mas - to je ten MyTupleQUeryResult) a v ni ziskavat vysledky pres SPARQL select .... order by limit 1000 OFFSET 0, 1000,

[2013-12-28 11:14] tomas-knap commented on #987
Nerikam, ze neni dobre vyhodit vyjimku, to je urcite ok. Ale nemusis ji vyhazovat az Petrovi, ale odchytis si ji sam v logice DPU

[2013-12-28 11:17] tomas-knap commented on #985
Tedy ze bys tam krom metody rdfInput.executeSelectQueryAsTuples(query); mel take novou metodu rdfInput.executeOrderedSelectQueryAsTuples(query) - u tehle metody by bylo v komentari napsano, ze pro spravnou funkcionalitu vyzaduje order by v dotazu, Kdyz tam neni, tak je uzivatel blby a nebude mu to fungovat dobre. Mno a pak ti staci pracovat s tim OFFSETema sam si ziskavat vysledky po urcitych cast

[2013-12-28 11:17] tomas-knap commented on #985
Napis prosim, co si o tom myslis

[2013-12-28 11:24] tomesj commented on #987
Jde o to, že RDFException vždy probublá až do metody execute v případě DPU a tam je většinou tento kód

[code]

Tedy mám použít jen context sendMessage(...) a už DPU exception nevyhazovat ?

[2013-12-28 11:33] tomesj commented on #985
Tak jsem si první odkaz přečetl a řešení, co tam píšou je dát ten virtuso.jar z warka do tomcatu...Což my asi nechceme...

Jinak k návrhu.
Určitě by šlo se nad daty postupně dotazovat přes offset, to je asi v pohodě. Jen nechápu význam toho, proč by měl ten dotaz mít nutně ORDER BY.

[2013-12-28 11:37] skodapetr commented on #985
Jirka: když nemáš order by .. tak jak zajistíš, že se ti nezmění pořadí a nedáš nějaká data 2x a jiné jen jednou? Muselo by se tam uměle přidat .. ale jinak myslím, že ho také není třeba vyžadovat (viz umělé přidání)

Co se týče warka do tomcatu .. proč to pomůže, píšou tam?

[2013-12-28 11:44] tomesj commented on #985
Tak když používáš LIMIT a OFFSET pro nějaký dotaz, tak je pořadí nějaké, ale stále stejné (za předpokladu, že se kolekce nezměnila - což je v tomhle případě pravda). Takže podmínka na ORDER BY je podle mě zbytečná.

Co se týká warka - nějak více to tam nerozebírají, tak nevím ten důvod.

[2013-12-28 11:49] tomesj commented on #985
Jinak se tam píše o:

Tomcat throws NullPointerException when Virtuoso JBDC driver is stored in tomcat/common/lib folder.
virtjdbc-3.0.jar has to be moved from tomcat/common/lib to tomcat/common/endorsed. I have committed the modified context.xml to svn again to make the connection pooling work.

Update for Tomcat6:

The problem originates in the use of connection pools in context.xml and the use

[2013-12-28 11:49] skodapetr commented on #985
No stejně bych tam měl radši ORDER by .. neb s tou kolekcí nikdy nevíš. Nebo mít metodu jenž bude save, a unsave .. (v tomhle ohledu) neb co když to poběží nad nějakými "měncími se" "big daty"

[2013-12-28 11:52] skodapetr commented on #985
Nicméně nás se týká tomcat 7 ne? (nebo už jsem zapomněl pod čím jsme?

ad. vyzkoušet by se to mohlo ne? A pokud to pomůže, můžeme hledat proč .. ale z toho popisu mi to nepřijde .. asi bych chtěl vidět, že to pomůže.

[2013-12-28 12:05] tomesj commented on #985
Tak můžeš to zkusit :-) Jo, máme TOMCAT 7.

[2013-12-28 12:10] skodapetr commented on #985
No rád bych .. ale nejsem na tom zase tak časově dobře abych to zkoušel .. (jak to tam přidávat, tak to nechávat běžet 10 hodin (i když to by byl asi ten menší problém)) .. ale pokud připravíš Warko kde to bude OK .. tak myslím, že bychom to měli být schopný otestovat.

[2013-12-28 12:15] tomesj commented on #985
Já na tom časově nejsem taky dobře.

Jinak k tomu možnému přistupu, co psal Tomáš vidím zádrhel. Pokud má daný SELECT query už v sobě LIMIT či OFFSET, tak je nemůžeme použít znovu - neboť dotaz je pak nevalidní....

[2013-12-28 12:51] tomas-knap opened #990 "SPARQL Extractor - more named graphs data should be extracted from"
v sparql extractoru je nastaveni na 1 named graph
ale tech preci muze bejt vic
takze bych to bud zrusil a at si to lidi davaj do FROM (NAMED) a nebo to rozsiril... ale... nevim proc by to melo byt extra. Jedine ze by to melo stejny vyznam jako default graph v sparql endpointu, pak to tak ale ma byt pojmenovane

[2013-12-28 12:52] tomas-knap commented on #987
To chapu, ale neni problem tu exception odchytit uz na urovni DPU, ne? Tedy ze pak DPU execution neskonci na vyjimku, ale regulerne chybou.

[2013-12-28 12:53] skodapetr commented on #579
The configuration should not be a problem .. as we can serialize it into string .. instead of byte[](it's just xml .. for current use) but looks like simple switch in database does not do the job .. (some exceptions ) but we should try this .. as we face the similar problem as with configuration with logs (messages) ..  so it looks like this problem can appear everywhere where we have  national ch

[2013-12-28 12:57] tomas-knap commented on #985
K tomu co pisete, tu upravu Tomcatu bych neresil, nehlede na to, ze se to vztahuje k Tomcat 6.

Udelal bych tu novou metodu, to by mela byt zalezitost na par hodin maximalne. V te nove metode by proste v komentari bylo uvedeno, ze se jiz ocekava, ze query bude mit order by a nebude mit limit/offset. Pokud bude chybet order by, tak se to muze chovat divne a uzivatel si to mel precistv komentari. Po

[2013-12-28 13:00] tomas-knap commented on #579
Petre, je treba nejak explicitne zkouset ze  VARBINARY -> LONG NVARCHAR je ok? Pripadne uz jsi to zkousel kdyz jsi delal skript pro Varchar -> NVarchar? Ja jen, abychom vedeli, ze tohle neni problem a mohl jsem to zitra hodit na ODCS - ostrou verzi

[2013-12-28 13:06] tomesj commented on #985
Dobře udělám na to novou třídu - OrderTupleQueryResult a přidám tam teda tuto implementaci.
Tato třída pak bude jako iterátor přes Trojice a bude návratem pro metodu rdfUnit.executeOrderedSelectQueryAsTuples(orderSelectQuery).

Je to OK ?

[2013-12-28 13:09] tomesj commented on #987
No vždyť ano - ten kód výše, je na úrovni execute methody v rámci DPU - tedy stačí použít jen context a ne už dál vyhazovat výjimku DPUException - to je to, na co jsem se ptal a ty jsi mi na to vlastně teď nepřímo odpověděl.

Pak by mělo DPU skončit chybou a ne výjimkou :-)

[2013-12-28 13:34] tomas-knap commented on #985
Ano, bude tam nova trida pro vysledky (jak pises treba) a nova metoda executeOrderedSelectQueryAsTuples. S tim, ze na venek, se to bude chovat uplne stejne jako ta soucasna metoda. Tedy budu moct psat:

OrderTupleQueryResult result;

while (result.hasNext()) {
...
BindingSet solution =  result.next();

}

Nicmene interne bude ta implementace takova, ze si vzdy nacachujes trebas 1000 bindings a az

[2013-12-28 13:36] tomas-knap commented on #987
Jo, jak pises, uz nemusis tu DPUException vyhazovat. Nicmene ten stack trace u te DPUException dej to long message u te error event. Aby tam nebylo jen "Nelze se pripojit", ale aby tam byl i ten stack trace v detailu (long message)

[2013-12-28 13:37] tomas-knap commented on #987
Oprav to prosim u vsech core DPU, tohle neni urgentni, az se k tomu dostanes. Nejlepe do 31.1.

[2013-12-28 14:03] tomesj commented on #987
Je to jasné :-) Opravím to, až vyřeším ten zbytek :-)

[2013-12-28 14:03] tomesj commented on #985
Přesně tak nějak to mám v plánu udělat :-)

[2013-12-28 18:13] janvojt commented on #579
Ja som to skusil zmenit, ale hadzalo mi to chyby. Zrejme JDBC to nepobere, pretoze typ v jave je byte[] a typ v db je varchar. Samozrejme by sa to dalo zmenit na String, ale ked tak to skusim az v Prahe. Mam tu len PC s 2GB RAM, takze som to skusal len cez ssh a nie je to zrovna pohodlna praca. Kazdopadne teda len zmenit datovy typ v db nestaci.

[2013-12-28 18:19] skodapetr commented on #579
U mě hlavní potíž byla pokud ten LONG NVARCHAR  byl empty (a to né u konfigurace) jdbc se to pak pokusil převést na String a přitom to spadlo (jen pokud je emptz.)

V jedné branchi jsem tedy vrátil zpět omezení na velikosti některých fieldů a připravil na vyzkoušení Tomášovi, jeslti to pomůže .. tedy teď už je to spíše na něm aby to ozkoušel.

[2013-12-28 18:19] janvojt commented on #988
This was solved in #934 by commit 8ae7beb7e13321bde1828d1d9019a41002c1b8f3. @tomas-knap are you sure this commit is deployed on ODCS? I cannot reproduce this on current version.

[2013-12-28 23:34] tomesj commented on #985
Tak při implementaci jsem narazil na problém
- Virtuoso má defaultně nastavené sortování pro max 10 000 řádků

Tedy dotaz např.
select ?x ?y ?z where {?x ?y ?z} ORDER BY ?x LIMIT 1000 OFFSET 10000

Už skončí chybou virtuosa SE353:

V popisu se píše:
Exception:virtuoso.jdbc4.VirtuosoException: SR353: Sorted TOP clause specifies more then 11000 rows to sort. Only 10000 are allowed. Either decrease t

[2013-12-28 23:45] tomesj commented on #985
Jinak je tu alternativní řešení:

Jak jsem zjistil tak, pořadí prvků je vždy stejné, ať se použije ORDER BY deklarace či nikoliv, tedy pokud v dotazu zakážeme navíc ORDER BY stejně jako LIMIT a OFFSET bude třída fungovat správně tak jak bychom chtěli a pro libovolně velká data :-)

[2013-12-29 08:44] bogo777 commented on #984
Cannot reproduce, tried both on local and ODCS.

[2013-12-29 08:45] #986 closed, assigned to bogo777

[2013-12-29 08:54] bogo777 commented on #965
Yes, understand the motivation. But it is also useful in situations when I open existing pipeline, do some changes and than I would like to store them to a new copy, rather then modifying the existing.

--Ok, but it works for situations like this, too. We save changes to new copy only. Maybe it is unclear that we open the copy also, but I think it is useful. If original pipeline is still open, use

[2013-12-29 08:57] bogo777 commented on #936
Well, for the extra edge, the second node exist in database, it is assinged to graph with id 210, but this graph has no pipeline assinged, which should be impossible. So the data are corrupted, I thought it could have happened during copying of pipeline, but it doesn't work for the original example of the bug...

[2013-12-29 08:59] bogo777 commented on #961
There should be support for this from Vaadin via special css class, but it doesn't seem to work. Will look into it more.

[2013-12-29 12:24] tomas-knap commented on #985
Jirko, jakym zpusobem si dospel k tomu, ze virtuoso ta solutions bez order by vraci porad ve stejnem poradi? To nekde pisou? Kde?

Btw. ve virtuoso.ini si muzes zvednout ten limit 10000 pro order by - viz MaxSortedTopRows = 10000, http://docs.openlinksw.com/virtuoso/dbadm.html

[2013-12-29 12:29] tomas-knap commented on #985
1. ZKus prosim zvednout ten limit ve virtuoso.ini a udelej to pres to order by
2. select ?x ?y ?z where {?x ?y ?z} ORDER BY ?x LIMIT 1000 OFFSET 10000 ti nestaci, je treba to sortovat dle vsech sloupcu.

[2013-12-29 13:08] tomesj commented on #985
1. Já nemám problém s tím zvednout si u sebe limit ve virtuosu.ini , jen pak když se to bude někde používát, tak si to musíš nastavit hlavně tam (u sebe) - aby to třeba neběželo a nevyhodila se pak výjimka výjimka díky tomu.

Pro jistotu to napíšu i do komentáře, že je důležité nastavit tuto hodnotu do virtuoso.ini - jinak nelze zaručit, že ti to bude fungovat dobře.
1. to byl jen příklad - zadání

[2013-12-29 13:22] tomas-knap commented on #985
Jirko,

"Ty když máš nějaký select dotaz (ne nutně s ORDER BY), který jako výsledek vrací nějakou n-tici prvků (a ten výsledek má nějaké pořadí, ne nutně seřazené) a ty ten výsledek jen rozsekáš po částech o daném počtu n-tic (stejný dotaz obohacený o LIMIT a OFFSET) a ty části postupně bereš a něco s nimi děláš"

Mno, tam je problem, ze kazdy Select s prislusnym limit a offset je novy dotaz. Tedy

[2013-12-29 13:24] tomesj commented on #985
Dobře...Udělám to tak a pak napíšu, jestli je to OK.

[2013-12-29 15:11] tomesj commented on #985
Tak všechno je to v pohodě :-) Jen samozřejmě se stoupajícím offsetem je narůstá čas dotazu, ale s tím se asi nic neudělá :-)

[2013-12-29 22:11] tomas-knap commented on #985
Ok, diky

2013/12/29 Jiří Tomeš notifications@github.com

[2013-12-30 08:21] tomas-knap opened #991 "Problems when saving DPU conf as a new DPU template"
To reproduce, use experimental branch:

I created new pipeline, SPARQL extractor, open DPU conf, adjusted, saved as new template than:

![screen shot 2013-12-30 at 9 18 53 am](https://f.cloud.github.com/assets/3014917/1821326/5562ffda-712b-11e3-999c-86defae696ea.png)

2013-12-30 09:19:01,653 [http-bio-8080-exec-14] ERROR cz.cuni.mff.xrg.odcs.frontend.AppEntry - Uncaught exception
virtuoso.jdbc4.Vi

[2013-12-30 08:22] tomas-knap commented on #991
When saving DPU configuration, it works well, but save as DPU template does not work

[2013-12-30 08:26] tomas-knap opened #992 "Problem saving pipeline"
experimental branch

I created pipeline with one SPARQL extractor and loader, tried to save. I got:

![screen shot 2013-12-30 at 9 23 37 am](https://f.cloud.github.com/assets/3014917/1821344/d257f84c-712b-11e3-9abf-c0f55e829f88.png)

java.lang.IllegalStateException: During synchronization a new object was found through a relationship that was not marked cascade PERSIST: cz.cuni.mff.xrg.odcs.common

[2013-12-30 08:29] skodapetr commented on #992
It looks like #988, but I will try to fix it anyway

[2013-12-30 08:43] skodapetr commented on #992
Well I have a theory for exp. branch .. if ODCS try to save the pipeline into database .. and failed .. then then pipeline get's id  .. and then this can happen (as it is not really in database but ODCS this that it is).

Was there any previous exception .. ? smilar like in #991 caused by empty description.

[2013-12-30 09:27] skodapetr commented on #991
The bad news is .. that we can not probably fix it as .. the jdc https://github.com/openlink/virtuoso-opensource/blob/stable/6/libsrc/JDBCDriverType4/virtuoso/jdbc2/VirtuosoNullParameter.java?source=cc
does not support standart java.sql.Types.NVARCHAR = -9 .. so we can read null from database but we can not save it .. imho: they are actually missing support for more null-values from JDBC 4.0 types

[2013-12-30 09:35] skodapetr commented on #988
just to give an idea .. what we can try .. (sorry Jan) use in-memory storage for that .. just store pipeline.id and user.name in HashMap<Long, List<String> >.. there for sure will be no persistence problems, thanks to good design it can be implemented easily in PipelineFacade .. and it can be faster then trying to replicate this .. as Jan is right .. this should not happen

(as it appears also on

[2013-12-30 09:50] skodapetr commented on #991
Nicméně ten problém je koukám větší .. neb ono to neumí NULL ani pro klasické NVARCHAR .. s pevnou délkou, na což třeba dost spoléháme u DPU .. tedy tam bude třeba použít zase klasické VARCHAR .. ať žije virtuoso jdbc ..

[2013-12-31 10:26] jakubklimek opened #993 "Non unique primary key on pipeline edit"
When I clicked on Gov.cz Instituce pipeline, I got this:
![image](https://f.cloud.github.com/assets/718827/1826669/d6e41b04-7205-11e3-9f6d-207c35126822.png)

[2013-12-31 10:34] tomas-knap commented on #993
yes, there is a workaround in the latest version not deployed yet

[2013-12-31 10:35] tomas-knap commented on #992
Yes, the previous exception was #991

[2013-12-31 10:40] tomas-knap commented on #991
Tedy ty sloupce, ktere maji omezenou delku a kde nebyl problem s narodnimi znaky jsi vratil na VARCHARY?

[2013-12-31 10:41] skodapetr commented on #992
Yes, then this is explained .. the ODCS assign id to the pipeline, but failed to save it into database. Then in openEvent application checks that the pipeline has id -> should be in database. And try to use it in relation (save open event) that ends up with this exception.
As the #991 should not happen, I think we can close this for experimental branch.

[2013-12-31 10:42] skodapetr commented on #991
Ano. Dlouhé řětezce jsou LONG NVARCHAR a neměli by být nikdy null (jinak to skončí exception), to že nejsou null hlídá setter-getter v jednotlivých dao objektech. (místo null a "" , se používá "--null--" string ..

[2013-12-31 10:48] #992 closed, assigned to skodapetr

[2013-12-31 10:53] tomas-knap commented on #991
Jinak k tomu "místo null a "" , se používá "--null--" string", neni to moc hezke a verim, ze s pouzitim mysql se toho zbavime. Mas to tam na jednoum miste, abychom mohli to tvoje doplnovatko pripadne disablovat kdyz budem pracovat s normalni db?

[2013-12-31 10:58] skodapetr commented on #991
Ano, je na to pomocná třída a vní 2 metody, jenž toto zařizují, tedy odstranění je otázkou chvilky.
Ono by stačilo, kdyby upravili ten jdbc driver .. ale to možná bude dříve to mysql pravda.

[2013-12-31 10:59] tomas-knap opened #994 "Problems when logging the pipeline run"
[12/31/13 11:45:00 AM] Tomas "nappy" Knap: Mno, db se tvari ze bezi
[12/31/13 11:45:13 AM] Tomas "nappy" Knap: ale v logu je kopec hlasek :
[12/31/13 11:45:14 AM] Tomas "nappy" Knap: sudo /etc/init.d/virtuoso-opensourceETL-TEST start
[12/31/13 11:45:30 AM] Tomas "nappy" Knap: teda: 11:43:32 Malformed data received from IP [127.0.0.1] : Box length too large. Disconnecting the client
[12/31/13 11:45

[2013-12-31 10:59] tomas-knap opened #995 "Adjust schema.sql"
[12/31/13 11:57:29 AM] Tomas "nappy" Knap: btw. petre pri improtu schema.sql mi to hlasi tyhle typy warnings:
[12/31/13 11:57:30 AM] Tomas "nappy" Knap: Warning 01V01: [Virtuoso Driver][Virtuoso Server]QW002: The column id in an SQL statement shadows the local variable of the same name.Either qualify the the column reference or use the AS to rename it
in lines 584-591 of Top-Level:
# line 584 "(co

[2013-12-31 11:40] tomas-knap opened #996 ""-- null --" in long description"
-- null -- should be hidden from the user:

![screen shot 2013-12-31 at 12 40 06 pm](https://f.cloud.github.com/assets/3014917/1826812/4e56f44a-7210-11e3-9bb6-86d3edbf9d7e.png)

[2013-12-31 11:46] tomas-knap commented on #877
Jirko, nefunguje to dobre, viz odcs-test - pipeline exec 139

2013-12-31 12:39:21,369 [dpu: SPARQL Loader nsoud.cz] DEBUG exec:139 dpu:166 c.cuni.mff.xrg.odcs.backend.execution.dpu.Executor - Executing DPU ...
2013-12-31 12:39:21,393 [dpu: SPARQL Loader nsoud.cz] INFO  exec:139 dpu:166 cz.cuni.mff.xrg.odcs.loader.rdf.RDFLoader - Loading 5000 triples
2013-12-31 12:39:21,560 [dpu: SPARQL Loader nsou

[2013-12-31 11:46] skodapetr commented on #996
Ma fault .. I forgot to do the magic ..

[2013-12-31 11:48] tomas-knap commented on #877
Kontext problemu: Poustim pipeline s jednim extraktorem a jednim loaderem (116, http://odcs.xrg.cz:8080/odcleanstore-test/#!PipelineList). Pri loadovani zabiju virtuoso ktere pouziva pipeline pro ukladani mezivysledku.

Problem je opet v tom, ze loader je zabit po nahrani 40/50 parts. Pak je databaze znovu restartovana, loader jakoze pokracuje, nicmene ve vyslednem grafu "http://test/2013-12-31/ns

[2013-12-31 11:49] tomas-knap commented on #356
Check

[2013-12-31 13:05] tomas-knap opened #997 "When browsing execution record and switching to pipeline list - javax.persistence.NonUniqueResultException"
When I was browse/query the execution record and then I tried to switch to pipeline view, I got:

![screen shot 2013-12-31 at 2 04 09 pm](https://f.cloud.github.com/assets/3014917/1826991/12262d36-721c-11e3-964b-6dd33f9bf61a.png)

Petre, if you do not know, please reassing on @janvojt

2013-12-31 14:03:01,537 [http-bio-8080-exec-37] ERROR cz.cuni.mff.xrg.odcs.frontend.AppEntry - Uncaught exception

[2013-12-31 13:07] tomas-knap commented on #997
It happens even when reloading the app, so I cannot work with the app. Appears in experimental branch

[2013-12-31 13:07] skodapetr commented on #997
Seems like problem with data in database .. I take a immediate look on this.

[2013-12-31 13:27] tomas-knap commented on #992
Solved

[2013-12-31 13:29] tomas-knap commented on #994
So it should be solved by that?

[2013-12-31 13:40] skodapetr commented on #994
I hope yes .. the problem imho was .. that the database was offline .. backend store logs (as they have been generated by application) and then try to store more than the connection can handle.
(cite: Malformed data received from IP [127.0.0.1] : Box length too large. Disconnecting the client )

Now backend store at most 50 logs in one query, if he has more of them .. then he split them and save o

[2013-12-31 13:45] tomas-knap commented on #977
It still appeared even after that (I created new pipeline with sparql extractor, tried to save the pipeline):

![screen shot 2013-12-31 at 2 41 10 pm](https://f.cloud.github.com/assets/3014917/1827070/87135650-7221-11e3-8217-c0c30b0a3635.png)

[code]

[2013-12-31 13:48] tomas-knap commented on #994
Now it happens again, I created a pipeline with one SPARQL extractor, run in debug mode and when opening exec record detail, there were events but no logs.

![screen shot 2013-12-31 at 2 46 58 pm](https://f.cloud.github.com/assets/3014917/1827083/39051966-7222-11e3-81b5-e37cb6bfd127.png)

![screen shot 2013-12-31 at 2 47 12 pm](https://f.cloud.github.com/assets/3014917/1827084/3bf05294-7222-11e3-9

[2013-12-31 13:55] tomas-knap commented on #885
Without statistical and error handler

![screen shot 2013-12-31 at 2 54 06 pm](https://f.cloud.github.com/assets/3014917/1827092/174da4fe-7223-11e3-99cb-b9b11b965278.png)

With stat. and error handler:

![screen shot 2013-12-31 at 2 55 07 pm](https://f.cloud.github.com/assets/3014917/1827093/2eaf05f2-7223-11e3-9627-936407bae61c.png)

[2013-12-31 13:57] #884 closed, assigned to tomesj

[2013-12-31 13:59] tomas-knap opened #998 "When cancelling pipeline, icons switched strange"
When I cancel running pipeline, firstly the cancelling icon appears, than for a while (couple of sec) running icon appears agains and then finally cancelled appears. The running icon in the middle should not appear

[2013-12-31 14:02] tomas-knap commented on #877
Co je take divne, kdyz prejdu na browse and query, kouknu na vystup ze SPARQL extraktoru, tak mi to ukaze:
![screen shot 2013-12-31 at 3 01 05 pm](https://f.cloud.github.com/assets/3014917/1827106/343ec358-7224-11e3-9b8b-0ba676ee6c56.png)

Pritom ve vysledku, tedy to co vypadne ze SPARQL extraktoru a vleze do SPARQL loader a nasledne do cilove db, je 4000 triples

[2013-12-31 14:05] tomas-knap commented on #886
For working with Virtuoso, it is fast enough (immediately) for 50000 triples.

[2013-12-31 14:06] tomas-knap commented on #886
Test on localRDF

[2013-12-31 14:12] tomas-knap commented on #877
Also not working when db is restarted during SPARQL extractor! Please check that once again, you can try pipeline 117 on ODCS test

I was loading 50000 triples, restarted db and got only :
![screen shot 2013-12-31 at 3 11 23 pm](https://f.cloud.github.com/assets/3014917/1827116/76120118-7225-11e3-876c-78e731fa9c6e.png)

[2013-12-31 14:15] tomas-knap commented on #969
Nefunguje stale, viz: #877

[2013-12-31 14:15] tomas-knap commented on #970
Nefunguje, viz #877

[2013-12-31 14:15] tomas-knap commented on #981
Does not appear in exper.branch

[2013-12-31 14:23] tomas-knap commented on #997
solved in exp.branch

[2013-12-31 14:23] #997 closed, assigned to skodapetr

[2013-12-31 14:23] tomas-knap commented on #994
solved in exp branch

[2013-12-31 14:23] #994 closed, assigned to skodapetr

[2013-12-31 14:27] tomas-knap opened #999 "Exception when copying pipeline in experimental branch"
When i tried to copy pipeline 117, I got:

![screen shot 2013-12-31 at 3 26 28 pm](https://f.cloud.github.com/assets/3014917/1827157/936c9b90-7227-11e3-9bf0-4bc2a650c5e7.png)

And two errors appear:

[code]

[2013-12-31 14:29] tomas-knap commented on #991
Solved on odcs experimental branch

[2013-12-31 14:29] #991 closed, assigned to skodapetr

[2013-12-31 14:31] skodapetr commented on #999
Database fixed .. I'll try to fix the code soon

[2013-12-31 14:31] tomas-knap commented on #989
works for me

[2013-12-31 14:31] #989 closed, assigned to tomas-knap

[2013-12-31 15:09] tomas-knap commented on #951
The data was skipped due to errors in the data, check the encoding

[2014-01-01 09:24] skodapetr opened #1000 "Sub-menu remove"
Should we remove the "Prune execution records" from Settings? There are no options under this ..

[2014-01-01 11:51] tomas-knap commented on #1000
Yes

[2014-01-01 11:52] tomas-knap commented on #1000
Please remove prune exec records tab from settings

[2014-01-01 12:00] tomas-knap opened #1001 "Hide column total number of pipelines (Settings->manage users)"

[2014-01-01 12:05] tomas-knap opened #1002 "Properly initialize schedule dialog"
When I schedule a pipeline, specify certain settings in the core tab, save the changes. Then I schedule another pipeline - by default I see the previous changes.

Solution. Everytime I click "schedule" (or in general open schedula a pipeline dialog) the dialog must be properly initialized to the same initial values (today is selected in the calendar, etc.)

[2014-01-01 12:15] tomas-knap opened #1003 "Problems serializing configuration"
I created new user "aa", logged as that user. I triet to create new DPU template, denoted it as private, loaded jar file and when trying to save, I got:

![screen shot 2014-01-01 at 1 08 59 pm](https://f.cloud.github.com/assets/3014917/1829591/a56832da-72dd-11e3-9c43-31be3fbbc6d1.png)

Log is below.

2014-01-01 13:07:48,855 [http-bio-8080-exec-74] ERROR cz.cuni.mff.xrg.odcs.frontend.AppEntry - Unc

[2014-01-01 12:17] tomas-knap opened #1004 "Creation od DPU - inconsistency between folder structure and DPU tree"
See #1003.

Further, when such error is shown (as described in #1003), the folder for the given DPU and the jar itself is still stored, so it is on the filesystem and not in the DPU tree. In case of error when saving new DPU template, the result must be consistent - if the new DPU is not in the tree it must not be in the folder structure, there must not be a directory for the DPU

[2014-01-01 12:44] tomas-knap opened #1005 "Deleting pipeline - better error message"
When I try to delete public readonly pipeline shared with me, it does not work. WHich is correct. But the error message is:

Solution: Provide user friendly error message saying e.g. "Pipeline cannot be deleted. Public pipelne may be deleted only by pipeline authors and administrators"

[2014-01-01 12:49] #921 closed, assigned to bogo777

[2014-01-01 12:50] tomas-knap commented on #1005
test in case of public readonly/public read write pipeline

[2014-01-01 14:57] skodapetr commented on #1002
I think it's related to the #958 .. so we can .. post this there and do not create new issue ..

[2014-01-01 16:10] tomas-knap commented on #958
When I schedule a pipeline, specify certain settings in the core tab, save the changes. Then I schedule another pipeline - by default I see the previous changes.

Solution. Everytime I click "schedule" (or in general open schedula a pipeline dialog) the dialog must be properly initialized to the same initial values (today is selected in the calendar, etc.)

[2014-01-01 16:10] tomas-knap commented on #958
Maria, please discuss with @bogo777 how to initialize the dialog properly

[2014-01-01 16:11] tomas-knap commented on #1002
duplicated #958

[2014-01-01 16:11] #1002 closed, assigned to kukharm

[2014-01-01 16:14] tomas-knap commented on #692
Please update what is done - is the autowiring and proper initialization done?

[2014-01-01 16:15] #944 closed, assigned to tomas-knap

[2014-01-01 16:19] tomas-knap commented on #984
also cannot reproduce now

[2014-01-01 16:19] #984 closed, assigned to bogo777

[2014-01-01 16:23] tomesj commented on #877
Udělal jsem si stejnou pipeline u sebe, ale nedaří se mi to "nasimulovat" zmíněný problém - v případě výpadku DB a obnovení to nahraje všechny parts - ve výsledném grafu jsou všechna data, co mají být není jich jen 4000 nebo méně - jsou všechny (5000).

Navíc je divné, že v tom logu u Tebe se loadování provádí už po 40/50 parts - což je divné. Ukončení nahrávání nastane jen tehdy, když getInsertQu

[2014-01-01 16:25] tomas-knap opened #1006 "Problems when two different users are logged in"
To reproduce:
- open dbpedia pipeline as admin
- open a new tab, load GUI
- log as a different user in that second tab, go to pipelines table
- switch back to the previous tab (where admin is logged in)

Then error occured:

![screen shot 2014-01-01 at 5 21 36 pm](https://f.cloud.github.com/assets/3014917/1829807/1523ac12-7301-11e3-9593-bb6facf5b9fa.png)

[code]

[2014-01-01 16:27] tomas-knap commented on #1006
It behaves really strange when two different users are logged in in two different tabs. The second user overrides the first one.

[2014-01-01 16:27] tomas-knap commented on #1006
And the it is really confusing.

[2014-01-01 16:30] #940 closed, assigned to kukharm

[2014-01-01 16:31] tomas-knap commented on #579
does not happen in experimental branch

[2014-01-01 16:31] #579 closed, assigned to janvojt

[2014-01-01 16:31] #825 closed, assigned to kukharm

[2014-01-01 16:33] tomas-knap commented on #922
Petre, mas tu jeste neco nebo uz je to hotove?

[2014-01-01 16:52] tomas-knap commented on #877
A kdyz porovnas ten muj log a ten tvuj log (pri zabiti a obnovani db), jsou shodne? Nebo se lisi?

[2014-01-01 16:56] tomesj commented on #877
Jinak ještě jedna věc
- když mám puštěný backend v režimu debug, jsem ve SPARQL loaderu (mám správně extrahováno 5000 triplů). A jsem někde v loadování pats
- vypnu backend, spustím znovu
- dojde k restartu pipeline, a jde se rovnou do metody execute pro SPARQL loader, ale nemám už žádné triply na vstupu - proč ?

Může mi to vysvětlit @skodape, proč tomu tak je ? Jak řešíš restart pipeline ?

Kde

[2014-01-01 16:56] skodapetr commented on #1004
Well if this happen after #1003 then .. we can close .. the directory should be deleted, but the cote catchs only exceptiions not errors (like in this case) the error case .. that the clean up code has not been executed .. I will add the error checks, that should solves this.

[2014-01-01 16:57] skodapetr commented on #1004
ps: reassigned

[2014-01-01 16:58] skodapetr commented on #877
Máš log? určitě máš .. v souboru .. (zrovna upravuji další dvě issue .. tak by to trochu urychlilo postup .. ) a ideálně před i po restartu .. a možná i na skype ..

[2014-01-01 17:04] tomesj commented on #877
To @tomas-knap
Můj log při zabití a obnovení DB je jiný - přikládám tu část

2014-01-01 18:01:20,779 [dpu: SPARQL Loader nsoud.cz] DEBUG exec:318 dpu:192 c.c.m.x.o.l.rdf.SPARQLoader - Data 29/50 part loaded successful
2014-01-01 18:01:20,883 [dpu: SPARQL Loader nsoud.cz] DEBUG exec:318 dpu:192 c.c.m.x.o.l.rdf.SPARQLoader - Data 30/50 part loaded successful
2014-01-01 18:01:20,987 [dpu: SPARQL Load

[2014-01-01 17:09] tomas-knap commented on #877
Tak ho prosim porovnej a napis rozdily

[2014-01-01 17:14] tomas-knap commented on #877
Popis prosim jak se to chova v pripade ze vypadne spojeni v pripade toho extraktoru nebo loaderu, nejak schematicky ve stylu:

vola se BaseRDFRepo.getConnection(), ta vola ...

[2014-01-01 17:19] tomas-knap commented on #877
Jirko a kdyz tedy u sebe zkontrolujes pres /sparql rozhrani virtuosa ten graf:  http://nsoud5000, tak tam mas 5000 triples? Pouzivas virtuoso pro mezivysledky? To je dulezite, pokud ne, nastav si virtuoso

[2014-01-01 17:19] tomesj commented on #877
![image](https://f.cloud.github.com/assets/3481055/1829849/c3433f50-7307-11e3-8459-be8b3ac0ac8c.png)
![image](https://f.cloud.github.com/assets/3481055/1829862/e616ecce-7308-11e3-8b86-4e26469db628.png)

To @skodape
Takhle vypadá log po restartu - navíc každý restart přidává input/output do Browse/Query - první má vždy ty data než došlo k restartu, zbylé jsou už prázdné (viz sceen)

2014-01-01 18:0

[2014-01-01 17:20] skodapetr commented on #877
Až si to vyříkáte spolu . tak se Jirko prosím podíváme na ten neslušná backend. Neb jinak nevím zda se tu v těch lozích vyznáme ..

[2014-01-01 17:22] tomesj commented on #877
Používám Virtuoso pro mezivýsledky a v grafu http://nsoud5000, mam těch 5000 triples

[2014-01-01 17:26] skodapetr commented on #877
Tomáš: prosím chvilku počkej .. kouknu se na to jak se chová backend (i když čekal bych, že tam pak nebude výstup žádný .. ) nicméně tohle má Jirka pravdu bychom měli mít opravené .. neb pak data mizí všechna a né jen nějaká. Jen mě překvapuje, že se na to přišlo až teď trochu .. ale tak hlavně že přišlo.

[2014-01-01 17:41] tomesj commented on #877
Takže k výpadkům:
Extractor i loader jsou co se týká výpadků prakticky stejné, tedy vyberu si na ukázku SPARQL loader

Rozdělení na 2 případy
1) Během tvorby data part
- Jde o metodu getInsertQueryPart na SPARQLLoader
- pokouší se získat GraphQueryResult - metoda getTriplesPart na SPARQLLoader, ta volá getConnection() spojení na třídě BaseRDFRepo, je-li výpadek tam, točí se v nekonečné smyčce díky

[2014-01-01 17:59] tomas-knap commented on #877
Jeste jedna vec, jake mas detail nastaveni u extractoru/loaderu na te tvoji pipeline? Bude se to chovat asi malinko jinak kdyz je zakrtnuty error handler a kdyz neni napr.

A neni tam problem s nastavenim named graphu pri restartu connection? Pripadne neni problem s objektem rdfparseru?

[2014-01-01 18:00] skodapetr commented on #877
Tak .. něco jsem v backendu upravil .. ale ještě jsem to nepustil. Nicméně jak vás tu sleduju .. Jirko nechceš tam prostě přidat trace-logy, na konfiguraci a volání metod?
Možná by ti to pak ulehčilo, replikaci, nebo nalezení problému (pokud tam nějaké je, případně ukázalo, že není na tvé straně, jde o anomálii apod .. ) .. ale jen nápad, co dělám já když někde něco nejde a u mě jo (teda pokud je

[2014-01-01 19:13] tomas-knap commented on #877
Problem je ten, ze pravdepodobne zalezi kdy se virtuoso restartuje. Jirko, pridal bys tam prosim log, ze ktereho bude patrne pri jake metode connection.x() se zaktivuje FaultTolerantRepository a ceka se na znovupripojeni? Tedy napr. ze to bude logovat "c.c.m.x.o.r.impl.FailureTolerantRepositoryWrapper - Database is down after 1 attempts to reconnect while calling connection.x()" misto toho stavaji

[2014-01-01 20:47] tomesj commented on #877
K odpovědím
Nastavení mám stejné jako bylo na odcs-test, tedy extractor nepoužívá statistický handler a loader používá override grafu a stop v případě erroru :-)

Log do FailureTolerantRepositoryWrapper hned teď přidám :-)

[2014-01-01 21:09] tomesj commented on #877
Jinak to jsem se ptal právě Petra, zda tam nastavuje správný graf. Jinak v RDFParseru problém není, ono totiž když dojde k restartu backendu a SPARQL extractor už je hotový, tak už se znova nepouští, pustí se rovnou ten SPARQL loader - exucute metoda, bohužel je jeho input prázdný (místo aby měl ty triply z extrakce)

[2014-01-01 21:12] skodapetr commented on #877
JJ to jsi psal, to by snad mělo být v pořádku? Teda snažil jsem se aby to bylo lepší než předtím .. je to jisté místo, jenž by si zasloužilo přepsat .. ale je to poměrně "srdcová" záležitost backendu, tak jsem to nechtěl dělat před termínem odevzdání.

[2014-01-01 21:15] tomesj commented on #877
Tak měnil jsi to předpokládám v posledním commitu, který jsi sem dával - ještě jsem neměl možnost to zkusit, ale z toho, co píšeš, tak předpokládám, že je to už tedy OK :-) I tak zkusím :-)

[2014-01-01 21:19] skodapetr commented on #877
No snad .. já tu teď hodinu bojoval s mavenem a mojí neschopností přečíst jméno balíčku .. což mě docela "vyčerpalo" .. ale šlo tam o ten problém jak jsi popisoval. Potíž je, že ty dataUnit nemají žádný identifikátor .. a vlastně to, že se nedělá reset je "nové" (tak měsíc něco) .. tedy co jsem udělal je, že pokud už dataUnit daného jména a typu existuje tak se reusuje.

Tedy by to mělo vyřešit te

[2014-01-01 21:20] tomesj commented on #877
Tak bohužel ten restart backendu stále nefunguje korektně a data se ztrácí:-(

[2014-01-01 21:20] skodapetr commented on #877
A stačí mi na replikaci DB pedia? asi ano že jo? jen jí musím stihnout zastavit .. při vykonávání loaderu?

[2014-01-01 21:22] tomesj commented on #877
Je to asi jedno jakou máš pipeline - pochopitelně čím více trojic tím lépe - musíš to stihnout zastavit ještě během loadování. Můžeš zkusit si udělat tuhle ukázkovou - tam má 5000 trojic a tam to určitě stihneš :-)

[2014-01-01 21:54] tomas-knap opened #1007 "DPU Description - more rows are needed"
![screen shot 2014-01-01 at 10 52 56 pm](https://f.cloud.github.com/assets/3014917/1830236/2ad984fe-732f-11e3-8f0c-e4af3b952f17.png)

Description is very long and has only one row: It should wrap to more lines if needed

[2014-01-01 21:56] tomas-knap commented on #1007
So there should be text area which is read only

[2014-01-01 21:59] tomas-knap opened #1008 "DPU template - JAR path"
![screen shot 2014-01-01 at 10 52 56 pm](https://f.cloud.github.com/assets/3014917/1830244/bad79438-732f-11e3-87dc-8a9dc5621621.png)

If the JAR path is too long, there should be dots and full path should be available via tooltip.

Important, because if it is too long, replace button is hidden

[2014-01-01 22:06] skodapetr commented on #877
Byl tam problém .. že to míchalo vstupní a výstupní při reloadu .. ale nevím zda to hraje roli, neb jediné o co šlo bylo, že se to načetlo 2x. Přidal jsem tam nějaké logy ..
každopádně je to v experimental branch .. tedy pokud by jsi tam mohl přejít a podívat se na to tam?

Možná mě napadlo, pro debug účely by jsi mohl uděla to, že pokud je Virtuoso vytvořena, tak zaloguješ kolik už obsahuje troji

[2014-01-01 22:06] tomas-knap opened #1009 "Log message detail - textarea for long message - ma omezenou delku?"
![screen shot 2014-01-01 at 11 05 32 pm](https://f.cloud.github.com/assets/3014917/1830265/e2f6b416-7330-11e3-9059-0719d4713495.png)

[2014-01-01 22:26] tomesj commented on #877
Mohl bys to prosím přidat i do masteru, ať se hneme z místa k řešení.
Když ladím problém v masteru a je tam problém v restartu backenedu, tak to, že jsi to opravil v větvi experimental je sice hezké, ale pro mě úplně na prd.

Můžu ti přidat logy o počtu prvků v grafu při inicializaci virtuosa - jestli ti to k něčemu bude :-)

[2014-01-01 22:28] skodapetr commented on #877
No k tomu také dojde .. neb master bude release 0.0.5 a exp. bude master :)

[2014-01-02 01:32] janvojt commented on #906
Implemented in commit 7359f05d543cfa66a76abb5b298ebdd7959cf054.

[2014-01-02 01:32] #906 closed, assigned to janvojt

[2014-01-02 01:46] janvojt commented on #1006
This is expected. User session is shared among all tabs (session id is saved in a cookie).

[2014-01-02 09:31] tomas-knap commented on #877
Jirko, uz bys mel mit vse v master branch

On Wed, Jan 1, 2014 at 11:28 PM, Petr Škoda notifications@github.comwrote:

[2014-01-02 09:44] #996 closed, assigned to skodapetr

[2014-01-02 09:45] bogo777 commented on #1009
There should be no limit, if more space is needed, scrollbars around text area should appear, like this:

![image](https://f.cloud.github.com/assets/1550848/1831516/a19c93b6-7392-11e3-879d-67c49132744f.png)

[2014-01-02 09:46] #1003 closed, assigned to skodapetr

[2014-01-02 09:50] tomas-knap commented on #891
Pipeline list. If I repeatadly add owner filter and then click clear filters, strange uri si being built - URI with duplicates:

http://odcs.xrg.cz:8080/odcleanstore-test/#!PipelineList/page=1&owner.use&owner.use&owner.username=admin
http://odcs.xrg.cz:8080/odcleanstore-test/#!PipelineList/page=1&owner.use&owner.use&owner.use&owner.use&owner.use&owner.use&owner.username=admin

Further, if I add fi

[2014-01-02 09:51] tomas-knap commented on #988
Also cannot reproduce right now

[2014-01-02 09:51] #988 closed, assigned to janvojt

[2014-01-02 09:59] #598 closed, assigned to skodapetr

[2014-01-02 10:03] tomas-knap commented on #965
We will finalize the discusion on the meeting next week

[2014-01-02 10:04] tomas-knap commented on #976
Out of mem is not confirmed

[2014-01-02 10:05] tomas-knap commented on #987
Pripraveno k otestovani?

[2014-01-02 10:13] tomas-knap commented on #1008
The best would be to have dots at the beginning of the JAR path, if the whole JAR path + button replace is too long. e.g. ....zipper/Legislation_Decisions_Unzipper-0.0.1.jar [replace]

[2014-01-02 10:24] bogo777 commented on #891
There was problem with parameters matching in uri fragment(name filter is substring of owner.username), should be fixed now.

[2014-01-02 10:26] #1009 closed, assigned to bogo777

[2014-01-02 11:03] tomesj commented on #987
Ano

[2014-01-02 11:12] #1007 closed, assigned to bogo777

[2014-01-02 11:47] bogo777 commented on #692
Autowiring is done and initialization for MVP components should be too.

[2014-01-02 12:06] #1008 closed, assigned to bogo777

[2014-01-02 12:55] tomesj commented on #967
Tak jsem napsal dotaz na oficiální podporu openRDF ohledně toho, zda se dá nějakým způsobem dostat konkrétní trojici v případě, že dojde k fatal erroru. Uvidíme, co odpoví :-)

[2014-01-02 13:11] tomesj commented on #877
Tak zkoušel jsem restart backendu a vypadá, že je to OK - data už se neztrácí. Takže to bychom měli vyřešené.

Zkoušel ještě jednou zrekonstrovat problém s výpadky, ale u mě stále vše OK (všechna data se následně extrahují i nahrají v pořádku) po nahození DB, tedy žádný problém.

Potřeboval bych tedy, aby jsi to @tomas-knap zkusil zreprodukovat u sebe a napsal mi, kde zjistil problém.

[2014-01-02 18:11] tomas-knap opened #1010 "DPU templates under extractors/transf/loaders sections in the tree should be sorted alphabetically"
Currently, the only sorting is based on the order in which they are stored to db. But this is a bit confusing when there are e.g. 20+ DPU template in each category and user does not know the exact name of the DPU template he is looking for.

ANother motivation, DPU templates which are from one domain are prefix, e.g. [INTLIB]. So when sorting alphabetically, they will be sticked together.

Solutio

[2014-01-02 18:31] tomas-knap opened #1011 "NPE check"
Please add nullpointerexception check:

![screen shot 2014-01-02 at 7 29 30 pm](https://f.cloud.github.com/assets/3014917/1834400/213e6a24-73dc-11e3-9a4d-6517b889e689.png)

[2014-01-02 18:35] tomas-knap opened #1012 "Exception in gui"
This happens when preparing the pipeline, then suddenly the gui was not responding properly, couple of actions (add DPU, add DPU, close, do not change changes) was stacked and then executed.

Rather than showing the exception as for example below, it is better to show: "Unexpected error occurs. Please reload the application". And log the full original message to the frontend.log. Because this exce

[2014-01-02 18:35] tomas-knap opened #1013 "Exception in gui"
This happens when preparing the pipeline, then suddenly the gui was not responding properly, couple of actions (add DPU, add DPU, close, do not change changes) was stacked and then executed. Please ensure that an exception "Unexpected error occurs. Please reload the application". Because this exception is confusing:

![screen shot 2014-01-02 at 7 32 27 pm](https://f.cloud.github.com/assets/3014917

[2014-01-02 18:40] tomas-knap commented on #977
Still not satisfactory:

[code]

[2014-01-02 20:10] tomas-knap opened #1014 "When putting core DPUs on the canvas, they have description -- null --"
test on odcs-test

![screen shot 2014-01-02 at 6 00 58 pm](https://f.cloud.github.com/assets/3014917/1835132/dc68e5c4-73e9-11e3-974b-5a357da01607.png)

[2014-01-02 20:10] tomas-knap opened #1015 "When copying pipelines, conflicts are not copied."
When copying pipeline, the question is what should be done with the conflicts defined on the copied pipeline.

[2014-01-02 20:56] janvojt commented on #977
Can you give me the whole stacktrace?

[2014-01-02 20:58] janvojt commented on #1015
I would assume they are copied as well (which should be the current behavior AFAIK).

[2014-01-02 20:59] janvojt commented on #1015
Oh OK, I did not notice that they are not copied in the title. I am changing this to a bug then.

[2014-01-02 21:07] tomas-knap commented on #977
[code]

[2014-01-02 21:07] tomas-knap commented on #977
2014-01-02 19:45:30,564 [http-bio-8080-exec-130] ERROR cz.cuni.mff.xrg.odcs.frontend.AppEntry - Uncaught exception
virtuoso.jdbc4.VirtuosoException: SR197: Non unique primary key on DB.ODCS.PPL_OPEN_EVENT.
    at virtuoso.jdbc4.VirtuosoResultSet.process_result(Unknown Source) ~[virtjdbc-4.1.jar:na]
    at virtuoso.jdbc4.VirtuosoResultSet.getMoreResults(Unknown Source) ~[virtjdbc-4.1.jar:na]
    at

[2014-01-02 21:08] tomas-knap commented on #977
2014-01-02 19:39:13,281 [http-bio-8080-exec-130] ERROR cz.cuni.mff.xrg.odcs.frontend.AppEntry - Uncaught exception
virtuoso.jdbc4.VirtuosoException: SR197: Non unique primary key on DB.ODCS.PPL_OPEN_EVENT.
    at virtuoso.jdbc4.VirtuosoResultSet.process_result(Unknown Source) ~[virtjdbc-4.1.jar:na]
    at virtuoso.jdbc4.VirtuosoResultSet.getMoreResults(Unknown Source) ~[virtjdbc-4.1.jar:na]
    at

[2014-01-02 22:01] janvojt commented on #977
Should be fixed now. It was actually caused by missing annotation for sequence generator for OpenEvents. Eclipselink was using default instead, so everything worked most of times and I did not notice the missing annotation.

It is quite likely you will need to run the following SQL to fix the sequence generator value:

[code]

[2014-01-03 08:11] tomas-knap opened #1016 "Problem when clicking on item in scheduler"
Appeared when new event was created and I clicked on the newly created event

![screen shot 2014-01-03 at 9 10 19 am](https://f.cloud.github.com/assets/3014917/1838052/ad9370a6-744e-11e3-91d9-45eccaf59c6b.png)

2014-01-03 09:10:42,255 [http-bio-8080-exec-131] ERROR cz.cuni.mff.xrg.odcs.frontend.AppEntry - Uncaught exception
java.lang.ClassCastException: java.lang.String cannot be cast to java.lang

[2014-01-03 08:13] tomas-knap commented on #1016
Happened when clicking on ARES 900 pipeline, see odcs-test

[2014-01-03 08:15] tomas-knap commented on #1016
Any existing scheduller event cannot be open

[2014-01-03 12:53] skodapetr commented on #1014
Tohle už by se stávat nemělo, Honza navíc odstranil v comitu tu classu jenž to dělala.Tedy jedině, že by to zůstalo v DB .. tedy udělat select a změnit tyhle hodnoty na null.

[2014-01-03 13:14] skodapetr commented on #1014
Upravil jsem v databázi na odcs-test. Tedy pokud byl problém jen tam, měl by být vyřešen.

[2014-01-03 15:02] #1014 closed, assigned to skodapetr

[2014-01-03 15:07] tomas-knap commented on #1006
I understand that. But still if I open the pipeline detail X as one user, then open a different tab, log as a different user, open pipeline list. Then, if I return back to X, I may edit the pipeline, but it cannot be saved, which is confusing:

![screen shot 2014-01-03 at 4 05 25 pm](https://f.cloud.github.com/assets/3014917/1839959/c62ec0e0-7488-11e3-9e78-f1f98d369f98.png)

[2014-01-03 15:27] tomas-knap opened #1017 "Problem loading data for RUIAN - too long literals for Virtuoso"
See pipeline exec 157 on odcs-test. There is RUIAN PDU instance, which start running, but when the first file is processed, it calls addStatement on RDF repo and then it writes "Database is down after XX attempts". But when checking the database, it is ok and running, so there is problem only with one connection - one thread. I even managed to run dbpedia pipeline on top of the same virtuoso. WHy

[2014-01-03 15:29] janvojt commented on #1006
Well, it would be pretty standard if we were not updating open-pipeline status. This is actually a more common pattern. For example you could be editing DPU configuration after logout, and you also would not be able to save it.
1. We could solve this globally by adding a heartbeat request every few seconds and check whether user is still logged in. If not redirect to login screen.
2. We could use

[2014-01-03 16:11] tomas-knap commented on #1006
Ok, let's discuss on the meeting

[2014-01-03 16:12] #1016 closed, assigned to skodapetr

[2014-01-03 16:13] tomas-knap commented on #891
back button works correctly

[2014-01-03 16:13] #891 closed, assigned to bogo777

[2014-01-03 17:44] tomas-knap commented on #1017
Even when restarting db, it does not reconnect

[2014-01-03 18:39] tomas-knap opened #1018 "Possibility to add note the the cancelled execution"
Motiovation: Kuba pusti pipeline, ja ji zrusim, bo potrebuju restartovat backend. Mel bych mit moznost napsat duvod, proc jsem pipeline zrusil.

[2014-01-03 19:03] tomas-knap commented on #885
In case of using local RDF and without statistical and error handler it took 3+ minutes.

![screen shot 2014-01-03 at 8 02 05 pm](https://f.cloud.github.com/assets/3014917/1841613/c15c1736-74a9-11e3-8406-0840725d9841.png)

When using virtuoso, it took 30s (as above)

[2014-01-03 19:04] tomas-knap commented on #885
Performance of localRDF could be improved?

[2014-01-03 19:08] tomas-knap commented on #886
When trying localRDF, it is really slow, 60s+ please try that. You can use extractor with settings:

Please examine the source code, especially the work with native repository. Can something be optimized? Pri tehle rychlosti staci krokovat a pozorovat co trva tak dlouho a proc. Muze to byt par vterin, ale ne 60s+

There must be some problem when working with localRDF store

[2014-01-03 19:12] tomas-knap commented on #1017
Extractor ruian. Ma tam v hlavni DPU tride:

@OutputDataUnit(name = "XMLObce")
    public RDFDataUnit outObce;

Nicmene pro samotne ziskavani dat a posilani dat do dalsiho DPU pouziva tridy Scraper_parser

Scraper_parser s = new Scraper_parser();
        s.logger = logger;
        s.ctx = ctx;
        s.obce = outObce;

Kde s.obce je definovana jako RDFDataUnit, ale bez anotaci a primo na tride Sc

[2014-01-03 19:12] tomas-knap commented on #1017
Further, problem is that such pipeline cannot be cancelled when it tries to reconnect!

[2014-01-03 19:26] tomas-knap commented on #877
Jirko, fakt to nefunguje. Podivej se na odcs-test, pipeline "Extractor nsoud test restart". Na te pipeline je jeden extractor, ma extrahovat 20 000 triples. Pustim to se statistical and error handlerem, jak je videt z logu, tak RDF db zabiju po 4400 triples loaded :

![screen shot 2014-01-03 at 8 21 59 pm](https://f.cloud.github.com/assets/3014917/1841736/a9c0f68e-74ac-11e3-8df2-62f333a46079.png)

[2014-01-03 19:26] tomas-knap commented on #877
Nefunguje to ani bez statistical and error handleru, taky jsou ta data nekompletni, coz neni prekvapive

[2014-01-03 19:29] tomas-knap commented on #877
Neda se nic delat, musis si to odladit primo na odcs serveru. Zalozim ti ucet a poslu mailem.

Kdyz chces zabit RDF databazi, staci volat:
sudo /etc/init.d/virtuoso-opensourceETL-RDF stop

Pro nastartovani:
sudo /etc/init.d/virtuoso-opensourceETL-RDF start

Doporucuju postup jako ja - tedy pustis si v debug rezimu tu pipeline, pak zabijes rdf db, pustis, zkonstrolujes v logu, ze ses trefil. Pak ko

[2014-01-03 22:05] tomas-knap commented on #1017
Btw. Kdyz se vola

@Override
    public void addTriple(Resource subject, URI predicate, Value object) {
        Statement statement = new StatementImpl(subject, predicate, object);
        addStatement(statement, graph);

[code]

tak se pouziva FailureTolerantRepo?

[2014-01-03 22:12] tomas-knap opened #1019 "Pipeline finished but at the end, there was an error"
java.lang.IllegalArgumentException You have attempted to set a value of type class cz.cuni.mff.xrg.odcs.commons.app.pipeline.Pipeline for parameter pipeline with expected type of class java.lang.Long from query string SELECT s FROM Schedule s JOIN s.afterPipelines p WHERE p.id = :pipeline AND s.type = :type AND s.enabled = :enabled. at

![screen shot 2014-01-03 at 11 09 12 pm](https://f.cloud.gith

[2014-01-03 22:13] tomas-knap commented on #1019
See ODCS, pipeline exec no. 164

[2014-01-03 22:17] tomas-knap commented on #1019
using localRDF for storing intermediate results

[2014-01-03 22:58] tomesj commented on #1017
Když se volá metoda
@Override
    public void addTriple(Resource subject, URI predicate, Value object) {
        Statement statement = new StatementImpl(subject, predicate, object);
        addStatement(statement, graph);

[code]

, tak v metodě addStatement(statement,graph) se pak volá metoda getConnection(), která buď vrací sdílené už vytvořené a sdílené connection, pokud není tak zavolá reposit

[2014-01-03 23:06] tomesj commented on #1017
Jinak, co se týká výpadků, implementace v rámci FailureTollerantWrapper je dle implementace schopná se sama zotavit :-)

Jinak metoda ve třídě FailureTollerantWrapper  pracují s connection je typu synchonized, což by možná mohl být ten problém....Jinak nevím

[2014-01-03 23:07] tomesj commented on #877
Dobrý nápad, díky za účet i přístupové údaje :-) Takhle na serveru konečně tu chybu budu moci detekovat i já :-)

[2014-01-03 23:54] janvojt commented on #1019
Stack trace:

[code]

[2014-01-04 00:40] janvojt commented on #1019
Error was introduced in commit 6435eef47f7f9a499fe640a29619efc721e0851a. It is fixed now.

[2014-01-04 01:39] tomesj commented on #967
Tak jsem dostal email s vyjádřením přímo z openRDF podpory
- jde-li získání informací o trojici v případě fatal erroru zatím není možné - mám to přidat do jejich BUG trackeru a budou se tím zabývat v další verzi.

Přikládám obdržený email:

Hi Mr Tomes,

The current ParseErrorListener interface doesn't allow for this case. It isn't always possible to recover from parse errors and return what the s

[2014-01-04 08:08] tomas-knap commented on #1017
Jirko,
1. proc myslis, ze by ten synchronized byl spatne? Problem je v tom, ze to porad vraci cannot connect to db. Kdyby byl problem v tom synchronized, tak bych cekal, ze tam trebas zatuhne a bude cekat az jinak metoda opusti tu synchronized metodu.
2. K te tve druhe uprave v commitu,
-        this.getConnection().add(url, baseURI, dataFormat, contexts);
  -        repoConnection().add(url, base

[2014-01-04 08:10] tomas-knap commented on #1017
Jirko, zkus kdyztak tu pipeline u sebe a zkus si to oddebugovat. Pokud na problem narazis i u sebe, bude se ti to lip ladit. Kdyz ne, tak napis.

[2014-01-04 08:12] tomas-knap commented on #1019
Thanks, also for the test.

[2014-01-04 08:12] #1019 closed, assigned to janvojt

[2014-01-04 08:16] tomas-knap commented on #967
Ok, diky. Tak prosim misto  "Extract only triples with no error" dej "Extract only triples with no error. If fatal error is discovered, pipeline is stopped"

A tohle si dame do future work. Jeste sem prosim hod mail, kam jsi psal na tu podporu. A take jim prosim zaloz to JIRA issue (viz jak ti psali)

[2014-01-04 08:18] tomas-knap commented on #985
Zda se ze funguje a asi je to i rychlejsi nez ten puvodni tupleQueryResult.

[2014-01-04 08:18] #985 closed, assigned to tomas-knap

[2014-01-04 08:49] tomesj commented on #967
Zde je mail:

Hello,
I used openRDF version 2.7.7.

If I use RDFParser + ParseErrorListener + handler where I can add RDF triples.

But when I call method

parser.parse(inputStream,baseURI)

and it stops on fatal error event, I can give concrete probleme triple (subject, predicate, object) - not only message, line and column. Is it possible ?

If parser stop on warning or error event, I can get pr

[2014-01-04 09:05] tomas-knap commented on #967
Diky, jeste prosim napis tu emailovou adresu, kam jsi to posilal

On Sat, Jan 4, 2014 at 9:49 AM, Jiří Tomeš notifications@github.com wrote:

[2014-01-04 09:36] tomas-knap commented on #1017
Koukam na to jeste jednou, v logu je ted:

virtuoso.jdbc4.VirtuosoException: Problem during closing : Broken pipe

![screen shot 2014-01-04 at 10 36 05 am](https://f.cloud.github.com/assets/3014917/1844377/afdd6116-7523-11e3-8d83-9c91c593aa1c.png)

[2014-01-04 13:02] tomas-knap commented on #1017
Tak ted uz mi to nesebehne vubec, je tam nekde nekonecna smycka pravdepodobne:

![screen shot 2014-01-04 at 2 01 58 pm](https://f.cloud.github.com/assets/3014917/1844627/6bace7a6-7540-11e3-9a87-0c378c6494f8.png)

Tak nic, tohle je chyba u me, v repozitari ten problem neni.Ale problem pospany v predchozich prispevcich trva

[2014-01-04 13:11] tomas-knap commented on #886
Browse not useful with localRDF repo!! This is critical

[2014-01-04 13:26] tomesj commented on #967
Posílal jsem to na:
sesame-general@lists.sourceforge.net

[2014-01-04 13:40] tomesj commented on #1017
Zkusím tuhle pipeline u sebe :-)

[2014-01-04 15:21] tomas-knap opened #1020 "Nsoud - strange data type conversion"
The file being outputted by XSLT (metadata) is:

![screen shot 2014-01-04 at 4 20 00 pm](https://f.cloud.github.com/assets/3014917/1844799/d23699fa-7553-11e3-990e-04f079bdc240.png)

But  when such file is loaded to virtuoso, I got:

![screen shot 2014-01-04 at 4 19 43 pm](https://f.cloud.github.com/assets/3014917/1844800/e04f3574-7553-11e3-8870-45de0c140616.png)

[2014-01-04 15:33] tomas-knap commented on #1020
It is fine using localRDF

![screen shot 2014-01-04 at 4 33 08 pm](https://f.cloud.github.com/assets/3014917/1844815/949a7182-7555-11e3-90db-32ed59a2cff8.png)

[2014-01-04 16:07] tomas-knap commented on #1017
Nejaky postreh?

[2014-01-04 16:21] tomas-knap commented on #1017
Myslim ze problem bude s tim, ze ta trojice, ktera se tam uklada ma objekt (literal), ktery obsahuje soubor, ktery ma 10000+ radek. Tedy vypada to, ze to connection.addTriple nikdy neuspeje.

[2014-01-04 16:41] tomas-knap commented on #1017
It works in case of localRDF, so the problem is when inserting the triple to Virtuoso

[2014-01-04 16:45] tomesj commented on #1017
Koukám, že Tomáš byl rychlejší
- je to přesně tak
- ten literál je moc velký a proto pokus o přidání této trojice nezdaří
- vyhodí to stejnou chybu jako u výpadku RepositoryException a proto se snaží stávající spojení zahodit a získat nové stále do nekonečna...

[2014-01-04 17:15] tomas-knap commented on #1017
Ale pro local RDF to projde. Tedy je otazkou, zda se podari nastavit nejak virtuoso, aby to proslo. Nad tim zkus prosim popremyslet. Muzes to testovat tak, ze vzdy zkusis ulozit jednu trojici rucne a uvidis

[2014-01-04 17:17] tomesj commented on #1017
Tak pokus vložit hned 1. trojici na Virtuoso neprošlo ani ručně. Bude potřeba najít nějaký parametr, kterým se toto dá nastavit :-)

[2014-01-04 18:50] tomas-knap commented on #1017
Jirko, posli mi kdyztak prosim v priloze tu vkladanou trojici, zeptam se
Hugha (virtuoso podpora). Ty se zatim prosim koukni na #886

2014/1/4 Jiří Tomeš notifications@github.com

[2014-01-04 19:17] tomesj commented on #1017
Já už na #886 mám prakticky hotovou

Jde o to, že pro localRepo abychom mohli spočítat velikost, tak načítáme do
repozitáře daný soubor graf
- nejvíce času pak trvají načtení dat ze souboru do repozitáře - metoda
  parse(fileStream, baseURI)
- dále ještě metoda setContainerDataSource - řádek 210, třída
  IntlibPagedTable, frontend (především super.setContainerDataSource
  (newDataSource));

Vše os

[2014-01-04 21:48] tomas-knap opened #1021 "Stack trace missing for error in FailureTolerantRepo"
Jirko, koukni prosim proc chybi stack trace v pripade problemu s obnovenim connection, viz:

![screen shot 2014-01-04 at 10 14 41 pm](https://f.cloud.github.com/assets/3014917/1845385/5a5e9090-7585-11e3-9a20-74b45daa2bba.png)

Je mozne, ze se k tomu stack trace vubec nedostanes

[2014-01-04 21:50] tomas-knap opened #1022 "Showing named graph when browse/query for localRDF"
WHen using localRDF, is there any sense showing named graph of the data?

![screen shot 2014-01-04 at 10 48 08 pm](https://f.cloud.github.com/assets/3014917/1845446/117a7592-758a-11e3-8a17-3eb225cd5bba.png)

[2014-01-04 21:51] #963 closed, assigned to tomesj

[2014-01-05 07:29] skodapetr commented on #1017
For the frontend conteiner we can try ROC and DataSources. But theire usage
will require some cooperation from rdf side - see dao .ReadOnlyAcess.
Dne 4.1.2014 20:17 "Jiří Tomeš" notifications@github.com napsal(a):

[2014-01-05 07:34] skodapetr commented on #1022
Mozna jestli to neni tim, ze frontend na urovni gui nevi, ze je to local,
nebo virtuosu? Utvareni je ve zvlast ni tride a frontend pak pracuje s
repository.
 Dne 4.1.2014 22:50 "Tomas Knap" notifications@github.com napsal(a):

[2014-01-05 08:52] tomas-knap commented on #1017
1)
"- Bohuslav totiž v RDFQuery používá v metodě size() a loadItems vždy novou instanci pro LocalRepo
- tedy během browseru se dvakrát vytvoří repozitář a dvakrát se do něj nasypou data
- to lze zrychlit určitě na jedno načtení - držet si ten repozitář sdíleně (podobně jako connection)."

Jo, to by urcite slo. Kolik by to obnaselo prace?

2)

"Jde o to, že pro localRepo abychom mohli spočítat veli

[2014-01-05 08:56] tomas-knap opened #1023 "DPU finished, than problem clearing the graph."
There is a problem clearing the graph.

 It tries five times or so and then pipeline finishes with error. Which parameter is used to drive how many times it tries to reconnect?

see execution 188 on odcs-test

[2014-01-05 09:10] tomas-knap opened #1024 "Execution monitor - log viewer - problem showing values <..>?"
The value for log is correct in exec detail log browser

![screen shot 2014-01-05 at 10 08 39 am](https://f.cloud.github.com/assets/3014917/1846317/14f6412e-75e9-11e3-964a-29ec28a22a2d.png)

But no values between <> in detail

![screen shot 2014-01-05 at 10 08 47 am](https://f.cloud.github.com/assets/3014917/1846318/18012c76-75e9-11e3-9ed4-707072876c11.png)

[2014-01-05 09:12] tomas-knap opened #1025 "Tooltip with full log message, wrapped."
So that it is not necessary to click on the log to see the detail, but tooltip is enough.
If it can be done easily.

![screen shot 2014-01-05 at 10 10 30 am](https://f.cloud.github.com/assets/3014917/1846321/4fb60e48-75e9-11e3-97d2-8505c1acd9b8.png)

[2014-01-05 09:34] tomas-knap opened #1026 "When browsing logs, Short cannot be cast to Vector"
Internal error occurred, could be connected with national chars problem. Occurred when working with virtuoso as intermediate storage. In the log:

2014-01-05 10:32:01,234 [http-bio-8080-exec-245] ERROR cz.cuni.mff.xrg.odcs.frontend.AppEntry - Uncaught exception
java.lang.Error: java.lang.ClassCastException:java.lang.Short cannot be cast to openlink.util.Vector
    at virtuoso.jdbc4.VirtuosoConnect

[2014-01-05 09:50] janvojt commented on #1023
It is also weird, that attempt is always "1" and is never incremented. I cannot find logged message "There was a problem with the database, attempt: 1, method called: clear()." anywhere in the project, I also looked in history.

The failure tolerant repos add up to 1000 lines of duplicated code. We should replace this with an aspect, like we did with relational database. However it is in RDF modul

[2014-01-05 09:58] tomas-knap commented on #1023
The log message is just in my local version, but similar log message is at the beginning of private void handleRetries(int attempts, RepositoryException ex,
            String methodName) { in FailureTolerantRepoWrapper

Yes, rdf failure tolerant repo has lots of repeated code. Let's discuss that tomorrow

[2014-01-05 11:46] tomas-knap opened #1027 "Timestamp filter for logs"
It allows to filter only by days

![screen shot 2014-01-05 at 12 45 30 pm](https://f.cloud.github.com/assets/3014917/1846502/f2e9b3b6-75fe-11e3-957f-bd154cbcc537.png)

[2014-01-05 11:47] tomesj commented on #1021
Tohle je ještě před rozdělením do nové třídy - navíc je to myslím kvůli tomu, že jste zapomněli na {}. V poslední verzi by to mělo být.

I tak se k tomu já osobně od sebe nedostanu.

[2014-01-05 11:47] tomas-knap commented on #1027
there should be possibility to restrict hour, minute and second. All 0 by default. Comboboxes below the calendar should be enough

[2014-01-05 11:47] tomas-knap commented on #1027
Please delegate on maria if it is easy to extend the filter

[2014-01-05 11:50] tomas-knap opened #1028 "Problem adding data to virtuoso, again problem with repository.add() method"
See odcs-test, pipeline exec 192, log page 192.

Either there must be clear message why it was not added (e.g. because there is a problem with triple x,y,z), or it must be tuned so that it can add the file.

![screen shot 2014-01-05 at 12 48 49 pm](https://f.cloud.github.com/assets/3014917/1846509/795271ea-75ff-11e3-89ca-7a082e5f9ff9.png)

[2014-01-05 11:57] tomesj commented on #1017
1) Už jsem opravil viz
commit 9d20a5162c3c0ade229bbc4f3ab3508b395da8eca
a issue #886

2) Pro Virtuoso je to tak jak píšeš, pro LocalRepo by to šlo taky, ale tam se ty data nasypou do souboru a pak se vytvoří prázdné LocalRepo a všechno se tam nasype.

Rozdíl je v tom, že když vytvoříš instanci virtuosa a dáš mu správný graf, můžeš rovnou pracovat.
Když jednou vytvoříš LocalRepo můžeš s ním pracova

[2014-01-05 12:13] tomesj commented on #1028
Is not actuall - is not used last version, where is include stack trace and problem described message.

[2014-01-05 12:14] tomas-knap opened #1029 "DPU detail description - max length 512"
Please at least 2048.

[2014-01-05 12:15] tomesj commented on #1021
Tak jsem do logu rovnou přidal i ještě stack trace výpis - viz předchozí commit.

[2014-01-05 12:22] tomas-knap opened #1030 "Inconsistent Description field"
To reproduce:

Place SPARQL transformer on the pipeline.
Adjust description and put a wrong SPARQL query. Try to save
Error occurs, press cancel.
Reopen the DPU - the description is preset.

Solution. When cancelling, all the changes must be discarded

[2014-01-05 12:34] #999 closed, assigned to skodapetr

[2014-01-05 12:40] tomas-knap opened #1031 "Problems with improved iterator (ordered by queries)"
When running pipeline ares test on odcs-test, pipeline exec 188, see logs for DPU XSLT basic. As you can see at the end of the log for this DPU, all files were processed, but after that, there was an error:

DPU 'XSLT Basic' publish message short: 'Problem evaluating the query to obtain files to be processed. Processing ends.' long: ': SPARQL execute failed:[SELECT ?s ?o where {?s ?o } ORDER BY ?s

[2014-01-05 12:40] tomas-knap commented on #1031
![screen shot 2014-01-05 at 1 36 39 pm](https://f.cloud.github.com/assets/3014917/1846577/91fa6822-7606-11e3-85e6-746130ee6f5f.png)

[2014-01-05 12:45] tomas-knap commented on #886
1)
"- Bohuslav totiž v RDFQuery používá v metodě size() a loadItems vždy novou instanci pro LocalRepo

tedy během browseru se dvakrát vytvoří repozitář a dvakrát se do něj nasypou data
to lze zrychlit určitě na jedno načtení - držet si ten repozitář sdíleně (podobně jako connection)."
Jo, to by urcite slo. Kolik by to obnaselo prace?

2)

"Jde o to, že pro localRepo abychom mohli spočítat velikost

[2014-01-05 12:45] tomas-knap commented on #1017
Presunul jsem debatu k #886

[2014-01-05 12:45] tomas-knap commented on #886
Od JIRKY:

1) Už jsem opravil viz commit 9d20a5162c3c0ade229bbc4f3ab3508b395da8eca a issue #886

2) Pro Virtuoso je to tak jak píšeš, pro LocalRepo by to šlo taky, ale tam se ty data nasypou do souboru a pak se vytvoří prázdné LocalRepo a všechno se tam nasype.

Rozdíl je v tom, že když vytvoříš instanci virtuosa a dáš mu správný graf, můžeš rovnou pracovat.
Když jednou vytvoříš LocalRepo můžeš s

[2014-01-05 12:49] tomas-knap commented on #886
Jirko, add 2) :
Co brani tomu pri pipeline exec na localRDF prehravat ta data z jednoho repozitare do druheho primo? Jedine co musis zajistit je, ze pri mergovani si udelas nejaky repozitar, ktery pak priradis prislusne data unit. Ale mergovani se deje na zacatku prislusneho nasledneho DPU, takze to by melo byt ok?

Co se tyce toho browse/query, co nechapu je, proc se kdyz poustim pipeline v debug

[2014-01-05 12:50] tomesj commented on #1031
Your limit for MaxSortedTopRows in Virtuoso.ini is too slow
- it should be great than LIMIT+OFFSET used value  (100 000 for this example).

Start limit value is set to value 20 000 (optimal speed),
OFFSET+=LIMIT, after successfully iteration,
It ends, if iteration is is empty (returns no triples yet).

[2014-01-05 12:52] tomas-knap commented on #1031
Tim to neni, mam to nastavene na 100 000 000. Je mozne, ze virtuoso ignoruje hodnoty vetsi nez 100 000, ale to je treba zjistit

[2014-01-05 12:54] tomas-knap commented on #886
Jeste tu tedy chybi vyresit:

Jde o to, že pro localRepo abychom mohli spočítat velikost, tak načítáme do repozitáře daný soubor graf
- nejvíce času pak trvají načtení dat ze souboru do repozitáře - metoda parse(fileStream, baseURI)
- dále ještě metoda setContainerDataSource - řádek 210, třída IntlibPagedTable, frontend (především super.setContainerDataSource(newDataSource));

Coz souvisi i s pred

[2014-01-05 12:54] tomesj commented on #1031
Tak to je divné, já ten limit mám taky velký - zkoušel jsem to pro 7 mil triplů a bylo vše OK :-)

[2014-01-05 12:55] tomas-knap commented on #886
promysli a priprav prosim na zitra jak by se to dalo resit, aby se dalo pracovat primo s native repositories a nemuselo se to presypavat do souboru a zpet. Podle me je to pozustatek toho inMemoryRep, kde se to proste nejak serializovat muselo (do souboru), ale pro native rep to neni nutne

[2014-01-05 12:58] tomas-knap commented on #1031
Mno, hlavne je divne, ze to psalo v momente, kdy uz byly vsechny iterace hotove. Tedy zkontroluj prosim zaver toho iteratoru - kdyz se vycerpa posledni polozka.

[2014-01-05 13:02] tomas-knap commented on #886
Duvod Jirko, proc trva na tehle optimalizaci je, ze s tim Virtuosem to porad funguje dost na heslo, tedy localRDF je stabilnejsi. Ale ten browse je moc pomaly

[2014-01-05 13:03] tomesj commented on #886
Na to se podívám, jaké máme varianty

Z toho, co zbývá (trvá dlouho)
- to načtení souboru do repozitáře - metoda parse(fileStream,baseURI)
- setContainerDataSource - je už vyřešeno tím sdílením repozitáře

Jako mě nahrávání dat ze souboru taky přijde jako kravina, které zbytečně zdržuje. Souhlasím, že nejlepší by bylo si držet příslušné native ve složkách místo souborů. Teď jde jen o to, jestli mů

[2014-01-05 13:19] tomas-knap commented on #886
Pockej, ale tu instanci muzes vzdy delat v tom pracovnim adresari a ten je unikatni pro kazdou execution, ne?

[2014-01-05 13:27] tomesj commented on #886
To je pravda, pracovní adresář je unikátní, ale po vytvoření musíš zavolat metodu inicialize a tam se obávám, že si soubory pro repozitář tvoří sama - nezajímá jí, že je zrovna na místě, kde už nějaké soubory jsou. To ale musím ověřit, když by to tak nebylo, tak by asi nebylo co řešit - stačilo by nemazat repozitář :-)

[2014-01-05 13:28] tomesj commented on #1031
Kouknu se teď závěr toho iteratoru, ale myslím, že kdyby chyba byla tam, že už by se to nějak projevilo.

[2014-01-05 13:51] tomesj commented on #886
Tak je to dobré - když mám repozitář typu native (localRepo) na nějaké cestě, vytvořím instanci, používám,...na konci musím zavolat shutDown pro uvolnění. Když se pak zadá stejná cesta, stejné ID a stejné jméno grafu, rovnou se inicilizuje repozitář se správnými daty - tedy nic se nepřepisuje

Tedy stačí si ten repozitář opakovaně tvořit na stejné cestě a bude to OK
- tohle stačí vyměnit (někde kd

[2014-01-05 14:06] tomesj commented on #1031
Chybu tu žádnou nevidím, chová se to jak má

[2014-01-05 14:15] tomas-knap commented on #886
Ok, to je dobra zprava. Tedy prosim popis co je potreba upravit.

[2014-01-05 14:36] tomesj commented on #886
V podstatě stačí znát
Cestu k repozitáři, jeho ID, dataUnitName a namedGraph, se kterým se pracuje

Instanci vždy vytvářet jako
RDFDataUnit unit=RDFDataUnitFactory.createLocalRDFRepo(path,id,dataUnitName,namedGraph);
po použití volat unit.shutDown() nebo unit.release()

Co je potřeba upravit
1) Tam, kde se ukládalo
- pamatovat si ty udaje, aby pak šel přesně stejnou cestu, měl stejné ID, graph,...

[2014-01-05 15:56] tomas-knap commented on #1028
Happened again, although in a slightly different sitation. Please see exec 195. There is stack trace, but there is no reason why the data cannot be added. Writing just: Cannot put TTL file is not enough. Some inner exception must be hidden. Please check that

[2014-01-05 16:17] tomas-knap commented on #1028
Again replicated in exec record 197.

[2014-01-05 16:19] tomas-knap commented on #886
A tohle implementoval kdo v te soucasne verzi?

[2014-01-05 16:25] tomas-knap commented on #1028
Also happened on odcs, exec number 178. The same error, but no information why the ttl fine cannot be added

[2014-01-05 17:55] tomesj commented on #886
Je to ve frontendu, možná i v backendu - tak předpokládám, že Petr nebo Bohuslav

[2014-01-05 18:07] tomesj commented on #1028
For errors you describe is not responsible RDF module
- try to contact person, which is responsible for that.

I dont know nothing about that
![image](https://f.cloud.github.com/assets/3481055/1847088/37bfe584-7634-11e3-9c32-7e25c8953fa9.png)

[2014-01-05 18:36] tomesj commented on #1028
Extractor psp.cz - line 120

try {
                outputDataUnit.addFromTurtleFile(new File(tempfilename));
            }
            catch (RDFException e)
            {
                logger.error("Cannot put TTL to repository.");
                throw new DPUException("Cannot put TTL to repository.");
            }

While is not used e.getMessage() or something like that, or throw DPUExceptio

[2014-01-05 20:31] tomesj commented on #877
Pipeline Extractor nsoud test restart s daným nastavením na odcs-test nemá v tom nastaveném grafu aktuálně žádné trojice
- nelze zkoušet výpadky
- zkusím si udělat stejné (nebo podobné), které jsem použil u sebe

[2014-01-05 20:36] tomesj commented on #877
Tak u sebe mám stejné nastavení jako na odcs-test, ale ten graf je aktuálně prázdný - prosím tedy o nastavení pipeliny (grafu) pro test výpadků DB, abych měl nějaká RDF data a mohl to zkusit.

Díky

[2014-01-05 22:19] tomas-knap opened #1032 "SPARQL Loader - how effective is work with RDF repo when connection.add() repeatedly called"
Out of memory quite often in SPARQL Loader,
See ODCS (localRDF) - execution monitor records 181, 184

For exec 184, before DPU loader, the memory taken was 4,9-5,2GB, max was 6GB. So loader has to take at least 700-800MB. Why?

![screen shot 2014-01-05 at 11 14 36 pm](https://f.cloud.github.com/assets/3014917/1847592/e08f09ca-7656-11e3-86ee-f47c7bf189fb.png)

Question @tomesj : How is it with nati

[2014-01-05 22:20] tomas-knap commented on #886
We will discuss tomorrow

[2014-01-05 22:22] tomas-knap commented on #1028
Diky, upravim

[2014-01-05 22:23] tomas-knap commented on #877
pouzij prosim stejny graf, ale na konec jmena toho grafu pridej "/backup"

2014/1/5 Jiří Tomeš notifications@github.com

[2014-01-05 22:35] tomesj commented on #1032
I dont know internal implementation of native RDF - I dont know reason of this problem.

[2014-01-05 22:47] tomas-knap opened #1033 "OrderedQueryIterator not resistant to db failures"
This error appears when XSLT DPU was using OrderQuery interator:

[screen shot 2014-01-05 at 11 45 02 pm](https://f.cloud.github.com/assets/3014917/1847623/286af7aa-765b-11e3-9493-87d6655c950b.png)

It should try to reconnect as defined in config.properties, so typically indefinitely.

We should discuss the FailureTolerantRepo tomorrow

[2014-01-05 22:49] tomas-knap commented on #1032
Yes, but you should have a general idea how it works, whether ti holds everything in a memory till the end of DPU  execution (till the time when the native repository is closed) or every conection.add() operation is directly stored to the file

[2014-01-05 22:55] tomesj commented on #1032
Is not stored after every calling connection.add() - it is keep in some pairs in memory and then synchronize to file, when is" right time for application". But I dont know, when is it executed.

[2014-01-05 23:12] janvojt commented on #635
I setup compile-time weaving with AspectJ instead of spring-aop. This way I could weave aspects into 3rd party dependency (= EclipseLink), fix db sequences on failure, restore original state of DataObjects, and rerun the whole process again. Please test.

BTW it takes a little longer to build commons-app now, because of compile-time weaving. However there is no load-time weaving necessary now, so

[2014-01-05 23:16] tomesj commented on #1032
I find in javadoc for NativeStore - possible solution of your problem

public void setForceSync(boolean forceSync)
- Specifiec whether updates should be synced to disk forcefully, must be called before initialization. Enabling this feature may prevent corruption in case of events like power loss, but can have a severe impact on write performance. By default, this feature is disabled.

[2014-01-05 23:18] tomas-knap commented on #1032
Ok, so we should profile the SPARQL loader to see the memory footprint.
setForceSync() may help, but as they wrote, it has severe impact on
performance, so I think that we need something in the middle, it is not
needed to synchronize every single triple directly to disk.

On Mon, Jan 6, 2014 at 12:16 AM, Jiří Tomeš notifications@github.comwrote:

[2014-01-06 07:34] skodapetr commented on #1024
Problem can be just in the TextArea or whatever is used .. the < .. > is probably somehow interpreted as html .. use of some "text to save html .. function should solve this".

On the other hand .. it can be feature as if you log <b>Bold</b> you can use some HTML in logs, records ..

[2014-01-06 07:39] skodapetr commented on #1026
odcs, odcs-test ? could you please post the results of query

[code]

[2014-01-06 08:09] tomas-knap commented on #1026
odcs-test

[2014-01-06 08:11] tomas-knap commented on #1026
2259038   210     190     10000   Ending parsing - SUCCESSFUL     cz.cuni.mff.xrg.odcs.rdf.handlers.TripleCountHandler    <DB NULL>   1388912950344
 2259039      210     190     10000   TOTAL ADDED:1 triples   cz.cuni.mff.xrg.odcs.rdf.handlers.TripleCountHandler    <DB NULL>   1388912950344
 2259040      210     190     10000   Result was added to output data unit as turtle data containing one tri

[2014-01-06 08:28] tomas-knap opened #1034 "Performance issues of running pipelines"
![screen shot 2014-01-06 at 9 27 13 am](https://f.cloud.github.com/assets/3014917/1849220/68776ea4-76ac-11e3-81d0-160c51b95093.png)

![screen shot 2014-01-06 at 9 27 50 am](https://f.cloud.github.com/assets/3014917/1849225/7e8178b6-76ac-11e3-95f7-69144eac11b7.png)

[2014-01-06 08:38] tomas-knap commented on #1034
In gov.cz:instituce, loader was currently running

[2014-01-06 08:40] tomas-knap commented on #1032
If you look at:

![screen shot 2014-01-06 at 9 35 39 am](https://f.cloud.github.com/assets/3014917/1849266/b67b21e4-76ad-11e3-8e31-662c22e1653b.png)

You can check that on ODCS.
As you can see loader was loading the data for more than 4hours, taking 6GBs of memory (see #1034). I will try to reproduce that with a single running pipeline.

[2014-01-06 08:42] tomas-knap opened #1035 "When pipeline finishes/is cancelled, heap is not properly revealed"
No pipeline is running, but:
![screen shot 2014-01-06 at 9 39 41 am](https://f.cloud.github.com/assets/3014917/1849290/728f2ee8-76ae-11e3-84f8-465d31b7d455.png)

[2014-01-06 09:04] #1004 closed, assigned to skodapetr

[2014-01-06 09:05] tomas-knap commented on #1031
Could be solved by #1033

[2014-01-06 09:11] tomas-knap opened #1036 "Below the visibility, please add "last update field""
"Last update: XX" should be added below "Visibility". It shows the last successful replace. If the DPU was newly created, it shows the time when it was created. XX in Last update is the date (date + hours + minutes + seconds)

![screen shot 2014-01-06 at 10 09 32 am](https://f.cloud.github.com/assets/3014917/1849404/73921d2e-76b2-11e3-948e-8e2e41b96933.png)

[2014-01-06 09:15] #987 closed, assigned to tomesj

[2014-01-06 09:17] tomas-knap commented on #977
Does not happen since that time

[2014-01-06 09:17] #977 closed, assigned to janvojt

[2014-01-06 09:20] tomas-knap commented on #967
Nechapu. To sis to nezkusil?

![screen shot 2014-01-06 at 10 18 42 am](https://f.cloud.github.com/assets/3014917/1849442/a336b5de-76b3-11e3-97ae-fac3aff4a7e5.png)

[2014-01-06 09:22] #958 closed, assigned to kukharm

[2014-01-06 09:22] #898 closed, assigned to kukharm

[2014-01-06 09:24] tomas-knap commented on #689
Backend may be launched by: sudo /etc/init.d/odcs start/stop/restart

[2014-01-06 09:24] #689 closed, assigned to tomas-knap

[2014-01-06 09:26] tomas-knap commented on #692
So this issue is ready for testing, right?

[2014-01-06 09:27] #548 closed, assigned to jakubklimek

[2014-01-06 09:32] tomas-knap opened #1037 "Proof-read the user doc"

[2014-01-06 09:37] #1021 closed, assigned to tomesj

[2014-01-06 09:38] tomas-knap commented on #1017
test on Virtuoso 7

[2014-01-06 09:44] tomas-knap commented on #1028
See DPUa/#38

[2014-01-06 09:44] #1028 closed, assigned to tomas-knap

[2014-01-06 09:50] tomas-knap commented on #1020
Solved (workaround) by not using data type on fileYear literal

[2014-01-06 09:51] #976 closed, assigned to tomas-knap

[2014-01-06 10:06] tomesj commented on #967
Já si to zkusil jen na File loaderu  a teď koukám, že pro SPARQL loader, jsem to přidal omylem k STOP místo ke CONTINUE, proto to přetečení. Opravím a přidám pro jistotu \n mezi to. Díky za upozornění.

[2014-01-06 10:07] tomas-knap commented on #1032
Mno, ze to zabira prilis mnoho pameti. tedy zmer si memory footprint. Da se k tomu pouzit napr.
http://visualvm.java.net/. To je zdarma, jen stahnes a spustis myslim, uvidi to bezici Javy

Zkus to prosim zmery trebas pro nahravani nejakych stovek tisic trojic - s localRDF i virtuoso. Pouzij trebas ten graf "...nsoud/backup"  Sepsal jsem ti to k #1034

napis sem prosim vysledky, tedy o kolik se zve

[2014-01-06 10:08] tomas-knap commented on #967
ok

2014/1/6 Jiří Tomeš notifications@github.com

[2014-01-06 10:15] tomas-knap opened #1038 "Please add execution number and instance (odcs/odcs-test) to the sent emails."
To add instance, you can just take the path on which backend is running.

It should be for sure in emails sent after each exec. Useful also in daily reports.

[2014-01-06 10:19] tomas-knap commented on #1032
Jirko, ted jsem testoval samotny SPARQL loader, viz execution 194, odcs, localRDF, validator vypnuty. A tady je vysledek:

bezela jedina pipeline, zaclo to stoupat az pri SPARQL loaderu!

![screen shot 2014-01-06 at 11 17 55 am](https://f.cloud.github.com/assets/3014917/1849727/f9bafe26-76bb-11e3-8d39-ad8048222f53.png)

[2014-01-06 10:23] tomas-knap commented on #1032
Je potreba sahnout jeste po silnejsich profilovacich toolech, abys videl v cem presne je problem. Zkus trebas:

http://www.ej-technologies.com/download/jprofiler/files
nebo http://www.eclipse.org/mat/ (ten je free)

[2014-01-06 10:53] tomesj commented on #1032
Nejde tady čistě o implementaci NativeStore ? Protože když se podíváš do logu, tak se tam provádí pro každou trojici jaká si optimalizace a to myslím "žere" dost tu pamět. Pokud tohle dělá jen localRDF, tak je to jasné - implementace  je stejná pro oba :-)

[2014-01-06 11:10] tomas-knap commented on #1032
Nad virtuosem se to chova rozumne, viz odcs-test, exec 203:

![screen shot 2014-01-06 at 12 09 43 pm](https://f.cloud.github.com/assets/3014917/1850022/2707ccea-76c3-11e3-88a2-6f1e56abfa85.png)

[2014-01-06 11:11] tomesj commented on #1032
Viděl bych to stejně.

[2014-01-06 11:23] kukharm opened #1039 "SPARQL Extractor in DBpedia pipeline. Null values"
SPARQL Extractor in DBpedia pipeline contains null values on Details tab

![sparql extractor](https://f.cloud.github.com/assets/3471169/1850070/ed2ee362-76c4-11e3-8911-d5120cedf738.jpg)

[2014-01-06 11:40] tomesj commented on #1039
I have last version and I have no problem with null values.

[2014-01-06 12:50] tomesj commented on #1032
Jinak přikládám svoje výsledky měření - 1 pipeline, SPARQL extractor -> SPARQL loader (300 tisíc trojic):

Virtuoso: (čas začátku loaderu 12:02)
![virtuoso](https://f.cloud.github.com/assets/3481055/1850396/bd69e760-76d0-11e3-87f8-6ce243303372.jpg)

NativeStore: (čas začátku loaderu 13:00)
![nativstore](https://f.cloud.github.com/assets/3481055/1850397/c47fe536-76d0-11e3-8dde-f72bd66fed79.jpg)

[2014-01-06 13:03] tomas-knap commented on #1032
Jirko, udelej si pipeline, ktera ma SPARQL extractor:

http://internal.xrg.cz:8890/sparql
http://linked.opendata.cz/resource/dataset/legislation/nsoud.cz

Je tam cca 300tisic taky, ale na tom mi to uz padalo

A nasledne loader nekam k tobe. Staci pro ten localRDF.  A mezitim zkus mrknout do kodu/pouzit jeden z tech vykonnejsich profileru, abys zjistil, jake objekty ti tam zustavaji vistet

[2014-01-06 13:08] tomesj commented on #1032
Dobrá zkusím :-)

[2014-01-06 13:08] tomas-knap opened #1040 "Remember me does not work when user logs in"
I have to insert credentials everytime

[2014-01-06 13:17] kukharm commented on #1039
I  tested on commit ee5fdc9943cc42b5b7db5be6ecd1257ae9c69e13
Author: Jan Vojt jan@vojt.net 2014-01-06 00:22:49
Committer: Jan Vojt jan@vojt.net 2014-01-06 00:22:49
and reinstall DB today.
There is no problem with SPARQL extractor itself, but when i open it from DBpedia pipeline that is initially in the system there are null values. I think the problem is in data.sql  or schema.sql file

[2014-01-06 14:00] tomas-knap opened #1041 "Possibility to store data into files as they are exchanged between DPUs"
There has to be an alternative way hot to output big files other than storing them as literals.

Motivation:RUIAN provides XML files which has 100s MBs

[2014-01-06 14:28] janvojt commented on #1040
Steps to reproduce?

Just to be clear, cookie is deleted on explicit user request to log out.

[2014-01-06 14:45] tomas-knap commented on #1032
Zkousel jsem jeste nsoud.cz pipeline, s dvoujnasobnymi daty a taky jsem se 2GB narazil:

![screen shot 2014-01-06 at 3 46 37 pm](https://f.cloud.github.com/assets/3014917/1851048/65310cd4-76e1-11e3-853e-478470c9a06e.png)

[2014-01-06 14:54] tomas-knap commented on #1040
I have to log in again and again. Cookies enabled. There is cookie:
remember-meContent:
"rO0ABXNyADJjei5jdW5pLm1mZi54cmcub2Rjcy5mcm9udGVuZC5hdXRoLlJlbWVtYmVyTWVUb2tlbkpDmYlA5jrQAgADTAAHY3JlYXRlZHQAEExqYXZhL3V0aWwvRGF0ZTtMAARoYXNodAASTGphdmEvbGFuZy9TdHJpbmc7TAAIdXNlcm5hbWVxAH4AAnhwc3IADmphdmEudXRpbC5EYXRlaGqBAUtZdBkDAAB4cHcIAAABQvc+7MR4dACEMTA6NDBlNDlmYzk4YTRlNzdlZTk4M2RmMWRhNDJmNGE2YTg4M2M0M2QwMGZ

[2014-01-06 14:54] tomesj commented on #1032
Zkoušel jsem to už po úpravě a dostal tyhle výsledky (localRDF, velká data):

Performance:
![performance](https://f.cloud.github.com/assets/3481055/1851085/55656222-76e2-11e3-87f4-a5b9139ac8da.jpg)

Memory:
![memory](https://f.cloud.github.com/assets/3481055/1851088/5c90c32a-76e2-11e3-965f-4ee89a01672e.jpg)

Tedy pohybuje se to u mě v normálních hodnotách (nic neobvyklého)

[2014-01-06 15:04] tomesj commented on #1039
Yes, maybe is it in data.sql or schema.sql - please reasign this for Honza. I have lots of work with others more important issues. Thanks

[2014-01-06 15:42] tomas-knap commented on #1032
Jirko, co myslis tim "velka data"?

Zkus to kdyztak prosim na:
http://internal.xrg.cz:8890/sparql
http://linked.opendata.cz/resource/dataset/legislation/nsoud.cz/backup

Dat je tam 2790494 triplu.

[2014-01-06 15:42] tomas-knap commented on #1032
Jinak z tech obrazku budou nejspis zajimave - allocation hot spots, mrknem na to tady

[2014-01-06 16:40] tomas-knap commented on #886
1) Je treba upravit RDFDataUnitHelper.getRepository() - JIrka poresi s Petrem kde ziskat params pro inicializaci repozitare
2) soubor se vubec nevytvari pri pipeline run a localRDF

[2014-01-06 16:43] tomas-knap opened #1042 "Merging data units with native repository"
Can we merge data units as a whole, not by parts? In case of virtuoso, it is merged as a whole

[2014-01-06 17:13] tomas-knap opened #1043 "Create RDF REconnect aspect"

[2014-01-06 17:25] tomas-knap commented on #1037
aktualizovat obrazky, popis
uvodni stranka
precist (marie)
- sehnat nekoho, kdo zkusi podle navodu zalozit pipeline (1 extraktor, 1 loader) , pustit, podivat se na vysledek, pustit v debugu, podivat se na data co produkuje DPU.
- sehnat nekoho kdo to precte a opravi Aj

deadline 20.1.

[2014-01-06 17:27] tomas-knap opened #1044 "Dotestovat scenare"
https://grips.semantic-web.at/display/LOD2/Testing

Deadline 7.1.

[2014-01-06 17:35] tomas-knap commented on #1022
schovat named graphs pro local

[2014-01-06 18:59] tomas-knap commented on #708
timeout vyhodit

[2014-01-07 06:31] tomas-knap commented on #1032
Tak jsem zkusil tvoje upravy zatim na odcs-test a bez vysledku - i tam to pada. ZKontroluju celkove zatizeni systemu.

Viz pipeline exec 209 na odcs-test

[2014-01-07 06:31] tomas-knap commented on #1032
Ale bude tam problem, cela pipeline vzdy sebehne a skonci to u nejmene narocne aktivity - nahrani dat

[2014-01-07 07:35] skodapetr commented on #1026
Důvodem bude ten super velkej log .. jenž virtuoso-jdbc nezvládne.
Jedině to zkusit také jako LONG NVARCHAR .. ale pak by to muselo být
jako byte[] v aplikaci a dělat konverze do stringu při zobrazení.
Tohle by se muselo ozkoušet. Jiným řešením je jiná relační db .. neb u
jiné by zase takhle konverze třeba byla zbytečnou a jen zdržovala ..

06.01.14, Tomas Knap notifications@github.com:

[2014-01-07 07:37] skodapetr commented on #1026
Důvodem bude ten super velkej log .. jenž virtuoso-jdbc nezvládne.
Jedině to zkusit také jako LONG NVARCHAR .. ale pak by to muselo být
jako byte[] v aplikaci a dělat konverze do stringu při zobrazení.
Tohle by se muselo ozkoušet. Jiným řešením je jiná relační db .. neb u
jiné by zase takhle konverze třeba byla zbytečnou a jen zdržovala ..

[2014-01-07 07:43] skodapetr commented on #1035
What "profiler" do you use to get this informations?

[2014-01-07 11:05] tomas-knap commented on #1026
Mno, stacilo by schovat ten error message, at se nezobrazi, kdyz to clovek nekde ukazuje. A uvidime co v te mysql. Co myslis?

[2014-01-07 11:07] tomas-knap commented on #1035
Could be caused by the previous run of SPARQL loader, see #1034

[2014-01-07 11:08] tomas-knap commented on #1035
http://visualvm.java.net/

[2014-01-07 15:07] tomas-knap opened #1045 "Strange running times of pipelines"
![screen shot 2014-01-07 at 4 05 50 pm](https://f.cloud.github.com/assets/3014917/1860038/5a96e8c6-77ad-11e3-98b5-701600051583.png)
![screen shot 2014-01-07 at 4 06 03 pm](https://f.cloud.github.com/assets/3014917/1860041/5d770dbe-77ad-11e3-80dc-fae67450b266.png)
![screen shot 2014-01-07 at 4 06 09 pm](https://f.cloud.github.com/assets/3014917/1860045/62231060-77ad-11e3-923f-420b4a7d8343.png)

[2014-01-07 15:08] tomas-knap commented on #1045
See the change in duration of data from PSP.cz
It seems that data from psp.cz is the only pipeline for which the duration is updated. Check if it works correctly when more pipelines is running continuously

[2014-01-07 22:52] janvojt commented on #1040
Was the problem only on your localhost? I just tried my machine and it works. I also tried odcs.xrg and odcs-test, both worked. I tried it by invalidating session in tomcat.

[2014-01-07 22:54] janvojt commented on #1040
If it does not work for you on odcs.xrg, it is most likely caused by some browser setting or antivirus on your client. Please try a different PC, so we can investigate...

[2014-01-08 10:10] tomas-knap opened #1046 "Settings data loaded only when the session starts?"
When user changes number of rows in table and the same user is logged in a different session, the other user sees the change only when new session is started.

Please discuss why. The settings are loaded only when the session starts?

![screen shot 2014-01-08 at 11 07 56 am](https://f.cloud.github.com/assets/3014917/1867346/01cde1a4-784d-11e3-95e7-1f2886af4a8c.png)

[2014-01-08 10:13] tomas-knap opened #1047 "Execution monitor detail - lenght should be determined by Settings"
Currently, the settings does not influence exec monitor detail number of rows:
![screen shot 2014-01-08 at 11 11 54 am](https://f.cloud.github.com/assets/3014917/1867367/7a9974b8-784d-11e3-99f3-79b0d1d5169a.png)

Solution: Exec monitor detail should resize as well

[2014-01-08 11:14] tomas-knap opened #1048 "Problem creating ttl dump when using localRDF"
When using localRDF, there is in the log:

See odcs, exec 201

![screen shot 2014-01-08 at 12 10 02 pm](https://f.cloud.github.com/assets/3014917/1867699/9a10b09c-7855-11e3-86b6-56ee75104cdd.png)

Can you please explain what does it mean and when it could happen? It seems that the file to which localRDF is dumped cannot be created, but it is strange that it is in the middle of the DPU execution.

[2014-01-08 12:36] tomesj commented on #1048
Raději česky:
Stalo se pravděpodobně to, že jsi nasadil tu novou verzi ještě během běhu této pipeline - došlo k restartu (viz DataUnitManager.reload), soubor, který byl již dříve vytvořen se zkoušel načíst - implementace se ale mezitím změnila (již se soubor neukládá ani nenačítá) a pravděpodobně byla v běhovém prostředí ještě stará verze - tedy se zkoušelo neúspěšně načíst (tak jak to fungovalo)

[2014-01-08 13:03] #1030 closed, assigned to bogo777

[2014-01-08 13:05] janvojt commented on #1046
I think it is a better solution than asking database upon every request...
Also, it is an unusual use case having two simultaneous sessions for the same user. What would be the scenario? Having 2 different browsers open? Sharing one account across multiple users (for this case actually I think current behaviour is better)?

[2014-01-08 13:11] tomas-knap commented on #1048
To ne, novou verzi jsem tam jeste nedaval.

2014/1/8 Jiří Tomeš notifications@github.com

[2014-01-08 13:14] tomas-knap commented on #1046
Yes, I am not saying it is a bug, just the clarification is needed

[2014-01-08 13:15] tomas-knap commented on #1046
So as it is implemented right now, if the user A changes anything in user settings, the same user A in a different session can see it only after the sesion is restarted?

[2014-01-08 13:15] tomesj commented on #1048
Tak to je divné, to potom moc nechápu.....

[2014-01-08 13:26] #1047 closed, assigned to bogo777

[2014-01-08 13:35] tomas-knap commented on #1048
Zkus na to prosim kouknout a vysvetlit cim by to mohlo byt

Diky,
Tomas

On Wed, Jan 8, 2014 at 2:15 PM, Jiří Tomeš notifications@github.com wrote:

[2014-01-08 13:46] tomesj commented on #1048
No pokud máš starou verzi, tak se nabízí otázka, zda na té cestě máš ten soubor dump_dat.ttl ( který měl být pro každé DPUčko).

[2014-01-08 13:54] tomas-knap commented on #1048
Nemam ted a nevim jestli tam byl, bo to bezelo v rezimu normal, tedy nic
potom nezustalo. Mas nejake vysvetleni?

2014/1/8 Jiøí Tome¹ notifications@github.com

[2014-01-08 13:54] #1024 closed, assigned to bogo777

[2014-01-08 13:57] #1011 closed, assigned to bogo777

[2014-01-08 13:58] tomas-knap commented on #886
Jirko, poprosil bych jeste nejake porovnani. Tedy ze nahrajes trebas 50000 trojic a pak zkusis browse a nejaky dotaz na virtuoso a localRDF. Vysledky prosim zapis na confluence na zvlastni stranku do devel. notes. Zopakujj pro milion trojic.

[2014-01-08 13:58] tomesj commented on #1048
Nemám pro to žádné vysvětlení - vlastně nechápu ani proč se tvořil/načítal soubor, když šlo o klasický běh.

[2014-01-08 14:07] tomesj commented on #1048
Když teď nad tím přemýšlím - možná je to kvůli tomu reload na DataUnitManager, protože pokud šlo o klasický běh, soubor se vůbec netvořil, pak se zavolal reload (pokud jsem dobře koukal na implementaci tak se pokoušel si data načíst a to skončilo chybou, protože soubor tam vlastně není.)

To se tedy zeptej Petra @skodape jako autora DataUnitManager, jak to vlastně funguje.
Já Ti k tomu asi více ne

[2014-01-08 14:08] bogo777 commented on #1013
Duplicates #1012.

[2014-01-08 14:08] #1013 closed, assigned to bogo777

[2014-01-08 14:09] tomesj commented on #1032
Tohle tedy můžeme uzavřít ne - viz mail :-)

[2014-01-08 14:13] tomas-knap commented on #1032
jj

2014/1/8 Jiøí Tome¹ notifications@github.com

[2014-01-08 14:18] #1035 closed, assigned to tomas-knap

[2014-01-08 14:19] tomas-knap commented on #1034
not enough memory on the server

[2014-01-08 14:19] #1034 closed, assigned to tomas-knap

[2014-01-08 14:41] #1010 closed, assigned to bogo777

[2014-01-08 14:58] #1022 closed, assigned to bogo777

[2014-01-08 15:39] janvojt commented on #1046
Yes, number of table rows is taken from User object kept in authentication context as logged user. Once User is added to authentication context, it becomes a detached entity and stays there as-is even if data in DB change. If a user changes his settings, this detached object is updated, and merged with the database. As authentication context is session-scoped, this object changes only for current

[2014-01-08 15:45] #1046 closed, assigned to janvojt

[2014-01-08 15:49] kukharm opened #1049 "RDF File Extractor/Loader problems"
I tried to test on http://odcs.xrg.cz:8080/odcleanstore-test

I created new pipeline: file extractor ->sparql transformer -> file loader and tried to run it. I get failed execution because of error path to file of RDF File Extractor

Path to file "/home/knap/C:\ted\dbpedia2.rdf"doesnt exist

![extractor2](https://f.cloud.github.com/assets/3471169/1869472/ff569a14-787a-11e3-8e7f-361bae52634a.jpg)

[2014-01-08 15:52] tomas-knap commented on #1049
To je spravne, pokud zadavas cestu k souboru, tak musis brat cestu ve
vztahu k masine, na ktere bezi backend. Akorat nevim proc je tam /home/knap
zrovna

On Wed, Jan 8, 2014 at 4:49 PM, Maria Kukhar notifications@github.comwrote:

[2014-01-08 16:38] kukharm opened #1050 "not stable pipeline execution"
i tested on commit ee5fdc9943cc42b5b7db5be6ecd1257ae9c69e13
Author: Jan Vojt 2014-01-06 00:22:49

and checked the part of scenario from https://grips.semantic-web.at/display/LOD2/2013-11-17+Scheduler+testing
- Create new pipeline "Test pipeline1": file extractor ->sparql transformer -> file loader.
- Try to run
- Create 9 copy of "Test pipeline1" and rename it to Test pipeline1-Test pipeline10
- S

[2014-01-08 16:44] kukharm commented on #787
please explain how should it work (i'll will add it to doc). now it works the same as i describe at the beginning - the execution start after at least one pipeline from list finished. Is that right?

[2014-01-08 17:04] tomesj opened #1051 "Null pointer exception in AppEntry"
When I clicked on DEBUG button I get

![image](https://f.cloud.github.com/assets/3481055/1870379/a4a4d91c-7886-11e3-85e3-da0dc4250a16.png)

Tomcat log says:

7:58:45.283 [catalina-exec-10] ERROR c.c.m.x.o.f.AppEntry - Uncaught exception
java.lang.NullPointerException: null
    at cz.cuni.mff.xrg.odcs.frontend.gui.components.DataUnitSelector.refreshDpuSelector(DataUnitSelector.java:221) ~[DataUnitS

[2014-01-08 17:08] bogo777 commented on #1025
Implemented as for input/output descriptions in mapping dialog, but it doesn't work in this place, strange. Will continue...

[2014-01-08 17:10] bogo777 commented on #1018
Jak se bude ten duvod zadavat? Dialog pri ruseni pipeline? Bude se to zobrazovat jako dalsi sloupec v execution listu? Nebo jak?

[2014-01-08 20:27] janvojt opened #1052 "Cannot open pipeline execution detail."
Reproduced on commit 4c17574197762ff465e3a61a801fa123afd47a19. When clicking on a running pipeline (launched by scheduler) I could not open detail and the following error popped out:

![screenshot from 2014-01-08 21 17 45](https://f.cloud.github.com/assets/2247062/1872268/18a2d7f8-78a3-11e3-8015-ebaa260d89b1.png)

I am not sure who to assign, but Petr might know why DataUnitGraph is null...

Stack

[2014-01-08 20:38] janvojt commented on #1050
Do you have backend log for this execution?

This is a problem with RDF. @tomesj any ideas?

[2014-01-08 21:39] tomesj commented on #1050
Sorry, I have no ideas about this.

[2014-01-08 21:46] #1032 closed, assigned to tomesj

[2014-01-09 09:39] tomas-knap commented on #1018
Asi nejhezci by bylo:

Kdyz kliknu na cancel, tak vyskoci dialog s textBoxem, kam muzu vyplnit duvod proc byla pipeline rusena. Neni povinne vyplnovat ten duvod. A ten duvod se pak pripoji k te standardni pipeline event:

"Pipeline execution aborted by user XX". Reason:"to co bylo v text boxu"

![screen shot 2014-01-09 at 10 38 30 am](https://f.cloud.github.com/assets/3014917/1876432/f78f49ba-7911

[2014-01-09 09:41] tomas-knap commented on #1032
The problem was with low physical memory on the server + to high maxHeapSize

[2014-01-09 11:44] kukharm commented on #1050
Unfortunately i don't have logs. I tried to reproduce it but I did not succeed. Earlier i got problem with unchanging status 2 times. If I will reproduce it one more time i will save the logs.

[2014-01-09 14:39] kukharm opened #1053 "logs open ecxeption"
I can't open logs on Execution monitor

tested on сommit 5babcae61db479c276dd6e91b23be60526ad3ab6
Author: Jan Vojt jan@vojt.net 2014-01-09 11:24:57
Committer: Jan Vojt jan@vojt.net 2014-01-09 11:24:57

![logs](https://f.cloud.github.com/assets/3471169/1878444/8cc2da50-793b-11e3-9598-555647416bc1.jpg)

15:31:57.908 [http-bio-8080-exec-3] ERROR c.c.m.x.o.f.AppEntry - Uncaught exception
java.lang.Nul

[2014-01-09 15:00] kukharm opened #1054 "Schedulef notofication - save button must be diable after saving"
After changing notification options and saving, save button don't disable.

[2014-01-09 15:04] bogo777 commented on #1051
Should be solved by same commit as #1053.

[2014-01-09 15:13] tomas-knap commented on #1051
Please test

[2014-01-09 15:33] tomas-knap opened #1055 "SPARQL LOADER failed and did not retry"
Look at execution of pipeline ARES test, ODCS, execution 213.

[2014-01-09 15:35] tomas-knap commented on #1055
there is a problem clearing the graph. But anyway, the execution should try to reconnect. Why it did not try to reconnect?

[2014-01-09 15:50] kukharm commented on #1044
https://grips.semantic-web.at/display/LOD2/6-9.01.14+Testing

[2014-01-09 15:50] #1044 closed, assigned to kukharm

[2014-01-09 15:51] #1053 closed, assigned to bogo777

[2014-01-09 16:19] tomas-knap commented on #961
Bohuslav,

current situation is:
![screen shot 2014-01-09 at 5 14 13 pm](https://f.cloud.github.com/assets/3014917/1879373/31966fbc-7949-11e3-8c57-387afab52785.png)

Could you please return back the font (boldness) as it was:

![screen shot 2014-01-09 at 5 14 22 pm](https://f.cloud.github.com/assets/3014917/1879375/35d86800-7949-11e3-8778-2bdad40d37f4.png)

I liked the previous font format more, t

[2014-01-09 18:10] tomesj commented on #1051
It´s OK now :-)

[2014-01-09 18:10] #1051 closed, assigned to bogo777

[2014-01-09 18:18] #1049 closed, assigned to tomas-knap

[2014-01-09 18:46] tomesj commented on #1055
It´s goes about that time set on target SPARQL endpoint for query execution is less that time need for clean this graph - is is thrown this exception:

cz.cuni.mff.xrg.odcs.rdf.exceptions.InsertPartException: HTTP/1.1 500 SPARQL Request Failed. Caused by Virtuoso S1TAT Error RC...: Returning partial results after anytime timeout

SPARQL query:
CLEAR GRAPH http://linked.opendata.cz/resource/dataset

[2014-01-09 19:42] tomas-knap commented on #1055
Yes, but the problem is not that it was not loaded successfully, but the
problem is that it was not trying again and again to load

On Thu, Jan 9, 2014 at 7:46 PM, Jiří Tomeš notifications@github.com wrote:

[2014-01-09 19:43] tomas-knap commented on #1055
Jirko, vyhod prosim ten timeout z URI, ten je tam zbytecny. Prioritu ma
stejne timeout ve virtuoso.ini

On Thu, Jan 9, 2014 at 8:42 PM, Tomas Knap toknap@gmail.com wrote:

[2014-01-09 20:21] tomesj commented on #1055
OK, timeout vyhodím. Každpodádně k nahrávání dat v tomhle případě vůbec nedošlo - výjimka byla vyhozena ještě v metodě prepareGraphTargetForLoading, která předchází namotnému nahrávání - tedy o možnost opakované connection tu ještě nemohla být řeč.

[2014-01-09 21:52] tomas-knap commented on #1055
Mno, nicmene i v pripade pripravy (predpokladam, ze tou pripravou mas na
mysli napriklad mazani grafu) se muze stat, ze jednou dotaz selze (server
je vytizen), ale podruhe pri opakovani uspeje. tedy I tato aktivita (obecne
vsechny aktivity loaderu, ktere muzou selhat na problem s target
 repozitarem) by se pri nastaveni -1 v konfiguraci loaderu meli pokouset o
pripojeni znovu a znovu, bo je sance,

[2014-01-10 08:57] tomas-knap opened #1056 "Transaction deadlocked and the SPARQL loader did not retry"
See ODCS, pipeline execution 235, 238. V obou pripadech to OPET skoncilo na SPARQL loaderu.

Cim je to zpusobene?

Chapu ze neni uplne trivialni zajistit, aby tam vsechny data byly, ale nechapu, proc se to proste nepokousi znovu a znovu pripojit, tak jak by se to melo chovat, kdyz je ve SPARQL loader konfiguraci -1? Cim si to vysvetlujes?

Jirko, podivej se na to. Nez neco zacnes opravovat, napis

[2014-01-10 08:58] tomas-knap commented on #708
Vyhod ten timeout a dej mi vedet, uzavru to

[2014-01-10 08:59] #708 closed, assigned to tomesj

[2014-01-10 09:01] tomas-knap commented on #1033
Jirko co jsi zjistil v tomto ohledu? Zkus trebas nejakou pipeline s XSLT a pri provadeni XSLT zabij db a obnov. Iterator by to mel prezit. Dej mi prosim vedet vysledky.

[2014-01-10 09:05] tomas-knap commented on #1055
Jirko? Uprav to prosim tak, aby se parametr pro "pocet opakovani" uvedeny u prislusneho SPARQL loader transformeru vztahoval i na pripravne casti - tedy obecne na veskerou aktivitu s cilovym SPARQL endpointem

[2014-01-10 09:05] tomas-knap commented on #1050
Please reproduce again

[2014-01-10 09:05] #967 closed, assigned to tomesj

[2014-01-10 09:09] tomas-knap commented on #1056
Je to zase zpusobene tim, ze se "reconnect pokusy" nevztahuji napriklad na "add to", tedy kdy kopirujes data z temp grafu do ciloveho?

[2014-01-10 09:09] tomas-knap commented on #1056
Pripadne tim samym co u #1055

[2014-01-10 12:09] tomas-knap commented on #886
U me se to zda ok, cekat 4-5s se da. Zkousel jsem 50.000 a 300.000.
Akorat se mi nelibi ze delam praci za tebe

[2014-01-10 12:10] #886 closed, assigned to tomesj

[2014-01-10 12:11] tomas-knap commented on #635
Does not happen since that time

[2014-01-10 12:11] #635 closed, assigned to janvojt

[2014-01-10 12:20] tomas-knap commented on #961
Asi za to muze @janvojt
https://github.com/mff-uk/ODCS/commit/5babcae61db479c276dd6e91b23be60526ad3ab6

[2014-01-10 12:21] tomas-knap commented on #998
@skodape Any suggestion? I would suggest not to have the same running state for pipeline running normally and pipeline running after cancelling.

[2014-01-10 12:51] #993 closed, assigned to tomas-knap

[2014-01-10 12:51] #914 closed, assigned to tomas-knap

[2014-01-10 13:02] kukharm commented on #975
@tomas-knap specify please how they should be grouped?

[2014-01-10 13:38] janvojt commented on #961
Yes, I changed this. My situation (on Linux - every OS has a little different set of fonts):

Before:
![screenshot from 2014-01-10 14 23 23](https://f.cloud.github.com/assets/2247062/1887381/2f3b25f6-79fc-11e3-8aa3-56c501fe5686.png)

After:
![screenshot from 2014-01-10 14 25 57](https://f.cloud.github.com/assets/2247062/1887432/495a38ae-79fd-11e3-8c73-a6eabddb58d7.png)

Anyway, I did not expect it

[2014-01-10 14:08] bogo777 commented on #1027
I set it through decorator to all date filters, but it is initialized by current date by default.

[2014-01-10 14:14] tomas-knap commented on #1027
Ok, that is enough

[2014-01-10 14:17] tomas-knap commented on #975
Groups:
Save and Save & Close
Copy and Copy & Close

Also the buttons should be divided to two parts, one part (on the left) contain validate and conflicts, the other part the rest. There should be more space after conflicts button.

Please put here the screenshot when done before commiting to the rep

[2014-01-10 14:19] #1000 closed, assigned to kukharm

[2014-01-10 14:30] #1001 closed, assigned to kukharm

[2014-01-10 14:38] kukharm commented on #1036
@skodape @janvojt  where can i get the last successful replace time? What methods i should use?

[2014-01-10 14:46] tomesj commented on #886
Včera jsem seběhnul pipeline s těmi půl miliony triplů, dnes jsem se chystal na ten milión. Stačilo jen počkat - byl jsi ale koukám mnohem rychlejší :-)

[2014-01-10 14:50] tomesj commented on #1055
Mám to momentálně rozpracované

[2014-01-10 14:55] tomesj commented on #1056
Myšlenka:
Pro parametr (počet opakování) pro SPARQL loader přidám též opakování pro veškeré metody přípravy před loadem + move z temp grafu do cílového.

Tedy kdykoliv nastane nějaká chyba - bude se zkoušet stále znova získat nové connection a operaci, která se nepovedla zopakovat.

[2014-01-10 15:00] tomesj commented on #1033
Na to se podívám během dneška/zítřka. Dám pak vědět výsledky.

[2014-01-10 15:14] kukharm commented on #975
![buttonbar](https://f.cloud.github.com/assets/3471169/1888174/eda5177e-7a09-11e3-8476-c76c83dc5873.jpg)

[2014-01-10 15:27] tomas-knap commented on #1056
Diky, zkusim

[2014-01-10 15:27] tomesj commented on #1042
Tohle není dobrý nápad
1) Kvůli velké kolekci nelze mergovat najednou - vše se drží v paměti (to byl náš první nástřel), když se použije lazy přístup jde o maximálně po jednotlivých trojicích

2) To, že se merguje po částech má své výhody - přidává se po 1000 trojicích naráz, místo toho aby se přidávala každá trojice samostatně - je to rychlejší

3) Sám jsi měl vedl k tomu, abych to takhle udělal

[2014-01-10 15:30] tomas-knap commented on #1042
Jj, urcite ma smysl mergovat aspon po skupinkach. Jen mi slo o to, zda neni proste mozne pro native openRDF rep zavolat neco jako repository.copyTO(targetRep), coz samozrejme interne taky pojede streamove, tedy ze to bude postupne nacitat triples a nahravat je do targetRep

[2014-01-10 15:31] tomas-knap commented on #886
V pohode, s temi pul miliony to bylo ok?

2014/1/10 Jiøí Tome¹ notifications@github.com

[2014-01-10 15:34] tomesj commented on #886
Jo, vše OK :-)

[2014-01-10 15:37] tomesj commented on #1042
Tvé myšlence rozumím, ale bohužel žádná taková metoda není. Musíme se spokojit, s tím co máme v openRDF k dispozici. Myslím, že s tím, co máme to řešíme i tak dost efektivně :-)

[2014-01-10 16:13] tomesj opened #1057 "XSLT - problem in DataUnits"
If I tried execute DPU XSLT I get this exception:

![image](https://f.cloud.github.com/assets/3481055/1888785/035dd56c-7a12-11e3-807b-c59e48f63723.png)

Full stack trace:
Execution failed because: Illegal char <    > at index 49: C:\intlib\backend\working\364\working\dpu_208\tmp    emplate.xsltjava.nio.file.InvalidPathException: Illegal char <  > at index 49: C:\intlib\backend\working\364\working\

[2014-01-10 16:14] tomas-knap opened #1058 "Check that the length limits are up-to-date"
In cz.cuni.mff.xrg.odcs.commons.app.constants
/**
- The enum contains length limits based on database schema limitations.
- @author Petyr
  */
  public enum LenghtLimits {
  DPU_NAME(1024),
  DPU_TOOL_TIP(512),
  DPU_JAR_DESCRIPTION(1024),
  DATAUNIT_NAME(2048),
  SHORT_MESSAGE(128),
  SCHEDULE_NAME(1024),
  PIPELINE_NAME(1024),
  LOGGER_NAME(254);

[2014-01-10 16:15] tomesj commented on #1033
Pro odzkoušení potřebu, aby jsi mi jako autor nejdřív odstranit problém #1057

[2014-01-10 16:35] tomesj commented on #917
Tohle už není dávno aktuální, ne ?

[2014-01-10 19:07] kukharm commented on #1050
podarilo se mi reprodukovat nekonecny running status. Je tam java.lang.NullPointerException: null
Cely log v pripade potreby muzu poslat mailem. Je prilis velky

[code]

[2014-01-10 19:40] #1054 closed, assigned to kukharm

[2014-01-10 20:20] janvojt commented on #1050
I fixed the NPE. Transaction deadlock happened in RDF db during SPARQL execution. I have no clue how transactions work here, what isolation level is configured, etc. -> reassigning to Jirka, I believe he knows how this works.

[2014-01-10 21:03] tomesj commented on #1050
I have no tools how to detect or solve deadlock. Method for re-using method (using reconnection) are added yet.

[2014-01-10 21:11] janvojt commented on #1050
Well, the question is why and how did the deadlock happen in the first place. From what I understand, each DPU uses a dedicated thread and a dedicated graph in Virtuoso, so how can there be a deadlock?

[2014-01-10 21:22] tomesj opened #1059 "Malformed input around byte"
When I make copy of pipeline contains XSLT DPU, click on edit, I get:

![image](https://f.cloud.github.com/assets/3481055/1891427/10c446de-7a3d-11e3-9729-217a4becb74d.png)

[2014-01-10 21:23] tomesj commented on #1059
[code]

[2014-01-10 22:08] janvojt commented on #1059
Is your relational database schema updated? Column `configuration` in tables `DPU_INSTANCE` and `DPU_TEMPLATE` should be of type "LONG **N**VARCHAR".

[2014-01-11 00:46] tomesj commented on #886
Tak pro 1 mil trojic jsem u sebe zjistil hodnoty následující
Virtuoso - cca 20 s
LocalRDF - cca 50 s

[2014-01-11 12:29] tomesj commented on #886
Summary results were added to confluence page:
https://grips.semantic-web.at/pages/viewpage.action?pageId=51808678

[2014-01-11 13:23] tomas-knap commented on #886
ok, diky

2014/1/11 Jiøí Tome¹ notifications@github.com

[2014-01-11 13:26] tomas-knap commented on #1050
The deadlock happened somewhere in the middle of the pipeline or when
extracting data in the first DPU or loading from the last?

On Fri, Jan 10, 2014 at 10:11 PM, Jan Vojt notifications@github.com wrote:

[2014-01-11 13:32] tomas-knap commented on #975
ok, muze byt, jeste prosim hod tu dvojici copy a copy & close pred save a save& close

[2014-01-11 13:33] tomas-knap commented on #1036
Jj, to by se muselo pridat do db, tedy ze by dpu template mela navic sloupec s datem posledni modifikace

[2014-01-11 13:48] tomas-knap commented on #1033
Jirko, posli mi prosim jeste tu tvou konfiguraci XSLT a take co tam leze jako vstup

[2014-01-11 13:49] tomas-knap commented on #1033
#1057 rika, ze je v ceste znak < >, coz je spatne, ten tam byt nema. Ale nevim jak se tam dostal

[2014-01-11 14:34] tomesj commented on #1059
It´s OK now :-)

[2014-01-11 14:34] #1059 closed, assigned to janvojt

[2014-01-11 14:58] tomesj commented on #1033
Konfiguraci i mou pipeline jsem ti poslal na mail.

[2014-01-11 16:01] tomas-knap opened #1060 "Possibility to see for each execution its actual configuration, not the latest conf"
Needs to store a version of configuration for each run. If there is certain execution associated with the current configuration, it has to be versioned and stored when the configuraiton is changed.

[2014-01-12 08:35] skodapetr commented on #1036
Ahoj, je to jedna možnost. Druhá by mohla být .. zkusit použít file systém. Ten by si měl pamatovat poslední změnu na souboru. Ale chtělo by to ověřit zda se to chová přes různé OS v pohodě. Možná bych tedy zkusil tuto cestu? Důvodem pro ní je, že nebudeme přidávat k DPU_TEMPLATE metadata do tabulky. Pokud bychom to už činili tak bych možná radši měl vlastní tabulku.
Neb u DPU_TEMPLATE se pak dělá

[2014-01-12 08:44] skodapetr commented on #1050
Can we reproduce the deadlock on demand? Does it appear for single pipeline?
Is there something about transactions in documentation?
I agree with Jan, we should try to find out what is the cause of this.

[2014-01-12 09:46] tomas-knap commented on #1036
Ten file system imho neni spatny napad. Koneckoncu, kdyz clovek nasazuje novou verzi toolu vcetne core DPUs, tak to delat tak, ze prekopiruje soubory na patricna mista, nedela to vzdy pres GUI.

[2014-01-12 09:55] bogo777 commented on #1018
Ok, to zní dobře, akorát tu pipeline event tam doplňuje backend. Mohu jí tam vložím z frontendu, ale možná po ní budou ještě další eventy z běhu, dokud ho backend neukončí. Případně by jí mohl backend najít, vzít z ní ten důvod, použít ho pro ten svůj event a ten frontendí smazat. Další možností by bylo ukládat to do sloupce v db a tam odsud by si to backend vzal, ale to je asi zbytečné..

@skodap

[2014-01-12 10:08] tomas-knap commented on #1018
Asi vzhledem k tomu jak to mame, tak by asi nejcistsi bylo ulozit do db spolu se zmenou stavu na cancelling take  duvod. Tam to backend najde. Nicmene to je zas zasah do db, navic tenhle sloupec by se pouzil jen v pripade zruseni. @skodape okomentuj prosim. Ja bych to kdyztak i nechal do fw.

[2014-01-12 10:17] #1005 closed, assigned to bogo777

[2014-01-12 10:49] tomesj commented on #1033
Tak jsem udělal pipeline dle
[INTLIB] Decisions from nsoud.cz - Daily updates

A výsledek stále stejný: (viz screen)

![image](https://f.cloud.github.com/assets/3481055/1896031/f86285ca-7b76-11e3-88ae-3831bf8be1f7.png)

Tedy #1057 stále přetrvává - možná že tam používáš něco specifického pro UNIX, co na Windowsu nefunguje.

[2014-01-12 11:06] tomas-knap commented on #1033
Jirko, zkus prosim ted, zkompiluj si novy XSLT DPU

Tomas

2014/1/12 Jiøí Tome¹ notifications@github.com

[2014-01-12 11:45] tomesj commented on #1033
Tak je to OK, díky :-)

[2014-01-12 11:45] #1057 closed, assigned to tomas-knap

[2014-01-12 11:57] janvojt commented on #1036
Nebolo by lepsie pridat tam viac tych datumov? Ja by som tam kludne dal creation, modification. Dalej by som kludne trackoval aj zmeny na child template ked sa napr zmeni konfiguracia, nielen ked sa zmeni JAR subor. Takze by kazdy zaznam v tabulke DPU_TEMPLATE mal svoj timestamp. Ako pise Petr, tiez by som bol za pridanie tabulky, ktora by mala info o JAR subore (creation, modification). Myslim ze

[2014-01-12 12:47] tomas-knap commented on #1036
Takhle, pokud jste ochotni tam tech datumu pridat vic...

Na te obrazovce :

![screen shot 2014-01-12 at 1 31 48 pm](https://f.cloud.github.com/assets/3014917/1896164/9ba6eb14-7b85-11e3-84ce-2a393d7868cc.png)

Bych pridal nekam dolu "Created by: {user} on {creationDate}", kde creationDate by bylo datum vlozeni nebo posledniho replace

Bych pridal nekam dolu "Last Modified by: {user} on {lastModifi

[2014-01-12 13:23] tomesj commented on #1033
Výsledky testování
- vyzkoušena pipeline s XSLT, při provádění XSLT výpadky/obnova DB - iterátor i vše ostatní OK :-)

[2014-01-12 13:24] tomesj commented on #1031
Solved thanks solving #1033.

[2014-01-12 13:24] #1031 closed, assigned to tomesj

[2014-01-12 14:25] skodapetr commented on #998
It's not the same. The problem is that the state is not set .. only the "stop" value. What ve can do .. is in ExecutionAccessor check for exec.state and exec.stop .. and if exec.stop = true and exec.state = RUNNING then return CANCLLING else return exec.state ..

[2014-01-12 14:42] skodapetr commented on #1018
Asi bych to nechal na future work. Nebo na zvláštní tabulku.

[2014-01-12 14:51] skodapetr commented on #1036
Jinak tohle souvisí trochu s issue o zvážení zachování konfigurace DPU pro execution při jeho změně. Tedy možná bych zde upřednostnil osobní rozhovor ..  file systém bychom klidně mohli využít právě pro ten první redeploy a pak mít verzovací tabulku, jenž ponese hystorie .. o konfiguracích updatech apod .. ale chtělo by to lehce promyslet.

Honza:
1) to bych přesně řekl že je to chování které chce

[2014-01-12 15:07] #1033 closed, assigned to tomesj

[2014-01-12 15:44] tomas-knap commented on #1033
Ok, kdyztak zas otevreme

[2014-01-12 15:48] tomas-knap commented on #1018
nechme na fw

[2014-01-12 15:49] tomas-knap commented on #998
Jj, asi bych byl pro, bo tak jak je to ted, tak je to matouci

[2014-01-12 17:27] tomas-knap commented on #981
It still happends on ODCS:

![screen shot 2014-01-12 at 6 24 21 pm](https://f.cloud.github.com/assets/3014917/1896661/a6ac9a62-7bae-11e3-9fc6-1e7eadf324ee.png)

Pipeline exec - 268. Basically, you have to run pipeline nsoud-batch in debug mode and leave the logs active.

2014-01-12 18:25:21,603 [http-bio-8080-exec-421] DEBUG c.c.m.xrg.odcs.frontend.auxiliaries.RefreshManager - DebuggingView refres

[2014-01-12 17:27] tomas-knap commented on #981
Can we hide this exception, if we cannot avoid it?

[2014-01-12 17:28] tomas-knap commented on #981
because if it is a problem in one single log among 10k logs, the user will rarely find it

[2014-01-12 17:29] skodapetr commented on #981
Well it's an exception, we can try to catch it and .. "ignore" it.We even can try to for example show no data in table .. or some message.

[2014-01-12 17:32] tomas-knap commented on #981
But it is a problem with one log message, right? So we can show for example
except of the original log message only something like "There was a problem
reading this log from db due to national chars. Try to get it directly from
DB."

On Sun, Jan 12, 2014 at 6:29 PM, Petr Škoda notifications@github.comwrote:

[2014-01-12 17:55] #975 closed, assigned to kukharm

[2014-01-13 16:24] tomas-knap opened #1061 "SPARQL Loader not enough generic"
When loading to Virtuoso, SPARQL Loader works. However, the request has to be modified when dealing with other SPARQL endpoints.  And the goal of the SPARQL loader is to be a generic loader.

Solution:

1.To SPARQL Loader configuraiton, please add to the end of core tab in SPARQL Loader configuration checkbox group:

Virtuoso
Fuseki
4store
Bigdata

User has to always select one, virtuoso is select

[2014-01-13 16:41] tomesj commented on #1061
But it means implement whole SPARQL loader 2x more,because we use SPARQL 1.1 syntax for graph cleaning and for loading to SPARQL endpoint. This is W3C standard.

These enpoints maybe used specific syntax :-)

It needs discusion - I will be for discuss about this face to face on next meeting.

[2014-01-13 16:54] tomas-knap commented on #1061
Well, that depends on the particular store. I think that Fuseki is supporting SPARQL 1.1 e.g. But it has to be tested. So please start by testing these stores and checking whether they support SPARQL 1.1. and all the queries you have to execute. For sure you will have to adjust the request's params.

[2014-01-13 16:55] tomas-knap commented on #1061
@jakubklimek Please write your findings, if any

[2014-01-13 17:39] tomas-knap commented on #1027
It is fine, the only problem is that the filter label cannot fit to the text box:

![screen shot 2014-01-13 at 6 37 09 pm](https://f.cloud.github.com/assets/3014917/1902903/677f834c-7c79-11e3-83bf-c780fb3fd60e.png)

Can you adjust the label which appears? Ideally if the filter involves just the range of time (the data is the same), the label can contain only time range. On the other hand, if the f

[2014-01-13 18:02] tomas-knap opened #1062 "Scrollbar is missing for DPU tree on DPU template screen"
![screen shot 2014-01-13 at 7 02 28 pm](https://f.cloud.github.com/assets/3014917/1903128/ec5fa224-7c7c-11e3-8f53-d38d281acb79.png)

[2014-01-13 18:09] tomas-knap opened #1063 "DBPedia pipeline - SPARQL endpoint down"
Zkousim ted dbpedia pipeline, problem je zrejme v tom, ze jejich SPARQL endpoint je dole. Nicmene hlaska SPARQL extractoru je:

![screen shot 2014-01-13 at 7 07 51 pm](https://f.cloud.github.com/assets/3014917/1903185/bde6a694-7c7d-11e3-9621-dc9ee9d2ea32.png)

Neslo by tam zobrazit neco lepsiho?

Diky

[2014-01-13 18:11] tomas-knap opened #1064 "Question: What is the default size of the chunks when merging in case of localRDF?"
![screen shot 2014-01-13 at 7 11 09 pm](https://f.cloud.github.com/assets/3014917/1903200/211a3a64-7c7e-11e3-8e48-610bf28d917a.png)

[2014-01-13 18:25] tomesj commented on #1063
Je to přesně tak - DBPedia endpoint není dostupný - viz problém 405 Not Allowed

Hláška vlastně představuje chybou zprávu + údaje o tom, co bylo posláno za dotaz (contruct query v tomto případě).

Používáme to takhle obecně - v metodě getEndpointStreamReader na repository.

Máš nějaké nápady nebo představu, co by bylo lepší ?

[2014-01-13 18:27] tomesj commented on #1064
Velikost jednoho merge partu pro lokální repozitář je 1000 trojic.

[2014-01-13 18:27] janvojt commented on #718
Finished in 9643bc4d01da4c33b62a0d094b7d80a666c8b987.

[2014-01-13 18:27] #718 closed, assigned to janvojt

[2014-01-13 18:32] tomas-knap commented on #1064
ok, predpokladam, ze je tam nejaka konstanta na localRDF repo?

[2014-01-13 18:32] janvojt commented on #693
Can we consider this finished? Currently last execution is global. To change it "pre user" would not be possible in the execution table, we would need to join with pipeline executions table, as it was previously.

Anyway, I think current behaviour is better. I am really interested in the status of any last run, just to know pipeline is "healthy".

[2014-01-13 18:33] tomesj commented on #1064
Je to přesně tak - jedná se o konstantu DEFAULT_MERGE_PART_SIZE

[2014-01-13 18:34] tomas-knap commented on #1063
Kdyz ten dotaz zadas do prohlizece rucne, dostanes:

The web-site you are currently trying to access is under maintenance at this time.
We are sorry for any inconvenience this has caused.

Ale jestli je to co tam zobrazujes vraceno v errorStreamu pri requestu, tak asi nic lepsiho nevymyslime.

[2014-01-13 18:34] #1064 closed, assigned to tomesj

[2014-01-13 18:36] tomesj commented on #1063
Jj, je to přesně to, co je obsahem error streamu při odeslání POSTem :-)

[2014-01-13 18:37] #1063 closed, assigned to tomesj

[2014-01-14 08:33] tomas-knap opened #1065 "Possibility to schedule in debug mode"
By default, scheduled events are scheduled in normal mode. But if ticked in scheduler event dialog, pipeline may be scheduled in debug mode.

[2014-01-14 08:48] tomas-knap commented on #1061
Jirko, tak pro zacatek prosim dej do konfigurace SPARQL loaderu, na konec details textboxy, ve kterem umoznis definovat ktery parametry se pouzijou v tom HTTP POST  requestu pri loadovani dat. Aktualne tam mas natvrdo:

"default-graph-uri=" + endpointGraph
                + "&query=" + myquery
                + "&format=" + encoder;

Nicmene abys to zobecnil, pridej na konec details tab v nastaven

[2014-01-14 08:55] jakubklimek opened #1066 "Configuration erased when renaming config property"
![image](https://f.cloud.github.com/assets/718827/1909118/5b94091a-7cf9-11e3-941c-887a9a0cb472.png)

I renamed one property in DPU config and I lost all configuration, it did not even load the defaults.

What needs to be done is: Fill the fileds that are valid, skip those that aren't. For those fields that are not filled set defaults.

[2014-01-14 09:04] tomas-knap opened #1067 "When saving pipeline, user sometimes ends on the homepage, sometimes being logged out"
As reported by Jakub, he opened the pipeline, was not working with the pipeline couple of minutes (but for sure no more than 15minutes), then he returned back, clicked save & close and he was forwarded to the homepage not the the page with pipelines. He was still logged in (at least there was user admin shown).

He has checked that it should remember him to be logged in.

Any idea where the proble

[2014-01-14 09:37] tomas-knap commented on #1066
ConfigWrap.deserialize seems to throw exception in case the configuration cannot be deserialized:

As a result, such exception is directly propagated to GUI and no default configuration (obtain by creating new instance) is used.

[2014-01-14 09:42] skodapetr commented on #1066
It looks like there are ways how to solve Jakub's use case. I will implement this ASAP.
As to the Tomas comment .. I'll check this.

[2014-01-14 09:55] tomas-knap opened #1068 "Problem with paging"
To reproduce:
1. Prepare the list of pipelines which exactly fit on one page in the pipeline list (the only page available).
2. Copy any pipeline.

As a result, no pipeline appears - but it is in the database and if the pipeline list is refreshed it correctly appears on the second page

[2014-01-14 09:57] skodapetr commented on #1068
The problem may be .. that in such case the ROC od better the underlying CachedSource is not invalidated .. the solution can be just to call invalidata on respective CachedSource.

[2014-01-14 10:42] tomas-knap opened #1069 "Add two versions of HTTP POST request for SPARQL LOader and Extractor."
SPARQL Loader/Extractor currently support one way of HTTP POSTing data to SPARQL endpoint, which is still Virtuoso specific, because default-graph-uri is not in the specification. I would suggest to keep this option, but add also two more options, which support the two types of sending queries as specified in the specification (http://www.w3.org/TR/sparql11-protocol):

![screen shot 2014-01-14 at

[2014-01-14 10:42] tomas-knap commented on #1069
Kdyztak se ptej, co neni jasne

[2014-01-14 10:48] skodapetr commented on #1069
Když vidím ten počet options .. nechtěli bychom další DPU?

Nevím zda-li je to tak velký rozdíl, ale místo SPAQRL Extractoru\Loaderu bychom pak mohli mít více specifické loadery. Výhodu bych viděl v tom, že by uživatel rovnou viděl jaký extractor\loader používá s tím, že by věděl proti jakému endpointu (co ten požaduje).
Na druhou stranu jedno DPU to může řešit elegantně vše v jednom.

Tedy jen ja

[2014-01-14 11:35] tomas-knap commented on #1069
Tam jde o to, ze v tomhle konkretnim pripade je to zmena v jedne metode, mozna dokonce v jednom if. A shodou okolnosti v metode, ktera se reusuje z BaseRDFRepo, coz neni stastne, ale ted uz s tim nic neudelame.

Navic myslenka toho loaderu je porad stejna - je to univerzalni SPARQL loader, ktery posila dotazy pres HTTP POST. Tedy asi bych tohle nechal u jedhoho DPU

[2014-01-14 11:40] skodapetr commented on #1069
Aha, ono to znělo více složitě, než jeden If.. tedy beru návrh zpět.

[2014-01-14 12:26] tomesj commented on #1061
Zadání rozumím - tedy se to bude brát dle textboxu :-)
Asi dává smysl to i rovnou předvyplnit - tedy jako default to, co máme pro Virtuoso, ne ?

[2014-01-14 12:40] tomesj commented on #1069
Jedna zásadní otázka
Má se tedy výběr query, co je na místě #1069 nabízet jen 2 možnosti (Query,Update). Nebo tam může toho být více (obecně cokoliv, co se zadá do textového pole).
Pak by totiž ten enum byl vlastně k ničemu a rovnou by se dosadili zadané parametry :-)

Co z toho teda platí, abych měl jasno ?

[2014-01-14 12:57] tomas-knap commented on #1061
JJ. presvypln to tim co pouziva virtuoso, tedy query param je "update" a default graph je tak je to ted. Tedy aspon pro Loader.

Jinak to co jsem psal o loaderu by melo byt i pro SPARQL extraktor, tedy ze v details extraktoru muzu definovat Query param a default graph param. Uplne ve stejnem duchu, jen defaultni hodnota pro virtuoso bude "query" pro query

[2014-01-14 12:59] tomesj commented on #1061
Jo, chápu - tedy ten enum, co jsi tam původně měl můžu vyhodit :-)

[2014-01-14 13:11] skodapetr commented on #1052
Looks like this has been solved in #1053, so closing.

[2014-01-14 13:11] #1052 closed, assigned to skodapetr

[2014-01-14 13:20] tomas-knap opened #1070 "SPARQL Extractor - support for more graphs"
SPARQL extractor allows to define more then one graph, but, as looking into the code, when you specify 3 graphs, it executes the extractor three times, always for one graph, which is not the same as executing one query over 3 graphs!

[2014-01-14 13:22] tomas-knap commented on #1037
Do not forget to add description of core DPUs - SPARQL extractor/loader, SPARQL transformer, RDF extractor/loader. Prepare screenshots and basic descriptions and ask @tomesj to add the detailed description of every param.
Till 20.1.

[2014-01-14 13:23] tomas-knap commented on #1061
mno, jo. Delam ti mockup.

[2014-01-14 13:32] tomas-knap commented on #1069
Delam mockup

[2014-01-14 13:56] tomas-knap commented on #1069
Mockup pro SPARQL LOADER:

https://grips.semantic-web.at/display/LOD2/DPU+-+Loader+to+RDF+database

Tedy pribyla zalozka SPARQL Protokol, ktera bude mit dve varianty. Tu prvni mas ted implementovanou. Tu druhou je treba dodelat. Pro kazdou variantu je tam moznost jeste customizovat params. S tim, ze defaultne tam budou predvyplnene params dle SPARQL 1.1 specifikace (mas to v mockupu).

Tedy je tre

[2014-01-14 14:09] tomas-knap commented on #1069
Jirko, jeste jsem updatoval ten SPARQL LOader mockup, virtuoso to ma jinak, takze jsou tam tri moznosti: prvni dva dle spec  SPARQL 1.1 a treti Virtuoso specific (ten je taky default)

[2014-01-14 14:14] tomas-knap commented on #1069
Mockup pro SPARQL Extractor:

https://grips.semantic-web.at/display/LOD2/DPU+-+Loader+to+RDF+database

Tam je to podobne. Akorat krome tech dvou POST variant je tam i varianta GET. Neni potreba Virtuoso specific branch nebot tady Virtuoso pouziva params ze specifikace. Nicmene opet plati ze po volbe varianty muze user predefinovat params

[2014-01-14 14:15] tomas-knap commented on #1061
for mockups, see #1069

[2014-01-14 14:19] tomas-knap commented on #1069
Jeste jedna vec, udelej dve metody getEndpointStreamReader (BaseRDFRepo), at tam neni moc switchu a ifu. A pokud to jde, tak kazdou tu getEndpointStream soupni rovnou pod SPARQL Extractor resp. SPARQL Loader DPU a vyhod ji z RDFDataUnit rozhrani. Tam nema co delat, jinde se nepouziva

[2014-01-14 14:19] tomesj commented on #1069
OK...Je toho, celkem dost :-) Ale je to jasné :-) Tak jdu na to :-)

[2014-01-14 14:20] tomas-knap commented on #1069
Koukni na to prosim a pis co neni jasne :-)

[2014-01-14 14:23] tomas-knap commented on #1069
Jinak vse vychazi ze specifikace:
http://www.w3.org/TR/sparql11-protocol/#update-operation

Sekce 2.1 pro SPARQL query
Sekce 2.2 pro SPARQL Update

[2014-01-14 14:24] tomesj commented on #1069
Dobrá - jinak jasné je vše :-)

[2014-01-14 14:41] tomas-knap commented on #1070
Tak pripravuju jeste mockup

[2014-01-14 14:52] tomas-knap commented on #1070
Tak jsem to jeste upravil, viz: https://grips.semantic-web.at/display/LOD2/DPU+-+Extractor+from+SPARQL

![screen shot 2014-01-14 at 3 52 12 pm](https://f.cloud.github.com/assets/3014917/1911377/805e046c-7d2b-11e3-904f-6a41f5ea5f1c.png)

[2014-01-14 14:54] tomas-knap commented on #1069
Jeste jsem do SPARQL extractoru pridal ty named-graph-uri -> mrkni na mockup a spec. Ve SPARQL Loaderu to neni podstatne.

[2014-01-14 14:59] tomas-knap commented on #1070
Zmeny:
1) Tedy uzivatel muze definovat nejen defaultni graf (tak jsme to ted meli), ale take named graph.
2) Pokud specifikuje defaultni grafy (vic nez jeden), tak se pro kazdy graf udela default-graph-uri param. Tedy tech params tam muze byt vic! Pokud nespecifikuje zadny, tak se ten param vubec do requestu neprida
3) Pokud specifikuje uzivatel named graphs (klidne vice nez jeden), tak se pro kaz

[2014-01-14 15:01] tomas-knap commented on #1070
Na tohle koukni prosim az bude #1069 a #1061

[2014-01-14 15:03] tomas-knap commented on #1066
Thanks. So how would it now behave if I serialize conf, change one atribute in DPU's config, add one another, replace DPU? Would it be able to deserialize at least those atributs which did not change?

[2014-01-14 15:19] skodapetr commented on #787
Yes it is.

[2014-01-14 15:23] skodapetr commented on #1058
Well it looks they are. For those that are mentioned in the LenghtLimits  class.

[2014-01-14 15:25] skodapetr commented on #1048
@tomesj  Jirko mohl by jsi prosím říct, co bych měl okomentovat? Pochopil jsem, že nějakou část toho jak pracuje DataUnitManager, ale v jakém případě? Při pádu backendu? Nebo při prohlížení?

[2014-01-14 15:38] tomesj commented on #1048
Jde o to, aby se vysvětlilo, proč se při klasickém běhu při použití LocalRDF snažil (patrně při restartu běhu) pokoušet načítat soubor pipeline - při run by se nemělo nic ukládat. Navíc teď už se to neukládá ani při debug.

Tomáš totiž zkusil klasický run, došlo k restartu a chtělo to po něm načítat ten soubor s daty, který tam vlastně ani nebyl. Tedy nějak vysvětlit/napravit v rámci DataUnitManag

[2014-01-14 15:41] skodapetr commented on #1048
No protože když doběhne pipeline třeba od půlky, tak aby mohla pokračovat zase vpůlce, tak potřebuje načíst předhozí data. Tedy to by mohlo být ono?

[2014-01-14 15:42] skodapetr commented on #1066
For the removed property .. the value is not loaded, and the situation is logged as

[code]

The newly added values are set to null. The fields that were unchanged should be loaded properly.

[2014-01-14 15:43] skodapetr commented on #981
Duplicit to #1026

[2014-01-14 15:43] #981 closed, assigned to skodapetr

[2014-01-14 15:43] skodapetr commented on #1026
From #981 Tomas:
But it is a problem with one log message, right? So we can show for example
except of the original log message only something like "There was a problem
reading this log from db due to national chars. Try to get it directly from
DB."

[2014-01-14 15:45] tomas-knap commented on #1026
Vyber jedno z reseni, oboje je mozne. Jen nezobrazovat tu cervenou chybovou hlasku

[2014-01-14 15:46] tomesj commented on #1048
Jo, to bude přesně ono.

[2014-01-14 15:46] skodapetr commented on #505
Just the update:
The "validation" can be added by author of the DPU in deserialize method when the DPU is loaded. So it's author responsibility to provide back compatible implementation that will in deserialize method takes care about migration to the newer version. Still this is not on replace validate-all solution.

[2014-01-14 15:47] skodapetr commented on #1048
A v čem je tedy problém? nebo jaký z toho plyne závěr?

[2014-01-14 16:04] tomesj commented on #1048
Napiš Tomovi, on už Ti řekne, co a jak. Já tu mám teď celkem dost práce :-)

[2014-01-14 16:11] skodapetr commented on #1026
Zkusil jsem ošetřit tak, že se špatný záznam nahradí za čistou instanci dané třídy .. neb aktuálně tam není moc cesta jak zobrazit hlášku z CachedSource .. comit jsem dal bohužel k 981 ..

Bohužel problémová data již nejsou na ODCS, tedy zavírám a pokud se objeví můžeme znovu otevřít.

[2014-01-14 16:12] skodapetr commented on #1048
Tedy pro shrnutí: zřejmě šlo o změnu verze, se kterou se aplikace nedokázala sžít. Důvod pro objev v polovině execution byl popsán.

[2014-01-14 16:12] #1048 closed, assigned to skodapetr

[2014-01-14 16:23] tomas-knap commented on #1069
@tomas-knap Test on BigData, where using-graph-uri must be used

[2014-01-14 17:54] skodapetr commented on #1038
Please check after redeploy, it should be at the end of the email.

[2014-01-14 19:29] tomesj commented on #1069
[1] update via URL-encoded POST
[2] update via POST directly

Chápu správně, že [2] se od [1] liší jen tím, že se změní Request Content Type a parametry se nekódují ?

[2014-01-15 07:59] tomas-knap commented on #1069
V podstate ano. Jeste u te [2] se pripadne parametry typy default-graph a named-graph davaji primo do adresy, viz 3.2.3:

<pre>
POST /test?using-graph-uri=http%3A%2F%2Flocalhost%3A8888%2Fpeople HTTP/1.1
Host: localhost:8888
Accept: */*
Content-Type: application/sparql-update
Content-Length: 136
PREFIX foaf: <http://xmlns.com/foaf/0.1/>
DELETE { ?person ?property ?value }
WHERE { ?person ?property

[2014-01-15 11:59] tomas-knap opened #1071 "RDFModule rozdelit (souvisi s licencemi)"

[2014-01-15 12:04] tomas-knap opened #1072 "Predelat kontejner pro scheduled events"
Mel by pouzit ROC - nas kontejner - misto Vaadin kontejneru

[2014-01-15 12:08] #693 closed, assigned to janvojt

[2014-01-15 15:29] #1062 closed, assigned to bogo777

[2014-01-15 15:49] bogo777 commented on #1068
Fixed now...just one question regarding this - should we stay on the page with original pipeline(current), or go to the page where the created copy is?

[2014-01-15 16:14] bogo777 commented on #1027
In decorator I can specify only string with date format which will be user for each date. But this is in initialization of table, so I don't know filter value. Other changes would could be done through modifying the addon, which would be time consuming...

[2014-01-15 16:16] bogo777 commented on #1012
It is hard to catch described status, but I remember that we discussed hiding/unifying errors for final version, so it could be solved by that?

[2014-01-15 16:44] bogo777 commented on #907
Currently, all pipelines with DPU are shown. I tried to change it, but didn't succeed. Can @janvojt help me?
I tried to modify PipelineFacadeImpl.getPipelinesUsingDPU() with @PostFilter("hasPermission(filterObject,'view')") but that's propably wrong.

Also, what happens, when user A creates DPU, makes it public, user B uses it in private pipeline, but user A wants to delete the DPU?

[2014-01-15 16:49] tomas-knap opened #1073 "Validation checked for SPARQL Loader but no event about the validation when executing pipeline"
See nsoud - daily updates pipeline na ODCS a trebas exec 313

Solution: If the validation for SPARQL loader is selected, it should publish proper event

[2014-01-15 16:51] tomas-knap commented on #1027
Ok, then lets leave it for the fw

[2014-01-15 16:55] tomas-knap commented on #907
Well, what we can do is that we show the tab "DPU Templates -> DPU Instances" only for admins.

[2014-01-15 16:55] tomas-knap commented on #907
Please discuss here @janvojt

[2014-01-15 18:16] #61 closed, assigned to bogo777

[2014-01-15 21:52] janvojt opened #1074 "Build of module FileDataUnit-impl fails (because of failing test)"
[code]

[2014-01-15 23:15] janvojt commented on #953
I could not reproduce this today on current version going through same scenario several times, also tried parallel executions.

[2014-01-16 15:06] janvojt commented on #907
I reassigned to myself. Should we bump priority to high?

[2014-01-16 15:11] tomas-knap commented on #907
How much time do you need for it?

[2014-01-16 15:12] janvojt commented on #907
From the documentation:

Therefore, user A needs to ask user B to delete DPU instance from his pipeline.

[2014-01-16 15:34] tomas-knap commented on #907
Ok, so you suggest that DPU templates -> DPU instances will be visible only to admins and author of the DPU?
When the author of the DPU would like to delete DPU which is used on some pipeline created by another user, he has to ask that user to delete the pipeline. If admin, author of DPU would like to delete the DPU which is used by another user, he can firstly delete the pipeline of the other use

[2014-01-16 15:40] tomas-knap commented on #1074
U me OK, master branch mi jde zbuildovat, vcetne testu

[2014-01-16 16:11] jakubklimek opened #1075 "Document: Dataunit name => filename, if there is :, it may be a problem"
![image](https://f.cloud.github.com/assets/718827/1932169/a87e67ea-7ec8-11e3-8e5b-26d076724904.png)

17:08:14.518 [main] INFO  c.c.m.x.o.r.r.LocalRDFRepo - Set new data graph - http://linked.opendata.cz/resource/odcs/internal/pipeline/dpu-test/0/gml:Point points
17:08:14.528 [main] DEBUG o.openrdf.sail.nativerdf.NativeStore - Initializing NativeStore...
17:08:14.534 [main] DEBUG c.c.m.x.o.r.r.Loca

[2014-01-16 16:38] skodapetr commented on #1074
@janvojt Koukl by jsi prosím u sebe na ty listy co se tam porovnávají? U mě to jde totiž také v pohodě, navíc by to mělo více méně projít. Ostatní testy z té sady ti projdou?

[2014-01-16 18:24] janvojt commented on #1074
Ked zakomentujem ten assert na equals tak mi vsetky testy prejdu OK. Z nejakeho dovodu mi for loop prehadze 2. a 3. objekt. Ked zmenim na nasledovny kod, tak to uz funguje:

[code]

Ale idem ten iterator cely vyhodit, pretoze vlastne testuje implementaciu javovskeho iteratora. My nie sme testeri javy...

[2014-01-16 18:25] #1074 closed, assigned to skodapetr

[2014-01-16 18:27] skodapetr commented on #1074
@janvojt No cílem nebylo testovat iterátor .. ale spíše tu FileDataUnit, že vrátí postupně všechny soubory, jenž jsou do ní přidané. Tedy nejsem si jistý, jestli se toho testu chceme nějak úplně zbavit. Možná nějakou jinou variantu, kde nebude záležet na pořadí.

[2014-01-16 18:34] janvojt commented on #1074
Inymi slovami sa tam testovalo, ze "LinkedList vrati postupne vsetky objekty, ktore donho pridas". Pozri sa ako som to zmenil, nevyhodil som cely ten test.

[2014-01-16 18:36] skodapetr commented on #1074
@janvojt No dal jsi tam "null" test. Což tady asi není tak nezáživné, ale chtěl jsem pak napsat test v podobném duchu třeba po Merge dvou FileDataUnit .. a tam už bych více ocenil nejen null ale přímo kontrolu, takže stejně budu muset přijít s něčím co je nezávislé na pořadí .. možná nasypat do hash setů .. a porovnat tam a zpět ..

[2014-01-16 20:24] janvojt commented on #1040
@tomas-knap bump

[2014-01-16 20:54] janvojt commented on #952
I removed the index to fix this. I checked, and we are not using it in any query. However, the execution start column is sortable in execution list, so sorting by it may be slow if there are many executions. This is most likely a bug in Virtuoso 7 or in the new JDBC.

[2014-01-16 20:56] janvojt commented on #961
Fixed in 8454b86a6fd58c12d45c7bce72cb64de86ac7d94.

[2014-01-16 20:56] #961 closed, assigned to janvojt

[2014-01-16 20:59] janvojt commented on #953
Happened again, I was not doing anything special:

[code]

[2014-01-16 21:48] janvojt commented on #878
OK, this is definitely a duplicate of #953. The problem is, that connection pool rollbacks transaction before assigning it to some unit of work. This should be normally OK, but Virtuoso JDBC does not survive this.

[2014-01-16 21:48] #878 closed, assigned to janvojt

[2014-01-16 22:41] janvojt commented on #953
The problem is, that connection pool rollbacks transaction before returning connection to the pool. It is done by Apache DBCP connection pool manager, because tracking all transaction states would be too expensive. Instead, a rollback is called to make sure possible leftover queries are not commited by the next unit of work. This should be normally OK, but Virtuoso JDBC does not survive this.

To

[2014-01-17 07:56] tomas-knap commented on #952
ok, but please create confluence page with Virtuoso 6/7 workarounds and write it there to know

[2014-01-17 07:58] tomas-knap commented on #878
Again, please write this note to confluence page with Virtuoso 6/7 workarounds

[2014-01-17 12:12] tomas-knap opened #1076 "Sjednotit jmena modulu"
![screen shot 2014-01-17 at 1 10 19 pm](https://f.cloud.github.com/assets/3014917/1940097/818e6772-7f70-11e3-8f8e-c379dfa20666.png)

Jednou dohromady, podruhe camel case, do toho pomlcky. Asi bych upravoval ty nove pridane - dataunit, FileDataUnit.

[2014-01-17 12:29] tomas-knap commented on #1076
[1/17/14 1:27:50 PM] Tomas "nappy" Knap: artifactId is the name of the jar without version. If you created it then you can choose whatever name you want with lowercase letters and no strange symbols. If it's a third party jar you have to take the name of the jar as it's distributed.
[1/17/14 1:28:19 PM] Tomas "nappy" Knap: tak to dejme vsechno jen lowercase a s pomlckami. tedy file-data-unit. Podl

[2014-01-17 12:30] tomas-knap commented on #1076
Misto tech dlouhych:  core module's parent project dej dpu-core? a misto module's parent project dpu-base?

[2014-01-17 13:07] #1076 closed, assigned to skodapetr

[2014-01-17 15:52] janvojt commented on #952
OK, I did: https://grips.semantic-web.at/display/LOD2/Virtuoso+workarounds.

[2014-01-17 15:52] #952 closed, assigned to janvojt

[2014-01-18 12:11] tomas-knap commented on #952
Diky!

On Fri, Jan 17, 2014 at 4:52 PM, Jan Vojt notifications@github.com wrote:

[2014-01-18 13:35] tomas-knap commented on #1068
I think we should go to the page with the copy. This seems to be less confusing for the user.

[2014-01-18 13:36] tomas-knap commented on #1025
Any progress?

[2014-01-18 13:36] tomas-knap commented on #1012
So basically you will hide all the errors in gui but write an error to the log?

[2014-01-19 08:02] janvojt opened #1077 "DPU Template detail - broken buttons."
The first time I select a DPU template in DPU tree, all buttons in its detail are always disabled. When selecting different DPU templates, it seems buttons are updated to the state of previously selected DPU. I suspect when selection is made, first buttons are updated, and after that the reference to selected DPU is changed.

[2014-01-19 14:16] tomas-knap commented on #1041
Petre, pridej tam prosim metodu:

FileDataUnit.getNumberOfFiles(), ktera ti vrati pocet files

[2014-01-19 14:38] skodapetr commented on #1041
@tomas-knap done, no tests have been added in order to provide the required method ASAP

[2014-01-19 15:28] bogo777 commented on #1068
I tried it, but there is no easy way to get the page where the copy is - because of sorting and filtering...

[2014-01-19 15:39] bogo777 commented on #1077
Have you made some changes regarding this? I cannot reproduce it now.

[2014-01-19 15:48] tomas-knap opened #1078 "Uncaught exception in GUI"
I click on DPU template record, got:

![screen shot 2014-01-19 at 4 46 44 pm](https://f.cloud.github.com/assets/3014917/1949787/1f5348ea-8121-11e3-8175-05d3f1a3cdfd.png)

014-01-19 16:47:11,849 [http-bio-8080-exec-572] DEBUG org.eclipse.persistence.logging.sql - 2014-01-19 16:47:11.849--ServerSession(1888330474)--Connection(198346175)--SELECT ID, full_name, u_password, table_rows, USERNAME, email_