[2013-10-14 10:31] tomas-knap commented on #533
Petre, tak to prosim nejak zorganizuj, posli co si mame nakonfigurovat

[2013-10-14 10:34] tomas-knap commented on #504
Ja bych pridal proste odstavec za "Deploying the DPU bundle to ODCleanStore web application" do practise?

[2013-10-14 10:39] tomas-knap commented on #603
1) The problem is that getJarPath cannot be used when mvn installing the given DPU. But as long as JAR file was generated, we can specify a path to it. So I think that we can do the easiest thing - user will provide path to JAR file and such test should be excluded from automated tests

2) Ok, please provide an example in the documentaiton how to set the connection

[2013-10-14 10:40] #593 closed, assigned to skodapetr

[2013-10-14 10:43] tomas-knap commented on #491
Petre, pridej prosim popis toho jak to tedy nakonec funguje do confluence, staci strucne. In terms of GUI, what is needed? Please specify here

[2013-10-14 10:46] tomas-knap commented on #614
Petre, so did you adjust something, or where the problem was? Which of the points I mentioned need to be still solved by separated issues?

[2013-10-14 10:47] #574 closed, assigned to skodapetr

[2013-10-14 10:48] tomas-knap commented on #597
Problem with too many connections, solved by the pool

[2013-10-14 10:48] #597 closed, assigned to tomesj

[2013-10-14 10:50] tomas-knap commented on #600
Do you provide configurable number of connections (in config.properties) available in the pool? THen we can close this

[2013-10-14 11:00] tomas-knap commented on #625
Honzo, can you please tune the querying, so that the extra queries sql: 2013-10-14 10:37:01.031--ServerSession(791687840)--Connection(957676971)--SELECT t0.mapped_value, t0.mapped_key FROM logging_event_property t0 WHERE (t0.event_id = ?) se neprovadi? Imho nic neprinasi.

[2013-10-14 11:07] tomas-knap opened #640 "Test FUSEKI instead of Virtuoso"
Instead of using Virtuoso, try fuseki. Where were the problems?

[2013-10-14 11:08] tomas-knap commented on #540
This does not happen any more, at least not during the loading. Will reopen if appear

[2013-10-14 11:08] #540 closed, assigned to tomesj

[2013-10-14 11:27] tomas-knap opened #641 "SPARQL Loader has incorrect configuration in HTTP URL"
But as a result, the following error occured:

![screen shot 2013-10-14 at 1 24 52 pm](https://f.cloud.github.com/assets/3014917/1325172/5a09165e-34c3-11e3-983c-94cbe918a03d.png)

THis should not happen, SPARQL loader should log something like: Cannot connect to HTTP URL : XX, please check that the target database is running. No stack trace as above.

[2013-10-14 11:47] tomas-knap opened #642 "When DB is off, it should display readable error message"
When I turn DB off, it shows:

![screen shot 2013-10-14 at 1 41 11 pm](https://f.cloud.github.com/assets/3014917/1325252/bc4a87c4-34c5-11e3-8f25-27dcff83fac6.png)

it should display just "Cannot connect to database"

Further, it should display only ONE such message, any further message of the "cannot connect to database is not shown if the previous one is still open and displayed to user.

[2013-10-14 11:56] tomas-knap opened #643 "Problems with non-unique primary key"
Everything was working, then I just turned db off and on and the following error occur as I was creating new pipeline:

![screen shot 2013-10-14 at 1 51 34 pm](https://f.cloud.github.com/assets/3014917/1325312/6aa373ca-34c7-11e3-9645-64a684526065.png)

Surprisingly, when I click save for the second time, no error occurs.

Then I tried to run that pipeline and:

![screen shot 2013-10-14 at 1 52 48

[2013-10-14 12:27] bogo777 commented on #642
Notifications in Vaadin work via static method void show(), so there is no reference and no way to know, if the prevoius notification is still open. We would have to implement our own notifications via dialog windows.

[2013-10-14 13:10] bogo777 commented on #595
Multiple tabs should be supported in Vaadin7. When I open the second tab, the first one stops responding -> loading circle appears and nothing works anymore.
Only this is in the log:
14:44:25.074 [http-bio-8084-exec-24] DEBUG r.x.v.SpringUIProvider - found BEAN_NAME_PARAMETER: ui
14:44:25.074 [http-bio-8084-exec-24] DEBUG r.x.v.SpringUIProvider - found BEAN_NAME_PARAMETER: ui
14:44:25.542 [http-bi

[2013-10-14 13:39] tomas-knap opened #644 "Separate settings for the connection to virtuoso (relational DB) and virtuoso - store for RDF data processed by the pipelines"
Motivation: easier rebuild of the DB in case of problems (in the RDF data part), improved performance,

Solution: Add one more set of params for connecting to DB:
# Virtuoso connection configuration setting

virtuoso.relational.hostname = localhost
virtuoso.relational.port = 1111
virtuoso.relational.user = dba
virtuoso.relational.password = dba
virtuoso.relational.charset = UTF-8

So the params ab

[2013-10-14 14:44] skodapetr commented on #641
It can be useful to mention (or remind) that DPU can failed without exception by publishing ERROR message via context.sendMessage.

If DPU faileds with exception stack trace is attached to the log automatically as it is assumed that it may contains useful data about the failure.

[2013-10-14 15:26] tomas-knap commented on #641
Yes, that is the preferred way, Jirka implement it as Petr is saying

[2013-10-14 15:35] tomas-knap opened #645 "Icons missing"
![screen shot 2013-10-14 at 5 34 28 pm](https://f.cloud.github.com/assets/3014917/1326885/30440086-34e6-11e3-9e35-429dcd3c281d.png)

[2013-10-14 15:58] bogo777 commented on #645
Is it on newer version than this commit https://github.com/mff-uk/ODCS/commit/7f86813fa03cd71b018eb4037f630d041b045ed3?

[2013-10-14 18:22] tomesj opened #646 "Problem with vaadin - ComboBox"
When I debug DBpipeline, switch to Execution monitor and click on button "Debug data" I got this exception:

![image](https://f.cloud.github.com/assets/3481055/1328213/8e5f4592-34fd-11e3-8a99-9da9c1a9e6ea.png)

Tomas please reasign this to responsible person for that.

[2013-10-14 20:38] bogo777 commented on #646
Do you have latest version, have you tried clean&build? Is DBPedia the standard pipeline in the database? Have you clicked "Debug data" or "Debug pipeline"(there is its tooltip on the screenshot so I ask)?

This worked for me today just fine, after any of my commits, last thing I added was label with graph for data unit and it worked fine.

Can anyone else write if it works for them or not?

[2013-10-14 20:55] tomesj commented on #646
I used clean & build, restart database for sure.....Yes, it was last version. I clicked on "Debug data", but when can  run copy of DBPedia and I can show log - there was the same problem as using debug ->Debug data (in execution monitor).

Directory for fronetend´s log I have already set.

[2013-10-14 21:13] bogo777 commented on #646
Sorry, I tested the new feature, but then I wanted to add more space for it, and accidentally changed index in wrong line. Will push fix momentarily.

[2013-10-14 21:17] #646 closed, assigned to bogo777

[2013-10-14 22:07] janvojt commented on #643
I cannot reproduce this on my instance. I tried creating a new pipeline with 1 extractor, saving it, killing virtuoso and launching it again, adding a transformer, saving again (without refreshing window). It worked fine.

[2013-10-14 22:12] janvojt commented on #643
Is it reproducible on odcs.xrg.cz?

[2013-10-14 23:05] kukharm commented on #631
Thank you, now I understand how it works

[2013-10-14 23:05] #631 closed, assigned to bogo777

[2013-10-15 07:53] tomas-knap commented on #499
This could be hard to reproduce. Please leave this to the end of all high prio tasks

[2013-10-15 07:59] tomas-knap commented on #643
Yes, it happens everytime virtuoso is restarted. So just start the pipeline, kill virtuoso, wait for some time, restart virtuoso and the pipeline should continue, but with the error above. You can test today in the evening on odcs.xrg.cz.

[2013-10-15 08:02] tomas-knap opened #647 "There is John Admin as the creator of dbpedia pipeline, but no such user exists among users in settings"
Either add such user to settings or adjust the user to the existing one

Sorry, if this is not your idea ;)

[2013-10-15 08:03] tomas-knap opened #648 "Namespace prefix dialog"
When trying to delete prefix:
![screen shot 2013-10-15 at 10 02 47 am](https://f.cloud.github.com/assets/3014917/1332067/4058fea6-3570-11e3-9117-01c6a0891de2.png)

Please test the whole dialog

[2013-10-15 09:27] tomas-knap opened #649 "Increase number of rows in pipeline list at least to 20"

[2013-10-15 09:31] tomas-knap commented on #649
Or if it is easy, just fill all the space available on the page with the table for pipeline list, scheduler events, exec monitor. This is a better solution.

[2013-10-15 09:36] tomas-knap opened #650 "Cancelling DPU"
Instead of text:

![screen shot 2013-10-15 at 11 34 49 am](https://f.cloud.github.com/assets/3014917/1332550/1df1e406-357d-11e3-97c7-278e5ff4afa3.png)

Write that we are cancelling the execution, not terminating the thread

[2013-10-15 09:40] tomas-knap commented on #643
Well, now it happens even when the db was not restarted. We just run pipeline "Ares test". Then we run the pipeline once again and cancel. Then when editing "Ares test", the issue with primary key occurs

[2013-10-15 09:41] tomas-knap commented on #643
Using the following script to repair

sequence_set('seq_exec_context_pipeline', (SELECT MAX(id)+1 FROM exec_context_pipeline), 1);
sequence_set('seq_exec_pipeline', (SELECT MAX(id)+1 FROM exec_pipeline), 1);
sequence_set('seq_exec_dataunit_info', (SELECT MAX(id)+1 FROM exec_dataunit_info), 1);
sequence_set('seq_exec_context_dpu', (SELECT MAX(id)+1 FROM exec_context_dpu), 1);
sequence_set('seq_exec

[2013-10-15 10:33] janvojt commented on #643
So? What is the status? Was it just broken database?

[2013-10-15 10:35] janvojt commented on #629
I don't think so. Sequence is incremented before its value is retrieved.

[2013-10-15 11:07] janvojt commented on #625
I think the problem is that IntlibLazyQueryContainer loads only a single entity, in this case LogMessage. The query for fetching LogMessage is joined with properties, to apply DPU/Execution filter. That is why you see LogMessage correctly joined with properties in the first query. However this join is done purely for the purpose of filtering. Container does not know about the existence of this joi

[2013-10-15 11:14] janvojt commented on #588
I do not understand what is requested here, can you elaborate?

[2013-10-15 11:14] tomas-knap opened #651 "When launching pipeline, no DPU events occur"
I start debugging dbpedia pipeline, logs occur but no DPU event
![screen shot 2013-10-15 at 1 13 12 pm](https://f.cloud.github.com/assets/3014917/1333047/db50ed0a-358a-11e3-871d-5eca6541404b.png)

Always when you adjust something test it at least via user interface, better via automated tests

[2013-10-15 11:23] jakubklimek opened #652 "NPE when moving DPUs on canvas"
![image](https://f.cloud.github.com/assets/718827/1333083/23218954-358c-11e3-9e11-c035374bcdb0.png)

[2013-10-15 11:33] tomas-knap commented on #652
To reproduce:
Create new pipeline, put SPARQL extractor there. Then try to "debug to the given DPU". Error occurs - cannot save pipeline, because no name. However, as looking to db, the pipeline was actually saved (see 102 DPU instance). This is probably the root cause of the problem.

 1    SPARQL Extractor    0           <object-stream> <cz.cuni.mff.xrg.odcs.extractor.rdf.RDFExtractorConfig> <SP

[2013-10-15 11:34] tomas-knap opened #653 "Default configuration for SPARQL extractor is not working"
Put SPARQL extractor and try to load conf. It contains conf for FIle Loader. Check all core DPUs - check that default conf can be loaded successfully!

[2013-10-15 11:36] #650 closed, assigned to skodapetr

[2013-10-15 11:36] tomas-knap opened #654 "For SPARQL extractor, please put the query textarea to the main tab (not to the details tab)"
Please adjust also mockup

[2013-10-15 11:40] tomas-knap commented on #647
When I log as a different user, there is an empty space in the pipeline list, the name for the user is missing? So there is just a fixed valued user JohnAdmin?

[2013-10-15 11:43] tomas-knap opened #655 "When debugging, I should be automatically switched to exec monitor and the debugged pipeline should be selected"

[2013-10-15 11:44] skodapetr commented on #619
I can easily do this .. but there is a drawback .. the name of DPU and pipeline will be saved into DB.

I believe that we can prevent this by proper modification of VirtuosoAppender. But I would like to know Jan's opinion before I change his code.

As alternative solution I can log pipeline name and DPU name .. in separate log message at start of respective execution.

Also we should keep in mind

[2013-10-15 11:44] tomas-knap commented on #655
Current situation: No line is selected

[2013-10-15 11:51] tomas-knap commented on #619
yes, I will postpone this issue. Maybe it would be enough to show somewhere the DPU ids in frontend? Not nice but useful for debugging.

[2013-10-15 11:54] tomas-knap commented on #588
The problem is that certain threads are not properly ended, they survive the main odcleanstore app. So the idea was to log when certain threads were started, finished. Petr said Spring could log that as he is creating the beans.

[2013-10-15 12:01] skodapetr commented on #619
or as I mention log something like:
DEBUG exec:10130 dpu: c.c.m.xrg.odcs.backend.execution - starting pipeline id 10130 = "AB"
....
DEBUG exec:10130 dpu:34 c.c.m.xrg.odcs.backend.execution - starting dpu id 34 = "XZ"

So user can get the names from reading the log .. it's cheap quick partial-solution as I understand that this information can make reading logs much more easier .. witch the patter "

[2013-10-15 12:06] tomas-knap opened #656 "Pool for connections not working properly - 28k+ connections"
Is there the limitation on 10000 connections?

![screen shot 2013-10-15 at 1 58 56 pm](https://f.cloud.github.com/assets/3014917/1333300/e5a5b0ea-3591-11e3-8b0c-2c71da735705.png)

[2013-10-15 12:09] tomas-knap commented on #619
Ok, let's go for this cheap solution.

[2013-10-15 12:21] tomas-knap commented on #625
Well, and what about implementing our own DAO methods for getting the list of log message/dpu events which are new from the last update? This should be pretty straightforward (updating a bit the query above).

What exactly happens when the log viewer is to be refreshed? How is the intlibLazyQuery container populated with new data?

[2013-10-15 12:21] tomesj commented on #623
Problem is, that query
SELECT count(*) WHERE {?x ?y ?z}

is not valid via using oficial SPARQL validator.

See and can try on:
http://sparql.org/query-validator.html

But if you used for validation possible "SPARQL extended syntax" - it is OK.

I try to see possibilities in my code - if there is possible to set exteded syntax here, or not.
In worst case we have to seach another variant to solve th

[2013-10-15 12:57] tomas-knap commented on #649
No fixed integer value should occur in the code, such as:

![screen shot 2013-10-15 at 2 56 45 pm](https://f.cloud.github.com/assets/3014917/1333662/5d123534-3599-11e3-9ae7-5ff3c24091f2.png)

If needed, constant may be used

[2013-10-15 13:03] tomas-knap commented on #625
In the IntlibQuery, the queries for the filters has to be constructed. So what is the problem to construct manually query for getting the list of log message/dpu events which are new from the last update?

[2013-10-15 13:49] skodapetr commented on #619
Done, I decrease priority to normal as we have partial solution now.

[2013-10-15 13:50] tomas-knap commented on #643
Well, the problem is that even when I used fresh db, it shows in the log:

14:15:13 Failed to get a buffer for a new page. Retrying.  If the failure
repeats, an out of disk error will be signalled.  The cause of this is
having too many buffers wired down for preread, flush or group by/hash join
temp space.  To correct, increase the number of buffers in the
configuration file.  If this repeats in s

[2013-10-15 14:43] skodapetr commented on #504
Přidal jsem "DPU testing" tak na to pak koukni. Není to pravda moc ukecané .. ale na druhou stranu to testovací prostředí není moc složité a pak opisovat java-doc z funkcí mi taky nepřijde záživné ke čtení.

[2013-10-15 14:54] tomas-knap opened #657 "SPARQL Extractor uses jar file for RDF FIle loader"
![screen shot 2013-10-15 at 4 51 47 pm](https://f.cloud.github.com/assets/3014917/1334499/a3cb9f6e-35a9-11e3-8728-f7762859be5c.png)

[2013-10-15 15:34] tomas-knap commented on #530
It was jTaggerAnnotator, I will try to reproduce when the deployment on odcs is running and assign to you

[2013-10-15 16:46] tomesj commented on #623
In code is not possible how to set SPARQL extended syntax.

I just implemented method for testing this case manually.

[2013-10-15 19:00] janvojt commented on #643
Are you sure this log message is relevant to relational database? Is [this](https://github.com/openlink/virtuoso-opensource/issues/52) not the same problem?

[2013-10-15 19:01] janvojt commented on #643
It is weird the class which logged this is not mentioned.

[2013-10-15 19:07] janvojt commented on #657
Please look into the configuration of DPU template, make sure JAR path is correctly specified as `RDF_extractor/RDF_extractor-1.0.0.jar` and report what you found.

[2013-10-15 19:09] janvojt commented on #644
I changed the priority to urgent, as this will make testing easier.

[2013-10-15 20:08] tomas-knap commented on #643
This is log of Virtuoso

[2013-10-15 20:12] tomas-knap commented on #657
Well, this should be correctly prepared in data.sql?

[2013-10-15 20:13] tomas-knap commented on #644
ok, tell me when ready

[2013-10-16 01:05] kukharm commented on #648
Closed by https://github.com/mff-uk/ODCS/commit/8cdf7229b08edf2fd30a0e6770f4b06b1ecddb3b

[2013-10-16 01:05] #648 closed, assigned to kukharm

[2013-10-16 05:57] tomas-knap opened #658 "Full name for users in the users dialog"
Possibility to specify full name of the user. One text field for that is enough.

[2013-10-16 06:00] #545 closed, assigned to janvojt

[2013-10-16 06:02] tomas-knap commented on #623
Jirka, why did you create special validation method? The standard validator does not validate COUNT correctly?

[2013-10-16 06:12] tomesj commented on #623
Yes - read my previous comments.

[2013-10-16 06:27] tomas-knap commented on #623
Well, what is involved in the extended syntax? What is involved in core? is that documented on the validator's page?  If the extended syntax satisfies with SPARQL 1.1 syntax, then I will use extended everywhere

[2013-10-16 06:28] tomas-knap commented on #623
Having method "SPARQLCountValidator" is strange, I would expect ideally one validation method or two at most, but named correspondingly

[2013-10-16 07:12] bogo777 commented on #651
Well, I have no DPU events in the database, so the problem is propably in backend/facade. @skodape @janvojt Any changes that could have caused this?

[2013-10-16 07:22] tomas-knap opened #659 "EclipseLink queries - to many queries, illustrated on Scheduller"
Jestli to chapu spravne na zaklade vypisu nize, tak se vykonaji nasledujici dotazy (je jich 11) pro dve pipelines zalozene jednim uzivatelem:

[code]

[2013-10-16 07:33] #652 closed, assigned to bogo777

[2013-10-16 07:37] tomas-knap commented on #659
Honzo, co si o tom myslis?

[2013-10-16 07:44] #644 closed, assigned to janvojt

[2013-10-16 08:29] #655 closed, assigned to bogo777

[2013-10-16 08:35] tomas-knap opened #660 "Please display username (login) in columns with user instead of Full user name"

[2013-10-16 08:43] bogo777 commented on #628
I came across this when using rerun/redebug from execution monitor. Or if I had detail of finished pipeline opened and switched to running pipeline. Was it that case? Or did it dissappear while watching the running execution detail?

[2013-10-16 08:43] #612 closed, assigned to bogo777

[2013-10-16 08:44] #582 closed, assigned to bogo777

[2013-10-16 09:16] tomesj commented on #623
By SPARQL 1.1 defined on page http://www.w3.org/TR/sparql11-query/#aggregates could be COUNT syntax supported, but openRDF use same validator as http://sparql.org/query-validator.html and this query passed only with set SPARQL EXTENDED SYNTAX, standard using SPARQL syntax dont passed. If I have written yet, there is no possible how to set this in code.

[2013-10-16 09:28] #660 closed, assigned to bogo777

[2013-10-16 09:59] bogo777 opened #661 "Scheduling not working properly"
I scheduled DBpedia pipeline -> I selected only the pipeline, left everything else as it was -> current date and time, repeat every day. Then pipeline is running again and again, I have 20 execution in 10 minutes.

[2013-10-16 10:54] tomas-knap opened #662 "Share RDF connection"
Instead of using new connection every time base rdf repo is used, it should share the connection. Every DPU should have just one connection. This could be ensured by calling some method getConnection(), which either creates new connection for the thread (DPU) or returns shared connection (the connection for the thread). Please ask Petr about details.

[2013-10-16 11:13] tomas-knap opened #663 "Check cancel - when DPU does not support cancelling, it is finished and next DPU not executed"
Check that pipeline is correctly moved to the canceled state

[2013-10-16 12:23] tomas-knap commented on #628
Oh, did not know now. Do you know where the problem might be?

[2013-10-16 12:46] bogo777 commented on #628
I repaired it for the cases I asked about, just don't know if the original problem was the same case.

[2013-10-16 15:05] skodapetr commented on #661
Pravda .. koukal jsem na to a vypadá to na podobný problém jako v #651 (asi) v kódu se volá.

[code]

Kód je z backend.Scheduler.execute

Nicméně v DB zůstává lastExecution s hodnotou null .. a tedy se backend pokouší stále pouštět znova. Přeřazuji tedy na Honzu, jestli je toto u něj replikovatelné .. na základě rychlého debugu to vypadá, že se prostě ta hodnota do DB neuloží.

[2013-10-16 15:36] tomesj commented on #662
I made substitute all repository.getConnection() calling using method  getConnection() used as singleton. For sure I commented finnaly blocks, where this connection is closed.

[2013-10-16 16:47] janvojt commented on #656
Please test, it should be resolved. I tested running about 10 different pipelines (dbpedia, ares, psp, buyers), and RDF database was using around 60 connections, relational database 10. That includes sockets in TIME_WAIT state.

[2013-10-16 18:17] janvojt commented on #643
I cannot reproduce, but this might have been caused by too many connections to Virtuoso. If this does not happen after commit cfbd3f98 I suggest you close the issue as resolved.

[2013-10-16 19:22] janvojt opened #664 "When schedule is deleted pipeline executions still contain references to it."
Virtuoso null cascades seem not to be working again. Need to research if it is the same bug as https://github.com/openlink/virtuoso-opensource/issues/56, and see whether there are more cases like this.

A trigger will probably fix this.

[2013-10-16 20:41] tomas-knap commented on #662
Jirka, so now every connection is shared by one BaseRDFRepo, which means by one data unit? How did you solve the merge command? You were talking about some problem, they are fine?

[2013-10-16 20:51] tomas-knap commented on #628
We will reopen if reappears

[2013-10-16 20:51] #628 closed, assigned to bogo777

[2013-10-16 20:55] tomas-knap commented on #647
Will be solved by using login

[2013-10-16 20:55] #647 closed, assigned to janvojt

[2013-10-16 22:21] janvojt commented on #659
Please retest. It should be resolved by 5a130840 and e2d96686.

The problem was that static weaving of bytecode was not setup in maven build configuration and also EclipseLink seems to require lazy annotation hint to lazyload.

[2013-10-17 07:11] janvojt commented on #600
This is resolved by using connection pools for RDF, relational data and logback.

It would be possible to configure the following parameters, however I do not think it would help anything. Pool size is adjusted dynamically according to current needs. Tampering with the pool settings can bring new problems. It would be too complicated for user to set. We would need in total 3 configurations, becaus

[2013-10-17 07:11] #600 closed, assigned to janvojt

[2013-10-17 07:17] tomas-knap commented on #600
Ok, just please comment all these params

[2013-10-17 08:56] tomas-knap commented on #661
Potvrzuju

![screen shot 2013-10-17 at 10 55 17 am](https://f.cloud.github.com/assets/3014917/1350386/fb09c9ac-3709-11e3-803f-1db7345fa01e.png)

[2013-10-17 09:27] janvojt opened #665 "Refresh button in ExecutionMonitor does not work."
This is a more general problem though. Table in execution monitor does not refresh automatically anymore. Even worse, it does not refresh after manually clicking on refresh button. It may have been caused by implementing "single-row-updates".

[2013-10-17 09:29] janvojt commented on #665
EM is refreshed only by clicking on the menu.

[2013-10-17 10:38] tomesj commented on #662
I edited only method in BaseRDFRepo - specific method as merge (has different implementation in Local/Virtuoso) stayed without changes. I tried primitive test for trying it - it was fine, but I will be better to test it for pipeline runnig and more complex calling method (parallel using, etc...)

[2013-10-17 10:59] bogo777 commented on #665
It doesn't work at all? For me it works fine, except some special cases of pipeline finishing/failing. Both in automatic refresh and button, the "check if record newer than last update exists" is used. Is date for log assigned earlier than it is saved to db? I assumed that it is generated the moment it is saved, but maybe it's not the case and my approach doesn't work then.

I will try to recover

[2013-10-17 11:15] janvojt commented on #665
Sorry, I never updated the trigger update_last_change, so after the rename it was still setup for intlib table.

[2013-10-17 11:15] #665 closed, assigned to bogo777

[2013-10-17 11:17] #630 closed, assigned to kukharm

[2013-10-17 12:14] janvojt commented on #661
The problem seems to be that  transactional annotations are ignored.

When save is called with schedule, the schedule is already persisted in DB, so merge is called. However merge itself only merges in the cache and does not flush the merged object to the database. It is to be flushed when transaction is committed, however there is no transaction. Therefore the merged object is never flushed to DB

[2013-10-17 12:55] #651 closed, assigned to bogo777

[2013-10-17 12:56] #661 closed, assigned to janvojt

[2013-10-17 14:09] janvojt commented on #657
The log in the screenshot says:
1. Extractor **finished**.
2. Installing Loader.

What is wrong with that? I assume extractor was installed in the preceding lines, then extractor finished, so loader can be installed and run.

[2013-10-17 15:29] janvojt opened #666 "Paginator in log browser does not work correctly."
It seems that if I try to go to a page beyond 44 JDBC throws an exception.

![screenshot from 2013-10-17 17 26 42](https://f.cloud.github.com/assets/2247062/1353109/bfd4d958-3740-11e3-91f3-8974e6a2b292.png)

[2013-10-17 15:59] tomas-knap opened #667 "Problem connectiong to Virtuoso on odcs.xrg.cz"
Kdyz pustim virtuoso pro RDF data na portu 1118, zkusim se pripojit, vse ok:

knap@xrg14:~$ /usr/local/bin/isql-v -U dba -P dba01OD -S 1118
Connected to OpenLink Virtuoso
Driver: 06.01.3127 OpenLink Virtuoso ODBC Driver
OpenLink Interactive SQL (Virtuoso), version 0.9849b.
Type HELP; for help and EXIT; to exit.
SQL> ^C

Kdyz pak ale pustim backend, tak mi to pise:

Connection to jdbc:virtuoso://lo

[2013-10-17 16:00] tomas-knap opened #668 "Virtuoso.rdf.retries/wait missing in config.properties for frontend"
configure number of retries before giving up (0 is no failure toleration, -1 is unlimited)
virtuoso.rdf.retries = -1
configure how long we wait before next retrial (in ms)
virtuoso.rdf.wait = 2000

Please test that

[2013-10-17 16:37] janvojt commented on #668
In frontend there are no retries, we expect user to refresh page.

In backend this was fixed in commit 58af7e2e.

[2013-10-17 16:37] #668 closed, assigned to janvojt

[2013-10-17 16:38] janvojt commented on #666
This was actually a problem with data.

[2013-10-17 16:38] #666 closed, assigned to janvojt

[2013-10-17 16:40] janvojt commented on #589
I suggest we lower the priority, it is just a weird log, quite likely not affecting anything.

[2013-10-17 18:45] skodapetr opened #669 "Event problem"
Vidím v jenom okně event k mnoha pipeline .. že tam nemají být je myslím vidět podle časů a délek trvání pipeline.

![events](https://f.cloud.github.com/assets/3341693/1354866/d884a47c-375b-11e3-82f3-e4586b15a724.png)

Přes conductor jsme ověřil, že hodnota v execution_id je jiná .. tj. neměl bych tam vidět více než 4 záznamy.

[2013-10-17 18:50] #667 closed, assigned to janvojt

[2013-10-17 19:03] tomas-knap commented on #657
jj, mas pravdu

[2013-10-17 19:03] #657 closed, assigned to tomas-knap

[2013-10-17 19:04] skodapetr opened #670 "Extractor problem .."
When I use dbPedia pipeline and set  SPARQL Extractor "Extraction failed if there is no triples" .. the execution failed with exception - DPUs should use context.sendMessage(Error .. otherwise backedn print stack trace which is not desired ..
Also the exception does not give a reason .. why there are no triples?

[code]

[2013-10-17 19:09] tomas-knap commented on #625
I am just launching ares test pipeline. I launch the pipeline in debug and watch the debug detail - I have to wait for 5-7seconds for new data. During that time, vaading is loading data and gui is not responding, i cannot click on anything

[2013-10-17 19:10] tomas-knap commented on #625
Honza, could you please check the queries which are being executed during updating log records?

[2013-10-17 19:10] tomas-knap commented on #625
sorry, bych nejdriv mohl zkusit posledni verzi :D

[2013-10-17 19:19] tomesj commented on #670
So if I understand, just add calling context.sendMessage(...)

[2013-10-17 19:24] skodapetr commented on #670
Instead of rethrow DPUException(RDFException), yes.

And question at the very end .. is there possibility to find out .. why there have not been any triples extracted?

[2013-10-17 19:37] tomesj commented on #670
No - cause of why I can not find out. I can know only result - no triples extracted.

So I add context.sendMessage(...)

And throw RDFException - fail (as specification)

[2013-10-17 19:59] #670 closed, assigned to tomesj

[2013-10-17 20:34] kukharm opened #671 "Obsolete column Execution monitor"
What means "Obsolete" column in Execution monitor table? Is it still actual?

[2013-10-17 23:47] kukharm opened #672 "Copy pipeline exception"
I try to copy pipeline by Copy button in Pipelines section and get the exception

java.lang.NullPointerException: null
    at cz.cuni.mff.xrg.odcs.commons.app.pipeline.graph.PipelineGraph.<init>(PipelineGraph.java:81) ~[commons-app-1.0.0.jar:na]
    at cz.cuni.mff.xrg.odcs.commons.app.pipeline.Pipeline.<init>(Pipeline.java:106) ~[commons-app-1.0.0.jar:na]
    at cz.cuni.mff.xrg.odcs.commons.app.pi

[2013-10-18 06:48] tomas-knap commented on #623
Ok, but is this SPARQL EXTENDED SYNTAX covering exactly what is described in SPARQL 1.1., or is it a superset/subset, or is it overlapping with SPARQL 1.1.?

[2013-10-18 06:49] tomas-knap opened #673 "Problem with default configuration in DBPEDIA"
The named graph in SPARQL extractor for DBPEDIA should be http://dbpedia.org, no "/" at the end. Test that the pipeline generates 100 triples when adjusted. Please adjust in data.sql

[2013-10-18 07:00] bogo777 opened #674 "PipelineExecution state and start"
I need the execution in state RUNNING to already have start set. Now it is set to running and later the start date is set. In execution monitor I assume that running pipeline already started and I need the start date to get correct duration.

Also it seems reasonable that the execution in state RUNNING already started. Or is there any problem?

[2013-10-18 07:05] tomas-knap commented on #625
Tak zkousim posledni verzi, zatim mam logy na prvni strance a poustim to v normal modu. Nacteni 10ti log recordu trva nejake 2-3 vteriny. To neni unosne :( Zkontrolujes Honzo prosim ty dotazy, co se tam generuji?

[2013-10-18 07:11] skodapetr commented on #673
Re-assigned to me I will update the data.sql.

[2013-10-18 07:16] #656 closed, assigned to janvojt

[2013-10-18 07:19] #466 closed, assigned to janvojt

[2013-10-18 07:20] tomas-knap opened #675 "When clicking on column header in pipeline list I got exception"
![screen shot 2013-10-18 at 9 19 17 am](https://f.cloud.github.com/assets/3014917/1358538/b8fe1d62-37c5-11e3-8ee6-2423a1360e48.png)

[2013-10-18 07:25] tomas-knap commented on #672
+1

[2013-10-18 07:27] #645 closed, assigned to bogo777

[2013-10-18 07:32] bogo777 commented on #625
Jeste na tom pracuji, ale uz v te aktualni verzi by melo byt to nacitani dat v jinem vlakne, tudiz to samotne nahrani novych dat by melo byt rychle. U me to je vzdy do vteriny...

[2013-10-18 08:20] skodapetr commented on #673
Should be ok now. DBPedia extract 100 triples.

[2013-10-18 08:21] skodapetr commented on #673
I have also change configuration from BLOB into string so it should be easier to update them in the future.

[2013-10-18 08:28] skodapetr commented on #674
No problem at all .. please try and close if it fulfils your requirements now.

[2013-10-18 08:33] skodapetr commented on #671
well .. not currently use but the planned use is:
obsolete = true <=> pipeline has been modified during it's execution
to describe it in other way: I start the execution and before it ends .. I modify the pipeline in some way

The execution should not reflect this changes .. so it continue with old (obsolete) pipeline.

I you are satisfied with the answer please close the issue.

[2013-10-18 08:39] #674 closed, assigned to skodapetr

[2013-10-18 08:41] bogo777 commented on #675
It is the side effect of bot limiting length of description. Now we cannot sort by it. I will set proper sortable columns for pipeline list and close this.

[2013-10-18 08:59] #675 closed, assigned to bogo777

[2013-10-18 10:10] #671 closed, assigned to tomas-knap

[2013-10-18 11:02] kukharm opened #676 "Copy DPU template Error"
I try to copy DPU template by Copy button in the DPU Templates section. Nothings happens, new DPU was not created, in the logs i get error message

12:57:00.447 [http-bio-8080-exec-4] DEBUG c.c.m.x.o.c.a.m.o.OSGIModuleFacade - Installing bundle from 'RDF_extractor'/'RDF_extractor-1.0.0.jar'
12:57:00.506 [http-bio-8080-exec-4] ERROR c.c.m.x.o.f.g.ViewComponent - Failed to load configuration for 1
c

[2013-10-18 11:10] tomas-knap commented on #669
Bohuslave, zkontroluj prosim intlib query container

[2013-10-18 11:11] tomas-knap commented on #669
v mem pripade to dokonce vypada, ze se tam objevuji DPU events z predchozich pipeline, ale ne z te aktualni

[2013-10-18 11:19] tomas-knap commented on #625
Parada, to uz funguje dobre. Narazil jsem akorat na jeden problem a to, ze mi to obcas ukazuje logy pro jinou pipeline.

To reproduce. I have one pipeline already finished, the second still running. As I am switching in the execution monitor between these two records, sometimes it happens that it is shows logs for a different pipeline that it is highlighted:

![screen shot 2013-10-18 at 1 15 29 pm

[2013-10-18 11:23] tomas-knap commented on #625
When I open debug view as the pipeline is launched and I am checking new logs for that pipeline, everything is smooth. But when I click firstly on the execution record in the monitor for the execution already running and having generated certain logs, the firs open of log viewer tooks 7s+. But this is not needed, because again only the couple of last logs is visible to the user.

[2013-10-18 11:33] tomas-knap commented on #625
Bohuslav, please check  that even for the first opening of Log browser, only the needed logs are loaded

[2013-10-18 11:46] bogo777 commented on #669
Ja jsem tam vypnul refresh kvuli testovani rychlosti logu, kdyz ty events stejne nefungovaly. Ale Honza je opravil driv, nez jsem to zase zapnul. V aktualni verzi uz by to melo byt v poradku.

[2013-10-18 12:30] skodapetr commented on #676
Could you please provide more details? I try it with non-root template created from DBPeadia extractor and it works fine.

question for you. how should it behave when I try to copy root-template (ie has no paret) ? As it do nothing .. which is good .. but then I would expect thete there will be no copy button .. or it can create a copy and add it to the sub tree ?

[2013-10-18 12:37] tomas-knap opened #677 "exec_context_dpu - null values for context"
Is it ok that the values binding the table to context are null? I mean column exec_context_pipeline_id

![screen shot 2013-10-18 at 2 36 52 pm](https://f.cloud.github.com/assets/3014917/1360239/fc5f8fec-37f1-11e3-884c-e58b747aabc3.png)

[2013-10-18 12:48] tomas-knap opened #678 "When connection failed, there is now way how to recover from it"
DPU is running, rdf database is killed, DPU tries to connect again to the rdf database but is using again and again already broken conneciton, so even if the database is up and running again, the old conneciton is used again and again and the DPU cannot reconnect.

[code]

Solution: When RDFException is thrown, new connection should be tried to be established on any consequent BaseRDFRepo method c

[2013-10-18 13:31] tomas-knap commented on #643
I can reproduce this - see odcs.xrg.cz:8080/odcleanstore. Just try to create new pipeline, when you try to save for the first time, error occurs:

![screen shot 2013-10-18 at 3 13 51 pm](https://f.cloud.github.com/assets/3014917/1360628/9349f260-37f9-11e3-962f-503d4149df9e.png)

But it can be saved for the second time.

[2013-10-18 13:33] tomas-knap commented on #634
Cannot reproduce now, will try again when #678 solved

[2013-10-18 13:37] tomas-knap commented on #629
Duplicates #635

[2013-10-18 13:37] #629 closed, assigned to janvojt

[2013-10-18 13:38] tomas-knap opened #679 "UI id already used"
As i was using GUI, error occurs:

![screen shot 2013-10-18 at 3 36 15 pm](https://f.cloud.github.com/assets/3014917/1360660/79e0bd62-37fa-11e3-8529-018b1693451d.png)

[2013-10-18 14:47] bogo777 commented on #625
I fixed problem with showing logs from different pipeline. For the long loading 7s+ I have no solution yet. It happened to me too, but I cannot reproduce it on demand, so it will take some time.

In new version of log table, execution id filter is set to container before it is assigned to table, so there should not be any unneccessary data loaded.

I inspected the log from when long load happened

[2013-10-18 22:35] kukharm commented on #676
On the DPU Templates section of the main menu, in the dpu tree i have only standard DPUs. I select SPARQL Extractor and press "Copy" button under details dialog. I expect that new DPU template "Copy of SPARQL Extractor" will appear in the tree (it works that way before) but it does not happened and any error message that something wrong does not appear... nothing happens. But in logs there an erro

[2013-10-19 08:22] #669 closed, assigned to bogo777

[2013-10-19 08:22] #662 closed, assigned to tomesj

[2013-10-19 08:23] tomas-knap commented on #653
Default configuration for SPARQL loader still not working, otherwise fine

[2013-10-19 08:24] #673 closed, assigned to skodapetr

[2013-10-19 08:27] tomas-knap opened #680 "Sorting of columns not working in exec monitor"
Please add sorting possibility to all the columns, if possible. Check also other tables.

[2013-10-19 08:28] tomas-knap opened #681 "Pipeline canvas - create new edge does not work for the first time"
When I put DPU on canvas, try to add edge to the already existing DPU, it does not work, no edge is shown. But when I try to display the icons again and try to create the edge, it is working normally

[2013-10-19 08:32] #641 closed, assigned to tomesj

[2013-10-19 08:44] tomas-knap opened #682 "Logs from subpackages not included"
As introduced below, I have DPU UriGenerator, which is using certain classes from subpackages as below:

![screen shot 2013-10-19 at 10 43 10 am](https://f.cloud.github.com/assets/3014917/1365901/8a5617e6-389a-11e3-84e0-8df36e0dffbf.png)

But any log from the subpackages does not display in exec detail - log.

[2013-10-19 08:56] skodapetr commented on #682
And are there presented in standard output, backend log file?

[2013-10-19 09:22] tomas-knap commented on #682
Yes

[2013-10-19 09:22] tomas-knap commented on #682
They are logged at info level, using logger: private static final org.slf4j.Logger logger = LoggerFactory
            .getLogger(IntLibLink.class);

[2013-10-19 09:31] bogo777 commented on #681
I am unable to reproduce it. I tried adding DPU to saved pipeline, to new pipeline with and without previously saved in pipeline edit.

What browser do you use? Can you give step by step guide to reproduce it?

[2013-10-19 09:32] tomas-knap opened #683 "Test Debug to the given DPU from pipeline canvas"
In my case, I selected second DPU, but the pipeline was executed completely.

[2013-10-19 09:52] skodapetr commented on #682
And could you please post a sample? if the dpu, pipeline is is presented.

[2013-10-19 11:26] #683 closed, assigned to bogo777

[2013-10-19 12:44] #672 closed, assigned to janvojt

[2013-10-19 12:51] skodapetr commented on #676
Well . for top level DPUs there should no possibility to "copy" .. as say our comment in code:
// Copy DPU Template Button, may copy only DPU of 3 level.

But there were some problems with disabling the button. So you can try to copy the top DPU .. which .. do not create error on my side .. but ends up with some strange results .. like DPU Template without owner .. which is not visible ..

[2013-10-19 13:02] skodapetr commented on #604
DataUnits and data related to given execution should be also deleted when cancelling -> canceled after backend restart.

[2013-10-19 13:31] tomas-knap opened #684 "Combo box with DPU instances in debug view not working properly"
If I start pipeline, look at exec detail -> log, there are two instaces in the combobox:

![screen shot 2013-10-19 at 3 23 51 pm](https://f.cloud.github.com/assets/3014917/1366244/7fba7520-38c2-11e3-9465-230ab987994a.png)

Later, when the pipeline is finished, there is no dpu instance in the combo box:

![screen shot 2013-10-19 at 3 26 11 pm](https://f.cloud.github.com/assets/3014917/1366245/83e92

[2013-10-19 13:59] kukharm commented on #676
Yes, you are right, i forgot about this condition, initially it was disabled for 2-level DPUs.

[2013-10-19 13:59] #676 closed, assigned to skodapetr

[2013-10-19 14:23] skodapetr commented on #357
User can define position of config.properties file using -c "path backend" parameter. Frontend now have it's own config.properties.

So I think it's possible to have two instances of ODCS on one machine with two different configurations.

Store configuration into database .. I think it is not life critical .. and there are probably other issues that are more important. So I suggest close this issu

[2013-10-19 14:32] skodapetr commented on #392
1) it can be .. but the Scheduler component is managed by backend .. also the question can be how mane execution there should be? I can imagine solutions that would be much worse then current implementation.

2) I thing we can delete automatically and immediately executions that has no data in context, it. nothing happened to them.  As to cancelling scheduled pipeline rather then changing state I

[2013-10-19 14:34] skodapetr commented on #308
Iteration 0.4.1 is done.
We have optional inputs .. and as far as I know there is no evidence that this solution insufficient for our needs. So I suggest close this issue and create new if needs of new annotation arise.

[2013-10-19 14:38] skodapetr commented on #491
Every pipeline now contains filed List<Pipeline> conflicts.

So we need a new component/dialog that enable user to work with this list, then we can test this functionality.
The dialog should contains list of all pipelines .. probably for every user? - we should discuss this with Jakub
user can use checkBox .. (probably simplest solution) to select conflict Pipelines .. also we have to remember tha

[2013-10-19 15:52] #682 closed, assigned to skodapetr

[2013-10-19 15:55] tomas-knap opened #685 "If DPU does not define any input, an edge to such DPU should not be allowed"
Such situation (red arrows) should not happen, yellow notification should appear when user tries to create edge to DPU not having any input and such edge is not created

![screen shot 2013-10-19 at 5 54 20 pm](https://f.cloud.github.com/assets/3014917/1366538/4f476550-38d7-11e3-8da9-744970bf7249.png)

[2013-10-19 15:56] tomas-knap commented on #681
Well, I am also unable to reproduce, but it was happening. Closing, will reopen if it happens again

[2013-10-19 15:56] #681 closed, assigned to bogo777

[2013-10-19 16:00] tomas-knap opened #686 "Warning should appear when user is trying to save the pipeline under the already existing name"
Motivation: it is then confusing for the user

![screen shot 2013-10-19 at 5 59 32 pm](https://f.cloud.github.com/assets/3014917/1366543/8e6f1778-38d7-11e3-9252-84567c7afc65.png)

[2013-10-19 16:03] tomas-knap commented on #357
Yes, current situation is enough

[2013-10-19 16:03] #357 closed, assigned to skodapetr

[2013-10-19 16:04] tomas-knap commented on #357
Just please document that -c param may be used

[2013-10-19 18:20] janvojt commented on #643
I tried now, and pipeline is created without any problems.

[2013-10-19 20:31] tomas-knap opened #687 "Cleansing of local RDF repositories - Fail to sync to file"
When the pipeline finishes, it generates properly the expected data, but produces errors as the local rdf repositories are cleaned up. Can we somehow avoid these problem?

2013-10-19 20:24:08,837 [Thread-37] DEBUG exec:166 dpu:124 c.c.m.x.o.r.impl.LocalRDFRepo - Data 6272/6272 part loaded successful
2013-10-19 20:24:08,837 [Thread-37] DEBUG exec:166 dpu:124 c.c.m.x.o.r.impl.LocalRDFRepo - Query fo

[2013-10-19 20:33] #654 closed, assigned to kukharm

[2013-10-20 11:54] janvojt commented on #677
I think Petr might shed some light and answer this question -> I am reassigning.

P.S.: Is this a bug? So far I suspect rather a discussion...

[2013-10-20 18:44] skodapetr commented on #687
I'm not sure .. the problem is that Local RDF repository work in separate thread.
How it is done now: we call close on Local RDF repository and then delete the working directory = directory of RDF repository
The problem is that .. the RDF thread can block access to the file, or can try to access it after deletion ..

This is my opinion I re-assign to Jirka as author of RDF. Jirka could you please

[2013-10-21 07:35] tomas-knap opened #688 "Perl script problem Using local RDF store, the processing of the pipeline finishes in the middle"
It was processing DPU, then just wrote:

![screen shot 2013-10-20 at 8 26 37 pm](https://f.cloud.github.com/assets/3014917/1370540/059e745a-3a23-11e3-920c-fa35e7d49846.png)

So it was synchronized to file and then pipeline remains in the status running but nothing was happening. Is there any memory restriction/file size restriction on the local RDF rep?

[2013-10-21 08:25] tomas-knap commented on #688
Problem is in the Perl script being executed

[2013-10-21 08:28] #684 closed, assigned to bogo777

[2013-10-21 09:02] bogo777 commented on #649
It would be quite complicated if the number of rows in the table was dependent on the user screen size. For smaller screens there would be only a few rows, which is maybe more unpractical than having to scroll down a bit. What would we do if the user would resize browser window? Would the tables be resized too? Again, if the window is small, there would be few rows. Also, execution monitor with de

[2013-10-21 10:05] janvojt commented on #209
I created around 600 pipelines and 10600 executions. Web frontend is working smoothly without noticable change in performance as I expected.

Then I tested how the delays will affect performance to see what might happen if the remote host is quite far. I already suspected this will be a problem, because on some screens we use quite many database queries. Each query needs to wait for the previous o

[2013-10-21 10:34] tomesj commented on #687
Yes, I think Peter has right. Shut down on repository is called in thread (must be) and delete working directory is possible after ending this proccess. Repository holds lock until shut down. I re-assign Peter back

[2013-10-21 10:36] tomas-knap opened #689 "Daemon for launching backend, logs for backend"
- should be possible to start via "odcs start" e.g., should support stop, restart.
- should monitor connection to db
- should also take care of logs - should be possible to say what should happen if log exceeds certain size, if it should cycle/create new file.

[2013-10-21 10:37] tomas-knap opened #690 "Frontend - management of logs"
in case logs exceed certain size, new file should be created, there could be restriction on total number of files.

[2013-10-21 10:37] tomas-knap commented on #690
relates to #689

[2013-10-21 10:51] tomas-knap commented on #649
View should fill the whole space, rows always 20

[2013-10-21 10:54] tomas-knap commented on #642
Problem is that more error messages may occur

[2013-10-21 10:56] tomas-knap commented on #633
There is always scrollbar or never - needs to be solved

[2013-10-21 11:04] #499 closed, assigned to bogo777

[2013-10-21 11:05] tomas-knap commented on #477
Relates to #625

[2013-10-21 11:05] tomas-knap commented on #462
Relates to #625

[2013-10-21 11:11] tomas-knap commented on #520
When clicking browse on dbpedia pipeline

2013-10-21 13:10:24,308 [http-bio-8080-exec-1108] DEBUG org.openrdf.sail.memory.MemoryStore - MemoryStore initialized
2013-10-21 13:10:24,308 [http-bio-8080-exec-1108] INFO  cz.cuni.mff.xrg.odcs.rdf.impl.LocalRDFRepo - New local repository with data graph http://default successfully incicialized.
2013-10-21 13:10:24,308 [http-bio-8080-exec-1108] INFO  cz.c

[2013-10-21 11:14] tomesj commented on #640
No problems found using FUSEKI.

[2013-10-21 11:19] tomas-knap opened #691 "Do we need web socket communication?"
Napis sem jestli potrebujem nutne web socket communication, pripadne co nam prinasi, potencialne prinese. Pokud nepotrebujem, tak muzem zjednodusit zpracovani requestu

[2013-10-21 11:40] tomesj commented on #626
Speed for ADD X TO Y is 4 666,6 triples/s ,
Speed for INSERT ...is 3550 triples/s.

Using approach ADD X TO Y (direct virtuoso syntax) is 1.31 faster than using INSERT ...

[2013-10-21 12:10] tomas-knap commented on #649
When done please leave it with low prio

[2013-10-21 12:15] tomas-knap opened #692 "GUI Refactoring"
- Autowiring instead of getApp.get...();
- MVP like style, https://vaadin.com/web/magi/home/-/blogs/model-view-presenter-pattern-with-vaadin
- DataUnitBrowser, RDFBrowser not used
- We discussed with Petr and came to conclusion, that we should set the object being initialized as last step in init method. So if it fails before, it is still null and will be initialized again upon next request.

Mino

[2013-10-21 12:20] tomas-knap commented on #542
SPARQL extractor cannot be reasonably cancelled, the same for RDF extractor. But in case of SPARQL loader, check how this could be implemented, so that between loading two parts, cancel flag is checked. Please also discuss whether SPARQL transformer can implement cancel between the queries specified.

[2013-10-21 12:29] tomas-knap opened #693 "Optimize PipelineList queries"
See #209

The optimizations that can be done in PipelineList are quite straightforward. I believe it would be enough to add 3 columns to pipeline table, where we can save the information about last execution. This would need to be updated by backend when pipeline finishes.

[2013-10-21 12:31] tomas-knap commented on #209
Thanks. I created issue for pipeline list optimization.

What was the problem in pipeline execution that it took 3seconds to load the page?

Did you also test executing certain pipeline and observing the logs in the debug view online with all these latencies?

Regarding the problematical parts, even on the localhost, it took quite a while to load exec monitor record detail from exec monitor, 3-7s

[2013-10-21 12:35] tomas-knap commented on #640
Ok, so you just set up FUSEKI, adjust the configuration - ports etc. and everything was working?

Btw. as the data are merged from one data unit to another, what mechanism is used for merging, I mean which SPARQL query?

[2013-10-21 12:36] tomas-knap commented on #640
For example, "DEFINE sql:log-enable 2 \n"
-            + "ADD <%s> TO <%s>", sourceGraphName, targetGraphName"

Will this work with Fuseki (if you try to use this query when manually querying fuseki)? Use arbitrary graphs

[2013-10-21 12:37] tomas-knap commented on #626
Ok, but ADD X TO Y is not in SPARQL 1.1, or is it?

[2013-10-21 12:39] tomas-knap commented on #640
in other words, this log_define(2) used in Virtuoso, is it working with Fuseki?

[2013-10-21 12:51] tomesj commented on #626
Yes, ADD X TO Y is in SPARQL 1.1 UPDATE
see http://www.w3.org/TR/sparql11-update/#add

[2013-10-21 12:59] tomas-knap commented on #626
But DEFINE sql:log-enable 2 is virtuoso specific, right?

[2013-10-21 13:04] bogo777 commented on #638
Motivace:  Filtrování záznamů v tabulce
Řekněme, že máme RDF query místo stringu reprezentovanou nějakým wrapper objectem. Ten bude mít metodu addFilter(String filter, String columnName), která do původního stringu query, do části WHERE doplní něco jako FILTER regex(str(?columnName),filter,'i') ,aby bylo možné výsledky filtrovat. Výsledek bude třeba

CONSTRUCT {?s ?p ?o} WHERE { ?s ?p ?o
FILTER re

[2013-10-21 13:07] bogo777 commented on #639
LIMIT používám při stránkování. Tudíž chci pokaždé jen 20 záznamů. Uživatel jich chce třeba 100, ale já mu najednou zobrazím jen těch 20 = 1 stránku. Tudíž když jen na konec stringu přidám "LIMIT 20", tak tam bude "LIMIT 100 LIMIT 20", což nefunguje, chtěl bych tedy metodu, která by zajistila, že tam bude správný limit a query zůstane validní.

[2013-10-21 13:26] tomesj commented on #626
Yes, you right.

[2013-10-21 13:28] tomesj commented on #640
Log_define(2) is Virtuoso specific, only merge using ADD X TO Y is OK (used SPARQL 1.1 Update syntax).

[2013-10-21 15:02] tomas-knap commented on #640
Well, so how is Fuseki able to work with Define sql:log_enable? It is discarded when the query is executed?

[2013-10-21 15:03] tomas-knap commented on #640
What will happen if you submit query: DEFINE sql:log-enable 2 "+ "ADD <%s> TO <%s> to fuseki?

[2013-10-21 18:04] tomesj commented on #638
Tak jsem ti udělal myslím dost hezkou věc - QueryFilterManager:
Uděláš si novou instanci - dáš tomu původní query a pak si přidáváš/odebíráš filtry dle libosti...

Máš tak metody jako
addFilter(), removeFilter(), getFilters(), ... vše by melo byt intuitivní - případnš stačí kouknout na komentáře

Důležité jsou metody:
getFilteredQuery()  - vrací transformované query - aplikace postupně přes všechn

[2013-10-21 19:06] janvojt commented on #209
For each execution there is one query that fetches pipeline name. As I already mentioned before, this could be resolved by specifying association to preload in LazyQueryContainer. However I do not have time to do this this week.

Yes, everything else was OK. However I did not test debug run, that might slow things down when heavy logging into database. I did not test this, because there is not muc

[2013-10-21 21:30] tomesj commented on #639
K tomu co píšeš se dá používá OFFSET, který udělá co je potřeba a vyhovuje syntaxi SPARQL 1.1.

Postupně uvedu příklad: .
1) Mám "query" - to mi vrací např. 238 triplů
2) Uživatel jich chce 100 - potom "query" LIMIT 100
3) Chci dát 20 triplů na stránku (či méně)
a) pro prvni stranku - "query" LIMIT 20 OFFSET 0
b) pro druhu stranku - "query" LIMIT 20 OFFSET 20
c) pro třetí stránku - "query" LIMIT 2

[2013-10-21 21:38] bogo777 commented on #639
OFFSET znám a používám, mě jde o to přepsání LIMITu v původní query.

Uživatel zadá:
SELECT ?s ?o ?p WHERE {?s ?o ?p} LIMIT 100

Já chci data pro 1.stránku:
SELECT ?s ?o ?p WHERE {?s ?o ?p} LIMIT 20 (OFFSET 0)
pro druhou:
SELECT ?s ?o ?p WHERE {?s ?o ?p} LIMIT 40 OFFSET 20

Kromě setLimit(20) by to tedy mohlo mít i metodu setOffset(40), případně 1 s nastavením obojího

Do důsledků bychom asi mohli

[2013-10-21 21:57] tomesj commented on #639
OK, takže jestli to chápu správně, tak ti stačí object, kterýmu se dá query a pak se na něm zavolá metoda
setLimit(10), popr. i setOffset(30) a ta vrati ten dotaz, s těmito hodnotami, co chces....

Stačí to takto ? Jestli jo, tak to ti udělám :-)

[2013-10-21 21:58] bogo777 commented on #639
JJ to je přesně ono. :-)

[2013-10-21 22:00] tomesj commented on #639
Jo, tak už si rozumíme, to jsem potřeboval vědět...Nakonec je to jednodušší, než jsem si původně myslel.

[2013-10-21 23:39] tomesj commented on #639
Máš tam novou třídu QueryRestriction
- té dáš query, nastavíš si LIMIT, OFFSET, případně obojí a pak zavoláš metodu

String getRestrectedQuery()
- vratí ti správné query dle tvého restriction nastavení.

Toť vše.

[2013-10-22 08:12] bogo777 commented on #639
Works great.

[2013-10-22 08:12] #639 closed, assigned to tomesj

[2013-10-22 08:14] bogo777 commented on #638
Vypadá to dobře, ale bohužel to nefunguje. Přidám filtr do FilterManageru, ale vrátí mi to původní query. Selže tam matcher v applyFilterToQuery()

Matcher matcher = getMatcher(originalQuery);
String resultQuery = originalQuery;
boolean hasResult = matcher.find();

Tak ten hasResult je false hned napoprvé a nikam se tam ten filtr nepřidá. Původní query byla: CONSTRUCT {?s ?p ?o} WHERE {?s ?p ?o}

[2013-10-22 09:48] tomesj commented on #638
Tak jsem zkoušel stejný dotaz u sebe a normálně mi to šlape jak má....

Dáváš argumenty v rámci konstruktoru RegexpFilter bez otazníku ?. Na velikosti by přitom nemělo záležet. Navíc filtry to jenom přidá, pokud se ten název shoduje s where částí tedy pro

CONSTRUCT {?s ?p ?o} WHERE {?s ?p ?o}

TO jde pro např pro.
new RegexFilter("s", "Subject");
new RegexFilter("p", "Predicate");
new RegexFilter

[2013-10-22 10:15] bogo777 commented on #638
Pro SELECT mi to funguje správně. U CONSTRUCTu jsem si neuvědomil, že ať se v té query zadá cokoliv, tak výsledek jsou trojice s subject, predicate, object.(Což je správně) Jen je pak problém to zjištění správného filtru, protože já nemám ty původní názvy sloupců a jejich namapování na trojici. Myslíš, že bys to dokázal odvodit ty? Předpokládám, že se to dělá z pořadí proměnných v CONSTRUCTu.

Nap

[2013-10-22 10:35] tomesj commented on #638
U constructu jsou vždycky trojice, to ano, ale ty mohou být už předvyplněné, např:

Construct {&lt;http://a&gt; &lt;http://b&gt; ?o } where {&lt;http://c&gt; &lt;http://d&gt; ?o }

Co by potom mělo vracet např. getColumnName("subject") - &lt;http://a&gt; nebo &lt;http://c&gt; ?
Jak se se to mělo pak řešit ?

Je jasné, že to omezení, by se mělo týkat pouze proměnných, jinak to nemá asi moc smysl (c

[2013-10-22 10:49] tomesj commented on #638
Navíc to pořadí nelze ani tak jednoznačně určovat, protože např.

CONSTRUCT {?s ?p ?o } where {?o ?s ?p}

Potom to neodpovídá - např. proměnná ?o jako subject v původních datech (v části where) je v nových trojicích objectem....Ty ale můžeš přidat filtr jen do části where...Ale data se ti pak zobrazují podle té části popsané v contruct. Tedy ty chceš omezit subject, ale omezíš si vlastně object (v

[2013-10-22 11:11] bogo777 commented on #638
Aha, no je to trochu složitější, než jsem čekal. Možná by nám mohl poradit @tomas-knap jak na to/jak by si to představoval?

[2013-10-22 11:46] tomesj commented on #640
I get
Error 400: Lexical error at line 1, column 7.  Encountered: " " (32), after : "DEFINE"

But part
ADD &lt;something&gt; TO &lt;something2&gt; passed.

[2013-10-22 15:03] bogo777 commented on #625
I investigated this and found out, that the queries to db are sometimes slow. I'm pasting some of the queries from browsing logs:

EL Fine]: sql: 2013-10-22 16:51:45.054--ServerSession(1887951298)--Connection(1380507825)--SELECT TOP 48916,9 t1.event_id AS a1, t1.level_string AS a2, t1.formatted_message AS a3, t1.logger_name AS a4, t1.thread_name AS a5, t1.timestmp AS a6 FROM logging_event_property

[2013-10-22 16:23] tomas-knap commented on #640
But if there is in the code: "DEFINE sql:log-enable 2 \n"
- "ADD <%s> TO <%s>", sourceGraphName, targetGraphName"

What will happen if fuseki is used? It will throw an error during merging?

[2013-10-22 21:44] janvojt commented on #625
Maybe the reason is simply that your disk/CPU is busy servicing other applications (maybe backend?)? I did not run into this problem on my PC, load times are always the same.

[2013-10-22 21:50] janvojt commented on #528
https://grips.semantic-web.at/display/LOD2/Database+schema

[2013-10-22 21:50] #528 closed, assigned to janvojt

[2013-10-23 07:39] bogo777 commented on #625
Does same means that they are fast? There is also problem with speed on http://odcs.xrg.cz/
So is it possible, that such query takes seconds? Also it depends on total number of logs -> for DbPedia pipeline it takes just a moment, but for 1000+ pages of logs, it takes 5s+

[2013-10-23 08:14] #633 closed, assigned to bogo777

[2013-10-23 08:50] bogo777 opened #694 "ModuleFacade in DPUExplorer is null"
I tried to use DPUExplorer for getting DPUs inputs/outputs(as getting it through EdgeCompiler is deprecated). But every time it's called, I get NPE. I debugged it, and the autowired moduleFacade is null.

[2013-10-23 08:53] bogo777 commented on #685
Will solve after #694 is resolved.

[2013-10-23 08:54] #590 closed, assigned to bogo777

[2013-10-23 09:05] tomas-knap commented on #638
Tak, reseni bych videl, ze se nebudeme snazit opracovavat ten puvodni dotaz, ale proste prislusne CONSTRUCT/SELECT query, ktere uzivatel zada (pripadne je zadano pres BRowse button) vzdy vysype data do nejake docasne tabulky (relacni), kde sloupce odpovidaji tomu co mas v browseru a nad tim pak muze pracovat Bohuslav.

Ale to znamena domluvit se s Honzou, jak to udelat, bo potom co uzivatel odesle

[2013-10-23 09:15] tomas-knap commented on #687
Well, but RDF thread should properly release the repository when it finishes, right? Jirka, what is done when the repository is no longer needed? There is no way how to release/close the repository when it is not needed?

[2013-10-23 09:15] #680 closed, assigned to bogo777

[2013-10-23 09:17] tomas-knap commented on #687
So Petr may wait with the cleansing before the lock is released, but the cleansing must happen

[2013-10-23 09:22] tomas-knap commented on #625
Well, on fresh install, showing logs for dbpedia is immediate. So it takes longer because of bigger log table.

[2013-10-23 09:23] tomas-knap commented on #625
How many queries are executed for each loading of logs (last page?)? Just one query? Or for each record?

[2013-10-23 09:24] tomas-knap commented on #590
Is there any commit associated?

[2013-10-23 10:08] #658 closed, assigned to kukharm

[2013-10-23 10:11] tomas-knap opened #695 "SPARQL Extractor/Loader - combobox"
Instead of combobox for SPARQL endpoint, text box should be used

[2013-10-23 10:13] #653 closed, assigned to skodapetr

[2013-10-23 10:14] tomas-knap commented on #623
Jirka?

[2013-10-23 10:14] tomas-knap commented on #626
So what solution do you suggest?

[2013-10-23 10:16] #610 closed, assigned to skodapetr

[2013-10-23 10:26] #603 closed, assigned to skodapetr

[2013-10-23 10:29] #601 closed, assigned to skodapetr

[2013-10-23 10:30] tomas-knap commented on #295
When SPARQL query is prepared, user may use namespace prefixes in the SPARQL query. When saving the configuration, it is checked that all namespace prefixes are known, if not, user may directly add unknow namespace prefixes from a dialog.

THis is also implemented?

[2013-10-23 10:31] #504 closed, assigned to skodapetr

[2013-10-23 10:36] tomas-knap commented on #407
Any info from Petr Parizek?

[2013-10-23 10:38] #458 closed, assigned to bogo777

[2013-10-23 10:40] #498 closed, assigned to bogo777

[2013-10-23 10:40] #536 closed, assigned to skodapetr

[2013-10-23 11:01] skodapetr commented on #687
The problem is .. we do not know how long. I'm afraid that the time depends on number of triples. Maybe we can call clean (our new method) wait for some time .. and then try to close .. wait again .. and then delete.

On the other hand .. this can be done in delete method as it is related only to LocalRDF not to every data unit. So I suggest to done this in LocalRDF delete method.

[2013-10-23 11:07] skodapetr commented on #407
Unfortunately no .. but I start every bundle before use. So user get proper message missing XY package. It may decrease security a little bit. Just try some DPU with missing packages ..

[2013-10-23 11:39] skodapetr commented on #694
Does this happen on every DPU? Or is there way for me to replicate easily?

[2013-10-23 11:42] bogo777 commented on #694
For me, it happens for every DPU, I can push code where I replaced EdgeCompiler with DPUExplorer, and then it is easily replicatable from canvas. Adding new edge will do.

[2013-10-23 11:43] skodapetr commented on #677
Table exec_context_dpu is for ProcessingUnitInfo class. The exec_context_pipeline_id corresponds with mapping from ExecutionContextInfo. So it here is null .. then we have information about execution for single DPU but we are missing the information about execution itself.    This should not happen.

Honza can this be similar like problem with ExecutionContextInfo mapping problem (we solve that by

[2013-10-23 11:47] skodapetr commented on #694
One more question .. the DPUExplorer should be used as a spring component (then the autowire is done) you should not create it's instance directly - I probably do not mention this in documentation .. sorry
You should use something like ..
App.getApp().getBean(DPUExplorer.class);

or directly use autowire .. but we will discuss using autowire on next frontend meeting probably .. to preserve the con

[2013-10-23 11:52] bogo777 commented on #694
Ok, that's propably the cause, I didn't know about this. I will try the autowire approach. Will close this, if it solves it.

[2013-10-23 12:40] #685 closed, assigned to bogo777

[2013-10-23 12:40] #694 closed, assigned to skodapetr

[2013-10-23 15:00] bogo777 commented on #625
One query for page of logs, and then queries to fetch the properties for each log. But those are fast.

[2013-10-23 16:36] tomesj commented on #295
I dont know about this.

[2013-10-23 16:42] tomesj commented on #626
We use Virtuoso as a data storage and there is no problem.

Problem can be only in uploading to the SPARQL endpoint  - we will use an approach 2x loadsPart. And in case Virtuoso - then Virtuoso specific loader to SPARQL endpoint.

Another idea: There is possible to remove DEFINE part and call only ADD X TO Y (Fuseki use autocommit as default I found on Fuseki pages).

[2013-10-23 16:54] tomesj commented on #687
If I havent need repository yet, I have to call "SHUT DOWN" and repository will be destroyed. After this is no change to use it - there is necesarry to create (and inicialize) new instance.

Shut down process releases the lock for repository (in case of LocalRepo). This method is has no dependency to number of triples (if you dont call method cleanAllData() before). But for example all connection

[2013-10-23 16:57] skodapetr commented on #687
Well but you can close the connection in delete function, do you? You can hold the connections manually .. but I admit that this change may not be easy to implement.

The relation to the number of triples .. the LocalRepo log something like .. 'data synced to the file' that is why I think that less triples can speed-up this.

[2013-10-23 17:16] tomesj commented on #687
What function you call cause problems ? Close, release or delete ? (or something else ?)

There this problem I described:

2013-10-19 20:25:16,987 [Thread-45] DEBUG exec:166 dpu: c.c.m.x.o.r.impl.LocalRDFRepo - Repository was not destroyed - potencial problems with locks .
2013-10-19 20:25:16,988 [Thread-46] WARN exec:166 dpu: o.o.sail.memory.MemoryStore - Closing active connection due to shut dow

[2013-10-23 17:26] tomesj commented on #623
From what I have read, SPARQL EXTENDED SYNTAX is superset of SPARQL 1.1. (it is SPARQL 1.1 with extensions). But I never found an official documentation that confirmed it for me.

[2013-10-23 18:29] tomesj commented on #640
Is returned this code

Error 400: Lexical error at line 1, column 7.  Encountered: " " (32), after : "DEFINE"

Fuseki - version 1.0.0 (Build date: 2013-09-12T10:49:49+0100)

[2013-10-24 08:02] bogo777 commented on #638
Aby tohle fungovalo, tak bychom poprve museli cely vysledek vysypat do relacni tabulky, tedy prijdeme o rychlost pri nacteni prvnich dat. Dalsi otazkou je pak sprava tech docasnych tabulek. Prijde mi to dost slozite, kvuli takove "malickosti"...

Nedal by se cely ten dotaz jeste obalit jednim CONSTRUCTem, ve kterem by byl ten filtr?

[2013-10-24 08:51] tomas-knap commented on #638
Mno, my stejne nacitame jen jednu stranku, ne? Nikolv vsechna data.

To prave fungovat nebude, bo trebas CONSTRUCT {http://konkretniSubject ?p ?o} se musi na subjektu filtrovat jinak nez ?s ?p ?o pattern. Resp. by se takovy dotaz musel prepisovat jako CONSTRUCT {?s ?p ?o} where {....BIND ?s http://konkretniSubject}

[2013-10-24 08:53] tomas-knap commented on #638
Navic ani dva vnorene CONSTRUCTs nedovoluje standard

[2013-10-24 08:55] bogo777 commented on #638
No momentalne jo, i kdyz ted mam trochu pochyby, co to vlastne dela pri tech COUNT metodach, protoze pri vetsich datech je to velice pomale, ale pokud to budeme chtit filtrovat v relacni db, tak tam ta data musime mit vsechna a az nad nimi pouzivat strankovani/filtrovani.

[2013-10-24 09:02] tomas-knap commented on #623
Can you please point me where such info is written? Thanks!

[2013-10-24 09:06] tomas-knap commented on #687
Jirka, could you please discuss with Petr a proposal of solution and write it here? It should be as soon as possible, so that w emove forward

[2013-10-24 09:06] tomas-knap commented on #295
So I suppose it is not implemented

[2013-10-24 09:14] tomas-knap commented on #625
So the first query is slow which obtains the records from log_event table? In my case it is slow everytime whenever I click on some pipeline.

What about rewritting the slow query? Or adjusting the db schema? I do not understand why the query: SELECT TOP 46340,28 t1.event_id AS a1, t1.level_string AS a2, t1.formatted_message AS a3, t1.logger_name AS a4, t1.thread_name AS a5, t1.timestmp AS a6 FROM

[2013-10-24 10:24] tomas-knap commented on #638
Mno, kdyz mas SELECT count(?x), tak ti to proste vrati jednu hodnotu, takze v tabulce bude jeden sloupec s jednou hodnotou

[2013-10-24 11:00] tomas-knap opened #696 "Instead of obsolete column, please show whether the execution was run manually or schedulled"
So the name for the column could be scheduled and the value could be icon for schedulling (if the run was initiated by the schedulled event) or preskrtnuta icon for schedulling (if run manually).

[2013-10-24 11:01] tomas-knap opened #697 "When clicking on rerun, the pipeline exec detail should not be shown"
To reproduce - run pipeline, then click on rerun from exec monitor

[2013-10-24 11:05] skodapetr opened #698 "Database down"
steps to reproduce: Virtuoso on, run backend , Virtuoso off .. and then again on ..

[code]

Q: does this means that database connection failures are handled by eclipse link? So our facades does not know nothing about it (there is no DB down log).
Is there way how to let eclipse link throw the exception? so I can catch it in aspect (which I have already implemented) and write some message .. and t

[2013-10-24 11:05] tomas-knap opened #699 "Labels for edges on pipeline canvas not working for Buyer profile DPU"
To reproduce:

checkout repository with DPUs, mvn clean install the buyer-profile's DPU. Import it to odcleanstore. Create pipeline, put buyers profile and sparql loader on canvas, create edge from buyers to loader, click on the edge, select contracts -> input, save the mapping. As a result, no label is on the edge!

[2013-10-24 11:33] #699 closed, assigned to bogo777

[2013-10-24 12:00] janvojt commented on #698
The cause for this is that method `PipelineFacade.getAllExecutions(PipelineExecutionStatus)` is not overriden in backend facade. Seems like I forgot to override it :/. If you implemented backend facades using AOP, and included this method in the AroundAdvice, it should work OK.

[2013-10-24 13:03] skodapetr commented on #698
Yes .. you are right .. I just let my self confuse with those logs .. which log mechanism is eclipse link actually using?

[2013-10-24 13:07] tomesj commented on #623
SPARQL syntax
1] http://www.w3.org/TR/sparql11-query/#sparqlSyntax

COUNT - (as agregate function)
1] http://www.w3.org/TR/sparql11-query/#aggregates
2] http://www.w3.org/TR/sparql11-entailment/#aggregates

"Aggregates defined in version 1.1 of SPARQL are COUNT, SUM, MIN, MAX, AVG, GROUP_CONCAT, and SAMPLE."

After this could be syntax supported but why when I try SPARQL 1.1 validator on http://sp

[2013-10-24 13:38] tomas-knap commented on #623
Ok, but COUNT, SUM, MIN, can be used normally according to SPARQL 1.1, so I think you can have just one validation, which is validating according to extended syntax? But before that, it would be good if you try to contact the authors of sparql.org/query-validator to check that extended syntax is equivalent of subset of SPARQL 1.1

[2013-10-24 14:14] tomas-knap opened #700 "GUI Styling not working properly"
![screen shot 2013-10-24 at 4 01 20 pm](https://f.cloud.github.com/assets/3014917/1399432/99bce6ea-3cb6-11e3-9c95-5c64e2c1be1e.png)

Please check, is the theme available?

[2013-10-24 17:00] skodapetr commented on #677
Honza do you have idea how those can be created?

[2013-10-24 18:06] janvojt commented on #698
There is a property `eclipselink.logging.logger` in persistence.xml, that can set a custom implementation of logger. The documentation says the following:

I am not sure what you need this for. Do you want to save EclipseLink logs into DB? I think we do not want them to litter DB. Logs in DB should only log the execution process, not the internals of ODCS application.

I labeled this issue as a bu

[2013-10-24 18:09] janvojt commented on #677
No, this is completely managed by backend. Maybe we can investigate if it can be reproduced in current version with a new pipeline run.

[2013-10-24 18:49] skodapetr commented on #698
Nechce se mi je ukládat do databáze.
Nicméně backend používá logback file-appender aby logoval do souboru a tam tyto logy chybí (neb je logback nevidí). Což by mohlo vadit (proč jsou logy na výstupu a nikoliv už v log souboru? ) .. našel jsem třídu pro logování eclipse-linku do slf4j a to pak půjde do logbacku. Tj. tím bychom měli toto také logované, tím bych to uzavřel.

[2013-10-24 19:23] #698 closed, assigned to skodapetr

[2013-10-25 01:39] kukharm commented on #492
https://grips.semantic-web.at/display/LOD2/DPU+instance

[2013-10-25 08:44] tomas-knap commented on #638
I would suggest to postpone this for f2f meeting next week.

[2013-10-25 08:45] #254 closed, assigned to bogo777

[2013-10-25 08:53] tomas-knap opened #701 "Debug view - browse/query - data units"
When I select SPARQL transformer, there are input and output data units, input data unit is preselected. If I uncheck input data units, no data unit is selected.

Solution: In this case the combo box should automatically preselect the first output data unit (but now it remains empty)

[2013-10-25 09:01] tomas-knap commented on #209
Ok, so these associations for execution detail and pipelines should be added.

[2013-10-25 09:02] #209 closed, assigned to janvojt

[2013-10-25 09:02] tomas-knap opened #702 "Associations for execution detail should be added to solve performance issues"
See #209 (results of testing)

[2013-10-25 09:04] tomas-knap commented on #487
Will be solved by #702

[2013-10-25 09:04] #487 closed, assigned to janvojt

[2013-10-25 09:08] tomas-knap commented on #643
Will reaopen if reaaperas

[2013-10-25 09:08] #643 closed, assigned to tomas-knap

[2013-10-25 09:10] tomas-knap commented on #625
This is associated with the findings in #209, which should be solved as part of #702. Yes?

[2013-10-25 09:14] tomas-knap commented on #687
Jak jste tedy vyresili nakonec?

[2013-10-25 09:19] tomas-knap commented on #542
Akorat z toho commitu neni jasne kde se vola interruptException

[2013-10-25 09:23] skodapetr commented on #687
Jirka upravil nějaké metody .. co jsem to zkoušel na SPAQRL testech .. tak tam mi to projde bez warningu, tj. řekl bych, že to vypadá slušně. Uzavřel bych a otevřel znovu, pokud někdo narazí na nějakou exception.

[2013-10-25 09:23] tomas-knap commented on #626
Closing, see #640

[2013-10-25 09:23] #626 closed, assigned to tomesj

[2013-10-25 09:31] janvojt commented on #625
Yes.

[2013-10-25 09:31] tomas-knap commented on #640
So I would suggest to:
- list all virtuoso specific expressions, such as this define:sql:log-enable. Is there any other? Please document every such place in the code.
- add to config properties flag where user may set whether virtuoso rdf extensions should be used, e.g. virtuoso.rdf.virtuosoExtensions = yes/no.
- if yes is defined, it behaves like now. If no is specifies, no virtuoso specific exte

[2013-10-25 09:35] tomas-knap commented on #465
If ADD x To is not virtuoso specific, no new SPARQL loader is needed

[2013-10-25 09:35] tomas-knap commented on #465
See #640

[2013-10-25 09:35] #465 closed, assigned to tomesj

[2013-10-25 09:36] tomas-knap commented on #414
So what is the result of the testing?

[2013-10-25 09:37] tomas-knap commented on #295
Missing: When SPARQL query is prepared, user may use namespace prefixes in the SPARQL query. When saving the configuration, it is checked that all namespace prefixes are known, if not, user may directly add unknow namespace prefixes from a dialog.

[2013-10-25 09:39] tomesj commented on #542
Metoda je pouze připravená, tak aby ji mohl zavolat někdo z frontendu na odpovídajícím místě v kódu. Nevím kde to tam přesně je a jak to přesně chceme, proto jsem do frontendu/GUI nešťoural.

Tipuju, že tam bude nějaké tlačítko jako součást GUI pro přerušení PIPELINE, které po kliknutí (vyvolá událost click) a zavolá na DPU to přerušení  - tedy již tuto implementovanou metodu.

Jde tedy čistě o pr

[2013-10-25 09:43] tomas-knap commented on #663
cannot be reproduces, reopen if appears again

[2013-10-25 09:43] #663 closed, assigned to skodapetr

[2013-10-25 09:44] #609 closed, assigned to skodapetr

[2013-10-25 09:45] #407 closed, assigned to skodapetr

[2013-10-25 09:47] tomas-knap commented on #206
Test the settings of the mailserver, if mails are send

[2013-10-25 09:49] tomas-knap commented on #392
Proberem na schuzce, davam tag toDiscuss

[2013-10-25 09:49] tomesj commented on #295
Is prepared GUI support dialog for that (dialog with buttons to get prefixes, etc.) ? I dont know about that - it could be fininished at first.

Responsible someone from GUI part - maybe Marie/Bohuslav.
It could be better he/she create mockup in confluence at first, what do you mean ?

I can then add implementation for checking query to this dialog (for example as some calling of event listener).

[2013-10-25 09:50] tomas-knap commented on #542
Tomáš #542 - probírali jsme to, osobně bych to radši ještě probral .. neb každý zásah do commons může působit nepříjemnosti existujícím DPU .. podstatou je, že většina execution .. se koná v knihovně (RDF), tedy DPU si nemůže šahat na context.cancelled() .. tedy zvážit zda jde o dobrý případ .. a zda neposkytnout nějakou podporu? na druhou stranu se bojím, že jde o jen o náš "use-case" .. k čemuž

[2013-10-25 09:59] #697 closed, assigned to bogo777

[2013-10-25 10:43] tomas-knap commented on #542
Jirko, jste koukam na #542, tam to takhle resit nejde. Pro tu metodu na radku 520 v BaseRDFRepo nepresunes primo do tridy SPARQL loader? Vzdy ta je opravdu SPARQL loader specific? A pak si muzes na baseRDFRepo volat jen loadDataParts a mezi temi volani si muzes standarnim zpusobem checkovat isCancelled - jak ma Petr v dokumentaci. Nebo tam vidis nejaky problem?

[2013-10-25 10:45] tomas-knap commented on #542
Tedy urcite tu metodu na radku 520 vyhod z baserRDFRepo (nikdo jiny nez SPARQL loader ji nepouzije) a udelej tu podporu pro cancelling standardne - budes si volat baseRDFRepo pro kazdou part kterou chces nahrat a mezitim si checkovat, jestli nahodou nejses cancelled.

[2013-10-25 10:52] tomas-knap opened #703 "Adjust the module names of core DPUs in Netbeans"
So that the module names are the same as names in DPU tree:

SPARQL Extractor/RDF FIle Extractor a podobne pro loader.

[2013-10-25 10:52] tomesj commented on #542
OK. Chápu, jak to myslíš. Přesunu to tedy co nejdřív.

[2013-10-25 10:56] tomas-knap commented on #295
The idea is twofold:
- I can write prefixes in the SPARQL queries and the proper @prefix declarations are then automatically added based on table with namespaces before the validation
- If there is certain prefix used in the query which does not appear in the namespace table, then, simple dialog which allows you to define the URI for the prefix is shown (one textbox). As a result, such prefix->URI

[2013-10-25 10:56] tomesj commented on #542
Počkat, co ostatní metody loadToSPARQLEndpoint s jinými počtem parametrů ? Jak to vyřešit ? Je to skoro identický kód a když to přesunu, už to nemůžu zavolat. Ještě tedy počkám.

[2013-10-25 10:56] tomas-knap commented on #295
Let's discuss that on Wed

[2013-10-25 10:58] #308 closed, assigned to skodapetr

[2013-10-25 11:42] tomas-knap commented on #542
Jirko, tak je vyhod vsechny z baseRDFRepo, kdo chce loadovat data nekam externe na SPARQL endpoint tak necht pouzije SPARQL loader. Zkontroluj, ze se ty metody loadToSPARQLEndpoint jinde nez ze SPARQL loaderu nepouzivaji.

[2013-10-25 11:43] tomas-knap commented on #703
a extractory?

[2013-10-25 11:44] tomas-knap commented on #703
SPARQL loader?

[2013-10-25 11:45] #700 closed, assigned to bogo777

[2013-10-25 12:12] tomesj commented on #703
Přejmenoval už všechny. Dal jsem sem jen poslední commit.

[2013-10-25 13:41] #701 closed, assigned to bogo777

[2013-10-25 14:19] #696 closed, assigned to bogo777

[2013-10-25 14:38] bogo777 commented on #595
Removing PushHandler helped with multiple tabs. Now it works for me most of the time, but occasionaly the widgetset problem(from the original comment) appears.

[2013-10-25 16:06] tomas-knap commented on #595
According to the error message, it seems that some Proxy widget is trying to be created but not available, com.sun.proxy.Proxy is from Spring.

[2013-10-25 16:11] tomas-knap commented on #703
Ok, davej tam prosim vsechny

[2013-10-25 16:20] tomas-knap opened #704 "Schedulling ARES 900 on odcs.xrg.cz"
Kuba has created sch event for ARES 900 (8.15 rano, denne)

![screen shot 2013-10-25 at 6 17 38 pm](https://f.cloud.github.com/assets/3014917/1409327/26d4b5be-3d91-11e3-9262-3bcfe20c7e73.png)

Based on the DB record above, it should be launched 25. for sure, but it was not launched, last exec is null. I would suspect the strict timing is not working correctly - can you please test it is working co

[2013-10-25 16:22] tomas-knap commented on #649
User may specify in the settings the fixed number of rows for the tables

[2013-10-25 19:00] skodapetr commented on #392
Take teď používám status Scheduled .. pro obnovu pileline po pádu backendu ... tj. mazání scheduled .. je jako mazání dokončené, tj. musel by se sebou brát i kontext .. a to umí jen backend.

[2013-10-25 19:14] skodapetr commented on #619
I have added DPU name to the thread name .. to log then looks like:
`2013-10-25 21:05:30,563 [dpu: PASS Transformer 4] INFO  exec:103 dpu:106 c.cuni.mff.xrg.odcs.backend.execution.dpu.Executor`

Do we want this "feature" ? I'm no sure if it can cause problem with too long DPU name but I didn't find any documented restriction for Thread's name.

[2013-10-25 21:37] tomas-knap commented on #619
should be fine, ok, great

[2013-10-28 10:38] tomas-knap commented on #608
Comment PlaceholdersHelper class in SPARQL transformer, so that everything important from this issue is in the comments - especially the way how the replace work

[2013-10-28 16:16] tomas-knap opened #705 "When exec record in state cancelling, run time is not shown"
![screen shot 2013-10-28 at 5 15 01 pm](https://f.cloud.github.com/assets/3014917/1421363/3b492482-3fec-11e3-9e53-8c862a3ff599.png)

[2013-10-28 16:23] tomas-knap commented on #703
Adjust also data.sql skript (wrong folder with DPU). Otherwise the dpus cannot be loaded on fresh install. Test on fresh install before closing.

[2013-10-28 16:26] tomas-knap opened #706 "Mandatory inputs to DPUs must be satisfied"
When mandatory input is not present among the inputs, what will happen? User should be notified about that.

Alternatively, he can find out the problem when running the pipeline

[2013-10-29 10:05] jakubklimek opened #707 "Transaction deadlocked error"
![image](https://f.cloud.github.com/assets/718827/1427125/926f4152-4081-11e3-9cec-4e9b5ee7976c.png)

Refresh stopped working, I clicked on show log and this is what I got.

[2013-10-29 10:59] tomesj commented on #542
Používá se to ještě v různých testech - např. VirtuosoTest. Mám to tedy skutečně přesunout ? Tím to zmizí jak z BaseRDFRepo, tak i z interface RDFDataUnit. Takže to vlastně obecně repozitory úplně sebereme.

[2013-10-29 11:07] tomesj commented on #542
Navíc, koukám, že to ani moc dobře nepůjde - plno věcí privátních metod by se muselo zvěřejňovat, protože jen přesunout je nelze protože se volají na více místech a to se mi nezdá dobré. Uživatel by měl vidět jen metody repozitáře a ne už nějaké třeba metody na autentizaci, získání connection, přesouvání dat mezi jednotlivými grafy,  atp....

[2013-10-29 13:03] tomas-knap commented on #542
Proberem ve stredu

[2013-10-29 13:19] tomas-knap opened #708 "Discussions about timeout param for virtuoso connections - Problem with merging triples when running ARES test pipeline on local RDF"
Problem: It starts merging triples, but never finishes, the pipeline remains in the running status forever. See below

To reproduce:
Create on your localhost pipeline based on ARES test pipeline (na odcs). Use loaders which load data to virtuoso on your localhost (so that you do not spoil our data); otherwise, prepare the same pipeline, with the same DPUs. Before running the pipeline, you have to

[2013-10-29 13:28] tomas-knap commented on #707
This appeared to Jakub as he was using odcs. RDF is using local RDF repo, so this should be the problem of relational database connections. V logu je:

[code]

[2013-10-29 13:30] tomas-knap commented on #707
It also happened 4 minutes after that:

[code]

[2013-10-29 13:31] tomas-knap commented on #707
I would suggest to hide this problem by retrying the operation - user will not recognize that there is a delay in refreshing, but such error is annoying.

[2013-10-29 13:48] tomas-knap commented on #703
Please prepare for me also update script which renames jar_dir and jar_name for all records in DPU template containing wrong name. Please do it asap

[2013-10-29 14:32] tomas-knap opened #709 "Merging with Local RDF repository"
When merging with local RDF repository, the method "public void mergeRepositoryData(RDFDataUnit second) throws IllegalArgumentException {"
always lists all the triples to the List and then passes the List to connection.add() method. This could cause problems for milions of triples as in ARES Test pipeline.

Please use: RepositoryResult to copy triples from one rep to another - A RepositoryResult i

[2013-10-30 08:51] bogo777 commented on #595
http://blog.oio.de/2013/02/22/vaadins-variable-scopes-vaadinsession-and-ui/

We force UI to be session scope via spring, which is not how it should work.

[2013-10-30 10:23] tomas-knap commented on #533
commons-module/src/main/java/cz/cuni/mff/xrg/odcs/commons/module/config/ConfigWrap.java

[2013-10-30 10:23] tomas-knap commented on #533
Uncomment and test on ODCS

[2013-10-30 12:54] tomas-knap commented on #692
ViewNames - deprecated

[2013-10-30 13:35] tomas-knap commented on #505
Now the problems with validity of configurations is realized when launching/opening DPU. This issue should validate configuration after replace

[2013-10-30 13:36] tomas-knap commented on #505
Could be also validated once per day for example

[2013-10-30 13:38] tomas-knap commented on #558
Postponed when extensions are ready (configuration,resourceLimit, timeLimit, Validation - samples of extensions)

[2013-10-30 13:42] tomas-knap commented on #392
Tasks to be done:
1) Change the label for schedulled state to queued (before execution)
2) Exec monitor -> record which is schedulled (queud) should not be deleted, but should be cancelling (after pressing "Cancel" and then moved to cancelled by backend

[2013-10-30 13:43] #619 closed, assigned to skodapetr

[2013-10-30 13:44] #345 closed, assigned to skodapetr

[2013-10-30 17:06] tomas-knap commented on #638
No filtering for CONSTRUCT results

[2013-10-30 17:06] #638 closed, assigned to bogo777

[2013-10-30 17:28] tomas-knap opened #710 "When deleting DPU after running pipeline, error shown"
![screen shot 2013-10-30 at 6 21 35 pm](https://f.cloud.github.com/assets/3014917/1439205/e021521c-4187-11e3-84c2-75bfda2de19d.png)

To reproduce: execute pipeline, delete dpu on the pipeline, try to show the previous log

[2013-10-30 17:36] tomas-knap commented on #710
1) smazat logy k DPU instance pokud se maze
2) zkontrolovat jak se to chova kdyz pridam DPU az obrezim si nejaky predchozi beh -> budou tam prazdne logy pro tohle DPU?

[2013-10-30 18:06] tomas-knap opened #711 "Parallel editing of pipeliones"
User should be warned that another user is browsing the same pipeline. User should be also warned that another user has saved the pipeline I have opened.

Add button "Save as New pipeline"

[2013-10-30 18:14] tomas-knap opened #712 "Export/Import"
It allows to dump pipelines, DPUs, instances and import. Command line utility. Path to relational DB is taken from config.properties.

For unix prioritne.

[2013-10-30 18:14] tomas-knap opened #713 "Sharing & Permissions for pipelines"

[2013-10-31 11:49] #703 closed, assigned to tomesj

[2013-10-31 12:14] Jan-Marcek opened #714 "maven missing virtuoso-sesame-7.0.1.jar"
Hi,

when I compile source code (ODCS) with maven I get a error:

[ERROR] Failed to execute goal on project RDF: Could not resolve dependencies for project cz.cuni.mff.xrg.odcs:RDF:jar:1.0.0: The following artifacts could not be resolved: at.semantic-web com.openlinksw:virtjdbc:jar:3: Could not find artifact at.semantic-web:virtuoso-sesame:jar:7.0.1

Where I can find this artifacts ? Have I wrong

[2013-10-31 12:22] #551 closed, assigned to tomesj

[2013-10-31 12:26] #287 closed, assigned to tomesj

[2013-10-31 12:29] tomas-knap commented on #317
So did you leave the previous version?

[2013-10-31 12:42] tomas-knap commented on #713
Sharing
I want to share a created pipeline with other users so that they can use and modify it (Req 30)
I want to share a DPU with other users so they save time by not having to configure the DPU (Req 31)
Modification of the logic for showing accessible pipelines, it has to take into account also pipelines shared with me

[2013-10-31 12:43] tomas-knap opened #715 "Possibility to categorize DPUs so that I find them more easily (Req 26)"
I want to have the possibility to categorize DPUs so that I find them more easily (Req 26)

[2013-10-31 12:44] tomas-knap opened #716 "JUNITs for SPARQL queries"
Possibility to specify pre and post conditions of transformers via SPARQL queries

[2013-10-31 12:45] #226 closed, assigned to janvojt

[2013-10-31 12:47] tomas-knap commented on #297
Delegate creation of GUI to Maria

[2013-10-31 12:52] tomas-knap opened #717 "SPARQL queries may be saved"
Possibility to save SPARQL queries used when debugging, simple table in user settings showing all the queries, their descriptions and pipelines where used. Possibility to use already created and saved SPARQL queries.

[2013-10-31 14:07] tomesj commented on #297
Maria, please create GUI for this (Tomas give you instruction). Then assign me back :-)

[2013-10-31 14:10] tomesj commented on #317
No, we use 2.7.0-beta1 version.

If you want to have 2.7.5 then is neccessary to implement missing methods or stay on current version.

[2013-11-01 09:28] tomas-knap commented on #520
Please check that everything is done and close. Filtering for CONSTRUCT queries is disabled

[2013-11-01 09:31] tomas-knap commented on #625
New container should solve this issue. Please prepare container for Execution monitor and write findings.

[2013-11-01 09:32] tomas-knap commented on #702
Solve that via new container

[2013-11-01 09:35] tomas-knap commented on #477
When done check that this issue is solved

[2013-11-01 09:36] tomas-knap commented on #462
When #625 done check that this issue is solved

[2013-11-01 09:38] tomas-knap opened #718 "Remove IntlibApplicationServlet, authentication to xml file"
Push handler removed in #691, so couple of other classes may be removed. The simplier, the better

[2013-11-01 09:38] tomas-knap commented on #691
Ready to close?

[2013-11-01 09:44] tomas-knap commented on #632
Check that this works when new container is prepared

[2013-11-01 09:45] tomas-knap commented on #492
THe mockup has to be clarified before the issue may be solved

[2013-11-01 09:48] tomas-knap commented on #349
Is this solved in the current version of CHrome?

[2013-11-01 09:52] tomas-knap commented on #564
Please propose a solution here

[2013-11-01 09:54] tomas-knap commented on #297
Jirka, you are responsible for whole DPU creation, so please provide also mockup.

[2013-11-01 09:55] #482 closed, assigned to kukharm

[2013-11-01 11:23] tomas-knap opened #719 "Different icons for schedulled (by scheduler) and planned pipelines (to be executed)"
![screen shot 2013-11-01 at 12 22 47 pm](https://f.cloud.github.com/assets/3014917/1453084/0b054d1a-42e8-11e3-8fa9-410c32d87c11.png)

[2013-11-01 14:17] tomas-knap commented on #414
File extractor, sparql extractor, pouziva defaultne statistical and error handler, rename to "use statistical and error handler", vyhodit vypisovani jednotlivych triples,

[2013-11-01 14:31] tomas-knap commented on #414
SPARQL loader a RDF File Loader ma volitelny checkbox (defaultne nezaskrtnuty) - "Validate data before loading" . Funguje to tak, ze se vysypou data do tmp adresare loaderu, pak se nactou pres parser a zahodi.

[2013-11-01 14:33] tomas-knap commented on #598
Only those begining with prefix for odcs/execution

[2013-11-01 14:42] tomas-knap commented on #297
DPU dialog will contain possibility to:
- upload File / specify path to file / HTTP URL
- textarea with special SPARQL query used as input to tarql

DPU will internally call tarql

[2013-11-01 14:46] #705 closed, assigned to bogo777

[2013-11-01 14:57] tomas-knap opened #720 "SPARQL Validator - standarty"
Validator openRDF - zjistit dle jakeho standardu validuje validator pro openRDF, verze X.

Validator of FUSEKI
Napsat mail a zeptat se:
1. jestli validator je mozne stahnout zdrojaky k validatoru http://sparql.org/query-validator.html
aby jej bylo mozne volat z aplikace.
2. SPARQL, SPARQL Extended syntax, jakym standardum to odpovida, SPARQL Extended = SPARQL 1.1?

[2013-11-01 15:06] bogo777 opened #721 "Malformed query exception when browsing RDF data"
![image](https://f.cloud.github.com/assets/1550848/1454330/10e6de5a-4307-11e3-936b-8544e9c4c70f.png)

Data were stored in localRDF, construct queries worked properly.

[2013-11-01 15:09] #520 closed, assigned to bogo777

[2013-11-01 15:11] bogo777 commented on #691
Web socket communication is not needed anymore.

[2013-11-01 15:11] #691 closed, assigned to bogo777

[2013-11-01 15:43] tomas-knap commented on #708
I just try it with the new implementation of merging, but the same problem occurs:

2013-11-01 13:48:51,709 [dpu: SPARQL Loader] DEBUG exec:232 dpu:103 o.o.sail.memory.MemoryStore - Creating directory for data file...
2013-11-01 13:48:51,744 [dpu: SPARQL Loader] DEBUG exec:232 dpu:103 o.o.sail.memory.MemoryStore - Initializing data file...
2013-11-01 13:48:51,746 [dpu: SPARQL Loader] DEBUG exec:23

[2013-11-01 15:45] tomas-knap commented on #709
Jirka, the method:

while (lazySource.hasNext()) {
                    Statement nextSourceStatement = lazySource.next();

[code]

Is adding separately every statement, this is too expensive. I would expect to call targetConnection.add() for every 1000 statements (e.g.). Also please add logging in a way: Part X/Y loaded.

[2013-11-01 15:48] tomas-knap commented on #708
It has to be tested where the problem is. But since according to newer version (#709), triples were added one by one, there is a different problem than adding too big data. Probably there is certain limitation on the size of the rep? Or limitation on the transaction length? (btw. calling  targetConnection.add(nextSourceStatement, graph)) always starts a new transaction?)

[2013-11-02 07:56] bogo777 commented on #719
Any idea how the new icon should look? I have trouble finding icon representing this (planned - to be executed) state.

[2013-11-02 08:25] tomas-knap commented on #317
We can stay on the current version

[2013-11-02 08:25] #317 closed, assigned to tomesj

[2013-11-02 16:56] tomesj commented on #708
I tried using localRepo for big collection and I always get:
Exception in thread "main" java.lang.OutOfMemoryError: Java heap space

Local repository keeps all data in memory - is not intended for large data collection.

[2013-11-03 11:02] tomas-knap commented on #708
Jirko, ja prave myslel, ze se to serializuje na disk (tedy v pripade te native local rdf rep)? Ale to se tedt dela az v te metode sync to file, tedy uplne na konci?

[2013-11-03 11:42] tomesj commented on #708
No původně se to drželo jen v paměti - hledal jsem alternativu a nyní je to tak, že si to používá nativní úložiště na disku (pomocné soubory dle potřeby) a po práci je zase smaže (metoda delete() na repository, nebo se pusti jen zamek - shutDown() ci release() a soubory tam zůstanou ).

Momentálně jsem zkoušel merge na asi 1,3 milionu trojicich a vse OK.

[2013-11-03 11:52] tomas-knap commented on #533
Solved by adjusting locales on the server

[2013-11-03 11:52] #533 closed, assigned to tomas-knap

[2013-11-03 11:58] tomas-knap commented on #708
Jirko, diky. Zkus to prosim pustit trebas pres noc na tech 7 milionu triplu a zkus to jak pro native, tak pro memory store. At mame porovnani rychlosti. Vysledek potom prosim dej na experiment page na confluence (tedy klidne si pro to zaloz novou page)

[2013-11-03 12:01] tomas-knap commented on #708
Jirko, ja jeste jednou pustim ten ARES test a budu sledovat pamet. Je divne, ze takhle dojde pro ten memory store, bych necekal ze se to stane na serveru, ktery ma 10+GB pameti na tohle

[2013-11-03 12:03] tomesj commented on #708
Pro memory store u mě neprošlo ani těch 1,3 milionu...Namergovalo se asi 290/1300 parts a pak to umřelo na out of memory.  Můžu ten náš native pak zkusit na těch 7 milionech....Je to pomalejší než přes Virtuoso, takže to bude běžet dlouho, ale mělo by to doběhnout :-)

[2013-11-03 12:04] tomas-knap opened #722 "Frontend log is not created"
When running odcs web app on odcs.xrg.cz, the frontend.log is not created although there is in config.properties:

frontend.logdirectory = /data/odcs/log
frontend.log.keepDays = 7

It was working before introducing the cycling (probably). Now there is no frontend.log file in the given folder after deleting the log and restarting odcs web app.

To reproduce: If you delete frontend.log, restart the

[2013-11-03 12:08] tomas-knap opened #723 "Could you please show execution ID in the execution monitor for every record"
add the column with ID to exec monitor table

Motivatio: When looking to the backend log, every log has format:

2013-11-03 09:05:20,976 [dpu: ARES] DEBUG exec:241 dpu:162 c.c.m.xrg.odcs.commons.dpu.DPU - Got from cache 35049: http:/

So it would be great to see also the exec number to directly match the corresponding record.

[2013-11-03 12:09] tomas-knap opened #724 "Local in-memory store Out of Mem"
2013-11-03 09:05:51,964 [dpu: ARES] DEBUG exec:241 dpu:162 c.c.m.xrg.odcs.commons.dpu.DPU - Got from cache 35052: http://wwwinfo.mfcr.cz/cgi-bin/ares/darv_or.cgi?ico=02064651
2013-11-03 09:05:55,019 [taskScheduler-1] TRACE exec: dpu: c.c.m.x.o.c.a.s.Schedule - onTimeCheck finished
2013-11-03 09:06:16,685 [taskScheduler-4] TRACE exec: dpu: c.c.m.x.o.b.execution.Engine - Checking for new executions.

[2013-11-03 12:10] tomas-knap commented on #724
Check that this is not happening for native store!

[2013-11-03 12:11] tomas-knap commented on #724
melo by to minimalne vyhodit vyjimku, kdyz tenhle stav nastane, aktualne to pokracuje dal, vlakno s DPU umre, ale execution pokracuje

[2013-11-03 12:12] tomas-knap commented on #724
co timeout pro dpu execution?

[2013-11-03 12:17] tomas-knap commented on #708
ok, tak prosim porovnej native na 7 milionech s tim virtuosim na 7mi (to uz
si myslim meril)

2013/11/3 Jiří Tomeš notifications@github.com

[2013-11-03 12:52] tomesj commented on #720
Maily na openRDF i Jenu s dotazy odeslány - zatím čekám na odpověď.

[2013-11-03 14:16] #695 closed, assigned to kukharm

[2013-11-03 14:21] tomas-knap opened #725 "Misleading icons for DPU finished"
When there is an error in DPU, the log contains:

![screen shot 2013-11-03 at 3 16 30 pm](https://f.cloud.github.com/assets/3014917/1461099/e082e104-4492-11e3-975a-ebcd0bbe0480.png)

Which is actually true, but the green tick for "DPU finished" is misleading, because there was a problem. So it would make more sense to use blue "info" icon for the DPU/Pipeline.INFO events. Btw. such icon is currenl

[2013-11-03 14:30] tomas-knap opened #726 "Wrong resulting state of the pipeline"
![screen shot 2013-11-03 at 3 27 10 pm](https://f.cloud.github.com/assets/3014917/1461116/196da2e6-4494-11e3-8a4f-e6a20f5d0b66.png)

the pipeline above ends with the warning. But there was an error thrown via context.sendMessage(Error) in one DPU, so there it should end with status ERROR.

[2013-11-03 14:43] tomas-knap opened #727 "Icons for disables/enabled status of the schedulled event"
![screen shot 2013-11-03 at 3 42 32 pm](https://f.cloud.github.com/assets/3014917/1461133/43499366-4496-11e3-9d45-c24c5000d10a.png)

[2013-11-03 14:43] tomas-knap commented on #727
green tick and red cross
combo box for it

[2013-11-03 15:09] tomas-knap opened #728 "Do not continue with the pipeline exec in case of certain NON-ERROR DPU events."
The default behaviour is that the execution ends when there is ERROR event (not log, but event), right? But it would be also useful to be able to end e.g. with Warning, but do not continue with the next DPUs.

E.g. if the extractor does not extract any file, there is no sense to launch rest of the 20 DPUs and the result of the pipeline statecould be warning or even OK.

![screen shot 2013-11-03 at

[2013-11-03 16:03] janvojt commented on #710
I actually did not delete the logs, but removed their reference to DPU instance. Thus logs are still kept, but are only attached to pipeline execution without any information which DPU created them. I believe this is a better solution than to completely delete them (if anyone disagrees it is no problem to change this behaviour).

We should probably document this.

[2013-11-03 16:46] skodapetr commented on #728
Well should then the "No data to be unzipped" be an error, or you want some settings?
like: terminate execution in case of: error | warning+ , ... ?

[2013-11-03 17:16] skodapetr commented on #722
you should use frontend.log.directory (there is dot after word log)

[2013-11-03 18:03] janvojt commented on #635
I just spent 15 minutes creating, copying, changing pipelines, configuring DPUs and running them. Still, I cannot reproduce on demand. I don't know what else I can do...

[2013-11-04 07:28] bogo777 commented on #725
DPU_LOG description from it definition in MessageRecordType: "Log information from DPURecord."

It is not used anywhere directly in ODCleanStore project, so I don't know more about it.

[2013-11-04 07:43] #723 closed, assigned to bogo777

[2013-11-04 07:49] tomas-knap commented on #725
Than I would suggest to remove DPU_LOG and use its blue icon for DPU_INFO and Pipeline_INFO. Petre, vis neco o DPU_LOG?

[2013-11-04 07:50] skodapetr commented on #725
Aktuálně to asi přežijeme klidně bez něj. Jak název říká, měli jsme ho původně pro log info .. ale pro to stejně teď můžeme použít klasické logování.

[2013-11-04 07:51] #722 closed, assigned to skodapetr

[2013-11-04 07:52] tomas-knap commented on #725
Ok, tak to prosim Bohuslave udelej jak jsem psal

[2013-11-04 07:55] tomas-knap commented on #728
Well, it is not an error, just one possible result of the DPU and also indication that further steps in the pipeline execution are not needed, because they will produce no data.

So in this case it would be useful to be able to say that pipeline should finish successfully after the first DPU, because no data was available, because it was Saturday/Sunday and supreme court does not publish new data

[2013-11-04 07:57] tomas-knap commented on #710
Ok. regarding the documentation (technical), we should discuss on the next meeting. But in general, you can start writing a page on the wiki about that in the technical doc section

[2013-11-04 08:16] tomas-knap commented on #414
Jirko, kdyz koukam na vypis:

2013-11-03 17:51:52,111 [dpu: XSLT] WARN  exec:242 dpu:105 o.o.r.helpers.ParseErrorLogger - [Rio error] '' is not a valid value for datatype http://www.w3.org/2001/XMLSchema#date (53, 77)
2013-11-03 17:51:52,113 [dpu: XSLT] WARN  exec:242 dpu:105 o.o.r.helpers.ParseErrorLogger - [Rio error] '' is not a valid value for datatype http://www.w3.org/2001/XMLSchema#date (59

[2013-11-04 08:30] #709 closed, assigned to tomesj

[2013-11-04 08:30] tomas-knap commented on #708
Napis prosim jak dopadlo to srovnani native/virtuoso na 7mi milionech. Pak zavri tohle issue

[2013-11-04 08:50] tomesj commented on #414
Bohužel, z toho co mám k dispozici můžu zjistit pouze
1) Typ chyby, sloupec + řádek, kde nastala - tento výpis je při použití celeho add (bez parseru) - my jak jsme říkali budeme parser používat vždy, takže to bude mít nějakou formu.

Jaká je to trojice to bohužel nevím jestli půjde zjistit - podívám se na to :-)

[2013-11-04 08:52] tomas-knap commented on #708
Jirko, tak jeste ne, koukni prosima na pipeline exec  toho ARES testu viz niz:

![screen shot 2013-11-04 at 9 45 21 am](https://f.cloud.github.com/assets/3014917/1463455/14981464-452e-11e3-91ad-6515d7b33057.png)

Skonci to na SPARQL loaderu s HTTP 500 bad login, ale to je divne, to k tomu 500 nesedi. Kouknes na to prosim? Klidne si ten ARES test muzes pustit znovu,ale pozor, bezi asi 3h. Logy jsou

[2013-11-04 08:56] tomas-knap commented on #414
Ok, pak bych tedy navrhoval, aby to pri pouziti celeho add (tedy neni zaskrtnuto use error and statistical handler) jen  napsalo jeden warning, ze data obsahuji chyby, pokud se nejaka chyba objevi. Detailni vypis v tom duchu jak jsem psal pak ale prosim, vcetne te trojice pokud pujde, udelej pro ten error and statistical handler, tedy aby to vypsalo neco jako:

2013-11-03 17:51:52,120 [dpu: XSLT]

[2013-11-04 08:58] bogo777 commented on #725
0bde87ffc37b7978b2dfe5413c8a90b26276ea26

DPU_LOG deprecated for now. Remove completely upon change in db.(Existing records don't work anymore.)

[2013-11-04 09:04] tomas-knap commented on #414
Nezapomen taky upravit ten statistical error handler aby nevypisoval kazdou trojici

[2013-11-04 11:45] tomesj commented on #720
Tak odpověď týkající se openRDF už přišla a je pozitivní.

1) SPARQL 1.1 je podporován v poslední verzi 2.7.7 - tedy přejdeme-li na ní (budu muset udělat pár změn), tak budeme mít schopnou validaci podle standardu SPARQL 1.1 a to chceme.

2) Agregační příkazy jsou musí být vždy správně uzávorkované - jak uvádí standart a mít vždy část AS, jinak to nebude dobře fungovat.

Tj. správný dotaz je např.

[2013-11-04 13:07] tomas-knap opened #729 "Update open RDF to 2.7.7 + check that validator supports COUNT"
Based on that, the validation in 2.7.7. is enough, there should be only one openRDF validator. So please remove the special CountValidator

[2013-11-04 13:07] tomas-knap commented on #720
Ok, super, tedy v tom pripade prosim updatuj na 2.7.7. (viz #729)

[2013-11-04 15:45] tomas-knap opened #730 "Transaction deadlocked when execution monitor record was clicked"
To reproduce on odcs.xrg.cz - try to open last exec monitor record for ares test pipeline.
Log is in /data/odcs/log/frontend, excerpt:

[code]

[2013-11-04 15:46] tomas-knap commented on #730
Related to #707
Try if it can be solved by replaying

[2013-11-04 19:19] janvojt commented on #730
I cannot reproduce right now. I assume pipeline was running when this happened. This could most likely be prevented by wrapping select queries into read-only transactions. This is happening in the container, so I suggest we postpone until the new container is ready and merged into master.

[2013-11-05 01:01] kukharm opened #731 "schedulig rule exception"
In schedule a pipeline dialog i select Pipeline (in mandatory combobox) and get the exception
![ex](https://f.cloud.github.com/assets/3471169/1470280/ac6570c0-45b5-11e3-813e-d26c17db979f.jpg)

[code]

[2013-11-05 01:04] tomesj commented on #729
1) Update openRDF to version 2.7.7 - commit ff0152909ff3de9ad77ceb1390630f44dea95bd2
2) Remove extension for SELECT_COUNT -.commit 9c9e4d08a1e1c095faf542ef1fb124fe32e0d1d5

Test validation using COUNT/SUM/AVERAGE - works fine.

Prepare to close

[2013-11-05 01:06] tomesj commented on #720
Issue #729 vyřešena - problém se standarty vyřešen :-)

[2013-11-05 01:09] kukharm commented on #564
I adding new field "Scheduling rule name" to the scheduling rule creation dialog. But i can not test it works because of exception  https://github.com/mff-uk/ODCS/issues/731

[2013-11-05 01:12] tomesj commented on #721
Solved problem for local repository, prepare to close.

Note:
If you want see how to have to write well synatax COUNT queries - see issue #720.

[2013-11-05 08:26] skodapetr commented on #731
Tohle asi nebude zrovna na Honzu. Jde o to, ze podle vseho se tam pouziva ten container, jenž je určený pouze pro ten PagedFiltrableTable. Tj. zřejmě se tam volá stejná factory metoda .. tedy řešením by bylo mít na to vlastní.

Což by i dávalo smysl, neb tady stačí Id, name .. a né jako v table, tam je toho třeba více (možná tam bude i user a last execution).

[2013-11-05 09:24] #729 closed, assigned to tomesj

[2013-11-05 09:27] tomas-knap commented on #731
Tedy pouzit opet ten novy container?

[2013-11-05 09:27] tomas-knap commented on #731
This should be solved soon, because I already deployed that bug on the server ;)

[2013-11-05 09:39] skodapetr commented on #731
Spíše naopak. Použít ten starý pro rychlé řešení :)

[2013-11-05 10:31] #634 closed, assigned to tomas-knap

[2013-11-05 10:32] tomas-knap commented on #434
Does not happen now

[2013-11-05 10:32] #434 closed, assigned to tomas-knap

[2013-11-05 10:33] tomas-knap commented on #333
duplicates #491

[2013-11-05 10:33] #333 closed, assigned to tomas-knap

[2013-11-05 10:34] tomas-knap commented on #252
Does not happen now

[2013-11-05 10:34] #252 closed, assigned to tomas-knap

[2013-11-05 10:36] tomas-knap commented on #422
Petre, this can be closed, right?

[2013-11-05 11:19] #602 closed, assigned to tomas-knap

[2013-11-05 11:20] tomas-knap commented on #602
Duplicates #679

[2013-11-05 11:21] #617 closed, assigned to tomas-knap

[2013-11-05 11:22] #261 closed, assigned to tomas-knap

[2013-11-05 11:24] #217 closed, assigned to tomas-knap

[2013-11-05 11:25] #200 closed, assigned to tomas-knap

[2013-11-05 11:25] tomas-knap commented on #220
Outdated

[2013-11-05 11:25] #220 closed, assigned to tomas-knap

[2013-11-05 11:25] #213 closed, assigned to tomas-knap

[2013-11-05 11:26] #121 closed, assigned to tomas-knap

[2013-11-05 11:27] #573 closed, assigned to tomas-knap

[2013-11-05 11:27] tomas-knap commented on #445
?

[2013-11-05 11:27] #445 closed, assigned to tomas-knap

[2013-11-06 11:52] tomas-knap commented on #262
Pause/Resume buttons in gui, states for pause/resume.

[2013-11-06 11:57] tomas-knap commented on #719
Instead of status schedulled, it should be labeled as "queued", with the icon (resize needed), e.g.:

http://www.google.cz/imgres?imgurl=http://www.designofsignage.com/application/symbol/hospital/image/600x600/gents-que.jpg&imgrefurl=http://www.designofsignage.com/application/symbol/railway/largesymbols/gentsque.html&h=600&w=600&sz=25&tbnid=d3jl3n3UM4_d_M:&tbnh=129&tbnw=129&zoom=1&usg=__1dOi2uqX5V

[2013-11-06 11:59] #422 closed, assigned to skodapetr

[2013-11-06 12:00] tomas-knap commented on #491
Write Maria how the dialog should look like and document.

[2013-11-06 12:03] tomas-knap commented on #728
enable publishing of event "on request preliminary termination"

[2013-11-06 13:32] tomas-knap commented on #730
Could it be caused by sharing the connection? That means that after opening connection, transaction is started but it is not properly committed after single use?

[2013-11-06 13:58] janvojt commented on #730
If you pay close attention to what the error message actually says, it seems the problem is with a SELECT query run outside of a transaction. So far, I thought that for SELECT queries there is no reason to start a transaction. Apparently, there is. Therefore annotating all facade methods that access database with at least `@Transactional(readonly)` might solve this problem.

As I said, we are refa

[2013-11-06 14:05] tomas-knap commented on #730
ok

[2013-11-06 14:32] tomesj commented on #414
1)
Úprava extrakce - file/SPARQL - vždy se použije nějaký handler. Je-li zvolena možnost statistical and error handler - loguje průběžně počet trocic, na konci, jsou-li chyby (errors/warning) vše vypíše, včetně trojic, kde k problému došlo.

hlavní commit: c1e03adc62bfae5cc8b34a2f13b10aa5f3036848

2)
Statistic a error handler jako defaultně zaškrnutý
commits: b94992eb18a3ec0db979a70e05fdd1f2963918

[2013-11-06 14:36] tomas-knap commented on #414
a pro ten loader to mas take jak jsme se bavili? Tedy je tam nove checkbox "Validate data before load" a ten je defaultne nezaskrtnuty. Pokud se zaskrtne, tak se take validuji data, coz znamena, ze se data serializuji do souboru, ten se pak zkusi nahrat, vyhodnoti se chybi a nahrany soubor se zahodi.

[2013-11-06 15:13] tomesj commented on #414
Tento loader zatím ještě celý nemám, vyřešené jsou zatím jen ty extraktory. Až to budu mít, tak sem napíšu :-)

[2013-11-06 17:10] tomesj commented on #542
Loading to SPARQL
- je přesunut do samostatné třídy SPARQL loader
- cancel uděláno přes context.canceled() - testuje se po každém nahraném partu. Když nastane cancel - zahlásí, že došlo ke CANCEL, skončí loading a ukončí DPU vyhozením výjimky obsahující důvod tento cancel.
- zachovány testy v rámci RDF používající load - přesun této třídy do RDF části.

Issue hotové a připravené zavřít :-)

[2013-11-07 03:11] tomesj commented on #414
Tak mám hotový i ten loader a jeho validaci dat. Takže asi hotové vše :-)

[2013-11-07 03:15] tomesj commented on #623
Problem solved using RDF version 2.7.7 - SPARQL 1.1 syntax validation. See #729

[2013-11-07 08:31] #719 closed, assigned to bogo777

[2013-11-07 08:42] #623 closed, assigned to tomesj

[2013-11-07 08:50] #686 closed, assigned to bogo777

[2013-11-07 12:24] #720 closed, assigned to tomesj

[2013-11-07 16:01] tomas-knap opened #732 "Browse/Query tab - results of select query"
The order of columns should reflect the order of variables in the Select query

![screen shot 2013-11-07 at 5 00 24 pm](https://f.cloud.github.com/assets/3014917/1492852/c7445408-47c5-11e3-83b7-b7b930141f64.png)

[2013-11-07 16:09] tomas-knap commented on #414
Ahoj, super, mam drobnosti:

Kdykoliv to pri extrakci/loadovani s validaci najde aspon jednu chybu, vyhod prosim take DPU event at WARN level. A do detailu te event dej ten seznam chyb co ted davas do log.error(). Tohle prosim udelej pro extractory i loadery.

V detailu chyb vyhod to source_column a misto "No added triple contains ERROR:" tam dej "Error in triple: "

Take prosim pridej do RDF FIle

[2013-11-07 19:24] tomesj commented on #414
Pár poznámek, ještě před tím než začnu:

1)  DPU event typu WARN kdy je nalezena alespoň 1 chyba
Pro loadery to nebude problém - pro SPARQL to tam přidám bez problémů. Mám přidat možnost validace této i pro File loader ?

Pro extractory to moc dobře nepůjde - je to zanořené uvnitř v kódu BaseRDFRepo...Nepoužívá se tady třída  RepositoryDataValidator, která by mohla být přímo v tom DPU - musel bych

[2013-11-08 08:07] tomas-knap commented on #414
Jirko,

1) Ano, kdyz narazis na chybu v base rdf repo, posli si vyjimku, tu si odchyt a posli context.sendMessage(). Udelej to prosim jednotne pro 2xloader a 2xextractor

3) Ano, mas pravdu, nechtel jsem ti to komplikovat. Muze se to chovat tak, ze ten checkbox "If there is an error in some of the extracted triples, extractor ends with an error and no data is send further" bude enabled jenom tehdy

[2013-11-08 08:07] tomas-knap commented on #414
Co ty na to?

[2013-11-08 09:32] #724 closed, assigned to tomas-knap

[2013-11-08 09:34] #726 closed, assigned to skodapetr

[2013-11-08 09:37] #721 closed, assigned to tomesj

[2013-11-08 09:41] tomas-knap commented on #710
when deleting DPU, events are deleted but logs remain - may be a bit confusing,but justifyable

[2013-11-08 09:41] #710 closed, assigned to janvojt

[2013-11-08 09:44] #704 closed, assigned to skodapetr

[2013-11-08 09:44] #687 closed, assigned to tomesj

[2013-11-08 09:45] #690 closed, assigned to skodapetr

[2013-11-08 09:51] tomas-knap opened #733 "Backend should log to a defined file, which is specified as param of backend"

[2013-11-08 09:52] tomas-knap commented on #679
cannot reproduce now

[2013-11-08 09:52] #679 closed, assigned to bogo777

[2013-11-08 09:54] #604 closed, assigned to skodapetr

[2013-11-08 09:54] #595 closed, assigned to bogo777

[2013-11-08 09:54] #585 closed, assigned to kukharm

[2013-11-08 09:55] #606 closed, assigned to tomesj

[2013-11-08 09:58] #532 closed, assigned to skodapetr

[2013-11-08 09:58] #559 closed, assigned to skodapetr

[2013-11-08 09:59] #525 closed, assigned to tomesj

[2013-11-08 10:00] tomas-knap commented on #511
Jirka please test the loading also against Fuseki, related to #640

I mean to test that the chosen encoding is also working in case of Fuseki, producing correct results. Try data which may cause problems, such as those with special chars, quotes, quotes at the end etc. Put all these data which may cause problems to one ttl file and upload to confluence, put link here.

[2013-11-08 10:01] #247 closed, assigned to jakubklimek

[2013-11-08 10:02] #497 closed, assigned to bogo777

[2013-11-08 10:02] #501 closed, assigned to skodapetr

[2013-11-08 10:03] #614 closed, assigned to skodapetr

[2013-11-08 10:05] tomas-knap commented on #246
What is the status? It is marked as solving

[2013-11-08 10:06] tomas-knap commented on #714
reference to odcs maven rep required

[2013-11-08 10:06] #714 closed, assigned to nobody

[2013-11-08 10:09] #62 closed, assigned to bogo777

[2013-11-08 10:10] #41 closed, assigned to nobody

[2013-11-08 10:12] tomas-knap opened #734 "Problem when playing with more tabs"
I opened second tab without using login screen, then I was working with both tabs. After a while, I got:

![screen shot 2013-11-08 at 11 10 56 am](https://f.cloud.github.com/assets/3014917/1499614/2a472f9c-485e-11e3-83d6-e66382450354.png)

further, when clicking on gui, the layout is broken

[2013-11-08 10:12] tomas-knap commented on #237
duplicates #737

[2013-11-08 10:12] #237 closed, assigned to bogo777

[2013-11-08 10:13] #79 closed, assigned to nobody

[2013-11-08 10:13] #88 closed, assigned to nobody

[2013-11-08 10:13] tomas-knap commented on #307
not needed

[2013-11-08 10:13] #307 closed, assigned to nobody

[2013-11-08 10:14] tomas-knap commented on #212
create DPU = import of new DPU

[2013-11-08 10:14] #212 closed, assigned to nobody

[2013-11-08 10:16] tomas-knap commented on #258
Done for Pipeline edit

[2013-11-08 10:17] tomas-knap commented on #22
duplicates #294

[2013-11-08 10:17] #22 closed, assigned to tomas-knap

[2013-11-08 13:05] tomesj commented on #414
1) Myslel jsem to přesně tak, jak píšeš, takže tenhle bod je OK
3) To, co píšeš mi dává smysl jen u loaderu - když data neprojdou validací - můžu/nemusím dál pokračovat, nikoliv u extraktoru - když tam se ty chyby nikdy nedostanou do repozitáře - v žádném případě. A když to chyby nemá, nemá smysl asi extrakci a následný běh zastavovat. Navíc by se všechny ty metody museli rozšířit o ten příznak (b

[2013-11-08 13:39] tomas-knap commented on #414
U toho extractoru mi slo o to, ze v nekterych pripadech nema smysl mit 95% dat, jedine co ma smysl je mit bud vsechna data a nebo zadna, kdyz jsou v nich chyby. Tak to tedy udelej u toho loaderu jak pises a u tech extraktoru:

Misto "If there is an error in some of the extracted triples, extractor ends with an error and no data is send further" tam dej moznost zaskrtnout "If there is an error in s

[2013-11-08 13:40] tomas-knap commented on #725
Please remove DPU_Log from the possible events
![screen shot 2013-11-08 at 2 40 08 pm](https://f.cloud.github.com/assets/3014917/1500609/58454e0c-487b-11e3-9679-372325d07e34.png)

[2013-11-08 13:45] tomas-knap commented on #227
This should work as validation of SPARQL extractor - it uses statistical and error handler. And it has two outputs -> The original (and validated data) and errors, which should form the second output. Discussing is needed how to represent the errors find out during validation (problematic triple, errror description)

[2013-11-08 13:47] tomesj commented on #414
OK, myslím, že si s tím nějak poradím, aby to bylo k tvé spokojenosti :-)

[2013-11-09 01:26] tomesj commented on #598
Have done - prepared to close.

[2013-11-09 01:30] tomesj commented on #414
Věřím, že budeš spokojený :-) Myslím, že už je to všechno :)

[2013-11-09 01:49] #269 closed, assigned to tomesj

[2013-11-09 08:30] tomas-knap commented on #598
Maria, please prepare a new tab in settings called "Delete debug resources". The tab will contain the component as in the mockup https://grips.semantic-web.at/display/LOD2/Delete+debug+resources

When clicking on "Clean", Jirka's method cleansing the graphs should be called (ask Honza/Petr how to call it)

[2013-11-09 08:38] #566 closed, assigned to bogo777

[2013-11-09 08:43] #502 closed, assigned to kukharm

[2013-11-09 08:44] #584 closed, assigned to kukharm

[2013-11-09 08:57] #413 closed, assigned to kukharm

[2013-11-09 09:00] tomas-knap opened #735 "Move pipelineList business logic to facades"
PipelineListModel contains method, which should be directly implemented on the pipelineList facade. please move these methods there

[2013-11-09 09:02] tomas-knap opened #736 "Describe Authentication & Authorization"
Prosim sepis take do pondeli tu authentikaci a autorizaci, viz: https://grips.semantic-web.at/display/LOD2/Authentication+and+Authorisation+Layer

Stranka je cela tvoje, popis to tam tak, aby bylo jasne kde a jak se resi pristupova prava. Tohle prosim urcite do pondeli.

[2013-11-09 09:08] tomas-knap commented on #708
tak jsem upravil logovani a chyba je:

Execution failed because: HTTP/1.1 500 SPARQL Request Failed. Caused by Virtuoso S1T00 Error SR171: Transaction timed out

SPARQL query:
define sql:big-data-const 0
#output-format:application/rdf+xml
define input:default-graph-uri http://linked.opendata.cz/resource/dataset/ares/or delete {?x ?y ?z} where {?x ?y ?z}

URL endpoint: http://internal.opendata.cz:8

[2013-11-09 09:14] tomas-knap commented on #708
Jirko, kdyztak koukni na posledni ARES test beh na odcs.xrg.cz.

Tedy nedobehne ti ten dotaz delete {?x ?y ?z} where {?x ?y ?z}, protoze trva moc dlouho.

Nastaveni virtuosa:

![screen shot 2013-11-09 at 10 13 22 am](https://f.cloud.github.com/assets/3014917/1506323/4796c096-491f-11e3-932e-080b6f2be67a.png)

[2013-11-09 10:14] tomas-knap commented on #227
Suggested way how to output the errors (the second output data unit of the DPU):

@prefix odcs-val: http://linked.opendata.cz/ontology/odcs/validation/
@prefix exec-error: http://linked.opendata.cz/resource/odcs/internal/pipeline/exec/282/dpu/182/validation/error/

http://linked.opendata.cz/resource/odcs/internal/pipeline/exec/282/dpu/182/validation/error/1 rdf:type odcs-val:Error ;
     odcs-val:

[2013-11-09 12:12] tomas-knap opened #737 "Reordering of emails in Settings"
When adding new emails on settings->my account, and clicking save, the inserted emails may be reordered (alphabetically), which is confusing. They should appear in the order as they were inserted.

[2013-11-09 12:22] tomas-knap opened #738 "Schedulling rule name Adjustment"
1. Instead of "Schedulling rule name" field, please call it "description". Such field should not be mandatory. Currently, if it is not filled, notifications tab cannot be saved! (which is wrong, "description" field should be optional).
2. Move the "Description field to core tab under "Pipeline XX was selected".

![screen shot 2013-11-09 at 1 21 24 pm](https://f.cloud.github.com/assets/3014917/1506

[2013-11-09 12:36] tomas-knap opened #739 "Save button in settings should be disabled if something is saved"
Currently, when clicking save in settings, I do not know if something happens or not.

Solution: Save button should be disabled if there is nothing to save. Further, when clicking on save, notification "Data was saved successfully" should appear.

Ask bohuslav if you do not know how to realize that

![screen shot 2013-11-09 at 1 33 30 pm](https://f.cloud.github.com/assets/3014917/1506638/435fd2c6-

[2013-11-10 08:56] tomas-knap opened #740 "Daily summary mails"

[2013-11-10 08:57] tomas-knap commented on #206
Mails are working

[2013-11-10 08:57] #206 closed, assigned to tomas-knap

[2013-11-10 09:01] tomas-knap opened #741 "DB View for PipelineList"
Motivation: So that there is no need for extra query for every row to get e.g. lastExecutionTime.

[2013-11-10 10:51] tomas-knap opened #742 "Prepare extractor for getting data from Ustavni soud"
Get new decisions from the last 7 days from:
- 3 HTTP calls prepared (maximum paging!)
- extraction of all results needed (folow pages http://nalus.usoud.cz/Search/Results.aspx?page=0 till the time new data is discovered)
- for each record (decision) extract query from img element:
  img src='/Images/ico_word.png' class='imgLink'  onclick='javascript:wopen("Word.aspx?id=81253&searchnumber=2&tms=63

[2013-11-10 12:29] tomesj commented on #708
Tak jsem upravil mazání - dotaz nově používá CLEAR GRAPH <>, což by mělo být rychlejší.

Navíc by bylo dobré určitě zvýšit hodnoty query pro VIRTUOSO - pak by mělo být již vše OK :-)
Díval jsem se u sebe do virtuoso.ini a u mě jsou hodnoty následující

<table>
<tr><th>Name of parameter</td><th>Value</td>
<tr><td>ResultSetMaxRows</td><td>100000000</td>
<tr><td>MaxQueryCostEstimationTime </td><td>40

[2013-11-10 20:03] kukharm commented on #246
Resolved in #502  (viz last comment). Changes in configDIalog controls by method hasConfigChanged()

[2013-11-10 20:03] #246 closed, assigned to kukharm

[2013-11-11 08:11] tomas-knap opened #743 "Sheduller event duplicated. Pipeline exec scheduled twice"
Firstly, Jakub was reporting:

![screenshot_2013-11-10-21-15-48](https://f.cloud.github.com/assets/3014917/1511229/49a0562a-4aa7-11e3-8db8-06367c05dbb1.png)

Based on that, it seems that 4900 was scheduled twice. But when looking to scheduler events, there are two events for 4900:

![screen shot 2013-11-11 at 9 06 46 am](https://f.cloud.github.com/assets/3014917/1511273/9c6a2aba-4aa8-11e3-8248-d7d

[2013-11-11 12:14] jakubklimek commented on #708
Nelze se omezovat na Virtuoso, loader musi fungovat i s endpointy ktere toto nastaveni nemaj / nemate k nemu pristup. Clear by ale fungovat mel, pripadne drop. Nezapomente ale pocitat s tim ze se toto stat muze a zaridit podle toho chybove hlaseni.

[2013-11-11 13:39] akreiserswc opened #744 "IllegalStateException when saving a new / edited pipeline"
To reproduce:
1. Install the latest (f19050d602bd61a2c073d9696382be23133de582) master branch
2. Open the DBpedia pipeline, change the position of one DPU
3. Click "save"

Exception:

[code]

Hint (from Petr):

[code]

in DBAccessBase#executeSize()
fixed the issue on my end

![odcs-eval-pipeline-error](https://f.cloud.github.com/assets/4112906/1512889/ae99b934-4ad6-11e3-8b13-fb2bdb6d180a.png)

[2013-11-11 13:47] akreiserswc opened #745 "Error when entering debug mode"
![odcs-eval-pipeline-error2](https://f.cloud.github.com/assets/4112906/1512919/9c93fba4-4ad7-11e3-89db-de8432043f7f.png)

The line numbers might not be correct - the exception is thrown in this line:

[code]

[2013-11-11 14:54] tomas-knap commented on #737
This also happens in notification tab when schedulling event

[2013-11-11 15:50] akreiserswc opened #746 "Internal error when debugging data"
![odcs-eval-pipeline-error3](https://f.cloud.github.com/assets/4112906/1513859/f4342710-4ae8-11e3-91ef-e4b9aff8589f.png)
1. Debug a pipeline
2. Go to Browse / Query
3. Select a DPU and "output"
4. Click on browse

Stacktrace:
java.lang.UnsupportedOperationException: Incomplete statement
    at org.openrdf.model.impl.TreeModel.add(TreeModel.java:230) ~[sesame-model-2.7.7.jar:na]
    at org.openrdf.

[2013-11-11 18:28] #744 closed, assigned to janvojt

[2013-11-11 19:17] #745 closed, assigned to janvojt

[2013-11-11 20:05] tomesj commented on #746
Probably due to some already caught a bug. Currently, everything is OK in the described scenario. In the event that the problem occurred again, please re-open this issue.

[2013-11-11 20:10] tomas-knap commented on #746
Alex, what was the commit you managed to find this bug in?

[2013-11-11 21:30] tomesj commented on #511
Created file with potencial problem triples on conflues page:

Direct link to file:
https://grips.semantic-web.at/download/attachments/50922493/problemTriples.ttl?version=1&modificationDate=1384205335753&api=v2

[2013-11-12 16:39] tomesj commented on #227
RDF Data validator finished and prepare for using. Issue for close.

[2013-11-13 08:36] tomas-knap commented on #746
Alex, could you please send us also the definition of the pipeline?

[2013-11-13 08:39] tomas-knap opened #747 "Problems when copying pipeline"
To reproduce:

Go to odcs.xrg.cz, try to copy ARES test pipeline. Observe the result, the pipeline is missing certain DPUs/edges.

![screen shot 2013-11-13 at 9 34 05 am](https://f.cloud.github.com/assets/3014917/1529801/fe0a0960-4c3e-11e3-86c3-af204f6db137.png)

[2013-11-13 08:40] tomas-knap commented on #747
I managed to reproduce that on odcs, where the deployed version is before weekend.

[2013-11-13 09:44] akreiserswc commented on #746
I tested again today with commit c6710011cc651d7830a6318a104457be946e83e8 and can still reproduce it.

My pipeline just has one extractor:

SPARQLExtractor
SPARQL Endpoint: http://sparql.reegle.info/sparql
Named Graph: http://data.reegle.info
SPARQL Construct:
PREFIX owl: http://www.w3.org/2002/07/owl#
PREFIX foaf: http://xmlns.com/foaf/0.1/

CONSTRUCT { ?dbpedia a foaf:Organization }
WHERE {
 ?x

[2013-11-13 10:02] janvojt commented on #747
I reproduced on odcs.xrg.cz, however I cannot reproduce on localhost. I tried to copy ARES test, also even more complicated pipelines, and did not encounter any problem. I will try to download the database from odcs.xrg.cz to see if I can reproduce with same data.

[2013-11-13 10:05] tomas-knap commented on #747
Honzo, zkus prosim, ja ti dam vedet, jestli se to objevuje i na posledni
verzi

On Wed, Nov 13, 2013 at 11:02 AM, Jan Vojt notifications@github.com wrote:

[2013-11-13 13:00] tomas-knap opened #748 "Browse/Query tab - no data unit select"
if no data unit is selected, browse button is correctly disabled. But the run query /run query and download should be disabled as well.

Otherwise, when no input is selected and run query pressed:

![screen shot 2013-11-13 at 1 54 52 pm](https://f.cloud.github.com/assets/3014917/1531345/0f2beb0e-4c63-11e3-9f70-51f92c469f7b.png)

Please try to solve that for the tomorrow's push

[2013-11-13 13:10] tomas-knap commented on #748
The error message than appears again and again

[2013-11-13 13:49] tomas-knap opened #749 "Problem selecting DPU template"
When switching from view to DPU template and select DPU:

![screen shot 2013-11-13 at 2 46 39 pm](https://f.cloud.github.com/assets/3014917/1531682/55351786-4c6a-11e3-948a-e759eab3b9ea.png)

2013-11-13 14:46:20,356 [http-bio-8080-exec-2] DEBUG org.eclipse.persistence.logging.sql - 2013-11-13 14:46:20.356--ServerSession(568834531)--Connection(32767285)--SELECT ID, config_valid, description, jar_des

[2013-11-13 13:57] tomas-knap opened #750 "RDFFormatType - we can reuse openRDF enum"

[2013-11-13 14:32] #749 closed, assigned to bogo777

[2013-11-13 17:17] tomas-knap commented on #747
It is also problem in the latest version, see odcs.xrg.cz with latest war

[2013-11-13 17:19] tomas-knap commented on #747
Plese look on that

[2013-11-13 20:37] kukharm opened #751 "User password"
When the administrator creates new user and leaves the password field empty, the password automatically generate by the system. How the user will know his password in this case?

[2013-11-13 21:09] kukharm opened #752 "Pipeline without DPU instances"
If pipeline doesn't contain any DPU instances is it correct that user can save such pipeline?

[2013-11-13 21:39] kukharm opened #753 "RDF File Loader - file extension"
I set to the DF File Loader   RDF Format: TTL, File path: C:/ted/dbpedia2 after running the pipeline i get file dbpedia2 without extension. Is it correct or i should get file with .ttl extension as set on RDF Format combobox?

And if i set RDF Format: N3, File path: C:/ted/dbpedia2.ttl i get dbpedia2.ttl file. In what format it is really?

[2013-11-13 21:52] janvojt commented on #747
I copied the database from odcs.xrg.cz in somewhat inconsistent state, because it was running while copying data under virtuoso's hands. Anyway, I can reproduce the problem on localhost. So far I found that the pipeline is actually copied correctly, database contains correct and complete data for copied pipeline graph. The problem is, that it is not read completely from the database. It is also pr

[2013-11-13 22:47] kukharm opened #754 "Execution monitor - Browse/Query"
Now Browse/Query tab is disabled for USER for all executions. And enabed for ADMIN for all executions.

Tomas explained me concerning Browse/Query tab:
"Melo by byt enabled kdyz dobehne pipeline v debug rezimu. Pokud ne, je to chyba."

[2013-11-13 23:01] kukharm opened #755 "Delete DPU bug"
I delete RDF File Loader from DBpedia pipeline. Then  open DBpedia pipeline for Edit - SPARQL Extractor is disappeared too, canvas is empty!

Then i tried to copy DPpedia pipeline and run. Pipeline run like it has SPARQL Extractor (there events about them) but when i open it to edit it looks like empty too.

[2013-11-13 23:48] kukharm opened #756 "Editing scheduling rule error"
When USER create a scheduling rule then he can not open it for editing
![error](https://f.cloud.github.com/assets/3471169/1537069/e4093c64-4cbd-11e3-9b0c-d3a9c1da6381.jpg)

[2013-11-14 09:03] bogo777 opened #757 "Support containsId() method in ReadOnlyContainer"
For selecting rows in tables using ROC, containsId() method is needed.

From specification:
https://vaadin.com/api/com/vaadin/data/Container.html#containsId(java.lang.Object)
it might be enough to test it only against currently shown items(current page).

As discussed this should be easy to implement?(use cache)

[2013-11-14 09:13] skodapetr commented on #757
Yes .. this functionality is ready and will be available probably tonight.

I also test it by opening detail on ExecutionList by clicking on item and it works fine. (there is still the issue with slow loading of logs .. but this is different story :)

[2013-11-14 09:15] tomas-knap opened #758 "Problems with canvas - DPU node found"
To reproduce:
- I created pipeline with dbpedia extractor and loader, click on debuging till the first DPU, close the result of the debug and click on DPU dbpedia extractor

![screen shot 2013-11-14 at 10 13 52 am](https://f.cloud.github.com/assets/3014917/1539532/27427e60-4d0d-11e3-8e86-2096bf52df2a.png)

[2013-11-14 09:34] tomas-knap opened #759 "When debugging from canvas, problem with browse"
open dbpedia pipeline, try to debug till the second dpu, go to browse/query tab - firstly it is prefilled with values but these values dissapear immediately (the fact of dissapearing when switching to the tab looks really awfull). further, when closing the debug, reruning the debug from canvas, going to browse/query, clicking on browse, results appear but the header of the browse/query tab is stil

[2013-11-14 09:57] bogo777 opened #760 "Do not use DPU name in path to save localRDF data."
If DPU name is used, as it is now, after renaming the DPU the data are inaccessible. For virtuoso it work ok after rename and it should be consistent.

Instead of name, use only id, which remains the same after rename.

Please reassign if you're not responsible for this.

[2013-11-14 10:44] tomesj commented on #760
I never use DPU name in RDF for saving /loading RDF data - there is only File directory as parameter for it.

May is this directory bad set using DPU name. Or it could be caused maybe by using repository when it not access yet (calling one of methods as shutDown, release or delete). I check my code for sure, but mistake is not here.

I assign this for Peter.

[2013-11-14 11:01] tomesj commented on #753
Yes, if you set concrete RDF format, you dont get file extension automatically to your given filepath.

So you can create files as
file, file.mysufix, file.rdf, file.data, ...
(it doenst have any suffix, or whatever you want to have)

Importat is only RDF format for data you select !!!

Data are saved to file always in your selected format !!! (TTL for example).

This situation is very similar for

[2013-11-14 11:15] tomesj commented on #746
I tested Alex use case:
1) Only one SPARQLExtractor
2) Debug pipeline
3) Execution Monitor -> Browse/Query, select dataUnit:output, button "RUN QUERY"

But there was no problem - I get 5 triples as result.

See my screenshot:
![image](https://f.cloud.github.com/assets/3481055/1540306/0114d696-4d1e-11e3-8077-fc955a3e0876.png)

[2013-11-14 11:33] akreiserswc commented on #746
Possible it is something on my end - I will test again and try to narrow it down..

[2013-11-14 12:15] bogo777 opened #761 "Add visible column list to ClassAccessor and ReadOnlyContainer"
I would need for ClassAccessor to have list for visible column. For example, in records table, I need dpu instance id for enabling link to logs with preselected dpu instance. But I don't want this to be a visible column in the records table.

Also, when I add generated column to table, it is added as last column. This could override it. I would make method on table, which would ask container for v

[2013-11-14 14:18] tomas-knap opened #762 "Upravit Config.properties"
prefixy u virtuoso.rdbms/virtuoso.rdf -> odstranit -> muze obsahovat nastaveni pro mysql atd.

[2013-11-14 18:21] janvojt commented on #747
The problem on my localhost was caused by invalid serialized configuration of 2 DPU instances in DB. After I deleted these configurations, the copied pipeline started to show up correctly immediately afterwards. I cannot confirm this was the same bug as on odcs.xrg.cz, because the database I copied was in somewhat inconsistent state.

To investigate further, I need the database on which the issue

[2013-11-14 18:53] skodapetr commented on #761
I think it's ok. The can be if we don't want use other technique to create those lists as we now have 4 of them?

Maybe we can use some powerlist list like ..

id = [Column.new(id, visible, sortable, filterable) ] ..

or we can even add lambda-classes into this is .. which will do access to data. The advantage can be that programmer has to write the column-id on only once place.

But for now I thi

[2013-11-14 19:28] #756 closed, assigned to janvojt

[2013-11-14 19:31] janvojt commented on #751
Registration email should be sent.

[2013-11-14 19:33] janvojt commented on #731
This is resolved in current version by not using the ReadOnlyContainer.

[2013-11-14 19:33] #731 closed, assigned to janvojt

[2013-11-14 19:35] janvojt commented on #637
Duplicate of #756 .

[2013-11-14 19:35] #637 closed, assigned to janvojt

[2013-11-14 22:18] #751 closed, assigned to kukharm

[2013-11-14 22:18] #753 closed, assigned to tomesj

[2013-11-15 07:12] tomas-knap opened #763 "Non unique primary key - When new user is created"
![screen shot 2013-11-15 at 8 09 15 am](https://f.cloud.github.com/assets/3014917/1548345/ec8f532a-4dc4-11e3-855e-1b2772d533e0.png)

It does not disappear when re-saving.

To reproduce: Manage users, new user
On odcs.xrg.cz

[2013-11-15 07:12] tomas-knap commented on #763
Actually it is strange that the problem is somehow associated with SCH_EMAIL table

[2013-11-15 07:26] tomas-knap opened #764 "Delete pipeline - confirmation dialog should contain the name of the pipeline being deleted"
![screen shot 2013-11-15 at 8 25 42 am](https://f.cloud.github.com/assets/3014917/1548404/2aec3cf8-4dc7-11e3-8c1e-be0c61a1bf1a.png)

[2013-11-15 07:27] tomas-knap commented on #752
yes

[2013-11-15 07:27] #752 closed, assigned to bogo777

[2013-11-15 07:29] tomas-knap opened #765 "DPU events - start/stop pipeline"
DPU events shoudl contain also info that pipeline was started/stopped.
Should be thrown with pipeline info type.

[2013-11-15 07:32] tomas-knap commented on #754
JJ, tohle se mi stalo vcera take, to je bug.

[2013-11-15 07:33] tomas-knap commented on #755
Marie, please write which browser/version are you using

[2013-11-15 07:36] tomas-knap opened #766 "DPU instance cannot be added"
As reported by Maria:

I created DBPedia pipeline, copied it, then I delete all of them, create new pipeline but was not able to place DPU instance on it.

Please try to reproduce

[2013-11-15 07:46] #560 closed, assigned to skodapetr

[2013-11-15 07:47] tomas-knap commented on #544
reopen if reappears with the new container

[2013-11-15 07:47] #544 closed, assigned to bogo777

[2013-11-15 07:53] tomas-knap commented on #258
Please check that it is implemented in the app everywhere

[2013-11-15 07:53] tomas-knap commented on #199
Lazy loading should solve this

[2013-11-15 07:53] #199 closed, assigned to bogo777

[2013-11-15 07:54] tomas-knap commented on #201
solved

[2013-11-15 07:54] #201 closed, assigned to kukharm

[2013-11-15 07:55] tomas-knap commented on #223
One file with the same name can be used only once

[2013-11-15 07:55] #223 closed, assigned to nobody

[2013-11-15 07:56] #148 closed, assigned to bogo777

[2013-11-15 07:57] tomas-knap commented on #476
solved

[2013-11-15 07:57] #476 closed, assigned to bogo777

[2013-11-15 08:01] tomas-knap commented on #441
By lazy implementation I mean that user (DPU author) may use certain iterator (in his DPU) to iterate himself over all triples in the rdf data unit. So from his execute method, he may call it.next() to get next couple of triples.

[2013-11-15 08:02] tomas-knap commented on #193
not needed, solved by intelligent loading

[2013-11-15 08:02] #193 closed, assigned to nobody

[2013-11-15 08:03] #446 closed, assigned to bogo777

[2013-11-15 08:04] tomas-knap commented on #436
no combobox available now

[2013-11-15 08:04] #436 closed, assigned to bogo777

[2013-11-15 08:05] tomas-knap commented on #423
solved

[2013-11-15 08:05] #423 closed, assigned to bogo777

[2013-11-15 08:07] #430 closed, assigned to tomas-knap

[2013-11-15 08:07] #424 closed, assigned to bogo777

[2013-11-15 08:08] #408 closed, assigned to skodapetr

[2013-11-15 08:10] tomas-knap commented on #355
Is this still relevant?

[2013-11-15 08:12] tomas-knap commented on #353
So the problem to check - logging of the backend

[2013-11-15 08:13] #95 closed, assigned to nobody

[2013-11-15 08:13] tomas-knap commented on #158
will be solved by CSS

[2013-11-15 08:13] #158 closed, assigned to nobody

[2013-11-15 08:13] tomas-knap commented on #144
not relevant

[2013-11-15 08:13] #144 closed, assigned to nobody

[2013-11-15 08:13] tomas-knap commented on #143
not relevant

[2013-11-15 08:13] #143 closed, assigned to nobody

[2013-11-15 08:14] skodapetr commented on #355
I think that Bohuslav removed the Browser completely from code. So probably no .. as there are no browsers any more. Even when we decide to revive them ... this will probably still won't be relevant.

[2013-11-15 08:15] tomas-knap commented on #335
See #469

[2013-11-15 08:15] #335 closed, assigned to janvojt

[2013-11-15 08:17] tomas-knap commented on #294
Pruning execution records -> should be possible by admin from settings

[2013-11-15 08:21] #189 closed, assigned to bogo777

[2013-11-15 08:21] tomas-knap opened #767 "Download button from debug dialog launched from canvas not working for logs"
![screen shot 2013-11-15 at 9 20 56 am](https://f.cloud.github.com/assets/3014917/1548598/e4413e68-4dce-11e3-8275-cd868c24c587.png)

[2013-11-15 08:22] tomas-knap commented on #293
future work

[2013-11-15 08:23] tomas-knap commented on #291
will be done based on the requirements

[2013-11-15 08:24] #270 closed, assigned to tomas-knap

[2013-11-15 08:28] tomas-knap commented on #273
when deleting running pipeline, no message box telling that the pipeline is running is not shown.

Solution: User should be notified about that. If the user still requires to delete the pipeline, the running executions should be cancelled.

[2013-11-15 08:34] #286 closed, assigned to janvojt

[2013-11-15 08:37] skodapetr commented on #273
Shouldn't we rather use some .. hide and toDelete = true strategy? waiting for pipeline to stop .. can take a while
also if we delete running pipeline .. backend can detect that pipeline has been deleted and do clean up ..
but if the backend crash before the clean up phase .. there is no record anymore .. and so the data will not be released (well for virtuoso they will be, thanks to pruning compo

[2013-11-15 08:37] #355 closed, assigned to skodapetr

[2013-11-15 09:16] tomesj commented on #441
Yes, I mean the same. Class LazyTriples has behavior as iterator, And if you call getTriples() on the instance, it returns next X triples defined by splitSize (or is used default splitValue).

Class has boolean method hasListTriples(), to find if next list with triples exists or not :-)

[2013-11-15 09:24] tomas-knap commented on #441
But RDF data unit helper ma jen metodu List<Statments> getTriples(). Mela by mit jeste methodu getTripesIterator() napriklad.

[2013-11-15 09:26] tomas-knap commented on #730
Please solve that asap when the major refactoring is done, Jakub is asking for that always

[2013-11-15 09:33] tomas-knap commented on #702
Check that it was solved by the new container

[2013-11-15 09:37] tomas-knap commented on #625
Check that it is solved by the new container

[2013-11-15 09:43] janvojt commented on #702
As far as I know, the new container does not solve this. It still needs to be done. The new container does pretty much the same thing the old container did, only uses ClassAccessors and DAO so we have a nicer code.

[2013-11-15 10:02] #506 closed, assigned to bogo777

[2013-11-15 10:04] tomas-knap commented on #273
I run the pipeline, delete it and then in the execution monitor there was a record about the pipeline exec. When clicking on that record:

![screen shot 2013-11-15 at 11 02 24 am](https://f.cloud.github.com/assets/3014917/1549128/58350e40-4ddd-11e3-95d6-278f3b7a6237.png)

[2013-11-15 10:06] tomas-knap commented on #273
hide and toDelete would be nicer. But I think we can also start with a simple functionality: When trying to delete pipeline, it cannot be deleted (dialog is shown) if it is currently running (in the status QUEUED or RUNNING). What do you think?

[2013-11-15 10:09] tomas-knap commented on #732
high visibility, increasing prio

[2013-11-15 10:10] tomas-knap commented on #767
Alex will be testing this, increasing prio

[2013-11-15 10:13] tomas-knap commented on #483
Please check that and report if it is still occurying

[2013-11-15 10:13] bogo777 commented on #759
Solved by e12f61c604039af6b89303b65240f4a7d5d151db

[2013-11-15 10:13] #759 closed, assigned to bogo777

[2013-11-15 10:16] tomas-knap commented on #598
So is it ready for testing?

[2013-11-15 10:16] janvojt commented on #273
The last screen is probably caused by me stopping the database on odcs.xrg.cz. I just stopped the relational DB with SIGTERM, copied it, and started again after few minutes (did not stop backend process). If the pipeline was running at a time, it might have broken. But it is still a bug.

[2013-11-15 10:16] tomas-knap commented on #598
Did you test that at least once? If not, test before me

[2013-11-15 10:17] tomesj commented on #441
Má teď metodu getLazyTriples(). Můžu to klidně přejmenovat na getTriplesIterator jestli chceš.

[2013-11-15 10:18] tomas-knap opened #768 "Display descriptions of data units"
When clicking on edges on the canvas, mapping dialog appears. When pointing on some data unit (input or output), description of such unit should appear in the tool tip (if the description is available in the code). Discuss with Petr how to get the description.

[2013-11-15 10:19] tomas-knap commented on #492
see #768

[2013-11-15 10:19] #492 closed, assigned to bogo777

[2013-11-15 10:19] tomas-knap commented on #493
See #768

[2013-11-15 10:19] #493 closed, assigned to bogo777

[2013-11-15 10:21] skodapetr commented on #768
The commons.app.dpu.DPUExplorer provide methods getInputs, getOutputs .. the return type is List<DataUnitDescription> ..
The DataUnitDescription class contains all we got about the DataUnit (event type name as a string)

This DPUExplorer is already used I belived. So this can be small local modification.

[2013-11-15 10:22] tomas-knap commented on #441
Jasne, ja ji tu nemam, bo nemam posledni commit. Ale stejne ji prosim prejmenuj. getLazyTriples je trosku divne

[2013-11-15 10:23] janvojt commented on #273
Also, if view with logs throws an exception, it is not displayed again (for any other execution) until application is reloaded in tomcat.

[2013-11-15 10:24] bogo777 commented on #754
Please test it now, I made some changes in branch which I merged today. For me it works fine for both user and admin account. If it's ok, please close the issue.

[2013-11-15 10:25] bogo777 commented on #748
Solved by merging branch executionlist 8d9ef4b079b49dc748488a86b3e9e3c1b2b27e72

[2013-11-15 10:25] #748 closed, assigned to bogo777

[2013-11-15 10:29] tomas-knap opened #769 "view with logs - exception"
From honza: Also, if view with logs throws an exception, it is not displayed again (for any other execution) until application is reloaded in tomcat.

[2013-11-15 10:30] tomas-knap commented on #754
Maria, test that

[2013-11-15 10:38] bogo777 commented on #732
I need some support from RDF part. I currently use: binding.getBindingNames() but the names aren't ordered according to query. I need some object/method, which can extract column names in correct order from the query.

[2013-11-15 11:51] bogo777 commented on #767
Can you test it on the latest version, I made some changes to this in e12f61c604039af6b89303b65240f4a7d5d151db which could be relevant. For me it works fine now.

[2013-11-15 13:30] tomas-knap commented on #767
ok

[2013-11-15 13:30] #767 closed, assigned to bogo777

[2013-11-15 13:37] tomas-knap opened #770 "Browse/Query tab - put together the format and "run & download" button"
Motivation: Format is not relevant for the second button, but this is not obvious.

![screen shot 2013-11-15 at 2 32 57 pm](https://f.cloud.github.com/assets/3014917/1550094/7b08311e-4dfa-11e3-83f7-a3f361f66430.png)

So please introduce some panel, which will involve the the combo box and the first button "run and download". Also please the fist button should be "run query", under this button, the

[2013-11-15 13:51] tomas-knap opened #771 "When downloading results of browse/query"
1. When downloading resutls of browse/query as Trig, the name of the named graph is missing in the downloaded file. Use the name of the graph introduced in the dialog below the data unit combo box.
2. Use label "N-Triples" in the combo box, not "NT"
3. Use label "RDF/XML" instead of RDFXML

[2013-11-15 13:52] tomas-knap commented on #771
Adjust in both combo boxes

[2013-11-15 13:54] tomas-knap opened #772 "Browse/Query - run and download - formats not working in the combo box"
When selecting format TSV, error occurs. Solution: remove TSV from the choice. this happens also for some others. At the end the content of both rdf format combo boxes on the browse/query tab should be the same!!

[2013-11-15 13:57] tomas-knap opened #773 "When copying pipelines, the names of the copies must be different"
When creating multiple copies of the same pipeline, their implicit names must be differernt. Please reassign if needed.

[2013-11-15 14:06] tomas-knap commented on #732
binding.getBindingNames() - binding is instance of what class?

[2013-11-15 14:09] bogo777 commented on #732
It is org.openrdf.query.BindingSet

[2013-11-15 14:11] tomas-knap opened #774 "Execution records and users"
Admin should see all execution records. User without admin rights should see his execution records only.

[2013-11-15 14:12] tomas-knap commented on #732
And which Jirka's class/method do you use to get such set?

[2013-11-15 14:28] janvojt commented on #773
Please specify what exactly does "different" mean. I would suggest the following:

Let's say pipeline name is `DBpedia`. The new name then should be `Copy of DBpedia`. If the new name is taken, append `#1` to it and try again. If this is taken, append `#2` to the new name, so the name of the copy would be `Copy of DBpedia #2`, and so on.

Is this OK?

[2013-11-15 14:52] tomas-knap commented on #773
yes

[2013-11-15 16:11] janvojt commented on #747
Problem is with the (top) XSLT DPU instance configuration. Its serialized configuration on ARES test pipeline in database is 24186 bytes long, however when it is read into the object attribute, its length is only 24125 bytes. First I thought it could be caused by some truncating of long BLOBs, however the other XSLT DPU has a much longer configuration and it is read and copied just fine.

[2013-11-15 16:18] tomas-knap commented on #747
Well, than re-saving the original ARES test pipeline should help, right? But please backup the configuration first, in case of problems, so that Jakub does not need to write it again

[2013-11-15 17:05] bogo777 commented on #732
This set represents one result. I iterate through them from MyTupleQueryResult, which is result of .executeSelectQueryAsTuples() on RDFDataUnit.

[2013-11-15 18:08] janvojt commented on #747
I tried resaving configuration, but the problem still persists. Somehow eclipselink just does not read all the data before copying, and then the serialized configuration in DB is invalid. I will try to reproduce on a trivial pipeline with just a single DPU and see where it gets me.

[2013-11-15 20:50] skodapetr commented on #760
Ok, the name is no longer use (I just forgot to mention the issue name in commit). Just remember that this will broke all existence data in local repositories !!

[2013-11-15 20:51] skodapetr commented on #760
Bohuslav (author) please leave this comit open, as Thomas can close it once this will be used on odcs. (we may need to create some conversion script for existing data).

[2013-11-15 20:53] skodapetr commented on #761
I see you have added the visible list already. So I change the priority to low .. just in case we will decide to try use more sophisticated approach for creation of this lists.

[2013-11-16 00:23] #757 closed, assigned to skodapetr

[2013-11-16 09:55] skodapetr commented on #392
1) has been done by Bohuslav
2) is also ok ..
so I think we can close this.

[2013-11-16 11:53] #392 closed, assigned to skodapetr

[2013-11-16 11:54] #765 closed, assigned to skodapetr

[2013-11-16 11:58] tomas-knap commented on #728
Please adjust in the documentation for DPU creation and close

[2013-11-16 12:03] tomesj opened #775 "Last execution time and last status are not change"
I debug/run X times the same pipeline, but I still have old execution time and status (3 days old - it was my last debug using).

[2013-11-16 12:08] tomas-knap commented on #734
Please try to test the tool via two tabs, then leave them open for a while and the try to test again

[2013-11-16 12:10] tomesj opened #776 "Same name when using COPY pipeline"
If I create multiple copies of the same pipeline - All has the same name, but only different ID.

Example:
I have a pipeline A (2 copies)
I get:
Copy of A (id 10)
Copy of A (id 11).

And when I some of these COPIES randomly edit and then I can save or save & close
- I get error that the pipeline with the same name already exists in the system !!!

If is not issue for you, please re-assign it for r

[2013-11-16 12:12] tomas-knap opened #777 "When clicking on the exec monitor record, no detail dialog appear"
![screen shot 2013-11-16 at 1 11 11 pm](https://f.cloud.github.com/assets/3014917/1556204/56c46e76-4eb8-11e3-81fa-928bcfe3b040.png)

[2013-11-16 12:17] tomesj opened #778 "Uploading file using file extractor"
When I you use File extractor and the choise upload a file -  so when I save and try to run run (or debug) pipeline, I always get an exception that the file path does not exist.

There is maybe that
- you upload to temporary/hidden folder
- file system has not access (not enough privileges)

Your goal is test this use-case again, write problems what do you found out, and try to solve this.

[2013-11-16 12:37] tomas-knap commented on #732
Jirka please provide suggestions how to solve that, than we can discuss. Preferred solution is to use certain openRDF methods to get all the return variables in the select query in the order as written in the query. You should not write any parser for parsing the query on your own.

[2013-11-16 12:53] skodapetr commented on #728
I added note into the "theory".. after the execution termination with ERROR .. so I hope it's ok.

[2013-11-16 12:53] #728 closed, assigned to skodapetr

[2013-11-16 12:53] tomesj commented on #732
You should use instance MyTupleQueryResult (as executeSelectQueryAsTuples()) and call method getBindingName - it returns List<String> and then using an iterator you get the names of pattern in the correct order.

[2013-11-16 12:56] skodapetr commented on #776
Maybe ... it depends .. this is similar problem to the DPU copy .. we can use
1) stored procedures to generate unique name
2) let use fill that name for use, and then show just "warning" in case of conflict - imho the easiest solution

Thomas, can I ask for you opinion?

[2013-11-16 12:57] skodapetr commented on #776
ie. duplicit to #773 ..

[2013-11-16 12:57] #776 closed, assigned to skodapetr

[2013-11-16 14:06] tomesj commented on #772
No, TSV and all formats works fine.

Problem is only that format as:
XML, JSON, CSV, TSV
can be used only when your have SELECT query, but there are NOT for using CONSRUCT queries !!!

Author of the class RDFQueryView where the problem is Bohuslav.
Bohuslav has here only notification as: BAD FORMAT SELECTED !!! If you can use it for RUN and DOWNLOAD in construct case.

Other formats as:
RDF/XML, T

[2013-11-16 14:49] tomas-knap commented on #772
Well than the notification may be adjusted. If the user specifies a wrong format, explanation should be given that this format is supported only for SELECT query.

[2013-11-16 14:49] tomas-knap commented on #772
Jirka, pls suggest Bohuslav what should be in the notification

[2013-11-16 15:13] #754 closed, assigned to kukharm

[2013-11-16 16:40] kukharm commented on #737
E-mails are reordered because during the addition of  the new e-mail in GUI I use LinkedList but then when emails save to DB LinkedList converted to HashSet because of function
    public void setEmails(Set<EmailAddress> emails) {
        this.emails = new HashSet<>(emails);
    }
the order is changed..
Question to Jan: could we use LinkedList instead HashSet for saving to DB?

[2013-11-16 17:12] kukharm commented on #743
I catch the next bug: when i double click on Scheduler table row then two windows of one Scheduling rule open (the same is for users table).
But after saving each of the window the new rule is not created so this is not the cause of duplication. I can not reproduce duplication.

Bohuslav, please look to this windows opening.

[2013-11-16 17:48] kukharm commented on #755
Google Chrome  version  30.0.1599.101 m
I tried this scenario one more time but the bug was not reproduce..

[2013-11-16 18:44] tomesj commented on #732
I go throth Bohuslav code and find place with variables order problem. This problem could be solved now.

[2013-11-16 20:35] tomesj commented on #772
Problem solved :-) Prepare to close

[2013-11-16 20:35] tomesj commented on #771
Solved :-) Prepared to close

[2013-11-16 21:38] kukharm opened #779 "Pipeline save button"
Pipeline save button becomes enable if I open and close config dialog of some DPU without any changes.

[2013-11-16 22:22] kukharm opened #780 "Configuration dialog by double click"
I open DPU for editing and make some changes on canvas: delete and add dpus, replace dpus, change edges. After that i can not open dpu configuration dialog by double click

[2013-11-16 22:52] kukharm opened #781 "Debug window- log tab error"
I click on some row in the Log tab of Debug window and get error.
![error2](https://f.cloud.github.com/assets/3471169/1557356/b8476de8-4f11-11e3-9e38-63a2805b1f26.jpg)

then i go to Execution Monitor and try to open this last execution - i get exception

![exception](https://f.cloud.github.com/assets/3471169/1557369/465bfb80-4f12-11e3-846b-77eedd97ab1d.jpg)

[2013-11-16 23:06] kukharm opened #782 "Save as dpu template - exception"
I open dpu configuration dialog and try to save it as dpu template -  exception
![exception2](https://f.cloud.github.com/assets/3471169/1557387/b805c742-4f13-11e3-95ad-3bfb683f905a.jpg)

[2013-11-16 23:17] kukharm commented on #755
Ted mi napalo, mohlo to stat napriklad kvuli tomu, ze dosla pamet? Dneska jsem mazala dpu nekolik krat a vsechno bylo vporadku. Ale jednou kdyz jsem nekolik krat otevirala a zavirala pipelinu tak mi stalo tohle:
-jsem otevrila pipelinu ale zmizeli hrany,
-jsem zavrela a otevrela znovu vsechno bylo na miste ale neposluchalo mys, nemohla jsem nic tam pohnout ani otevrit
-jsem zavrela a otevrela po t

[2013-11-16 23:42] tomesj commented on #640
Add virtuosoExtension to code and config.properties. Prepare to close.

[2013-11-16 23:59] tomesj opened #783 "Click on record in Events and LOG table cause an exception"
If you click on some row (record) in table Events or LOG you got an exception:

Bad cast - It´s expected ValueItem, but is used CompositeItem.

See
![image](https://f.cloud.github.com/assets/3481055/1557490/64196fa6-4f1a-11e3-91a5-cf50f6e0190c.png)

[2013-11-17 01:27] tomesj commented on #302
Method describeURI tested and available for using. Issue prepare for close.

[2013-11-17 08:19] skodapetr commented on #783
The component is shared, so it's the same as #781, so closing

[2013-11-17 08:19] #783 closed, assigned to bogo777

[2013-11-17 08:51] tomas-knap commented on #779
Solution: When user clicks cancel after opening DPU detail, that denotes that no change was done and save button should remain disabled. When user clicks save after opening DPU detail, even if no change was done in the DPU detail, save button is enabled

[2013-11-17 08:52] tomas-knap commented on #780
See https://grips.semantic-web.at/display/LOD2/Testing
for the detail scenario to reproduce the bug

[2013-11-17 08:55] tomas-knap commented on #781
See https://grips.semantic-web.at/display/LOD2/Testing
for the detail scenario to reproduce the bug

[2013-11-17 08:56] tomas-knap commented on #781
Petre, discuss with Honza, who is responsible and reassign if needed

[2013-11-17 08:57] tomas-knap commented on #782
See https://grips.semantic-web.at/display/LOD2/Testing
for the detail scenario to reproduce the bug

May be a consequence of #781

Bohuslav, please reassign if it is not a problem in your code

[2013-11-17 13:35] tomas-knap commented on #302
Well, Bohuslav should make the URIs in the query/browse result clickable.

[2013-11-17 13:37] tomas-knap commented on #302
Before that, as looking to the commit, the query "DESCRIBE <%s>" should restrict on the examined named graph in the browse/query. This should be an extra param to your method, which restricts the describe query to be executed on top of the desired named graph (data unit)

[2013-11-17 13:41] tomas-knap commented on #640
Jirka, what is still missing:
- list all virtuoso specific expressions, such as this define:sql:log-enable. Is there any other? Please document every such place in the code. Create a page for that in confluence.
- did you test how does it work if useExtension is set to NO?

[2013-11-17 13:42] tomas-knap commented on #640
Did you successfully use fuseki instead of virtuoso as RDF store? That means you try to run couple of pipelines, checking the log file that no suspicious messages occur.

[2013-11-17 13:43] tomas-knap commented on #755
cannot be reproduces, out of mem issue?

[2013-11-17 13:43] #755 closed, assigned to bogo777

[2013-11-17 13:49] tomas-knap commented on #732
Jirka, so what should Bohuslav do to solve the issue from his side?

And question from my site, how did you help yourself by introducing private List<String> headers? It is still unordered, right?

[2013-11-17 13:54] tomas-knap opened #784 "Two dialogs with scheduler event detail instead of one"
when i double click on Scheduler table row then two windows of one Scheduling rule open (the same is for users table).

[2013-11-17 13:57] tomas-knap commented on #743
Have created issue for the two dialogs instead of one - see #784

Regarding this issue, Marie, could you please focus your testing now on the scheduler events? Again, please write a report in a similar way as in https://grips.semantic-web.at/display/LOD2/Testing
Please focus on the creation of tens of schedulling events, with couple of different configurations and observe if everything is schedull

[2013-11-17 13:58] tomas-knap commented on #564
Does not relevant, see #738 for update

[2013-11-17 13:59] #564 closed, assigned to kukharm

[2013-11-17 16:31] skodapetr commented on #781
This was clearly problem with ClassAccesor (missing id column) and class casting .. maybe Bohuslav is more responsible then Honza .. but it was easy to fix, so it should be ok by now

[2013-11-17 16:38] skodapetr commented on #607
What exactly is the problem? And where is the body?
The code before start log is actually a preparation .. the start finished is used to restrict the area where user code is running. Do I miss something as the logs above seems fine to me ..

Should we have another log that say .. the preparation start .. and user code par start?
(reassigned to me, as it is really more on backend' logging then anyt

[2013-11-17 17:59] tomas-knap commented on #607
It is fine, closing

[2013-11-17 17:59] #607 closed, assigned to skodapetr

[2013-11-17 19:40] janvojt commented on #747
The root cause is actually "Virtuoso Communications Link Failure (timeout) : malformed input around byte 1369". The character at this byte is `é`. Therefore, it is a problem with diacritics, they somehow get malformed in the process of copying.

I tried removing all the accented characters from XSLT configuration and the problem disappeared.

[2013-11-17 22:45] janvojt commented on #747
I suspect that it is caused by some odd bug in Virtuoso, as it is quite unpredictable when the bug takes effect. Some strings with diacritics are saved correctly, some strings with exactly same accented characters are saved incorrectly.

Because of this, debugging is very problematic. I suggest we work around this problem by encoding the serialized configuration into Base64 and then saving it into

[2013-11-18 00:30] kukharm opened #785 "DBpedia execution is Failed"
DBpedia execution is Failed

[code]

[2013-11-18 00:59] kukharm opened #786 "Scheduler table update"
Columns Last, Next, Lust run time  in Scheduler table  do not automatically update

[2013-11-18 01:32] kukharm opened #787 "After pipeline execution bug"
I create scheduling rule with After pipeline option and select several pipelines. Pipeline by this scheduling rule starts execute before than all of selected pipelines finish.

For details see https://grips.semantic-web.at/display/LOD2/Testing  (17.11.)

[2013-11-18 02:07] kukharm commented on #743
report https://grips.semantic-web.at/display/LOD2/Testing

[2013-11-18 02:31] kukharm commented on #764
I changed it before, but now my changes is commented, item.getItemProperty("name").getValue() does not work any more.

[code]

I do not know how to get the name of pipeline now. I can listed all pipelines and then find the name by id in this list, but i think it would not be a good solution..

[2013-11-18 04:47] tomas-knap commented on #764
No that is not the best solution. Bohuslav?

[2013-11-18 07:35] #764 closed, assigned to bogo777

[2013-11-18 07:41] bogo777 commented on #777
Does this still occur? Can you give me step-by-step how to reproduce it?

[2013-11-18 08:03] #782 closed, assigned to bogo777

[2013-11-18 08:45] #779 closed, assigned to bogo777

[2013-11-18 08:47] bogo777 commented on #692
PipelineList and ExecutionList are refactored to MVP.

DPU is refactored to older version of MVP and should be refactored to be up to date.(It should be straightforwad and fast)

[2013-11-18 09:50] #784 closed, assigned to bogo777

[2013-11-18 09:55] bogo777 commented on #349
Yes, bug in Chrome was fixed in version 29.0.1547.76 m and it works since.

[2013-11-18 09:55] #349 closed, assigned to bogo777

[2013-11-18 10:06] tomas-knap commented on #777
cannot reproduce now, reopen if it appears

[2013-11-18 10:06] #777 closed, assigned to bogo777

[2013-11-18 10:08] tomas-knap commented on #785
See https://grips.semantic-web.at/display/LOD2/Testing for steps to reproduce

But Maria, please try again first, could be cause by DBPedia SPARQL endpoint being down

[2013-11-18 10:09] tomas-knap commented on #786
See https://grips.semantic-web.at/display/LOD2/Testing (17.11.) for steps to reproduce

[2013-11-18 11:25] kukharm commented on #785
I tried to run i one more time (nothing has changed), now it finished successful.

[2013-11-18 11:28] tomas-knap commented on #785
Also the ordering of the executions was ok?

[2013-11-18 11:33] tomas-knap commented on #692
and regarding the autowiring, this is also pending, right?

[2013-11-18 11:43] kukharm commented on #785
Today Events

18.11.2013 12:36:49                 Starting execution of pipeline
18.11.2013 12:36:49 SPARQL Extractor    DPU started.
18.11.2013 12:36:50 SPARQL Extractor    DPU completed.
18.11.2013 12:36:54     File Loader     DPU started.
18.11.2013 12:36:54     RDF File Loader     DPU completed.
18.11.2013 12:36:59             Pipeline finished

Yesterday Events

18.11.2013 1:20:29

[2013-11-18 11:54] kukharm opened #788 "confirmation dialog to scheduler state changing"
Add confirmation dialog after pussing DIsable/Enable button on Scheduler table. If confirm - show message that state was changed.

[2013-11-18 12:00] tomas-knap commented on #785
I meant whether the order of pipeline exeuctions (dbpedi-1 - dbpedia-10) was correct - according to the scheduler

[2013-11-18 12:03] kukharm commented on #785
Yes it was correct. Problem was not in schedule, i also tried to run this pipeline from Pipeline section without scheduler and the result was also failed.

[2013-11-18 12:05] #788 closed, assigned to kukharm

[2013-11-18 13:48] #785 closed, assigned to kukharm

[2013-11-18 13:51] tomas-knap opened #789 "Problems after first deploy, tomcat needed to be restarted"
Kolega zkousel instalaci: Jo a ještě jsem zapomněl, po prvním deploymentu mi nešly seběhnout žádné pipeliny, hlásilo to výjimku níže. Po restartu (tomcatu i backendu) už to šlo.

Can you reproduce the problem and avoid? Is the Spring magic responsible?

2013-11-17 13:23:28,573 [taskScheduler-3] ERROR exec: dpu: o.s.s.s.TaskUtils$LoggingErrorHandler - Unexpected error
occurred in scheduled task.
ja

[2013-11-18 14:34] skodapetr commented on #789
Asi ano .. podle toho exec, dpu hádám, že jde o backend log .. tam bych toto vskutku nečekal.

Nicméně java.lang.ClassNotFoundException (původní příčina) není asi něco co bychom mohli ovlivnit .. kdyžtak jeslti máš celý log? Ale i tak, nevím zda něco svedeme bez debug-trace level logu ze springu ...

[2013-11-18 14:43] tomas-knap opened #790 "Canvas improvements"
If it is not working, try to document what is not working.

[2013-11-18 14:45] tomas-knap opened #791 "pom.xml adjustment for Eclipse"
- commons-app/pom.xml a frontend/pom.xml mi po importu do Eclipse hlásily chybu - m2e plugin potřebuje, aby byl tag <plugins> zabalený ještě v tagu <pluginManagement>. Když se tam přidá, už to funguje bez problémů.

Please check if you can add the elem and it is working smoothly in eclipse/netbeans

[2013-11-18 14:46] tomas-knap commented on #790
Od kolegy: Webové rozhraní je běželo dost pomalu ve Firefoxu - v Chrome už to bylo OK (někam by se mohlo napsat doporučení) a hlavně v FF mi nešly vůbec přidávat DPU do pipeliny. Taky by se hodilo, aby horní menu byly obyčejné odkazy, aby se daly rozkliknout v panelech.

[2013-11-18 19:21] skodapetr commented on #787
yes .. that expected .. it should start after at least one pipeline from list finished .. (the operation on pipeline list is OR not AND) .. I guess we should refer to the documentation for more info ..

[2013-11-18 19:29] kukharm commented on #787
according to documentation https://grips.semantic-web.at/display/LOD2/Scheduler

Schedule the pipeline to run after another pipeline has finished. User then selects from list of accessible pipelines the one after which execution of this pipeline should run. Multiple pipelines can be selected in one rule. The pipeline will run after all the selected pipelines finish. List of pipelines is presented

[2013-11-19 06:55] tomas-knap commented on #708
O vikendu Ares test probehl v poradku. Kuba ho vcera poustel znovu a skoncilo to na:

![screen shot 2013-11-19 at 7 53 12 am](https://f.cloud.github.com/assets/3014917/1570261/7c2af2da-50e7-11e3-8cd5-0e458994bc7e.png)

Tedy vypada to, ze se tam stale pouziva delete {} where {} misto clear. Zkontroluj to Jirko

[2013-11-19 06:59] tomas-knap commented on #708
update loader

[2013-11-19 09:43] tomas-knap commented on #507
Actually it works for me somehow, but there is a problem with the canvas - when opening any pipeline:

![screen shot 2013-11-19 at 10 38 32 am](https://f.cloud.github.com/assets/3014917/1571212/ddd959ec-50fe-11e3-89fd-fbe5ca1c78cc.png)

[2013-11-19 09:43] tomas-knap commented on #507
Motivation - when presenting demo, URI with 8080 may be blocked

[2013-11-19 10:02] tomas-knap commented on #227
Jirka, what is the purpose if validation report path in the configuration?

The ida was that RDF data validator provides two output data units -> one with the validated data and one with the report. There is no need to store the report to a file. Could you please adjust that?

[2013-11-19 10:42] tomas-knap opened #792 "Browse/Query behaviour - last query"
When clicking on browse/query, clicking on browse, than switching to a different exec record and back to the previous, I can se the result of the previous query but not the query itself.

I quite like that the last result of browse/query remains available till the next query but the problem is that the upper part is always disabled when opening the tab so it does not reflext the result displayed.

[2013-11-19 11:00] tomas-knap opened #793 "Browse/Query - download - respect filters"
Respect filters when user specifies query, filters results and click "Download"

![screen shot 2013-11-19 at 11 59 21 am](https://f.cloud.github.com/assets/3014917/1571686/d13e2b94-5109-11e3-9553-c2c1ee270ba3.png)

[2013-11-19 11:14] tomas-knap commented on #792
However, when switching from one pipeline exuction record to another, I should not be able to see the previous query relating to a different execution record!!

[2013-11-19 11:17] tomas-knap opened #794 "Pipeline execution record detail - Dialogs (browse/query) not initiated properly"
When switching browse/view (exec record detail) from one record to another, I should not see data associated with the original record. E.g., I should not be able to see the previous query relating to a different execution record!!

Check that not only for browse/query, but also for events/logs.

[2013-11-19 12:32] tomesj commented on #708
Method clearEndpointGraph used in SPARQL loader used CLEAR GRAPH<..>, so you have to update SPARQL loader and RDF module :-)

[2013-11-19 12:54] tomesj commented on #227
From what I understand, how RDF Data Validator DPU works:

There are 1 (or more) input(s)
- with RDF data you want to validate

There are 2 outputs
1) RDF data that are valid (data which dont passed are not send to output)
2) File with report in TTL format (contains problems triples, case of invalidation,describe message,..)

But do you want to make 2) as second output of this DPU ?
And what about

[2013-11-19 13:10] tomesj commented on #732
Bohuslav have nothing to do, I solved the problem yet.

I add list header (it was necessary how get right order header need for table) and use getBindingNames() on MyTupleQueryResult via using next() - BindingSet
- this cause right variable order same as in SELECT query.

[2013-11-19 13:20] tomesj commented on #640
To questions:
-  No, there is only define: sql: log-enable. I add special comment to this.
- yes, I tried you id useExtension is disable (set to false) and it work normally.
- I tested on fuseki only list of methods - extraction, loading, merging. But no whole pipeline, because fuseki need special calling as s-update, s-query,...and it is fuseki specific syntax - our code is not written for this s

[2013-11-19 13:34] tomesj commented on #302
This method describeURI is called on concrete RDFDataUnit - it used graphs that are actually set to this DPU (it´s  the same as using for SELECT, CONSTRUCT, or UPDATE queries).

[2013-11-19 13:48] tomas-knap commented on #640
Regarding the use of "useExtension", it should log a warning when user is using virtuoso but not using extension (useExtension = false), because actually, when not using extension, the performance or even functionality of virtuoso fro bigger graphs may be influenced

Regarding the testing of fuseki, it is not enough to use the individual methods, it either can be used instead of virtuoso for our t

[2013-11-19 13:52] tomas-knap commented on #302
ok, fine

[2013-11-19 13:53] tomas-knap commented on #302
Clickable URIs in the result of browse/query -> after clicking, describe  method from Jirka is called

[2013-11-19 13:55] tomas-knap commented on #227
Yes, that was the idea, because typcally you would like to e.g. load the generated report via a loader to some repository with reports. GUI may remain empty, thats fine

[2013-11-19 13:59] tomesj commented on #640
To VIRTUOSO:
So when is used Virtuoso, but useExtension is false set, I add warning - you right that the performance for big graphs can cause problems.

To FUSEKI:
Yes, you right

[2013-11-19 14:16] tomas-knap commented on #640
openRDF would not work for fuseki

[2013-11-19 17:26] janvojt opened #795 "Refactor ReadOnlyContainer cache"
Caches in ReadOnlyContainer are invalidated after a fixed time interval. This presumes time interval in which a request should be serviced. For requests longer than this interval, some queries might be unnecessarily repeated (or query results may even be inconsistent), which would make slow response even slower.

Instead, we should invalidate container upon certain event. The best solution would b

[2013-11-19 18:47] janvojt commented on #730
The new container is using DAO layer, which requires transactions and starts a new one if none is active. DAO implementations always require transactions and throw an exception if none is active (ef5912a8). This will immediately reveal a case where service layer is not managing transactions. Therefore it should work now everywhere except for the old container (IntlibLazyQueryContainer), which is n

[2013-11-19 20:09] #773 closed, assigned to janvojt

[2013-11-20 09:44] bogo777 commented on #730
ExecutionList classes are used instead of EM and ILQC is not used there, so this should be resolved?

[2013-11-20 09:54] bogo777 commented on #792
This behaviour is result of simply not properly clearing data when different execution record is set. So when I will change that, there will be no more cached records, it will stay there only when changing tabs Events, Logs and Browse/Query for the same execution. Is that ok?

[2013-11-20 10:23] #794 closed, assigned to bogo777

[2013-11-20 12:06] janvojt commented on #702
I am assigning Petr (on his request). He said he will be doing some more refactoring on the new container. We will discuss it at the meeting.

[2013-11-20 12:40] #793 closed, assigned to bogo777

[2013-11-20 12:44] bogo777 commented on #780
I made some changes to canvas related code in 9b3c22f1527637d06cf851547d06dfa72f064655 . Please test, if this still occurs, as it doesn't for me and close if not.

[2013-11-20 12:45] bogo777 commented on #766
I made some changes to canvas related code in 9b3c22f . Please test, if this still occurs, as it doesn't for me and close if not.

[2013-11-20 13:17] bogo777 commented on #790
FF:
Moving DPUs on canvas is slow. Adding DPUs is working. Other features work ok.

IE:
Moving DPUs on canvas is ok. Adding DPUs doesn't work! Other features work ok.

Will investigate further, where could be a problem.

[2013-11-20 13:39] bogo777 commented on #790
IE drag problem is solved in newer version of Vaadin, so we should update the version we use and it will be ok.

[2013-11-20 14:50] skodapetr commented on #761
We now have new possibility how to create accessors (I forgot to mention this issue in commit). So closing.
For more details see NewLogAccessor .

[2013-11-20 14:50] #761 closed, assigned to skodapetr

[2013-11-20 15:24] tomesj commented on #227
RDF Data Validator updated (GUI + logic)

Now we use 2 outputs:
1) Validated_Data
2) Report

Issue finished and prepare for close :-)

[2013-11-20 15:30] skodapetr commented on #702
Omlouvám se Honzovi .. ale nemohl jsem odolat té možnosti napsat dneska alespoň něco co bude fungovat ..

Pro testování jsem to použil v ExecutionList  .. a zdá, se že to pracuje dobře.
Je to teda jen pro přímé "property".  Pro příklad třeba na 5 záznamech o běhu jedné pipeline s jedním uživatelem to ušetří už teď dva dotazy. ( úspora počtu transakcí je podle toho jak moc různé pipelines a users j

[2013-11-20 15:43] #727 closed, assigned to bogo777

[2013-11-21 08:33] jakubklimek opened #796 "Fix text"
![image](https://f.cloud.github.com/assets/718827/1590168/90d2a772-5287-11e3-8e55-617155444afb.png)
Text is misleading. Should be "Starting pipeline execution 509" - it is the number of an execution, not of the pipeline

[2013-11-21 08:51] skodapetr commented on #796
Now it should be "Starting execution number:509 pipeline: BuyerProfile"

The reason why I preserve the name of the pipeline is, that when raeding logs (in file) this give you information which pipeline is executed. Is this ok?

[2013-11-21 09:20] tomas-knap commented on #702
Petre, sepis prosim rovnou to vylepseni do devel doc - do prislusne casti tykajici se noveho kontejneru. Klidne na to zaloz novou stranku pokud tam zadna o kontejneru neni

[2013-11-21 09:22] skodapetr commented on #702
Nechal bych to ještě na schůzku, ukázalo se, že ten container asi rozdělíme .. neb je tam třeba více funkčnosti a bylo by to moc kódu .. tj. asi přidám ještě nějakou datovou podvrstvu ..
potřebujeme cachování a také něco jako načítání dat-na-pozadí

[2013-11-21 09:35] tomas-knap opened #797 "Update Vaadin version to solve issue with IE"
See #790

[2013-11-21 09:36] tomas-knap commented on #790
Ok, please try also to check where the problem in FF is. Why is the movement slow?

[2013-11-21 09:38] tomas-knap commented on #766
Maria, please test

[2013-11-21 09:38] tomas-knap commented on #780
Maria, please test

[2013-11-21 09:40] bogo777 commented on #302
I need paging support for DESCRIBE query too. I would like to call the method with query(already with LIMIT/OFFSET set) parameter as in select/construct cases.

Also, how do I discover which URIs are "describable"? Is it every entry with format http://something... ? Or is there some rule to this?

[2013-11-21 09:41] skodapetr commented on #797
Just side note .. we have to change the packages-version in comons.app com.vaadin.package list.

This will also require recompilation of DPUs.

[2013-11-21 09:45] skodapetr commented on #302
side note (to discuss): we may want to use DataAccesRead like wrap for RDF .. as with this the container can work

As the gui should probably does not do any complicated "data magic". It should just take data source .. pass it to the container, set container to table .. and done.

[2013-11-21 09:46] tomas-knap commented on #797
We should think how to accommodate Vaadin updates in the future. Recompilation of core modules is ok, but we should not force other to recompile all their module. It is rather better to allow them to use the old version of vaadin (via shared /lib) than starting throwing exceptions when core has a different version

[2013-11-21 09:48] tomas-knap commented on #792
That is ok

[2013-11-21 09:51] tomas-knap commented on #730
So is it solve completely? ILQC is not used anywhere now?

[2013-11-21 09:52] skodapetr commented on #797
Topic for next meeting. I also reassign to me .. temproraly

[2013-11-21 10:04] tomas-knap opened #798 "More robust SPARQL loader"
When loader cannot connect to db it fails (do not try to reconnect). It should try to reconnect if specified so. Try ARES test pipeline on odcs.xrg.cz

Loader should support cancel between the tried to connect to db. Is this already supported?

Let's discuss that tomorrow

[2013-11-21 10:32] tomesj commented on #302
For describe you dont need LIMIT/OFFSET. In your table from SELECT/CONSTRUCT you get only concrete URI (I tell you which) get this URI and call method describeURI - it return graph with triples (same result as in CONTRUCT case)

Now to URI:
You can use only Resource URI - does mean only for subject or object, if there are in URI representantion (starts with http://). Nothing else.

[2013-11-21 10:35] tomesj commented on #302
For calling my method use

<pre><code>
Resource uriResource=new URIImpl("http://my.uri.to.describe);
repository.describeUri(uriResource);
</code></pre>

[2013-11-21 11:39] janvojt commented on #730
OK then, please retest.

[2013-11-21 11:49] janvojt commented on #737
Changing to List would not help. Also, by design this is a matter of presentation, so this logic should be in presentation layer. I will order emails by id in presenter.

[2013-11-21 12:30] bogo777 commented on #730
ILQC is still used in list of pipelines in Schedule pipeline dialog. I tried to replace it with ROC, but it is not possible, combobox requires some operations that are not implemented in ROC and I don't know if it is easy to implement them. I know about indexOfId(Object itemId) but there could be more.

Also RDFLQC is used in Browse/Query.

[2013-11-21 13:32] bogo777 commented on #792
Resolved by a3cca55f430d2a6431c6cf75b068695c3c338070

[2013-11-21 13:32] #792 closed, assigned to bogo777

[2013-11-21 14:35] tomas-knap opened #799 "Adjust combo box with RDF file formats also for File extractor/loader"
![screen shot 2013-11-21 at 3 33 54 pm](https://f.cloud.github.com/assets/3014917/1592360/fe05a3a8-52b9-11e3-81ca-c0b1c02f9d6e.png)

It should be adjusted as combo boxes in the browse/query dialog

[2013-11-21 14:42] tomas-knap opened #800 "When there is no data as result of browse/query user should be notified about that"
Motivation - it is not clear whether there is no data or the query is still running

Solution: Instead of the table below the query, show some label "No data is available"

[2013-11-21 14:50] tomas-knap opened #801 "Add "Cancel" button to changes notification dialog"
I am editing the pipeline than I accidentally click on a different menu item - I have a choice to save and discard, but there is no third choice "Stay on the page"

![screen shot 2013-11-21 at 3 47 19 pm](https://f.cloud.github.com/assets/3014917/1592461/0f613fca-52bc-11e3-8688-3dee85acc47c.png)

[2013-11-21 14:55] tomas-knap opened #802 "When reopening execution monitor detail, the event tab should be active"
If I open exec monitor detail, switch to logs tab, go to pipelines list, run in debug another pipeline, the exec monitor detail is open on the logs tab (but should be opened on the event tab)

[2013-11-21 14:56] tomas-knap commented on #227
Please test the data validator (the report ouput) on ted.ttl -
https://grips.semantic-web.at/download/attachments/45647302/ted2.ttl?version=1&modificationDate=1373889358000&api=v2

I have a pipeline with data containing errors - extractor can reveal such problems but data validator is not reporting anything.

RDF data validator should log all the problems revealed at the debug level

Also please m

[2013-11-21 15:01] #772 closed, assigned to bogo777

[2013-11-21 15:03] tomas-knap opened #803 "Problem when debugging from canvas"
Prepare the pipeline, clicked on debug on one DPU,

![screen shot 2013-11-21 at 4 02 03 pm](https://f.cloud.github.com/assets/3014917/1592571/f2fbe784-52bd-11e3-8119-15747ff66d6b.png)

2013-11-21 16:01:58,570 [http-bio-8080-exec-7] ERROR cz.cuni.mff.xrg.odcs.frontend.AppEntry - Uncaught exception
java.lang.NullPointerException: null
    at cz.cuni.mff.xrg.odcs.frontend.gui.views.PipelineEdit.openD

[2013-11-21 15:03] tomas-knap commented on #781
Maria, please test and close

[2013-11-21 15:04] #771 closed, assigned to tomesj

[2013-11-21 15:05] kukharm opened #804 "create scheduling rule exception"
I push Add new scheduling rule button and get exception

![ex](https://f.cloud.github.com/assets/3471169/1592605/833d605c-52be-11e3-968d-9f24732af74d.jpg)

[2013-11-21 15:07] tomas-knap opened #805 "Check that user is always warned when he can loose inserted data"
For example, in settings, if I change my email and click to scheduler menu item, I am not warned, my data is forgotten

[2013-11-21 15:08] tomas-knap commented on #805
Please prepare another testing report in concluence regarding the button save:
- if user is always warned when moving away without saving (for all dialogs)
- if user is warned only if he did some change
- if save button is correctly disabled if no changed data

[2013-11-21 15:08] kukharm commented on #780
Can not test in scheduler because of exception #804 In user's table it's ok

[2013-11-21 15:08] #739 closed, assigned to kukharm

[2013-11-21 15:11] tomas-knap commented on #738
Please align combo box and text box

![screen shot 2013-11-21 at 4 09 45 pm](https://f.cloud.github.com/assets/3014917/1592623/fcff25c4-52be-11e3-99f8-4e8a864cf09f.png)

[2013-11-21 15:11] tomas-knap commented on #738
Restriction on description UNLIMITED!

![screen shot 2013-11-21 at 4 11 18 pm](https://f.cloud.github.com/assets/3014917/1592639/32ec18b8-52bf-11e3-9def-c1e87c5ce051.png)

[2013-11-21 15:12] #732 closed, assigned to tomesj

[2013-11-21 15:12] kukharm commented on #780
I tested scheduler by creating records in Scheduler table from Pipelines table. It's also ok, dialog for edit opens one time.

[2013-11-21 15:12] #780 closed, assigned to kukharm

[2013-11-21 15:14] kukharm commented on #781
Now it's ok

[2013-11-21 15:14] #781 closed, assigned to kukharm

[2013-11-21 15:14] tomas-knap commented on #414
Second choice in RDF File extractor (details tab) may dissapear. Check the second check box, uncheck the first

![screen shot 2013-11-21 at 4 14 22 pm](https://f.cloud.github.com/assets/3014917/1592669/a8f26648-52bf-11e3-9f19-67bd083e5420.png)

It would be better to just diable the choice

[2013-11-21 15:19] kukharm commented on #801
I can not change confirmation window because it is Add on https://vaadin.com/directory#addon/confirmdialog
there is possibility only for two buttons.

[2013-11-21 15:21] tomas-knap commented on #414
If there is error in the log due to some validation issue and the extractor should not end with ERROR, there is no WARN event for the Extractor. There should be  one such event.

[2013-11-21 15:21] tomas-knap commented on #414
The problem with certain triples should NOT be logged as a short message of event but as a detail (appears in a details dialog when clicking on it), so that it does not spoil the event table

[2013-11-21 15:23] tomas-knap commented on #414
Check the problems above also for other DPUs

[2013-11-21 15:25] tomas-knap opened #806 "Test File/SPARQL extractor/loader and prepare report in confluence"
Test all the choices in the RDF FILE extractor/loader, SPARQL extractor/loader and provide report. If you do not know what certain choice mean, ask Jirka and add such information the the user documentation.

[2013-11-21 15:25] kukharm commented on #805
Now for dialogs (lilke scheduling rule creation, DPU creation, user creation) is not implemented confirmation window at all. Should i implement it?

[2013-11-21 15:26] #441 closed, assigned to tomesj

[2013-11-21 15:27] #514 closed, assigned to skodapetr

[2013-11-21 15:28] kukharm commented on #738
Jan, is there some limits on schedule description column in DB?

[2013-11-21 15:28] tomas-knap opened #807 "Remove ILQC from the rest of the components"
ILQC is still used in list of pipelines in Schedule pipeline dialog. I tried to replace it with ROC, but it is not possible, combobox requires some operations that are not implemented in ROC and I don't know if it is easy to implement them. I know about indexOfId(Object itemId) but there could be more.

Also RDFLQC is used in Browse/Query.

[2013-11-21 15:29] #730 closed, assigned to janvojt

[2013-11-21 15:30] tomas-knap commented on #707
This should not happen after solving #730 and can be closed?

[2013-11-21 15:31] #575 closed, assigned to skodapetr

[2013-11-21 15:35] tomas-knap commented on #542
Why there is second SPARQLLoader class in cz.cuni.mff.xrg.odcs.rdf.impl in RDF module? Everything could be in SPARQL loader DPU module, right? Nebo je tam nejakyproblem? Move the class to SPARQL Loader, move the tests there. For tests, you may be inspired by tests for SPARQL transformer

[2013-11-21 15:42] akreiserswc commented on #746
I wasn't able to solve the problem on my machine but it works on a new installation we did today for one of our research projects.
So I guess it is something exotic on my PC that causes it - I will hence close the issue.

[2013-11-21 15:42] #746 closed, assigned to tomesj

[2013-11-21 15:50] janvojt commented on #707
Yes, that is correct. :)

[2013-11-21 15:52] tomas-knap opened #808 "Pipeline is running and backend is switched off"
Currently, the execution record shows that the pipeline is running although the backend icon is red so frontend knows that backend is online

[2013-11-21 15:55] tomas-knap commented on #608
I tried it and got:

![screen shot 2013-11-21 at 4 54 33 pm](https://f.cloud.github.com/assets/3014917/1593007/43784ee4-52c5-11e3-9531-a710f26adb2e.png)

First, the spelling is wrong!
Second, there should be reason where the problem is - not just "it was not replaced", but also "WHY" it was not replaced

[2013-11-21 15:56] tomas-knap commented on #608
Second message with stacktrace - adjust formatting - no space second line

Execution failed because: Graph for DPU name optional1 was not replasedcz.cuni.mff.xrg.odcs.commons.dpu.DPUException: Graph for DPU name optional1 was not replased
    at cz.cuni.mff.xrg.odcs.transformer.SPARQL.PlaceholdersHelper.replaceAllPlaceHolders(PlaceholdersHelper.java:126)
    at cz.cuni.mff.xrg.odcs.transformer.SPA

[2013-11-21 15:57] tomas-knap commented on #608
I have the following configuration:

![screen shot 2013-11-21 at 4 57 18 pm](https://f.cloud.github.com/assets/3014917/1593026/a030b1e4-52c5-11e3-9d45-170e8b5c8343.png)

Why there was a problem and optional1 was not replaced?? The variable used is g_optional1 and input is optional1

[2013-11-21 16:00] tomas-knap commented on #608
Also the problem should have been thrown much more earlier - during validation of the SPARQL transformer query, if there is a variable, which does not match with certain input data unit, errror "variable cannot be resolved" should appear when saving and validating the configuration - we discuss that above: 2) when user saves SPARQL query, except of normal validation, you also check that all the pl

[2013-11-21 16:02] #659 closed, assigned to janvojt

[2013-11-21 16:08] tomas-knap commented on #804
Maria, this works for me on commit

commit 1d2ec72596acd491cd0cf96bc95fa65fab662cd3
Author: Jiri Tomes Tooomy@seznam.cz
Date:   Thu Nov 21 13:18:30 2013 +0100

Please try again

[2013-11-21 16:10] #707 closed, assigned to janvojt

[2013-11-21 16:16] kukharm commented on #804
I have last commit

commit 7b5d0662bfe66b4f8ad8cb17494c5edbcd0b64e4
Author: bogo777 bogo777@gmail.com 2013-11-21 14:36:52
Committer: bogo777 bogo777@gmail.com 2013-11-21 14:36:52
Parent: fe4093430f9e87f835bc773e69434f14ef199b61 (Describe funcionality in Browse/Query. Autowiring in SchedulePipeline dialog.)
Parent: 16edc9da5b20c0c5c92f74e61539c053d7783ccc (Add comment to getHandlerExtractType metho

[2013-11-21 16:38] skodapetr commented on #807
Please leave this to friday meeting .. to discussion.

[2013-11-22 07:59] tomas-knap commented on #803
Please check that, debugging is not possible from canvas now

[2013-11-22 08:03] tomas-knap commented on #548
This issue with exec monitor is solved, right?

[2013-11-22 08:08] #515 closed, assigned to skodapetr

[2013-11-22 08:09] #509 closed, assigned to skodapetr

[2013-11-22 08:13] tomas-knap commented on #787
Well we can add one more choice to scheduler dialog - "to run after all selected pipelines finished" and "to run after one of the selected pipelines finished"

[2013-11-22 08:15] tomas-knap commented on #733
Sample use is: java -jar backend.jar -config "/x/y" ?