[2013-09-11 08:50] jakubklimek commented on #446
It did not fail, it went OK.

[2013-09-11 09:15] bogo777 commented on #440
I made detail dialog wider and resizable.

[2013-09-11 09:19] jakubklimek commented on #415
An I found a functional problem too. I replaced the DPU, hit F5, clicked on the replaced DPU and got this:
![image](https://f.cloud.github.com/assets/718827/1121515/415d2e34-1ac3-11e3-8871-b997ea29de4e.png)

[2013-09-11 09:31] tomesj commented on #449
This problem is only in pipeline (SPARQL loaders) which were created before adding textbox with chunk size. This information is not in DB a those DPUs must be set again - if you open it, there is a validator for this. You can not safe it, if the value is number, or if this number is less or equals than 0.

If you create new pipeline or add new SPARQL loader - you have set default value 100.

I wil

[2013-09-11 10:22] jakubklimek opened #452 "Email fails to validate"
![image](https://f.cloud.github.com/assets/718827/1121885/0e1f3644-1acc-11e3-8e82-7c5b410b5a15.png)

[2013-09-11 10:23] #449 closed, assigned to tomesj

[2013-09-11 10:27] jakubklimek opened #453 "Create DPU template should be also in the DPU tree in Pipelines"
Create DPU template should be also in the DPU tree in Pipelines so that user can upload DPU when editing a pipeline when he discovers he forgot to upload something.

[2013-09-11 10:35] jakubklimek opened #454 "Czech characters lost when values are saved."
When using Č in description, it is lost.

[2013-09-11 10:38] jakubklimek opened #455 "Add more info to Pipelines and Execution Monitor"
Pipelines:
- Rename "scheduler" button to "schedule"
- Add last execution date and time
- Add next execution date and time or "not scheduled"
- Add last execution outcome
- Add Current status

Execution monitor
- Add "run" and "debug" buttons from Pipelines so that I can run or debug a pipeline I see in the monitor

[2013-09-11 10:47] jakubklimek opened #456 "When replacing DPU template (or editing it) Save button is always enabled."
When replacing DPU template (or editing it) Save button is always enabled.

It should be consistent everywhere and save buttons should be disabled when there are no changes.

Also, changes should be detected better, which means when the text somewhere is changed, not when user leaves the textbox. This happens for example with pipeline description.

[2013-09-11 10:48] jakubklimek opened #457 ""Debug" button should take me to Execution monitor with logs opened for the current pipeline"

[2013-09-11 10:50] jakubklimek commented on #280
This is getting annoying -> priority bump

[2013-09-11 11:05] jakubklimek opened #458 "Add "Last run time" column to pipelines, execution monitor and scheduler"
Measure how long pipelines run and display this in Pipelines, Execution Monitor and Scheduler.

[2013-09-11 11:08] #451 closed, assigned to tomesj

[2013-09-11 11:14] kukharm commented on #456
9455aa0  closed #452 сommit for this issue was made incorrectly

[2013-09-11 11:15] kukharm commented on #452
Closed by commit https://github.com/mff-uk/intlib/commit/9455aa0ebded5f2cfea565331d5274e642867943

[2013-09-11 11:36] jakubklimek opened #459 "Login screen should preserve previous requested address"
When login screen appears, it should redirect the user where he was originally headed.

For example, when I go to http://odcs.xrg.cz:8080/odcleanstore/#!PipelineList and login appears, I want to end up on the Pipelline List when I log in, not on homepage.

[2013-09-11 13:01] bogo777 commented on #454
I have no problem with showing Czech characters if I put them into labels directly from code, could the issue be with database? Reassigning Jan for more info.

[2013-09-11 14:03] jakubklimek opened #460 "Scheduler shoud have options for what to do if pipelines fails, ends with warnings or finishes ok"

[2013-09-11 14:29] jakubklimek opened #461 "Replace DPU seems to be not working"
I had a problem in PSP.CZ dpu - i forgot to make the annotated DataUnit public. So it failed. Then I fixed the problem, replaced DPU via frontend. In the filesystem on the server, DPU had current date, so it was probably replaced there as well. However, when I ran the pipeline containing the DPU, it failed again even though the same DPU worked for me locally. It seems that somehow the old replaced

[2013-09-11 14:32] tomas-knap commented on #280
I got this as well,

![screen shot 2013-09-11 at 4 30 58 pm](https://f.cloud.github.com/assets/3014917/1123419/ea3c15bc-1aee-11e3-8208-d266aeab0f0e.png)

[2013-09-11 14:32] tomas-knap commented on #280
Sorry, will test the latest commit and let you know

[2013-09-11 14:35] jakubklimek opened #462 "When an action from a button takes long and another button is pressed, it is ignored"
When an action from a button takes long and another button is pressed, it is ignored.

For example, I want to cancel two pipelines. I pres cancel, the "waiting" symbol appears and when I pres the second cancel before the waiting symbol disappears, the button press is ignored.

This is annoying.

Suggested solution:
1) When a button is clicked, display the waiting symbol on it instead of its label,

[2013-09-11 14:39] jakubklimek commented on #100
Also, keep in mind that we want to see 2 states of the pipeline.

1) when cancel is clicked and the variable is set, the pipeline is in "Cancelling" state (icon could be as in running, but red)
2) when the pipeline is actually stopped (and we need to detect this somehow), it should be in "Cancelled" state

[2013-09-11 14:43] bogo777 commented on #458
Ok,
for execution monitor it is clear. But for Pipelines, should the last successful execution runtime be shown? And last execution of given rule in Scheduler?

[2013-09-11 14:47] jakubklimek opened #463 "Streaming dataunits"
We are already dealing with threads, therefore the suggested enhancement should not be a big problem and could speed up pipelines significantly.

I would like to see a "streaming dataunit" for pipelines that consist of DPUs which do not need to see all the data at once and therefore can work in streaming fashion.

For example, when I download ARES or buyer profiles, I download it IC by IC, profile

[2013-09-11 15:10] jakubklimek commented on #458
This is related to https://github.com/mff-uk/intlib/issues/455 - there needs to be more info in those places. Some of it will be in multiple places so that the user has a good overview.

[2013-09-11 17:12] janvojt opened #464 "When page is refreshed, authentication is lost from session."
Issue #410 may be relevant.

[2013-09-11 17:13] janvojt commented on #415
This has nothing to do with DPU replace. It is a general problem as I found. I created a new issue #464 for that problem.

[2013-09-11 17:13] #415 closed, assigned to janvojt

[2013-09-11 18:06] tomesj commented on #401
More detailed information was added in confluence page - https://grips.semantic-web.at/display/LOD2/Experiments+-+Playground

[2013-09-11 18:07] skodapetr commented on #100
Added canceled() method to context and documented in documentation.
1) As to state "Cancelling" we are now using separate value 'stop' so I rather suggest to add new state only virtually in frontned: "Cancelling" == ("Running" + stop == true)?
2) There is already state "Cancelled" that is used by backend for pipelines that are aborted on user request.

So I suggest re-assign Bohuslav/Maria to deal

[2013-09-11 18:13] skodapetr commented on #461
Unfortunately yes this is an issue. I discuss the solution with Thomas. Just to give the idea:
DPUs are loaded on demand in frontend as well as in backend, but once loaded they do not react on actions in DPU's directory. Reload DPU with every execution is not probably the right way how to deal with this .. so we have to find reliable way how frontned give backned know that he should reload the bun

[2013-09-12 08:07] tomas-knap commented on #408
Probably the best would be to create a custom log reporting dialog, which may hide stack trace by default. So I will close this issue?

[2013-09-12 08:14] tomas-knap commented on #100
Maria, please discuss with Petr 1 and prepare that for him. Deadline tomorrow.

[2013-09-12 08:23] tomas-knap opened #465 "Experiments on the Conflunce + create new Virtuoso SPARQL loader"
Put SPARQL loader experiments to a separated page

Specify the configuration of the machine you were testing on

Can you please add new section, where you test processing of these 7 milions of triples using different chunk sizes, e.g. 100, 1000, and 10000?

Why the disadvantage of the second approach for temp graph is that it has to be Virtuoso? I though that insert into ... where ... nebo load to

[2013-09-12 08:27] tomas-knap commented on #446
I will postpone this, if it happens again, increase prio

[2013-09-12 09:08] tomas-knap commented on #458
Yes, every row in pipeline list should contain extra last column "Last successful run time", which contains how long the pipeline run during the last sucesfull run. in hh:mm:ss format. In case of schedulled event, it shows the last successful run time (hh:mm:ss) of that scheduled event. The same for execution monitor, but in that case it shows for every record.

[2013-09-12 09:10] tomas-knap opened #466 "Authentication error when sorting the columns in tables"
When clicking on the column of table with pipelines, an error occurs:

![screen shot 2013-09-12 at 10 58 47 am](https://f.cloud.github.com/assets/3014917/1129437/1cf329b8-1b8b-11e3-8467-2725a51a8d20.png)

[2013-09-12 09:13] tomas-knap commented on #454
It does not work for me as well.

[2013-09-12 09:15] tomas-knap opened #467 "Save button disabled when description changed, dpus moved"
If I open pipeline, organize the dpus a bit, I cannot save it. Similarly, if I just change the description.

Also if I create new pipeline with empty canvas, it cannot be saved.

[2013-09-12 09:16] tomas-knap commented on #418
Bohuslav, you may add one simple flag variable, which is set to true, e.g., when the dialog is loaded?

[2013-09-12 09:54] #405 closed, assigned to janvojt

[2013-09-12 09:58] bogo777 commented on #418
Well the initializing code is executed on server, there is no problem, it is about displaying on client. I found Refresher add-on, it makes refresh request from client side, it might help in this case.

[2013-09-12 10:20] jakubklimek commented on #457
OK, it works, but it is sloooooooow. But we have another issue on that.

[2013-09-12 10:20] #457 closed, assigned to bogo777

[2013-09-12 10:31] jakubklimek opened #468 "Backend exceptions"
When I recompiled backend, all my DPUs disappeared as always and I forgot about it. I ran the pipeline and it failed because it could not find the file. That is OK. I then supplied the JAR file and ran the pipeline again (without restarting). I got these exceptions (I know I have to restart, but this points to another unhandled exception point):

<pre><code>12:29:26 [pool-2-thread-4] DEBUG c.c.x.i

[2013-09-12 10:43] jakubklimek commented on #468
Actually, it did this even after backend restart.... I will investigate some more

[2013-09-12 10:45] tomas-knap commented on #418
Yes, refresh from the client side is more natural

[2013-09-12 10:52] jakubklimek commented on #468
Yes, it is broken :)

[2013-09-12 10:53] janvojt commented on #454
Please update configuration when testing.

[2013-09-12 12:52] bogo777 commented on #467
When creating new pipeline, detection of changes was broken. Added detection of DPU move on canvas for both saving/undo. After changing any text field, only after it looses focus is change detected.

[2013-09-12 13:00] tomas-knap opened #469 "try default value for properties before throwing exception"
If certain config.properties property is missing, try default value before throwing exception. Motiovation: I was unable to start war file and backend because virtuoso.charset was missing. That could have been automatically added.

When deducing some default value, warning should appear in the backend/frontend log, that the value was not found and the default is used.

[2013-09-12 13:03] #280 closed, assigned to bogo777

[2013-09-12 13:28] jakubklimek commented on #461
Actually, the problem was that I replaced dpu v1 with v2. v2 was copied to backend, but v1 wasn't deleted. In frontend, it showed that the dpu is v2, however, in fact, backend was still running v1. When we deleted the v1 file it failed with file not found exception

[2013-09-12 13:37] tomas-knap opened #470 "Confirmation dialog when deleting pipeline"
Confirmation dialog should show the name of the pipeline which is being deleted in the confirmation dialog:

![screen shot 2013-09-12 at 3 27 53 pm](https://f.cloud.github.com/assets/3014917/1130889/82b5077e-1bb0-11e3-8266-c902c072d7b2.png)

[2013-09-12 13:41] tomesj commented on #465
Added to page: https://grips.semantic-web.at/display/LOD2/Loading+data+to+SPARQL+endpoint

[2013-09-12 13:50] jakubklimek opened #471 "No error message when there should be one"
When you delete a DPU file which is the first DPU in a pipeline, if always wrote "FileNotFound" exception. Now it just says "Execution failed" and no further error message which is confusing.

[2013-09-12 13:55] jakubklimek opened #472 "Frontend log in "run" mode should display INFO+, not WARN+"

[2013-09-12 14:19] jakubklimek opened #473 "Do not use lowerCase() on URLs! They are case-sensitive!!! (RDF Loader)"

[2013-09-12 14:22] jakubklimek commented on #473
But I see you use it for check only, but still...

[2013-09-12 14:22] #473 closed, assigned to tomesj

[2013-09-12 14:31] jakubklimek opened #474 "Multiple problems with authentication in BaseRDFRepo"
There are multiple serious problems with BaseRDFRepo.

1) On line 676 you use hardcoded default virtuoso username and password "dba" "dba" regardless of the actual username and password. SERIOUSLY???!!! You don't even pass the configured username and password to this method!

2) Please check all communication with target endpoint, are you using correct SPARQL endpoint from configuration and not th

[2013-09-12 14:46] #454 closed, assigned to janvojt

[2013-09-12 14:47] #440 closed, assigned to bogo777

[2013-09-12 14:49] #438 closed, assigned to bogo777

[2013-09-12 14:49] #412 closed, assigned to skodapetr

[2013-09-12 14:50] #340 closed, assigned to bogo777

[2013-09-12 14:51] #410 closed, assigned to janvojt

[2013-09-12 14:53] jakubklimek commented on #467
Well, this is a problem. Because when I only change one field e.g., description, I often don't loose focus and want to save and I can't. This has to be done on text change, not lost focus.

[2013-09-12 14:53] #464 closed, assigned to janvojt

[2013-09-12 14:53] #448 closed, assigned to bogo777

[2013-09-12 14:58] jakubklimek commented on #452
Still not valid

![image](https://f.cloud.github.com/assets/718827/1131530/b053d858-1bbb-11e3-9612-0082382c8037.png)

In addition, password should be hidden

[2013-09-12 14:59] jakubklimek commented on #401
Please do not close issues until they are tested by the person who reported them.

[2013-09-12 15:01] #472 closed, assigned to bogo777

[2013-09-12 15:14] kukharm commented on #452
We discussed this with Tomas.  It is work according to the scenario:  when user enters the password it is visible, then when the user open this form for editing, the password is hidden. it was discussed in #222

"When admin click on the button "change details" of user, all the fields will be prefilled, the password field will be filled with couple of stars (typical behaviour for password protected

[2013-09-12 15:15] tomas-knap commented on #414
Jirko, please try validation features of apache jena:
http://jena.apache.org/download/

So you may create a separated project (could be just normal java app), where you test the validation features in the same way as for openRDF. I know that when using fuseki - SPARQL endpoint, there is very nice build-in validation for which JENA is probably responsible.

Write your findings to the experiments se

[2013-09-12 15:19] tomas-knap commented on #465
Jirka, machine configuration?

4] Chunk size = 10 000
"SQL text doesnt exceed 10000 lines of code." -> Who is throwing such exception and when?

[2013-09-12 15:20] tomas-knap commented on #465
Jirka, i do not understand:

1] ADD<temp_graph> TO <target_graph>
2] INSERT INTO {TARGET_GRAPH {?s ?p ?o}} where  {?s ?p ?o}

WHy we cannot call such queries over HTTP?? DId you try that?

[2013-09-12 15:30] kukharm commented on #452
Please test email one more time, as i saw my previous changes of  regular expression was missing...i commit it one more time.

[2013-09-12 15:38] tomesj commented on #465
4] Chunk size = 10 000
It return Virtuoso as exception - when I POST query containts 10 000 triples at once.

I can not call queries over HTTP, because Virtuoso is not able to do it for big data and after while returns error code.

[2013-09-12 15:46] tomesj commented on #474
When I last tested, I added some logs and auxiliary methods calls to resolve problems. I forgot remove this one calling. Is my mistake.  Thanks for the warning.

[2013-09-12 15:49] tomesj commented on #474
Removed by commit 4166d1f7072359a9ca4c3d8108487105da13e711

[2013-09-12 15:57] #470 closed, assigned to kukharm

[2013-09-12 16:00] tomesj commented on #465
I added machine configuration.

[2013-09-12 19:17] tomas-knap commented on #465
Jirka, can you please send me your virtuoso.ini file?

[2013-09-12 19:46] tomesj commented on #465
File was sent by email :-)

[2013-09-12 23:32] tomesj commented on #414
I downloaded Jena and used in to file TED2.ttl via http://jena.apache.org/documentation/inference/#validation

But I get no errors - result was OK.

Here is my code :

<pre><code>
InputStream in=new FileInputStream(new File("C:\\intlib\\ted2.ttl"));

        Model data = ModelFactory.createDefaultModel();
        data.read(in, "", "TURTLE");

        Reasoner resoner= ReasonerRegistry.getOWLReason

[2013-09-13 07:50] tomas-knap commented on #414
Jirko, probably you are using wrong model - the default one:

Model data = ModelFactory.createDefaultModel();

Default model probably does not support reasoning, so no validation error is reported. Try as in the example:

<pre><code>Model data = FileManager.get().loadModel(fname);
    InfModel infmodel = ModelFactory.createRDFSModel(data);
    ValidityReport validity = infmodel.validate();
    if

[2013-09-13 08:39] jakubklimek commented on #373
<pre><code> - Can't start TCP/IP server
10:36:17 [main] DEBUG c.c.x.i.backend.AppEntry -
cz.cuni.xrg.intlib.commons.app.communication.CommunicationException: java.net.BindException: Address already in use: JVM_Bind
    at cz.cuni.xrg.intlib.backend.communication.Server.init(Server.java:96) ~[classes/:na]
    at cz.cuni.xrg.intlib.backend.AppEntry.initNetworkServer(AppEntry.java:129) [classes/:na]

[2013-09-13 08:46] jakubklimek commented on #458
This is Tomášes fault :) but it should be "last runtime" regardless of how the pipeline ended.

[2013-09-13 08:47] #467 closed, assigned to bogo777

[2013-09-13 08:49] jakubklimek opened #475 "Manage users function should only be visible/accessible to users from the Admin group"

[2013-09-13 08:51] #468 closed, assigned to skodapetr

[2013-09-13 08:54] jakubklimek opened #476 "User column not filled in execution monitor even though we already have users"

[2013-09-13 08:56] tomas-knap commented on #452
Maria, please hide the password any time. But please provide the field for one more input of the password. When storing, you check that both password fields are the same. If not, error is shown to the user.

[2013-09-13 09:01] jakubklimek opened #477 "Sometimes when I click Show log in Exec. Monitor nothing happens"
Sometimes when I click Show log in Exec. Monitor, the "waiting symbol" appears, then disappears and nothing happens.

Then I click it again, the waiting symbol appears, does not disappear, and the log is still not shown.

[2013-09-13 09:02] bogo777 opened #478 "Polling for refresh causes tables in refreshing to ignore users request."
With the new way of refreshing, this issue occured. When in Execution monitor, and refresh is underway -> the wheel of Vaadin in the top right corner is turning, when user tries to select execution in table, it is ignored and table is only refreshed instead.

This is unpleasant and unnecessary, especially in cases, when no execution is running. I would propose refreshing execution monitor only whe

[2013-09-13 09:04] bogo777 commented on #418
Changed to refresh from client, but in result this issue occured #478

[2013-09-13 09:07] jakubklimek opened #479 "High network activity when frontend runs in Tomcat"
My setup is that I have frontend and backend on one machine and the database on another.

I noticed that when I deploy frontend on Tomcat and start playing with it (most noticably when I first click on Execution monitor), suddenly my network activity is enormous even though I do nothing. I suspect wrong refresh behavior but I cant be sure.

The network activity is 3 Mbit/s upload (tomcat -> databa

[2013-09-13 09:09] jakubklimek commented on #479
Maybe related to https://github.com/mff-uk/intlib/issues/477 as I discovered when I tried to restart Tomcat that it actually crashed and I had to kill it. Which means that frontend does not handle well database connection errors.

[2013-09-13 09:11] bogo777 commented on #479
Is this new? I made changes in refresh today, only pushed them a while ago and I need to know, if this is from current version of frontend?

[2013-09-13 09:11] tomas-knap commented on #479
Bohuslav, please check that. But it could be also causedby constantly renewing hibernate session? Although in this case I would not expect 3Mbit/s

[2013-09-13 09:14] jakubklimek commented on #479
I noticed high network activity before, but I don't remember how much. My current version is dfa891a35369fc4d17711d7072408a1f71c60d54, which is before the refresh changes today.

[2013-09-13 09:15] jakubklimek commented on #479
You can use my remote database for testing: internal.opendata.cz:1112 dba/dba

[2013-09-13 09:16] bogo777 commented on #479
If it is from last version, it may be related to #478. Currently execution monitor is refreshed every 5 seconds regardless wheter there are some execution running or not. But this behavior was in the past refresh version too.

[2013-09-13 09:17] bogo777 commented on #458
Does it concern only label of column or the way execution for this data is selected too(should run times from failed execution be used)?

[2013-09-13 09:23] jakubklimek commented on #479
It seems to me as if you did not shutdown the refreshing  when user navigates to another page, causing more and more refreshing requests, but I am not sure. It is not caused by todays commits, because I did not update yet.

[2013-09-13 09:25] jakubklimek commented on #479
Actually, now I only need to start Tomcat, login, click on Execution monitor and the first show log button and Tomcat freezes (but still generates network activity).

[2013-09-13 09:44] jakubklimek commented on #479
OK, now I tested the new version and it repeatedly shows the waiting symbol and also downloads all the time.

And because when the waiting symbol is displayed, none of the buttons work, Show log doesn't work.

How many items do you have in your Execution monitor?

I suggest you use my remote testing database, generate 5000 entries to the table storing the execution monitor results (just copy one o

[2013-09-13 09:50] tomesj commented on #414
I tried this code yesterday, today once again for sure, but the result is still OK. I dont know why ?

[2013-09-13 10:35] tomas-knap commented on #474
Jirko, is this issue prepared for testing? If yes, put the test that label there.

[2013-09-13 11:32] jakubklimek opened #480 "Double exception when replacing DPUs"
In the version of ODCS currently deployed on the server, I get two exceptions at once when replacing my DPU with a newer version

![image](https://f.cloud.github.com/assets/718827/1137843/15525f02-1c68-11e3-8100-f35a7e319406.png)

[2013-09-13 11:43] #471 closed, assigned to skodapetr

[2013-09-13 11:44] jakubklimek commented on #461
Currently in the deployed version I also get this: https://github.com/mff-uk/intlib/issues/480

[2013-09-13 11:57] jakubklimek commented on #461
I tried to test it but I probably ran into another issue:

1) Locally (newest version with folder watcher) tested:
When I ran ODCS without the DPU JAR in place, it wrote nothing.
When I put it there (not via frontend), backend logged a change, but pipeline still failed:

<pre><code>Loading of DPURecord implementation thrown following exception: cz.cuni.xrg.intlib.commons.app.module.ClassLoadFailed

[2013-09-13 12:05] skodapetr commented on #461
1.1) in case of missing DPU jar file only pipeline-event (message), this information is not again logged ... but I can add at least debug information for that ..
1.2) yes this is caused by missing package, I do not know about any change in package list since last issue about this
2.1) can be a problem .. I take a look on this

[2013-09-13 12:07] jakubklimek opened #481 "MenuItems are <span> elements, not <a>, which is wrong."
Browser then does not see them as links and does not offer link-related functionality.

In addition, it is wrong from usability view and HTML semantics view. Make them links (<code>&lt;a&gt;</code>)

[2013-09-13 12:14] skodapetr commented on #373
And what is the expected behaviour? As I understand it it should enable running two instances with different config.file and prevent when running two instances of the same config file?

[2013-09-13 12:17] jakubklimek commented on #373
Well, it should interpret the stack trace somehow. This looks like a crash. It is the same situation as before. Before, it crashed because the port was open. The solution was to say that the port is open and don't show the trace. That was fixed, but now it is back again.

[2013-09-13 12:20] skodapetr commented on #272
We can let user declare log file in property file. Related to #373 we probably allow only one instance per configuration file, so there should be no collisions. If user specify same log file for two instances then they will both use the same file and the logs merge .. so the log will probably make no sense at the end.

[2013-09-13 12:23] skodapetr commented on #373
Yes, we discuss this with Thomas and he decide that the error will be logged as error and the stack trace as debug .. so for release we disable the debug for sdt::out and there will be no stack trace for this. But I can do an exception in this case and remove the stack trace completely.

[2013-09-13 12:26] jakubklimek commented on #373
In this case there was ONLY the stack trace, no explanation.

[2013-09-13 13:49] janvojt commented on #478
I do not think this is necessary. How would you even implelent it, send an event everytime somthing is logged? That would be extremely performance intensive.

Please correct me if I am wrong, but isn't the whole problem caused by the fact, that we are not using lazy container for loading log messages? From a brief look at the code, it seems like we are loading ALL logs for given execution. Instead

[2013-09-13 14:17] skodapetr commented on #373
Backend now should prevent running two instances on the same port ..  I hope this could resolve the problem in more "professional" way then updating the log messages.

[2013-09-13 14:27] skodapetr commented on #480
The problem is in the way in which frontned's "replace" code works. The source of this exception is when the new file has new name. Then the file with the new name is loaded .. the path is updated .. and then the file is probably deleted. It is not my code .. so I have to do some research first and then I can try to fix this.

[2013-09-13 14:33] skodapetr commented on #461
As to the 2.1 we need to resolve #480 first, then we can discuss optimal way in which detect DPU changes

1.2) Have you change the package list of that DPU?
The steps to reproduce are:
1) delete DPU
2) run execution, that will fail for missing DPU
3) copy DPU back
4) run the pipeline again

[2013-09-13 15:18] tomas-knap commented on #478
Bohuslav, I thought we are using lazy container for logs?

[2013-09-13 15:19] tomas-knap commented on #478
Regarding emitting events everytime when certain events occur, that could be done for events, but for every single log message, this is too heavyweight. Bohuslav, will the lazy container solve the issue?

[2013-09-13 15:46] tomas-knap commented on #478
Kdyz se refreshuje monitor, tak co vse se aktualne stahuje z db?

[2013-09-13 16:32] tomas-knap opened #482 "DPU template - exception in getConfiguration method not thrown?"
I prepare DPU, loaded to frontend, edited DPU template and saved. Everything went ok, although there was "throw new COnfigException() in getConfiguration method on the DPU dialog.

What is happening with the thrown ConfigException()

[2013-09-13 16:34] tomas-knap opened #483 "DPU Detail Dialog - different behaviour for DPU templates and instances"
When editing DPU detail as DPU template the following error occured:

![screen shot 2013-09-13 at 6 26 56 pm](https://f.cloud.github.com/assets/3014917/1139790/48c0c5fc-1c92-11e3-8c31-6c3464582033.png)

WHen editing the same DPU detail from canvas, the following occured:

![screen shot 2013-09-13 at 6 27 11 pm](https://f.cloud.github.com/assets/3014917/1139795/568ba774-1c92-11e3-833d-41f922c96937.

[2013-09-13 16:43] tomas-knap opened #484 "When browsing logs, certain page cannot be accessed, filter INFO not working"
The log table shows 3 pages, but the second cannot be access and the following error occurs:

![screen shot 2013-09-13 at 6 41 45 pm](https://f.cloud.github.com/assets/3014917/1139824/82414d1e-1c93-11e3-8280-1f1e820a7871.png)

[2013-09-13 16:54] tomas-knap commented on #484
Further, filter info is not working

[2013-09-13 21:02] bogo777 commented on #478
We are using IntlibLazyQueryContainer, which uses lazy-loading for both logs and execution monitor table. When we weren't using this, loading logs table with plenty(50-100 not thousands as Jakub has in buyer-profiles) pages took minutes.

When refreshing monitor, current page of records should be downloaded every time. There is also query for total count of records, to determine total number of pa

[2013-09-13 21:06] bogo777 commented on #478
This is suggested solution from Jakub:
I suggest you use my remote testing database, generate 5000 entries to the table storing the execution monitor results (just copy one of the records) and then implement it so that it is fast. You don't need to refresh by downloading everything all the time. Just check with a single simple query whether there is a record newer than the last one you are display

[2013-09-14 07:25] tomas-knap commented on #478
Bohuslav, so you suggest:
1. add column lastUpdated to the execution records.
2. Every 5s check which execution records were updated based on the locally cached last update timestamp (the same for all execution records).  Then only the updated records (those with lastUpdated > timestamp cached in frontend) are fetched from db, and put to the table, lastUpdated column is updated for these records.

[2013-09-14 07:36] janvojt commented on #478
1. We already have column `timestamp` in the table `LOGGING_EVENT`. We could use this.

[2013-09-14 07:39] janvojt commented on #478
BTW looking at the database schema, I realized we do not have any indexes on tables. I need to add them, this might also be a part of the problem.

[2013-09-14 07:59] tomas-knap commented on #478
regarding the column `timestamp`, I would suggest to have a separated column for the records in the execution monitor. Because the the particular events are not used when deciding whether the execution monitor should be refreshed, the refreshing of the records in exec monitor are based on the change in status - schedulled, running, finished,..

[2013-09-14 08:33] bogo777 commented on #478
This occured to me:
 Vidim tam pak ale jeste ten problem s tim dotazem, tedy ze by to melo volat jedno pro vsechny nebo Nkrat pro jeden record.

Isn't this how hibernate works in getResultList()? This method is called in IntlibQuery, but records are fetched one by one. And in schedules, where different container and facade method for getting schedules is called, records are also fetched one by one

[2013-09-14 09:52] janvojt commented on #444
Instead of moving classes to commons-app, I just added authentication logic into frontend. Moving would be pointless, because filters in Vaadin's lazy container need `CriteriaBuilder` for converting filters into predicates. Therefore, we would still not be able to move the whole procedure of building query into commons-app.

[2013-09-14 09:52] #444 closed, assigned to janvojt

[2013-09-14 10:04] bogo777 commented on #478
Ok, I implemented first version of agreed solution, and it works for me, please test it.

[2013-09-14 10:07] bogo777 commented on #480
I glanced at the code and it would also need some research for me, reassigning Maria as she is author of original code.

[2013-09-14 11:23] janvojt commented on #478
Definitely not. Hibernate should execute only a single query. Well actually 2 queries should be executed by vaadin container - 1 for getting the count of all records matching filter, and 1 for fetching the records for currently viewed page.

[2013-09-14 11:47] janvojt opened #485 "Disable sorting by "Short message" in Execution Monitor's log."
Short message data type is too big for Virtuoso to use it in ORDER BY clause. Also, it is pretty much pointless to do so. Please disable sorting by this column in table.
![screenshot from 2013-09-14 13 45 10](https://f.cloud.github.com/assets/2247062/1143331/5dbcb8f2-1d33-11e3-8e1e-b3c69f05dabb.png)

[2013-09-14 17:22] janvojt commented on #484
I cannot reproduce this. Could you please specify exact steps how to achieve such situation starting with empty database?

[2013-09-14 17:40] skodapetr commented on #480
I reassign to me. Actually I have already found bug in replace code and a several "features" that can cause trouble in the future. As I discuss with Thomas replace is not top priority task. I fix the bug and "features" and take care about the whole replace thing myself.

[2013-09-15 07:45] bogo777 commented on #477
This was related to refreshing and has been improved by improving refreshing. But it can still occur, when object on which the actions is called is currently being refreshed.

[2013-09-15 10:03] jakubklimek opened #486 "SPARQL Loader fails when target Virtuoso fails - it should retry"
SPARQL Loader fails when target Virtuoso fails - it should retry - the same as the rest of ODCS

<pre><code>12:01:32 [Thread-9] DEBUG c.c.x.i.r.i.VirtuosoRDFRepo - Data 812/1269 part loaded successful
12:01:33 [Thread-9] DEBUG c.c.x.i.r.i.VirtuosoRDFRepo - Data 813/1269 part loaded successful
12:01:33 [Thread-9] DEBUG c.c.x.i.r.i.VirtuosoRDFRepo - Data 814/1269 part loaded successful
12:01:34 [Thr

[2013-09-15 10:07] jakubklimek commented on #474
SPARQL loader now seems to work as expected, will reopen if necessary.

[2013-09-15 10:07] #474 closed, assigned to tomesj

[2013-09-15 10:09] jakubklimek commented on #458
I concerns the way you get the data. This data item goes with the execution state, therefore, if the pipeline fails, the time will be of the failed execution. Simply put, it is the last run time, regardless of the result, as I said before.

[2013-09-15 10:18] jakubklimek commented on #373
Now it ends with <code>Fail to set application lock</code>. That still does not explain what happened and what can be done about it.

[2013-09-15 10:19] jakubklimek commented on #418
Works when DB is clean, will retest when DB is more populated.

[2013-09-15 10:22] jakubklimek commented on #452
Still not good.
First, the password confirmation is not visible at all:
![image](https://f.cloud.github.com/assets/718827/1145091/a2da0f9e-1df0-11e3-87ec-4a20704ba065.png)
and when I start typing the password, it shows up
![image](https://f.cloud.github.com/assets/718827/1145093/b9094d66-1df0-11e3-87cb-3d1626282e9f.png)
but it is skipped when I press "tab"

[2013-09-15 11:07] tomas-knap commented on #478
Od Bohuslava: V refreshi jsem udělal to, na čem jsme se domluvili.
Přidal jsem trigger na update v tabulce exec_pipeline, který nastaví lastChange u záznamu. V execution monitoru si pamatuju čas posledního refreshe a každých 5 vteřin ho porovnám s MAX(lastChange) v db. Refresh provedu jen pokud je tam novější záznam. V tom případě updatnu i čas posledního refreshe.

[2013-09-15 11:08] tomas-knap opened #487 "Optimize Hibernate queries"
Nevim jestli na Honzu, ale zatim pracovne.

Honza:
 Pre zaujimavost posielam v prilohe, ake dotazy sa volaju pri jednom requeste, ked sa oznaci pipeline execution a nacitavaju sa logy. Su tam naozaj brutalne joiny cez takmer celu databazu, a akoby nestacilo, nacitavaju sa niekolkokrat aj rovnake objekty. Celkovo je tam 128 komplexnych dotazov, a zalogovalo mit to cca 2MB. To je dost brutalne.
Na n

[2013-09-15 11:15] tomas-knap commented on #452
Maria, when I write two diff paswords, it shows:

![screen shot 2013-09-15 at 1 13 59 pm](https://f.cloud.github.com/assets/3014917/1145177/0bc792b8-1df8-11e3-9e39-183a1d85bf77.png)

Should describe why the error occured, thus: "The typed pasword is different than the retyped password"

[2013-09-15 11:45] kukharm commented on #452
Test, please

[2013-09-15 12:30] jakubklimek opened #488 "Cannot display all logs"
In the currently deployed version on odcs.xrg.cz when I selected that I want to see ALL logs:

![image](https://f.cloud.github.com/assets/718827/1145262/998a2f84-1e02-11e3-977d-eac003c7db19.png)

[2013-09-15 12:36] jakubklimek commented on #484
Probably related: https://github.com/mff-uk/intlib/issues/488

[2013-09-15 12:37] jakubklimek commented on #418
However, show log still does not respond 2 times out of 3

[2013-09-15 12:52] tomas-knap commented on #418
Kubo, can you please paste the error shown in apache tomcat?

[2013-09-15 12:56] jakubklimek commented on #418
There is no error regarding this issue in the log.

There is

<pre><code>IX 15, 2013 2:47:36 ODP. org.atmosphere.cpr.DefaultBroadcaster perRequestFilter
WARNING: Request is not longer valid f9b5ecca-d241-46b0-a8db-5d879d9a8b40</code></pre>

but I think that is related to https://github.com/mff-uk/intlib/issues/488 or something else.

[2013-09-15 21:58] janvojt opened #489 "Upgrade of Virtuoso JDBC driver in RDF module to version 4 causes pipeline runs to fail."
RDF module is written against Virtuoso JDBC version 3 and is not compatible with version 4. Module commons-app uses version 4, and frontend includes both modules, which can cause unexpected behaviour. The resolution I see is to upgrade JDBC in RDF and make it compatible with newer version 4.

Also, failed run does not have any errors logged, which is weird.
![screenshot from 2013-09-15 23 54 14](h

[2013-09-15 22:00] janvojt commented on #489
Just a small remark - the newest pipeline run succeeded because I switched JDBC back to version 3 to verify the cause of the problem.

[2013-09-16 01:13] tomesj commented on #489
When I tried use virtuoso JDBC version 4 in RDF, I got :

Exception in thread "main" java.lang.NoClassDefFoundError: virtuoso/jdbc3/VirtuosoConnectionPoolDataSource
    at virtuoso.sesame2.driver.VirtuosoRepository.<init>(VirtuosoRepository.java:56)
    at virtuoso.sesame2.driver.VirtuosoRepository.<init>(VirtuosoRepository.java:159)
    at cz.cuni.xrg.intlib.rdf.impl.VirtuosoRDFRepo.<init>(Virtuo

[2013-09-16 06:49] jakubklimek commented on #272
Backend now crashed with the following exception:
<pre><code>08:04:51 [Thread-5] WARN  o.h.e.j.s.SqlExceptionHelper - SQL Error: -3, SQLState: 42000
08:04:51 [Thread-5] ERROR o.h.e.j.s.SqlExceptionHelper - Virtuoso Communications Link Failure (timeout) : Software caused connection abort: recv failed
Exception in thread "Thread-5" javax.persistence.PersistenceException: org.hibernate.exception.SQLG

[2013-09-16 06:54] skodapetr commented on #272
Related to DB connection - hibernate. Reassign to Honza.

[2013-09-16 07:01] tomas-knap commented on #272
Kubo can you please describe steps to reproduce?

[2013-09-16 07:03] jakubklimek commented on #272
Not really, but was caused by sleep/resume & related network disconnect

[2013-09-16 07:24] jakubklimek commented on #272
No, it is on my local version from yesterday. How could I sleep/resume odcs.xrg.cz? :)

[2013-09-16 07:27] tomas-knap commented on #272
:D

[2013-09-16 07:29] tomas-knap commented on #272
I would suggest to postpone this issue for 0.4.2?

[2013-09-16 07:30] jakubklimek commented on #272
OK

[2013-09-16 07:37] jakubklimek opened #490 "Add "Expected runtime" to Pipeline description"

[2013-09-16 07:39] jakubklimek opened #491 "Add "Conflicts" to Pipeline Description"
Add "Conflicts" to Pipeline Description

Conflicts are other pipelines.

If a conflicting pipeline runs, the current pipeline cannot start.
Don't forget to deal with the scheduling implications

[2013-09-16 07:42] jakubklimek opened #492 "Add DPUDataUnit "Description""
Add DPUDataUnit "Description"

Now we have DPU input/output naming, but we also need Description where some details about the data provided (consumed) are written.

[2013-09-16 07:44] jakubklimek opened #493 "Display inputs and outputs and their descriptions in DPU Template (Instance) detail"
When https://github.com/mff-uk/intlib/issues/492 is done, display in DPU dialog its outputs and inputs and their descriptions (separate tab?)

[2013-09-16 07:44] skodapetr commented on #492
And who should provide this description, the programmer directly in code (annotation)?
Should it be customizable by an user?

[2013-09-16 07:48] jakubklimek opened #494 "Error when using DPU template created in Pipeline"
I put SPARQL Loader DPU Template on canvas, then, in the dialog, filled some values and clicked "Save as DPU Template", first with unchanged name. Then I renamed it and clicked again. Then, when saving the pipeline, I got the following error:

![image](https://f.cloud.github.com/assets/718827/1147414/2eadb8d2-1ea4-11e3-83d6-c9d69fdc5fbf.png)

[2013-09-16 07:49] jakubklimek opened #495 "When saving new DPU template from canvas, it is not visible in DPU Tree"
I put SPARQL Loader DPU Template on canvas, then, in the dialog, filled some values and clicked "Save as DPU Template". In this moment, I would expect to see my new DPU Template in the DPU Template Tree.

[2013-09-16 07:50] jakubklimek commented on #494
When I clicked on Save again, i got: (I found out this is probably not related to the new DPU Template)
![image](https://f.cloud.github.com/assets/718827/1147423/af778d3a-1ea4-11e3-8922-c7ddfe0a9b72.png)

[2013-09-16 07:51] jakubklimek commented on #494
When I removed the suspected DPU, I got:
![image](https://f.cloud.github.com/assets/718827/1147434/db10e77a-1ea4-11e3-9e9b-ac46b321770d.png)

[2013-09-16 07:57] tomas-knap commented on #272
Postponed for iter 0.4.2

[2013-09-16 07:58] jakubklimek commented on #492
This needs to be done by the DPU Developer in the code the same way as the DPU input/output name.

[2013-09-16 08:02] jakubklimek opened #496 "Error when creating a pipeline"
Now I just created a pipeline from normal DPUs, connected them with an edge, played around with alignment (got stuck - could not get rid of the alignment buttons btw) and then I clicked Save and close and I got:

![image](https://f.cloud.github.com/assets/718827/1147465/23637a82-1ea6-11e3-9a10-d4346fe5cb31.png)

[2013-09-16 08:07] jakubklimek opened #497 "Error when copying pipeline - limit in pipeline name"
Seems that someone limited pipeline name to 45 and the "Copy of" text of the new (copied) pipeline exceeds that?

1) The limit shoud be much higher (2048)?
2) This should be checked better.

![image](https://f.cloud.github.com/assets/718827/1147486/d45aef0a-1ea6-11e3-9db7-d2003adaca41.png)

[2013-09-16 08:18] jakubklimek opened #498 "When I schedule something from the Pipelines list, I do not see any feedback"
When I schedule something from the Pipelines list, I do not see any feedback. I would expect to see "Scheduled message".

Also related to https://github.com/mff-uk/intlib/issues/455 where I could see the next scheduled time, for example.

[2013-09-16 08:19] tomas-knap commented on #496
Honza, please check that, use the access to virtuoso I sent via email to see the db content

[2013-09-16 08:23] jakubklimek opened #499 "Various layout issues (random)"
![image](https://f.cloud.github.com/assets/718827/1147563/732a9750-1ea9-11e3-95f5-f2b7ac7ac508.png)

[2013-09-16 08:24] tomas-knap opened #500 "Test alignment of DPUs on the pipeline"
Bohuslave,

Check if issue #496 is not your fault.

Further, test the alighnment of DPUs - please put 7-10 DPU on the canvas, create edges between them and test the alignment.
1. Try to allign all to the left/right/bottom/up. Undo.
2. Take three of them, again align in all directions. Undo.
3. Move the DPUs a bit, delete/create edges, and repeat steps 1 and 2

[2013-09-16 08:24] jakubklimek commented on #499
![image](https://f.cloud.github.com/assets/718827/1147559/61fe2c26-1ea9-11e3-8bcf-fa3a0174a65b.png)

[2013-09-16 08:24] tomas-knap commented on #500
Test everything on http://odcs.xrg.cz:8080/odcleanstore

[2013-09-16 08:25] jakubklimek commented on #499
![image](https://f.cloud.github.com/assets/718827/1147565/92c6b224-1ea9-11e3-87e1-70d5e931bd83.png)

[2013-09-16 08:27] tomas-knap commented on #100
Petre should we test & close this issue?

[2013-09-16 08:27] jakubklimek commented on #499
![image](https://f.cloud.github.com/assets/718827/1147573/da7d175c-1ea9-11e3-9337-65827a8430a7.png)

[2013-09-16 08:33] skodapetr commented on #100
Nothing against testing :) But I do not know if we have DPU that use context.cancel method?

[2013-09-16 08:48] jakubklimek opened #501 "Configuration validation fails"
I used my DPU, which obviously has an error in configuration validation. However, using it, discovered a bug in DPU validation.

While doing configuration in Dialog, I probably entered something that fails the isValid check. However, nothing happened.

The error came when I ran the pipeline containing the misconfigured DPU. Then, when I wanted to edit the pipeline and opened the dialog, it erased

[2013-09-16 08:55] jakubklimek commented on #100
My DPUs: Ares, Buyer Profiles and PSP.CZ use canceled() as of today's morning (v0.0.3). Testing...

[2013-09-16 08:56] jakubklimek commented on #100
Anyway, you should have a testing DPU that does some dummy work to test this (cancelling, canceled, ...)

[2013-09-16 08:59] skodapetr commented on #501
Reassigned to me as I'm "author" of this functionality.
According to documentation the DPU dialog should throw exception if it contains invalid configuration. But it's true that we can add isValid check. But I see some detail that we may need to discuss.

There is again maybe a problem with no-rich-descriptive exceptions.
 In this case .. the configuration is invalid (isValid return false as you s

[2013-09-16 08:59] jakubklimek opened #502 "Replace DPU GUI: Do I need to press Save after replace upload is done?"

[2013-09-16 09:00] jakubklimek commented on #502
Which also means that there is no change detection there.

[2013-09-16 09:09] bogo777 commented on #502
I don't know, this part of GUI is Maria's work. Reassigning.

[2013-09-16 09:12] skodapetr commented on #502
I thing you do not. If the replace has been successful it should save automatically. But I have new version of replace/create method prepared. There will be notification like, "replace finished successfully". And yes .. there is no way back when the replace is done. But if we want it would be just minor change to my code to allow that ie. "reload" the old version after replace.

The new version is

[2013-09-16 09:14] bogo777 opened #503 "Cannot continue to work with DPUs after Save pipeline for the first time."
In javascript part, DPUs are identified by hashCode. But when the pipeline is saved for the first time, DPUs are assigned IDs and their hashCodes are changed.

[2013-09-16 09:16] tomas-knap commented on #465
Jirka can you pleaes explain me, I was already asking couple of times:

Jirka, i do not understand:

1] ADD TO
2] INSERT INTO {TARGET_GRAPH {?s ?p ?o}} where {?s ?p ?o}

WHy we cannot call such queries over HTTP instead of loading the data twice?? DId you try that? Where is the problem?

[2013-09-16 09:19] jakubklimek commented on #100
OK, it seems to be working - canceled() returns true and then my DPU deals with it, resulting in a stop.

However, since it is quick, I was unable to test the correct "Cancelling", "Canceled" sequence. Please test that using a dummy DPU that will not exit after canceled.

[2013-09-16 09:24] jakubklimek commented on #458
OK. But now when I look at it, one more enhancement. When pipeline is running, this column should have its current runtime.

[2013-09-16 09:28] #452 closed, assigned to kukharm

[2013-09-16 09:39] bogo777 commented on #496
Were there some DPUs that were added on canvas and then deleted? Or just those 2 on the screenshot with single edge? I'm trying to reproduce it.

To Honza: I remembered about something that may be related. When deleting DPU from canvas, I keep it in list and upon save explicitly delete it via DPUFacade. It was needed for proper functioning before. I tried to remove this code and it seems to work,

[2013-09-16 09:42] jakubklimek commented on #496
No, in this instance, there were no deletions. Just playing with align.

[2013-09-16 09:44] bogo777 commented on #500
If the problem was with Undo -> only single DPU was moved to original position after clicking it, then it should be resolved.

[2013-09-16 10:03] janvojt commented on #496
First we should find steps how to reproduce this. Without them we are just guessing.

My guess is, that DPU node was loaded, deleted, and then an attempt to save it was made. The deletion may have happened by a different user. The fact that the node is on canvas means, that the node existed physically in the DB when canvas was loaded. The exception upon save says, that the node is not present in t

[2013-09-16 10:06] #503 closed, assigned to bogo777

[2013-09-16 10:08] bogo777 commented on #496
I found a way to reproduce it.
Create pipeline with one DPU. Save it. Delete DPU. Try to save it. It does it for me.
If you don't have latest version(pushed now), you must reload pipeline from pipeline list after first save, due to #503.

[2013-09-16 11:20] tomas-knap opened #504 "Enable to launch DPU as a console application for debugging purpose"

[2013-09-16 11:32] jakubklimek opened #505 "DPU replace rework - validate DPU"
I wanted to replace my BP DPU. I accidentaly clicked on another JAR from another DPU, which, however, was also deployed on the ODCS instance. This resulted in overwrite of the other DPU and I don't want to think about the consequences of having multiple DPUs linked to a single file.

Add some distinguishing folder to the /dpu directory based on, for example, the ID of the DPU template so that all

[2013-09-16 11:43] skodapetr commented on #505
In current "future" version, the DPU's name is determined by first upload. The name is not changing when replace, so there should be no way how to reproduce this on new version.

When creating new dpu, for example you upload file ABC-0.0.1.jar .. then the name is ABC.jar .. if you have other format, for example A_B.jar then the full name (A_B).jar is used. There can be name collisions, but in such

[2013-09-16 12:05] jakubklimek opened #506 "Execution monitor: delete "show log" and "debug data" buttons"
Execution monitor: delete "show log" and "debug data" buttons - their functionality is the same as clicking the pipeline list item, but if I go through the button, I don't see which pipeline is selected.

[2013-09-16 12:10] tomesj commented on #465
This approach I have tested yet. The main reason why it couldnt be used we dont have virtuoso connection and if we call 1] or 2] as query thanks HTTP POST/GET we always became:

Virtuoso 40005 Error SR325: Transaction aborted because it's log after image size went above the limit

I tried to set log as you advised me, but it is still bad.

It is thanks big data set - see page http://wikis.openlink

[2013-09-16 12:14] tomas-knap commented on #207
Honza, please adjust that till tomorrow. I will need this, so that I can run two instances(realease 0.4.1 and devel) of the tool on odcs.xrg.cz. Without configuration in web.xml, I would need to run the two instances of frontend under two different users.

[2013-09-16 12:27] tomas-knap commented on #465
Jirka, have you tried this:

<pre><code>
SPARQL DEFINE sql:log-enable 2
ADD/LOAD...</code></pre>

[2013-09-16 12:29] tomas-knap commented on #465
Please test that and report here

[2013-09-16 12:32] tomesj commented on #465
I will try it using calling HTTP, but using through SPARQL endpoint form it returns:
Virtuoso 37000 Error SP030: SPARQL compiler, line 3: syntax error at 'SPARQL' before 'DEFINE'

[2013-09-16 12:33] janvojt commented on #496
I also found an interesting bug, most likely related:
1. Create new pipeline
2. Name it
3. Click Save
4. Add a dpu
5. Click Save
6. Move DPU
7. Click Save and Close
8. Open the pipeline again, and you have 2 DPUs! :)

[2013-09-16 12:35] jakubklimek opened #507 "ODCS frontend does not work with apache proxy"
When accessing ODCS via apache proxy <a href="http://odcs.xrg.cz">http://odcs.xrg.cz</a> it always says "Session expired".

Apache configuration of the rewrite (works on other applications)

<pre><code>        RewriteEngine on

        ProxyPass / http://localhost:8080/odcleanstore/
        ProxyPassReverse / http://localhost:8080/odcleanstore/
</code></pre>

[2013-09-16 12:37] jakubklimek commented on #496
Nice :+1:

[2013-09-16 13:09] tomesj commented on #465
I have very good news:

<pre><code>
DEFINE sql:log-enable 2
ADD &lt;http://merge&gt; TO &lt;http://test&gt;
</code></pre>

This code passed and load all triples we want :-) I will implement it and test again, than add to master :-)

[2013-09-16 13:11] bogo777 commented on #507
I don't have experience with apache proxy, from what I googled, maybe this could help? http://serverfault.com/questions/397617/apache-mod-proxy-page-reload-and-sessions

[2013-09-16 13:17] tomesj commented on #489
I found alternative solution - if we will use last version of virtuoso provider,  we can use JDBC version 4. I was written to Tomas for solution. He have call with Austrians and try to give version we need for that.

[2013-09-16 13:26] jakubklimek commented on #505
So, my approach would be better - no collisions, no need to inform the user and the name is preserved, so I see at first glance that it is the one I just uploaded if I need to check?

[2013-09-16 13:40] jakubklimek commented on #507
Well, the ProxyPass and ReverseProxyPass rules are the same as I have, only written for each subfolder, which should not matter. However, the cookie rule in the comment helped a bit. Now I don't get the session expired, but I cannot login and I don't see the backend status.

[2013-09-16 13:46] bogo777 commented on #496
Honza's bug was related to my fix of #503. I repaired that and hopefully this issue too. DPU Instances are still explicitly deleted, which is needed, but only after the pipeline is saved.

I think that deleting them before, deleted also their nodes due to reference, and they weren't in the database at time when saving pipeline, which should delete them.

[2013-09-16 14:03] jakubklimek opened #508 "One cancelled pipeline does not have Run time"
![image](https://f.cloud.github.com/assets/718827/1149310/d1a8dd1c-1ed8-11e3-8954-90f7b04cc19d.png)

[2013-09-16 14:06] tomas-knap opened #509 "Error when no connection to db"
When backend cannot connect to db, it writes stack trace as error. It should write error "Cannot connect to db after the number of tries defined in config.properties" And then in log.debug there could be stack trace.

![screen shot 2013-09-16 at 4 03 15 pm](https://f.cloud.github.com/assets/3014917/1149329/221ac940-1ed9-11e3-94cb-6b5e6659ce87.png)

[2013-09-16 14:15] janvojt commented on #496
OK, Bohuslav fixed this.

The original idea was, that when pipeline is saved, orphan nodes are deleted. However I think this only works, if pipeline entity is managed by hibernate session (=transaction) in which it was loaded at the time nodes are removed from the collection. This is not the case, and never will be, because we do not want the transaction to be active throughout the whole process o

[2013-09-16 14:15] #496 closed, assigned to janvojt

[2013-09-16 14:28] janvojt commented on #488
I cannot reproduce this, not on my machine, not on the current deployment on odcs.xrg.cz. Is this still relevant?

[2013-09-16 14:32] tomesj commented on #465
Solved by commit: 932460b98437a784676b5eb461bccc6b41674cfb

[2013-09-16 14:32] kukharm commented on #502
initially did it in a way that didn't need to press Save after replace.

[2013-09-16 14:47] tomas-knap commented on #465
Jirko,

the problem is that "DEFINE sql:log-enable 2" is Virtuoso specific and
"ADD http://merge TO http://test" is not from the latest SPARQL 1.1. spec (so it is also more or less virtuoso specific). THerefore, I would suggest to have  one loader as was before the commit 932460b (please adjust that) and then second loader (called Virtuoso SPARQL Loader), which will have the same functionality as

[2013-09-16 14:55] tomesj commented on #465
Do you mean to create new DPU or only new similar method for loading data associate with Virtuoso ?

[2013-09-16 14:55] jakubklimek commented on #488
It is. Even though it is not easily reproducible, it still happened when it should not. Have you looked at the source line (from the exception) to see if there is anything suspicious? What could cause an exception like this?

[2013-09-16 16:01] jakubklimek commented on #252
When running "find leaks" on Tomcat, I get:

<pre><code>The following web applications were stopped (reloaded, undeployed), but their
classes from previous runs are still loaded in memory, thus causing a memory
leak (use a profiler to confirm):
/odcleanstore</code></pre>

So there is definitely something wrong.

[2013-09-16 17:02] #443 closed, assigned to bogo777

[2013-09-16 17:21] #207 closed, assigned to janvojt

[2013-09-16 19:12] janvojt commented on #488
It could be, that attribute "level" is transient. We are persisting "levelString" as a String, and then resolving it to enum in getter. LazyQueryContainer has a "level" attribute defined. However if this is the problem, it is suspicious that this exception does not happen all the time. Bohuslav might know more about how LQC is using this attribute, because he authored it. I am reassigning this.

[2013-09-18 11:27] jakubklimek commented on #333
Related https://github.com/mff-uk/intlib/issues/491

[2013-09-18 12:51] skodapetr opened #510 "FileUploadReceiver"
The `FileUploadReceiver` class is static. This class is used for loading DPUs.

What happened if two or more users try to load DPU at the same time? Has been this functionality tested?

[2013-09-18 13:33] kukharm commented on #510
"What happened if two or more users try to load DPU at the same time?"

I have not tested for this case..

[2013-09-18 14:27] jakubklimek opened #511 "SPARQL Loader drops dataParts"
SPARQL Loader drops some parts in my pipelines. Please take a look at it (it is on the odcs.xrg.cz:8080/odcleanstore instance, execution monitor, pipelines that end with warnings):

Now I ran the "PSP.CZ from Cache" in Debug mode so you can take a look at the data when it finishes in approx. one hour.

I think the data is OK and there is some problem with your encoding because the data was success

[2013-09-18 14:29] jakubklimek commented on #100
No one tested it even though I requested it... closing and will reopen when there is a problem.

[2013-09-18 15:16] bogo777 commented on #488
LQC is using "level" attribute for getting values for level column. It uses getLevel() method. For filtering, there is custom filter, which uses "levelString". For sorting, LQC looked directly for db representation of level, which is none and there was error. But sorting is disabled for a few days, so it should not happen anymore.

[2013-09-18 15:25] jakubklimek commented on #488
And why is sorting disabled?

[2013-09-18 15:31] bogo777 commented on #488
Sorting can be enabled/disabled only for whole table, but data type of message column doesn't allow sorting. I disabled filtering on that column on Honza's request with this explanation and sorting didn't work for same reason, so I disabled that, too.

[2013-09-18 15:36] jakubklimek commented on #488
Well, this is a problem. There has to be sorting and filtering. Why would Message data type not allow filtering? It should do a full-text search on the message field. Have you discussed disabling it this with Tomas?

[2013-09-18 15:42] bogo777 commented on #488
All I know about this comes from Honza, issue #485. It is for different table/column, but the resulting error is the same.

[2013-09-18 15:49] jakubklimek commented on #505
From Skype:
Only level 1 DPUs can be replaced, Level 2 (DPU link + config) will see "This DPU is derived from ..." and no replace button. After replace, all instance configuration are checked if they are still valid. When no, email should be sent. The actual email sending will wait until email support is added/tested, but invalid configuration has to work anyway.

[2013-09-18 15:59] bogo777 commented on #495
It works for me under admin account, but not under user account. In that case, the new DPU Template isn't saved due to Access is denied on save. (Which is not shown to user, it is only in log). Will discuss with others and probably disable the button "Save as DPU template" in such case.

[2013-09-18 16:00] bogo777 commented on #494
Related to #495 , new DPU Template isn't saved when created.

[2013-09-18 16:03] jakubklimek commented on #488
OK, I reopened #485 until Tomas can say what to do about it. Disabling it is not acceptable. As to this issue, there has to be another cause, so keep looking.

[2013-09-18 16:05] jakubklimek commented on #495
No. Why would you solve it by disabling the feature? Rather solve the problem. We need this to work, that is why it is there. Obviously it is something with access rights.

[2013-09-18 16:12] bogo777 commented on #495
I didn't meant it as disabling the feature. Only in case, when user doesn't have the right to create new DPU Template(I want to discuss with others when and why this is.) I wanted to hide/disable the button. I think everything for deciding if the user has such right is known at the time of opening the DPU detail, so I would rather disable it(maybe with tooltip with information about why it is disa

[2013-09-18 16:19] tomesj opened #512 "Frontend - problems with deploying to Tomcat"
When I try deploy frontend to Apache Tomcat it returns:

<pre> <code>
SEVERE: Exception sending context initialized event to listener instance of class org.springframework.web.context.ContextLoaderListener
org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'configuration' defined in ServletContext resource [/WEB-INF/classes/frontend-context.xml]: Instantiation o

[2013-09-18 16:26] skodapetr commented on #512
IMHO: from last exception /WEB-INF/config.propertiesis missing
See requested in #207 for more detail why is this here.

This file is required, see frontend /WEB-INF/config.properties.sample this is sample file, you can use it to create WEB-INF/config.propertiesis.

[2013-09-18 16:36] jakubklimek commented on #495
Ok, then yes, I agree.
On Sep 18, 2013 6:12 PM, "bogo777" notifications@github.com wrote:

[2013-09-18 17:23] janvojt commented on #488
Well, the resulting error is not the same. Error here is caused by the fact that attribute "level" is transient. But I suspect this bug comes from some old revision and does not occur anymore. If we cannot reproduce it in the current version, I believe we should close it.

If you want to inspect it further and find out why exactly this happened, we should inspect the commit on which this error was

[2013-09-18 17:28] janvojt commented on #485
I wanted to disable only sorting (not filtering) only for one column - "Short message". Not disabling sorting and filtering on all columns of the table.

The reason why to disable sorting is simple - column data type is too long, so Virtuoso does not support it in ORDER BY clause.

To enable sorting, we would need to shorten the column data type to varchar. This might cause some long error message

[2013-09-18 17:31] jakubklimek commented on #485
I agree with Jan here. Sorting by the message is not important. Filtering is.

[2013-09-18 17:32] jakubklimek commented on #488
OK, we'll reopen this if necessary.

[2013-09-18 17:32] #488 closed, assigned to bogo777

[2013-09-18 17:39] janvojt commented on #512
Petr is correct just copy your HOME/.intlib/config.properties to /WEB-INF/config.properties and you should be fine. Configuration for frontend and backend is now seperate. It was discussed at the meeting. The error message is clear, I am closing this.

[2013-09-18 17:39] #512 closed, assigned to janvojt

[2013-09-19 08:40] tomas-knap opened #513 "When replacing DPU jar with invalid bundle, two error messages occurs"
![screen shot 2013-09-19 at 10 38 31 am](https://f.cloud.github.com/assets/3014917/1171459/06438f60-2107-11e3-81d4-3fd4acee1ecb.png)

Problem with file not exist is not relevant! Please test it on an invalid bundle - e.g. havin a wrong package in pom.xml of the DPU

[2013-09-19 12:41] tomas-knap commented on #511
Jirka, please update on this, it is urgent

[2013-09-19 12:47] tomas-knap opened #514 "Update DPU template jar issue"
kdyz se updatuje jar, tak ukazat notice, ze update successful az dobehne progress bar, nekdy je to tak rychle, ze to neni videt. Tedy je potreba nejaka notice, ve stylu pipeline was saved succesfully

[2013-09-19 12:49] skodapetr commented on #514
Re-assigned to me. I'm currently working on reload functionality.

[2013-09-19 13:24] tomas-knap opened #515 "When replacing JAR file with a JAR file having problem with the dialog, there is no way how to replace it further"
I prepared DPU dialog with an error in the dialog (calling setValue on readOnly text field). When I was replacing the existing (and correct) DPU JAR file with the new one, it cause the dpu template dialog to disappear completely!

Solution: Even in case of the problems, the tab general and dpu instances should be available, so that I can e.g. replace the wrong jar with a new one. The only think wh

[2013-09-19 13:24] bogo777 commented on #485
Reenabled filtering on "message" columns in Records and Logs table.

[2013-09-19 13:28] tomas-knap opened #516 "Save on DPU detail with a problem"
As a result, description is saved, but otherwise the information in the DPU cannot be saved. Strange.

[2013-09-19 13:45] #453 closed, assigned to bogo777

[2013-09-19 13:53] tomas-knap opened #517 "RDF extractor - in case of errors, there should be two options how to behave:"
On one of the pipelines, there was invalid rdf file containing wrong URI. However, this was just one file from hundreds of files. But extractor throws an exception and ends.

Solution: Add choice to extractor's dialog whether it should fail after the first exception occurs or whether it logs the errors as warnings and omits such data in the result (similarly as in case of SPARQL laoder, where ther

[2013-09-19 14:09] tomesj commented on #511
I know about it, I tried to look at it yesterday, but so far I have not found a bug that would cause the problem.

Are you sure that the data for input to the SPARQL loader are OK? Are there not any extra characters, parentheses, or something similar?

I still dont feel completely well enough for it to work consistently. I look at it this in the evening or tomorrow.

[2013-09-19 14:23] tomas-knap opened #518 "Pipeline events should automatically generate logs"

[2013-09-19 14:24] tomesj opened #519 "Not able to run backend"
I can not run backend. I tried to delete and reload database, but the problem is still the same.

<pre> <code>
16:19:46.497 [main] INFO  c.c.x.i.c.a.m.ModuleFacade - Stopping OSGI framework ...
Exception in thread "main" org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'dataUnitFactory' defined in class path resource [backend-context.xml]: Instantiation of bea

[2013-09-19 15:18] tomas-knap opened #520 "Debug view - selecting inputs/outputs for browse/query, refactoring"
Bohuslave, please follow the specification/mockup:
https://grips.semantic-web.at/display/LOD2/Debug+Pipeline

[2013-09-19 16:34] tomesj commented on #511
Problem is not in method load, but in graph (triples in graph) !!!

Reasons:
I tested this pipeline using execution monitor:

Pipeline name: Buyer Profiles Current Year Update
Date and time run: 19.9.2013 1:00:46
Log page for name graph where are data to load: 559/594
Name of graph to load: http://linked.opendata.cz/resource/odcs/internal/pipeline/exec/28/dpu/20/du/0
Count of triples to load: 6555

[2013-09-19 16:35] #500 closed, assigned to bogo777

[2013-09-19 16:38] jakubklimek commented on #511
I am a bit lost here. Those numbers look like some default limits but i
still dont completely get what is the problem and what you are suggesting.
On Sep 19, 2013 6:34 PM, "Jiří Tomeš" notifications@github.com wrote:

[2013-09-19 18:33] tomesj commented on #511
It certainly is not related to any limits - the number of triples I tested for millions (in the case of extraction data from a big file) and everything was fine.

[2013-09-20 06:43] tomas-knap commented on #511
Jirka, can you please explain in two sentences what the core problem is? Data in the graph are invalid, right, but is that result of the pipeline processing?

[2013-09-20 07:20] tomas-knap commented on #511
Jirka, can you please also particularize which triples cause the problem when loading data to target SPARQL endpoint? Or at least, can you please supplement the error message, that certain parts failed with the list of all triples in these part?

[2013-09-20 09:51] tomesj commented on #511
The problem is that for load to SPARQL endpoint repository use set data graph, but graph not containing only RDF data (or they are not all in the correct format). And if you using construct query (for all triples) you find out, that this count is more less, than the count triples in graph - some data are not intended for uploading and it cause problems.

[2013-09-20 10:06] tomesj commented on #511
For finding triples cause problems, I need approach (connection) to your Virtuoso,  because when I only extract triples from this graph - it will be extracted only right triples and there is no problem to load them (I have tested yet).

Unfortunately, the current connection to Virtuoso (http://odcs.xrg.cz:8899/conductor) or SPARQL endpoint (http://odcs.xrg.cz:8899/sparql) is not working

[2013-09-20 11:24] tomas-knap opened #521 "Prepare methods for downloading results on SPARQL select"
please follow the specification/mockup:
https://grips.semantic-web.at/display/LOD2/Debug+Pipeline

related to #520

[2013-09-20 11:25] tomas-knap opened #522 "Prepare methods for exporting Logs from DB when "Download" button pressed on debug view->logs tab"
please follow the specification/mockup:
https://grips.semantic-web.at/display/LOD2/Debug+Pipeline

related to #520

[2013-09-20 11:55] tomas-knap commented on #502
So it is not needed to press save button?

[2013-09-20 12:46] tomas-knap commented on #511
Jirka,please try the link to conductor/sparql again, it is working now

There are only RDF data and they are correct at the beginning. So there is a problem on the pipeline somewhere, probably in the loader?

[2013-09-20 13:18] tomesj commented on #511
Thank you, I try to use data graph and try load to mySPARQL, then I write result :-)

[2013-09-20 13:46] tomesj commented on #511
Please sent me necessary data for Virtuoso connection to my email. I can not connect thanks JDBC.

[2013-09-20 13:51] tomas-knap commented on #511
well, this should be port 1119 to connect over isql

On Fri, Sep 20, 2013 at 3:46 PM, Jiří Tomeš notifications@github.comwrote:

[2013-09-20 13:55] tomesj commented on #511
Yes, connection is fine now - thanks :-)

[2013-09-20 15:18] tomesj commented on #511
I let write problems parts:

For example: 1491/6556 part

Query:
INSERT {http://linked.opendata.cz/resource/business-entity/CZ28982347 http://purl.org/dc/terms/title """Sellier&Bellot a.s.""" .
http://linked.opendata.cz/resource/business-entity/CZ65209737 http://purl.org/dc/terms/title """Pavel Svoboda""" .
http://linked.opendata.cz/resource/business-entity/CZ40316050 http://purl.org/dc/terms/titl

[2013-09-20 15:46] tomesj commented on #511
Now after many time authentisation table I get:
![image](https://f.cloud.github.com/assets/3481055/1181577/a2ab5982-220b-11e3-8d3c-3418121c22c8.png)

Explanation (See http://docs.openlinksw.com/virtuoso/errors.html):
SR041 22023 Argument 1 of locate is not a wide string

[2013-09-21 07:19] #459 closed, assigned to bogo777

[2013-09-21 07:27] #495 closed, assigned to bogo777

[2013-09-21 07:28] bogo777 commented on #495
The result from discussion is, that the user can always create new DPU Template and there was just error in its creation(owner was not assigned).

[2013-09-21 07:29] bogo777 commented on #494
Closed by solving #495.

[2013-09-21 07:29] #494 closed, assigned to bogo777

[2013-09-21 07:56] jakubklimek commented on #511
Are you inserting the triples using HTTP GET method? I can see from the screenshot that the query is actually in the URL itself. If so, try using the HTTP POST method, as it is able to transfer larger data. You are not in control of how much data the, for example, 100 triples actually are and there are limits on URL size.

[2013-09-21 08:39] tomas-knap commented on #511
Jirko, so the status of this bug is that you are outputting the wrong parts in the event errors/log, so that pipeline author can debug the problems? Did you find out why the strange chars are there?

[2013-09-21 08:47] skodapetr commented on #519
As written in error the DataUnitFactory has no default ctor. Just create empty ctor for this class and it should be fine.

I would do that myself .. but I have more local-commited changes that modify database .. so I do not want to push them all now.

Then please test and close. In case of any problem .. please contact me online (skype).

[2013-09-21 08:52] skodapetr commented on #373
Based on our skype discussion I consider this issues to be solved. Closing.

[2013-09-21 08:52] #373 closed, assigned to skodapetr

[2013-09-21 09:35] tomas-knap opened #523 "Pipeline edit buttons Cancel -> Close"
![screen shot 2013-09-21 at 11 33 26 am](https://f.cloud.github.com/assets/3014917/1185366/26756786-22a1-11e3-98c2-e82c5d660b16.png)

Rename Cancel to Close. When I click Save (then save buttons are disabled), it is then   confusing to click on Cancel.

[2013-09-21 09:41] tomas-knap opened #524 "Save on Pipeline Edit after cancelling the dpu detail change"
If I open pipeline, edite DPU detail, cancel on the DPU detail dialog, the button save on the pipeline edit is enabled, which is confusing.

[2013-09-21 09:46] tomas-knap commented on #486
The commit does not solve the issue, right?

[2013-09-21 09:49] #478 closed, assigned to bogo777

[2013-09-21 09:52] tomas-knap commented on #418
Bohuslav, do you experience the same issue with Show log? that it does not respond 2 times out of 3?

[2013-09-21 09:53] tomas-knap commented on #479
When Honza is ready with switching from EAGER to LAZY loading, he will test the performance, see #209
Closing this one

[2013-09-21 09:53] #479 closed, assigned to bogo777

[2013-09-21 09:54] tomas-knap commented on #209
Test also with remote database: I suggest you use my remote testing database, generate 5000 entries to the table storing the execution monitor results (just copy one of the records) and then implement it so that it is fast. You don't need to refresh by downloading everything all the time. Just check with a single simple query whether there is a record newer than the last one you are displaying and

[2013-09-21 09:55] tomas-knap commented on #418
Duplicated with #477, please contribute there

[2013-09-21 09:55] #418 closed, assigned to bogo777

[2013-09-21 09:58] tomas-knap commented on #465
New DPU. So next to current SPARQL Loader, there will be Virtuoso SPARQL Loader. The non-Virtuoso SPARQL loader will not use e.g. ADD x TO <graph>, but rather call loadDataParts twice.

[2013-09-21 10:25] #419 closed, assigned to tomas-knap

[2013-09-21 10:25] tomas-knap commented on #419
https://grips.semantic-web.at/display/LOD2/Pipeline

[2013-09-21 10:28] tomas-knap commented on #358
Possibility to set the chunk size, closing.

[2013-09-21 10:28] #358 closed, assigned to tomas-knap

[2013-09-21 10:28] #350 closed, assigned to tomas-knap

[2013-09-21 10:29] #485 closed, assigned to tomas-knap

[2013-09-21 10:30] #316 closed, assigned to tomas-knap

[2013-09-21 10:32] #147 closed, assigned to nobody

[2013-09-21 10:32] tomas-knap commented on #165
Related to #520

[2013-09-21 10:32] #165 closed, assigned to tomas-knap

[2013-09-21 10:33] tomas-knap commented on #487
See: https://grips.semantic-web.at/display/LOD2/Developer+Notes
We will use lazy loading and EclipseLink as JPA provider

[2013-09-21 10:37] tomas-knap commented on #462
Is there a solution for this in Vaadin, so that the action which takes some time resulting from button onclick event is executed in a separated working thread, so that the main thread for taking onClick requests is again available?

[2013-09-21 10:46] tomas-knap commented on #372
So this would be third SPARQL Loader DPU - there will be two sending SPARQL over HTTP (generic and Virtuoso specific) and this one

[2013-09-21 10:48] tomas-knap commented on #295
What is done from this issue, Jirka please update

[2013-09-21 10:50] #225 closed, assigned to tomas-knap

[2013-09-21 10:51] tomas-knap commented on #98
Silk is called as extra process

[2013-09-21 10:51] #98 closed, assigned to tomas-knap

[2013-09-21 10:53] tomas-knap commented on #220
Bohuslav, Jinak zatim pouzivam upraveny LazyEntityContainer, ale uprava na variantu 3) bude jednoducha a vyuziji se veskere upravy, ktere jsem v tom containeru musel provest. Uprava na variantu 3) uz je?

[2013-09-21 10:53] #450 closed, assigned to skodapetr

[2013-09-21 10:54] #249 closed, assigned to tomas-knap

[2013-09-21 10:55] #399 closed, assigned to skodapetr

[2013-09-21 10:56] tomas-knap commented on #315
Duplicated

[2013-09-21 10:56] #315 closed, assigned to tomas-knap

[2013-09-21 10:57] #329 closed, assigned to tomesj

[2013-09-21 11:00] #416 closed, assigned to tomas-knap

[2013-09-21 11:02] #439 closed, assigned to skodapetr

[2013-09-21 11:03] #401 closed, assigned to tomesj

[2013-09-21 11:03] tomas-knap commented on #328
Solved, see https://grips.semantic-web.at/display/LOD2/Pipeline

[2013-09-21 11:03] #328 closed, assigned to tomas-knap

[2013-09-21 11:13] tomas-knap opened #525 "Useless Method in RDF Data Unit Helper"
Method:
    public Map<String, List<String>> executeSelectQuery(
            String selectQuery)
            throws InvalidQueryException;

is useless, you are losing information about which binding belongs to which solution of the query. Delete this method. There is alternative correct one.

[2013-09-21 11:24] tomas-knap opened #526 "Scheduller specification for Rules"
Specification for Scheduller (write below)

Describe #460
Create new issues if needed.

[2013-09-21 11:42] tomesj commented on #511
I tried add problems parts using SPARQL endpoint GUI - you right, that there are used HTTP GET and it cause problems, because URL is too long.

I try it again using my method with HTTP POST (default method for loading triples). I try find out and describe problems, why these parts dont pass.

[2013-09-21 11:45] jakubklimek commented on #511
OK, in an extreme case we could try to set chunk size to 1 and see what happens - in time.

[2013-09-21 11:48] tomesj commented on #486
Yes, you right. I wrote bad issue number to this commit.

[2013-09-21 11:58] tomesj commented on #295
Is done:
1) creating tab Namespace Prefixes which is accessible for admin.
2) DB support for that

For working:
1) Make table and its funkcionality - add/remove prefixes.

[2013-09-21 12:03] tomesj commented on #525
Do you mean delete it definitely or only interface from Data Unit Helper ? Bohuslav used  this method for select.

[2013-09-21 12:10] #519 closed, assigned to skodapetr

[2013-09-21 12:13] tomas-knap opened #527 "add Silk.jar to core libs"

[2013-09-21 13:11] tomesj commented on #511
I find out problem - if subject is literal and ends with ", it cause problems (there are 4x ")

There are some concrete problem insert parts, which dont pass:

Data 149132/655505 part
INSERT {&lt;http://linked.opendata.cz/resource/business-entity/CZ00109380&gt; &lt;http://purl.org/dc/terms/title&gt; """Zemědělské družstvo "Skalka"""" .
}

Data 149133/655505 part
INSERT {&lt;http://linked.opendata.

[2013-09-21 13:19] tomesj commented on #511
Possible solution - after last char " add space. Then it passed.

For example:
INSERT {&lt;http://linked.opendata.cz/resource/domain/buyer-profiles/profile/cz/https/vzpro.cz/zakazky/profil/69766207&gt; &lt;http://purl.org/dc/terms/title&gt; """Dobrovolný svazek obcí Církvice a Nové Dvory "Klejnarka" """ .
}

[2013-09-21 14:24] jakubklimek commented on #511
Would it pass if you checked whether the last char is " and changed it to
\"? I must admit i am not sure about this one. Please test it. It should be
testable directly through the sparql endpoint in a browser.
On Sep 21, 2013 3:19 PM, "Jiří Tomeš" notifications@github.com wrote:

[2013-09-21 14:59] tomas-knap commented on #511
Jirka, but when looking at the first screenshot of this bug, there are more than four records with this problem, hm?

[2013-09-21 15:05] jakubklimek commented on #511
Well... according to Turtle specification, these characters should be always escaped, even inside """ """ as this only allows newlines in addition to " ":

<pre>The character escapes are:
\t (U+0009, tab)
\n (U+000A, linefeed)
\r (U+000D, carriage return)
\" (U+0022, double quote - only allowed inside strings)
\> (U+003E, greater than - only allowed inside URIs)
\\ (U+005C, backslash)
\uHHHH or \U

[2013-09-21 15:06] tomas-knap commented on #525
Jirka but can you please test what would happen if:

Data contain triples: <pre><code> http://person1  http://foaf.org/name "1" .  http://person2  http://foaf.org/name "1" . http://person3  http://foaf.org/name "1" . http://person3  http://foaf.org/email "3@tady.cz" . </pre></code>

And the query is:

<pre><code>
select ?s ?name ?email where {
?s http://foaf.org/name ?name
OPTIONAL { ?s http://foa

[2013-09-21 15:11] jakubklimek commented on #511
But the problem actually is in SPARQL syntax, not TURTLE. And it states following example:

<pre>'''The librarian said, "Perhaps you would enjoy 'War and Peace'."'''</pre>

So actually in SPARQL, you should use triple "single" quotes. The question is, why are these characters not escaped when you pass them as a SPARQL insert query. I think that you generate the insert query from the text of the li

[2013-09-21 15:35] tomesj commented on #511
OK, I will needed escape to all needed escaped characters via table.

It is necessary - I found next problem in triples (use unescape backslash)

INSERT { &lt;http://linked.opendata.cz/resource/domain/buyer-profiles/profile/cz/https/////EZAK.CNPK.CZ//PROFILE_DISPLAY_132.HTML&gt; &lt;http://purl.org/procurement/public-contracts#originalBuyerProfileUrl&gt; """HTTPS:\\EZAK.CNPK.CZ\PROFILE_DISPLAY_132

[2013-09-21 16:44] tomesj commented on #511
I add needed escape, I tested loading to SPARQL endpoint and it is fine now. I add flag "TEST THAT".

[2013-09-21 17:17] tomesj commented on #525
When I fill then with map as result the table I get expected result:

<table border="1">
  <tr>
    <th>s</th>
    <th>name</th>
    <th>email</th>
  </tr>
  <tr>
    <td><a href="http://person1">http://person1</a></td>
    <td>1</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="http://person2">http://person2</a></td>
    <td>1</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="http://person3">ht

[2013-09-21 19:32] skodapetr commented on #514
I do have this notification on my computer, please test now.

[2013-09-21 19:36] skodapetr commented on #505
We now have support for DPUs in subdirectories.
I will discuss the configuration validation with Thomas as we have no clearly define the configuration "validity" yet.

[2013-09-21 19:39] skodapetr commented on #413
The problem that the same file can not be reload after the first load failed is I believe not in my code. The FileUploadReciever class has been created by Maria. I thing we may need to rework and test this class (#510).

So reassigned back to Maria.

[2013-09-21 19:41] skodapetr commented on #116
I do not know about nothing to do from my side. Reassign to Jirka.
We may discuss the RDF interface/implementation on next meeting to decide/validate it's final architecture.

[2013-09-21 19:56] skodapetr commented on #335
But I thing that the default value is not the best solution. The `MissingConfigPropertyException` extends `RuntimeException`, so it's never catch in the application .. and if it is thrown then it terminate the execution with stack-trace.

We may consider writing more civilized message in place where this exception is thrown. But this does not save us from stack trace.

I have been discussing the p

[2013-09-21 21:13] skodapetr commented on #262
Current state: when user press pause then the context.cancelled() return true. DPU should check this and stop. Then DPUs post executor are executed, the DPUs execution is marked as 'aborted' and then the execution ends.

The DPU's execution thread is no longer interrupted as it is not reliable solution and also we need to executor pre/post executors correctly without interruption.

[2013-09-21 21:19] skodapetr commented on #262
We can probably simply pause/resume pipeline between DPU's execution 'in memory'. The execution thread will not end, it will just call sleep. The problem with this can be that there will be too many threads.

Other solution is to terminate the execution (thread) and then start it again. It should be easier then execution recovery, as we can pause the execution in well defined states.

[2013-09-22 00:27] #523 closed, assigned to kukharm

[2013-09-22 09:09] tomas-knap commented on #335
The idea is that the backedn will e.g. write log.warn("Not found value for config property X, using default value Y")

If the default value cannot be deduces, it could end with error.

[2013-09-22 09:09] tomas-knap commented on #116
This is already done

[2013-09-22 09:09] #116 closed, assigned to tomesj

[2013-09-22 09:11] tomas-knap commented on #525
Jirka, this is the output of the our browser? in debug view/browse?

[2013-09-22 09:11] tomas-knap commented on #525
If yes, then please remove the method from RDFDataUnitHelper and leave it there for Bohuslav.

[2013-09-22 09:13] tomas-knap commented on #262
I would rather suggest to terminate thethread and persist the current state. Otherwise, the thread may remain forever in the memory, when backend crashes, they cannot be recovered etc.

[2013-09-22 09:14] tomas-knap opened #528 "Create DB schema in EA and export it to confluence"

[2013-09-22 09:15] tomas-knap opened #529 "Adjust the tables for storing events"
1. tabulka event property:
   - proc pro kazdy jeden log se take loguje informace o dpu instance/hostname/execution? To je zbytecny overhead.
2. Proc Event_Exception ma nejaky sloupec "i" a neuklada se cely stacktrace jako jeden string?
   Jakaje vubec motivace pro event_exception table?
3. Co jsou ty arg1, arg2, arg3 v LOGGING_EVENT table?

Navrhovane upravy:

Vyhodit tabulku LOGGING_EVENT_PROPER

[2013-09-22 09:29] tomas-knap opened #530 "When running DPU, only LOG.INFO+ events are logged for any package used by the DPU"
I have a DPU having also different classes than the main class with execute() method. However, in these classes log.debug() is stored during normal run

[2013-09-22 11:10] tomas-knap opened #531 "Possibility to sort in tables, such as logs/events, .."
As the queryBuilder is used, it is not possible to sort by certain columns. Reenable this property as discussed on the meeting

[2013-09-22 11:17] tomas-knap opened #532 "Generate logs from events"
Every context.message("ERROR", shortMessage,longMessage) should generate logs:
log.error(shortMessage + longMessage).

Every context.message("WARNING", shortMessage,longMessage) should generate logs:
log.warn(shortMessage+ longMessage)

Every context.message("INFO", shortMessage,longMessage) should generate logs:
log.info(shortMessage+longMessage).

Every context.message("DEBUG", shortMessage,long

[2013-09-22 11:17] tomas-knap opened #533 "Store XStream objects in UTF-8"
Alternativne moznost ulozit config object k DPU template, ale to neni moc hezke

[2013-09-22 11:20] tomas-knap opened #534 "Default configuration for DPU"
I placed DPU on the pipeline, then adjusted DPU template dialog and then try to open DPU placed on the pipeline - it failed to load conf, which is correct. Default was loaded but filled with empty text fields, although there is certain text for the proper attributes in Config class.

[2013-09-22 11:21] tomas-knap opened #535 "When loading DPU, validate DPU dialog."

[2013-09-22 11:22] tomas-knap opened #536 "Deletes execution folder if it already exists and then create new empty"
cistit backend working (tedy smazat prislusny execution folder nez se zacne vytvaret novy!!) ted jsem tam mel info o starych i novych DPU

[2013-09-22 11:32] tomas-knap opened #537 "Change namespace + related stuff intlib->odcs"
Adjust packages:
cz.cuni.xrg.intlib.commons.data -> cz.cuni.xrg.odcs.commons.data atd.

Adjust the main project name (if possible), adjust default config.properties (backend, frontend), adjust tutorial.

Petre,lets confirm that on Friday 27.9. If you have too many other things, we will reassign.

[2013-09-22 11:34] tomesj commented on #525
This is output in table - I let write content of map I get thanks select.

OK, so I remove this method only from RDFDataUnitHelper interface.

[2013-09-22 11:36] tomas-knap opened #538 "Check that all dialogs use the same order of ok, cancel buttons."

[2013-09-22 11:42] tomas-knap commented on #477
Bohuslav, is this still occurying? Do you know the proper solution for that?

[2013-09-22 11:44] janvojt commented on #335
I don't agree, in general runtime exception should be thrown. On the abstract level of `AppConfig`, we do not know what kind of config it is, and do not know if there even exists any usable default value (e.g. filesystem paths, email). The implementation of `AppConfig` is therefore correct.

In some cases though, it is possible to use a default value if none is provided in config file. However it

[2013-09-22 11:44] tomas-knap commented on #477
related to #462

[2013-09-22 11:49] tomas-knap commented on #492
Well, so we can extend the annotation from
@OutputDataUnit("name=x, description=Mydescription") ?

[2013-09-22 11:55] tomas-knap commented on #489
I think it is not a problem to have two different versions, so I would suggest to have JDBC version 3, so that we can use the sesameProvider tested and imporved by SWC. I was discussing with Alex, they do not have newer version.

Is it a problem to have two versions?

[2013-09-22 11:58] tomas-knap commented on #489
What is the current status of this? Jirka, which version are you using in current master branch?

[2013-09-22 12:07] tomas-knap commented on #295
Maria, please finish the desired functionality

[2013-09-22 12:11] tomas-knap commented on #414
Jirka, was discussing with Alex, could you please try to play a bit with openRDF ParseErrorListener and ParserCOnfig? You should be able to configure openRDF parser to provide you with more messages about data problems. Could please test that on the data above? In case of any question, write me.

If this will not work anyhow, we will look on Jena/Fuseki

[2013-09-22 12:19] tomas-knap commented on #491
I would opt for a simpler solution: Just adding one checkbox to pipeline detail "allow only one instance of this pipeline at once. " As a result, it is ensured that this pipeline is running only once at certain time.

Similarly, for DPU template you can check "allow only one instance of this dpu running at once." As a result, certain DPU (and all DPUs inherited) may be launched only once.

Kuba, P

[2013-09-22 12:22] tomesj commented on #489
We actually use version 3 and provider from SWC :-)

[2013-09-22 12:22] jakubklimek commented on #491
Ok, for a start
On Sep 22, 2013 2:19 PM, "Tomas Knap" notifications@github.com wrote:

[2013-09-22 12:25] tomesj commented on #414
ParserErrorListener I have just used. Thanks that I got report - warnings, errors, fatal errros (with message, line, column)....I try to test ParserConfig and than I write here result of this :)

[2013-09-22 12:51] tomas-knap commented on #491
Petre, so please ask Bohuslav to prepare the needed checkbox and iff needed, ask Honza to persist the selection. Then ensure that such selection is enforced when pipeline is launched.

If certain DPU/pipeline should be run only once and is alraedy running and the user runs/debugs the pipeline manually, an error occurs. If schedulled event cannot run due to already running pipeline/dpu which must b

[2013-09-22 12:52] tomas-knap commented on #491
I put this to iter 0.5 (October), with high prio

[2013-09-22 12:54] tomas-knap commented on #489
Ok, so frontend uses version 4 and rdf module version 3 or both use version 3?

[2013-09-22 13:01] tomesj commented on #489
Frontend uses version 4, RDF version 3. Honza want to use same version 4.

[2013-09-22 13:07] tomas-knap commented on #489
I will leave it for now, postponed.

[2013-09-22 14:22] tomas-knap commented on #536
Also please delete the execution dir when running in normal mode

[2013-09-22 14:33] janvojt commented on #489
Actually, commons-app uses version 4, RDF uses version 3. Therefore frontend has both 3 and 4 as a dependency.

I thought this might be causing problems. However it is (functionally) OK, because these versions use different namespaces (virtuoso.jdbc4, virtuoso.jdbc3).

[2013-09-22 14:37] janvojt commented on #489
If we want to go with 3, I guess we can close this issue. Or even better, if there is time, we can downgrade JDBC to version 3 in commons-app, to eliminate having same library in 2 different versions in one application. It should not be a problem.

[2013-09-22 16:49] skodapetr commented on #491
Do we need "conflict" for whole pipeline? What about conflict for "DPU"s?

I would suggest some kind of annotation like "OneAtTime" which secure that at most one execution method at time is running. There still can exist multiple instances of DPU.

[2013-09-22 16:51] skodapetr commented on #535
What do you mean by "validate" pom.xml and DPU dialog?

[2013-09-22 16:55] skodapetr commented on #534
Now .. if the configuration is invalid "isValid == true" the message is shown but the configuration is still set to the dialog. The reason for this is that the dialog can try to use some values and prevent complete lost of the configuration. But well it the de-serialisation failed the configuration is lost == missing.

If the configuration is missing then is used default by means of dialog default

[2013-09-22 17:33] bogo777 commented on #531
I enabled sorting in events table, except for message column, where sorting is not possible due to its db data type.

In logs table, currently there are no sortable columns:
Date is initialized from long in getter and Level from string, they have no direct db representation, and there is no way to generate custom sort as is for filter. I think I have a solution, but it will be more work, than simp

[2013-09-22 19:19] skodapetr commented on #502
Yes, you do not have to press save. The DPU template is saved automatically after replace is finished.

[2013-09-23 01:32] kukharm commented on #330
I didn't implement this method too, i used validation similar way as Jirka. Petyr is author of RDFExtractorConfig.java (from which part of the code in the first comment). So i redirect to him.

[2013-09-23 05:20] tomas-knap commented on #538
Sorry for not saying that yesterday, please check also that the size of both buttons ok/cancel is the same

[2013-09-23 05:23] tomas-knap opened #539 "Zkusit zmeny Petra - DPUs a pom.xml target"

[2013-09-23 05:27] tomas-knap commented on #531
Ok, thanks for the report, sorting for message column does not make much sense, so it may not work, that is fine. Please focus  on sorting of the execution monitor and then prepare for yourself the issue with milestone 0.5 to allow sorting of date & level in logs.

[2013-09-23 05:30] tomas-knap commented on #489
I think, it is ok as it is

[2013-09-23 05:30] #489 closed, assigned to tomesj

[2013-09-23 05:32] tomas-knap commented on #535
Sorry, just to validate DPU dialog. The problem is that I can upload DPU, for which there is an error when the dialog is tried to be initialized. So it would be helpfull to test to create the dialog internally when importing new DPU

[2013-09-23 05:56] tomas-knap commented on #532
Increasing prio, this is important, currently, I have three SPARQL loaders and do not know which one is writing to log

[2013-09-23 06:03] tomas-knap opened #540 "SPARQL Loader freezes for bigger data"
I was loading cca 200000 triples and in the middle of the process the loader freezes, showing:

![screen shot 2013-09-23 at 7 54 40 am](https://f.cloud.github.com/assets/3014917/1189503/1148425a-2415-11e3-90d6-3f5fd6a12b70.png)

And then nothing. But it freezes when loading triples of the type x y """content of a file""", thus, literal is long. On Friday, I was trying pipeline with chunk size 10,

[2013-09-23 09:45] tomesj commented on #540
Problem is only, when sql part has total more than 500 lines - (really is cca 1000 chunk size) it is on the Virtuoso site. In this case it is thrown exception and message about it:-)

This behavior is specific - if there is a problem with lenght, Virtuoso return it and you get an exception.

Last I tested graph it with 600 000 triples and chunksize=500 and it was fine :-)

[2013-09-23 10:25] skodapetr commented on #518
Related to #532

[2013-09-23 10:34] skodapetr commented on #532
Messages are logged in format:
12:19:16.229 [Thread-8] DEBUG c.c.x.i.b.d.e.DPUMessage - DPU '{dpu_name}' publish message short: '{short_message}' long: '{long_message}'

Also start/stop logs are generated. I also add information into backend file log about dpu do in backend's log it looks like:
2013-09-23 12:19:16,229 [Thread-8] DEBUG exec:5 dpu:4 cz.cuni.xrg.intlib.backend.dpu.event.DPUMessage -

[2013-09-23 10:44] tomas-knap commented on #518
duplicates #532

[2013-09-23 10:44] #518 closed, assigned to skodapetr

[2013-09-23 10:45] skodapetr commented on #330
Yes I'm the one who is responsible ... but this code is only very basic implementation which can go wrong for example if DB record is corrupted .. this should only prevent DPU failed on null pointer exception noting more.

Similar code is in every configuration. If DPU require more functionality then this need to be updated. Unfortunately I do not know specification and requirements on DPU's confi

[2013-09-23 10:47] skodapetr commented on #330
Tomas (Jirka): we should discuss the placement and role of the validation for isValid method and configuration dialog.

[2013-09-23 10:56] tomesj commented on #330
I think that here is the validation unnecessary. Required validation is performed directly on the form and does not store thus invalid data.

[2013-09-23 11:00] skodapetr commented on #330
Yes but imagine following situation: you add new field to the configuration .. replace the DPU .. and then the invalid configuration is set and DPU throws null pointer exception. IMHO is better to use such code to prevent this.

Also there is requirements that after replace every configuration should be re-validate. If all the validation code is in dialog .. the this would be meaning less.

But th

[2013-09-23 12:10] tomas-knap opened #541 "Cannot connect to database error apears during the pipeline execution"
Execution started but after a while (30s), the message appears:

![screen shot 2013-09-23 at 2 08 41 pm](https://f.cloud.github.com/assets/3014917/1191130/1bff18e8-2449-11e3-88b0-334918f8426a.png)

THe execution continues further.

Steps to reproduce: go to odcs.xrg.cz:8080/odcleanstore, select execution monitor.

[2013-09-23 12:14] tomas-knap commented on #541
When I turned backend off, the message disappeared after reloading execution monitor. Before that, even if I reload frontend, when I open execution monitor, the message occurs

[2013-09-23 12:21] bogo777 commented on #541
Notification comes from here:
if(cause.getClass() == VirtuosoException.class && ((VirtuosoException)cause).getErrorCode() == VirtuosoException.IOERROR) {
                        Notification.show("Cannot connect to database!", "Please make sure that the database is running and properly configured.", Type.ERROR_MESSAGE);
                        return;
                    }

So there had to be Virt

[2013-09-23 12:22] tomas-knap opened #542 "All core DPUs should support cancel - they may be interrupted"
Consult the documentation in intlib/documentation creation of dpus. Or Petr should know.

For SPARQL/RDF LOADER, when the dpu is cancelled, all generated data should be deleted. At least you should try to delete them. If it is not possible, end.

[2013-09-23 13:01] jakubklimek opened #543 "Execution monitor does not take all vertical space in the browser"
![image](https://f.cloud.github.com/assets/718827/1191384/30f52b8c-2450-11e3-9563-06450fd2ca32.png)

[2013-09-23 13:04] jakubklimek opened #544 "When clicking on debug data, Chrome freezes and takes the whole CPU core"
![image](https://f.cloud.github.com/assets/718827/1191404/9c4f7482-2450-11e3-9f17-360d18e7391b.png)

[2013-09-23 13:06] jakubklimek opened #545 "Error uploading DPU template as "user""
![image](https://f.cloud.github.com/assets/718827/1191418/ebd081b8-2450-11e3-9e17-ed7f31894ce5.png)

[2013-09-23 13:17] jakubklimek commented on #545
In addition, the directory was created and then even with another user I could not upload the DPU.
![image](https://f.cloud.github.com/assets/718827/1191500/7110c742-2452-11e3-9e21-fafe2df152cd.png)

[2013-09-23 13:17] jakubklimek opened #546 "Missing "s" in "exists""
![image](https://f.cloud.github.com/assets/718827/1191484/1a5d1acc-2452-11e3-9678-a7a89b8f7050.png)

[2013-09-23 13:20] skodapetr commented on #530
Could you provide name of that DPU I do simple test with different class and it worked.

The filter used to filter DEBUG logs should not in any means use information about log's source class.

[2013-09-23 13:24] jakubklimek opened #547 "DPU tree empty after exception"
DPU tree is empty after DPU template upload error.

![image](https://f.cloud.github.com/assets/718827/1191552/6ddd7a42-2453-11e3-8646-aedd0889eb38.png)

[2013-09-23 13:30] skodapetr commented on #547
Does it work if you open the application again? Like logout, login?
How did the upload failed? Was it the "replace" upload or "new template" upload?

[2013-09-23 13:33] jakubklimek commented on #547
I tried refreshing, that did not help. Then i refreshed the homepage and it jumped to login screen. After login it was OK. It was "new template" upload, failed with "access denied" see https://github.com/mff-uk/intlib/issues/545

[2013-09-23 13:40] jakubklimek opened #548 "Make the design responsive - ugly resizing"
When I shrink the browser window, frontend does not shrink with it. Instead, really ugly multiple and useless scroll bars show up.

![image](https://f.cloud.github.com/assets/718827/1191655/8d6b16ba-2455-11e3-93b7-8498593407a4.png)

[2013-09-23 13:49] jakubklimek commented on #541
And during save of pipeline

![image](https://f.cloud.github.com/assets/718827/1191739/00d008bc-2457-11e3-91e3-25f1f4fccac3.png)

[2013-09-23 14:02] tomas-knap commented on #541
Bohuslav, did you change the text for this exception from what is shown in #484 ?

[2013-09-23 14:38] tomas-knap commented on #509
backend should try to reconnect indifinitely

[2013-09-23 15:21] kukharm commented on #538
I've checked and corrected  the size of the buttons on standard dialogues, but i don't know how to change size of the buttons in confirmation dialogues. There are different size of the buttons in case of deleting: pipeline, scheduling rule, user, dpu template. Confirmation dialogues implemented using Add-on (as I understood) and  I have not found how to change the size of the buttons there. Maybe

[2013-09-23 15:34] jakubklimek opened #549 "Debug mode should set log message filter to "ALL", not "DEBUG+""

[2013-09-23 15:44] jakubklimek commented on #484
Still happening. Caused by large log messages (whole documents, for example)
![image](https://f.cloud.github.com/assets/718827/1192754/fcf1ed04-2466-11e3-91f6-793b66256aa6.png)

[2013-09-23 15:46] kukharm commented on #513
Please could you send me such file for testing? I can't reproduce the error.

[2013-09-23 16:08] kukharm commented on #413
I have made some changes in FileUploadReciever class, so test, please now.

I tested it in a way that i get wrong jar and named it as File_extractor-0.0.3, then when i tried to replace jar in RDF File Extractor the load was fail. Then after fail i got File_extractor-0.0.1 renamed it to File_extractor-0.0.3 and tried to replace ones again. Replace was successful.

[2013-09-23 16:13] jakubklimek opened #550 "Load from RDF/XML crashes when invalid input (only XML head)"
<pre><code>17:59:26.069 [Thread-95] DEBUG org.xml.sax.XMLReader - XMLReader initialized using JAXP: com.sun.org.apache.xerces.internal.jaxp.SAXParserImpl$JAXPSAXParser@64b4b346
[Fatal Error] :1:39: Premature end of file.
17:59:26.108 [Thread-95] ERROR o.o.r.h.ParseErrorLogger - [Rio fatal] Premature end of file. (1, 39)
17:59:26.113 [Thread-95] DEBUG c.c.x.i.r.i.VirtuosoRDFRepo - Problem parsing t

[2013-09-23 18:16] tomesj commented on #550
I think where is the problem:

You call method addFromRDFXMLFile, but your file is not in format RDF/XML, but in TRIX format (I see is called TRIX parser for that).

Method for parsing  right choise parser for file name suffix (e.g. file.ttl - is choosed TURTLE parser, file.rdf - is choosed RDF/XML parser, ...).

If file has no prefix, default parser is set as name method => addFromRDFXML = RDF/XM

[2013-09-23 18:30] bogo777 commented on #541
No, this is different exception, but I will comment out my replace until I make it more concrete, and we will see the original exception.

[2013-09-24 05:37] tomas-knap opened #551 "Problem when encoding chars to URI during SPARQL loader"
Input to loader, triples:

<pre>http://odcs.xrg.cz:8899/sparql?default-graph-uri=http%3A%2F%2Flinked.opendata.cz%2Fresource%2Fodcs%2Finternal%2Fpipeline%2Fexec%2F33%2Fdpu%2F3%2Fdu%2F1&query=select+*+where+%7B%3Fs+%3Fp+%3Fo%7D&format=text%2Fhtml&timeout=0&debug=on
</pre>

But all these triples fail when SPARQL loader is executed due to:

![screen shot 2013-09-24 at 7 09 37 am](https://f.cloud.githu

[2013-09-24 05:39] tomas-knap commented on #551
Jirka, in case of such errors, output to the log the encoded part being inserted in the loader and being wrong!!

[2013-09-24 06:48] tomas-knap commented on #513
Take whatever DPU like and change pom.xml -> mainClass parameter for example. mvn install the changed dpu and test

[2013-09-24 07:09] jakubklimek commented on #100
I am almost sure that cancelling does not work as we discussed. When I click Cancel, the pipeline is immediately in the "Cancelled" state. However, it should be in "Cancelling" state until it really terminates, then "Canceled". please verify and fix if true.

[2013-09-24 07:21] jakubklimek opened #552 "Add run and debug buttons to execution monitor"
There is not enough space, so please add short buttons with "running" icon and "debug data" icon instead. For now, do not show for running and cancelling pipelines, show for all other states.

[2013-09-24 07:25] tomas-knap opened #553 "ConfiguratorTest class in Backend has an error"

[2013-09-24 07:25] #553 closed, assigned to skodapetr

[2013-09-24 07:25] jakubklimek commented on #262
When backend crashes (as a process), all its threads are terminated as they are local to the process, right?

I would suggest to block in ctx.canceled() until resumed so that DPU developers do not have to do anything new.

[2013-09-24 07:52] jakubklimek opened #554 "Tempdirs should contain DPU name somehow"
tempdirs for dpus are like dpu_1, dpu_2... that is not good. I need to see which dpu it is from the name. So something like dpu_1_sparqlloader or something.

[2013-09-24 08:09] tomas-knap commented on #541
So the more concrete message:

![screen shot 2013-09-24 at 10 08 13 am](https://f.cloud.github.com/assets/3014917/1198178/8d642260-24f0-11e3-8c04-89dff24f9dbc.png)

[2013-09-24 08:52] tomas-knap commented on #551
Mas tam navic zpetne lomitko vzdy pred '>' u tech XML souboru vliteralu. Kde se to tam bere?

[2013-09-24 10:13] tomas-knap opened #555 "Backend DPU file watcher is observing also other files then jar files with DPUs"
![screen shot 2013-09-24 at 12 12 37 pm](https://f.cloud.github.com/assets/3014917/1198937/f0ed2fdc-2501-11e3-8798-9a7fdb072ca6.png)

[2013-09-24 10:18] tomesj commented on #551
Já jsem použil tabulku pro znaky, které musí být escapované, kterou posílal Jakub - viz issue #511

<pre>The character escapes are:
\t (U+0009, tab)
\n (U+000A, linefeed)
\r (U+000D, carriage return)
\" (U+0022, double quote - only allowed inside strings)
\> (U+003E, greater than - only allowed inside URIs)
\\ (U+005C, backslash)
\uHHHH or \UHHHHHHHH for writing Unicode characters by hexadecimal c

[2013-09-24 10:28] tomesj commented on #551
Zkoušel jsem teď vkládat, literály obsahující > do Virtuosa a skutečně není potřeba, aby byly escapované - projde to v pohodě.

Opravím to tedy v kódu a tím by to mělo být OK.

[2013-09-24 10:31] tomas-knap opened #556 "When updating DPU while it is in use"
12:15:59.377 [Thread-3] DEBUG c.c.x.i.c.a.m.o.OSGIChangeManager - Udating DPU in: Simple_XSLT
12:15:59.640 [Thread-3] DEBUG c.c.x.i.c.a.m.i.FileNotifierClient - Failed to delete notification file.
java.nio.file.NoSuchFileException: /data/odcs/target/dpu/Simple_XSLT/Simple_XSLT-0.0.1.jar.update
 at sun.nio.fs.UnixException.translateToIOException(UnixException.java:86) ~[na:1.7.0_40]
 at sun.nio.fs.

[2013-09-24 10:39] skodapetr commented on #556
Yes it is possible. It is just a debug message. The reason is simple. As we do not know if backend, frontned is running both try to delete this file. So one of them must fail. But I can remove this message from log.

Prevent such behaviour would require to know who is backend and who not .. like backend try to delete after 1 second and frontend immediately. Should we try this approach?

[2013-09-24 10:41] tomas-knap commented on #551
Jirko, napis rovnou test na to, tedy zebudes mit data co nam neprochazela a ted uz budou ok. Otestuj taky prosim ty dalsi veci, tedy:

literal.getLabel().replace("\", "\\")

Tohle dela co?  Proc to tam je:
        if (label.endsWith("\"")) {
            label = label.substring(0, label.length() - 1) + "\\"";
        }

[2013-09-24 11:11] tomesj commented on #551
Testy na toto přidám, co nejdříve.

Jinak k významu:
1) <pre><code>literal.getLabel().replace("\", "\\")</code></pre>
- escapuje všechna zpětná lomítka

2)

<pre><code>
if (label.endsWith("\"")) {
label = label.substring(0, label.length() - 1) + "\\"";
}</code></pre>
- v případě, že literál končí znakem uvozovky ", je potřeba buď escapovat - nahradit za \", či např.přidat znak mezery na konec. Jak

[2013-09-24 11:17] skodapetr commented on #509
I update the default configuration, now backend try to reconnect indefinitely. Is this enough?

[2013-09-24 15:01] skodapetr commented on #100
Still there is a problem with missing icon. Re-assign to Bohuslav.
Bohuslav please .. we are missing icon for cancelling state in execution monitor. I can see the icon in filter but not for the execution record it self.

[2013-09-24 16:21] #480 closed, assigned to skodapetr

[2013-09-24 16:30] jakubklimek commented on #556
Well.. it is a stack trace = critical error that needs to be looked into, results produced from this point are not safe.

If you know that this can happen, you need to catch the exception and write a user-friendly message like "I tried to delete xxx and failed, but is is ok as ... probably deleted it before me"

And why do they both try to delete?

[2013-09-24 16:53] skodapetr commented on #556
Both utilize the same FileNotifierServer.
The server watch directory and if file is created then publish notification event and try to delete the notification directory. So the communication medium is file system.

The problem is that we do not know if run only backend, only frontned or both are running. So every instance try to delete for case that it's the only running instance of FileNotifierSe

[2013-09-24 17:31] kukharm commented on #513
I got file extractor DPU and changed in pom.xml mainClass parameter FileExtractor to File. Then when i tried to replace file extractor jar to this new error jar, i got only one exception
![error](https://f.cloud.github.com/assets/3471169/1202073/0fd5e01e-253f-11e3-95b2-76a6fba29cec.png)

[2013-09-24 17:39] skodapetr commented on #513
And is there class File in this DPU, because if not .. then this is expected behaviour.

[2013-09-24 17:48] kukharm commented on #513
i tried one more change mainClass now to "blalblabla" and got the same error, only one.

[2013-09-25 06:15] tomas-knap commented on #550
Jirka,

please test the method addFromRDFXMLFile. IT should consume RDF/XML file and add such file to RDF rep. Please verify that and write here as soon as possible.

In RDF File extractor/loader, the format of file is determined automatically or user may select from combo box, that is fine. But when calling from anywhere method addFromRDFXMLFile, it must consume RDFXML file. Check that please

[2013-09-25 06:20] tomas-knap opened #557 "Test auto format in RDF extractor/loader"

[2013-09-25 07:47] jakubklimek opened #558 "Scheduling enhancement based on ARES use case"
I have a DPU Template https://github.com/mff-uk/DPUs/tree/master/ares and I need it to schedule as follows:
1. Between 8:00 and 18:00 run in pipeline which downloads 1000 pages
2. Between 18:00 and 8:00 run in pipeline which downloads 5000 pages

I can set the number of downloaded pages in the DPU configuration. However, when backend crashes and does not work for e.g., 2 days, then both of the pip

[2013-09-25 07:50] jakubklimek opened #559 "Scheduling: Add "Do not run when schedule is missed""
When something is scheduled to run daily at 8AM and it is missed (for example backend not running) and then it is for example 4PM and scheduler runs, it should check whether "Do not run when schedule is missed" is not set. If it is not, the pipeline runs. If it is, it does not run and runs again next day at 8AM.

[2013-09-25 08:27] skodapetr commented on #461
2.1 we use special file now, so this should not be relevant any more

[2013-09-25 08:29] #461 closed, assigned to skodapetr

[2013-09-25 10:45] skodapetr commented on #309
Pipeline Executor also split and support pre/post executors.

[2013-09-25 10:45] #309 closed, assigned to skodapetr

[2013-09-25 12:29] tomesj commented on #550
OK, I check it now, but I think that consume RDF/XML file :-)

[2013-09-26 11:47] #510 closed, assigned to kukharm

[2013-09-27 12:44] #549 closed, assigned to bogo777

[2013-09-27 12:51] #100 closed, assigned to bogo777

[2013-09-27 22:22] janvojt commented on #487
EclipseLink is currently implemented by commit 4dfbfa99. Application runs noticeably faster than before, but there is still big room for improvement. I am closing this issue, new issues will be created for further optimizations.

[2013-09-30 06:41] tomas-knap opened #560 "Prejmenovani na odcs - dokonceni"
Co není:

Nepřejmenovával jsem třídy ve frontnedu začínající na Intlib... zde myslím, že by obecně bylo lepší přistoupit k nějakému refraktoringu. Honza již zmiňoval použití springu ... to by také přivedlo jisté změny jenž je třeba obecněji začlenit.

Nepřejmenoval jsem Theme frontendu.

Nepřejmenoval jsem prefixy tabulek v DB. Přeci jen už tak je úprav dost a nechtěl jsem aby update skript byl zb

[2013-09-30 06:48] tomas-knap commented on #509
yes, will test and close

[2013-09-30 07:01] tomas-knap commented on #497
Od Bohuslava: Zvedl jsem max délku na 256 znaků a přidal validátor. U komentářů jsem nastavil délku na 512. Chtěl jsem změnit i délku jména u DPU, ale to pak vypadalo blbě v DPU Tree. Poprosím Honzu o vyjádření, zda to prodloužení neovlivní výkon db, případně na jak moc by se to ještě dalo prodloužit. A ostatní, jestli má smysl mít možnost ještě delších jmen/komentářů s tím, že u DPU tree by se jm

[2013-09-30 07:02] tomas-knap commented on #497
Bohuslave, for descriptions, I would remove any restriction. In terms of pipeline name, is there any performance impact for Strings above 256 chars? Or why such number?

[2013-09-30 07:02] tomas-knap commented on #458
Od BohusL: Run time je generovaný sloupec, který se aktualizuje/znovu generuje pouze při změně dat, není tedy možné ho jednoduše aktualizovat při každém refreshi(pokud nedochází k načtení execution záznamů z db), ale určitě to půjde nějak vyřešit, jen jsem to kvůli poměru pracnost/přínos zažadil až za ten debug

[2013-09-30 07:03] tomas-knap commented on #520
Bohuslave, so this is prepared for testing?

[2013-09-30 07:10] bogo777 commented on #520
Zatím ne, je potřeba rozhodnout pár věcí, co s tím souvisí, viz. můj poslední mail, ale zkopíruju to sem:
1. Zobrazení DPU Instance u logů - Musíme se rozhodnout, zda upravíme reprezentaci DPU instance u logů(nový sloupec pomocí triggerů), což zhorší performance při běhu pipeline, nebo to necháme tak, jak to je, což zhorší performance při zobrazování logů a znemožní třídění podle DPU Instance v ta

[2013-09-30 07:10] #513 closed, assigned to kukharm

[2013-09-30 07:11] tomas-knap commented on #295
So it is ready for testing?

[2013-09-30 07:12] tomas-knap commented on #502
Please document in confluence on the page with DPU details that you do not need to save when updating jar.

[2013-09-30 07:13] tomas-knap commented on #515
Create DPU, with readonly text box. Then when loading configuration to the dialog, call textBox.setValue();

[2013-09-30 07:24] tomas-knap opened #561 "Facades, which do not fall"
Co bych potřeboval je od Honzy pádu-odolné asi všechny facady. Neb pokud vím aktuálně je takto poskytnuta pouze pipeline, nicméně minimálně bych potřeboval ještě DPU, logování .. a nejlépe i user. Neb ono nakonec se při běhu sahá do těchto všech.

Zde přiznávám je to trochu práce .. ideální by bylo kdyby to bylo vše jeden interface a napsala se jedna nadstavba, ale to bych těch facade zase bylo mn

[2013-09-30 10:55] skodapetr commented on #559
The "strict timing" should now be accessible. User can specify the tolerance and if strict timing should be used in scheduler detail dialog.

If the schedule time is missed and the difference is greater the tolerance then the schedule is simply not executed.

[2013-09-30 13:00] tomesj commented on #521
Implemented by method - File executeSelectQuery.
See line 1506 on https://github.com/mff-uk/intlib/blob/e7dc256658f193163450987dec604dfe5615a6f1/rdf/src/main/java/cz/cuni/mff/xrg/odcs/rdf/impl/BaseRDFRepo.java,

[2013-09-30 13:07] tomas-knap commented on #521
https://grips.semantic-web.at/display/LOD2/Debug+Pipeline

a select query - formats are:
N3/Turtle -  it behaves like "N3/Turtle" result format in virtuoso/sparql interface
CSV - it behaves like CSV result format in virtuoso/sparql interface

Both these options are working?

[2013-09-30 13:51] tomas-knap opened #562 "Problems with pipeline copy, than everywhere"
When trying to copy [INTLIB] Decisions from nsoud.cz pipeline at odcs.xrg.cz:8080/odcleanstore, and trying to show the newly created pipeline record (by going to the page with that record, filtering the page), I got:

![screen shot 2013-09-30 at 3 49 08 pm](https://f.cloud.github.com/assets/3014917/1237385/3ef79ac6-29d7-11e3-91a8-d244f12322c4.png)

I cannot work with gui, because everytime the db

[2013-09-30 14:29] tomas-knap opened #563 "addFileToRepository does not respect the file format in the input param"
Method: addFileToRepository contains:

RDFFormat fileFormat = RDFFormat.forFileName(
                dataFile.getAbsolutePath(),
                rdfFormat);

So it tries to guess the right data format. That is fine, however, the method addFileToRepository may contain the required data format as an input. In that case, there is no reason for guessing. So in general. Guessing should take please only

[2013-09-30 14:31] tomas-knap commented on #550
See #563

[2013-09-30 14:31] #550 closed, assigned to tomesj

[2013-09-30 14:40] tomas-knap commented on #562
At least a way how to remove such problem from db is needed, so that the deployment odcs.xrg.cz is running. (this is urgent) . Tedy napriklad smaz tu pipeline 14 ze vsech relevantnich mist

[2013-09-30 14:47] skodapetr opened #564 "Unused variable Schedule.name"
Variable Schedule.name is stored into DB but is not visible to the user and can not be set by user. (simply missing in dialog). On the other Hand when sending notification or logging name can be handy.

Should we remove the name, or start to use it?

If we decide to use the name then I propose following solution:
Use generic name or give user possibility to provide the name. Or better if user prov

[2013-09-30 14:59] tomas-knap opened #565 "Refactoring of PipelineGraph - separate business logic"
What it the purpose of DB.INTLIB.PPL_GRAPH? WHy pipeline_id is not used in all DB.PPL.\* instead of graph_id?

[2013-09-30 15:15] janvojt commented on #565
It is a mapping for object `PipelineGraph`. Every entity must have a corresponding table (ORM = Object-Relational Mapping).

[2013-09-30 15:24] tomas-knap opened #566 "GUI - refactoring"
Bohuslave, mohl bys prosim mrknout na ty jednodussi veci, resp. takove, ktere maji minimalni sanci, ze ti zprasi jiz fungujici kod. Tedy napriklad ty balicky, zjednotit indentaciu (tabs/spaces), atributy v classach su niekde zamiesane az za normalne metody, podobne konstruktory, proste takove ty formalni veci - viz https://grips.semantic-web.at/display/LDM/LODMS+Coding+Guidelines

ZKusil bys to pr

[2013-09-30 15:25] tomas-knap commented on #565
Ok, so probably we should call it pipeline instead of graph? Or what is the purpose of PipelineGraph? Can be one pipeline associated with more than one graph?

.. probably yes, in case of standard and devel mode. Ok let's keep it as it is.

[2013-09-30 15:32] tomas-knap opened #567 "SPARQL Update which uses certain triples in input to create output"
Motivatio: I have SPARQL update - insert query, which takes certain triples from input and stores to the output. The original output is not outputted further. How could user write such query in SPARQL transformer? Basically the inserted triples should be in a output data unit but the WHERE condition in the query should work on the input data unit

[2013-09-30 15:49] janvojt commented on #565
Well, there is actually too much logic in the `PipelineGraph`. I mentioned it at the meeting. It would be cleaner if we refactored it, so that `PipelineGraph` is just a data object, and move the logic into service layer.

[2013-09-30 16:38] janvojt commented on #562
I deleted the pipeline from DB and it is fine now. I am closing this, please reopen if you can reproduce on current version (with eclipselink).

[2013-09-30 16:38] #562 closed, assigned to janvojt

[2013-09-30 18:24] janvojt commented on #484
Again, I cannot fix this, if I cannot reproduce it. At least a stacktrace would be helpful. The attached screenshots do not tell much. To resolve this issue, please reproduce it and send me an email with database dump.

It would be better if you try to reproduce on version with eclipselink.

[2013-09-30 20:47] #426 closed, assigned to janvojt

[2013-09-30 22:19] kukharm opened #568 "schedulig rule creation exception"
I tried to create scheduling rule and got exception

[EL Warning]: 2013-10-01 00:18:05.531--UnitOfWork(18432983)--Exception [EclipseLink-4002](Eclipse Persistence Services - 2.5.1.v20130824-981335c): org.eclipse.persistence.exceptions.DatabaseException
Internal Exception: virtuoso.jdbc4.VirtuosoException: SR133: Can not set NULL to not nullable column 'DB.INTLIB.SCH_SCH_NOTIFICATION.schedule_id'
E

[2013-10-01 08:18] #383 closed, assigned to bogo777

[2013-10-01 08:21] jakubklimek commented on #502
OK, so what about the change detection and enabling/disabling save button accordingly? This should be consistent with the rest of ODCS.

[2013-10-01 08:54] skodapetr commented on #568
Hi, this is my fault probably. I think that it can be fixed by updating database regarding Jan's last database update commit.

[2013-10-01 08:58] skodapetr commented on #502
To the documentation ... best to my knowledge the DPU replace is not documented at all. As this feature should not be initially supported.
So we probably have to create the documentation for the whole replace.

[2013-10-01 09:28] kukharm commented on #568
Hi Petr, i have it after last commit

[2013-10-01 09:30] tomesj commented on #521
N3/TURTLE format is not supported for select in openRDF.

Available formats for saving result of select query are:
XML, CSV, JSON, TSV

I add new enum as new param, when you defined your output format for select.

[2013-10-01 09:52] tomesj commented on #521
Solved in commit c0189436561f205dfe5e8bf9f4deddcb34b4b378

[2013-10-01 11:24] kukharm commented on #295
It's ready for testing

[2013-10-01 12:00] tomas-knap opened #569 "Namespace prefixes - ask prefix.cc for URI for the prefix"
User clicks "add new prefix", fills the desired namespace prefix and if such prefix has URI on prefix.cc, suggest this URI.

[2013-10-01 12:21] janvojt commented on #327
@bogo777 please comment about state of this issue, is it still relevant?

[2013-10-01 13:05] tomas-knap commented on #567
Suggested solution: Support two types of queries:
- SPARQL Update, which behaves as now
- SPARQL Construct, which operates on input rdf data unit and writes the results to output data unit

[2013-10-01 13:11] tomas-knap commented on #497
As also confirmed by Honza, there is no big performance loss. So the description should not be restricted, name should be longer, e.g. 2048 as proposed by Jakub

[2013-10-01 13:19] #327 closed, assigned to janvojt

[2013-10-01 13:20] bogo777 commented on #327
It was resolved by other improvements of debugging.

[2013-10-01 13:34] bogo777 opened #570 "Allow sorting of date & level in logs"

[2013-10-01 13:35] bogo777 commented on #531
Closed, rest if issue moved to new issue #570

[2013-10-01 13:35] #531 closed, assigned to bogo777

[2013-10-01 14:06] tomas-knap commented on #551
Zkontrolovat specifikaci SPARQL 1.1., upravit podle toho a zkusit na virtuoso a fuseki.

[2013-10-01 14:17] tomas-knap commented on #486
Nastavitelne cekani v dialogu, a umoznit zkouset donekonecna (-1)

[2013-10-01 14:18] tomas-knap commented on #486
Treti moznost - v pripade chyby v jedne parts zkusit cele znovu

[2013-10-01 14:36] tomas-knap commented on #529
structure je logback dependent

[2013-10-01 14:36] #529 closed, assigned to tomas-knap

[2013-10-01 14:42] tomas-knap opened #571 "Documentation for Security layer - which objects, how.."

[2013-10-01 14:50] tomas-knap commented on #487
Optimize lazy loading. When pipeline exec needs user, it loads pipeline and user details for each exec record

[2013-10-01 14:51] tomas-knap opened #572 "Show names of pipelines in exec monitor"
relates to #487

[2013-10-01 14:58] tomas-knap opened #573 "Prepare new pipelines for fresh install"
jakou pipeline

[2013-10-01 15:02] tomas-knap commented on #520
Ad 1) nechme jak je (tedy dpu instance v jine tabulce)
Ad 3) Bohuslav, use proper method for iterating over SELECT (ask jirkafor details)

[2013-10-01 15:16] tomas-knap commented on #568
![screen shot 2013-10-01 at 5 15 58 pm](https://f.cloud.github.com/assets/3014917/1246349/731cee52-2aac-11e3-91f0-4e706333ee1e.png)

[2013-10-01 15:20] tomas-knap opened #574 "Problems with table Namespaces"
RDF_PREFIXES koliduje s virtuoso tabulkou. Change the name

[2013-10-01 15:32] tomas-knap commented on #502
Nez upravim DPU template general, tak tlacitko save je disabled. Jakmile neco upravim a opustim textbox atd., save bude enabled. Kdyz prejdu na DPU template conf, tak je save enabled. Kdyz opoustim DPU template dialog a save je enabled, tak pokud zmenu generovala zalozka general, tak upozornim. Pokud to generovala zalozka confiuuration tak zjistim jestli se conf opravdu zmenila a kdyz jo, tak upoz

[2013-10-01 15:40] tomas-knap opened #575 "Notification dialog - delete DPU - posuvnik"
![screen shot 2013-10-01 at 5 37 58 pm](https://f.cloud.github.com/assets/3014917/1246609/c9b9b9a4-2aaf-11e3-92b4-995a9d4ea55b.png)

[2013-10-01 15:49] tomas-knap commented on #413
Problem: When I select jar file to be uploaded, it fails. THen I try again to select another, save, but it is not saved

[2013-10-01 15:54] tomas-knap commented on #505
Remains: Check validity of configurations when DPU template changes. Send mail when there is a problem.

[2013-10-01 15:56] tomas-knap commented on #505
Should be checked by backend

[2013-10-01 22:14] #568 closed, assigned to janvojt

[2013-10-01 22:22] janvojt opened #576 "Email notifications for schedule cannot be disabled."
Scenario:
1. Create a new schedule with some email notification.
2. Save schedule.
3. Edit the same schedule.
4. Uncheck checkbox "Overwrite default settings for all scheduled events with the following:".
5. Save changes.
6. Open the same schedule again.

Expected result: checkbox "Overwrite default settings for all scheduled events with the following:" is unchecked

Actual result: checkbox "Overw

[2013-10-02 08:16] tomas-knap opened #577 "c.c.m.x.o.b.p.e.PipelineRestart - Pipeline execution has been restarted"
Please add info about pipeline name and execution record id?

[2013-10-02 09:41] janvojt commented on #70
This was resolved by using Eclipselink, which can fetch lazy-loaded object after the session is closed.

[2013-10-02 09:41] #70 closed, assigned to janvojt

[2013-10-02 13:49] tomas-knap opened #578 "Problem running frontend due to Spring issue?"
When trying to run war app, I got:

But the settings for connection are ok. Please look on that asap.

[code]

[2013-10-02 15:09] skodapetr commented on #577
I have modified the logback file .. so now the stdout log is in same format as log into file. Example:
`2013-10-02 17:07:12,779 [main] INFO  exec: dpu: c.c.m.x.odcs.backend.AppEntry - Running ...`

So there is implicit information about execution and dpu .. so in my opinion we do not need to replicate this information once more.

[2013-10-02 19:57] janvojt commented on #578
I cannot reproduce. The exception message is clear: bad login. Perhaps your configuration is being read from a different file than you expect? Maybe password in configuration contains special characters which are not properly escaped?

If you still don't know why this is happening, send me the war archive and I will inspect it.

[2013-10-02 20:35] #578 closed, assigned to janvojt

[2013-10-02 22:17] tomas-knap opened #579 "When running pipeline, malformed input is shown"
![screen shot 2013-10-03 at 12 14 50 am](https://f.cloud.github.com/assets/3014917/1257872/2b57ce8e-2bb0-11e3-9e41-79a7a12c131d.png)

To reproduce: GO to odcs.xrg.cz:8080/odcleanstore and try to run any pipeline.
Honza, please look on that when #572  is done.

[2013-10-03 06:04] tomas-knap commented on #579
When testing on new fresh db, it does not occur, at least not for dbpedia pipeline

[2013-10-03 06:32] tomas-knap commented on #579
Koukam, ze po aplikaci update scriptu mi u stavajicich pipeline u core DPUs otevreni DPU detail hlasi:

Unexpected exception configuration object a conf je prazdna.

Co je pricinou? Mozno vyzkouset na odcs.xrg.cz:8080/odcleanstore u dbpedia pipeline

[2013-10-03 06:35] tomas-knap commented on #579
Aha, uz vim, v conf je:

<pre>
object-stream cz.cuni.mff.xrg.intlib.extractor.rdf.RDFExtractorConfig ..</code></pre>

Je treba zmenit na cz.cuni.mff.xrg.odcs.extractor.rdf.RDFExtractorConfig

Tedy bude treba napsat nejaky script na prepis konfiguraci a nebo je zahodit. Udelat znovu konfigurace je tak na 2-3h, na jak dlouho je ten script odhadem?

[2013-10-03 06:49] tomas-knap commented on #579
Udelam si to rucne, nereste. Nicmene ten puvodni problem tohoto issue zustava, mrkni na to prosim Honzo, pripadne prosim diskutuj s Bohuslavem. Opet mozno vyzkouset na dbpedia pipeline - uz normalne sebehne, ale kdyz kliknu na show log, tak mi vyskoci ta chyba.

[2013-10-03 07:10] tomas-knap commented on #579
tak jsem vymazal logy a vyresilo se to.

[2013-10-03 08:07] tomas-knap commented on #579
Tak uz jsem na to narazil, mrkni na odcs.xrg.cz na pipeline [INTLIB] Decisions from nsoud a tu si pust v debug modu. Zkus si pak proklikavat logy, mrkni trebas na vystup jTaggerAnnot DPU.

[2013-10-03 09:23] tomas-knap commented on #579
tohle je dulezite, bez toho se nedaji pipelines ladit, prohlizet logy, ...

[2013-10-03 11:20] tomas-knap opened #580 "More space for pipeline name in pipeline edit"
Name textbox should have the same width as the description text box

![screen shot 2013-10-03 at 1 18 53 pm](https://f.cloud.github.com/assets/3014917/1260904/ad7abab2-2c1d-11e3-8cc8-b5e9a9502cbb.png)

[2013-10-03 11:29] tomas-knap commented on #567
[10/3/13 1:28:11 PM] Tomas "nappy" Knap: Jirko, k tomu jak jsi upravoval SPARQL transformer, neprojde mi validace
[10/3/13 1:28:17 PM] Tomas "nappy" Knap: prefix lex: http://purl.org/lex# prefix frbr: http://purl.org/vocab/frbr/core#
prefix dcterms: http://purl.org/dc/terms/
prefix fn: http://www.w3.org/2005/xpath-functions/#
construct {
 ?eoz a frbr:Expression.
 ?eoz frbr:realizationOf ?oz .
 ?eo

[2013-10-03 13:14] tomesj commented on #567
Tak jsem to upravil, aby to nově bralo validaci jak update query, tak specialne navic pro construct....Upravil jsem implementaci, protože výsledkem constructu je graph,  tedy všechny jeho trojice se přidávají do grafu, který je označen jako output (contruct je provádí ještě nad inputem).

Bohužel to nemohu u sebe vyzkoušet, jestli je to OK, protože mi od včerejška stále nejde frontend, Petrovi už

[2013-10-03 14:22] tomas-knap commented on #567
ok, zkusil jsi to aspon pres nejaky test, ktery otestuje ciste ty metody pro vykonavani dotazu?

[2013-10-03 14:25] skodapetr commented on #567
Jirka: Frontend .. měl jsi stejný problém jako Tomáš tuším a ten to nakonec opravil konfigurací. Kdyžtak vyvěs klasicky issue .. neb jestli jsi psal přímo mě .. tak jsem to asi někde ztratil .. :(

[2013-10-03 15:02] tomas-knap commented on #567
Jirko, k te tve issue, zkus undeploy, restrat tomcatu, clean & build a novy deploy

[2013-10-03 15:08] #572 closed, assigned to janvojt

[2013-10-03 15:57] #580 closed, assigned to bogo777

[2013-10-04 07:13] tomesj commented on #567
K tomu testování bych potřeboval ideálně ten formulář, můžu samozřejmě zkusit přímo ten tvůj construct, ale jelikož nemám vstupní data přímo určená pro toto v dotaze, tak těžko dostanu nějaké trojice.

Pro jiný obecný construct jsem to už zkoušel a funguje (pokud se bavíme čistě o metodě), zda to správně jde uložit a   validovat přes formulář je třeba otestovat.

Zkouším nyní zprovoznit ten fronte

[2013-10-04 08:18] tomas-knap commented on #541
Similar to #579

[2013-10-04 08:19] #552 closed, assigned to bogo777

[2013-10-04 08:26] bogo777 commented on #520
This should be ready, last thing to decide/implement is paging of RDF data. It point 3. in my last comment. I think only a) or b) are easily implementable.

[2013-10-04 08:34] tomas-knap commented on #566
Bohuslav, is this task done?

[2013-10-04 08:37] tomas-knap commented on #477
Bohuslav, is this still relevant? Or was it solved with Eclipse ORM framework?

[2013-10-04 08:39] tomas-knap commented on #462
Should be solved as discuss in mail:
a) aktualizovat pouze řádek s rušenou exekucí(což nezajistí, že máme aktuální data, ale k tomu nahrání by došlo při dalším 5s refreshi)

Aneb pokud kliknu na cancel u jedne pipeline, neni nutne znovu stahovat cely obsah tabulky

Od Honzy: Najlepsie by bolo asi keby si to a) spravil priamo v lazyContaineri, predstavujem si nieco ako refresh(row) ako alternativa

[2013-10-04 08:39] tomas-knap commented on #381
Do we need to discuss something here? Or is it clear?

[2013-10-04 08:41] bogo777 commented on #566
It is done, maybe some more changes in packages should be done, but that's up for discussion or opinion of somebody other than me.

[2013-10-04 08:43] bogo777 opened #581 "Make refreshRow() method for LazyQueryContainer"
This should make refresh much faster in cases when single or only few of the rows need refreshing.

[2013-10-04 08:44] bogo777 commented on #477
It depends on refresh time, so Eclipse ORM framework helped, but it can still occur.

[2013-10-04 08:45] bogo777 commented on #462
Will solve, made issue fot that #581.

[2013-10-04 08:47] bogo777 commented on #381
I get same exception regardless of what happens in login process so I have no way to detect this. Reassigning to Honza for propagating different exceptions to me.

[2013-10-04 08:53] #539 closed, assigned to tomas-knap

[2013-10-04 08:54] tomas-knap commented on #504
launch DPU as part of Test

[2013-10-04 08:55] #251 closed, assigned to tomas-knap

[2013-10-04 08:59] tomesj commented on #567
Tak frontend už mi funguje, díky za radu, Tome.
Jinak jsem zkoušel teď přes formulář ten construct a vše v pohodě, akorát jeho výsledkem nebylo při následném běhu pipeline nic, protože jsem neměl žádná data určená pro tento dotaz.

[2013-10-04 09:05] tomesj commented on #540
Tell me please name of pipeline, where the problem is. I try to debug and find out, where is problem.

[2013-10-04 09:06] tomas-knap opened #582 "LastStatus column values on Pipeline list should be presented with icon as in exec monitor"

[2013-10-04 09:08] tomas-knap commented on #582
it should have also filter

[2013-10-04 09:10] tomesj commented on #540
For testing purposes, please obtain me the latest version at http://odcs.xrg.cz

Thanks.

[2013-10-04 09:29] tomas-knap commented on #520
To realize b), there is a method executeSelectQueryAsTuples on baseRDFRepo, you may use. On the returned value, you may call next() to get more data.

But the problem in this case (b), user cannot filter the results right? Cannot sort the columns etc. I would suggest to:
return and show all results returned by RDF store using the same approach as for logs - lazyloadingcontainer. You can easily get

[2013-10-04 09:34] tomas-knap commented on #520
Do you see any problem of applying the same lazyLoading principles as for logs also to RDF data being results on the queries?

[2013-10-04 09:47] tomas-knap opened #583 "In execution monitor the records should be by default sorted from the newest to oldest"

[2013-10-04 10:29] tomas-knap opened #584 "DPUs -> DPU Instances - if more instances of the DPU template occurs on certain pipeline, show only one record in the tab"
Wrong:
![screen shot 2013-10-04 at 12 28 00 pm](https://f.cloud.github.com/assets/3014917/1268467/d6ad74b6-2cdf-11e3-83c5-7810fb784bfd.png)

Correct: Just one row, because all instances are on the same pipeline

[2013-10-04 10:35] tomas-knap commented on #567
Jirko, zkus prosim na http://odcs.xrg.cz:8080/odcleanstore/#!PipelineEdit/13, vytvor tam novy SPARQL transformer test DPU a dej tam to query, co jsem ti posilal. Mi to nefunguje. SPARQL transformer jsem tam novy daval.

[2013-10-04 10:41] tomesj commented on #567
Zjistil jsem, že tam nemáš poslední verzi - upravoval jsem validaci v RDF modulu. Máš tam ještě starou verzi, proto to nejde

[2013-10-04 10:48] tomas-knap commented on #567
?? Jak nemam posledni verzi? Jsem stahoval dnes z gitu

[2013-10-04 10:50] tomas-knap commented on #567
A jeste mam dotaz, proc mi novy SPARQL transformer,ktery natahnu na pipeline hlasi Configuration problem?

[2013-10-04 10:50] tomesj commented on #567
Ja totiž ve validaci následně ještě objevil jednu drobnou chybu, tu jsem opravoval někdy dnes dopoledne.

[2013-10-04 10:53] tomas-knap opened #585 "Format of Last execution time (pipeline list) should be the same as for Date (execution monitor)"

[2013-10-04 10:56] tomas-knap commented on #567
Jirko, tenhle update mam. tedy mrkni prosim na ten odcs.xrg.cz, proc to nefunguje, Posilal jsem mail, kde jsou pristupove udaje k serveru, kde jsou logy atd.

[2013-10-04 10:56] tomesj commented on #567
Jo, tak to by mě zajímalo taky. Vyhazuje to tuším invalidDialogException. Nic takového nikde u SPARQL transformeru nevidím...To se asi řeší na jiné úrovni, možná databáze, těžko říct.

[2013-10-04 11:01] tomesj commented on #567
Koukám, že to máš stále stejné - tuhle chybu jsem měl totiž před opravou taky, ale teď v aktuální verzi na lokálu ji už nemám.

[2013-10-04 11:01] tomas-knap commented on #567
Ja byc rekl, ze je problem v tom, ze query je mandatory, ale defaultne tam zadne prednastavene neni. Ale zpet k tomu puvodnimu problemu s tim construct query, zkus to prosim na odcs.xrg

[2013-10-04 11:06] tomas-knap opened #586 "When saving/closing pipeline edit, I am forwarded back to homepage, not to pipelineList"

[2013-10-04 11:06] tomesj commented on #567
Na odcs.xrg se mi nejde vůbec přihlásit (předpokládám stejné přihlašovací údaje)

[2013-10-04 11:07] tomas-knap commented on #567
admin/test funguje normalne

[2013-10-04 11:07] tomas-knap commented on #567
Jirko, zapni si kdyztakprosim skype

[2013-10-04 12:28] tomas-knap commented on #567
Jirka, was testing also on local, not working. Did you try the same query as above when you tested it?

[2013-10-04 13:48] janvojt commented on #571
https://grips.semantic-web.at/display/LOD2/Security+implementation

[2013-10-04 13:48] #571 closed, assigned to janvojt

[2013-10-04 15:09] tomesj commented on #567
Yes, I tried your here given construct and it was fine.

[2013-10-04 15:47] tomesj commented on #567
See my video: http://www.youtube.com/watch?v=bQTm832KYV4

[2013-10-04 16:06] tomesj commented on #567
Přidal jsem i konkrétní test pro validitu,který je použit ve formuláři a ten bez problémů prochází.

[2013-10-04 16:30] #576 closed, assigned to kukharm

[2013-10-05 08:02] tomas-knap opened #587 "Tomcat reports repeatadly the warning below"
Is this happenning also in your case (examine logs/catalina.out)? Do you know the reason?

WARNING: Failed using comet support: org.atmosphere.container.Tomcat7AsyncSupportWithWebSocket, error: Tomcat failed to detect this is a Comet application because context.xml is missing or the Http11NioProtocol Connector is not enabled.
If that's not the case, you can also remove META-INF/context.xml and WEB

[2013-10-05 08:47] tomas-knap opened #588 "Use Spring to log every thread start/stop to add possibility to debug the issues as below:"
In tomcat, I have:

SEVERE: The web application [/odcleanstore] registered the JDBC driver [virtuoso.jdbc4.Driver] but failed to unregister it when the web application was stopped. To prevent a memory leak, the JDBC Driver has been forcibly unregistered.
Oct 05, 2013 1:38:00 AM org.apache.catalina.loader.WebappClassLoader clearReferencesThreads
SEVERE: The web application [/odcleanstore] appears t

[2013-10-05 08:49] tomas-knap opened #589 "Tomcat issue - stop/start frontend causes:"
please discuss below what it may cause this issue:

INFO: The stop() method was called on component [StandardEngine[Catalina].StandardHost[localhost].StandardContext[/frontend].StandardWrapper[default]] after stop() had already been called. The second call will be ignored.
INFO: The stop() method was called on component [StandardEngine[Catalina].StandardHost[localhost].StandardContext[/frontend].S

[2013-10-05 09:04] tomas-knap opened #590 "Refresher in AppEntry is created for every client, but it should be singleton"

[2013-10-05 09:19] tomas-knap opened #591 "Starting of tomcat app - questions:"
1. What is the EL Warning caused by? What is its consequence?
2. Why is the JDBC Driver Connection create 5 times?

[code]

[2013-10-05 10:16] skodapetr commented on #504
I have added module-test project. It contains functionality which enable to run DPU-test as standard JUnit test. Please see SPARQL-transformer for sample test.

If this solution is ok we should create a documentation for it.

[2013-10-05 10:53] bogo777 commented on #591
Warning is caused by LogExceptionLine, which is class from @janvojt, so I am reassigning him.
I think JDBC DriverManager Connection are created plenty in whole app.(For each transaction maybe?)

[2013-10-05 11:08] janvojt commented on #591
1. I think it is clear from the message detail.
   - it is caused by composite primary key
   - consequence is also stated in the message, but it has no implications for our use cases (we only access LogExceptionLine through LogException#getLines())
2. This is expected for current implementation. A smarter way of using connections would be setting up connection pooling.

If you have no further que

[2013-10-05 13:13] #567 closed, assigned to tomesj

[2013-10-05 13:32] tomas-knap commented on #591
Honzo, please document that in the code (in the comment of ConfigurableDataSource) and than close this issue.

[2013-10-05 15:12] kukharm commented on #515
Replace give exception

Oct 05, 2013 5:09:17 PM com.vaadin.server.DefaultErrorHandler doDefault
SEVERE:
com.vaadin.server.UploadException: Upload failed
    at com.vaadin.server.communication.FileUploadHandler.streamToReceiver(FileUploadHandler.java:594)
    at com.vaadin.server.communication.FileUploadHandler.handleFileUploadValidationAndData(FileUploadHandler.java:432)
    at com.vaadin.server.c

[2013-10-05 19:54] janvojt opened #592 "SPARQLTest#constructAllTest fails"
(on revision 13d32633)

[code]

[2013-10-05 20:28] skodapetr commented on #592
Please try it now.

[2013-10-05 21:54] #592 closed, assigned to skodapetr

[2013-10-06 10:13] tomas-knap commented on #579
Check that logback is using UTF-8 encoding of the messages

[2013-10-06 10:13] tomas-knap commented on #541
Duplicates #579

[2013-10-06 10:13] #541 closed, assigned to bogo777

[2013-10-06 11:34] tomas-knap opened #593 "Test what happens when DPU is running and is replaced."
Propose how obsolete column should be used

[2013-10-06 11:50] #556 closed, assigned to skodapetr

[2013-10-06 11:50] #537 closed, assigned to skodapetr

[2013-10-06 11:51] #546 closed, assigned to skodapetr

[2013-10-06 11:53] #583 closed, assigned to bogo777

[2013-10-06 11:53] #534 closed, assigned to skodapetr

[2013-10-06 11:55] #577 closed, assigned to skodapetr

[2013-10-06 13:40] tomas-knap opened #594 "EclipseLink has problems when the pipeline is about to finishWhen debugging DPU the status in exec monitor remains "running""
Two times it happened to me that all DPUs were run, finished successfully, but the end of the execution was:

![screen shot 2013-10-06 at 6 02 45 pm](https://f.cloud.github.com/assets/3014917/1276957/edca6fec-2ea0-11e3-9555-97270cd22d86.png)

As a result, the execution ends immediately, the status of the executed pipeline remains "running". DB is up and running

[2013-10-06 13:40] tomas-knap commented on #520
Browse/Query tab still not working for debug mode?

[2013-10-06 15:10] tomas-knap opened #595 "Problem when opening gui in second tab"
![screen shot 2013-10-06 at 5 09 38 pm](https://f.cloud.github.com/assets/3014917/1276859/6c8ea01c-2e99-11e3-9a80-4b64dea5383f.png)

[2013-10-06 15:50] janvojt commented on #579
OK, I think I know where the problem is. When logback connects to database, it uses the same virtuoso configuration for connection as backend application. This includes encoding, which we configured to be UTF-8. So the encoding of communication between logback and virtuoso should be fine.

The way it works is, that DPU uses String, which is pretty much just a string of bytes. This String is passed

[2013-10-06 15:56] tomas-knap commented on #579
I think that restricting the log to 254 is too restrictive, do we need such restriction, does it bring significant performance gain when compared with unrestricted log size?

[2013-10-06 16:21] bogo777 commented on #520
It works for me fine, it is only enabled on completed execution for now(?)

Question for @tomesj
I am currently implementing LazyLoadingContainer for RDF and I would need size()/count() method for MyTupleQueryResult for SELECT queries. Or maybe completely different method returning count directly, depends on what is easier...
Or is there any way to get the count now?

[2013-10-06 18:36] bogo777 commented on #520
Lazy container for RDF added, but until I have method described above, value for count of records in SELECT queries is 1000. It might cause errors while querying.

[2013-10-06 19:57] tomas-knap commented on #520
See the prev comments, method for getting count of results, I would suggest select count(*) where {?s ?p ?o} query

[2013-10-06 22:02] janvojt commented on #579
The restriction of 254 characters is only applied to arg[0-2] columns. I checked, and the problem is not in these columns. The column causing the problem is formatted_message, which is of practically unlimited length. In fact, some of the log messages exceed 50 000 characters in length, which I think is crazy.

Anyway, I am failing to find a row that is causing the problem by debugging the Java ca

[2013-10-06 22:03] tomas-knap opened #596 "Execution monitor date is counting even when the pipeline finishes"
I run the pipeline, then open the detail from the execution monitor. As the detail (show log) was opened, the timestamp in execution monitor was increasing but the pipeline was already finished.

![screen shot 2013-10-07 at 12 01 07 am](https://f.cloud.github.com/assets/3014917/1277617/0d0de000-2ed3-11e3-9de3-d87cb6f47876.png)

![screen shot 2013-10-07 at 12 01 20 am](https://f.cloud.github.com/as

[2013-10-06 22:25] tomas-knap commented on #579
Thanks for the report, hopefully you will find the cause of the problem
tomorrow.

Tomas

On Mon, Oct 7, 2013 at 12:02 AM, Jan Vojt notifications@github.com wrote:

[2013-10-07 05:44] skodapetr commented on #596
Could you please provide information about the last Event for this pipeline?

[2013-10-07 05:45] tomas-knap commented on #596
Last was SPARQL loader finished, it was the last loader

[2013-10-07 05:59] tomas-knap opened #597 "Variation on cannot connect to DB but initiated from DPUs"
As a resutl execution fails, but when checking DB, it seems to be running, so probably it just did not respond in certain time.

Solution: The error below should NOT occur. BaseRDFRepo should catch such exception and try to reconnect based on config.properties settings (how many times the engine should try to reconnect). If the connection to db fails after X attempts (as defined in config.properti

[2013-10-07 06:01] tomas-knap commented on #597
What is even worse is that pipeline is not cleaned up, the status is not properly set (it remains in the running status) , it finishes immediately.

[2013-10-07 06:42] bogo777 commented on #596
Sorry, it was remainder from some  testing I did. It was fixed by commit https://github.com/mff-uk/intlib/commit/36ff5503655468945ac9b838a7438eb2b824ae5f

[2013-10-07 06:42] #596 closed, assigned to bogo777

[2013-10-07 07:08] bogo777 commented on #590
Is there any reason why it should be so?

Refresher works on client side, and it doesn't work properly as singleton.

[2013-10-07 07:47] #586 closed, assigned to bogo777

[2013-10-07 07:49] bogo777 commented on #582
Icon is there, but filter is problem. This column is fully generated(execution is fetched for each pipeline and its status is extracted, it has no data representation in pipeline class) and filters on generated columns are not supported.

[2013-10-07 07:52] bogo777 commented on #522
Currently all logs for selected execution are downloaded. Is it ok or should only filtered logs be downloaded?

[2013-10-07 08:11] tomesj commented on #520
If I well understand, you need count of rows returns for your given SELECT query, right ?

[2013-10-07 08:20] tomas-knap commented on #522
If it is not complicated, only the logs which satisfy the conditions defined by the filters before clicking on the download button should be downloaded. It is more flexible and behaves as expected by the users. Can you adjust that easily?

[2013-10-07 08:21] tomas-knap commented on #582
Ok, lets leave it without the filter for now

[2013-10-07 08:29] bogo777 commented on #520
Yes for SELECT, result of method for CONSTRUCT query is Graph and it has size() method. But if this approach would be faster, we can use it for CONSTRUCT too. I guess that extracting the part after WHERE from query should make it possible to use the count(*) query for both?

[2013-10-07 08:36] tomesj commented on #520
Right query for this:

select count (*) where {QUERY}

QUERY=original select/construct query.

I add method size to MyTupleQueryResult - its only for select. Contruct returns Graph and there is no problem to find size.

[2013-10-07 08:58] tomas-knap opened #598 "Method for obtaining list of graphs from virtuoso with odcs prefix"
Ask Petr for details

[2013-10-07 09:07] tomas-knap commented on #594
relates to #561

[2013-10-07 09:23] tomas-knap opened #599 "Opening execution log takes long time, it does not end in a minute"
![screen shot 2013-10-07 at 11 20 21 am](https://f.cloud.github.com/assets/3014917/1279227/d12ab3c4-2f31-11e3-86e3-33fc005577bc.png)

To reproduce: odcs.xrg.cz, pipeline ARES 900 in exec monitor, clicki in exec monitor

Add logging to your code if needed to reveal where the problem is

[2013-10-07 09:32] tomesj commented on #520
I finnaly add method getResultSizeForQuery you can call on repository instance. It returns your expected size for SELECT/CONSTRUCT query.

[2013-10-07 09:46] tomesj commented on #597
Your problem is using JDBC version 4 for RDF. In this case connection to Virtuoso always fail.

You have use JDBC version 3.

[2013-10-07 11:59] bogo777 commented on #520
getResultSizeForQuery doesn't work for me. It always throws an InvalidQueryException.
![image](https://f.cloud.github.com/assets/1550848/1280058/d0550f42-2f47-11e3-9fa1-67358aae1d8f.png)

[2013-10-07 12:22] tomas-knap commented on #599
could be related to/caused by #594 #597

[2013-10-07 12:26] tomas-knap opened #600 "Connection failed warnings"
It tries to reconnect two times, then ends (it should connect as many times as in config properties), further it is not clear whether finally it was connected succesfully or not.

[code]

[2013-10-07 12:34] bogo777 commented on #522
I almost have it, only thing that remains is incorrect filtering by DPU and execution. With that, I need help from @janvojt . It is in new method getLogs(PipelineExecution pipelineExecution, DPUInstanceRecord dpu, Set<Level> levels, String source, String message, Date start, Date end) in Logfacade.

I want to select log by execution and DPU, but the used query is incorrect. I get this error:
Excep

[2013-10-07 12:35] tomas-knap commented on #599
Problem was also when restarting db/backend. Bohuslav, could you pls check which particalar data are loaded when logs are shown? When having fresh install, it works fine, but as more data is logged it becomes really slower and slower which should not happen, at least not that much.

Probably you should add more logs at debug/trace level to find out which part takes most of the time and then try to

[2013-10-07 13:07] bogo777 commented on #599
It looks like all records/logs/events are loaded. There is setting of maxResults in code, but the resulting query has no limitation.
For example:
SELECT ID, full_message, short_message, r_time, r_type, dpu_id, execution_id FROM exec_record ORDER BY r_time ASC

And it also looks like all references are eager loaded, but I will study that some more.

[2013-10-07 13:24] tomesj commented on #520
Sorry, I forgot one important thing. It could be worked fine now.

[2013-10-07 15:14] tomas-knap opened #601 "Adding support for user as owner"
[10/7/13 4:46:39 PM] Jakub Klímek: predtim to bylo v /data/odcs/backend/working/dpu/user/....
[10/7/13 4:46:58 PM] Jakub Klímek: ted je to v /data/odcs/backend/working/user/default/...

Please reassign if you do not know

[2013-10-07 15:15] #563 closed, assigned to tomesj

[2013-10-07 15:15] #554 closed, assigned to skodapetr

[2013-10-07 15:21] skodapetr commented on #601
Unfortunately PipelineExecution does not support User as Owner yet. "default" user is used when user for PipelineExecution is null.
Adding support for user ie. assign user to execution should solve this.

[2013-10-07 16:00] tomas-knap opened #602 "When accessing odcs web app problem occurs"
![screen shot 2013-10-07 at 5 58 39 pm](https://f.cloud.github.com/assets/3014917/1281867/6ee5d4ae-2f69-11e3-9b43-23f3014f067d.png)

[2013-10-07 16:01] tomas-knap commented on #600
Appears really often, now it appears just after starting backend:

[code]

[2013-10-07 16:02] tomas-knap commented on #600
Backend is falling much more often on this exception than before EclipseLink use

[2013-10-07 16:47] tomas-knap commented on #600
Yes, every second/third execution fails on this, please look on that when the issue with strange chars at the end of log messages is solved.

[2013-10-07 16:56] bogo777 commented on #520
It works, but only for CONSTRUCT queries, for SELECT I still get the same exception.

[2013-10-07 17:04] bogo777 commented on #581
After closer examination of LazyQueryContainer and Table and reading some discussions online, I changed my opinion about this.

It would require changes directly in LQC addon. I found easier solution for refreshing when cancelling pipeline and other issues referenced here are more question of speed of loading data, which is now big problem, as described in #599.

[2013-10-07 17:05] #581 closed, assigned to bogo777

[2013-10-07 17:07] bogo777 commented on #462
Solved for canceling pipeline.

[2013-10-07 19:35] tomesj commented on #520
Are you sure, your SELECT query is valid - I tested it with about 10 random SELECT query and there was no problem. In case of problem give me please concrete SELECT which dont pass.

[2013-10-07 19:55] bogo777 commented on #520
![image](https://f.cloud.github.com/assets/1550848/1283772/51ef1f4c-2f8a-11e3-8bb2-5db7e8084602.png)

Or any variant with 1 or 2 columns...

[2013-10-07 21:12] tomesj commented on #520
It tested this query as first and now once again and there was no problem by me. I found only bug in case using prefixes in SELECT. But its fixed now. Are you sure, do you use last implementation ?

[2013-10-07 21:16] tomas-knap commented on #581
Bohuslav, so what is the solution you decided for? Which other issues are solved by solving this issue and can be tested?

[2013-10-07 21:18] tomas-knap commented on #599
Bohuslav, do you know how to solve this?

[2013-10-07 21:20] tomas-knap commented on #599
This issue is crucial as you wrote, because with this issue, logs cannot be used after a while because they simply do not load. Will you please find time tomorrow to work on that?

[2013-10-07 21:35] tomas-knap commented on #597
But why is it using JDBC4?

[2013-10-07 21:43] tomesj commented on #597
I see in your given log that all caused by parts are same like:

virtuoso.jdbc4.VirtuosoException......You use JDBC version 4

If you use version 3 you get something like:
virtuoso.jdbc3.VirtuosoException......

But version 3 dont cause problems in contrast version 4.

[2013-10-07 21:43] tomas-knap commented on #520
Well, why you do not use simply use query "select count(*) where {?s ?p ?o}"?. I do not know if you can use CONSTRUCT query as subquery in the way above.

[2013-10-07 21:46] tomas-knap commented on #520
Why do you need to distinguish getSize for select and construct queries?? In both cases, you can count triples by using query: "select count(*) where {?s ?p ?o}"

[2013-10-07 21:56] tomas-knap commented on #597
But why is it using JDBC4? That must be written incorrectly in dependencies of the RDF module?

[2013-10-08 07:16] tomas-knap opened #603 "Testing DPUs"
1. getJarPath() is not accessible during testing (how to fake that?). In my code, there is: jarPathString = context.getJarPath().getCanonicalPath();, which I am using to get certain resources from the JAR. See URIGenerator DPU for details. Easy solution woulld be to point to working dir /jar-name, where the jar must be present (jar could be deployed there as part of maven build)
2. Would it be pos

[2013-10-08 08:25] bogo777 commented on #599
I think that problem is in EclipseLink or our usage of it. When we used Hibernate, queries were limited to page size and there were no changes in container regarding this. My guess is, that in translating EclipseLink to virtuoso via dialect, max result size is omitted, because it is set to the Query object, but it doesn' t appear in the actual SQL query. @janvojt should know more about it.

[2013-10-08 09:21] tomas-knap commented on #599
Honza, please advice Bohuslav. This is urgent, please look on that asap

[2013-10-08 09:23] tomas-knap commented on #579
I will check the encoding of the logged messages

[2013-10-08 09:25] tomas-knap commented on #484
THis exception does not appear further

[2013-10-08 09:25] #484 closed, assigned to janvojt

[2013-10-08 10:17] tomas-knap commented on #597
JIrka?

[2013-10-08 14:01] tomesj commented on #597
I dont know. I have in my RDF module version 3. Honza use version 4. Maybe somewhere a conflict.

[2013-10-08 14:24] tomas-knap commented on #597
Jirka, can you please launch once again your test where you were trying to load 7 milions of triples? And write the result here, I am curious if it will finish succesfully, betting that it will fail

[2013-10-08 14:27] tomesj commented on #597
OK. I tested it and write here the result :-)

[2013-10-08 14:36] tomesj commented on #520
1) CONSTRUCT can not be use as subquery for finding size - result is graph and its not problem to find its size
2) SELECT - you dont know concrete given select.

Query "select count(*) where {?s ?p ?o}" returns always count of all triples, but you want to find out size of select that can be only subset of all triples.

Example
Graph has 100 triples.
Your select: prefix deb: http://schema.org/ SELE

[2013-10-08 14:45] tomas-knap commented on #520
Well I don't understand. "select count(*) where {?s ?p ?o}" returns number of all triples/solutions as you wrote.
prefix deb: http://schema.org/ SELECT count(*) WHERE {?a deb:address ?c} returns number of solutions which match the pattern. WHat else do you need?

[2013-10-08 14:47] tomas-knap commented on #520
The query SELECT count(*) as ?size WHERE {SELECT ?a ?c WHERE {?a deb:address ?c}}

can be easily rewritten as SELECT count(*) WHERE {?a deb:address ?c}, or where is the problem?

[2013-10-08 15:08] tomesj commented on #520
Yes you right, but I have to assume that queries can be variously plunging.

Both these queries give the same result, but in your approach you must parse query and replace ?a ?c for count(*).

I just wrap the query and got the same result.

[2013-10-08 15:17] tomas-knap commented on #520
Ok. Bohuslav please test these methods and update the issue

[2013-10-08 17:05] skodapetr commented on #601
I have this functionality already implemented.
As it changes database I will commit this on Friday together with possibly "big database renaming".

[2013-10-08 20:02] tomesj commented on #597
So loading 7 millions triples to SPARQL endpoint finish sucesscully.

[2013-10-08 20:59] tomas-knap commented on #600
Napis prosim kdyz neco budes mit. Je to divne, db normalne bezi,ale spojeni se nenavaze. Nedari se mi vubec nic sebehnout, bo to vzdy spadne na tohle. Pro simulaci zkusi pustit pipelines paralelne, Jirka ted zkousel nahravat 7 milionu trojic a to bylo pry v pohode, je mozne, ze ty problemy jsou na odcs proto, ze tam ty pipeline bezi paralelne

[2013-10-08 21:59] #599 closed, assigned to janvojt

[2013-10-09 06:47] bogo777 commented on #520
Ok, it works for me fine now.

I had older version of Virtuoso, so that was why the query didn't work.

[2013-10-09 07:40] janvojt commented on #600
I will try to reproduce tonight. Can you connect to Virtuoso with isql when this happens and issue queries?

[2013-10-09 08:16] tomas-knap commented on #520
So can we test that?

[2013-10-09 08:23] bogo777 commented on #522
Solved by inspecting query for container.

[2013-10-09 08:23] #522 closed, assigned to bogo777

[2013-10-09 08:34] #591 closed, assigned to janvojt

[2013-10-09 10:31] tomas-knap opened #604 "When DPU is in the cancelling state, backend restarted, all records from cancelling should be moved to cancelled state"

[2013-10-09 12:19] tomas-knap opened #605 "Problem connecting to DB appears although config.properties is set to infinite #tries"
When running jTaggerPipeline, it fails when creating output for uriGenerator and finished.

Correct behaviour: It should try to reconnect and should not continue further

Reassign to Jirka, if applicable.

2013-10-09 13:48:08,968 [Thread-11] INFO  exec:10094 dpu:8 c.c.m.x.i.e.l.d.UriGenerator - URI generator successfully executed, creating output
2013-10-09 13:48:08,975 [Thread-11] DEBUG exec:1009

[2013-10-09 12:52] tomas-knap commented on #605
And strange is that there is exception:  "Error by adding file to repository virtuoso.jdbc4.VirtuosoException: Connection failed: Cannot assign requested address", but I would expect version jdbc3?

[2013-10-09 16:18] tomas-knap commented on #520
Bohuslav, please:

1) enlarch the space for query
![screen shot 2013-10-09 at 6 09 53 pm](https://f.cloud.github.com/assets/3014917/1299136/b3cb3f06-30fd-11e3-8fca-ae519bfebfd7.png)

2) Always, when showing result of CONSTRUCT query, the columns should be in order subject, predicate, object. In case of SELECT query, columns should be in the order as they appear in the SELECT

![screen shot 2013-10

[2013-10-09 16:20] tomas-knap commented on #520
5) Also when I enter browse/query, specify query and click run, it works. But when i then click browse and again input query and click run, nothing was shown

[2013-10-09 16:21] tomas-knap commented on #520
Bohuslav, if needed, delegate certain corrections to Maria.

[2013-10-09 16:34] tomas-knap commented on #497
So now the max length is 2048?

[2013-10-09 16:45] tomas-knap commented on #458
Is that ready for testing?

[2013-10-09 17:50] janvojt commented on #123
This has been fixed some time ago...closing.

[2013-10-09 17:50] #123 closed, assigned to janvojt

[2013-10-09 20:55] tomas-knap opened #606 "When there is a problem with RDF file extractor, it ends successfully"
To reproduce: create pipeline with extractor from file, upload there file xx.ttl, which contains rdf/xml data. Set input file format as AUTO. As a result, turtle parser is used by fails. But the whole DPU - extractor - ends successfully.

[2013-10-09 21:00] tomas-knap opened #607 "Events in log may not be sorted properly"
If more events occur in the same second as below, they may be sorted incorrectly (Loader start is later than Loader body). They should be by default sorted according to their event id.

![screen shot 2013-10-09 at 10 57 58 pm](https://f.cloud.github.com/assets/3014917/1301634/ae800e64-3125-11e3-87dd-26edce7fffc4.png)

[2013-10-09 21:11] skodapetr commented on #574
Honza has changed the table name in fb7f8f3ea24cdf7c486e4741bfb8f056c86a54b5

[2013-10-09 21:44] tomas-knap commented on #574
Ok, tohle je nova tabulka, ktera se nikde nepouziva, takze to preziju bez
update scriptu, ale jinak prosim tyhle zmeny vzdy s update scriptem, je to
nutne pokud upravujete existujici tabulky, kde uz mam nejaka data.

On Wed, Oct 9, 2013 at 11:11 PM, Petr ©koda notifications@github.comwrote:

[2013-10-10 07:07] tomas-knap opened #608 "SPARQL Transformer - possibility to work with more graphs"
Motivation:
I have a SPARQL query, which CONSTRUCTS certain data X based on named graph A. However, for the construction of the data X, another named graph B (another input) is needed. However I cannot run the construct against merged named graphs A and B, becuase that would construct more data then needed. Therefore, the role of input named graphs A and B is different. That is quite a common situ

[2013-10-10 07:47] tomas-knap opened #609 "Unsaved changes when they should not be shown"
I switch to certain DPU template in DPU template menu item. Next, i replace DPU template and then notificaiton: "Unsaved changes" appears.

Solution: Such message should not appear if I only replace JAR, because the new JAR is saved when the replace is finished?

[2013-10-10 07:49] tomas-knap commented on #609
Also, when I confirm such notification and click to a different DPU template, it appears again
Maria, please test the notifaciton message by clicking on different templates, changing different values on different tabs and observe the behaviour

[2013-10-10 08:48] tomesj commented on #608
OK, but I need access to all inputs, so I can set the real names of graphs (for replace placeholders).Currently we have only one input

Where I see problem:
If you have more inputs, you have to define mapping between graph names and placeholders.

Because if you have specific construct using some triples for one graph (for example which has only predicate http://my.predicate) a all triples for oth

[2013-10-10 09:07] skodapetr commented on #608
Well nice use case .. so from my point of view .. I see it as a small challenge ..

Jirka: I thing there is no problem on your side ... for better explanation some pseudo-code..

[code]

The challenge (from my point of view) is in the InputDataUnits. Jirka is right that we have no support for optional number of input graphs.

What can be easily accomplished is .. that we define three more optional

[2013-10-10 09:33] tomesj commented on #608
I originally thought that the name for placeholder in query can be any of random name you want (you choose name variable for graph without knowledge DPU name).

From what Peter says, must it be the same as the name of the DPU. Then it makes sense - see pseudocode. It solves my previous mapping question.

[2013-10-10 10:32] tomas-knap commented on #608
Jirka, the placeholder ?g_XX must be in a form that XX is the name for certain data unit, input or output. So I would also suggest to start with a simple version, that means to provide e.g. up to three optional data inputs with certain fixed named. No additional output data unit.

Jirka, so suppose that there are input data units for SPARQL transformer input,input2, input3, input4. THen you have t

[2013-10-10 10:53] tomesj commented on #608
Yes, for me, is it clear now :-)

But I have one question - if you use placeholders like ?g_A, ?g_B, ... in a query is a problem with validation. It dont passed.

Solution:
I) Temporarily replace this placeholder with generate graphName. And if is known concrete DPU - replace to right graph.

Example:
DPU A
1) origal graph name: http://myGraphA
2) placeholder in query: ?g_A
3) Temporary graph name

[2013-10-10 11:14] tomas-knap opened #610 "Minor bugs in TEST class for DPUs"
If I put TestEnvironment.create(new File("C:/"));, it deletes at the end my C: hard drive.

It writes at the end of the test execution:

13:12:22.808 [Thread-6] ERROR org.openrdf.sail.memory.MemoryStore - Failed to sync to file
java.io.FileNotFoundException: /Users/tomasknap/Documents/tmp/test/dataUnit/1/dpu-test_1_output/memorystore.sync (No such file or directory)
    at java.io.FileOutputStream

[2013-10-10 11:45] tomas-knap commented on #608
Yes, but please use graphs in the form http://graphForDataUnit_XX where XX is the name of the data unit.

[2013-10-10 11:45] tomas-knap commented on #608
Please let me know when I can try that

[2013-10-10 11:48] tomesj commented on #608
OK - I will use your graph form.

[2013-10-10 12:26] tomas-knap opened #611 "Connection refused and as a result the pipeline exucution fall down, pipeline remains in status running!"
End of execution Log is below, it was pipeline execution: 10111, on odcs.xrg.cz, pipeline "Decisions from nsoud, with the first DPU configured as:

![screen shot 2013-10-10 at 2 25 23 pm](https://f.cloud.github.com/assets/3014917/1306021/134fc7fe-31a7-11e3-91eb-59153a70c3ad.png)

There was no pipeline running in paralel.

[code]

[2013-10-10 13:15] kukharm opened #612 "zoom in, zoom out, under buttons intersect with the buttons panel of pipeline"
When i add new DPU template to the tree in Editing Pipeline section and tree becomes longer then the buttons under the tree (zoom in, zoom out, under) intersect with the buttons panel
![tree](https://f.cloud.github.com/assets/3471169/1306305/afc0e112-31ad-11e3-84e9-451f06b7d364.jpg)

[2013-10-10 13:24] kukharm opened #613 "pipeline edge"
When i click on a pipeline edge sometimes i get Edge detail dialog and sometimes toolbar with Set name and Remove icons, on what it depends? In which cases appears each of this two elements?

[2013-10-10 13:37] bogo777 commented on #613
When edge detail dialog appears, it is because you clicked on the edge description(eg. input -> output), The text's control is in fact rectangle, so it can be clicked, even when it is not directly on the text. When clicking edge or near the edge, toolbar should appear.

[2013-10-10 13:51] tomas-knap opened #614 "Problems when replacing DPU TEmplate jar file"
kuba zkousel updatovat nejake svoje DPU (Buyers Profile), pricemz mu to spadlo na NumberFormatException a to na radku, kde nacita konfiguraci z dialogu. Zrejme se proste nevytvorila spravna defaultni konfigurace, zustaly tam null a pak to spadlo na Integer.Parse(null).
1. Jak je mozne, ze se defaultni konfigurace nevytvorila? Config pro tohle DPU vypada normalne:

<pre><code>/**
 *
 * Put your DPU

[2013-10-10 14:44] kukharm commented on #613
Thank you for explanation. I think there some problem. When i click  in the place where the red dot in the picture
![edge](https://f.cloud.github.com/assets/3471169/1307031/3475b2f6-31b9-11e3-8c11-1ec390ea5e8f.jpg)
i expect to get toolbar but i get Edge detail dialog. Maby todo this rectangle smaller or open Edge detail dialog by double click?
Now I get by experience that toolbar appear only if i

[2013-10-10 15:20] tomas-knap commented on #614
takhle vypada ta Exception:

INFO: Installed AtmosphereInterceptor  Track Message Size Interceptor using |.
Oct 10, 2013 3:20:49 PM org.atmosphere.cpr.AtmosphereFramework addAtmosphereHandler
INFO: Installed AtmosphereHandler cz.cuni.mff.xrg.odcs.frontend.IntlibPushHandler mapped to context-path: /*
Oct 10, 2013 3:21:52 PM com.vaadin.server.DefaultErrorHandler doDefault
SEVERE:
com.vaadin.server.S

[2013-10-10 15:34] jakubklimek opened #615 "NPE when saving pipeline without a name"
![image](https://f.cloud.github.com/assets/718827/1307557/747fcbf4-31c1-11e3-9316-29545f69db72.png)

[2013-10-10 17:15] janvojt commented on #600
I setup connection pooling, which should resolve this problem. However, quite many sockets are still  kept in TIME_WAIT state when running multiple pipelines. Please test it, problem should not occur now. I will try to research about the sockets in TIME_WAIT state.

[2013-10-10 21:27] kukharm commented on #609
I can't reproduce this by replace, but a get this bug other way:
I create new DPU Template by "Create DPU template" button and load Silk_Linker_Extractor-1.0.0.
Than in the tree i select Silk Linker Extractor, i don't make any changes and select other DPU in the tree but confirmation window is appear.

As shown by debug, function hasConfigChanged() (na AbstractConfigDialog) that used for check cha

[2013-10-11 05:34] tomas-knap opened #616 "Pipeline canvas - showing icons for DPU"
Point to certain DPU, icons are shown. If I manage to get to a different DPU fast enough, the icons for the previous DPU does not dissappear.

[2013-10-11 09:14] tomas-knap opened #617 "Could not start odcleanstore.war on tomcat (odcs.xrg.cz)"
NFO: Server startup in 5412 ms
Oct 11, 2013 11:04:15 AM org.apache.catalina.startup.HostConfig deployWAR
INFO: Deploying web application archive /usr/local/tomcat/apache-tomcat-7.0.33/webapps/odcleanstore.war
Oct 11, 2013 11:04:20 AM cz.cuni.mff.xrg.odcs.commons.app.conf.AppConfig <init>
INFO: Loading configuration from classpath resource.
Oct 11, 2013 11:04:24 AM org.apache.catalina.core.Standard

[2013-10-11 11:34] tomas-knap opened #618 "When pipeline is in the status "cancelling" the log browser is not refreshed"
Solution: it should refresh logs also when the pipeline is in state cancelling, because it may produce certain logs

[2013-10-11 11:42] tomas-knap opened #619 "Debug message of pipeline execution"
Current debug message: DEBUG exec:10130 dpu:14 c.c.m.xrg.odcs.commons.dpu.DPU - 1261

Please add also name of dpu and name of pipeline.

[2013-10-11 11:46] tomas-knap opened #620 "Open log browser when debug button in exec monitor is pressed"
When debugging pipeline from pipeline list, the execution monitor is open with opened log browse.

When clicking on debug in execution monitior, the log browser is not preopend in the similar way

[2013-10-11 12:15] tomas-knap opened #621 "Debugging from pipeline canvas does not work if the pipeline name is null"
When clicking on debug icon and having pipeline with no name:

![screen shot 2013-10-11 at 2 13 46 pm](https://f.cloud.github.com/assets/3014917/1314243/b84d7b1c-326e-11e3-941f-24bccce30b79.png)

So it should check the pipeline name before trying to debug from canvas. If the file name does not exist, pipeline cannot be debugged before that

[2013-10-11 12:30] tomas-knap opened #622 "Pipeline list should be longer by default and sorted from the latest ID"
Motivation: User uses the pipelines which are latest

[2013-10-11 13:58] jakubklimek opened #623 "Query validator not working"
I think the query should be OK

![image](https://f.cloud.github.com/assets/718827/1314843/2668c2ec-327d-11e3-9e0b-29f220bff429.png)

[2013-10-11 14:24] tomas-knap opened #624 "Could not commit JPA transaction"
The db went down, odcs was trying to reconnect, then we restarted db and the following error occurs - Transaction cannot be commited. Why is the transaction rollback only?

[code]

[2013-10-11 14:55] #622 closed, assigned to bogo777

[2013-10-11 15:01] jakubklimek opened #625 "Big log refresh slow"
When log has > 10000 pages, its refresh still gets slow even though it should not.

[2013-10-11 15:04] #618 closed, assigned to bogo777

[2013-10-11 15:13] tomas-knap opened #626 "Problem with calling ADD X TO Y while merging"
We were trying to merge 1600 000 triples, from one graph to another but it fails (as below).

Possible reason could be that ADD X TO Y is done in one transaction and there was not enough space to hold the transaction data for possible roll back.

Jirka, can you please try to switch ADD X TO Y commadn with INSERT WHERE, with row-by-row autocommit enabled?
Please test that with 7 milions of triples

[2013-10-11 15:28] #620 closed, assigned to bogo777

[2013-10-11 15:28] tomas-knap opened #627 "SHow named graphs relevant for the given execution"
In Browse/query tab, when certain data unit is selected, named graph relevant for the given execution should be shown (just as a label). It could be shown under the data unit combo box. If the data unit is changed, the named graph has to change as well

[2013-10-11 15:28] tomas-knap commented on #627
related to #520

[2013-10-11 15:31] #561 closed, assigned to janvojt

[2013-10-11 15:41] tomas-knap opened #628 "Refresh automatically checkbox from debug view sometimes dissapears completely for a running pipeline"

[2013-10-11 15:42] tomas-knap commented on #628
When user logs again, it is working, checkbox is there

[2013-10-11 15:45] #615 closed, assigned to bogo777

[2013-10-11 15:45] #621 closed, assigned to bogo777

[2013-10-11 15:46] jakubklimek opened #629 "Error when DPU finishes"
<pre><code>2013-10-11 17:42:09,374 [Thread-124] INFO  exec:10143 dpu:32 c.c.m.x.o.b.dpu.event.DPUEvent - DPU 'PSP.CZ' finished
[EL Warning]: 2013-10-11 17:42:09.462--UnitOfWork(1325259832)--Exception [EclipseLink-4002] (Eclipse Persistence Services - 2.5.1.v20130824-981335c): org.eclipse.persistence.exceptions.DatabaseException
Internal Exception: virtuoso.jdbc4.VirtuosoException: SR197: Non uniqu

[2013-10-11 15:54] bogo777 commented on #607
Acutally, it didn't help. I think problem is with logging in backend:
![image](https://f.cloud.github.com/assets/1550848/1315918/4ae998f2-328d-11e3-9d57-9dd5a98af8a8.png)
There are logs from Loader execution with earlier date than Loader start

[2013-10-11 15:57] tomas-knap commented on #607
Ok, than please remove the sort, so that we do not slow down the logs further

[2013-10-12 18:01] janvojt commented on #629
The error message is quite clear. The problem is in your database. We use sequences for generating IDs. It seems like the sequence is generating ID that is already in the table.

You should resolve by setting sequence to a higher value with `sequence_set('seq_exec_record', X, 1);`, where X is the result of following query:

[code]

Please close this issue if this resolves your problem.

[2013-10-12 18:05] janvojt commented on #611
This looks like a duplicate of #600, which should already be resolved by connection pooling in commit 54a10a3. I am closing this.

[2013-10-12 18:05] #611 closed, assigned to janvojt

[2013-10-12 18:07] janvojt commented on #594
This is a duplicate of #600, I am closing this.

[2013-10-12 18:07] #594 closed, assigned to janvojt

[2013-10-12 18:09] janvojt commented on #605
Duplicate of #600, I am closing this.

[2013-10-12 18:09] #605 closed, assigned to janvojt

[2013-10-12 18:13] janvojt commented on #625
If this was simulated before 1b049ea8, it is most likely resolved by this commit.

[2013-10-13 01:31] kukharm opened #630 "Add filters to Scheduler table."

[2013-10-13 01:38] kukharm opened #631 "DPU layout formatting"
Please explain how works DPU layout formatting tool on DPU instance? I click on icon get rows, but when i click on this rows nothing changes.

[2013-10-13 01:44] kukharm opened #632 "Refresh data in pipelines table"
Data on columns Last run time, Last execution time and last status don't refresh automaticly after  pipeline running was finish.

[2013-10-13 08:01] tomas-knap opened #633 "Bottom part of DPU tree cannot be shown"
THERE IS no way how to see the lower part of DPU tree. Which suggestion do you have to solve this?

When opening pipeline:
![screen shot 2013-10-13 at 10 00 00 am](https://f.cloud.github.com/assets/3014917/1321628/81450b1a-33dd-11e3-941f-e3aacc3b0faf.png)

When scrolling down
![screen shot 2013-10-13 at 10 00 06 am](https://f.cloud.github.com/assets/3014917/1321629/84135e1e-33dd-11e3-9c35-9f0d5eea

[2013-10-13 08:05] tomas-knap commented on #600
Was testing that, the error doed not occur since that time. What about the time_wait states? Do you close the connections properly?

[2013-10-13 08:12] tomas-knap commented on #625
No, it was simulated after that commit

[2013-10-13 08:15] tomas-knap commented on #625
The problem is that the refreshing of pipeline execution is still slower and slower as the number of logs is increasing (during the pipeline execution). Because of the lazy query container and fixed-sized log view, this should not happen. I would suggest to check the model of the log view, if e.g. the previously generated logs are not held as the pipeline is being executed?

[2013-10-13 08:23] tomas-knap commented on #629
I set the sequence to higher value

[2013-10-13 09:07] tomas-knap opened #634 "When DB is not responding, problems occur"
In gui, pipeline appears as still running, but when looking in backend.log, nothing is happening. The last log regarding this pipeline was:

![screen shot 2013-10-13 at 11 00 14 am](https://f.cloud.github.com/assets/3014917/1321716/a54fe404-33e6-11e3-93c1-417dc544e128.png)

So at one moment distiller (DPU) was executed, but then suddenly it finished. It has happen to me more times, but it starts a

[2013-10-13 09:17] tomas-knap commented on #634
Will examine out of mem

[2013-10-13 09:57] janvojt commented on #600
From the specification I found  about TCP, we cannot eliminate sockets in TIME_WAIT completely. I can support it with the following diagram:

![tcp_state_diagram_fixed svg](https://f.cloud.github.com/assets/2247062/1321745/944b5ca8-33e9-11e3-8972-47d61f238f85.png)

I assume we must be using "active close" connections, because we do not know in advance how much data we will send over connection, no

[2013-10-13 10:01] tomas-knap commented on #634
Ok, so probably problem with the database, when I restarted Virtuoso, I got (which seems like end of the previous run):

[code]

[2013-10-13 10:12] tomas-knap commented on #634
Related issues?:
1 Based on the log, connection.add(rdf data) was called by BaseRDFRepo, that it was frozen and exception was thrown when the database was forcibly restarted. As a result, BaseRDFRepo throws exception, which should not happen.

2  There is also a problem with SR197: Non unique primary key on DB.INTLIB.EXEC_RECORD.
Error Code: -8
Call: INSERT INTO exec_record (ID, full_message, shor

[2013-10-13 10:31] tomas-knap commented on #629
Ok, so this problem is caused by database being suddenly inrespondable, which causes that sequence is not properly updated? See #634

[2013-10-13 10:44] tomas-knap commented on #600
Honzo,

I would focus on reducing the number of open connections and sharing of
connections. There is no reason to have more then one connection per one
pipeline execution if the DPU are executed sequentially.

[2013-10-13 10:50] tomas-knap commented on #477
Does Vaadin provide some solution, because this seems to be quite a common problem?

[2013-10-13 10:51] tomas-knap commented on #520
Bohuslav, please write what is missing in this issue, or is it ready for testing?

[2013-10-13 11:06] tomas-knap commented on #462
But how can we solve for the rest of the case, on the generic level?

Current situation:
- When user clicks on refresh, the same class is responsible for processing the request, loading the data and showing the data. And again the same class is responsible for processing the new request, such as cancel, show log, ... The most expensive part is getting the data from db, right?

I would say you need

[2013-10-13 12:29] tomas-knap opened #635 "Execution with db fail and reconnect - problem with sequences (unique ids duplicated)"
[code]

[2013-10-13 12:31] tomas-knap commented on #634
Another example of problem with unique value for DPU exec record violation: #635

[2013-10-13 13:44] bogo777 commented on #520
1) and 4) is done. 5) querying works for me repeatedly
2) I can get names of all bindings from SELECT query result object, but they are not always in the order as in the query. Maybe there could be a support for it in some Query object, which would get it for me?
3) For filtering is this the right part of the query: FILTER regex(str(?object),'_substring_','i') - also should I directly modify the q

[2013-10-13 13:46] bogo777 commented on #497
Yes, it is for pipeline name, and it is unlimited for description. Requires db reset with files after 70b2600b40b299d54adbeed3e1d935e7b918599c commit.

[2013-10-13 13:53] bogo777 commented on #595
How you created this? Open in new tab doesn't work for me in Vaadin(as it is all buttons and not links) and if I open same address in different tab, I must log in again, but it works for me fine.

[2013-10-13 14:09] bogo777 commented on #462
Well, I think that most expensive part will be showing the data, when our db querying works correctly. It still looks like all references are eager loaded and that is the reason why getting the data is expensive now.

I can improve showing the debug data -> Data for all tabs are loaded now and refreshed too, it cloud be done only on active tab.

This MPV model looks good, but it looks like we woul

[2013-10-13 14:24] bogo777 commented on #633
For now, I changed DPU tree to stay at the top of canvas, so it should be accessible by scrolling the main window. There should be a way to set its position dynamically through javacript, just have to get it working with Vaadin. Ultimately, there should propably be scrollbar inside dpu tree, as it can be higher than whole window.

[2013-10-13 14:53] janvojt commented on #634
Something like this cannot happen. ID is always obtained from the database **before** the INSERT query is run. It is guaranteed by the database, that the operation of getting and incrementing sequence is atomic. You must have been inserting rows manually (or with update script) without incrementing sequence.

[2013-10-13 18:42] tomas-knap commented on #520
Bohuslav regarding 2, for select, the order could be different, this is not a big problem, if the standard openRDF methods does not provide the variables as ordered list.

Regarding 3, you should call addFilter or something like that and Jirka should provide the implementation of the method. We need to discuss that with Jirka, please create issue for that. Regarding LIMIT, limit specified in the q

[2013-10-13 18:45] tomas-knap commented on #595
Aha, I also create a new tab and entered address (http://odcs.xrg.cz:8080/odcleanstore/#!PipelineList). No new logging was needed, but it behaved strange. Honza has also experienced this issue, ask him for details as well.

[2013-10-13 18:51] skodapetr commented on #492
There now should be full support from commons and database. So now we need frontend support for this.

[2013-10-13 18:55] tomas-knap commented on #462
in case of show log, such switching of models should work better, because even when the loading from db takes some time (like now), user will be presented with the old model (data) and when new data is ready, the view will be redrawn. So I would try this MPV patter for the show log dialog for adding new logs/events.

[2013-10-13 18:56] skodapetr commented on #609
Well .. the behaviour for silk was basically right. There were no configuration (null) and so even empty configuration was "modified" ie. different from null.

Now on DPU import default configuration is created, so it should be ok now.

But .. for example .. the silk default configuration is not valid .. we should emphasise that the default configuration must be valid .. at least in terms of isVal

[2013-10-13 18:57] tomas-knap opened #636 "Certain references are still eager loaded"
Please ask Bohuslav. Related to #462.

[2013-10-13 18:59] skodapetr commented on #603
1) the problem is .. that the test are (best to my knowledge) executed before the jar file is assembled. So if we wan't this functionality we have to take another way. What about provide path .. to resource directory? If it is possible, I do not know now.

2) I added possibility for this. But you have to set the Virtuoso connection your self. It is not possible now to use configuration.properties.

[2013-10-13 19:04] tomas-knap commented on #634
Well, I was not inserting nothing, except of sequence_set('seq_exec_record', X, 1), X is max+1 as you described in #629

Try to reproduce as follows:

Run pipeline. In the middle of processing (certain RDF data should be still add to DB), drop database. Run the same pipeline for the second time. Wait a minute, start db and check the result. Please let me know if you were successful

[2013-10-13 19:04] skodapetr commented on #593
It should work fine. According to my test (see log below) it execute pipeline with the DPU instance that is accessible in given time. The possible change does not influence respective running execution.

To the test .. I use ISZVUS (as my favourite test DPU) .. after the start it print version, then create class from DPUs package .. which contains also int = version .. and print it.

I have prepar

[2013-10-13 19:06] skodapetr commented on #533
Přidal jsem logování .. tj. při serializaci se zapíše do logu serializované verze konfigurace. Tedy navrhuju .. shodnout se na DPU konfiguraci .. a porovnat výsledek. Zda jsou serializovaná data stejná, či nikoliv. Na základě tété informace bychom pak navrhli další postup.

[2013-10-13 19:12] skodapetr commented on #614
1) Actually the default configuration "was" null .. this has been changed, so now it create default configuration. imho: unfortunately this was not the source of this issue. But good idea to mention this.

1) Well there were "error" in DPU dialog. Without try-catch the DPU try to convert string to int. If the input txtArea is empty, then this failed with NumberFormatException. The dialog should th

[2013-10-13 19:13] skodapetr commented on #408
In frontend's configuration is new property that set log's directory.

[2013-10-13 19:14] skodapetr commented on #504
I have added pre-alpha version (sample) into practice tutorial. We should discuss where to place this practice/theory or should we create new page "tests" ?

[2013-10-13 19:27] skodapetr commented on #560
Prefixy v DB jsou upraveny, github repository přejmenován.

Úpravy tříd a Theme pro frontned bych dal do zvláštního issue "Frontned refractoring". Tento issue bych uzavřel.

[2013-10-13 19:29] skodapetr commented on #491
There is now support from database and backend. The next step should be support from frontend and then testing. So I propose to re-assign to Bohuslav-Maria or someone else base on their workload.

[2013-10-13 19:34] #636 closed, assigned to janvojt

[2013-10-13 21:41] kukharm opened #637 "Scheduler access"
I created pipeline by user2 with User role, then i created scheduling rule for this pipeline by the same user. When i try to edit this rule by pressing edit button i get
![access](https://f.cloud.github.com/assets/3471169/1322841/14e0d51c-3450-11e3-828b-bf5100a3d3cd.png)

[2013-10-14 06:20] bogo777 opened #638 "Wrap RDF query in class and provide method to add filters to it."
For filtering RDF data in Browse/Query tab in result table, possibility to add filter to original query is needed.

From Tomas:
Regarding 3, you should call addFilter or something like that and Jirka should provide the implementation of the method. We need to discuss that with Jirka, please create issue for that.

For me, the best would be, if I would have object which wraps the query, and method

[2013-10-14 06:24] bogo777 opened #639 "Provide method for explicitly overwriting LIMIT clause in RDF query."
Related to wrapper from #638.

If original query has already LIMIT clause, I create invalid query while paging. It would be better to control this via wrapper object.

Method setLimit(int limit) which would overwrite any preexisting LIMIT clause.

From Tomas:
Regarding LIMIT, limit specified in the query should be taken into account when limit for the pages is set. So e.g. if LIMIT is 50 in the us

[2013-10-14 07:40] #613 closed, assigned to bogo777

[2013-10-14 07:40] #616 closed, assigned to bogo777

[2013-10-14 07:48] bogo777 commented on #631
Only selected DPUs are formatted.

To select first DPU, simply click on it.
To select more DPUs, either click on "DPU layout formatting" icon on toolbar and then click on other DPUs, or hold CTRL key and click on other DPUs.
When mouse is over selected DPU, formatting action bar appears.
Arrow icons are for aligning DPUs.
Distribute icons are for creating same gaps between selected DPUs in given d

[2013-10-14 07:52] bogo777 commented on #627
@skodape Is there a way, how to get this information(graph) from DataUnitInfo? Or combination of DataUnitInfo and ExecutionContextReader? I couldn't find any. If not, can you please add it?

[2013-10-14 07:56] bogo777 commented on #612
Let's discuss this with @tomas-knap .

My idea:
Use icons instead of button labels.
a) Add buttons to the panel with Save/Close buttons in the bottom part of page
b) Create new panel for those buttons in top-right corner
c) leave them under the DPU tree, but just as one row with icon buttons

[2013-10-14 08:15] skodapetr commented on #627
Well I can move DataUnitFactory from Backend to commons-app. Then you can simply use it to crate (instantiate) DataUnits for given DataUnitsInfo + dpuInstance ..

Or we can use concept of browsers .. I don't know if it still alive? And I can add code that create RDFDataUnit into the RDFBrowser.

Personally I prefer the second approach it will also probably reduce your work load a little.

[2013-10-14 08:24] bogo777 commented on #627
Well I need only name of the graph, to show as a label, it should already exist, I think it is meant for use in query.

[2013-10-14 08:41] bogo777 commented on #625
I think it is because of keeping execution and DPU as property in other table. When loading data, it fetches these properties for each log.

My log is full of these queries:

[code]

I don't know, why JOIN in not used, I think that it should help.

[2013-10-14 08:47] tomas-knap commented on #612
Yes, icons are definitely better.

I would prefer top-right corner of the canvas, but it should be always visible, as in case of DPU tree, so it should be moving when the canvas is moved. What do you think?

[2013-10-14 08:51] skodapetr commented on #627
In such case please try DataUnitInfo.getName for "user given name" - probably what you want ?

If you need url .. (which is constructed by ODCS) then:

String id = context.generateDataUnitId(dpuInstance, index); // where index if from DataUnitInfo and context is Execution context info
String graphUrl = GraphUrl.translateDataUnitId(id);

Is this what you are ask for?

[2013-10-14 09:03] bogo777 commented on #625
Actually, the first query looks good:

[code]

But it's only beginning of very long series of queries in the last comment. I have over 6200 of them, and about 15 000 logs in db total.

[2013-10-14 09:16] tomas-knap commented on #625
Mno, ano, tohle posledni query vypada ok, ale nechapu k cemu jsou pak jeste ty dalsi dotazy, kdyz by stacil ten jeden? Bohuslav, povis to Honzovi, jestli by nekouknul proc Hibernate generuje ty zbytecne dotazy? Jeste ke vsemu to vypada, ze ty queries sql: 2013-10-14 10:37:01.031--ServerSession(791687840)--Connection(957676971)--SELECT t0.mapped_value, t0.mapped_key FROM logging_event_property t0 W

[2013-10-14 09:19] bogo777 commented on #627
Thanks, that is what I needed, the url case.

[2013-10-14 09:28] #627 closed, assigned to bogo777

[2013-10-14 09:42] tomas-knap commented on #492
Regarding GUI, so there could be extra tab with inputs/outputs and their descriptions? Or we can have the first tab with core information about DPU - name, descriptiuon, inputs/outputs and second tab will be the configuration?

[2013-10-14 09:42] tomas-knap commented on #492
Maria, could you please prepare mockup for that and prepare the dialog when we agree on the mockup?