[2013-04-23 11:30] tomas-knap opened #1 "Edges deleted on the pipeline canvas reappear when the pipeline is saved and again edited"
To reproduce: Create pipeline, create some edges, delete them, save the pipeline, edit -> the edges appear again

[2013-04-24 08:57] bogo777 commented on #1
fixes by commit 271f3094ab7013bbf19c9f09cb2f92f5c0870228

[2013-04-24 08:57] #1 closed, assigned to bogo777

[2013-04-27 14:32] skodapetr opened #2 "Remove custom IDE setting files from repo"
Please remove:
  intlib/frontend/nbactions.xml
https://github.com/mff-uk/intlib/commits/master/frontend/nbactions.xml

Generally nothing in the repository should reference Eclipse or Netbeans.

[2013-04-27 14:53] skodapetr opened #3 "Update NotSupporteRDFFormatException"
NotSupporteRDFFormatException is thrown in case of bad configuration.

For this purpose please inherit from the fallowing class:
cz.cuni.xrg.intlib.commons.configuration.ConfigurationException

[2013-05-01 15:36] tomas-knap opened #4 "When dropping DPU on the pipeline, more copies emerge"
![image](https://f.cloud.github.com/assets/3014917/449516/c0fba8e4-b274-11e2-9833-ef2f01505104.png)

[2013-05-01 19:54] janvojt opened #5 "Form validation does not focus invalid form elements upon form submission"
When creating new pipeline, pipeline name is required. If I leave it empty and try to submit form by clicking on "Save", nothing happens. Ideally I would expect some error messages and focus on the first form field, that is invalid.
In case I have a small screen, it is even worse, because I cannot see the red exclamation mark at the field. It really looks like save button is broken in such case.

[2013-05-02 15:05] #3 closed, assigned to tomesj

[2013-05-02 15:08] #2 closed, assigned to tomesj

[2013-05-06 14:17] skodapetr opened #6 "DPU.visibility type"
Change type of commons.app.dpu.DPU.visibility from String to Enum. Create new Enum if necessary.

[2013-05-06 14:28] skodapetr opened #7 "ConfigurationException missing comments"
Add comments to newly added variable message in class ConfigurationException, also please explain why you use this way to override original exception message (add explanation to class comments). In my opinion now it's impossible to store and load user defined exception message because getMessage always return same message.

[2013-05-07 12:59] #6 closed, assigned to kukharm

[2013-05-07 14:59] #4 closed, assigned to bogo777

[2013-05-07 15:01] tomas-knap opened #8 "DPU File Loader - wrong auto format"
when specifying file name with extension (ttl), AUTO switch does not work properly (output is in RDF/XML).

[2013-05-07 20:46] tomesj commented on #8
Repaired :-)

[2013-05-07 20:46] #8 closed, assigned to tomesj

[2013-05-07 21:07] tomesj opened #9 "ModuleException -load config dialog"
![bug](https://f.cloud.github.com/assets/3481055/473905/2dc36e32-b75a-11e2-92ca-15f2665a4b31.jpg)

I found it in master and in release 0.1.1

[2013-05-07 21:13] skodapetr commented on #9
Could you please send me jar file with this DPU?

[2013-05-10 14:15] tomas-knap opened #10 "Description of the pipeline."
If the description of the pipeline is too long, the right part of the row (buttons edit/delete/run) disappear.

Solution: Wrap description to up to 3 lines of text. If longer than 3 lines, the end of the third line should end with "three dots". The whole description is visible in the tooltip when mouse points on the pipeline description item. The width of the cell with description can be resized

[2013-05-11 09:44] skodapetr opened #11 "RDFRepo"
Please implement newly added methods (interface DataUnit) to RDFRepository classes. For more information about usage of this methods please refer to EA Dynamic_model.data_unit.

[2013-05-11 09:45] skodapetr commented on #9
Fixed. The DPU implementation used unimported package. Add some more detail message for this case ? ...

[2013-05-11 09:45] #9 closed, assigned to skodapetr

[2013-05-11 10:04] skodapetr opened #12 "Impl. request"
Please implement method getAncestors in DependencyGraph class (commons-app).

[2013-05-11 10:36] tomesj opened #13 "Frontend - import package problem"
Repair implementation problem in Frontend project (problem with import package cz.cuni.xrg.intlib.commons.app.dpu.DPUFacade) - classes App.java, AppEntry.java, DPU.java, PipelineEdit.java

[2013-05-11 10:41] skodapetr commented on #13
What kind of problem exactly? The package name seems to be correct, the name is the same as the classname and path to the class (checked on git hub). Or do I missing something?

[2013-05-11 17:26] tomesj commented on #13
Problem solved

[2013-05-11 17:26] #13 closed, assigned to skodapetr

[2013-05-11 17:36] #7 closed, assigned to tomesj

[2013-05-11 18:59] tomesj opened #14 "Communication between frontend and backend throws Exception"
When I create and save pipeline, then click on RUN button - "CommuticationException" is throws.
![backend exception](https://f.cloud.github.com/assets/3481055/491936/e5a9eea8-ba6c-11e2-9d74-917ae46e40f9.jpg)

[2013-05-11 19:06] skodapetr commented on #14
It's not a bug it is a feature:) actually there is no easy way how to run pipeline now (without some non-system changes) To test the DPU implementation the fastest way is to run them in the release 0.1.1.

[2013-05-11 19:41] #14 closed, assigned to skodapetr

[2013-05-12 14:28] tomesj commented on #11
Methods implemented.

[2013-05-12 14:28] #11 closed, assigned to tomesj

[2013-05-12 17:51] skodapetr opened #15 "SPARQL-transformer"
Please check and finish the implementation of method "transform". There are two repositories. The input repository is read only. The result must be stored in output repository .
Thanks

[2013-05-12 20:45] #12 closed, assigned to janvojt

[2013-05-13 10:13] tomesj opened #16 "Class DatabaseAccess not found"
Backend classes "Engine" and "PipelineWorker" used

import package cz.cuni.xrg.intlib.backend.DatabaseAccess - there is no class named "DatabaseAccess".

It causes compilation problems :-)

[2013-05-13 10:24] skodapetr commented on #16
Sorry my fault, forget to commit that class.

[2013-05-13 10:24] #16 closed, assigned to skodapetr

[2013-05-13 13:39] skodapetr opened #17 "module.File_loader"
I open the configuration dialog then click save and get fallowing exception:
Caused by: java.lang.NoSuchMethodError: cz.cuni.xrg.intlib.commons.configuration.Configuration.setValue(Ljava/lang/String;Ljava/lang/Object;)V
    at gui.ConfigDialog.getConfiguration(ConfigDialog.java:59)
    at module.File_loader.saveConfiguration(File_loader.java:80)

If I fill the values into configuration dialog I al

[2013-05-13 13:47] janvojt commented on #17
I suspect the cause of this might be change of signature for Configuration#setValue, where second argument is Serializable (not Object as before). Therefore make sure your Object implements this interface, or use typecasting.

[2013-05-13 13:53] skodapetr commented on #17
Jan: Yes this can be ... so it's necessary to do this update for almost all DPUs. RDF_Extract/loader is working properly I think.
Maria could you please take care about this?

[2013-05-13 14:16] janvojt commented on #17
Well, I typecasted all those IDE complaint about. I also tested some modules by creating new pipeline. It worked, so most of it should be fine. I don't know if anyone was making changes, or added new modules since.

[2013-05-13 17:59] tomesj commented on #15
Implementation of RDFDataRepository successfully added.

[2013-05-13 17:59] #15 closed, assigned to tomesj

[2013-05-14 11:32] tomesj opened #18 "Repair implementation using Record"
Repair classses in frontend using implementation Record - it can not build.

I need to test rdf data methods in Virtuoso.

[2013-05-14 11:36] skodapetr commented on #18
Well it worked on my side before commit.
But actually if you run only frontend build without rebuild commons-app it throw error.
Please try complete clean, install. If this doesn't help please send build log.
Update: Try pull and install on Intlib

[2013-05-17 15:51] #18 closed, assigned to nobody

[2013-05-17 15:52] #17 closed, assigned to kukharm

[2013-05-17 17:24] skodapetr opened #19 "ExecutionMonitor"
I have fallowing data in db: (pipelineExectuion table)
id   status pipeline_id debug_mode
 1    2     2             0
 2    1     2             0

But the execution monitor show state SCHEDULED for both pipeline executions.
PS: the status is different for each execution

[2013-05-18 11:35] skodapetr opened #20 "DPUs list"
When I select a single DPU from list on  "DPUs" page the "Visibility" has no value and it is in enabled state.
If I select private and click save then after reloading page I can't change the value, this is OK. But if select public and click save, reload I can change the value to private. I believe that there should be possibility to change from public to private.

[2013-05-19 11:21] skodapetr opened #21 "bigdata.ttl"
Should we use http://maven.apache.org/plugins/maven-dependency-plugin/examples/unpacking-artifacts.html to unpack zip with bigdata?
Classic zip reduce the size of bigdata.tll significantly and so decrease the amount of data stored on github.

[2013-05-19 11:28] skodapetr opened #22 "ExecutionMonitor, delete button"
It would be nice to have "delete" button. The button delete certain PipelineExecution from database and if the PipelineExecution has been in debugMode then also delete the context.

To delete context from disk use:
ExecutionContextFactory.delete(execution.workingDirectory);

[2013-05-19 14:51] janvojt commented on #21
I would not include big files used only for testing in the repository at all. It should not be a part of tests that are run after each build, because test lasts long and it would slow down the development process.

[2013-05-22 11:22] skodapetr opened #23 "DataUnit refractoring"
Remove DataUnit.createNew method. Add information about creating DataUnits into (DataUnitFactory?) comments.

[2013-05-22 11:31] skodapetr opened #24 "Modules refractoring"
Add result-null test to modules after DataUnitFactory.create().

[2013-05-22 14:41] janvojt opened #25 "DPU removal fails"
#### Exception is thrown when DPU removal is attempted from web interface.

Most likely caused by closed and reopened Hibernate session. In a new session Hibernate is not managing DPU object, and thus throws exception about detached entity upon attempted removal.
#### Possible solutions:
- catch exception, refetch object, and remove afterwards
  - quick woraround
- implement OpenSessionInView para

[2013-05-22 14:46] skodapetr opened #26 "Backend.LocalRDFRepoTest compilation failed"
Failed to compile because of:
rdfRepo = LocalRDF.createLocalRepo(pathRepo.toString());

There is no method createLocalRepo that takes single String as parameter.

[2013-05-22 20:48] janvojt commented on #25
Implemented the first proposed solution for now.

[2013-05-22 20:48] #25 closed, assigned to janvojt

[2013-05-23 01:16] kukharm opened #27 "DPU tree filtering"
Highlight the searched phrase in the tree.

[2013-05-23 01:17] #19 closed, assigned to kukharm

[2013-05-23 17:02] skodapetr opened #28 "Record dialog"
It would be nice to have possibility display the full (long) message for DPU records.

[2013-05-25 10:02] janvojt opened #29 "Pipeline canvas detects 2 consecutive clicks instead of double click when opening DPU instance configuration"
I found a minor low priority bug in UI. If I click any place on canvas, quickly move the mouse onto DPU instance and click again, instance configuration dialog pops up.

It is a little annoying when quickly connecting DPUs with edges and configuration dialogs keep poping up. It is also a little confusing, because I am never sure whether it is configuration for source or target DPU.

[2013-05-28 07:59] tomas-knap commented on #20
Petr, it should be in an opposite way. If it is public, it cannot be changed to private. Hm?

[2013-05-29 07:56] bogo777 opened #30 "Backend execution fails on More than one row with the given identifier was found"
Steps to reproduce error:
1. Create pipeline and save it
2. Debug pipeline
3. Edit pipeline and save it
4. Try to debug pipeline(Error appears)

[code]

[2013-05-29 07:57] bogo777 commented on #28
Click on DPU Record now causes detail with full message to appear.

[2013-05-29 07:57] #28 closed, assigned to bogo777

[2013-05-29 22:03] skodapetr opened #31 "Backend execution fails on SQLGrammarException"
Steps to reproduce error:
1. Create pipeline and save it
2. Debug/Run pipeline

[code]

[2013-05-29 22:05] skodapetr commented on #24
Done.

[2013-05-29 22:05] #24 closed, assigned to skodapetr

[2013-05-30 07:41] #31 closed, assigned to janvojt

[2013-05-30 07:45] janvojt commented on #31
After some research I found out that this error was caused by virtuoso. Even though [virtuoso documentation](http://docs.openlinksw.com/virtuoso/sqlrefDATATYPES.html) recognizes TIMESTAMP column as a type with date and time, DB implementation silently converts such column to BINARY. I changed all TIMESTAMP columns to DATETIME and this resolved the issue.

[2013-05-30 07:52] janvojt commented on #30
I can confirm this is reproducible. Will look into it.

[2013-05-31 22:07] #26 closed, assigned to tomesj

[2013-05-31 22:11] #30 closed, assigned to janvojt

[2013-05-31 22:13] janvojt opened #32 "Running sample DBpedia pipeline throws NPE"
[code]

[2013-05-31 22:16] janvojt opened #33 "Pipeline canvas has 3 sliders for scrolling"
This is very annoying especially since in FF scrolling with mouse wheel does not work.

![screenshot](https://f.cloud.github.com/assets/2247062/593678/7bc51976-ca3f-11e2-95cf-3a93f05d98d3.png)

[2013-05-31 22:29] tomesj commented on #32
BUG fixed - problem solved.

[2013-05-31 22:29] #32 closed, assigned to tomesj

[2013-06-01 10:05] tomesj opened #34 "Syntax errors when Virtuoso execute data.sql file"
[code]

[2013-06-01 15:08] janvojt commented on #34
Please import through isql. Conductor is not meant for batch import of data. On unix platforms, you can use script /db/tools/update-rdbms to import. On Windows platform similar tool is planned.

[2013-06-01 15:08] #34 closed, assigned to janvojt

[2013-06-03 20:06] janvojt opened #35 "Error indicator is displayed after navigating to 2nd page in paginator"
Steps to reproduce:
1. Run pipeline at least 21 times, so execution listing takes 2 pages.
2. Open execution monitor.
3. Change page number from 1 to 2 in paginator input box.
4. Navigation does not change and error indicator is displayed (without error message).

Note: In step 3, if you click on ">" arrow, navigation works, however error indicator is stil displayed. Therefore I believe the proble

[2013-06-05 17:51] #23 closed, assigned to skodapetr

[2013-06-05 17:52] #20 closed, assigned to skodapetr

[2013-06-13 12:01] bogo777 commented on #29
It is behaviour coming from KineticJS and its events. I was yet not able to change event processing to act better. I'll look into it some more.

[2013-06-13 12:22] bogo777 commented on #33
Bug appeared when experimenting with VerticalSplitPanel, issue resolved.

[2013-06-13 12:22] #33 closed, assigned to bogo777

[2013-06-13 12:32] bogo777 commented on #29
Solved by self evidence of clicks.

[2013-06-13 12:32] #29 closed, assigned to bogo777

[2013-06-20 08:37] tomas-knap commented on #22
Probably we could have button "Prune", which will removes all execution records older than X days.

[2013-06-20 08:40] #5 closed, assigned to bogo777

[2013-06-20 08:46] tomas-knap opened #36 "Resize of the pipeline event detail - the content does not resize"
When clicking on the pipeline event in the debug view, dialog appears. When resized, content does not resize.

Minimal size of the dialog should be introduced. If the dialog is bigger, there should be more space for the full messsage (thus full message text area should always take the whole space being available in the dialog)

[2013-06-20 08:50] tomas-knap opened #37 "Date format - pipeline event detail & filters"
When clicking on the pipeline event in the first table in the debug/show log view, format of the date in the pipeline event detail must be aligned with the format in pipeline monitor and pipeline event table.

Similarly the calendar filter in the pipeline monitor should show the date (not the time) in the same format as the first column of the table.

[2013-06-20 08:53] tomas-knap opened #38 "Date filter - Pipeline event monitor"
Calendar filter in the pipeline event monitor should work in the mode that when the date is selected, all events from that date or later are displayed.

Before the calendar filter, there should be label "From", so that user knows how the calendar filter works.

[2013-06-20 09:02] tomas-knap opened #39 "Logovaci okno v debug dialogu"
Posuvnik u textearea s logem na zalozce log u debug/show log dialogu musi vzdy vyplnit cely prostor ktery ma, ale nesmi mit tato textarea posuvnik. Lze nastavit minimalni velikost textarea. Pokud je dialog mensi, tak se objevi posuvnik u dialogu. Pokud je dialog vetsi, tak textarea s logem vyplni prostor co vyplnit muze.

Take logovaci okno je readonly.

[2013-06-20 09:10] tomas-knap opened #40 "Highlight the table item - when selecting pipeline event in the debug view"
Table - pipeline events - clickable, but no highlighting -> add highlighting of the selected row

[2013-06-20 09:11] tomas-knap opened #41 "List of pipelines - buttons for each row or one set of buttons under the table?"

[2013-06-20 09:16] tomas-knap opened #42 "Combo-boxes above the pipeline events table"
status and debug comboboxes - users must not be able to insert any text there

[2013-06-20 09:27] tomas-knap opened #43 "Buttons (filters) are not aligned with the table of events"
See below, the line with filters should end at the same moment as the table for pipeline events (so that the right part of the pipeline event dialog is alighned)

![screen shot 2013-06-20 at 11 25 51 am](https://f.cloud.github.com/assets/3014917/680300/78ee978a-d98b-11e2-840b-9dbcf251edd7.png)

[2013-06-20 09:36] tomas-knap opened #44 "Too many scrollbars"
For pipeline execution dialog:
- if the width of the dialog is too low, ONE scrollbar should occur for the WHOLE dialog, no scrollbar for the table. (see below)
  ![screen shot 2013-06-20 at 11 21 21 am](https://f.cloud.github.com/assets/3014917/680276/f2ab731e-d98a-11e2-8985-02266bc47cc6.png)
- For debug view, there should be NO scrollbar for the table with events, but if the width is too low, th

[2013-06-20 09:37] tomas-knap opened #45 "Pipeline edit - size of the canvas"
How could we allow users to increase the size of the canvas if needed for bigger pipelines?
Scrollbars for the pipeline canvas and canvas big enough for all situations?

[2013-06-20 13:26] bogo777 commented on #45
Scrollbars for the pipeline canvas are present in new zoom feature, so i would go this way. But there is problem with the size of canvas - max zoom canvas has size 3200x1260px and on my computer UI is pretty slow. I would be for enlarging canvas only on explicit request from user through button for example. It could be in same action bar as zoom.

[2013-06-21 13:17] tomas-knap commented on #45
Ok, thanks, Bohuslav, can you pls prepare a mockup in confluence with the new canvas features including this button for canvas enlargement and zoom? So that we can discuss before it is done.

[2013-06-21 14:41] tomas-knap commented on #35
The same problem occurs for pipeline events when debuging pipeline having more than 5 pipeline events!

To Reproduce:
1. Debug pipeline with at least 3 DPUs, so that 6 events occur.
2. Navigate to the second page with events., error occurs.

[2013-06-21 14:59] tomas-knap opened #46 "Strange Pipeline Execution Behavior - debug data missing!"
Look at http://odcs.xrg.cz:8080/etl-manager/, there are two pipelines having the same Extractor.

When debugging pipeline "DBPedia", the extractor extracts certain data. When debugging pipeline "DBPedia", I can browse the intermediate results of extractor/loader. When debuggin pipeline "DBPedia with SPARQL", the pipeline works (it extracts, transforms, and loads the data), however, the debugger (d

[2013-06-21 15:27] tomas-knap opened #47 "DPU Template created from the DPU instance looses its configuration"
See http://odcs.xrg.cz:8080/etl-manager/

I placed DPU RDF loader on the pipeline, filled the configuration, saved as Prague RDF File Loader.

When placing Prague RDF FIle Loader on the second pipeline, it worked. However, when creating third pipeline ("test sparql") and again placing Prague RDF File Loader, it lost its configuration. When trying to further place the Prague RDF File Loader, it doe

[2013-06-22 09:56] tomas-knap opened #48 "Saving DPU instance as new DPU template to the tree"
When DPU instance is saved as new DPU template, it should appear at the third level in the tree (as a child of the DPU template representing the common JAR (module) file). E.g. If I create specific SPARQL Extractor X, it should appear as a child of DPU SPARQL Extractor.

If I create new SPARQL Extractor Y being derived from SPARQL Extractor X, it should appear a child of SPARQL Extractor again (no

[2013-06-22 10:58] tomas-knap commented on #46
To reproduce on the local, create pipeline DBPedia. Save the extractor/loader as a new DPU. Create new pipeline where you use the saved extractor/loader and transformer. Try to debug the second pipeline

[2013-06-22 14:44] tomas-knap opened #49 "Parallel running of the Scenario"
When running Scenario 1 (See iteration 2 in confluence) once, it was successfully executed in approx 2mins. There was still the problem already described by bug #46 .

However, when running Scenario 1 three times, there is no result after 40mins.

It was tested on odcs.xrg.cz:8080/etl-manager.

To try that, create a pipeline for Scenario 1 in confluence, containing extractor, 3x SPARQL transformer

[2013-06-23 15:09] kukharm commented on #37
I can not catch this bug, i have in all fields the same  format

![date](https://f.cloud.github.com/assets/3471169/692291/d0449b5a-dc16-11e2-83b8-f8572f11e6aa.jpg)

[2013-06-23 15:43] #47 closed, assigned to janvojt

[2013-06-23 15:57] #42 closed, assigned to kukharm

[2013-06-24 02:04] #38 closed, assigned to kukharm

[2013-06-24 06:45] tomas-knap commented on #37
Ok, so the calendar component is setting the data based on the local settings. If you try english version of e.g. firefox, the data selected by the filter will be in the different format. Can the column date in the tables reflect the local settings as the calendar component is doing?

[2013-06-24 07:04] bogo777 commented on #46
There was mixup in used indexes for directories with debug data. In resolving directory name in frontend, index from debug context was used, but in backend dpu index was used. When there were only 2 dpus, extractor and loader, the bug didn't show. I fixed that and now I can display data from any dpu, and for transformer for both input and output graph in query tab.

[2013-06-24 07:04] #46 closed, assigned to bogo777

[2013-06-24 07:15] bogo777 commented on #39
Upravil jsem to tak, že textarea s logem v execution monitoru vyplnuje cely prostor a pokud je text delsi, ma posuvnik. V pripade debug dialogu v edit pipeline se textarea resizuje podle okna a pripadne ma opet posuvnik. Pri dodrzeni minimalni velikosti okna u debug dialogu by ani dialog ani okno v execution monitor nemeli mit posuvnik. Jedinym posuvnikem je tedy ten u textarey, prijde mi to lepsi

[2013-06-24 07:25] tomas-knap commented on #39
Diky. Vidim tam dva problemy s tim textarea posuvnikem:
1. Pokud to chapu spravne, tak tam temer vzdy na mensich monitorech/projektorech bude posuvnik horizontalni na urovni celeho debug view dialogu a pak vertikalni jen na urovni textarea?
2. Taky tam vidim trosku problem v tom, ze zatimco u zalozky log bude posuvnik jen u textarea, tak u zalozky browse/query je strankovani (pripadne v budoucnu v

[2013-06-24 08:25] bogo777 commented on #36
Content is resized now, full message textarea takes whole space available. Vaadin does not support minimum size for windows and css atributtes for this also does not work in Vaadin.

[2013-06-24 08:25] #36 closed, assigned to bogo777

[2013-06-24 08:47] bogo777 commented on #40
Pipeline events are now selectable.

[2013-06-24 08:47] #40 closed, assigned to nobody

[2013-06-24 09:31] tomas-knap opened #50 "Pipeline execution monitor - sorting executions starting by the latest date"
By default, pipeline executions should be sorted from the latest date to the earliest.

[2013-06-24 09:49] tomas-knap opened #51 "When refreshing pipeline execution monitor, filters must remain in place"
filters/selected sorting for the table/etc. must not disappear when the refresh button is pressed.

[2013-06-24 15:42] tomesj opened #52 "Missing input setting in File_loader"
When I create simple pipeline, File_extractor ->File_loader my pipeline by execution in File_loader part has already no inputs (=context.getInputs() is always empty) and thows LoadException("Missing inputs!") - so  pipeline finish never successfully.

It seem to be wrong context setting.

[2013-06-25 15:22] tomas-knap commented on #45
Scrollbars on the window, DPU tree fixed (always available = position absolute). Buttons should be always visible.

[2013-06-25 15:35] tomas-knap commented on #44
Scrollbars for tables, textareas, no scrollbar for the window/dialog

[2013-06-25 15:36] tomas-knap opened #53 "Filters - first row in the table (Pipeline execution)"

[2013-06-25 15:36] tomas-knap commented on #43
See #53

[2013-06-26 11:01] tomas-knap opened #54 "Filters for debug/status in pipeline execution should contain images. Image for normal run"
Combo boxes for filtering debug/status in pipeline execution should contain images (not the texts,such as Running, finished, ..).

For debug column, there should be an extra image showing that the execution was normal, not debug (obrazek pro debug, ale preskrtnuty?), This is needed to be able to filter only those executions, which run normally.

[2013-06-26 11:08] tomas-knap opened #55 "Buttons and other minor adjustments"
DPU detail -> button "Save to DPU tree" should be renamed to "Save and store to DPU tree"
DPU detail -> add button "Cancel" after save buttons.
Pipeline detail -> add button "Cancel",
Pipeline detail -> buttons "commit, revert to last commit" should be greyed (not available yet).
Pipeline detail -> add button "Save and Close" which behaves like the current button "Save".
Pipeline detail -> button

[2013-06-26 11:31] tomas-knap opened #56 "Try the performance difference between the original and new Virtuoso Sesame Provider."

[2013-06-26 11:33] tomas-knap commented on #39
Summary: It is ok as explained by Bohuslav.

[2013-06-27 16:11] tomas-knap opened #57 "RDF File formats for File Extractor"
Jirka, prepare tests (File Extractor tests) which process also files in:
N-Triples serialization (which is a subset of turtle (TTL))
N3 serialization (which is a superset of turtler (TTL))
TriG serializaiton (which is TTL with named graphs)

At least one test per one of the serializations. N3, Trig is already in combo box of File extractor, N-Triples should be added to combo box.

[2013-06-27 16:37] tomas-knap opened #58 "File Extractor must throw exception if the file does not exist"
If the file does not exist, there is no error/warning.

Solution: File Extractor must check whether the introduced file/directory exists - if not, it must throw certain event (DPU_error). If it is a directory, it must introduce a warning (not DPU_error) if the directory exists but there is no file to be processed.

For easier validation, issued #59 should be solved first

[2013-06-27 16:39] tomas-knap opened #59 "File Extractor - adjust dialog according to mockup"
Adjust the interface of the File Extractor as depicted in
https://grips.semantic-web.at/display/LOD2/DPU+-+Extractor+from+RDF+File

Reason: It is easier for the user to realize what he can input in the fields. Also the validation may be done easier.

Main changes:
- one field having more functionality is divided to three
- there is extra possibility to upload file

When ready, assign Jirka to adju

[2013-06-28 09:36] tomas-knap opened #60 "When the pipeline is running and backend crashes, pipeline remains in status "Running" forever"

[2013-06-28 10:12] tomesj commented on #21
Solved

[2013-06-28 10:12] #21 closed, assigned to tomesj

[2013-06-28 12:06] bogo777 commented on #35
Fixed by using newer version of PagedTable Addon from https://github.com/ondrej-kvasnovsky/PagedTable

[2013-06-28 12:06] #35 closed, assigned to bogo777

[2013-06-28 12:06] #39 closed, assigned to bogo777

[2013-06-28 12:44] #55 closed, assigned to bogo777

[2013-07-01 07:41] bogo777 opened #61 "Canvas improvement - dpu layout formatting"
Possibility to select multiple DPUs and perform selected formatting action on them. Formatting actions:

align top - DPUs are aligned to the highest selected DPU
align bottom  - DPUs are aligned to the lowest selected DPU
align left - DPUs are aligned to the most left selected DPU
align right - DPUs are aligned to the most right selected DPU
distribution horizontal - horizontal space between DPUs

[2013-07-01 07:43] bogo777 opened #62 "Canvas improvement - Undo button"
Every change on canvas is saved to stack and it is possible to go back to previous version of pipeline in the scope of current changes since last save/commit.

[2013-07-01 09:58] tomas-knap opened #63 "Message "Pipeline is still running. Please click refresh to update status.""
the message does not disappear when the pipeline is finished.

[2013-07-01 10:52] tomas-knap opened #64 "Comments in GUI - further improved"
Nechci prudit ;) ale mrkni prosim jeste na ty komentare. Urcite tam popis kazdy parametr vetou a kazdou navratovou hodnotu prosim take. I za cenu toho, ze se ten popis bude opakovat zcasti. Kdyz si nekdo necha zobrazit params dane metody, tak hned vi, jake je role kazdeho pararmetru a co muze ocekavat jako navratovou hodnotu. I ty to ocenis za dva,tri mesice ;)

Priklad (zrovna u tehle metody to n

[2013-07-01 14:36] bogo777 commented on #63
Fixed.

[2013-07-01 14:36] #63 closed, assigned to bogo777

[2013-07-01 14:42] tomesj opened #65 "DPUs distribution on canvas"
When I create some pipeline, save it I will go back, my DPUs have different layout than the origin.

DPUs are not at the same place - they are minimal distance to each other.

[2013-07-01 16:03] tomas-knap opened #66 "extractRDFfromFileToRepository should not launch ExtractException?"
Reason: Cannot be used by the transformer

public void extractRDFfromFileToRepository(String path, String suffix,
            String baseURI,
            boolean useSuffix) throws ExtractException;

[2013-07-01 16:18] bogo777 commented on #65
It was caused by saving unnormalized coordinates. DPU coordinate was dependent on zoom. Fixed by saving normalized coordinates only.

[2013-07-01 16:18] #65 closed, assigned to bogo777

[2013-07-01 16:20] bogo777 commented on #64
Zkusil jsem to vylepšit, budu se to snažit psát u nových věcí rovnou.

[2013-07-01 16:42] tomas-knap opened #67 "Virtuoso repository for storing intermediate results should be configurable in the config.properties file"
Currently:

public static VirtuosoRDFRepo createVirtuosoRDFRepo() {

[code]

Goal: hostname/port/user/pass/defaultGraph must be configurable without the need for rebuild. Reason: On the production server, I use different port for virtuoso.

[2013-07-01 18:10] #50 closed, assigned to kukharm

[2013-07-01 19:03] #51 closed, assigned to kukharm

[2013-07-02 08:14] tomas-knap opened #68 "CSS pro Vaadin"

[2013-07-02 08:15] tomas-knap opened #69 "Guide for creation of Vaadin dialogs"

[2013-07-02 08:47] janvojt opened #70 "Lazyloading entities from DB"
Currently, all entity properties are recursively eagerly loaded by hibernate. This has some performance impact, and in future we need to prefer lazy loading.

The reasoning behind current behavior:
We use hibernate-managed entities directly in the frontend. Hibernate session is configured to open before processing HTTP request, and close after each HTTP response. Each next HTTP request has a priva

[2013-07-02 09:06] tomas-knap opened #71 "Zoom feature on the canvas"
Prepare slider with three positions instead of two buttons

[2013-07-02 11:04] tomas-knap opened #72 "DPUINFO Events holds negative events"
DPUINFO should not be used to express problems, we should use DPUERROR

![screen shot 2013-07-02 at 1 02 07 pm](https://f.cloud.github.com/assets/3014917/735981/e4875fac-e306-11e2-84eb-8e09af295116.png)

E.g. DPU info holds: Exception: java.io.FileNotFoundException: /usr/local/tomcat/apache-tomcat-7.0.33/webapps/examples/intlib/prague-dbpedia.ttl (Permission denied)

In these cases DPUERROR should

[2013-07-02 11:21] tomas-knap opened #73 "Running pipeline with SPARQL transformer and wrong query"
Create pipeline with a transformer containing a query:

DELETE {?s ?p ?o} where {?s ?p ?o FILTER regex (?o, "^\s_$")};
DELETE {?s ?p ?o} INSERT {?s ?p ?x} WHERE { {SELECT ?s ?p ?o (fn:replace(str(?o), '^\s+(\S+._)$', '$1')) AS ?x WHERE {{?s ?p ?o}}} FILTER (BOUND(?x))};

when the pipeline is executed, look in show log dialog, click on DPUINFO for the transformer. As a result, it displays:
![screen

[2013-07-02 12:13] tomas-knap opened #74 "Hidden exceptions in DPUs"
See below, why the ex.getMessage(); is not populated? This is the important message which has some information content!:

...
} catch (UpdateExecutionException ex) {

[code]

Compare:
2013-07-02 14:01:58,462 [pool-2-thread-15] DEBUG c.c.x.i.commons.app.rdf.LocalRDFRepo - SPARQL query was not executed !!!
2013-07-02 14:01:58,462 [pool-2-thread-15] DEBUG c.c.x.i.commons.app.rdf.LocalRDFRepo - org.op

[2013-07-02 12:29] tomesj commented on #49
Parrallel running tests for simple pipeline using Local/Virtuoso repository were executed successfully.

[2013-07-02 12:32] tomas-knap commented on #49
And what was the problem?

[2013-07-02 12:32] tomesj commented on #74
Repaired.

[2013-07-02 12:37] tomesj commented on #49
I don´t know. Maybe bad using of repository. When I tested parralel running functionally I never had problems with throwing exception or wrong behavior.

[2013-07-02 12:37] #49 closed, assigned to tomesj

[2013-07-02 14:13] tomas-knap commented on #74
Please adjust that for all places where you rethrow exceptions so that no detailed exception is lost.

[2013-07-02 14:24] tomesj commented on #67
Virtuoso used App configuration :-) Solved

[2013-07-02 14:24] #67 closed, assigned to tomesj

[2013-07-02 15:36] tomas-knap opened #75 "Uploader allows to upload only jar files (based on the extension)"

[2013-07-02 15:38] tomas-knap opened #76 "Validation of form fields - any component in Vaadin?"

[2013-07-03 08:41] #52 closed, assigned to skodapetr

[2013-07-03 08:52] tomas-knap opened #77 "Checkbox "use statistical handler" for extractor"
An extractor from RDF file/SPARQL endpoint should have an optional checkbox "use statistical handler", which allows to monitor better the extraction process (and also log).

In the log, there should be at the level of debug information about every triple which has certain problem when the triple was loaded (e.g. wrong datatype, wrong URI...). There should be also information in the log at the leve

[2013-07-03 09:00] tomas-knap opened #78 "Events - Pipeline execution terminated because of: Error in DPU."
Should be more specific?

[2013-07-03 09:20] tomas-knap opened #79 "ProgressBar for Pipeline Execution"
progressbar, which updates when DPU is finished on the pipeline. If pipeline contains 4 DPU, every one finished DPU adds 25% to progress bar.

[2013-07-03 11:43] tomesj commented on #74
Detail exception add to all places :-)

[2013-07-03 11:43] #74 closed, assigned to tomesj

[2013-07-04 00:01] tomesj commented on #77
Use statistical handler prepared, added to dialog.

[2013-07-04 01:02] tomesj commented on #58
Bug fixed - throw ExtractException if path to file/directory doesnt exist.

[2013-07-04 01:02] #58 closed, assigned to tomesj

[2013-07-04 06:31] tomas-knap commented on #77
Jirko, could you please implement the handler, so that it logs the problems with the data (if the error/warning method of the handler is invoked) and computes the number of triples loaded and then writes it to the log?

[2013-07-05 16:01] tomesj commented on #77
Solved as commit d562d4f98e752b687fd0f521a59551b35555486c

[2013-07-05 16:01] #77 closed, assigned to tomesj

[2013-07-05 23:46] tomesj commented on #57
Solved :-)

[2013-07-05 23:46] #57 closed, assigned to tomesj

[2013-07-07 14:18] kukharm opened #80 "Upload component (DPU Create): check the presence of file"
Display an error message if the user has no file selected, but presses the upload button.

[2013-07-07 18:49] tomesj commented on #73
SPARQL query doesnt support regular expression - prefix fn: can be used only with defined prefix.

[2013-07-07 19:10] tomas-knap commented on #73
That is true, but why did the given exception occur? I would expect something as "SparqlQuerySyntaxError", with  explanation that there is problem with the undefined prefix or something like that.

[2013-07-09 07:47] tomas-knap opened #81 "Upload Component - Status window has to close when the CreateDPU dialog is saved/closed"

[2013-07-09 11:19] tomas-knap commented on #73
Jirka, can you please update me on this?

[2013-07-09 11:39] tomas-knap opened #82 "Mandatory fields for DPU details should be checked only when DPU is placed on the pipeline, not when DPU template is prepared"
To reproduce:

Menu item DPUs -> select DPU (for example extractor). Try to change description. Exception occurs which requires to change also other settings.

SOlution: Mandatory fields should NOT be checked for DPU templates. DPU template may be incomplete with respect to mandatory fields.

[2013-07-09 11:45] tomas-knap opened #83 "Save and Close and missing label for the pipeline"
TO reproduce: Prepare very complex pipeline, but without pipeline name. Click Save&Close. As a result, you will loose all your work

[2013-07-09 11:50] tomas-knap opened #84 "Extractor from file, sparql - problems with configuration"
je tam třeba opravit konfiguraci pro Extractor .. neb jinak není nastavena jedna Boolean hodnota .. a neb se tam typuje na boolean .. tak to skončí na nečekaný Null Exception.

Pokud nevis, zkus konzultovat prosim s Petrem. Tohle specha, abych to mohl testovat.

[2013-07-09 11:51] #64 closed, assigned to bogo777

[2013-07-09 11:54] tomas-knap opened #85 "Adjust DPU FIle Extractor dialog according to mockup"
See https://grips.semantic-web.at/display/LOD2/DPU+-+Extractor+from+RDF+File

Main changes:
- one field having more functionality is divided to three
- there is extra possibility to upload file

When ready, assign Jirka to adjust the implementation for the DPU.

[2013-07-09 12:59] #83 closed, assigned to bogo777

[2013-07-09 13:03] tomas-knap commented on #76
Bohuslav, how is it with the validation component in Vaadin 7, does it make sense to use it for validation of user inputs?

[2013-07-09 13:04] #80 closed, assigned to kukharm

[2013-07-09 13:15] tomas-knap commented on #69
It is needed to prepare a guide for writting Vaading dialogs, using graphical user interface etc.

[2013-07-09 13:17] #85 closed, assigned to kukharm

[2013-07-09 13:23] tomas-knap commented on #53
The basic idea would be that the first row in every table would be row with filters. It should be tested on pipeline execution table, but applicable in general

[2013-07-09 13:29] tomas-knap opened #86 "DPU Instances tab in DPU list"
DPU instance tab as depicted in mockup - DPU List + Creation page

[2013-07-09 13:37] tomas-knap opened #87 "Filters for the columns in the table log/browse/query in the debug/show log view"

[2013-07-09 14:10] tomas-knap opened #88 "Add more testing pipelines to data.sql"
Apart from DBpedia add:
- eHealth with 3 sparql updates (RDF file extractor, file loader, sparql transfomers)

[2013-07-09 20:57] #81 closed, assigned to kukharm

[2013-07-09 22:48] tomesj commented on #73
Yes, I try make it :-)

[2013-07-10 09:39] bogo777 commented on #53
This looks promising: https://github.com/tepi/FilteringTable . I will try it when more important issues are resolved.

[2013-07-10 09:50] #84 closed, assigned to tomesj

[2013-07-10 17:09] tomesj commented on #73
Solved - using SPARQLUpdateValidator.

[2013-07-10 17:09] #73 closed, assigned to tomesj

[2013-07-11 08:21] tomas-knap commented on #59
Jirko, please adjust the File Extractor based on the adjusted gui. And test that the choices can be saved, checkbox is working.

Pak jeste prehod tenhle ukol na Marii:
Ahoj, koukal jsem na to, ten vyber moznosti muze byt i tak jak to mas (uprav prosim mockup), akorat tam prosim jeste pridelej podobne jako u SPARQL extractoru zalozku details, kam das "use statistical handler" checkbox. Zbytek nech

[2013-07-11 08:29] tomas-knap opened #89 "Remove "Line breaks counted .." from the "Status" dialog when uploading"
For file extractor - upload and jar upload.

[2013-07-11 09:54] bogo777 commented on #48
Solved. May need database representation improvement from Honza.

[2013-07-11 09:54] #48 closed, assigned to bogo777

[2013-07-11 09:59] bogo777 commented on #44
Extra scrollbar in execution monitor is caused by filters and it will be solved by solving #53
Scrollbars in pipeline edit will be solved by #45
Other scrollbars as Tomas wrote in last comment.

[2013-07-11 09:59] #44 closed, assigned to bogo777

[2013-07-11 11:07] #89 closed, assigned to kukharm

[2013-07-11 11:50] tomas-knap opened #90 "Create DPU dialog"
When selecting JAR file and clicking on button "Upload", upload dialog appears and the file is being uploaded. that is fine. However, when upload finishes, see picture below,
1. the upload dialog does not dissapear
2. there is label next to the upload button, which says "no file selected". But there should be the file which was just apploaded
3. I don't see the reason for two buttons- choose file

[2013-07-11 11:55] tomas-knap opened #91 "There cannot be two DPU templates with the same name."
The situation in the figure is not possible, when creating new DPU, we should check that the name is unique.

![screen shot 2013-07-11 at 1 53 10 pm](https://f.cloud.github.com/assets/3014917/781374/79e98528-ea20-11e2-9cbd-29738ecf0fb2.png)

When saving DPU on the canvas as new DPU template, new name must be used. If not, there is a warning.

It is then confusing for the user.

Similar problem may

[2013-07-11 12:21] tomas-knap opened #92 "Config.properties - define path to "intlib" dir at one place"
not 3x. So at the beginning there should be a place where user may define INTLIB_DIR  variable, which is then used further where the path to home dir is needed.

[2013-07-11 13:03] tomas-knap commented on #87
Depends on #53

[2013-07-11 13:28] tomas-knap opened #93 "RDF file loader - unable to create XML namespace qualified name"
When running pipeline DBpedia, I got:

Exception: Unable to create XML namespace-qualified name for predicate: http://www.w3.org/1999/02/22-rdf-syntax-ns#

Based on the message, it seams to me that there is a predicate http://www.w3.org/1999/02/22-rdf-syntax-ns#, which is strange.

Do you have any info about that, Jirko?

[2013-07-11 13:58] tomas-knap commented on #93
Problem is with the extractor on the pipeline, the name for the graph is wrong. Please adjust that in the testing data (data.sql).

[2013-07-11 15:11] kukharm opened #94 "getAfterPipelines() exception"
I call the method getAfterPipelines() on the scheduler that has type AFTER_PIPELINE and get the exception:

июл 11, 2013 5:05:01 PM com.vaadin.server.DefaultErrorHandler doDefault
SEVERE:
org.hibernate.LazyInitializationException: failed to lazily initialize a collection of role: cz.cuni.xrg.intlib.commons.app.scheduling.Schedule.afterPipelines, no session or session was closed
    at org.hibernat

[2013-07-11 19:59] tomesj commented on #59
Funcionality of file_extractor wasn´t change by adding/split 3 types of path. Maria can add Statistacal Handler to mockup :-)
I can write tests for all 3 types during afternoon tomorrow.

[2013-07-12 08:13] tomas-knap opened #95 "When debugging, I should be possible to browse/query the particular data units"
In the debug mode, user may observe the data flowing throw data units. As a consequence, when querying the inputs/outputs of DPUs, I should be able to browse/query either all inputs/outputs of DPU or the individual data units, not just all "input" and "output" graph.

[2013-07-12 08:13] #93 closed, assigned to tomesj

[2013-07-12 08:17] tomas-knap commented on #22
I would opt fo Prune button, which hides older pipeline executions, however, the executions remain in the database for further use (by scheduler when the pipeline was last run,...)

[2013-07-12 09:58] tomas-knap commented on #90
Great, it works,

three more comments to DPU create:
1. Visibility should be preselected in the DPU create dialog as Public, user may change it but one option has to be selected.
2. When clicking on the button cancel during uploading, the dialog closes. However, I am not able then to upload any other file. Solution: When cancelling upload, I have to be able to select and upload new file.
3. When s

[2013-07-12 10:05] tomas-knap commented on #59
Jirka, just check that all options of the extractor are tested. In case of HTTP URI, you may skip the automated test, but check that it is working.

[2013-07-12 10:42] tomas-knap opened #96 "Better differentiate DPU and DPU template in GUI labels"
Based on the usability feedback:

To Bohuslav:
-Menu item "DPUs", please rename to "DPU Templates"
-in DPU tree,
    - "Only my DPURecord" -> "Only my DPU templates"
    - text "DPUs" on the line before "Extractors" -> change to "DPU Templates"
- DPU detail
  - button "Save and store to DPU tree" -> rename to "Save as DPU template"

When ready, please assign Maria.

To Maria:
DPUs menu item:
- "Cr

[2013-07-12 10:46] tomas-knap commented on #45
Please do not forget on the feature "Buttons Save, Save & Close, ...should be always visible" It is really annoying to  always scrolling down to save the pipeline

[2013-07-12 10:48] tomas-knap commented on #86
Maria. what is the status of this task?

[2013-07-12 10:49] tomas-knap commented on #75
This one can be closed?

[2013-07-12 10:50] tomas-knap commented on #72
Petr, what is the status of this taks?

[2013-07-12 12:06] tomas-knap opened #97 "Virtuoso - named graphs used to store intermediate results - there is just one!!"
When virtuoso is selected as intermediate storage of intermediate results, named graphs has to be properly used. Engine should ensure that.

The named graphs should be used as described in https://grips.semantic-web.at/display/LOD2/Pipeline, running on top of Virtuoso.

Currently, only one named graph is used for all executions, which is not acceptable and does not make any sense!!  Therefore the

[2013-07-12 12:30] tomas-knap opened #98 "Prepare working DPU Linker"

[2013-07-12 12:30] tomas-knap opened #99 "Prepare DPU conflict resolution"

[2013-07-12 12:43] tomas-knap opened #100 "Possibility to cancel the pipeline execution"
There should be button "cancel", which allows to stop and cancel the pipeline execution.

[2013-07-12 12:58] tomas-knap opened #101 "Possibility to delete and copy pipeline"

[2013-07-12 13:24] kukharm commented on #75
Yes, it works.

[2013-07-12 13:24] #75 closed, assigned to kukharm

[2013-07-12 17:43] tomesj commented on #97
The default graph is set by creating Virtuoso in constructor. All operation (count of triples/adding/deleting, etc) are automatically doing over actuall set default graph. If you can use other graph for each type of DPU instance (extractor/transformer/loader) you just call method setDefaultGraph(String defaultGraph) on instance of Virtuoso repository before working concrete type of DPU - each DPU

[2013-07-12 22:07] skodapetr commented on #72
I'am a little bit uncertain .. when I look at the "Loader failed" short message it's connected to LoadFailedEvent class and this class use type = RecordType.DPU_ERROR.

[2013-07-12 22:12] skodapetr commented on #97
setDefaultGraph is called in DataUnitFactory now with I believe unique graph name.
Jirka please check the functionality with Virtuoso server.

[2013-07-13 07:03] tomas-knap opened #102 "Adjust Dependency Graph"
so that when debuging DPU X only the DPUs needed to obtain inputs of X and evaluate X are run.

Pozn. od Bohuslava: debug till the selected DPU funguje, potřeba upravit DependencyGraph(teď skončí execution v okamžiku, že se vykoná žádané DPU, ale nikde není zaručeno, že předtím neproběhnou nějaká, která nejsou potřeba)

[2013-07-13 07:06] tomas-knap commented on #10
- zde je problém, že šířka sloupce se určuje podle obsahu a já chci obsah přizpůsobit šířce sloupce(respektive nějaké ideální šířce, kterou neznám)

-více-řádkové labely v tabulce rozhází její schopnost resizování a scrollování, nevypadá to hezky(udělá se scrollbar v rámci tabulky, tabulka zůstane vysoká dle původní výšky řádku X počet záznamů na stránku)

=> takže zatím jsem akorát zjistil jak to

[2013-07-13 11:32] tomas-knap commented on #92
což mě přivádí k té cestě na 3 místech .. asi by se něco udělat dalo .. nicméně .. ono každé z toho znamená něco jiného a nevím jestli skutečnost, že teď je to na jednom místě znamená, že to na něm bude vždy.

I když asi si umím představit mergnout lib-dpu .. s tím že ty budou jako podstruktura pevné .. jinak mě třeba tyhle dvě vedou do projektu .. a pak ta backend.working úplně jinam.

Jj, to je

[2013-07-13 11:33] #92 closed, assigned to skodapetr

[2013-07-13 15:30] tomas-knap commented on #72
Seems to be solved.

[2013-07-13 15:30] #72 closed, assigned to skodapetr

[2013-07-13 16:33] tomesj opened #103 "Fail to load configuration - Transformer, SPARQL and RDF file loader"
I can display configuration for describes DPUs. Problem is not solved using clean&build.

Extractors dialogs are OK.

![image](https://f.cloud.github.com/assets/3481055/793040/78a7a81a-ebd9-11e2-977f-93000afa6714.png)

[2013-07-14 08:00] #94 closed, assigned to janvojt

[2013-07-14 08:17] janvojt commented on #103
I can confirm this. Jar file exists in mentioned path and is readable. Petr, please look into this asap.

[2013-07-14 14:30] tomesj opened #104 "File extractor dialog"
When I choose value"Upload file", then I choose a file and give save dialog,  then I can not open the dialog for this DPU again.

In other cases (file, directory, http) it is OK (a can save and then open dialog).

[2013-07-14 15:28] kukharm commented on #104
Hi, Jiri, I suppose that this is because the field textFieldPath for "Upload file" is read only and in setConfiguration its necessary for case extractType == FileExtractType.UPLOAD_FILE to set

 textFieldPath.setReadOnly(false); // allow value settings
 textFieldPath.setValue(conf.Path); // set value
 textFieldPath.setReadOnly(true); // forbid

I was put this settings when I prepared the dialogue

[2013-07-14 16:28] skodapetr commented on #103
If the exception ends on "cannot be resolved" it means that the jar file exist is readable but not all of the required packages are available.

Solved in commit "conf.properties update". Please update configuration file ( module.frontend.expose  value)

[2013-07-14 16:28] #103 closed, assigned to skodapetr

[2013-07-14 16:30] tomesj commented on #104
Peter recently changed configuration setting, try to clean your database and put schema and data again. If it is not solve your problem, write email to Peter.

[2013-07-14 16:37] skodapetr commented on #104
Hi, yes I do .. Maria know about it .. and I'm afraid it's not this case. In the stack trace is:
 com.thoughtworks.xstream.XStream$2.readFromStream(XStream.java:1723)
the XStream takes care about configuration serialisation. If the configuration class is changed and there is previously serialised configuration in database it produce this exception.

[2013-07-14 16:44] tomesj commented on #104
Thank you, Maria for given hint :-) The problem is solved:-)

[2013-07-14 16:44] #104 closed, assigned to kukharm

[2013-07-14 17:37] tomesj opened #105 "Pipeline structure error"
When I debug DBPedia pipeline using Virtuoso as storage for results, I get Pipeline structure error - see picture.

Info+ :
14.7.2013 19:26:06  //data
pool-2-thread-1 //thread
ERROR //level
cz.cuni.xrg.intlib.commons.app.module.OSGIFramework    //source
Failed to load class for 'file:///C:/MyGIT/intlib/target/dpu/File_loader-0.0.1.jar'  //message

But I found File_loader-0.0.1.jar on this path.

!

[2013-07-14 19:49] kukharm commented on #96
I'll adjust mockups when in confluence will be possible.

[2013-07-14 19:50] tomas-knap commented on #96
Ok, thanks, we will close the issue then when mockups are adjusted

[2013-07-14 19:58] #102 closed, assigned to janvojt

[2013-07-14 20:04] janvojt commented on #102
Implemented in commit d9e45186.

[2013-07-14 20:09] kukharm commented on #90
I can't catch 2.

I choose a file.
Then the status window with upload info is appear.
I push the Cancel button, after that the upload is interrupted and the status window closes.
Then in the DPU Template Creation window I push the button "Choose file"
The window for file choosing is open and i choose a file. Then the status window with upload info is appear....
I can wait until the download is com

[2013-07-14 21:18] #105 closed, assigned to skodapetr

[2013-07-14 21:27] tomas-knap opened #106 "When debugging, changes in the pipeline are not automatically saved"
To reproduce: Debug the pipeline with one DPU being in wrong state. Open DPU details of that DPU having wrong conf, adjust the conf, save the conf of DPU. Then debug the pipeline.

TO solve: When debugging, the pipeline has to be automatically saved before debug is launched (no need to manually click on "Save")

[2013-07-15 03:30] #86 closed, assigned to kukharm

[2013-07-15 08:15] #106 closed, assigned to bogo777

[2013-07-15 09:36] tomas-knap commented on #90
Maria, ad 2), you select file, confirm by OK. Then during the upload process, you click "Cancel" in the upload dialog. Next, you try to select new file. As a result, no upload dialog occurs. Can you replicate that?

[2013-07-15 09:46] tomas-knap opened #107 "Save as DPU template does not change template of the changed instance"
When I place e.g. SPARQL extractor on the pipeline canvas, then adjust the configuration and click on Save as new DPU Template (DBPedia SPARQL extractor)), the adjusted configuration is automatically saved as well, new DPU templates appears in the DPU template tree. However, the SPARQL extractor on the canvas I was working with (and now called DBPedia SPARQL extractor) is still considered as SPARQ

[2013-07-15 09:50] bogo777 commented on #45
I changed layout as described above, but issue with Vaadin occured. Vaadin doesn't show horizontal scrollbar on window, and I am unable to force it to.

[2013-07-15 09:51] tomas-knap opened #108 "Respect the context from which the DPU edit dialog is shown"
When clicking on DPU templates -> SPARQL Extractor -> DPU instances tab and then click "detail" for the DBPedia pipeline, after closing the DBPedia edit dialog, I should return back to DPU templates -> SPARQL Extractor -> DPU instances tab (NOT to the list of pipelines)

Obviously, when showing pipeline edit from the list of pipelines, after saving, I should return back to the list of pipelines

B

[2013-07-15 10:16] tomas-knap opened #109 "RDF File Extractor - encoding of the Czech data stored to Virtuoso"
I have file in UTF-8 with Czech characters. When I try to extract it with RDF File extractor and looking into Virtuoso on the output graph from such RDF File Extractor, it shows that the data was inserted to Virtuoso under wrong encoding. So the problem is when storing the data from file to Virtuoso, not when the browser in the tool shows the data. Please consult ODCleanStore.

![screen shot 2013-

[2013-07-15 11:11] tomas-knap commented on #66
Petre, should Jirka be responsible for that? Or what is the status of this task?

[2013-07-15 11:15] tomas-knap commented on #97
So if I understand it correctly, current implementation of named graphs usage in the engine for normal run/debug is as describe in https://grips.semantic-web.at/display/LOD2/Pipeline for defensive debug run? So every output and input is store to a separate named graph and engine ensures copying of data from output graph of DPU X (e.g. extractor from file) to input graph of DPU Y (e.g. loader to fi

[2013-07-15 11:20] tomas-knap opened #110 "Browse/Query in debug mode when using Virtuoso as storage of intermediate results"
When debugging with Virtuoso as as storage of intermediate results, no files should be used in backend/working/... to store the RDF triples. Everytime when I browse/query the data in debug view, Virtuoso (the proper named graph) should be directly invoked. So in case of browse, you directly invoke the query select \* from <GRAPH> where {?s ?p ?o} directly on Virtuoso, no file needed.

Solution. Br

[2013-07-15 11:29] tomesj commented on #97
I think, that Peter set unique name for pipeline, but not for every type of DPU. I try Virtuoso for running DBPedia, but intermediate results for RDF SPARQL extractor and RDF File loader were not same. I try to find the place with problem and repair it.

[2013-07-15 11:35] tomas-knap opened #111 "Strange records in backend/working dir for DBPedia pipeline, wrong pipeline run!"
1. When debugging DBPedia pipeline with one RDF File extractor and RDF File loader as described in Iteration 1 and observe the backend/working directory, I can see:

![screen shot 2013-07-15 at 1 27 28 pm](https://f.cloud.github.com/assets/3014917/797292/997e1452-ed41-11e2-8eec-23dc999a8c2b.png)

dpu_1 -> dump.ttl (extractor) contains the extracted data from DBPedia, that is fine. But dpu_2 -> dum

[2013-07-15 11:35] tomas-knap commented on #97
Jirka, I am creating for that bug #111

[2013-07-15 11:36] tomas-knap commented on #97
May be also associated with bug #110

[2013-07-15 11:38] tomas-knap commented on #97
I would suggest to start with suboptimal solution - to use different named graph for each input/output data unit. Engine has to ensure copy of output named graph to the corresponding input graph of the next DPU.

Thank we can optimize later for normal run as sketched in https://grips.semantic-web.at/display/LOD2/Pipeline
We should come up with the proof that our optimization strategy works, so tha

[2013-07-15 11:39] tomesj commented on #110
I know about it, I prepare it for using and then I contact with Bohuslav.... But when we have last skype call we spoke about it.

[2013-07-15 11:45] kukharm commented on #90
I do that, but  after selected a new file I have the uploading process in normal mode.

[2013-07-15 11:52] tomas-knap commented on #90
Ok, lets discuss that during next meeting

[2013-07-15 11:57] tomas-knap commented on #109
I created Scenario 0b (TED simple - encoding) in https://grips.semantic-web.at/display/LOD2/3.+iteration+-+June
Jirka, you are the responsible person.

[2013-07-15 12:00] kukharm commented on #90
I wrote a mail to our team with a request to test this scenario.

[2013-07-15 12:12] bogo777 commented on #108
I implemented this feature for PipelineEdit View, so it should work as proposed. If navigation from multiple pages will be common, we should solve this more systematically.

[2013-07-15 12:48] tomesj commented on #111
Problem solved by commit 3ea7c92479ff09ff5ed79a2363aa45aad8de36e7

[2013-07-15 12:48] #111 closed, assigned to tomesj

[2013-07-15 14:48] tomas-knap opened #112 "Running big RDF file"
I tried scenario Scenario 1: TED - Big file, file has approx 2.3GB.

The extraction was successfully executed (at least based on the DPU Extractor events), however, when looking to the backend working, the generated file (which should not be there in case of Virtuoso, see bug #110 ) has 5GB+, which is twice as much. This could be caused by accidentally using a named graph already used before by a

[2013-07-15 14:57] tomas-knap opened #113 "Debug view/show log: Showing new log messages after clicking on the button "refresh""
Problem: When debugging, logs appear only when the DPU is successfully executed. If there is a problem with DPU, so that it e.g. never ends, I will not find where the problem is and debug will not help me.

Solution: When debugging or running, show new logs after clicking on the button "refresh" in the show log/debug view dialog..it should show the latest logs even for the DPU currently running.

[2013-07-15 15:22] skodapetr commented on #66
Yes he should.

[2013-07-15 15:40] tomas-knap opened #114 "Pipeline events should occur as they are emitted"
Problem: I implemented DPU extractor and forget to addDataUnit(). Then I create pipeline with such extractor and RDF file loader. When running/debugging pipeline, no events occur. When I was debugging the code, I realized that the first DPU (extractor) emitted two events - successful START, END and loader (the second DPU) emitted one error event (because method (RDFDataRepository) context.getInput

[2013-07-15 15:47] tomas-knap opened #115 "Although there is an arrow on the canvas, the data unit might be missing"
Method:

RDFDataRepository repository = (RDFDataRepository) context.getInputs().get(0);

may throw java.lang.IndexOutOfBoundsException when the DPU developer forgets to addOutputDataUnit() to his implementation of the previous DPU.

Therefore, it may happen that there is edge on the canvas, but no data unit when executing the pipeline. I would expect that an edge - data flow on the canvas implies

[2013-07-15 16:04] tomesj commented on #112
Peter, try solve this problem with context for DPURecord and DPU merge, then assign me back :-)

[2013-07-15 16:12] tomas-knap opened #116 "Prepare RDF Repository facade for DPU developers, which is easy to use and will not change often"
It would be good to prepare special interface (facade) for DPU developers who would like to work with RDF data units - to extract RDF from file, execute sparql query, ...

Motivation 1: Jirka is still changing method extractRDFfromFileToRepository, which always invalidates all DPUs created. It is necessary to have rather simple interface with simple methods, which will not change - certain methods

[2013-07-15 16:18] tomesj commented on #109
It could be solved by commit bcfc8581e7c6f24fb5f182d552ec3a57ebde2249 - Czech, German, Japan,..language....

In case DBPedia pipeline - Data in Virtuoso graphs stored without mistake. After all I will test scenario described on confluence.

[2013-07-15 16:20] bogo777 commented on #114
For fetching events, I use only pipeline execution instance, which I have from beginning. With every refresh, I ask dpuFacade for all events regarding current pipeline execution. So it is propably issue on backend, as to when these events are propagated to database.

But when I debug DbPedia pipeline, I get Extractor started and Missing configuration ... events long before extract is completed...

[2013-07-15 16:24] tomesj commented on #97
Suboptiomal solution completed - each DPU has his own graph for storage intermediate results by using Virtuoso.

Solved by commit 3ea7c92479ff09ff5ed79a2363aa45aad8de36e7

[2013-07-15 16:25] bogo777 commented on #113
For fetching log messages, I used pipeline execution and selected dpu instance, which I have from beginning. With every refresh, I asked log facade for all logs regarding given execution and dpu instance. So again, if logs did not show, it may be issue of when they get propagated to database.

I changed the way logs are fetched: Until pipeline execution is finished, I now fetch all logs for given

[2013-07-15 16:32] #107 closed, assigned to bogo777

[2013-07-15 17:35] tomas-knap commented on #113
Bohuslav, so before the pipeline finishes, if I do not select any DPU in the combo box of debug detail/show log, I will see the log messages as they are emitted for the whole pipeline run.  If I select the particular DPU before the pipeline finishes in the combo box of debug detail/show log, I will see the log for the whole pipeline or nothing?

[2013-07-15 17:36] tomas-knap commented on #114
Yes, that is true. But for the case I described, i did not get any event and the pipeline remain unfinished, no events occur. So we should assign Jan to this task?

[2013-07-15 17:44] bogo777 commented on #113
If particular DPU is selected before the pipeline finishes, log for this DPU only is showed.

But DPUs for combo box are taken from execution context info(Because if pipeline is run only to selected DPU I do not know which DPUs are relevant to display in combo box), where they appear only after given DPU is executed.

What I described is for case when pipeline is debugged from edit screen, and run

[2013-07-15 17:46] bogo777 commented on #114
Yes, or Petr, I do not know which one of them worked on this particular funcionality.

[2013-07-15 18:38] skodapetr commented on #114
Tomas are there any other scenarios that can be used to replicate this or I must modify one DPU to not use addDataUnit?

[2013-07-15 21:03] tomas-knap commented on #114
I do not know, I come across that during this scenario.

[2013-07-16 13:29] tomas-knap commented on #109
Jirka, please test also the scenario on the confluence and if ok, close the issue

[2013-07-16 13:32] tomas-knap commented on #109
Jirka, when examining your commit, it will not solve the problem. The problem is not when loading RDF data to file (loadRDFfromRepositoryToFile), but when extracting data from file to intermediate storage - Virtuoso.  Test also please on the scenario 0b if the problem with encoding is also for the case when LocalRDF repository (not virtuoso) is selected

[2013-07-16 13:41] jakubklimek opened #117 "Remove absolute paths in config.properties"
There is no objective need to have absolute path in the configuration file.
(backend/working). And target/dpu, target/lib

Should there be the final "/" in the path?

[2013-07-16 13:47] jakubklimek opened #118 "Automatically create RDB schema and upload initial data when not present"
Automatically create RDB schema and upload initial data when not present.

No need to force potential users to do this manually.

[2013-07-16 13:51] tomas-knap opened #119 "The application should access the database (Virtuoso) under a different user than dba"

[2013-07-16 13:52] jakubklimek opened #120 "Installation: Error when executing schema.sql in Virtuoso 7 Interactive SQL"
SQLState: 42S02
Message: SQ090: Bad table DB.INTLIB.PPL_NODE in trigger delete_node_fix definition

-- workaround for bug in virtuoso's implementation of cascades on delete
-- see https://github.com/openlink/virtuoso-opensource/issues/56
CREATE TRIGGER delete_node_fix BEFORE DELETE ON "DB"."INTLIB"."PPL_NODE" REFERENCING old AS n
{
    DELETE FROM ppl_edge
     WHERE node_from_id = n.id
      OR n

[2013-07-16 14:14] tomas-knap opened #121 "Adjust DPU Template src file and tutorial"
zjednodusit rozhrani (resp. udelat facade, ktera uzmozni skryt detaily pro pokrocile uzivatele)
RDFDataRepository outputRepository = (RDFDataRepository) context.addOutputDataUnit(DataUnitType.RDF, "output");
-> dodat metody ktere primo pracuji s RDF repository typu:
RDFDataRepository outputRepository = context.addRDFOutputDataUnit("output");
- [7/11/13 9:14:54 PM] Tomas "nappy" Knap: vysvetlit a p

[2013-07-16 14:31] janvojt commented on #119
Agreed. I don't see a problem though. User "dba" with password "dba" is intended as a sample user and is to be changed in configuration.properties. I think it is OK to have dba as user in sample configuration. Who else should be there?

[2013-07-16 14:43] janvojt opened #122 "Load DB login properties from config at runtime"
Both frontend and backend use DB login properties for RDBMS given in `commons-app/persistence.xml`. Thus DB login cannot be changed without rebuilding the whole project.
Instead, login properties should be read at runtime from `~/.intlib/config.properties` file. Such configuration is already used for accessing RDF data.

[2013-07-16 15:14] jakubklimek opened #123 "Issue with logging when running on Windows in Eclipse when launching Backend"
This issue occurs when Kubo was trying to use Virtuoso other than default on localhost:1111. Maybe problem with hardcoded path to Virtuoso for storing logs? Or what do you think Petr?

17:12:43,892 |-WARN in ch.qos.logback.core.db.DriverManagerConnectionSource@42a4441e - Could not discover the dialect to use. virtuoso.jdbc4.VirtuosoException: Connection failed: Connection refused: connect
    at v

[2013-07-16 15:17] jakubklimek opened #124 "Issue when running frontend in Tomcat on Windows - Config properties on wrong location?"
Frontend was trying to search config.properties searching in C:.intlib\config.properties, this is wrong, right?

HTTP Status 500 - com.vaadin.server.ServiceException: org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'configuration' defined in class path resource [commons-app-context.xml]: Instantiation of bean failed; nested exception is org.springframework.be

[2013-07-16 15:19] jakubklimek opened #125 "Virtuoso 7 - Issue when running dbpedia pipeline for the first time on Windows with backend and frontend running"
[code]

[2013-07-16 22:27] #122 closed, assigned to janvojt

[2013-07-17 06:22] tomas-knap commented on #101
Honzo, udelej tam prosim rovnou nejaky test, ktery zkopiruje pipeline A (file extractor, file loader), ve zkopirovane pipeline B upravi cestu k souboru u file extractoru a u file loaderu. Pusti A, Pusti B, vysledky musi byt ruzne.

[2013-07-17 06:28] tomas-knap commented on #125
Jan, can you find something interesting from the log above? Or more info needed.

[2013-07-17 06:31] jakubklimek commented on #125
I forgot to mention that ODCS is configured to use the localRDF store and the Virtuoso used as RDB is not on localhost.

[2013-07-17 08:42] bogo777 commented on #43
Solved by introducing PagedFilterTable from FilteringTable addon. Filters are now part of the header row of table, and are resized with table.

[2013-07-17 08:42] #43 closed, assigned to bogo777

[2013-07-17 08:57] bogo777 commented on #53
All tables now have filters in header row.

[2013-07-17 08:57] #53 closed, assigned to bogo777

[2013-07-17 08:58] bogo777 commented on #87
All tables now have filters in header row.

[2013-07-17 08:58] #87 closed, assigned to bogo777

[2013-07-17 09:11] tomas-knap opened #126 "File Uploader really slow"
When using file uploader, it is really slow. The reason for that is that method:

public void write(final int b) throws IOException

is used to write data to output stream (file with JAR), which is really ineffective, there is one call of this method for every single byte.

method like outStream.write(buffer, 0, length);, where lengh is e.g. 1024 should be used! (see copyFile method in DPUCreate)

[2013-07-17 09:19] tomas-knap opened #127 "Comments in GUI are missing!"
Although I was emphasizing that, there are many classes and methods in GUI with NO comments!

every class and method should have comment! Especially important for public classes and methods used by others. It increases the understanding of the code heavily.

See how the comments are used e.g. in this file to be inspired by good comments:

https://github.com/jankotek/MapDB/blob/master/src/main/java

[2013-07-17 09:21] tomas-knap opened #128 "When DPU template on the second level in the tree is deleted, jar file should be also deleted"
When I click DPU template, select DPU and click delete, the Jar file should be also deleted if the DPU template is the DPU template on the second level in the DPU template tree (just under Extractor/Transformer/Loader)

[2013-07-17 11:18] tomas-knap opened #129 "It is hard to read long log messages"
When examining logs in show log/debug view, it is hard to read long messages, because:
- they are in the last column, which is hard to resize
- the message can be quite long
- the row with the log itself is quite long

![screen shot 2013-07-17 at 1 14 12 pm](https://f.cloud.github.com/assets/3014917/811367/3e233834-eed2-11e2-82fb-3a0e57d330e2.png)

Solution: When clicking on the  log record, dialo

[2013-07-17 11:34] tomesj opened #130 "No scrollbars in Execution monitor"
When I use browser to see all RDF triples, there is no possibble to see all triples on the page or go to change pages - srollbar for are missing.

When I have many records in execution monitor, I can go to the button "refresh" - no srollbars again....

![image](https://f.cloud.github.com/assets/3481055/811424/459cedce-eed4-11e2-9e7e-cf393efc332c.png)

[2013-07-17 11:43] tomesj opened #131 "Virtuoso for querying."
When I try query (select/construct) when I using Virtuoso as storage- there are any files to read yet (all in in this case saved only in Virtuoso) - in implementation is only use local RDF repository - load from given file....

Add please implementation for Virtuoso.

For case Virtuoso just create instance of Virtuoso and set default graph calling method "setDataGraph"  (it is graph for querieng =

[2013-07-17 11:44] #130 closed, assigned to bogo777

[2013-07-17 12:55] bogo777 commented on #131
Solved by 5f7dbb1faf38d36ca3c1c95b31ff8dce3f180c40

[2013-07-17 12:55] #131 closed, assigned to bogo777

[2013-07-17 15:17] tomas-knap opened #132 "Minor gui improvements"
Based on the feedback of users:

ICONS:
Icon for "running pipeline" - running person is nice, but could it be blue to distinguish it from the finished run?

Please add DPU Detail icon (with the functionality being the same as double click).

Could you please change debug icon? I would suggest to show some bug/insect. Currently I was discussing that and three colleagues were not able to recognise w

[2013-07-17 15:18] tomas-knap commented on #121
Petre, are all these comments relevant? If you have any idea to that, please discuss here

[2013-07-17 15:34] tomas-knap commented on #120
jan, to realize this, you need to test Virtuoso 7 (not 6.1.6 or 6.1.7). Kubo, send to intlib@googlegroups.com please connection string to some testing Virtuoso 7.

[2013-07-17 15:40] tomas-knap commented on #118
This should work for clean install. However, if the automatic creation realizes that certain crucial tables are already present, it should not try to adjust the database in any way. User should be able to manually either recreate the whole database or update from previous version if he encounters any problems later.

[2013-07-17 15:42] #78 closed, assigned to nobody

[2013-07-17 16:15] tomesj commented on #110
Solved

[2013-07-17 16:15] #110 closed, assigned to tomesj

[2013-07-17 16:19] tomesj commented on #59
All try all possibilities - problem were only with upload file - fixed. All is working :-)

[2013-07-17 16:19] #59 closed, assigned to tomesj

[2013-07-17 16:27] tomesj commented on #109
I try described scenario Ob - no problems with encoding :-)

![image](https://f.cloud.github.com/assets/3481055/813236/b1d18616-eefd-11e2-8718-43b792d46e3b.png)

[2013-07-17 16:27] #109 closed, assigned to tomesj

[2013-07-17 16:31] tomesj commented on #97
Used created graphs in my Virtuoso conductor - all works perfectly :-)

![image](https://f.cloud.github.com/assets/3481055/813254/289963b8-eefe-11e2-958e-86c1d98adf6e.png)

[2013-07-17 16:31] #97 closed, assigned to tomesj

[2013-07-17 17:14] #54 closed, assigned to kukharm

[2013-07-17 18:09] janvojt opened #133 "NPE after running DBpedia pipeline and clicking "show log" button."
Relevant stack trace is included. Problem is on the line:
`logMessagesTable.setDpu(pipelineExec, (DPUInstanceRecord)dpuSelector.getValue());`
where dpuSelector is null.

[code]

[2013-07-17 19:37] tomas-knap commented on #37
Maria, is there any progress??

[2013-07-17 19:48] #119 closed, assigned to janvojt

[2013-07-17 20:07] tomas-knap commented on #117
Problem with frontend, frontend has to know where the backend is.

Could be solved later by monitoring and installation guide

[2013-07-17 20:11] #133 closed, assigned to bogo777

[2013-07-17 20:12] tomas-knap commented on #124
Kubo, is your user.home set correctly? It could be find out in JAVA by calling System.getProperty("user.home"). We suppose user.home points to "documents&settings/name"

[2013-07-17 20:15] tomas-knap commented on #123
Honzo, db connection for logging should be also taken from config.properties

[2013-07-17 20:21] tomas-knap commented on #60
Currently, if backend crashes and is restarted, pipeline are run again. TODO: rerun only DPUs which did not run before

[2013-07-17 20:28] tomas-knap commented on #115
Adjust the log message when certain data unit is missing (there should be input, but there is no input)

[2013-07-18 08:01] tomas-knap commented on #90
Works for others

[2013-07-18 08:01] #90 closed, assigned to kukharm

[2013-07-18 08:59] tomas-knap opened #134 "Filter components do not have the same size in the table header"
![screen shot 2013-07-18 at 10 55 43 am](https://f.cloud.github.com/assets/3014917/818065/e9390fcc-ef87-11e2-8cf2-d606851b4286.png)

Filters are great, really like it. The only think I do not like and looks strange, is the different height of combo boxes and text boxes. Would it be possible to e.g. have smaller combo boxes in the filters row so that their height is the same of the text boxes?

[2013-07-18 09:05] tomas-knap opened #135 "Filter using calendar component is not working property"
![screen shot 2013-07-18 at 11 03 06 am](https://f.cloud.github.com/assets/3014917/818103/ff487306-ef88-11e2-8888-fe74237485c3.png)

THe data in the calendar cannot be set, if selected only "From". If only from is selected, thus the user would like to receive events from one day to now. This has to work. Similarly, if only "To" is selected, user would like to see events from the past till the defi

[2013-07-18 09:14] tomas-knap opened #136 "Filters - ALL as default text"
I would not show "ALL" as the default filter, if there is no text, than it means that there are no restrictions.

Solution: Just show empty filters by default.

[2013-07-18 09:19] tomas-knap opened #137 "Buttons in GUI"
For all tables with more than 2 filtered columns, there should be: "clear filters" button in the upper right part

Pipeline executuon: refresh button in the upper right part of the page
Scheduller: add schedule rule button - upper right part of the page above the table
Pipeline list: button create pipeline - upper right part of the page above the table

[2013-07-18 09:20] kukharm opened #138 "show log exception"
I get an exception after pushing the button "show log" in execution monitor

Jul 18, 2013 11:14:07 AM com.vaadin.server.DefaultErrorHandler doDefault
SEVERE:
com.vaadin.server.ServerRpcManager$RpcInvocationException: Unable to invoke method click in com.vaadin.shared.ui.button.ButtonServerRpc
    at com.vaadin.server.ServerRpcManager.applyInvocation(ServerRpcManager.java:170)
    at com.vaadin.ser

[2013-07-18 09:21] tomas-knap commented on #129
When clicking on another row of the same table, the detail message appears in the same window, not in a new window.

Applies to list of logs, list of events.

[2013-07-18 09:26] tomas-knap opened #139 "Filter with images - hide description when filter selected"
When the filter with images:
- status,debug in execution monitor
- type in pipeline events

is selected, user can see all the available options - image as well as description. When certain option for the filter is selected, only the image appears in the filter row, so that the situation below is avoided:

![screen shot 2013-07-18 at 11 22 36 am](https://f.cloud.github.com/assets/3014917/818219/151

[2013-07-18 09:33] tomas-knap opened #140 "Copy & Delete Pipeline - frontend"
Honza has prepared copy/delete pipeline functionality. There should be support for that in gui. Every pipeline should have two more buttons in the list of pipelines: Delete/Copy.

When delete is selected, user is asked whether the pipeline should be really deleted. User should be informed that also associated records, such as pipeline runs in execution monitor will be deleted.

When copy is presse

[2013-07-18 09:37] tomas-knap opened #141 "DPU Template - buttons not in use"
Buttons in DPU template window which are not yet implemented should be greyed - copy, export, import.

Table on DPU instance tab - button delete should work, see #140

[2013-07-18 09:46] tomas-knap opened #142 "Pipeline canvas - aligned with pipeline name & description"
Current situation:
![screen shot 2013-07-18 at 11 42 10 am](https://f.cloud.github.com/assets/3014917/818289/668c9e52-ef8e-11e2-9057-c364d969372e.png)

Please allign the left side of the canvas with the left side of the pipeline name & description panel. There should be small space between canvase and pipeline name & description panel.

As a result, when opening pipeline edit, the DPU tree will be

[2013-07-18 09:48] tomas-knap commented on #142
Otherwise I really like the fixed position of the buttons/tree

[2013-07-18 09:52] tomas-knap commented on #114
Cannot reproduce right now, so I will close it. See #115

[2013-07-18 09:52] #114 closed, assigned to tomas-knap

[2013-07-18 09:52] tomas-knap commented on #115
Currently, it is thrown:
Pipeline execution terminated because of: java.lang.IndexOutOfBoundsException: Index: 0, Size: 0
    at java.util.LinkedList.checkElementIndex(LinkedList.java:553)
    at java.util.LinkedList.get(LinkedList.java:474)
    at cz.cuni.mff.xrg.intlib.loader.file.FileLoader.load(FileLoader.java:42)
    at cz.cuni.xrg.intlib.backend.execution.PipelineWorker.runLoader(PipelineWor

[2013-07-18 09:55] tomas-knap opened #143 "When the DPU's execution fails, the DPU is not in the comboBox"
See below:

![screen shot 2013-07-18 at 11 53 34 am](https://f.cloud.github.com/assets/3014917/818346/0eb75e2c-ef90-11e2-88bb-0782f6c61dcb.png)

[2013-07-18 10:31] tomas-knap opened #144 "DPU cannot be selected in the combo box if it is not successfully executed"
See below:

![screen shot 2013-07-18 at 11 53 34 am](https://f.cloud.github.com/assets/3014917/818346/0eb75e2c-ef90-11e2-88bb-0782f6c61dcb.png)

[2013-07-18 10:32] tomas-knap opened #145 "Events during exectuon may be associated with the pipeline, not necessarily with the DPU"

[2013-07-18 10:34] tomas-knap opened #146 "Context getJar()"
To be able to access resources in the DPU Jar, when executing pipeline.
Please today the dirty version (to the current context impl)

[2013-07-18 10:36] tomas-knap opened #147 "When running pipeline (no debug), only INFO+ logs should be stored and available via GUI"

[2013-07-18 10:41] tomas-knap opened #148 "Use of notifications to update logs/events"
Consider use of notifications, which allows the table with events and logs to be updated one by one record

[2013-07-18 11:27] bogo777 commented on #113
Cause may be in session and transactions by hibernate. Will be solved in next iteration by #148 .

[2013-07-18 11:27] #113 closed, assigned to bogo777

[2013-07-18 12:38] #136 closed, assigned to bogo777

[2013-07-18 12:40] bogo777 commented on #137
There is little space on DebuggingView for buttons "Clear Filters" for upper event table and for tables in lower tab. It is possible to put them there, but the amount of items displayed will be reduced...

[2013-07-18 13:00] tomas-knap commented on #121
Petre, regarding the ConfigurableBase, the protected T config, should work as expected, no need for the contstructor...if you extend ConfigurableBase<XXXConfig>, then the compiler will replace all occurences of T with XXXConfig, so the runtime does not even know that there was some type T.

If there is a problem,e.g. when T does not extend Config, then the problem occurs during compilation.

So un

[2013-07-18 13:01] bogo777 commented on #135
I found the source of the problem in discussion forum for FilteringTable addon.

https://vaadin.com/old-forum/-/message_boards/view_message/1168867#_19_message_3353074

It works fine in table with log messages, LogMessage class date is saved as Long in db, and date is created in getter.

In other cases, dates are saved as Date with `@Temporal(javax.persistence.TemporalType.TIMESTAMP)` annotation,

[2013-07-18 13:19] #142 closed, assigned to bogo777

[2013-07-18 14:10] tomas-knap opened #149 "Strange records in EXEC_CONTEXT_PIPELINE and other DB issues"
When looking into the table  EXEC_CONTEXT_PIPELINE, I can see:

![screen shot 2013-07-18 at 4 07 53 pm](https://f.cloud.github.com/assets/3014917/819535/939648ce-efb3-11e2-8e21-38007f44df20.png)

If I understand it correctly, every record in EXEC_CONTEXT_DPU points to the EXEC_CONTEXT_PIPELINE, so if I have two dpus on the pipeline, there will be two records in the EXEC_CONTEXT_DPU pointing to one

[2013-07-18 14:11] tomas-knap commented on #149
Also my question is, what should the table EXEC_CONTEXT_PROCCONTEXT include?

[2013-07-18 14:13] tomas-knap commented on #149
Execution_directory in EXEC PIPELINE, what is the purpose of this column?

[2013-07-18 14:35] tomas-knap commented on #137
Ok, let's leave DebuggingView as it is. The experience will show if they are needed.

[2013-07-18 15:26] tomas-knap opened #150 "Context and DataUnits"
To the discussion regarding the context & dataUnit simplification:
I would suggest to rename: RDFDataReporitory -> RDFDataUnit, repository is a bit confusing for the DPU developers.

Further I introduce the way how it seems to me natural to work with data units. Take it as an inspiration if you think it is reasonable. Firstly I discuss couple of methods for context/data units. Then I describe how

[2013-07-18 15:28] tomas-knap commented on #150
Question: Why DataUnitFactory is related to DPUInstance? to ExecutionContextInfo? to appConf? Is that needed? I would suggest to relate dataUnit to context only. And there could be factory for creation of new DataUnits.

Question to context - why did you differentiate context and extendable context?

[2013-07-18 18:35] #146 closed, assigned to skodapetr

[2013-07-18 21:55] janvojt commented on #149
Table `EXEC_CONTEXT_PIPELINE` represents entity `ExecutionContextInfo`. The problem is, that there are multiple instances of this object for the same execution created in backend. This is wrong, I will research this further and maybe discuss it with @skodape.

Table `EXEC_CONTEXT_PROCCONTEXT` is not in schema.sql. Maybe just a leftover table from previous revision?

Column `execution_directory` in

[2013-07-19 08:36] jakubklimek commented on #125
Now this happend without even running a pipeline. I just ran backend, did nothing and this exception popped out:

[code]

[2013-07-19 14:25] #126 closed, assigned to kukharm

[2013-07-19 15:43] kukharm opened #151 "Delete pipeline exception"
I deleted pipeline (used for that method .delete(pipeline) from PipelineFacade) then I had exception in Execution monitor (monitor contained the records about that pipeline before delete).

Jul 19, 2013 5:31:57 PM com.vaadin.server.DefaultErrorHandler doDefault
SEVERE:
javax.persistence.EntityNotFoundException: Unable to find cz.cuni.xrg.intlib.commons.app.dpu.DPUInstanceRecord with id 1
    at or

[2013-07-19 15:52] kukharm opened #152 "Copy pipeline"
I tried to copy pipline this way:

Pipeline newPpl = new Pipeline(oldPpl);
pplFacade.save(newPpl);

then in the table was create the pipeline with the same name and description, but when i opened it to edit, there was no DPUs that are in the original pipeline.

Also i've got the exception

Jul 19, 2013 5:52:23 PM com.vaadin.server.DefaultErrorHandler doDefault
SEVERE:
com.vaadin.event.ListenerMeth

[2013-07-19 16:48] kukharm commented on #37
I don't know if this problem was solved after I changed type of data on the columns with date from string to date. Now I have on this columns date format as dd.mm.yyyy hh.mm.ss (Execution Monitor & Scheduler).  I changed date format  on my computer to dd-Mon-yyyy hh.mm.ss, but in this columns  format has not changed. I can't open Debug view for compare format  because of exception #138.

[2013-07-19 17:52] #152 closed, assigned to janvojt

[2013-07-19 17:58] janvojt commented on #151
Resolved by commit 1fa68c4d in issue #152.

[2013-07-19 19:27] tomas-knap commented on #125
Honza, please check this. If you need more info to the bug, just write.

[2013-07-19 19:32] tomas-knap opened #153 "Problems building intlib."
Od Kuby: Dneska jsem si updatnul ODCS a nějak se to rozbilo. Píše mi to errory v projektu RDF a frontend:

Description        Resource            Path      Location              Type
The method setFilterDecorator(FilterDecorator) in the type FilterTable is not applicable for the arguments (ExecutionMonitor.filterDecorator)       ExecutionMonitor.java                /frontend/src/main/java/cz/cuni/

[2013-07-19 21:25] tomas-knap commented on #153
Kuba: No mozna to bude u me.

Chyby u RDF mi zmizely, ale pise to 4 errory na pom.xml u frontendu.

„Plugin execution no covered by lifecycle configuration: com.vaadin:vaadin-maven“

[2013-07-20 16:05] janvojt commented on #101
Tests added in commit 736e1de9.

[2013-07-20 16:05] #101 closed, assigned to janvojt

[2013-07-20 16:27] janvojt commented on #125
The stacktrace looks pretty generic. Column number 0 makes no sense (to me). I tried running backend with localRdf config, works OK. I doubt it has something to do with remote host, because even on localhost data is send through TCP. I cannot test on Windows, because I only have linux boxes. However, all other developers use Windows, so I assume they would encounter this. Please provide more detai

[2013-07-21 08:12] jakubklimek commented on #125
1. Yes (on my machine). Just run backend and wait a minute.
2. Both – It is Virtuoso 7, maybe that is the problem?
3. Don’t know, only have Windows
4. Simulated on https://github.com/mff-uk/intlib/commit/48d32e0dcebeb86b5193e206c86d20e3c81760f4

JK

[2013-07-21 08:30] janvojt commented on #125
My guess is Virtuoso 7. You are probably the first one to test it on version 7. Also, issue #120 may be relevant here. I don't have Virtuoso 7 installed, it would be great if you emailed me the login to the server you are connecting to, if it is public. This was already requested by @tomas-knap, but I never received such email.

[2013-07-21 09:07] janvojt commented on #120
I cannot reproduce this on given v7.xrg.cz. Seems like table DB.INTLIB.PPL_NODE was not defined when CREATE TRIGGER was issued. Please try again, and if it is OK close this issue.

[2013-07-21 09:41] tomas-knap commented on #149
Jan, can we close this issue?

[2013-07-21 09:45] tomas-knap commented on #37
Maria, could you please describe a bit more what is the current status? From your last message I do not know if the problem was solved, does not occur more or if there is still the problem but you do not know how to solve it

[2013-07-21 09:48] janvojt commented on #149
No, not yet. Table `EXEC_CONTEXT_PIPELINE` still contains duplicate unnecessary rows. It is not critical though, so I am resolving bugs with higher priorities.

[2013-07-21 16:49] skodapetr commented on #153
It looks like some "error" in Frontend which is more familiar to Bohuslav then to me. Similar situation is with RDF (Jirka). So reassigned to Bohuslav. Or we can discuss it on meeting?

I try install (without clean) and the result is: [INFO] BUILD SUCCESS

[2013-07-21 22:17] kukharm commented on #151
If I delete pipeline witch have a scheduling rule, then after open Scheduler from the main menu i get exception

Jul 22, 2013 12:11:59 AM com.vaadin.server.DefaultErrorHandler doDefault
SEVERE:
javax.persistence.EntityNotFoundException: Unable to find cz.cuni.xrg.intlib.commons.app.pipeline.Pipeline with id 1
    at org.hibernate.ejb.Ejb3Configuration$Ejb3EntityNotFoundDelegate.handleEntityNotFoun

[2013-07-22 01:06] #141 closed, assigned to kukharm

[2013-07-22 01:33] #140 closed, assigned to kukharm

[2013-07-22 01:43] kukharm commented on #37
I can't check  if the problem was solved. Because I can't open debugger view and compare the date format is in it with  date format in other tables  because of exception #138

[2013-07-22 07:09] tomas-knap commented on #153
It is working outside of eclipse via mvn install, not in eclipse.

[2013-07-22 07:09] #153 closed, assigned to bogo777

[2013-07-22 07:34] tomas-knap commented on #138
Bohuslav, please check that, Maria cannot also finish #37 thanks to that.

[2013-07-22 07:54] tomas-knap commented on #127
Maria, greate, it is better now in terms of the readability. But can you please further extend your comments? The types of problems are described below:

Problem 1:
-  /**
-   \* Load values from configuration into dialog.
-   *
-   \* @throws ConfigException
-   \* @param conf

Every param and every exception has to have description what it is supposed to hold. In this case for example:
-  /**
-

[2013-07-22 09:03] tomas-knap opened #154 "Filter for scheduller - minor adjustments"
Solution: Filter for status column should contain combo box with values "enabled/disabled". No filter for last button column. See below:

![screen shot 2013-07-22 at 11 01 18 am](https://f.cloud.github.com/assets/3014917/833881/89b1df24-f2ad-11e2-9e23-05ef5b6b3a45.png)

[2013-07-22 09:08] tomas-knap opened #155 "Scheduler - dialog for new scheduled event"
1. Combo box in scheduller detail cannot be adjustable, see below:
   Solution: User cannot modify the content of the combo box.

![screen shot 2013-07-22 at 11 05 01 am](https://f.cloud.github.com/assets/3014917/833886/dfdde8de-f2ad-11e2-9771-5d2df8fe5d40.png)
1. Close button is missing in the dialog. Please add also to mockup
2. Misspelled label:

![screen shot 2013-07-22 at 11 10 41 am](https:/

[2013-07-22 09:10] tomas-knap opened #156 "Scheduler event dialog - Autocomplete for Pipeline selector"
The pipeline selector (combo box) should support autocomplete. When I start writing, list of matching pipeline names appear in the list. Currently, all pipelines appear.

![screen shot 2013-07-22 at 11 07 29 am](https://f.cloud.github.com/assets/3014917/833899/735d3aa6-f2ae-11e2-928a-37615b93ba66.png)

[2013-07-22 09:33] tomas-knap opened #157 "Filters - ID selectors"
![screen shot 2013-07-22 at 11 32 27 am](https://f.cloud.github.com/assets/3014917/833989/a21f8350-f2b1-11e2-95b6-68f05878d639.png)

Would it be possible to replace the filter above with just number 1? Or id = 1? Without any variable [x]. It is a bit confusing for the users what [x] actually is.

![screen shot 2013-07-22 at 11 30 39 am](https://f.cloud.github.com/assets/3014917/833983/6cda7286-f2b

[2013-07-22 09:34] tomas-knap opened #158 "Massive field of buttons - a bit confusing"
![screen shot 2013-07-22 at 11 33 54 am](https://f.cloud.github.com/assets/3014917/833999/de7b0612-f2b1-11e2-96b5-502c5a0d99d8.png)

[2013-07-22 09:37] tomas-knap opened #159 "Pipeline is running icon - bad quality of the icon"
![screen shot 2013-07-22 at 11 36 25 am](https://f.cloud.github.com/assets/3014917/834015/4481f8d0-f2b2-11e2-916b-bfbd81724d04.png)

there is also rather awfull white rectangle around:

![screen shot 2013-07-22 at 12 03 45 pm](https://f.cloud.github.com/assets/3014917/834123/10128728-f2b6-11e2-9bc6-a9e6da158f17.png)

[2013-07-22 10:02] tomas-knap opened #160 "Pipeline execution monitor - button show log missing"
Although I can click on the pipeline execution record when the pipeline is runnig to obtain details, there is no "Show log" button.

![screen shot 2013-07-22 at 12 02 09 pm](https://f.cloud.github.com/assets/3014917/834110/cb772bbe-f2b5-11e2-9ed4-e15c748bfdd9.png)

Check if this is not also the problem when debugging.

[2013-07-22 10:15] tomas-knap commented on #129
Scrollbars not needed.

![screen shot 2013-07-22 at 12 13 32 pm](https://f.cloud.github.com/assets/3014917/834172/807a8a82-f2b7-11e2-9cad-e6c9e752e9e2.png)

Solution: remove scrollbars, content should fill the dialog window

Also the problem is that when debugging from canvas and opening debug window over log detail and clicking on any row in log record, the log detail dialog remains hidden behind

[2013-07-22 10:18] tomas-knap opened #161 "Combo box with INFO+ etc. moved to filters"
![screen shot 2013-07-22 at 12 16 10 pm](https://f.cloud.github.com/assets/3014917/834185/d2e2ffac-f2b7-11e2-8ab1-4ecdcb6e077f.png)

Combo box and filter for log level is redundant, there is also a problem when filters are set and comb box reselected.

Solution: Combo box with INFO+ etc. should be a filter in the column level in the table. There will be no combo box above the table. For debug DEBU

[2013-07-22 10:25] tomas-knap opened #162 "Strange numbering of backend/working/execution dirs"
When running pipeline, I got an error:

![screen shot 2013-07-22 at 12 22 01 pm](https://f.cloud.github.com/assets/3014917/834221/a19425ec-f2b8-11e2-8748-ae01606aa229.png)

When examining the folder structure, there is no execution-60 folder but instead of that execution-52.
1. Jirka, how are the number for execution runs assigned?
2. Check the problem above and let me know if it may be cause by t

[2013-07-22 10:45] tomas-knap opened #163 "Tooltips for icons on canvas"
These icons are crucial but their meaning is not intuitive, tooltips needed

![screen shot 2013-07-22 at 12 44 23 pm](https://f.cloud.github.com/assets/3014917/834350/b927f03c-f2bb-11e2-96d1-91b748f3de94.png)

[2013-07-22 11:00] tomesj commented on #162
1) Number for DPU on the concrete pipeline assignation is set as unique string ID (this ID was made by Petr) - Try to ask him, why ?....I prepared methods :-) I suggest - We can discuss about it during next meeting (tomorrow) :-)

2) I think, yoz have an error, because, we actually don´t support archives (.rar, . zip) - only files or directories :-)

[2013-07-22 11:04] tomas-knap commented on #162
1) Well than there might be problem with ID assignment.
2) ZIP operation is irrelevant, the problem is that it points to not existing working directory

[2013-07-22 11:05] tomas-knap commented on #162
i switch to Petr, because he was doing the assignmment of IDs

[2013-07-22 11:07] tomas-knap commented on #112
Jirko, what is the status? Did you try running the big file? Was it successful?

[2013-07-22 11:18] tomesj commented on #112
I tried to run BIG file ( in the night last yesterday)  - but about 3 hours I dont get a result - extraction is on my computer very slowly + I have too little free space in my computer - it may cause the problem.

But extraction is without errors (I try it now always in GUI mode - twice in debug , whice normal => it was practically the same)

I believe if you try to run on your computer you probab

[2013-07-22 11:27] tomas-knap commented on #112
Jirka, but the figure above just shows that the extraction started, which we know that is working from iteration 1. If you are using Virtuoso, you do not need much memory to process the big files, you need just space on your hard drive.

Jirka, you have to be able to run that, it is your responsibility. And also if certain issues occur, how would you react on that? So clean up your HDD a bit or us

[2013-07-22 11:27] tomas-knap commented on #112
Jirka, you are also not able to solve this issue if you are not able to run the extractor. Please work on that today.

[2013-07-22 11:49] tomesj commented on #112
I can run extractor, but my extraction speed is about 110 000 triples /hour (I made statistic for me and thats number I got). I think that this file has more than 1 000 0000 triples - it about 8 hours on my computer. My free space is about 3GB and it seems to be not enough.

I try to run I last time - when it finished wrong- I must be able to install Tomcat, GitHub, Netbeans,... on our home comput

[2013-07-22 12:26] tomas-knap commented on #112
Well, than increase the free space and test again. Maybe there is this error which generates 5GB file (see top), so I would suggest to have 6GB+ of free space

[2013-07-22 13:31] tomas-knap opened #164 "Filters - Resizing combo boxes with longer texts after refresh"
To reproduce: From canvas decide to debug certain pipeline. For pipeline events, resize the column type so that the column header text "type" is just visible. When clicking on refresh, watch the combo box for filter in the column type. It is always increased (to accommodate the longest item) and then decreased to the desired size.

This also happens when refreshing pipeline execution monitor recor

[2013-07-22 13:31] tomas-knap commented on #164
Also appears in pipeline monitor and other tables with combo box columns

[2013-07-22 14:29] tomas-knap opened #165 "Construct query in debug view"
The current query dialog looks like:

![screen shot 2013-07-22 at 4 16 57 pm](https://f.cloud.github.com/assets/3014917/835367/ae6d0844-f2d9-11e2-9074-9158a7b3bc36.png)

It is really confusing.

Problem:
1. Combo box with TTL, Trix, does not make any sense for SELECT queries. It has to be available only for CONSTRUCT queries. Solution: It should be clearly stated that combo box is only for constru

[2013-07-22 16:04] skodapetr commented on #162
"When running" does that mean that the pipeline execution is not in "debug mode"?

[2013-07-22 17:53] tomas-knap commented on #132
Could you please change debug icon? I would suggest to show some bug/insect. Currently I was discussing that and three colleagues were not able to recognise what the icon means.

[2013-07-22 19:22] #151 closed, assigned to janvojt

[2013-07-22 19:41] tomesj commented on #112
I cleaned my space - the speech was much better - about 1mil triples/10 min.

Extraction data from file completed successfully, but it was about 5,5 hours long.
It was extracted together 22 407 098 triples :-) I didn´t expect this.

Then I got the same error as you : "Failed to prepare Context for DPURecord because of exception: Can't merge data units."

That say, that problem is somewhere in the

[2013-07-22 20:41] skodapetr commented on #112
I'm sorry for this but I'm afraid that this will not be completely on me:

This exception comes from class backend.context.impl.PrimitiveDataUnitMerger .. from

[code]

This means that the exception is thrown during execution of newDataUnit.merge which is not my code.
The code is the same for large or small DataUnits so it looks fine to me as well.

But it's generic Exception .. maybe something wi

[2013-07-22 21:13] tomas-knap commented on #112
When looking at newDataUnit.merge(rightDataUnit); implementation, I would suggest to implement Virtuoso specific mergeRepositoryData() method, which will simply execute query like: INSERT INTO <GRAPH2> {?s ?p ?o} where { graph <GRAPH1> {?s ?p ?o}}

This will be much more effective than:

for (Statement nextStatement : sourceStatemens) {

[code]

[2013-07-22 21:14] tomas-knap commented on #112
I guess that the problem is with the memory.

[2013-07-22 21:18] tomas-knap commented on #112
Jirka, do not also forget to turn on autocommit on row by row basis and switch off logging, command log_enable(2) I think, but check Virtuoso manual

[2013-07-22 22:01] tomesj commented on #112
I tried to merge DPU manually (as test way) - problem is in fact with memory - its not enough for make merge operation (error on java heap space) :-)

I successfully try to use something like:

RDFInserter inserter=new RDFInserter(targetConnection);
inserter.enforceContext(getDataGraph());
sourceConnection.export(inserter, second.getDataGraph());

I compare the speed of this with your proposed sol

[2013-07-22 22:48] tomas-knap commented on #112
Ok, thanks, try and let me know - put the results here.

[2013-07-23 06:46] bogo777 commented on #165
There is no problem with changing the label by Format combo box, but for immediate download I found only one solution in Vaadin, and it is no longer working with version 7 and recomended solution is how we have it now. I will look into it some more, but it will propably take some time.

[2013-07-23 07:06] bogo777 commented on #138
Is this still actual? I cannot reproduce it. If it is, could you post step by step how you got it?

[2013-07-23 07:24] jakubklimek commented on #120
I was only successful when using isql to execute the commands. Then, https://github.com/mff-uk/intlib/issues/125 stopped happening, so these are definitely connected. Please provide better error messages :)

[2013-07-23 07:31] #154 closed, assigned to bogo777

[2013-07-23 07:32] #137 closed, assigned to bogo777

[2013-07-23 07:40] janvojt commented on #125
I can reproduce this on v7.xrg.cz. The error does not tell me much, so far I have no idea where the problem is. Will research further.

[2013-07-23 07:45] janvojt commented on #120
I can reproduce #125, but not this one. It really seems just a bad copy paste of sql queries. As far as I understand, this happened during import with isql, and I cannot effect error messages of Virtuoso. Moreover, the error message is clear: trigger on table `PPL_NODE` cannot be created, because no such table exists. :)

[2013-07-23 07:45] #120 closed, assigned to janvojt

[2013-07-23 08:30] #129 closed, assigned to bogo777

[2013-07-23 08:30] #132 closed, assigned to bogo777

[2013-07-23 08:30] #159 closed, assigned to bogo777

[2013-07-23 09:07] jakubklimek opened #166 "DPU templates not working"
With backend working, frontend after clicking DPU templates throws this:

javax.persistence.PersistenceException: org.hibernate.exception.SQLGrammarException: Could not open connection
 at org.hibernate.ejb.AbstractEntityManagerImpl.convert(AbstractEntityManagerImpl.java:1361)
 at org.hibernate.ejb.AbstractEntityManagerImpl.convert(AbstractEntityManagerImpl.java:1289)
 at org.hibernate.ejb.QueryIm

[2013-07-23 09:22] jakubklimek commented on #166
Probably caused by merging of settings from persistence.xml? How does frontend now know where the database is? Surely Tomcat cannot access some users home to get the settings...

[2013-07-23 09:26] tomas-knap commented on #165
Ok,

The main problem of the current solution is that:
- if download link occurs, it remains there forever until any select query is executed
- when you click on Query for the second time you do not know that the link was regenerated.

So If you find solution for those two things, it is enough.

[2013-07-23 09:30] #162 closed, assigned to skodapetr

[2013-07-23 12:53] janvojt commented on #139
Seems like fix would required som javascript coding - replacing selected  value when combobox is opened/closed, or completely rewriting the component.

Instead, would it be enough to simply left-align textual representation, so it starts with WARN...? I think it would be easy to implement, and even a better solution.

[2013-07-23 13:33] tomas-knap commented on #139
Yes, that is also possible

[2013-07-23 13:39] tomas-knap commented on #166
In other words, you have remove db settings from commons-app, but after that the only config for database connection is in config.properties. But the question is, how can Tomcat, running under a different user typically, access the config.properties file?

[2013-07-23 14:00] janvojt commented on #166
You are correct. All DB connections use the same config. The point was to have a single central configuration.

Configuration needs to be in path `$HOME/.intlib/config.properties` of the user running the application. To be more precise, the path is obtained from system environment with `System.getProperty("user.home")`.

Obvious consequence is, that if tomcat is running on a different user than ba

[2013-07-23 14:00] #166 closed, assigned to janvojt

[2013-07-23 14:02] kukharm commented on #138
I run DBpedia pipeline, then go to execution monitor and push Show log button. After that I get exception. Also i get exception if pipeline was debugged (after push Debug data button in execution monitor)

[2013-07-23 14:10] jakubklimek commented on #166
I don’t think this is a good idea for the frontend part. Tomcat usually runs as tomcat on linux (SYSTEM) on windows and there is no reason to put anything into home of these users (they don’t have to have a homedir). I would rather duplicate the setting and put it in web.xml of the frontend WAR, which is I think a more standard way of configuring servlets.

[2013-07-23 14:24] janvojt commented on #166
It is true that servlet configuration is usually in WAR file. However we wanted to make both applications configurable without rebuilding WAR/JAR files. I don't really care which way it is done, you can discuss this with @tomas-knap and I can change it then.

[2013-07-23 15:22] tomesj commented on #112
I added merge implementation for Virtuoso.

Disadvantage is that is so slowly/quicky as adding data for Virtuoso.

When I tested syntax (see http://www.w3.org/TR/2012/PR-sparql11-update-20121108/#add)

ADD http://graph1 TO http://graph2  // add all triples from graph1 to graph2, if there are not yet = just merge

But I always got:
Virtuoso 40005 Error SR325: Transaction aborted because it's log af

[2013-07-23 16:27] #66 closed, assigned to tomesj

[2013-07-23 18:34] #160 closed, assigned to kukharm

[2013-07-23 19:15] #155 closed, assigned to kukharm

[2013-07-23 19:33] tomas-knap commented on #112
Jirko, can you please provide the number if you have any?

Regarding the logging, it should be I think log_enable(2), which disables logging and enables row by row autocommit.
http://docs.openlinksw.com/virtuoso/fn_log_enable.html

[2013-07-23 19:43] tomesj commented on #112
What number did you mind ?
log_enable(2) I always set in constructor and use as default :-)

Via:
final String JDBC = "jdbc:virtuoso://" + hostName + ":" + port + "/charset=UTF-8/log_enable=2";
VirtuosoRDFRepo virtuosoRepo = new VirtuosoRDFRepo(JDBC, user, password,defaultGraph, dataUnitName);

[2013-07-23 20:37] #135 closed, assigned to janvojt

[2013-07-23 20:55] janvojt commented on #135
I believe this is a bug in Vaadin's method `com.vaadin.data.util.filter.Compare#compareValue`. The problem is in the following snippet:

[code]

I believe instead it should be as follows:

[code]

It seems the later is intended. `value` is checked to allow casting it to `value1`, but it is actually casted to `Comparable` instead. In our case `value1` is read from DB, so its type is `java.sql.Times

[2013-07-24 07:23] tomas-knap commented on #112
I thought you said you will measure how which of the variants works, so that is the reason I am expecting some numbers, in terms of the time needed to perform the task, memory consumed etc. At least the time would be good.

[2013-07-24 10:19] tomas-knap opened #167 "DPU instances - when clicking on pipeline detail, wrong pipeline appears"
To reproduce: Create new pipeline so that there is dbpedia pipeline and one more. Add DPU to the second pipeline. Go to DPU templates for the added DPU, click on the detail for the second pipeline. As a result, dbpedia pipeline occurs, which is wrong.

![screen shot 2013-07-24 at 12 18 20 pm](https://f.cloud.github.com/assets/3014917/847861/8ef35bfe-f44a-11e2-9d85-61ac9ff42aba.png)

[2013-07-24 10:41] tomas-knap opened #168 "When restarting pipelines, how is that shown in the execution monitor?"
Currently, when I twice restarted backend as the pipeline JTagger was running, the backend always tried to be run again, but sending events and logging to the same record in pipeline execution monitor!

![screen shot 2013-07-24 at 12 37 13 pm](https://f.cloud.github.com/assets/3014917/847966/42dbff66-f44d-11e2-868b-5b7d8a943661.png)

As you can see, there are three events that DPU extractor has st

[2013-07-24 10:45] tomas-knap opened #169 "When refreshing pipeline events/logs, execution monitor records should refresh as well."
Otherwise, when looking at show log, I can see that DPU were sucessfully finished, but in the pipeline execution monitor, it seems that the pipeline is still running, which is confusing.

[2013-07-24 10:53] tomas-knap opened #170 "Automatic refresh in the show log/debug dialog."
The application automatically refreshes every 1s the status of the pipeline execution. When the pipeline is finish, no refresh is called. Important: User must not see any blinking of the dialog/window, or strange resizing of comboboxes ( #164) when refreshing.

To realize: just call refresh.onClick by the application.

Connected with #164 #169 , these issues must be solved first

[2013-07-24 11:22] tomas-knap opened #171 "No DPUs on the canvas"
When importing  shema.sql and data.sql, open dbpedia pipeline, there are no DPUs on the canvas:

![screen shot 2013-07-24 at 1 21 46 pm](https://f.cloud.github.com/assets/3014917/848108/3c0d5760-f453-11e2-83e7-b6bbd1dfaf17.png)

[2013-07-24 11:32] #169 closed, assigned to bogo777

[2013-07-24 11:38] tomas-knap opened #172 "Context should contain information about the last execution"
Scheduller should give info to the DPU executed (in the object Context) when pipeline was successfully finished, finished with error. Based on that, extractor can e.g. compute the time interval for which new data should be obtained.

I would expect something like context.getLastExecutionStatus().getExec(), context.getLastExecutionStatus().getSuccessfulExec()

[2013-07-24 11:47] bogo777 commented on #171
Is importing successful or are there any errors? I cannot reproduce it on my computer, after importing I have DbPedia with 2 DPUs as always.

[2013-07-24 12:37] tomesj commented on #112
Average speed of copy data was about 280 000 triples/minute (measure triples every 10 minutes and then make average). The total time was 80 minute= 1 hour 20 minute.

A more detailed description I will add to the collab page :-)

[2013-07-24 12:43] tomas-knap commented on #112
Ok, and the other approach we were considering?

[2013-07-24 12:49] skodapetr commented on #168
For iter 3. this can be solution but maybe for iter 4...
But in future .. the pipeline should start when it ends (in terms of DPU) in case of backend shut down. So maybe message about this will be sufficient?
Because the pipeline execution does not really failed .. like in case of error just has been interrupted (paused) and then resumed.

[2013-07-24 12:51] tomas-knap commented on #112
Also please do not forget to attach the virtuoso.ini, information about your hardware. It is enough to put this to the report on collab. In that report please compare two or more approaches we were discussing, also insert the fragment of code (it is few lines) so that it is obvious how it was implemented

[2013-07-24 12:55] tomas-knap commented on #171
I prepared fresh Virtuoso (6.1.6) - deleted everything except of virtuoso.ini, started virtuoso, imported schema.sql, data.sql, started frontend and open DBPEdia pipeline

[2013-07-24 12:58] tomas-knap commented on #171
import was successful. Also when I try to create new pipeline, it is not possible to drag&drop DPUs on the canvas, drag&drop finishes, but there is no DPU on the canvas as a result

[2013-07-24 12:58] tomas-knap commented on #171
So it seams that canvas it not showing anything

[2013-07-24 13:00] tomas-knap commented on #168
Yes, that is true, maybe there could be some state that the pipeline was interrupted, when being executed. Similarly, if we would like to rerun the pipeline because of e.g. edited pipeline definition, similar state may be needed (pipeline was interrupted because new definition available)

[2013-07-24 13:06] tomesj commented on #112
OK, the approach I described was using isql from console as "sparql add http://source_graph to http://target_graph"

I tested then the approach using RDFHandler and 2 connection of Virtuoso (source and target) - there we have speed about 14 000 triples/minute (that is 20 times slower)

[2013-07-24 13:09] tomas-knap commented on #171
Problem is in Chrome, 28.0.1500.71 (latest), in SAFARI, it works. Decreasing priority of this

[2013-07-24 13:11] tomas-knap commented on #112
Ok, great. Please also test the latest version (sparql add) also with the statistical handler enabled, so that we can see the decrease.

[2013-07-24 13:17] tomas-knap opened #173 "When saving new pipeline, the table with pipelines is not automatically refreshed"
Solution: Refresh list of pipelines when new is created

[2013-07-24 13:23] tomas-knap opened #174 "Pipeline worker's exception, pipeline remains in the status "running""
Pipeline worker throws exception, the execution of the pipeline ends, but the record in pipeline execution monitor is still "running". Also there should be certain event telling that there was problem with the pipeline execution itself. (there is related issues which will allow to publish pipeline events)

![screen shot 2013-07-24 at 3 20 14 pm](https://f.cloud.github.com/assets/3014917/848585/302

[2013-07-24 13:30] tomas-knap commented on #174
Will be solved by issue #169

[2013-07-24 13:30] #174 closed, assigned to skodapetr

[2013-07-24 13:35] tomas-knap commented on #121
Please also include sample use of DPU events and when these events should be used when compared with slf4j

[2013-07-24 13:38] bogo777 commented on #165
I added icon to download link and changed label to display time on which data were queried. I also added notification after clicking on query button.

I found possible solution for immediate download:
https://vaadin.com/wiki/-/wiki/Main/Letting%20the%20user%20download%20a%20file

But it would possibly require special button for CONSTRUCT queries. I thought that maybe we could move SELECT querying

[2013-07-24 13:47] tomas-knap opened #175 "File Extractor - mandatory field not checked"
Mandatory field is not checked

![screen shot 2013-07-24 at 3 45 33 pm](https://f.cloud.github.com/assets/3014917/848732/750bc7d6-f467-11e2-939c-ca4e775e8159.png)

[2013-07-24 13:58] #173 closed, assigned to bogo777

[2013-07-24 14:51] #138 closed, assigned to bogo777

[2013-07-24 15:00] kukharm commented on #37
I checked the date format and I have the same in all tables and setting the date on my computer is do not influence on it.
![intlib](https://f.cloud.github.com/assets/3471169/849261/50e425f6-f471-11e2-9f04-20966b699262.jpg)

I ask you to check it on your PC. And if problem is solved then close this issue.

[2013-07-24 15:17] tomas-knap commented on #165
Ok, agreed. It is ok now, we will improve that in the next iter

[2013-07-24 15:20] tomas-knap commented on #37
Please check pipeline event detail and log detail. Otherwise ok.

![screen shot 2013-07-24 at 5 19 09 pm](https://f.cloud.github.com/assets/3014917/849451/828740d6-f474-11e2-8a31-6e467a3122c9.png)

![screen shot 2013-07-24 at 5 20 25 pm](https://f.cloud.github.com/assets/3014917/849455/95bf3a78-f474-11e2-9798-bf873e9ceed8.png)

[2013-07-24 15:36] tomas-knap opened #176 "Logging named graphs which are created between DPUs when using Virtuoso and running pipeline"
Could you please add logging of the named graphs names used when running pipeline? I would like to see in the log of the pipeline information about every created graph, information that the graph was output/input of certain DPU and also information that the graph was deleted.

[2013-07-24 16:31] tomas-knap commented on #112
Jirka, I was trying to run in normal mode the big ted file and it failed silently, there is no error, but the extractor did not finish and nothing is happening in the backend, see below. Will try again in debug mode.

![screen shot 2013-07-24 at 6 29 17 pm](https://f.cloud.github.com/assets/3014917/849982/615865d4-f47e-11e2-9428-7721ce592ab2.png)

[2013-07-24 17:20] kukharm commented on #37
Could you please specify in what format have you got date in tables? This will help me to understand if date in tables respond to the local computer settings or set strongly.

[2013-07-24 17:49] tomesj commented on #112
It is hard to say where is problem, if there is no error.

I let run it in debug mode (result was as I described) - extraction will finish about 5,5 hours (by me).
I corrected implementation in merge, but actually we use version using 2 connection (add version with graph is 20 faster, but it goes me just only in command) - I am debugging  it for using it in code. If I will be succesfull with that,

[2013-07-24 19:24] kukharm commented on #37
I made data format similar. Check please if it work on your PC

[2013-07-24 19:31] janvojt commented on #112
I tried running TED-1 pipeline normally (not debug mode). After about 20 minutes, virtuoso db already had cca 3GB. After 45 minutes, extractor finished and appeared in log. After 1 hour and ten minutes, virtuoso db still had about 3GB. Processors were running at about 5-20%. After 2 and a half hours virtuoso db had about 4 GB, nothing else changed. Processors had no load. Virtuoso became unrespons

[2013-07-24 20:26] tomas-knap commented on #112
Jirko, I thought you have already pushed the changes, so let us know when your update is available, so that we can try it! Where is the problem? Are you still experimenting with the adjusted merge? Jirka, what do you mean with "but it goes me just only in command"?  Jan, thanks for trying.

[2013-07-24 21:22] kukharm commented on #175
It was made in accordance with  Issue #82. Mandatory fields don't check in template configuration. In Pipeline Edit it checked if the field is empty
![mandatory](https://f.cloud.github.com/assets/3471169/851983/0dca1e5c-f4a7-11e2-968f-b747cc8a6945.jpg)

[2013-07-24 21:22] tomesj commented on #112
"As only in command" I mean using as concrete isql execution from cmd. But when I try to connect to Virtuoso SPARQL endpoint (both - with/without authentisation) or something like that (using Vituoso connection - is OK, but very slowly), adding/merging triples of big graph fault. I seach how it use without cause no errors (something like using isql :-)

[2013-07-25 07:17] kukharm commented on #112
I run it yesterday at 24.07.2013 21:48:59  then at  25.07.2013 3:33:32 Extract completed. Now pipeline is still running, and there no  record that Loader started. I don't know if it makes sense to wait finishing. Now pipeline runs for about 12 hours.. Output file was not created

[2013-07-25 07:38] #163 closed, assigned to bogo777

[2013-07-25 07:46] #167 closed, assigned to kukharm

[2013-07-25 07:50] tomas-knap commented on #112
Jirka, as I already told, you can be inspired by ODCLeanStore, GraphLoaderUtils.insertRdfFromFile(
                        con, dTTLFile, SerializationLanguage.N3, dataGraphURI, dataBaseUrl);

Excerpt from their code, important steps:
- setting autocommit
- directly calling prepared stored procedures in Virtuoso for loading new data.

[code]

[2013-07-25 07:51] tomas-knap commented on #112
Please work on that today, so that in the evening we can try it out

[2013-07-25 07:52] tomas-knap commented on #82
Yes, you are right, mandatory fields should not be checked in DPU template, but should be checked in DPU instance (when DPU is placed on the canvas and detail edited)

[2013-07-25 08:02] kukharm commented on #82
But it checked in DPU instance...
![mandatory](https://f.cloud.github.com/assets/3471169/854328/7a35efcc-f500-11e2-8263-a4a4966dc707.jpg)

[2013-07-25 08:03] #82 closed, assigned to kukharm

[2013-07-25 08:05] bogo777 commented on #171
Today I prepared fresh Virtuoso (6.1.7), imported database and started frontend. DbPedia pipeline opened just fine, with Chrome 28.0.1500.72 m.

If problem prevails, could you please look for javascript errors in chrome JS console?

[2013-07-25 08:39] tomas-knap commented on #171
No error/warning in the console. I would leave this with low priority, could be problem just in my case. Bohuslav, could you please ask other to test it in chrome?

[2013-07-25 08:47] #175 closed, assigned to kukharm

[2013-07-25 08:48] tomas-knap opened #177 "File Loader - does not respect the extension of file when AUTO rdf format selected"
Setting of DPU as below:

![screen shot 2013-07-25 at 10 46 51 am](https://f.cloud.github.com/assets/3014917/854506/e5bbeeee-f506-11e2-9bf5-035433480a81.png)

Result: It generates RDF/XML file, which is wrong. We were discussing that AUTO format will take the extension of the file and based on that selects the format, right? Or did we discuss something else?

[2013-07-25 08:52] tomas-knap opened #178 "FIle Extractor - Upload file - filename"
When setting the extractor as below:

![screen shot 2013-07-25 at 10 41 21 am](https://f.cloud.github.com/assets/3014917/854521/1fefb9c4-f507-11e2-93dd-1fed073674f6.png)

Next to the button "Upload", only the file name (after the last "/") should be shown, because the folder structure is internal aspect of our implementation.

[2013-07-25 09:01] tomas-knap commented on #176
Please also emphasize whether it is output or input graph in the log

[2013-07-25 09:15] tomas-knap opened #179 "Pipeline event record detail - no scrollbar when the detail message is long"
![screen shot 2013-07-25 at 11 14 24 am](https://f.cloud.github.com/assets/3014917/854624/b7fa15cc-f50a-11e2-9a4c-9541195e86b2.png)

[2013-07-25 09:18] tomas-knap opened #180 "Pipeline event table - when the pipeline finishes, please show the events from the last page"
Motivation: I accidentally thought the pipeline below finished successfully, because all the error events were on the second page

[2013-07-25 09:28] tomas-knap opened #181 "SPARQL Loader - overwrite not working"
When loading to sparql endpoint and setting up that I would like to "overwrite changes", it does not work.

Steps to reproduce: Send small RDF file twice to the same output graph.

Solution: when "Owerwrite changes" is set on the advanced tab, the target graph(s) must be cleared before the data are loaded.

[2013-07-25 09:40] tomas-knap opened #182 "SPARQL loader - option "fail if the target graph exists""
Log is really confusing, should state that "THe DPU failed because the option X was set and there was a graph http://... already existing"
![screen shot 2013-07-25 at 11 30 36 am](https://f.cloud.github.com/assets/3014917/854746/2ce2c19c-f50e-11e2-8f84-b9a3d79e8dfb.png)

[2013-07-25 09:41] tomas-knap opened #183 "SPARQL loader error messages - could be more descriptive?"
1. If SPARQL loader fails because there are no rights to execute SPARQL update, the log message below is a bit confusing:

![screen shot 2013-07-25 at 11 19 55 am](https://f.cloud.github.com/assets/3014917/854667/8f554ad2-f50b-11e2-9740-facd3f5f3223.png)

It should be more descriptive if possible
1. If wrong password/user is used, I got message:

![screen shot 2013-07-25 at 11 35 58 am](https://f.

[2013-07-25 09:47] tomesj commented on #176
Every DPU has only 1 graph - it is input and output together.

If more than one edge go to DPU (more INPUTS} - every graphs from previous DPUs merge into graph for actuall DPU.

If DPU has more than one edge goes to next DPU (more OUTPUTS)- data of this DPU are add (merge) to the next DPU graph (goal of edge between them).

[2013-07-25 09:49] tomas-knap opened #184 "DPU Detail - Remove spaces from the text input"
Solution: You should call trim() on all user text input in DPU dialogs, so that spaces at the beginning and ending of the text inputs are removed.  They are typically inputted by users accidentally.

[2013-07-25 09:51] tomas-knap opened #185 "SPARQL loader - confusing error messages"
WHen named graph name for the output named graphs are wrong (e.g. contain space), I got confusing message:

![screen shot 2013-07-25 at 11 44 33 am](https://f.cloud.github.com/assets/3014917/854830/a4d91b82-f50f-11e2-924d-a234c564aa49.png)

![screen shot 2013-07-25 at 11 44 12 am](https://f.cloud.github.com/assets/3014917/854834/af56e4d6-f50f-11e2-9487-8397d066229e.png)

Solution: You should doubl

[2013-07-25 10:13] tomesj commented on #177
You right :-) How I change implementation using handler for supporting for big files- this cause I dont fix. Thank you.

[2013-07-25 10:33] #177 closed, assigned to tomesj

[2013-07-25 10:46] tomas-knap commented on #176
Well, but this will not work.
1. In the debuger, you have to be able to query input and output of the debugged DPU (it is already prepared in gui), so they cannot be the same. For example for SPARQL transformer, you expect that input graph will be the original graph entering DPU, output is the changed graph.
2. In many cases, input graph could be completely different than output graph, e.g., in ca

[2013-07-25 10:48] tomas-knap commented on #176
I think that for local RDF, the input and output are also different, right?

[2013-07-25 10:49] tomas-knap commented on #177
Jirko, please adjust also test, which checks that AUTO is working correctly, so that next time you will be alarmed.

[2013-07-25 12:18] #164 closed, assigned to bogo777

[2013-07-25 12:18] #170 closed, assigned to bogo777

[2013-07-25 13:24] #179 closed, assigned to bogo777

[2013-07-25 13:28] bogo777 commented on #139
Solved by left-align of textual representation.

[2013-07-25 13:28] #139 closed, assigned to bogo777

[2013-07-25 15:46] #184 closed, assigned to kukharm

[2013-07-25 17:15] #178 closed, assigned to kukharm

[2013-07-26 07:58] #37 closed, assigned to kukharm

[2013-07-26 09:59] tomas-knap commented on #127
Thanks, Couple of comments, example of problems, it is for Del 4:
1. When you suppress warnings, you have to describe in the method comment WHY is that needed and why is that safe

@SuppressWarnings({ "serial", "deprecation" })
    private GridLayout buildDpuLayout() {

2.
/**
-   \* OptionGroup for path type definition
-   */
  An example of path type is needed or better description, is it path t

[2013-07-26 11:32] tomas-knap commented on #37
It is ok

[2013-07-26 12:31] tomas-knap opened #186 "SPARQL extractor - no default SPARQL query"
When creating SPARQL extractor (just specifying the core part), error occurs:

![screen shot 2013-07-26 at 2 27 20 pm](https://f.cloud.github.com/assets/3014917/862362/28fad60a-f5ef-11e2-8f57-148ea771d381.png)

Probable solution: No default query obtaining everything is executed against the given graph!

[2013-07-26 12:42] tomas-knap opened #187 "Browse/Query in debug not working with Virtuoso"
Petre, is it a problem of backend or RDF module or GUI? Please assign the person responsible for that

To reproduce: Debug from canvas, DPU selected, no way how to work with browser/query tabs

[2013-07-26 12:52] tomas-knap opened #188 "Information that the pipeline is still running when debugging from canvas"
When debugging from canvas, there is no way how to find out whether the pipeline is still running or was already finished. There was the red text, but it is not needed now.

Solution: Show the proper icon from pipeline execution monitor - status column - when refreshing. The question is where the icon should be shown. Suggestion: Put one row with "Pipeline status: [obrazek]" above the first table

[2013-07-26 12:55] tomas-knap opened #189 "Debugging from canvas - buttons and blinking of the scrollbars"
Please add button "Close" and "Rerun" when debugging from canvas.

Rerun will simply start the same debugging process (debugging for the same selected DPU) again in the same window.

Also check the blinking of the scrollbars as the dialog is refreshed. After every refresh, the horizontal scrollbars in the tables with logs/events appear and then dissapear, and again and again.

[2013-07-26 13:25] tomas-knap opened #190 "Strange RDF data processing - too many triples in the output"
Suppose pipeline as:

![screen shot 2013-07-26 at 3 02 22 pm](https://f.cloud.github.com/assets/3014917/862585/0d94e390-f5f6-11e2-9aef-7928b422827b.png)

Every SPARQL extractor is extracting data from one named graph, every named graph (1-3) contains the same data from ted2.ttl, viz Scenario 0b in iter 3. SPARQL loader is loading data to the forth named graph.

When I run the pipeline (I have to p

[2013-07-26 13:26] bogo777 commented on #134
I tried to do it, but my solution only works on pipeline list table and I don't know why. I will contact author of the plugin and ask for help along with reporting bug we found in issue #164.

[2013-07-26 16:06] #176 closed, assigned to tomesj

[2013-07-26 16:37] skodapetr commented on #187
Jirka, could you please confirm this?
Maybe you could add logging like create/setGraphName to RDF repositories. This can help use to identify the problem.

[2013-07-26 16:47] skodapetr commented on #187
Jirka, we could also log the size of the DataUnit (in merge method for example) .. this could also help for issue #187. When logging you could use id to identify DataUnit as It's posible to assign DataUnit to DPU input/output based on DataUnit's id.

[2013-07-26 22:00] tomesj commented on #186
Construct query and URL endoint are checked by validator on canvas and in method again.

Before trying functionality is necessary clean all pipeline using this DPU and trying it create again.
I tested it and it works fine :-)

[2013-07-26 22:00] #186 closed, assigned to tomesj

[2013-07-27 06:35] #188 closed, assigned to bogo777

[2013-07-27 06:39] bogo777 commented on #187
Browse/Query in debug with Virtuoso works fine for me. I debug DbPedia pipeline.

[2013-07-27 13:09] #183 closed, assigned to tomesj

[2013-07-27 15:40] #185 closed, assigned to tomesj

[2013-07-27 16:47] tomesj commented on #187
Browse/Quiry on canvas forks fine by me. Comments to setGraphName in local repository were added some time ago.  I added logging for merging.

[2013-07-27 16:47] #187 closed, assigned to tomesj

[2013-07-27 18:01] tomesj commented on #190
I tried it used Scenario 0b (TED) and I had no problem - result has 600 triples.

![image](https://f.cloud.github.com/assets/3481055/867289/4f77ff40-f6e6-11e2-973f-a431b1c16672.png)
![image](https://f.cloud.github.com/assets/3481055/867291/67b6f62e-f6e6-11e2-8cf6-92144ae342fa.png)

I found out, that i can SPARQL_loader i cant debug - I create new issue for Bouslav :-)

[2013-07-27 18:01] #190 closed, assigned to tomesj

[2013-07-27 18:06] tomesj opened #191 "SPARQL_Loader is not possible to debug/browse"
If I create pipeline using SPARQL_Loader, I can debug it although pipeline finished succesfully. Other DPUs are OK.

![image](https://f.cloud.github.com/assets/3481055/867314/3e36178e-f6e7-11e2-8cf2-58e53f53ffa3.png)

[2013-07-27 21:18] #182 closed, assigned to tomesj

[2013-07-27 21:43] #181 closed, assigned to tomesj

[2013-07-28 13:09] #112 closed, assigned to tomesj

[2013-07-29 08:17] #180 closed, assigned to bogo777

[2013-07-29 12:31] tomas-knap opened #192 "Mandatory fields not checked when DPU details not open"
To reproduce: When I put DPU on the pipeline, do not open DPU details and save the pipeline, I do not get any error/warning that certain mandatory DPU settings are missing

Solution: When saving pipeline, an error occurs if certain mandatory fields in DPU details are not filled.  It woudl be also nice to have small exclamation mark next to DPU on the canvas, where certain error (in this case missi

[2013-07-29 13:20] tomas-knap opened #193 "When changing log level in debug view, warn user if to many records occur"
User (DPU debugging user) should be warned when too many, e.g., DEBUG+ log records exists. Based on that, you may confirm, he would like to change to e.g. DEBUG+ anyways  or he may decide to withdraw the switch

[2013-07-29 13:39] tomas-knap commented on #100
This seems to be very important. If I launch a complex pipeline but realize some errors, I should be able to stop the pipeline.

Currently, I have to stop backend, and if I would like to prevent the pipeline from being reexecuted, I have to manually set its state to e.g. wrong.

Solution: Button Cancel in pipeline execution monitor  to cancel the pipeline execution. When pressing the button, the g

[2013-07-29 13:47] tomas-knap opened #194 "Launching pipeline when backend is off"
When backend is turn off and user launches pipeline from GUI, he should be informed that backed is off and he should be asked whether the pipeline should be launched when possible (backend is again turn on) or if he would like to cancel the pipeline execution.

[2013-07-29 14:18] tomas-knap opened #195 "Output RDF data should contain only namespace prefixes needed, not all namespace prefixes from Virtuoso"

[2013-07-29 15:13] tomas-knap opened #196 "Checkbox "Refresh automatically""
Motivation: Automatic refresh is fine and works in most cases, but when there is a problem, e.g. the execution seems to be running but is doing nothing, it is needed to go through the logs even when the execution is not done. This is not possible because the automatic refreshment every 1s does not allow smooth log examination.

Solution: Please add checkbox, checked by default, with the label "Ref

[2013-07-29 15:20] tomas-knap opened #197 "Intelligent loading of logs to the table"
Motivation: When user switches from INFO+ to DEBUG+, it may take tens of seconds even more before anything is displayed.

Solution: Load only debug records which fits to the first couple of pages and last page of the table and the total amount of logs. If the user needs different pages, the needed pages are loaded. If the user requires filtering, all log records must be loaded (if the number of lo

[2013-07-29 15:22] tomas-knap opened #198 "Error when executing pipeline with JTagger extractor"
I executed pipeline Jtagger Extractor, launched on 20-30 files. After processing 13 files (which took less than 1 minute), the pipeline was still denoted as running, but nothing was happening, backend have already finished. When I changed INFO+ to DEBUG+ in the logs, it became irresponsible, as you can see below, it was not possible to work with gui, it was using CPU for +- 100%. Also virtuoso-t w

[2013-07-29 15:29] tomas-knap opened #199 "Asynchronous Loading - Possibility to "cancel" request in GUI (e.g. to show DEBUG+ logs)"
When GUI become irrespondible due to e.g. loading bigger amounts of data/logs, there should be possibility to cancel the request. Bohuslav, is that possible to realize easily?

[2013-07-29 16:05] tomas-knap commented on #198
Solved by adjustment of DPU Jtagger extractor. But the issue #199 remains

[2013-07-29 16:05] #198 closed, assigned to bogo777

[2013-07-29 21:25] tomas-knap commented on #124
Petre, I would recommend to separate the settings of the connection to the relational database for frontend from the config.properties to its original location within the xml file of the war file. The reason for that is that Tomcat may run under a different user (and typically runs), which means that the config.properties the user sets up may be unreachable.

Do you agree on that?

[2013-07-30 06:27] jakubklimek commented on #124
The best location would be web.xml in the war file, not the original persistence.xml.

This was discussed last week, what is the progress?

From: Tomas Knap [mailto:notifications@github.com]
Sent: Monday, July 29, 2013 11:26 PM
To: mff-uk/intlib
Cc: jakubklimek
Subject: Re: [intlib] Issue when running frontend in Tomcat on Windows - Config properties on wrong location? (#124)

Petre, I would recom

[2013-07-30 08:33] #194 closed, assigned to bogo777

[2013-07-30 09:24] tomas-knap commented on #171
Now it seems to work agains, am closing this issue

[2013-07-30 09:24] #171 closed, assigned to bogo777

[2013-07-30 09:52] bogo777 commented on #197
We should be able to solve this by using lazy-loading container. I found https://vaadin.com/wiki/-/wiki/Main/Lazy%20Query%20Container , but I don't know, if it is suitable for us. I need Honza to address this first.

[2013-07-30 09:53] bogo777 commented on #197
Some indexes on log table shloud help too, querying is now very slow.

[2013-07-30 09:53] bogo777 commented on #161
I got this solved, but until lazy-loading is used for loading log messages, it is very slow. See #197.

[2013-07-30 10:06] tomas-knap commented on #161
Bohuslav, thanks!

Could you please adjust it, so that filter INFO+ is selected by default as the filter from the combo box?

[2013-07-30 10:27] tomas-knap commented on #98
Petr, please check the problems with dependences of Silk.jar. When launching Silk.executeFile(conf, null, Silk.DefaultThreads(), true); in Silk Linker DPU extractor, the error occurs:

Pipeline execution terminated because of: java.lang.IllegalArgumentException: http://www.w3.org/2001/XMLSchema at javax.xml.validation.SchemaFactory.newInstance(Unknown Source) at de.fuberlin.wiwiss.silk.util.Valida

[2013-07-30 10:28] tomas-knap commented on #191
Jirka, please check the current version of 0.3 release if the problem persists. If yes, please explain better where the problem is. And assign Bohuslav

[2013-07-30 11:39] tomas-knap commented on #124
Jakub, in order to be able to continue with your work, are you able to prepare workaround - that means to copy config.properties to the home dir of the user tomcat is running under? (could be C:/.intlib probably, if no home dir is available, just guessing).

[2013-07-30 12:19] #196 closed, assigned to bogo777

[2013-07-30 12:54] jakubklimek commented on #124
I would rather test the fixed version. Should not take long to fix this.
On Jul 30, 2013 1:40 PM, "Tomas Knap" notifications@github.com wrote:

[2013-07-30 14:22] jakubklimek opened #200 "Unify path formats in config.properties"
general.workingdir does not end with / or \

module.path and module.libs do.

I would prefer if any of them did not.

[2013-07-30 14:24] skodapetr commented on #124
Honza is probably better person for this as he is author of the current AppConfig class.

[2013-07-30 14:29] jakubklimek opened #201 "Frontend: Create DPU template"
When uploading JAR in create DPU template, all buttons are still clickable, which is confusing and a potential source of errors.

[2013-07-30 18:52] tomas-knap commented on #124
Ok, but Honza is out till Monday, so please Jakob use the workaround, Honza will fix that next week

[2013-07-31 10:25] tomas-knap commented on #96
Marie, have you adjusted the mockups?

[2013-07-31 10:30] tomas-knap opened #202 "Creating Container for Settings"
Prepare dialog with settings, accessible from Settings menu item. The dialog with settings will contain tabulator, with tabs being on the left, according to mockup 1: https://grips.semantic-web.at/display/LOD2/User+settings

Continue with #203 to test first setting dialog in the container.

[2013-07-31 10:36] tomas-knap opened #203 "Create scheduller notification settings dialog for settings container"
In the settings container (#202 ), new dialog appear containing what is described adn illustrated in https://grips.semantic-web.at/display/LOD2/Email+notifications

See specification and mockup there. In case of questions, write

Goal:
1. prepare dialog based onthe mockup, put the dialog to container ( #202  )
2. implement functionality for checking values of the dialog according to mockup
3. prep

[2013-07-31 10:41] tomas-knap opened #204 "Extend create new scheduled event with possibility to specify notification settings"
See https://grips.semantic-web.at/display/LOD2/Scheduler

Basic idea, dialog in #203 provides default settings for notifications, this issues provides settings specific for the given pipeline, which overrides default settings if specified.

This requires to extend scheduller dialog. Current contant with be shifted to new "core" tab and the new functionality for setting notifications will be in "no

[2013-07-31 10:44] tomas-knap opened #205 "Support for storing scheduller notification settings"
Database must support:
- storing of default settings for email notificaitons (see #203 ). Marie should prepare an object she would like to store to db. Please check that and add Hibernate annotations.
- storing of particular settings for each schedulled event (if not specified, default settings are used) (see #204 ). This requires to extend SchedullerEvent representation and storage to db.

Maria

[2013-07-31 10:48] tomas-knap opened #206 "Email notifications - support in backend"
Add support in backend for sending notification to the email as in https://grips.semantic-web.at/display/LOD2/Email+notifications

Maria should prepare possibility to set notifications for the scheduller events till Friday ( #203 ) and #204. Jan storage to DB (#205 )

[2013-07-31 13:43] bogo777 commented on #61
Current version has asked functions, but I would like to make selecting DPUs easier. Also displaying of action bar for formatting could be nicer. I will appreciate any ideas.

[2013-07-31 14:27] kukharm commented on #96
There some problems with edit. For example on page https://grips.semantic-web.at/pages/viewpage.action?pageId=41848387 i adjusted the mockups. In edit mode my changes is applied, and if i press "edit" changes will be seen. But after save and exit edit mode changes are not applied to the mockup

[2013-07-31 16:06] kukharm commented on #96
Resolved by mockup export/import

[2013-07-31 16:06] #96 closed, assigned to kukharm

[2013-08-01 07:44] tomas-knap commented on #62
Undo funguje tak, že ukládá stav grafu při přidávání a odstraňování hran/DPUček, neregistruje tedy změny v layoutu. Pokud to takto nevyhovuje/bylo to myšleno jinak, tak mi to prosím napište, nejlépe přímo k issue. Je ovšem potřeba vzít v úvahu, že při posunování DPU po canvasu se ukládá pozice často, znamenalo by to hodně kliknutí na undo. Ale třeba uložení při změně layoutu by možná stálo za zváž

[2013-08-01 07:54] tomas-knap commented on #62
Bohuslav, yes, saving layout change seems to be reasonable requirement. Because it may happen that the user is not satisfied with the results of the layouting and needs to roll back. Could you please add this?

Regarding the changes in position, it would make sense to store the current position of all dpus when you store any of the important changes (dpu added/removed, edge added/removed, layout c

[2013-08-01 07:55] tomas-knap commented on #61
K možnosti alignování a rovnoměrné distribuce DPU na canvasu:
Je zde nová ikonka na DPU -> DPU layout formatting, která zapíná režim multiselect. Vybraná DPU mají tučnější okraje, vybírají se kliknutím. Zároveň se při najetí na DPU zobrazí menu s možnostmi zarovnání. Opět prosím o vyzkoušení a případné nápady k vylepšení, zejména způsobu zobrazování toho menu. Opět nejlépe k issue. Multiselect mód

[2013-08-01 07:55] tomas-knap commented on #61
Test that

[2013-08-01 08:04] tomas-knap commented on #150
Petre, please discuss about my proposal, compare with yours.

[2013-08-01 08:05] tomas-knap commented on #121
Petre, please summarize what is done, will be done and what is rejected ;)

[2013-08-01 08:14] tomas-knap opened #207 "Config to connect to DB in web.xml for tomcat"
Create config file for tomcat in web.xml. Such config file for tomcat should contain minimum of duplicating configurations from config.properties, ideally only connection to the relational DB, which frontend needs.

based on the findings in #124

[2013-08-01 08:46] tomas-knap opened #208 "Implement RDF interface RDFDataUnit"

[2013-08-01 09:07] #128 closed, assigned to kukharm

[2013-08-01 09:10] tomas-knap opened #209 "Test if Hibernate can handle decent amount of pipelines, executions"
1. Test frontend with 200+ pipelines, 1000+ executions
2. Test frontend with 500+ pipelines, 10000+ executions

[2013-08-01 09:19] tomas-knap opened #210 "DPU tree component - handle longer DPU names"
![screen shot 2013-08-01 at 11 15 22 am](https://f.cloud.github.com/assets/3014917/892706/ee5c18ba-fa8a-11e2-8db5-008789f5f15f.png)

Solution: the width of the DPU tree component on the canvas should be define as % of the width of the whole window, but having certain minimal width (current width can be considered as minimal)
Motivation for that: If the monitor permits, it should be able to enlarge

[2013-08-01 12:50] tomas-knap opened #211 "DPU - Extractor of data from PSP.cz"
Jakub Klimek is trying to write an extractor, see DPUs repository, DPU Extractor_psp_cz. It uses two external libraries (in lib directory).

Problem: The generated JAR file is not bundle. There will be problem with the external libraries probably.

Solution: Please help him to prepare the bundle. As you will be doing that, write in paralel the guide for others who are creating DPUs to DPU tutorial

[2013-08-01 19:19] skodapetr commented on #121
1) RDF DataUnit class draft has been created and now it waits for implementation-changes in #208, but there will be some changes in draft probably - based on Thomas suggestions
2) class commons-module.ConfigurableBase is being prepared in my local branch and should be available (and used by core DPUs) in less then four days
3) nothing done in this yet ... I think it would be nice to show examples

[2013-08-02 09:14] kukharm commented on #203
Could you please describe more detail 2 and 3 points? According to 2 i should check that:
"To save the settings, at least one email address must be set when at least one radio button group has different value than "no report". If email is not specified, error occurs and user cannot save the settings. Email has to be in correct format (checked!)"
or something else?

 According to 3: where should i

[2013-08-02 13:43] tomas-knap commented on #203
Maria,

yes, you are right with point 2.

Regarding 3, please contant Petr, he should be able to help you with that, mainly with the proper location of the class. In general, it is a class holding you configuration in the dialog.

[2013-08-02 13:50] tomas-knap opened #212 "Do we need Create DPU and Import, or Import is enough?"

[2013-08-03 12:40] skodapetr commented on #172
It's possible to provide DPU with the last successful execution time. (for the whole pipeline, not a single DPU)

I'm do not know why it needs information about last exec. status or result?

[2013-08-05 13:46] tomas-knap commented on #172
Ok, lastSuccessfullExecution is good enough for now

[2013-08-05 13:46] #172 closed, assigned to skodapetr

[2013-08-05 19:49] tomas-knap opened #213 "Documentation of basic DPU related concepts + DPU creation."
Two sections:
1) teoreticky uvod v duchu prvni casti DPU_module/tutorial.html (ale presunout do doc), pridat neco o mvn, osgi, dependencies v osgi (jak to mas v jinem souboru ted)
2) prakticky step by step guide - v duchu druhe casti DPU_module/tutorial.html + priklady konkretnich DPU (aspon jeden extractor/transf/loader), popsat build (= mvn install), jak se DPU nahraje do app.

[2013-08-06 08:47] jakubklimek opened #214 "Issue when running backend with Virtuoso 7"
Clean ODCS, run dbpedia pipeline, exception is thrown. Possibly due to Virtuoso 7 and maybe old jdbc driver??

[code]

[2013-08-06 12:46] tomas-knap opened #215 "When restarting pipeline, new execution record should be created"
Suppose that backend crashes. When the backend is again up, it should check which pipelines were running when it crashed and finish these pipelines with error and also sends an event to the end of the pipeline events telling that backend  crashed. Further, new execution should be run, with new number.

Currently, when restarting, pipelines which were executed during crashing are restarted, but und

[2013-08-06 13:44] tomas-knap opened #216 "Validation in GUI - should exclamation mark should dissappear when the value is filled"
When I e.g. create new pipeline and write the name of the pipeline, still, the red exclamation mark is there and if I point over the text field something like "Name must be filled" is there. This is a bit confusing

Solution: When the validation condition (e.g. that certain label is available) is satisfied, green tick could appear (or the red exclamation mark should at least dissapear).

[2013-08-06 16:11] skodapetr commented on #215
Is the new execution record really what we want?
I mean restart is just temporary solution .. it should restart just one DPU in future (1 week). Then it may be better to not restart the whole execution as it could be running for long time and by this we lost the progress.

Does that change your opinion?

[2013-08-06 22:43] janvojt commented on #205
General notification settings for user are not implemented yet, as class `User` itself is not implemented yet. Setting priority to normal.

[2013-08-07 08:00] jakubklimek opened #217 "ctx.getWorkingDir() should return the trailing \\ or /?"
When calling ctx.getWorkingDir() to get a directory where to put temporary files, the method returns the path without the trailing \ or /. So if I want to use it for absolute file name generation, I need to know if I am on linux or windows to add either \ or /.

I would prefer to use it like this: ctx.getWorkingDir() + "sbirka.ttl" so I don't need to care about the platform.

Or is there any bette

[2013-08-07 08:23] jakubklimek opened #218 "DPU WorkingDir per user and per DPU"
DPUs should have 2 more working dirs:

1) working dir same for all executions per user and
2) working dir same for all executions and all users

[2013-08-07 08:26] tomas-knap commented on #217
+1

It is better not to force the DPU developer to put "/" there.

[2013-08-07 09:56] jakubklimek opened #219 "DPU Extractor from PSP.CZ Configuration null problem"
DPU Extractor from PSP.CZ I am experiencing a configuration problem. There is no configuration dialog yet. But the Config class has defaults for all attributes, which should be used.

However, when the DPU runs, something calls its Configure method with a null for config, overwriting the defaults.

I tried extending ConfigurableBase instead of implementing Configurable interface with no effect.

[2013-08-07 16:30] skodapetr commented on #218
Not hard to implement, but I would like to have Tomas approval.

[2013-08-07 16:32] skodapetr commented on #217
getWorkingDir()  return type File
you can use
`'File sbirka = new File(getWorkingDir(), "sbirka.ttl");`

I did not find a function that return path ending on trails (for File). But adding a support method that return such string is easy:
`getWorkingDirPath()`

Or maybe adding whole class that manage this, like FileManager .. with methods  like`
createTmp(String fileName)  : File
getPathToTmp(Strin

[2013-08-08 06:52] bogo777 commented on #216
Exclamation mark dissappears when text box is left. Solved by 5bf5dab169a3e4d5b762cc92336e4475fb0a2ec4

[2013-08-08 06:52] #216 closed, assigned to bogo777

[2013-08-08 17:24] janvojt commented on #209
As discussed at the meeting, this needs to wait until listing tables are paginated in a lazy manner on DB level.

[2013-08-08 21:18] #149 closed, assigned to janvojt

[2013-08-09 04:58] tomas-knap commented on #218
Yes, makes sense.Please propose here where these two working dirs will be located

[2013-08-09 05:04] tomas-knap commented on #215
Yes, that is true, but still, would it be confusing? There coulld be logs for the same DPU twice as its execution failed and then was restarting? On the other hand, if you create new execution record, than it would be strange that it starts from e.g. transformer, not extractor if new execution record is always created. So I would suggest to keep it as it is, we will see what is better.

[2013-08-09 05:04] #215 closed, assigned to skodapetr

[2013-08-11 13:44] #191 closed, assigned to tomesj

[2013-08-11 17:49] tomesj commented on #208
I added imlementation - I asign Petr to see and resolve described problem defined in constructor of this class.

[2013-08-12 06:34] bogo777 opened #220 "Table lazy-loading with filtering"
PagingComponent (https://vaadin.com/directory#addon/pagingcomponent:vaadin)

Target is to have Table with lazy-loading pages where it is possible to use filters while maintaining lazy-loading of filtered table records.

[2013-08-12 06:49] bogo777 commented on #210
Width of the DPU tree is now set from width of items in tree. If the DPU tree is too wide, there will be option to minimize it soon.

[2013-08-12 06:50] bogo777 commented on #197
Will be solved by #220.

[2013-08-12 06:55] tomas-knap commented on #210
Bohuslav, please close when minimize is ready, just not to forget

[2013-08-12 07:02] #127 closed, assigned to kukharm

[2013-08-12 07:26] tomas-knap opened #221 "Copy DPU template"
Possibility to copy DPU template - Copy only 3rd levels DPU templates (not those imported as JARs). For example My Custom RDF SPARQL Extractor may be copied, but not SPARQL Extractor itself.

Regarding the sharing of JAR, all DPU template at 3rd level SHOULD Share the same JAR file on the file system.

Maria, if you need any method from Jan, just ask him to do so. You have full responsibility that

[2013-08-12 07:27] #210 closed, assigned to bogo777

[2013-08-12 07:33] tomas-knap opened #222 "Prepare Users/Roles functionality"
1. Adjust mockup in confluence, prepare dialog, interconnect dialog (if I click add, it is working, dialog for adding user occurs). Values are checked, if needed.
2. Discuss with Jan how the data will be stored in DB. Interconnect with DB, test (it is possible to add/delete/edit user)

[2013-08-12 07:37] tomas-knap opened #223 "Compute hash from the imported DPU, use that as the name of the file"
To solve the issues as below

Ahoj,

ako si predstavujem? Neviem naco narazas, ale normalne urobit z toho File ked sa nacita InputStream a z toho vypocitat napr md5 hash, a ulozit do DB. Ten hash by sme potom mohli pouzivat ako nazov suboru. Vyhli by sme sa tak konfliktom s nazvami, a takisto pouzivat ako nazov suboru nieco co dostaneme od uzivatela je nebezpecne a treba to robit opartrne (securit

[2013-08-12 09:10] tomas-knap opened #224 "Users and authorization - approach"
Notion of user:
Normal user & admin (can everything)
I would suggest to keep the notion of roles, not just testing isAdmin(). Now we have only two roles, but may be more later.
- Every user may list,edit,run,schedulle,delete... only pipelines accessible for him, admin may see/edit everything
1. Output: Adjusted confluence, opinions of Jan/Petr.
2. Plan and estimate what needs to be done (in the co

[2013-08-12 09:11] tomas-knap commented on #224
What is the status? Is it ready in confluence?

[2013-08-12 09:18] tomas-knap commented on #199
We had some discussion around this, what were the results?

[2013-08-12 09:20] tomas-knap commented on #189
Is that complicated to realize or matters of few hours? Can you estimate?

[2013-08-12 09:21] tomas-knap commented on #134
Any progress in this issue?

[2013-08-12 09:27] tomas-knap opened #225 "Login screen, possibility to log into the system"
Dialog for logging into the system.

When user accesses certain page and his session has timeouted, login dialog should appear (it should appear instead of the main window)

 Please provide first draft implementation or mockup, then we can discuss details.

Needs cooperation with Petr/Jan.

[2013-08-12 09:32] tomas-knap commented on #168
See also #215

[2013-08-12 09:41] tomas-knap commented on #98
Any progress in this?

[2013-08-12 09:45] tomas-knap commented on #219
Please test and update the issue

[2013-08-12 10:02] tomas-knap opened #226 "Finish and clean up specification for standard/devel mode"

[2013-08-12 10:18] tomas-knap commented on #217
Petr, if you proper comment what is the difference e.g. between getWorkingDir a getWorkingDirPath, that it is fine. Another question is that 'File sbirka = new File(getWorkingDir(), "sbirka.ttl"); looks like a reasonable approach to hide technical details about separators. So please choose some approach, comment that in the code and here and close this issues,.

[2013-08-12 10:41] tomas-knap opened #227 "Prepare DPU which validates RDF data"
Prepare special DPU, which validates the incoming data. The general idea is that the incoming RDF data are validated using Apach Fuseki - to check datatypes of the literals and form of the URIs (identifiers) of subjects/predicates/objects. User may specify what should happen when data has certain errors (possibilities - pipeline finishes with error/ warning is displayed and processing continues).

[2013-08-12 11:03] bogo777 commented on #199
It is not possible to explicitly cancel Vaadin request. For similar long lasting situations, asynchronous loading is recommended. For loading logs and other data to tables it should be solved by #220, but for other cases asynchronous load with server push is the way to go.

[2013-08-12 11:07] bogo777 commented on #189
Buttons are not problem.

For blinking and scrollbars I wanted to try addind new items to container on refresh, instead of passing new container every time. But there must be some support from DAO and not all containers support this. I also do not know if it will help. But I would leave this part after solving #220, where we will possibly use new custom container.

[2013-08-12 13:01] tomas-knap commented on #199
OK, let's focus on #220 first. Regarding the asynchronous loading, so the client registers request on the server and when it is ready, it is pushed to the client?

[2013-08-12 14:52] tomas-knap opened #228 "Building project on DEBIAN failed - RDF module encoding"
It is not possible to build RDF module on Debian due to encoding. Jirka, please check that. Discuss with others in case of problems. When adjusted, please verify in the lab on linux.

[INFO] ------------------------------------------------------------------------
[INFO] Building RDF
[INFO]    task-segment: [install]
[INFO] ------------------------------------------------------------------------
[I

[2013-08-12 18:18] #205 closed, assigned to janvojt

[2013-08-12 19:27] bogo777 commented on #220
Jan:
PagingComponent - posielal som Bohuslavovi odkaz, vyzera to slubne, ale hrozi, fasady by museli obsahovat extra metody s argumentami na strankovanie (inak este by sa mohol predavat nejaky objekt s info o strankovani v ramci session, ale to by bolo treba premysliet...)
Najst/napisat komponentu pre strankovanie, ktora by vyuzivala QueryBuilder. Tu by sa porusil design s oddelenymi vrstvami, ale

[2013-08-12 19:33] bogo777 commented on #220
V te PagingComponent je takovy basic priklad vlastniho containeru, ktery strankuje podle te komponenty. To vidim jako cestu kudy se vydat. Ani bychom nemuseli pouzit primo tu pagingcomponent, pokud by bylo pouzitelne to strankovani z PagedTable co mame ted, coz by melo byt.

Predstavoval bych si vlastni container, ktery jako parametr dostane treba Facade a diky nejakemu rozhrani bude vedet jakou z

[2013-08-12 19:48] tomas-knap opened #229 "Problem with config.properties"
When checkouting and trying release 0.3.0, the prepared config.properties file in conf folder contains only settings: module.path, which points to "target". Which is fine. However, when launching backend, error occurs saying that module.lib configuration option is missing. So probably the config reader is expecting two options module.path and module.lib

Jirka, please test that and let us know.

[2013-08-12 19:58] tomas-knap opened #230 "Config properties - trailing "/" in module path"
In release 0.3, if I define module path as ..../target/dpu, than it appears:

![screen shot 2013-08-12 at 9 56 22 pm](https://f.cloud.github.com/assets/3014917/950109/64949c58-0389-11e3-81ae-b48ca8999664.png)

It should automatically add the trailing "/" when resolving the path. Please correct that in release 0.3 and check it does not occur in 0.4

[2013-08-12 20:03] tomas-knap commented on #230
How is it with config properties in release 0.3? Should be both module path and module lib included? Or just one path?

[2013-08-12 20:05] tomas-knap opened #231 "Error when loading DPU, exception is not much expressive"
The exception below, which occurs probably because of problem in config.properties is not very expressive - should be more concrete if possible, so that the user can further adjust the given bundle/config.properties

![screen shot 2013-08-12 at 10 03 38 pm](https://f.cloud.github.com/assets/3014917/950179/7aa8592a-038a-11e3-9259-152d5a486a4b.png)

[2013-08-12 20:16] tomas-knap opened #232 "Problem with DPU tree depiction when resolution is low,"
When resolution is low, se below, there is not way how to see certain parts of the DPU tree. IT may be problem during presentation of the project on low resolution projector.

![screen shot 2013-08-12 at 10 12 57 pm](https://f.cloud.github.com/assets/3014917/950248/b7aae792-038b-11e3-8611-97c535a8d8a8.png)

Solution 1: Vertical scrollbar for DPU tree

Solution 2: There upper part (pipeline name &

[2013-08-12 20:46] tomesj commented on #227
Add page to confluence with mockups
https://grips.semantic-web.at/display/LOD2/DPU+-+Validator+of+RDF+data

[2013-08-12 20:47] bogo777 commented on #225
Available at /#!Login
I wanted to make the content vertically and horizontally centered on page, but failed to do so yet.

[2013-08-12 21:17] tomesj commented on #229
The main problem is, that file config.properties in actuall version has less configuration setting than in release 0.3.0 (modulule.lib, some frontend/backend expose are missing, etc...)

See actuall version:
https://github.com/mff-uk/intlib/blob/master/conf/config.properties

See version in release 0.3.0
https://github.com/mff-uk/intlib/blob/release-0.3.0/conf/config.properties

Petr made all chan

[2013-08-13 05:27] tomas-knap commented on #229
Jirka,

it should be ok, when creating release 0.3 branch, config.properties is frozen with the values being valid when 0.3 is created, so separate config.properties for different versions is not needed imho. Petre, when you return, please check that. Probably there are some inconsistencies.

[2013-08-13 11:35] tomas-knap opened #233 "Problem with config.properties - Invalid lib path"
Ahoj,

Petre, mrkni prosim na ten problem s konfiguraci a napis jim.

Diky, Tomas
---------- Forwarded message ----------
From: cammeronm@gmail.com
Date: 2013/8/5
Subject: Re: ODCleanStore chyba front-endu po deploy na Tomcat
To: intlib@googlegroups.com
Cc: Jindřich Mynarz mynarzjindrich@gmail.com

Ahoj,
mám stejný problém (https://www.dropbox.com/s/ul27fjx06rdrnzm/intlib-error.html)

intlib, kter

[2013-08-14 15:19] tomas-knap opened #234 "Problems when clicking run/debug on PipelineList"
For exception shown, see below. In case of corrections, please put them firstly to release 0.3

Steps to reproduce:
http://odcs.xrg.cz:8080/etl-manager/#!PipelineList
Try to run/debug pipeline.

Backend is stopped but that does not matter, the error occurs before connection to backend is needed.

Exception:

[code]

[2013-08-14 15:54] tomas-knap commented on #227
Jirka, it is not clear to me:
- how the report will be presented to the user? How will be the table with the resulting status (File Extractor OK etc.) presented? One way is to log it with INFO/WARNING/ERROR level, but it would be also good to add one extra output -> RDF report which descripes in RDF (turtle e.g.) the content of the table (File extractor OK etc.)
- what happens if the DPU1 has more

[2013-08-15 06:03] bogo777 commented on #234
I think that the problem originates in this commit: https://github.com/mff-uk/intlib/commit/80ae09a7d03bf1846ba157e9943024eb95162eec
so in release-0.3 it should be working ok. But I will try it and repair it there if needed.

[2013-08-15 08:22] tomas-knap commented on #234
The problem must be also elsewhere, because it occurs in release 0.3 (I was building & deploying 0.3). Any further ideas?

[2013-08-15 08:39] janvojt commented on #222
User/Roles are already persisted in DB. It was needed for user notification settings, so this part should be ready.

[2013-08-15 08:48] bogo777 commented on #234
Do you have also release 0.3 database? I cannot reproduce this error on master and in release 0.3 database column context_id was nullable so this error should not occur.
https://github.com/mff-uk/intlib/blob/release-0.3.0/db/virtuoso/rdbms/schema.sql

[2013-08-15 08:56] tomas-knap opened #235 "AbstractConfigDialog - getConfig/setConfig duplications"
4 methods instead of 2 in total, have to be all implemented by the particular dialog, confusing. WHat is the reason for 4 methods instead of 2?

[2013-08-15 08:59] tomas-knap commented on #234
Yes, should be, I simply checkouted 0.3 and took the db/schema.sql available. But I will check. How can I easily find I have the wrong schema.sql?

[2013-08-15 09:12] kukharm commented on #222
Yesterday i started interconnection user/roles its ok. Нow can i get data to the column total pipelines? It's number of pipelines that was run by this user?

[2013-08-15 09:14] bogo777 commented on #234
In 0.3 schema.sql should contain table definition for EXEC_PIPELINE:
CREATE TABLE "DB"."INTLIB"."EXEC_PIPELINE"
(
  "id" INTEGER IDENTITY,
  "status" INTEGER,
  "pipeline_id" INTEGER,
  "debug_mode" SMALLINT,
  "t_start" DATETIME,
  "t_end" DATETIME,
  "context_id" INTEGER,
  "schedule_id" INTEGER,
  "silent_mode" SMALLINT,
  "debugnode_id" INTEGER,
  PRIMARY KEY ("id")
);
In master it looks like

[2013-08-15 09:21] tomas-knap commented on #222
Maria, ask honza to prepare SQL query which takes this info from execution
records.

On Thu, Aug 15, 2013 at 11:12 AM, Maria Kukhar notifications@github.comwrote:

[2013-08-15 09:33] tomas-knap commented on #234
It should be correct for 0.3, my exec_pipeline table def:

create table "DB"."INTLIB"."EXEC_PIPELINE"
(
  "id" INTEGER IDENTITY,
  "status" INTEGER,
  "pipeline_id" INTEGER,
  "debug_mode" SMALLINT,
  "t_start" DATETIME,
  "t_end" DATETIME,
  "context_id" INTEGER,
  "schedule_id" INTEGER,
  "silent_mode" SMALLINT,
  "debugnode_id" INTEGER,
  PRIMARY KEY ("id")
);

ALTER TABLE "DB"."INTLIB"."EXEC_P

[2013-08-15 09:51] tomas-knap commented on #202
Maria, when trying to access Settings menu item, it does not show anything. It is clearly stated it has to work from the settings menu. Does that work in your case?

The problem in my case:
org.springframework.beans.factory.NoSuchBeanDefinitionException: No bean named 'userFacade' is defined at org.springframework.beans.factory.support.DefaultListableBeanFactory.getBeanDefinition(DefaultListableBe

[2013-08-15 10:11] kukharm commented on #202
yes it works in my case. Do you have the last version of DB?

![settings](https://f.cloud.github.com/assets/3471169/968089/f5d899b6-0592-11e3-9f3a-b3dbbdb3b0e7.jpg)

[2013-08-15 11:30] tomas-knap commented on #202
Maria, yes, problem was on my site, sorry ;)

Comments:
- There should NOT be two menu items: Administrator & Settings. Everything should be under Settings (it will contain my account, notifications, users management, pipeline, records, ..). If Administrator is logged in, the content of the settings menu will have more options. Now you can suppose that admin is logged in. Solution: Delete Settings

[2013-08-15 11:32] tomas-knap commented on #202
What is the motivaiton for records settings? What does it mean "records"??

![screen shot 2013-08-15 at 1 32 19 pm](https://f.cloud.github.com/assets/3014917/968371/5bde58a8-059e-11e3-8701-c8120a5587d4.png)

[2013-08-15 11:35] tomas-knap commented on #203
When adding new email as you can see below, there is a warning that email must be filled. When I fill email and move focus to the first original email, the warning is still there.

![screen shot 2013-08-15 at 1 33 01 pm](https://f.cloud.github.com/assets/3014917/968376/c2a517f2-059e-11e3-899e-03cc53783789.png)

Solution: It should behave as described in #216

[2013-08-15 11:36] tomas-knap commented on #203
instead of franta@test.cz as suggestion of the e-mail notification value, use something more serious, e.g. user@email.com

[2013-08-15 11:40] tomas-knap commented on #203
When there is no email filled, an error occurs. This is fine, but the error must tell the user which tab contains an error and it has to be more descriptive

In this particular use case, it could be: Sheduler Notifications - At least one mail has to be filled, so that the notification can be send.

[2013-08-15 11:42] tomas-knap commented on #203
If I save email in wrong format, the application has to provide error message from which it is clear that certain email XXX is incorrect because YYY. Error message must provide such information.

![screen shot 2013-08-15 at 1 40 38 pm](https://f.cloud.github.com/assets/3014917/968399/a6001038-059f-11e3-9979-e7d5749f91a6.png)

[2013-08-15 11:44] tomas-knap commented on #203
Email notificaitons should appear only on one place (now they appear in my account tab and also scheduller configuration, which is really confusing). We were discussing email notification will apppear in tab "My Account". Solution: remove "Email notification to" from "Scheduller notifications" tab.

[2013-08-15 11:46] kukharm commented on #202
I create this tabs: records, pipelines, users in accordance with https://grips.semantic-web.at/display/LOD2/Administration+interface

records - delete records from monitor https://grips.semantic-web.at/display/LOD2/Delete+records+from+monitor

[2013-08-15 11:50] tomas-knap commented on #222
- Warnings that certain values are not filled MUST behave as in #216. Ask bohuslav how to do that.
- When I select roles to be set, and click on >>, strange blue border appears around textareas and the whole dialog is resized. Resizing must be avoided, blue border removed.
- Make sure that there cannot be two users with the same name!
- When "Change settings" button is pressed, the current values

[2013-08-15 11:57] tomas-knap commented on #204
1.
![screen shot 2013-08-15 at 1 53 27 pm](https://f.cloud.github.com/assets/3014917/968445/54a16230-05a1-11e3-8d16-f3a6e9d10ef7.png)

The text of the above should be: Overwrite default settings for all scheduled events with the following:
1. The list of email addresses contains by default all email addresses from Settings->acount info. Just make sure it will work this way

[2013-08-15 11:57] kukharm commented on #203
comment to email in wrong format: in your case error message is appear because of 2 empty fields after xxx. In case of absence this empty fields will be message "wrong e-mail format"

[2013-08-15 11:59] tomas-knap commented on #202
Sorry, I closed it by accident

[2013-08-15 12:02] tomas-knap commented on #203
Well, to solve that, the error message has to be more descriptive. And you should check and report all errors at once not just some errors.

[2013-08-15 12:07] tomas-knap commented on #61
It is not that intuitive, let's discuss that on the next f2f meeting. I would like much more, if I could select the DPUs with mouse in a similar way as more icons on the desktop. that right clicking, having context menu. But let's discuss that on the meeting

[2013-08-15 12:07] tomas-knap commented on #61
![screen shot 2013-08-15 at 2 06 22 pm](https://f.cloud.github.com/assets/3014917/968486/3e69ff5c-05a3-11e3-82c3-84dbfc4a1d0f.png)

Align left

[2013-08-15 12:14] tomas-knap opened #236 "Hidable DPU tree"
Great feature, but could you please adjust the button? It is too big next to the label DPU tree.

Further, there should be no hidable button in DPU template menu item.

![screen shot 2013-08-15 at 2 11 57 pm](https://f.cloud.github.com/assets/3014917/968514/2ae9bfac-05a4-11e3-86d4-857058b920c0.png)

Suggested solution: Move the button to the upper right corner and put there some nice icon.

[2013-08-15 12:16] tomas-knap opened #237 "Broken layout in GUI from time to time"
When using GUI, it happens sometimes that the layout starts to be broken as you can see below. Does that happen to you as well? Do you know the reason for that?

![screen shot 2013-08-15 at 2 14 51 pm](https://f.cloud.github.com/assets/3014917/968521/80cab386-05a4-11e3-9a95-7683ba122916.png)

![screen shot 2013-08-15 at 2 14 56 pm](https://f.cloud.github.com/assets/3014917/968522/840ab456-05a4-11e

[2013-08-15 12:17] kukharm commented on #222
I tried to remove this blue border (in my case its yellow..) but I was not able to change it. Its something in chrome  browser, because in fierfox its all right. In my case this borders appears in all focused elements in chrome.

[2013-08-15 12:20] tomas-knap commented on #216
Bohuslav, is that fixed only for pipeline name field or also for the other, e.g. in DPU configuraitons?

[2013-08-15 12:23] tomas-knap opened #238 "Behavior of mandatory fields for core DPUs"
In case of mandatory fields, it should behave as described in #216 . So if there is a mandatory field (textbox) and I filled something valid there, then the exclamation mark should dissappear. Ask Bohuslav for clarification if needed.

Check this for RDF file/SPARQL extractor, SPARQL transformer, RDF file/SPARQL loader.

[2013-08-15 12:56] tomas-knap commented on #222
Regarding the blue border, it should be definitely thiner, when I look e.g. to DPU templates menu item and to some DPU field, it is much thiner. That is the problem I think.

[2013-08-15 12:59] tomas-knap commented on #202
Ok, now I know what you mean with records. Then please put there "prune execution records" instead of "records"  - to the app and also mockup. Also instead of pipeline put there "release locked pipelines". To dialog and mockup

[2013-08-15 13:04] bogo777 commented on #234
Did you have other version of database before? Maybe tables were dropped incorrectly and wrong version remained in database.

I cannot think of other reason for the exception which is causing this:
org.hibernate.exception.ConstraintViolationException: SR133: Can not set NULL to not nullable column 'DB.INTLIB.EXEC_PIPELINE.context_id'

You can check table definition in database via Conductor:
Datab

[2013-08-15 13:08] bogo777 commented on #216
It is the way Vaadin works, only requirement is, that the validated field must be set immediate via field.setImmediate(true) for it to dissapear when field is left, otherwise it dissapears after next postback.

[2013-08-15 13:12] tomas-knap commented on #234
Bohuslav, thanks.

Database for just created, no old records.

Honzo, can you please check that?

[2013-08-15 13:12] kukharm commented on #222
I agree with you, but TwinColSelect component that i used for selecting roles is also standard vaadin component and i don't know how to change it behaviour. I am afraid that the solution of this border will take a lot of time now.

[2013-08-15 13:14] tomas-knap commented on #222
Ok, please solve the rest of the issues and then create new issue just for the blue borders (with reference to this one) and assign Bohuslav

[2013-08-15 19:18] skodapetr commented on #98
Based on our last meeting I have expected that you first try slik-linker in standalone application? To be sure, that the cause of this error is caused by xml-apis.jar.

[2013-08-15 19:24] skodapetr commented on #116
Current state: Jirka is working on implementation. I need from him detail about how to use new methods .. once I will have this information I will replace the RDFRepository with RDFDataUnit in Backend, module help classes, tutorial .. etc ..

[2013-08-15 19:25] skodapetr commented on #145
I believe that frontend and DB support this also we have messages (pipeline restart for instance) that are using this feature.

[2013-08-15 19:25] #145 closed, assigned to skodapetr

[2013-08-15 19:30] skodapetr commented on #208
Problem solved, I need Jirka to provide me some information about usage of new RDFDataUnit so I could replace RDFRepository with our new RDFDataUnit class. (assigned to Jirka, Jirka please send me that information by email)

There can be question about preserving RDFRepository for compatibility reasons? Bud I would prefer not to if possible?

[2013-08-15 19:34] skodapetr commented on #217
I have created a help class in commons.module.file.FileManager. I thing it can be better solution than adding special methods and that it can be more user friendly to users.

Tomas can you please take a look on this and give me feedback?

[2013-08-15 19:53] skodapetr commented on #230
0.3: I believe that just one according to comments in prepared config.properties.

In 0.4 no trailing is required, but it may be good idea to update code that it can survive when user use one.

[2013-08-15 20:19] janvojt commented on #234
I cannot reproduce on release-0.3.0. Like Bohuslav said, the root cause is that column `context_id` changed to `NOT NULL`. I am changing milestone and lowering priority.

If you encountered this on branch release-0.3.0, you must have had old database schema. When changing releases on the same database, I suggest you run DROP statements from schema.sql in both releases manually and make sure they a

[2013-08-15 21:01] janvojt opened #239 "Loading of DPU modules fails."
I cannot get DPUs to work. I believe my configuration is correct, because filepath in the error message is correct. Jar file exists in given path and is world-readable.
![screenshot from 2013-08-15 22 50 11](https://f.cloud.github.com/assets/2247062/971772/b93401b6-05ed-11e3-949d-fef9b3f54976.png)

[2013-08-15 21:03] janvojt commented on #234
I cannot reproduce this on master because of issue #239.

[2013-08-16 00:00] #204 closed, assigned to kukharm

[2013-08-16 07:23] tomas-knap commented on #116
Ok, so when you arrive, please arrange discussion with Jirka

[2013-08-16 07:24] tomas-knap commented on #98
Yes you are right ;)

[2013-08-16 07:26] tomas-knap commented on #208
Jirka, please check that soon.

No, the tool is not yet widely distributed, we do not need to preserve old versions.

[2013-08-16 07:27] tomas-knap commented on #239
Honza, this problem occurs on the master branch, right?

[2013-08-16 07:31] tomas-knap commented on #230
Ok, leave it as it is in 0.3
In 0.4, adjust the code, so that user can use the path with/without the trailing "/". then close this issue

In release 0.3, if i am looking on the conf/config.properties template, there are two paths. So 0.3 requires both paths. But it is ok, it is then improved in 0.4

[2013-08-16 07:34] tomas-knap commented on #231
It seems to me that this problem occurs when I accidently put non-OSGi bundle to the folder target/dpu. As a result, no bundle, even the valid one, cannot be loaded.

[2013-08-16 07:35] tomas-knap commented on #229
Solved, two paths - target/dpu target/lib is ok in 0.3

[2013-08-16 07:35] #229 closed, assigned to skodapetr

[2013-08-16 08:05] tomas-knap commented on #202
When I click on setting menu item, the tab my account is preselected, but email accounts cannot be changed!

![screen shot 2013-08-16 at 10 04 33 am](https://f.cloud.github.com/assets/3014917/974124/b87b1f54-064a-11e3-9b75-f3a194c39279.png)

[2013-08-16 08:08] tomas-knap commented on #202
Save button missing for users tab

[2013-08-16 08:11] tomas-knap commented on #203
Please report me the progress on this

[2013-08-16 08:13] tomas-knap commented on #222
Report please the progress on this today

[2013-08-16 08:21] kukharm commented on #202
For what purposes need button save for users tab, what it will save?  This tab is only show the list of users in the system. In create user dialog there is save button.

[2013-08-16 08:31] tomas-knap commented on #234
Thanks, the manual rebuild of the intlib db structure worked

[2013-08-16 08:31] #234 closed, assigned to janvojt

[2013-08-16 08:34] tomas-knap opened #240 "Missing configuration for use statistical handler"
When I launch the fresh release 0.3 install with sample dbpedia pipeline and run the pipeline, the log shows:

![screen shot 2013-08-16 at 10 30 25 am](https://f.cloud.github.com/assets/3014917/974272/6afb045c-064e-11e3-9b7d-0a3db6a2d720.png)

Does that mean that the implementaiton of SPARQL Extractor does not explicitely set false to configuraiton option "use statistical handler"? If yes, correct

[2013-08-16 08:36] tomas-knap opened #241 "Associate button-onclick events with certain keys (e.g. ENTER)"

[2013-08-16 08:50] tomas-knap commented on #202
You are right, the save button is not needed on the user tab.

But please, when the user is leaving from one tab to another and he has done some changes, ask the user whether he would like to save the changes or discard via a simple dialog. If he says he would like to save, the changes are saved. If he says withdraw, the changes are forgotten, the original values are restored.

Such dialog must no

[2013-08-16 09:16] tomas-knap commented on #227
Jirka wrote in email:

#227 - Co udělat jako výstup XML soubor, kde by byl zaznamenám DPU, jména grafů a stavy o chybách. Tedy vlastně to, co je v tabulce rozšířené o názvy grafů....

Něco jako:

![screen shot 2013-08-16 at 11 18 54 am](https://f.cloud.github.com/assets/3014917/974449/e112ff2c-0654-11e3-987a-22c9ecd55c96.png)

Napiš mi, co a jak, resp. zda je to OK. Já k tomu udělám pak mockupy :-

[2013-08-16 09:16] tomesj commented on #208
Yes, of course. We are discussing it by email :-)

[2013-08-16 09:20] tomesj commented on #240
There are may be problems with null configuration or something like that. I try to find potencial problem and correct them, or contact responsible person :-) Then I test it, if this problem are solved.

[2013-08-16 09:25] tomas-knap commented on #227
Jirka, that would require that also other formats than RDF may be send along data unit. Since I have more use cases for this, we will need also other data units, probably just XML data unit as part of the project, rest will be future work.

But, why cannot you store the the data as RDF, e.g. based on your example:

http://.../reported_item1 xx:context http://graph1 .
http://.../reported_item1 xx:d

[2013-08-16 09:42] tomesj commented on #227
I thought, that report will be only create as output - if there is an idea to send it along data units, I prefer of cource RDF variant - there is no problem with compatibility. I prepare some variant of storing, but I don´t known what you do mean if you speak about methodology. Give me please more information about it :-)

I will add then all to confluence page.

[2013-08-16 10:08] kukharm commented on #202
Do I understand correctly:
If i create user and save it to the user table, then when i click to another tab should open confirmation window and if i won't confirm changes, created user will delete?
Or this confirmation window is only for My account and Schedule notification tabs?

[2013-08-16 10:49] tomas-knap commented on #202
Only for those tabs, which directly contain save button. if there is an extra dialog (like for users tab), than any verification is not needed, because user is forced to save the newly created/adjusted users in order to close the dialog with user creation/adjustment.

[2013-08-16 11:44] skodapetr commented on #240
To my knowledge: DB dump does not contains option for UseStaticalHandler .. which mean that in configuration this value is null .. I have added this message to prevent DPU from crash ..

Actually the wrong DB dump is I believe in release 0.4 too .. but I have removed the message

To fix: Repair the DB dump (Honza) best for release 0.3 and 0.4

Why the warning appears after saving is good question.

[2013-08-16 11:59] tomesj commented on #240
I think, that old pipeline had no option for UseStatisticalHandler in DB (how Peter wrote) - it cause problems, but I think in actuall version release 0.3 is it solved yet (I check DB one more time for sure). I tested dialog manualy and boolean value is in dialog always set (never null value). I will delete warnings message (case null pointer) - if there is no problem in DB its all what to can cha

[2013-08-16 12:43] tomesj commented on #240
I added it (remove warning commit) to release 0.3 (in master is other implementation and using) - I tested bouth extractors - SPARQL and File (creating and run pipeline) and it there was no problem. I checked DB.INTLIB.DPU_INSTANCE and there is all without problem :-)

[2013-08-16 12:43] #240 closed, assigned to tomesj

[2013-08-16 12:52] tomesj commented on #195
Problem is, that the Rio implementation of openRDF create and write all namespace automatically to output file (there is no possible how to set it manually, change it or something like that).

OpenRDF contains more implementation for writing RDF data, but only Rio support no problem using for large data collection (from big files, etc...).  We can actually use nothing else implementation than Rio

[2013-08-16 12:56] tomesj commented on #208
RDFDataUnit implementation complete - Petr replace methods extract/transform/load in DPUs with that. I check right using - via email discussion.

[2013-08-16 13:08] kukharm commented on #202
I have a problem with this confirmation. Under section Settings is ok, when i go from one tab to another i used button.ClickListener and on dependence of  my account or scheduler notification layouts state i show confirmation window.
Problem is when i click on the main menu. I didn't find click listener for menu bar.And i don't know what type of listener i should use in case when i go from setting

[2013-08-16 14:54] #235 closed, assigned to skodapetr

[2013-08-16 14:54] #239 closed, assigned to skodapetr

[2013-08-16 14:54] #230 closed, assigned to skodapetr

[2013-08-16 14:59] skodapetr commented on #231
Can you be more specific? Just place a single non-java file into target/dpu ?
This should not cause the problem as bundles from target/dpu are loaded on demand.

I will add more concrete exception.

[2013-08-16 17:53] kukharm commented on #203
"Email notifications to" was removed from "Scheduller notifications" tab  within a solution part of #202.

"When adding new email as you can see below, there is a warning that email must be filled. When I fill email and move focus to the first original email, the warning is still there. "
in your case warning was there because of the wrong e-mail format of "a@". If you move the mouse to exclamatio

[2013-08-16 18:43] kukharm commented on #222
Uzivatele lze vytvorit a ulozit, pak smazat.
Nefunguje zatim automaticke generovani hesla a sloupec total pipeline (ale to napravim)

[code]

[2013-08-16 20:33] skodapetr commented on #233
From email conversation: ...stačilo umístit konfigurační soubor do adresáře /usr/share/tomcat7/.intlib
Podle původních instrukcí jsme jej měli umístit pouze do $HOME/.intlib, ale u mě ho hledá i v adresáři tomcatu.
Už jsem tam ten soubor měl z dřívějška (podoba konf. souboru za tu dobu prošla změnami), ale zapomněl jsem na to a zůstala tam stará verze - proto ta divná hláška.

Maybe we should upda

[2013-08-18 22:26] #221 closed, assigned to kukharm

[2013-08-19 07:32] tomas-knap opened #242 "OSGi dependencies"
Can we use transitive=true in bundle manifest for building dependency tree?

Motivated by the recent problems on master branch

[2013-08-19 07:47] tomas-knap opened #243 "Debugged scheduled pipeline in execution monitor"
When debugged pipeline is scheduled, then there is button debug data in exec monitor instead of stop button. Stop button is correctly used when running pipeline normally

![screen shot 2013-08-19 at 9 45 23 am](https://f.cloud.github.com/assets/3014917/984601/88655798-08a3-11e3-8692-94633305853a.png)

[2013-08-19 08:46] tomas-knap commented on #195
Jirka,

could you please send me link to the documentation of that Rio impl you are describing? Some user guide would be good.

could you please also send me link to all these available approaches, and mark for each where the problem when working with big data is.

[2013-08-19 09:03] tomas-knap commented on #208
Jirka, some adjustments needed before closing:
- misto 5ti metod extract, bych tam dal 2 skupiny metod - addRDFFromFile, addRDFFromSparglEndpoint, at je to jasnejsi
- misto metody add dat metodu "addRDFTriple"
- public void extract(File file) -> je treba v komentu popsat v jakem formatu musi byt RDF soubor - RDF/XML?
- public void extract(File file, RDFFormat format, String baseURI) - co je to to

[2013-08-19 09:10] tomesj commented on #195
Sesame book of using Rio:
http://www.openrdf.org/doc/sesame2/2.7.0-beta1/users/ch09.html

Java doc of Rio:
http://www.openrdf.org/doc/sesame2/api/org/openrdf/rio/package-summary.html

For writing in file we use concrete imlementation of interface RDFWriter
one as example - write as TTL (turtle):TurtleWriter
http://www.openrdf.org/doc/sesame2/api/org/openrdf/rio/turtle/TurtleWriter.html

Others way

[2013-08-19 09:15] tomas-knap commented on #219
The problem still occurs based on Jakub's info, could you please check that? Do you need more information where the problem is?

[2013-08-19 09:18] tomas-knap commented on #211
Test local libraries and working dir for dpu without respect of particular execution run

[2013-08-19 09:24] tomas-knap commented on #202
Ok, i will close this issue and create new for the switching between tab in settings and main menu item

[2013-08-19 09:24] #202 closed, assigned to kukharm

[2013-08-19 09:28] tomas-knap opened #244 "Settings container - asking user to confirm changes when switching to different menu item"
Required functionality:
####

But please, when the user is leaving from one tab to another and he has done some changes, ask the user whether he would like to save the changes or discard via a simple dialog. If he says he would like to save, the changes are saved. If he says withdraw, the changes are forgotten, the original values are restored.

Such dialog must not destroy the application flow, s

[2013-08-19 09:33] tomas-knap commented on #219
Jakub is testing once again

[2013-08-19 10:19] jakubklimek opened #245 "Configuration issue with lib"
When trying to launch backend version (master) d4c5426b6366d3117019e1921dedd67d1727c36a where module.lib is no longer in config, I get the following exception (when running frontend, I get a similar exception):

2013-08-19 12:05:46,224 [main] ERROR c.c.x.i.c.app.module.ModuleFacade - installDirectory failed
cz.cuni.xrg.intlib.commons.app.module.LibsLoadFailedException: Invalid library path: C:\Use

[2013-08-19 10:30] tomas-knap opened #246 "DPU template - user should be warned when he did some changes and leaves the given tab/selected dpu template"
In a similar way as #244. When you come back end of August

[2013-08-19 10:36] tomas-knap commented on #203
Maria, thanks.

Regarding the errors presented to users, the following is not acceptable:

![screen shot 2013-08-19 at 12 32 43 pm](https://f.cloud.github.com/assets/3014917/985370/c596e886-08ba-11e3-94a6-5c5e57add9fa.png)

Instead of that, something like:
-  Email "ab.cz" has wrong format.

Further, if user create new field for new email but leaves it empty, when saving, empty field is automatica

[2013-08-19 10:45] #245 closed, assigned to tomas-knap

[2013-08-19 10:49] jakubklimek opened #247 "DPU upload vaadin error?"
When saving DPU (create DPU template), it uploads, but when clicking Save, a red exclamation mark appears with following exception:

com.vaadin.server.ServerRpcManager$RpcInvocationException: Unable to invoke method click in com.vaadin.shared.ui.button.ButtonServerRpc
 at com.vaadin.server.ServerRpcManager.applyInvocation(ServerRpcManager.java:170)
 at com.vaadin.server.ServerRpcManager.applyInvoc

[2013-08-19 13:45] tomas-knap commented on #222
Great, looks nice.

Comments:
- when changing details of existing user, do not show any value for the password (the problem is that it shows useless hash of the password). If admin would like to change the password of certain user, he may simply start writing new one.
- when creating new user, please put there also field for password. if this password is left empty, random password is generated (c

[2013-08-19 13:47] tomas-knap commented on #222
You may leave the functionality of showing total pipelines to September, I will create for that special issue

[2013-08-19 13:47] tomas-knap opened #248 "Showing total number of pipelines of one user in user management tab of settings"
Currenly, 0 is shown

[2013-08-19 14:12] tomas-knap opened #249 "DPU template - button "Reload JAR file""
Motivation: Possibility to reload jar file for the existing DPU template

Solution: Add button "replace" next to the JAR file name. When clicking on that button, it behaves like clicking on the "choose file" in create DPU template - user may select the updated version of the JAR and, as a result, such version is uploaded. Status of that upload is shown

![screen shot 2013-08-19 at 4 09 42 pm](http

[2013-08-19 14:21] tomas-knap commented on #10
Bohuslav, it is fine as it is - just one line of description, if too long, it is cut off. Just one note, could you please add three dots at the end of too long description? Then we can close this

[2013-08-19 14:24] #219 closed, assigned to jakubklimek

[2013-08-19 14:28] tomas-knap commented on #247
This error is caused by wrong outdated implementation of the DPU PSP Extractor, get the latest version of PSP DPU from git

[2013-08-19 14:31] tomas-knap commented on #233
Ok, yes, Petre, does it write to the application log which config.properties is used? It also happened to me that I have forgotten old config.properties on the right location and updated wrong location (on Linux, running under different user, updating my own homedir)

[2013-08-19 14:33] tomas-knap commented on #247
Problem was solved, but such exception should be handled properly. Petre, could you please add that to Maria's dialog for DPU upload?

[2013-08-19 14:36] tomas-knap commented on #231
Thanks, otherwise it is working now

[2013-08-19 14:36] #231 closed, assigned to skodapetr

[2013-08-19 14:40] tomas-knap commented on #115
Petre, can we close this issue?

[2013-08-19 14:50] kukharm commented on #222
point 1.  It need to discuss with Jan,  he prepared method UserFacade.createUser(), that hash password. This function used in new user creation. But i don't know how to dehash it, that's why when changing details of existing user it shows hash of the password.  If administrator changing the password used user.setPassword() method for saving record that don't hash password and then the value will b

[2013-08-19 15:05] tomas-knap commented on #222
Maria,

ad point 1) You do not need to dehash it, it is not possible for security reasons. I would suggest the following solution and then we can close this issue. When admin click on the button "change details" of user, all the fields will be prefilled, the password field will be filled with couple of stars (typical behaviour for password protected fields). If admin does not enter the password fi

[2013-08-19 15:09] tomas-knap opened #250 "Adjust HTTP URIs created in virtuoso as the pipeline is executed"
Currently, URI is of the form: http://ex3_dpu4_du0

Prefix is needed: http://linked.opendata.cz/resource/....

[2013-08-19 15:25] kukharm commented on #222
"If admin enters the password field"  it means that administrator put focus on this field?

[2013-08-19 15:41] tomas-knap commented on #222
yes. If admin puts focus by mistake, he can always cancel the change details dialog.

[2013-08-19 15:53] tomas-knap commented on #236
Prio increased because I have to also deploy latest version to the server and it looks really ugly

[2013-08-19 15:59] skodapetr commented on #250
Should the prefix be adjustable by user (in configuration file) ?

[2013-08-19 16:03] tomas-knap opened #251 "Better error reporting in GUI"
When certain problem appears, e.g. DPU impl does not properly implement setConfiguration in DPUConfigDialog (or just throws exception there), the exception below occurs. Really verbose and looks confusing. Could you please catch these exceptions and show to the user the original source of the problem, e.g. in this case the red dialog will be shown with the message e.g. Method for storing configura

[2013-08-19 16:07] tomas-knap commented on #250
No, if the user (admin) changes the default internal named graph prefix when certain named graphs are alraedy in database, it will bring problems. So we can fix the prefix, it is our internal stuff more or less.

[2013-08-19 16:15] skodapetr commented on #250
Ok ,in that case .. I believe it's just minor change in Jirka's code.

[2013-08-19 16:32] jakubklimek opened #252 "Frontend out of memory"
After a few (20?) cycles of Stop backend, mvn install DPU, replace DPU JAR, run backend, refresh frontend the following error occured in the frontend:

HTTP Status 500 - com.vaadin.server.ServiceException: java.lang.OutOfMemoryError: PermGen space

type Exception report

message com.vaadin.server.ServiceException: java.lang.OutOfMemoryError: PermGen space

description The server encountered an int