[2014-01-19 15:49] tomas-knap commented on #1078
@janvojt Maybe associates with your yesterday's commits

[2014-01-19 15:51] tomas-knap commented on #1078
Happens only for certain record - XSLT on ODCS-Test

[2014-01-19 15:51] tomas-knap commented on #1078
Please look on that, cannot replace XSLT easily thanks to that

[2014-01-19 15:55] tomas-knap commented on #1068
Just please describe what does it mean "because of sorting and filtering". And leave the user on the page where he copied the pipeline, so that we do not spend too much time on that

[2014-01-19 16:00] bogo777 commented on #1025
The difference between mapping dialog(where it works) and logs(where it doesn't) is that for logs the PagedTable from addon is used and for mapping dialog standard table from Vaadin is used.

I can try using newer version of addon, but I don't know if it will help.

[2014-01-19 16:16] bogo777 commented on #1045
Tried to reproduce on local and on test instance by running multiple different pipelines simultaneously, but the duration was updated correctly...

[2014-01-19 16:19] bogo777 commented on #1078
Should be fixed by 647b908d6f5c896b33f1f976f0311e4f17d37168 . Please update and retry.

[2014-01-19 16:37] bogo777 commented on #1068
Copied pipeline gets id from sequence, so for default sort, it would appear on the last page. But if the user chose different sort, it can appear on other page.

We create the new pipeline through DAO layer and show it in table by refreshing the container, so we don't have any extra info about this particular pipeline.

[2014-01-19 17:22] #1078 closed, assigned to bogo777

[2014-01-19 17:23] tomas-knap opened #1079 "Labels for edges between DPUs - space missing"
Labels for edges between DPUs - space missing:

![screen shot 2014-01-19 at 6 21 59 pm](https://f.cloud.github.com/assets/3014917/1950006/552c1ea8-812e-11e3-9fa2-d50783466b82.png)

Solution: I would suggest to have one mapping per line, no ";"

[2014-01-19 18:53] tomas-knap commented on #1025
Ok, so there is problem with the addon?

Please try the latest version of the addon, if that does not help, we will postpone this issue.

[2014-01-19 20:03] tomesj commented on #1070
It´s supported using more graphs at once in SPARQL extractor for getting RDF data from endpoint.

[2014-01-19 20:45] #917 closed, assigned to tomesj

[2014-01-19 20:49] tomesj commented on #640
No actuall yet - reopen again if case of need

[2014-01-19 20:49] #640 closed, assigned to tomesj

[2014-01-20 07:34] tomas-knap commented on #1069
Jirko, jeste te poprosim, uprav to tak, aby se defaultni hondoty (tj. HTTP POST URL encoded s defaultnimi parametry) doplnili automaticky, pokud chybi. Tedy deserializuje se konfigurace z DB, zjisti se, ze nektere hodnoty jsou null -> automaticky se doplni defaultni hodnoty. Tedy abych nemusel rucne upravovat cca 30-40 loaderu, ktere mam. Zeptej se kdyztak Petra, on to takto upravoval kdyz jsi pri

[2014-01-20 07:36] tomas-knap commented on #640
Fuseki cannot be used via openRDF. This should be check in the future

[2014-01-20 07:37] tomas-knap commented on #1073
Jeste by to melo logovat chyby zjistene pri validaci rovnou do long message u published event.

[2014-01-20 07:38] #1056 closed, assigned to tomesj

[2014-01-20 09:23] tomas-knap commented on #1041
See pipeline exec #245 on ODCS-Test, problem in preexecutor, probably caused by previous DPU, which already stores something to file data unit - called add(x, true) on file data unit

[2014-01-20 09:27] tomas-knap opened #1080 "Problem loading certain data from nsoud.cz"
Virtuoso 37000 Error SP031: SPARQL compiler: Blank node '_:node18enf4v77x1' is not allowed in a constant clause
in
sparql_to_sql_text:(BIF),
<Top Level>

SPARQL query:
define sql:big-data-const 0 define input:default-graph-uri http://linked.opendata.cz/resource/dataset/legislation/nsoud.cz/temp INSERT DATA {http://linked.opendata.cz/resource/legislation/cz/decision/2012/32-Cdo-534-2012/expression/

[2014-01-20 09:31] tomas-knap commented on #1041
throws also when asLink is false, thus add(x,false)

[2014-01-20 10:32] tomesj commented on #1069
Soubor data.sql už jsem upravil, na to nastavení/doplnění defaultních hodnot se podívám za chvíli :-)

[2014-01-20 10:34] tomesj commented on #1073
Toto je ale v kódu již obsaženo (tedy chyby se logují do long message)

Viz RDFLoader - řádek 90
context.sendMessage(MessageType.INFO, message, dataValidator.getErrorMessage());

[2014-01-20 10:53] tomesj commented on #1069
Tak jsem to tam přidal - jen u SPARQL extractoru je 1 problém, protože seznam default grafů, který byl ve staré konfiguraci se v nové nevyskytuje - respektve je rovnou součástí instance ExtractorEndpointParams.

Jde o to, že když je tato instance nastavena na null (v původní konfiguraci nebyla), tak vytvořím novou instanci ExtractorEndpointParams s defaultním nastavením parametrů (ta nemá nastaven

[2014-01-20 12:19] tomas-knap commented on #1073
ok, diky

[2014-01-20 12:19] #1073 closed, assigned to tomesj

[2014-01-20 13:52] tomas-knap commented on #1069
viz ten mail co jsem psal
Mel by resit i ten problem s Extractorem

[2014-01-20 14:58] tomesj commented on #1069
Je to hotové :-)

[2014-01-20 16:13] jakubklimek opened #1081 "SPARQL Loader/extractor: Put number of loaded/extracted triples into messages"
![image](https://f.cloud.github.com/assets/718827/1955792/b52524d4-81ed-11e3-982f-739623c046d1.png)
Change to:
"Loaded <XXX> triples to <endpoint address>"
and similarly for extractor.

[2014-01-20 16:22] tomas-knap opened #1082 "Support for FileDataUnit in the frontend"
Petr dodelal file data unit, tedy je mozne ukladat soubory jako vystup z dpu. S tim souvisi drobne upravy v gui:

1) V Browse/Query, kdyz nekdo vybere jinou nez RDF DataUnit (tedy aktualne FileDataUnit): Tak to zobrazi misto:

![screen shot 2014-01-20 at 5 16 20 pm](https://f.cloud.github.com/assets/3014917/1955830/40e61bf4-81ee-11e3-885c-8f0b5064ee0e.png)

Proste jen:
Browser not available.

Tenh

[2014-01-20 22:28] janvojt commented on #1067
This happens to me when I run multiple tomcat instances on the same host at different ports. It is because JSESSION cookie is not port-specific. Probably not, but was this the case?

Otherwise I cannot reproduce. I tried using application after 28 minutes of inactivity and everything worked fine. Please attach log if it happens again, maybe we will find something useful in there.

[2014-01-20 22:46] janvojt commented on #1029
DPU description should be unlimited, see https://github.com/mff-uk/ODCS/blob/3c18694e60af2d10563cfae4ebd570e1b9470180/db/virtuoso/rdbms/schema.sql#L39.

[2014-01-21 01:47] kukharm commented on #787
I changed the information in the doc

[2014-01-21 01:47] #787 closed, assigned to kukharm

[2014-01-21 01:49] kukharm commented on #943
was closed by Petr

[2014-01-21 01:49] #943 closed, assigned to kukharm

[2014-01-21 07:30] tomas-knap commented on #1069
Diky!

[2014-01-21 08:51] tomas-knap commented on #1029
Aha, tak je mozne, ze mam starou verzi db.

[2014-01-21 08:51] #1029 closed, assigned to janvojt

[2014-01-21 08:53] tomas-knap commented on #1067
Could be, there are more instances running - odcs and odcs-test

Any workaround? Is it possible to set port to that cookie? It is strage they did not think about that

[2014-01-21 09:06] tomas-knap opened #1083 "Test Virtuoso 7 on ODCS"
v7.xrg.cz 1121 8901
v7.xrg.cz 1122 8902

[2014-01-21 11:45] tomas-knap commented on #1036
Treba probrat pri schuzce

[2014-01-21 11:58] tomas-knap commented on #1080
Solved. not generating blank nodes

[2014-01-21 11:58] #1080 closed, assigned to tomas-knap

[2014-01-21 11:59] tomas-knap commented on #1075
I would suggest to add at least comment to the code/documentation of DPUs

[2014-01-21 20:11] #1079 closed, assigned to bogo777

[2014-01-21 20:18] janvojt commented on #1067
I looked at what the properties of cookies saved from odcs.xrg.cz are. It uses root path ("/") instead of servlet specific path. This is not the case with tomcat on my machine, which saves the cookie path correctly for each servlet instance (default behaviour). Therefore it is an issue with your Tomcat configuration.

Try looking for settings "emptySessionPath" and/or "sessionCookiePath". I am not

[2014-01-21 20:20] janvojt commented on #1040
May be related to #1067.

[2014-01-21 21:34] bogo777 commented on #1082
1) Should be done, do we have some DPU with FileDataUnit input/output to test it?
2) I need some way to get the input/output type for data unit, ideally from DataUnitDescription. @skodape Can you provide this or guide me how to get it?

[2014-01-21 21:37] bogo777 commented on #1025
Update to latest version didn't help.

[2014-01-21 21:38] bogo777 commented on #1012
I think that was the idea, but there was some discussion and I don't know if this was the winning idea.

[2014-01-21 21:43] skodapetr commented on #1082
On DataUnitDescription is method getType .. it's string but basically it's just the name of the class serialized into the string. But has never been tested as has never been used. But I hope it will do the job.

[2014-01-22 06:35] jakubklimek opened #1084 "Concurrent load to the same graph/temp graph"
When loading concurrently (from 2 pipelines) into the same graph, the same temp graph is "created" ("/temp"). So my guess is that when one of the two pipelines is done loading and moves this graph, it moves it including partial data from the other pipeline and creates chaos.

[2014-01-22 06:38] jakubklimek opened #1085 "Cancelling loader should clear the temp graph?"
When I cancel a SPARQL loader while it is uploading, it leaves its temp graph as it is. This creates chaos. Shouldn't it be cleared? Not to mention that next time other data is added to this "temp" graph and I am not sure if it gets cleared before loading. Temp graphs should have a GUID in their URIs to avoid conflicts.

[2014-01-22 06:38] jakubklimek opened #1086 "Temp graphs should have GUIDs in URIs"
See https://github.com/mff-uk/ODCS/issues/1085

[2014-01-22 06:40] jakubklimek opened #1087 "SPARQL Extractor: When target Triplestore crashes, it gets stuck"
SPARQL Extractor: When target Triplestore crashes, it gets stuck

See execution 391

[2014-01-22 08:10] tomas-knap commented on #1067
Honzo, neposlal bys mi prosim tvoje nastaveni tomcatu - tvoje konfiguraky?

On Tue, Jan 21, 2014 at 9:18 PM, Jan Vojt notifications@github.com wrote:

[2014-01-22 08:13] tomas-knap commented on #1012
Well, the best would be to show "Unexpected error occurs. Please reload the application". And log as error the original cause. The reason is that if we only hide, users may still realize some strange behaviour and may be confused. Is that possible?

[2014-01-22 08:15] tomas-knap commented on #1082
on ODCS-test, there is pipeline exec 247, uriGenerator has fileOutput for example.

[2014-01-22 08:15] tomas-knap commented on #1025
ok, we will postpone

[2014-01-22 08:17] tomas-knap commented on #1085
Yes, if the loading is cancelled, temp graph must be cleared.

[2014-01-22 08:22] tomas-knap commented on #1085
When loading data to target SPARQL endpoint outside of ODCS, the name for the temp graph should be based on the current execution, so it should be specific for the given execution. What is the current situation?

[2014-01-22 08:23] tomas-knap commented on #1086
Duplicates #1085

[2014-01-22 08:23] #1086 closed, assigned to tomas-knap

[2014-01-22 08:24] tomas-knap commented on #1084
How is that possible? I thought that the temp graph's name is based on the current execution and dpu instance id?

[2014-01-22 09:18] janvojt commented on #1067
Ja mam len default. Ty potrebujes ine, pretoze chces aby ti app bezala
priamo pod domenou odcs.xrg.cz. Ja mam odcs.xrg.cz/frontend apod, kazdy
servlet ma svoju cestu.

Predpokladam ze to nastavoval Jakub Klimek, tak sa ho skus spytat ci nevie
ako to vyriesit. Ale aj tak mi pride divne, ze tam mas jeden servlet pod
"/" a druhy pod "/odcs-test". Takto sa to totiz akoby "prekryva". Ak je
servlet pod

[2014-01-22 11:00] tomesj commented on #1084
Tomas has right. Graph name is based on execution and dpu instance - it is unique. When I create temp graph as add "/temp" suffix to graph name, it´s still unique temp graph name :-)

[2014-01-22 11:26] tomesj commented on #1085
Problem was, that we loaded in case of SKIP_DATA_PART data direct in target graph (without using temp graph).

I changed it now - In every case we use temp graph at first and after successfuly loading, we move data to target graph. If DPU is cancelled, temp graph is clear (same as after data moving).

[2014-01-22 14:15] jakubklimek commented on #1084
In "agendy" pipeline the loader created "http://...../agendy/temp" :-)
On Jan 22, 2014 12:01 PM, "Jiří Tomeš" notifications@github.com wrote:

[2014-01-22 14:50] tomas-knap commented on #1069
Ulozim si named graph v nastaveni SPARQL extraktoru. Otevru znovu conf a neni nastaven.

[2014-01-22 14:51] tomas-knap commented on #1069
Podobne kdyz si nastavim default graph, ulozim, otevru, tak tam mam furt ten puvodni

[2014-01-22 14:55] tomas-knap commented on #1069
3) Oteveru si SPARQL loader a mam tam na SPARQL params zalozce:

![screen shot 2014-01-22 at 3 53 30 pm](https://f.cloud.github.com/assets/3014917/1974832/151fedf0-8375-11e3-9d21-d29be38cb5da.png)

Jirko, testoval sis ty tvoje nove konfigurace pouzit?

[2014-01-22 14:56] tomas-knap commented on #1069
Tedy myslim pouzit tak jako kazdy jiny uzivatel, tj. pres gui?

[2014-01-22 15:00] tomas-knap commented on #1069
Tedy proklikej to. Tos mel udelat jeste predtim nez pises "hotovo :-)"

[2014-01-22 15:00] tomas-knap commented on #1069
4) Koukam, ze nastaveni default graph param se taky spravne neulozi

[2014-01-22 15:01] #1081 closed, assigned to tomesj

[2014-01-22 15:05] tomas-knap opened #1088 "Copy pipelines - strange names"
When I copy two times the first pipeline in the table below, I got:

![screen shot 2014-01-22 at 4 04 20 pm](https://f.cloud.github.com/assets/3014917/1974930/946c3e0a-8376-11e3-9390-fcdc58f91e41.png)

[2014-01-22 15:05] #1068 closed, assigned to bogo777

[2014-01-22 15:06] #1066 closed, assigned to skodapetr

[2014-01-22 15:10] tomas-knap commented on #907
That does not work for me, see ODCS-test. I logged as a "user" and still can see DPU instances and all pipelines using it. Is that because the DPU template is public? So basically I can see DPU instances for all public DPU templates?

[2014-01-22 15:16] tomas-knap opened #1089 "Char Encoding of the log detail"
See the question marks below, is the problem in the data itself or is the data incorectly shown in the log detail?

![screen shot 2014-01-22 at 4 15 14 pm](https://f.cloud.github.com/assets/3014917/2002187/e5890edc-85e5-11e3-8015-c2c1d99ed3c6.png)
![Uploading Screen Shot 2014-01-22 at 4.15.14 PM.png . . .]()

[2014-01-22 15:35] tomas-knap commented on #1069
To posledni pak vede k :
URL endpoint: http://odcs.xrg.cz:8900/sparql-auth POST content: update=INSERT+%7B%3Chttp%3A%2F%2Fdbpedia.org%2Fresource%2FPrague%3E+%3Chttp%3A%2F%2Fwww.w3.org%2F2002%2F07%2Fowl%23sameAs%3E+%3Chttp%3A%2F%2Fan.dbpedia.org%2Fresource%2FPraga%3E+.%7D+&update=http%3A%2F%2Ftest%2F2014-01-22%2F1%2Ftemp&format=application%2Frdf%2Bxml

Tedy ze se v tom URI dvakrat objevi update par

[2014-01-22 15:51] tomesj commented on #1069
Aha, to je divné, protože jsem to zkoušel u sebe otevřít a bylo to vše OK. Podívám se na to tedy speciálně ještě jednou :-)

[2014-01-22 16:30] janvojt commented on #907
No, it is because the pipelines are public.

[2014-01-22 17:07] tomesj commented on #1069
Tak měl jsi pravdu, tak se tímto moc omlouvám, pokud jsem způsobil zbytečné komplikace. Příště si budu dávat větší pozor :-)
- ten chybný parametr pro default-graph byl pouze překlep, kterého jsem si prostě nevšimnul.

Zkoušel jsem to ještě teď proklikat a mělo by to být OK (včetně ukládání grafů) :-)

[2014-01-22 17:13] janvojt commented on #1077
No, you can reproduce on odcs.xrg.cz testing instance:
1. Log in as "user".
2. Choose DPU Templates from menu.
3. Click any DPU Template.

Expected result: Button export is enabled.
Actual result: Button export is disabled.

Then if you click a different DPU Template and back again, button export is enabled.

[2014-01-22 17:47] tomesj commented on #1084
Jakub, you right, because named graph where data are stored are unique for our environment, but not for target endpoint. So I changed logic of temp graph creation.

Template for temp graph
&lt;graph_name&gt;/&lt;number&gt;/temp,

where
&lt;graph_name&gt; URI of used graph name for repository, where data are stored before loading (this is unique)
&lt;number&gt; if is defined more target graphs, dif

[2014-01-23 02:27] kukharm opened #1090 "misprints in Extractor from SPARQL"
"Time in miliseconds"
"no reperat" - in tooltip

[2014-01-23 04:06] kukharm commented on #1037
done

[2014-01-23 04:06] #1037 closed, assigned to kukharm

[2014-01-23 07:27] ghost opened #1091 "Inconsistency in DPUTemplateRecord with parent?"
Something stinks here (DPUTemplateRecord:179):

[code]

[2014-01-23 08:08] skodapetr commented on #1091
@mkl-eea-sk  Yes, at least the comments are totally switched .. or is there something else? Like the whole approach to this "tree-solution"?

I suggest fix this in the master branch as it will be probably merged into comsode in few days - week?

[2014-01-23 08:40] ghost commented on #1091
Well, I guess also code is switched, isn't it? When parent is being set to null, wouldn't be desirable to inherit the properties from the old parent and save them? Instead on nulling them. It's also in clash with the copy constructor:

[code]

where the properties (except Type) are copied if and only if the parent is set to null. Perfect oposite.

Someone who wrote this should take a look on it. I

[2014-01-23 09:18] tomas-knap opened #1092 "DPU templates - shoudl take the whole space"
Current:

![screen shot 2014-01-23 at 10 13 36 am](https://f.cloud.github.com/assets/3014917/1983135/b497c0b2-840e-11e3-917f-e63e049dd11b.png)

Please adjust it so that the whole space of the screen is covered by the DPU tree + template detail.

Motivation: See configuration of XSLT DPU, which would benefit from more space. No reason not to use the whole screen for conf detail

[2014-01-23 09:25] tomas-knap opened #1093 "Changes saved even though user decided to discard them"
To reproduce:
- There is DPU template
- DPU developer add one field to the DPUConfig, with no default value.
- DPU developer replaces the template, switches to DPU template configuration. As a result, because no default value is specified, "null" is shown.
- DPU developer switches to a different DPU template, selecting "discard changes"
- DPU developer replaces the template with a new one (where t

[2014-01-23 11:25] tomas-knap opened #1094 "Data.sql - descriptions for core DPUs are "--null--""
Adjust, so that descriptions makes sense.

@skodape  Is this a consequence of the tries with NVARCHAR?

[2014-01-23 11:30] skodapetr commented on #1094
Yes probably it's. As the descriptions was empty or null .. and Virtuoso JDBC does not support null for NVARCHAR.nor empty for String as NVARCHAR

[2014-01-23 11:33] tomas-knap commented on #1094
So, Jirka,  please put some reasonable description there

[2014-01-23 12:57] tomas-knap opened #1095 "Replay the transaction of parser.parser() for SPARQL extra/RDF file extractor"
Try to replay the transaction of parser.parser() for SPARQL extra/RDF file extractor in case of proper DPU settings (repeat X times,...)

[2014-01-23 13:11] tomas-knap opened #1096 "SPARQL transformer without query"
To reproduce:
1) Add SPARQL transformer to dbpedia pipeline between extractor and loader. Do not open the transformer. Run the pipeline.

Problem, SPARQL transformer did not have query specified but still DPU did not report any error!!

![screen shot 2014-01-23 at 2 08 22 pm](https://f.cloud.github.com/assets/3014917/1984629/b9ac6ece-842f-11e3-85ce-698c89045319.png)

Solution: Error must be report

[2014-01-23 13:13] tomas-knap opened #1097 "Problem when adjusting pipeline on the canvas"
I copied dbpedia pipeline, added transformer. Debug the pipeline till loader. Debug the pipeline till SPARQL transformer -> Problem occur (no input data unit)

Possible cause = new edge between extractor and transformer not stored correctly

Was not able to reproduce for the second time.

Prepare a test for that

[2014-01-23 13:22] tomas-knap opened #1098 "Logs downloaded should contain all information available for the log records"
When downloading a log, it should contain also information depicted in the log detail (stack trace).

Bohuslav please forward, if not created by you.

[2014-01-23 15:35] kukharm opened #1099 "upload status window problem"
I try to upload some bigger .jar file to DPU templates creation dialog and status window occurs. In DPU templates it looks ok, but in Pipeline detail section there some problems with status window.

In DPU Templates
![upload1](https://f.cloud.github.com/assets/3471169/1985802/e7f5a62e-8443-11e3-8888-a56d6172fbe7.png)

In Pipeline Detail
![upload2](https://f.cloud.github.com/assets/3471169/1985806/

[2014-01-23 16:09] kukharm opened #1100 "Unsaved changes in DPU templates when they should not be shown"
Some of the DPU templates in DPU templates section behave as if they have changed. After their switching confirmation dialog appears, but there was no changes. The names of these DPUs: [INTLIB] Unzipper, RDF Data Validator, [QA] Completeness, the childs (3-level) of SPARQL Loader.
The similar problem was here https://github.com/mff-uk/ODCS/issues/609

[2014-01-23 16:39] tomas-knap commented on #1092
Another motivation:

![screen shot 2014-01-23 at 5 37 54 pm](https://f.cloud.github.com/assets/3014917/1986503/f03a342c-844c-11e3-873d-def5f2f7c34a.png)

[2014-01-23 16:41] tomas-knap commented on #990
outdated with new settings for spraql extractor

[2014-01-23 16:41] #990 closed, assigned to tomas-knap

[2014-01-23 16:58] tomas-knap opened #1101 "NPE - filter.Compare.equals()"
When debugging a pipeline on odcs test, I got:

![screen shot 2014-01-23 at 5 56 09 pm](https://f.cloud.github.com/assets/3014917/1986690/573bf870-844f-11e3-9b14-4fc690f4993d.png)

2014-01-23 17:56:36,237 [http-bio-8080-exec-740] TRACE c.c.m.x.odcs.frontend.gui.components.DebuggingView - Tables refresh start
2014-01-23 17:56:36,242 [http-bio-8080-exec-740] ERROR cz.cuni.mff.xrg.odcs.frontend.AppEn

[2014-01-23 16:59] tomas-knap commented on #288
Still relevant?

[2014-01-23 17:08] tomas-knap opened #1102 "Silk - suport also Silk linker as a transformer with inputs"
1) store incoming data to file
2) adjust data sources (user should be able to specify which datasource is which input data unit

[2014-01-23 18:44] #1094 closed, assigned to tomesj

[2014-01-24 08:44] tomas-knap opened #1103 "Fitting the screen to lowe resolution monitors/projectors"
Pipeline canvase: when the resolution is low, I have to move the whole screen to get to the bottom of the DPU tree.  When the resolution is enough, I can only scroll the DPU tree if needed to get to lower parts of the tree.

![screen shot 2014-01-24 at 9 39 59 am](https://f.cloud.github.com/assets/3014917/1993113/3e19fa02-84d3-11e3-9579-2b60de7b04c4.png)

Could we lower the minimum height of the s

[2014-01-24 08:54] tomas-knap opened #1104 "Violating unique index DB_ODCS_PPL_GRAPH_UNQC_pipeline_id on table DB.ODCS.PPL_GRAPH."
on ODCS:

I copied dbpedia pipeline, added SPARL transfromer between extractor and loader with the query "construct {?s ?p ?o} where {?s ?p ?o} limit 5". I saved the pipeline. Debug to last DPU. Then I modified SPARQL extractor, saved and:

![screen shot 2014-01-24 at 9 48 54 am](https://f.cloud.github.com/assets/3014917/1993207/bbf1a262-84d4-11e3-9895-965d6018f153.png)

[code]

[2014-01-24 09:03] jakubklimek opened #1105 "Missing com.vaadin.data"
![image](https://f.cloud.github.com/assets/718827/1993287/c9f04c90-84d6-11e3-88c6-2d0ae1edff99.png)

When replacing RUIAN dpu (no additional/new dependencies)

[2014-01-24 09:06] tomas-knap commented on #1105
That also happens to me yesterday on master branch, when trying to use master branch on localhost.

in the log:

2014-01-24 10:02:24,923 [http-bio-8080-exec-756] WARN  c.c.m.x.o.commons.app.module.DPUModuleManipulator - Failed to load bunle during replace.
cz.cuni.mff.xrg.odcs.commons.app.module.ModuleException: org.osgi.framework.BundleException: The bundle "cz.cuni.mff.xrg.odcs.Extractor_ruian_1

[2014-01-24 09:09] tomas-knap commented on #1105
Could be cause by older version of vaadin on the server. Btw. why is the range of versions not .e.g. 7.0.0 - 8.0.0.?

[2014-01-24 09:10] tomas-knap commented on #1105
I mean by older version exported by frontend

[2014-01-24 09:16] tomas-knap commented on #1105
there is verson 7.1.8 exported

[2014-01-24 09:24] tomas-knap commented on #1105
To discuss: Can we have some tolerance? E.g if the version changes from 7.1.X to 7.1.Y, it is a minor change and there is typically no need to rebuild all DPUs compatible with 7.1.X

[2014-01-24 09:40] tomas-knap opened #1106 "Prepare alternative mvn target for DPU developers"
Motivation: DPU developers do not need to build all the modules in order to be able to prepare DPUs.

[2014-01-24 10:03] skodapetr commented on #1105
Well there is some tolerance .. as can been seen from the picture the DPU use 7.1.10 - 8.0.0. ... the problem is that the DPU has newer version then ODCS - which can happen only if the ODCS has not been redeployed as the Vaadin version is taken from ODCS.

In the opposite situation it should work fine,  we can update the ODCS .. and the DPUs will still work (as it can use Vaddin version used in co

[2014-01-24 11:44] tomas-knap commented on #1105
Well, can we extend the error message? If the version required by the DPU is more then version exported by the app, we can write:
"The application is using older version of Vaadin then the DPU requires. Please contact administrator to update the Vaadin version on the server"

Alternatively, we can write: "Update you DPU, it is using old version of Vaadin not supported by the application"

And we c

[2014-01-24 12:15] tomas-knap opened #1107 "Failed test on commons-app, current master branch"
ailed tests:
  EdgeCompilerTest.manyToOneTest:91 array lengths differed, expected.length=1 actual.length=3

@skodape  Please reassign if needed

[2014-01-24 12:47] jakubklimek opened #1108 "Problem with DPU compilation and <version> in POM"
When <code>mvn install</code> on DPU which has <code>&lt;version&gt;</code> different than 1.0.0, it searches for ODCS binaries in that version regardless of what is in <code>&lt;parent&gt;</code>. This should have been the DPU version, not ODCS version.

[2014-01-24 12:50] skodapetr commented on #1108
1.0.2 we have a new version of ODCS?

[2014-01-24 12:57] tomas-knap opened #1109 "Selected exec monitor record not highlighted when buttons used"
in Exec monitor, when clicking on the button "Debug data"/ "Show log", the selected line in exec monitor is not highlighted.

Solution: Highlight the selected record for which the detail is shown even when clicking on buttons debug data/show log.

[2014-01-24 13:29] skodapetr commented on #1107
I have disabled the test .. as the tested functionality is currently under reconstruction.

[2014-01-24 13:29] #1107 closed, assigned to skodapetr

[2014-01-24 14:25] jakubklimek opened #1110 "Slow XSLT config dialog?"
When trying to replace XSLT template in Gov.cz Instituce, the "details" button on XSLT dpu did not work and then opened multiple instances of the configuration window.

[2014-01-25 09:42] skodapetr commented on #1101
Info: It looks like the problem appears when user selects some dpu in log's filter and then select the empty filter. It does not happen when switching the filter between different dpus.

[2014-01-25 09:51] skodapetr commented on #1075
And what about to the more power full restriction? Like the DataUnit names can be only numbers, letters and _ ?
As even when we use one line = one mapping approach then we need to somehow separate the two names on a single line.

[2014-01-25 10:01] skodapetr commented on #1075
Test use given name in dataUnit' ID in order to made easier for user to manually examine the content of DataUnit in Virtuoso, Hdd.

We do not have to use it .. then there should be no restrictions from that point of view. But still there is problem in mapping as if user use -> or ; he basically corrupt any mapping in which the given DataUnit will be used.

[2014-01-25 10:15] skodapetr commented on #1101
Also it looks like we have the exactly same problem for more the one drop down boxe in frontend (just try the ExecutionList filter by Status .. )
@bogo777 , @tomas-knap do we have some Vaadin update? or do you have any idea why this can be?

The exception I talk about has different trace .. also as can be seen from the stack trace .. there is not a method from us.

[code]

[2014-01-25 10:35] tomas-knap commented on #1110
Well, how big is the XSLT template? XSLT is stored to the configuration, so the deserialization could take a bit longer

[2014-01-25 10:37] bogo777 commented on #1101
I updated Vaadin and FilteringTable addon to latest version in 30ef34e88a42a9111f51a687a436eee855fca8ba

Can we confirm that it is caused by that?

[2014-01-25 10:37] tomas-knap commented on #1110
Bohuslav, please ensure that the DPU detail is shown only once even when user manages to click several times before the XSLT opens.

[2014-01-25 10:53] skodapetr commented on #1101
We can switch to version before-after and try to replicate this.

[2014-01-25 12:29] bogo777 commented on #1101
Vaadin version in pom.xml was strange. I think I fixed it in 3ca2a18a87307cb54ec33fb57d7cbedc55b3acdb
Could be related/solved the problem.

[2014-01-25 12:34] #1109 closed, assigned to bogo777

[2014-01-25 16:25] #1077 closed, assigned to bogo777

[2014-01-25 16:34] #1098 closed, assigned to bogo777

[2014-01-25 16:34] bogo777 commented on #1089
Screenshot is missing.

[2014-01-25 17:29] #1096 closed, assigned to tomesj

[2014-01-25 17:30] #1058 closed, assigned to skodapetr

[2014-01-25 17:37] #907 closed, assigned to janvojt

[2014-01-25 17:38] #1108 closed, assigned to skodapetr

[2014-01-25 17:40] #1085 closed, assigned to tomesj

[2014-01-25 17:47] #1084 closed, assigned to tomesj

[2014-01-25 17:51] #1041 closed, assigned to skodapetr

[2014-01-25 18:02] #692 closed, assigned to bogo777

[2014-01-25 18:12] tomas-knap opened #1111 "Empty value in the filter should be the first one, not the last one"
![screen shot 2014-01-25 at 7 11 21 pm](https://f.cloud.github.com/assets/3014917/2002300/3aaa00d2-85ec-11e3-8d43-9ebd16984948.png)

[2014-01-27 08:58] jakubklimek opened #1112 "Rephrase validation messages"
![image](https://f.cloud.github.com/assets/718827/2007083/0b5f50e8-8731-11e3-9892-3e213e88028f.png)

Should be: Triples validated: 200

[2014-01-27 12:40] tomas-knap commented on #1112
Have been validated XX triples yet -> "XX triples validated"

[2014-01-27 12:44] tomas-knap commented on #1110
What is the idea of the change? I cannot see any change in the code

[2014-01-27 13:15] ghost opened #1113 "Adjust password hashing to take longer to compute"
Consider rising up the

[code]

constant, in original source (https://crackstation.net/hashing-security.htm#javasourcecode) it equals to 1000 and the recommended policy is to calibrate the value on each installation to take as much time as it is acceptable by user when logging in (0.5second for example). To make password bruteforce attack as hard as possible, whilst making the login responsive eno

[2014-01-27 13:20] ghost opened #1114 "Consider redesinging fronted-to-backend communication"
In particular, could we get rid of that plain TCP connection ping (hearbeat, checkdatabase)?
Discuss and decide.

[2014-01-27 13:24] ghost opened #1115 "Consider entity-table-rename refactoring to get tables-entities names into sync"
Table names and entity names are out-of-sync which is confusing maintenance programmer. It would be nice to make one big refactoring, to rename one or another or both.

[2014-01-27 14:16] bogo777 commented on #1110
There is now only one DPUDetail dialog for pipeline edit and details button only sets its data and tells the app to show it. So where there are more requests for detail, only one dialog is shown, with the data of the last request...

[2014-01-27 15:20] tomas-knap commented on #1104
Similar happend once again: ![screen shot 2014-01-27 at 4 13 38 pm](https://f.cloud.github.com/assets/3014917/2009920/6c0ee838-8766-11e3-988c-b4da0d8ddc1e.png)

It may be tried to be reproduce by defining a pipeline, debugging from canvas, further adjusting the pipeline and saving the pipeline.

[2014-01-27 15:20] tomas-knap commented on #1104
[code]

[2014-01-27 15:24] tomas-knap opened #1116 "Problem with GUI (canvas) when certain error occurs when designing the pipeline"
When some error occurs in the frontend, e.g., #1104, the canvas than behaves strange - e.g. only arrows appear, or no DPU appears at all.

Please check the state of the canvas in case of an error. Is it initialized correctly next time pipeline is open?

[2014-01-27 15:49] tomas-knap opened #1117 "Remembering of filters - pipeline list"
When editing pipeline and "save & close" or close the pipeline detail, the filters should be set again. Jakub was testing that and it was not working for him. But at the same time  it was working for me.  For the same user. Tested on ODCS. Any suggestion?

[2014-01-27 16:03] kukharm opened #1118 "Mandatory fields of DPUs"
Some of DPUs have mandatory fields. This mandatory fields should be filled in DPU instance on canvas and may stay empty on DPU template in DPU Templates section. Also some of the fields should controlled the correctness of filling in both DPU instance and  template.
Take for example the SPARQL Extractor it contain the mandatory field "SPARQL endpoint" that should start with "http://"

Problem 1:
I

[2014-01-27 16:19] skodapetr commented on #1118
The no-type exception is connected to using null value for NVARCHAR. Do you have current database schema?

[2014-01-27 16:25] tomas-knap opened #1119 "Session expired - forwarding to login page"
When session expires, could the user be forwarded to a login page and after logging, to the original page he was working before the session expired? That effectively means to replace the "Session expired" error message with a forward to login page. Vaadin should support the definition of the custom handlers for session expired e.g.

[2014-01-27 16:32] tomas-knap opened #1120 "Deterministic selection of edges/nodes"
How more than DPU can be selected?

![screen shot 2014-01-27 at 5 31 08 pm](https://f.cloud.github.com/assets/3014917/2010641/7cdf9d7e-8770-11e3-919c-64e03d4d37f5.png)

[2014-01-27 16:46] tomas-knap commented on #1110
ok, we will test. Thanks!

[2014-01-27 17:52] tomas-knap opened #1121 "Problem when replacing DPU template while running"
When trying to replace a DPU, following error occur:

The replaced DPU was currently running. When trying second time when the DPU was not running it worked. But strange thing is that the DPU is running by backend, but was replaced in frontend.

2014-01-27 18:44:46,476 [http-bio-8080-exec-73] DEBUG c.c.m.x.o.f.g.v.e.ExecutionListPresenterImpl - ExecutionMonitor refreshed.
2014-01-27 18:44:50,721 [

[2014-01-27 18:05] tomas-knap opened #1122 "Two buttons for improved usability"
Based of the usability feedback:

1) Please add button "detail" to exec monitor to the column "pipeline name" next to each record. Please suggest whether it should be on the left or right of the pipeline name. When clicking on that button, pipeline canvas is shown with a detail of the pipeline the button is next to. When closing (leaving the pipeline detail) the exec monitor should be again shown.

[2014-01-27 18:09] #960 closed, assigned to bogo777

[2014-01-27 18:09] #711 closed, assigned to bogo777

[2014-01-27 18:10] tomas-knap commented on #481
Motivation: New tab cannot be created

[2014-01-27 18:12] #1110 closed, assigned to bogo777

[2014-01-27 18:12] tomas-knap commented on #1119
@janvojt

[2014-01-27 18:13] tomas-knap commented on #1117
So it works sometimes but sometimes not

[2014-01-27 18:14] tomas-knap commented on #1103
This is associated with fixed length of the DPU tree?

[2014-01-27 18:15] tomas-knap commented on #1099
Maria, can you reproduce that when uploading for the second/third time?

[2014-01-27 23:39] kukharm commented on #1118
I tested on http://odcs.xrg.cz:8080/odcleanstore-test/

[2014-01-27 23:55] kukharm commented on #1099
I tried it several time in different days with different files on http://odcs.xrg.cz:8080/odcleanstore-test/  (i used Chrome and Firefox) and i tried to repeat upload of the same file several times. All the times was the same bug in In Pipeline Detail section. At the last time status window looks like that
![statuswindow](https://f.cloud.github.com/assets/3471169/2014961/82a8094c-87ae-11e3-97c1-a4

[2014-01-28 09:19] tomas-knap opened #1123 "Tab labels missing sometimes - exec record detail"
When I open the exec record detail:

![screen shot 2014-01-28 at 10 18 39 am](https://f.cloud.github.com/assets/3014917/2017551/3a842d40-87fd-11e3-983d-99a1b5dad56b.png)

[2014-01-28 09:20] tomas-knap commented on #1123
reproduced on ODCS

[2014-01-28 09:22] tomas-knap commented on #1123
Does not dissappear after reloading

[2014-01-28 09:23] skodapetr commented on #1123
Does this happen for all executions, or just one?

[2014-01-28 09:24] tomas-knap commented on #1123
Could be caused by:
![screen shot 2014-01-28 at 10 23 41 am](https://f.cloud.github.com/assets/3014917/2017590/f43bd06c-87fd-11e3-93ea-171f5a9fae01.png)

which appear when clicking on "Logs" in the last column

[2014-01-28 11:15] tomas-knap commented on #1123
Actually only for "USA contracts- linking". But when I tried a different
one, the labels where missing for a while but then appeared (after one
second or so).
Afterwards, it starts to work also for "USA contracts- linking" execution

On Tue, Jan 28, 2014 at 10:23 AM, Petr Škoda notifications@github.comwrote:

[2014-01-28 11:51] skodapetr commented on #1093
Well, I thing that the possible reason is wrong..

If you introduce the new value .. and you deserialize (the tag is missing) then the null is assigned. If you add new value and you know about it, then you should use onDesirialize method .. check for null, consistency and update your configuration.

We may try to change this (if it's possible) but then .. does this feature, when we use default val

[2014-01-28 12:33] skodapetr commented on #1100
Well the reason is .. that the output configuration is different (serialized). We may consider usage of alternative approach ie. direct call of equal on configuration class.
But such approach requires non-trivial changes in DPU dialog interface.
@tomas-knap should we try this? I hope it's still early enough to "update" the interface. And in best case .. it should be solved by abstract class so it'

[2014-01-28 13:00] tomas-knap commented on #1093
Well the default value should be used only in case of missing/null value. Otherwise, if there is already some value and new default value is defined, it is not overwritten automatically.

Alternatively, we can just add to the doc: "If you introduce the new value .. and you deserialize (the tag is missing) then the null is assigned. If you add new value and you know about it, then you should use on

[2014-01-28 13:04] tomas-knap commented on #1100
I think that equal could be implemented on the abstract class and no change in interface is needed. Anyway, "equal" is not a typically method for an interface of DPUCOnfig, DPU developers typically do not want to overwrite it themselves.

But I would suggest to postpone this

[2014-01-28 15:13] skodapetr commented on #1100
The problem with core DPU is that the data.sql does not contains proper spacing and line endings in configurations. But as for the other non-code DPUs.
@kukharm Can I ask for steps to reproduce - or is it enough to just import them?

[2014-01-28 15:41] kukharm commented on #1100
i think that it's enough to import them. I tested on http://odcs.xrg.cz:8080/odcleanstore-test/ when i select there for example [INTLIB] Unzipper and than select any other DPU in the tree, i get confirmation window

[2014-01-28 16:26] skodapetr commented on #1118
I've added the context which you can use to find out if you are template or not. Sample: (in dialog class)

[code]

[2014-01-28 20:37] skodapetr commented on #1121
Is it replicable?

As it looks to me, the previous version DPU was not uninstalled properly (which is strange maybe more info is in log?). But I've tried replace of running DPU (to find out what happen) and it works fine.

We can try to add more longs into this functionality.

[2014-01-29 07:45] tomas-knap opened #1124 "Merging of data units does not support cancel"
LocalRDF

[2014-01-29 07:52] skodapetr commented on #1124
ODCS is not currently designed for that. IMHO we need at least 2 things:
1) support from dataUnits - at least in form of interface, we may use some Handler from commons
- the handler can be used to cancel operations in DPU on DPU request (user request) as well as to cancel the merge operation
  2) add cancel support to backend

[2014-01-29 09:09] tomas-knap opened #1125 "Chybejici dokumentace v PipelineGraph"
Jirko, prosim dopln co nejdriv, pouziva to slovensky kolega pro testy, tak at ma lepsi info

[2014-01-29 11:51] tomesj commented on #1125
Tome, o této části skoro nic nevím, nejsem autorem, možná by ses měl obrátit na Honzu nebo na Petra spíš :-)

[2014-01-29 12:04] jakubklimek opened #1126 "NPE when clearing Timestamp filter in Ex.Mon. log"
![image](https://f.cloud.github.com/assets/718827/2029122/6fc40490-88dd-11e3-8194-b28be22eb0b9.png)

[2014-01-29 12:43] tomas-knap commented on #1125
Ja ze jsi byl prvni autor

On Wed, Jan 29, 2014 at 12:51 PM, Jiøí Tome¹ notifications@github.comwrote:

[2014-01-29 12:45] #1112 closed, assigned to tomesj

[2014-01-29 12:47] tomesj commented on #1125
Stránku jsem možná tak zakládal, to ano...Zakládal jsem jich spoustu :-) Ale s obsahem zase tak nic společného nemám :-)

[2014-01-29 12:57] tomas-knap opened #1127 "Pipeline event "pipeline started" Add starting execution ID"
The same for DPU execution started - add ID

[2014-01-29 12:58] tomesj commented on #1125
Navíc jsem se teď chtěl podívat na confluence, co se tam zatím píše a tu stránku tam nemůžu nikde najít. V sekci pipeline to není a jinde to taky nevidím

[2014-01-29 13:11] tomas-knap opened #1128 "Execution record detail - thread"
Pouziva se toto pole, co je jeho obsahem?

[2014-01-29 13:41] tomas-knap opened #1129 "Upravy gui dle pripominek Kuby"
Kuba delal celkovou revizi GUI a neni jeste spokojen s tim jak vypada. Meli by to byt vsechno drobnosti. Vetsi veci jsem dal zvlast.
# Execution monitor:

Schovat sloupce:
- ID - dozvim se z pipeline event (starting execution ID #1127)
- user - kdyz bude v budoucnu potreba, pridame
- Start (dozvim se z detailu)

Poradi sloupcu
- Tlacitka
- Status (uzky jen na iconu)
- Pipeline name
- Duration
- de

[2014-01-29 13:47] tomas-knap commented on #1128
pipeline exec -> detail -> detail logu. Je tam pole Thread

![screen shot 2014-01-29 at 2 47 27 pm](https://f.cloud.github.com/assets/3014917/2029801/e8c41a3e-88eb-11e3-86bc-130c7a7d6319.png)

[2014-01-29 13:52] skodapetr commented on #1128
Aktualne k nicemu, upravim.

[2014-01-29 13:55] tomas-knap commented on #1117
Ready for testing?

[2014-01-29 13:56] tomas-knap commented on #1116
Tohle si nech na konec z tech high prio issues

[2014-01-29 13:56] tomas-knap commented on #1082
Ready for testing?

[2014-01-29 14:04] tomas-knap opened #1130 ""Options tab" for execution monitor detail"
Next to tabs: "Event, log, browse/debug" please add tab "Options".

On the options tab, there will be just one button:
"Download all logs", which allows you to download all logs

Hide download button on the exec record detail (opet pripominka Kuby k layoutu)

[2014-01-29 14:09] tomas-knap commented on #1123
It is happening on ODCS, try to click pipelines with more logs, e.g. _Krovak_

[2014-01-29 14:20] tomas-knap commented on #1129
Pokud cokoliv neni jasne nebo se ti zda divne, pis

[2014-01-29 14:48] tomas-knap opened #1131 "Installer of ODCS"
Inspirace - viz puvodni odcs projekt, download http://sourceforge.net/projects/odcleanstore/files/latest/download?source=files

Myslenka:

Uzivatel definuje v installeru kde chce mit backend, backend/working, /target/dpu (ty nastaveni v config properties), vybere si zda chce pouzit localRDF/virtuoso a definuje nastaveni k DB. Na zaklade toho se rozkopiruji soubory na patricna mista, nakopiruje se

[2014-01-29 17:31] bogo777 commented on #1129
Ok, neměl by tam být žádný zásadní problém.

Jen dotaz k těm sloupcům na šířku ikony - co se má stát s Headerem sloupce?

[2014-01-29 17:33] bogo777 commented on #1082
Possibly yes, if it won't work, could you provide .jar of some DPU with FileDataUnit for testing on local?

[2014-01-29 17:45] bogo777 commented on #1116
Whole canvas and all object on it are created each time pipeline is opened, so it should behave correctly for correct data.

[2014-01-29 20:41] #1130 closed, assigned to bogo777

[2014-01-30 08:20] tomas-knap commented on #1129
Takhle, ta sirka by asi mela byt takova, aby se do combo boxu vesla ta ikonka + sipka pro zmenu vyberu. Kdyz se pak combo rozbali, tak tam bude ikonka a popisek, s tim, ze ten rozbaleny list klidne muze presahovat. Myslim ze u nejakeho combo boxu uz to tak i mame

[2014-01-30 08:21] #1116 closed, assigned to bogo777

[2014-01-30 08:36] tomas-knap opened #1132 "Adjust the number of rows on the screen based on the actual size of the browser window"
Motivation:
WHen not propely setting the number of rows, you have to always scroll down, in order to be able to scroll horizontally (unless you have a smart touchpad)

Also sometimes you may work on a laptop, sometimes on external monitors, sometimes presenting. It would be nice to automatically have always the exact amount of rows.

Should also respond properly when resized (some minimum width/he

[2014-01-30 08:37] tomas-knap commented on #481
tohle je dané Vaadinem a nikde se to nedá přenastavit, nejspíš to znamená nutnost napsat si celé vlastní menu

[2014-01-30 08:41] tomas-knap commented on #481
TODO: Check the news regarding this problem, possibly rewrite the menu with links (we do not use submenus, so it could be easy)

[2014-01-30 12:03] tomas-knap commented on #1101
To reproduce (another case):
- exec monitor ,select status, deselect status.

[2014-01-30 12:09] tomas-knap commented on #1101
Vypada to, ze je chyba v addonu, viz: http://tepi.virtuallypreinstalled.com/filteringtable-v7/?restartApplication

Pouzit starsi verzi?

[2014-01-30 12:09] tomas-knap commented on #1101
Nebo jiny addon?

[2014-01-30 12:10] tomas-knap commented on #1075
Added to comment

[2014-01-30 12:10] #1075 closed, assigned to skodapetr

[2014-01-30 12:42] tomas-knap commented on #1119
useful for taking notes of the data

[2014-01-30 12:42] #1119 closed, assigned to bogo777

[2014-01-30 13:44] tomas-knap opened #1133 "Validators for values in GUI"
Currently, when inserting too long name for the pipeline, e.g., an error occurs when trying to insert to db. But the value should be validated earlier.

Solution: Add Vaadin validator, which checks the length of certain text fields, using the same LengthLimits from commons-app, but the lenght limit is applied during validation in Vaadin. If the validation succeeds, the data is stored to db.

Apply

[2014-01-30 13:48] tomas-knap opened #1134 "Custom Menu with proper links"
Motivation: Curren MenuBar does not support creation of links as menu items (links are not A HREFs). Not possible to open screen in a new tab, not compliant with a good practise on the web.

Solution: Create a Custom component (HorizontalLayout - list of links)
The custom component is then used in MenuLayout class instead of MenuBar. Class NavigateTo should be removed, links are part of the new cu

[2014-01-30 13:51] tomas-knap opened #1135 "DB adjustments"
Apart from renaming the tables #1115, we should consider:
- Position table could be part of Node
- DPU jar info separated from DPU templates
- DataUnit not bind to context ("concept of resources")

@skodape Please supplement

[2014-01-30 13:53] tomas-knap opened #1136 "PRIVATE, Public_RO, Public_RW"
Use proper labels, e.g.,
Private
Public (ReadOnly)
Public

[2014-01-30 13:54] ghost commented on #1135
Well, i would prefer rename at first, and after successful renaming, let's move on to the db normalization.

[2014-01-30 13:54] tomas-knap opened #1137 "Scheduler should use our container, not inMemory Vaadin container"

[2014-01-30 13:57] tomas-knap opened #1138 "Adjust RDF module"
Adjust core interface methods, so that they:
- use the similar pattern as FileDataUnit (getGraph, collection of statements)
- do not use openRDF types in interfaces

Separate the logic for DPU from logic used by the app

[2014-01-30 13:58] tomas-knap commented on #1135
Yes

[2014-01-30 14:42] tomas-knap opened #1139 "Proof-read the user doc, dpu creation guide"

[2014-01-30 15:16] tomas-knap opened #1140 "Possibility to add pipelines to groups"
There will be an extra column group in PipelineList/Exec monitor showing group the pipeline belongs to.

In pipeline detail, there will be a combo box, editable, where user may specify new group or select the already existing.

Motivation: To be able to group pipeline, while avoiding prefixes for pipelines

[2014-01-30 15:25] tomas-knap opened #1141 "Filters for PipelineList, ... should remain uncleared during the whole session"
Currently, filters for all tables are removed when user switches to a different screen.

Solution:  When switching from screen A to a different screen B and returning to A, filters should be still kept. They should be cleared only on user's request.

Filters are not stored among sessions.

[2014-01-30 15:29] tomas-knap opened #1142 "Column filtering pipelines according to their visibility"

[2014-01-30 15:41] tomas-knap opened #1143 "Count query on empty data unit"
When running select (count(*) as ?x) where {?s ?p ?o}
on empty data unit, it should show one cell with "0", not:

![screen shot 2014-01-30 at 4 39 22 pm](https://f.cloud.github.com/assets/3014917/2041411/dc7707da-89c4-11e3-8e9e-c45188cf28bd.png)

Please check what your methods return.

[2014-01-30 16:01] tomas-knap commented on #1129
1) Sirka sloupce pro buttons by mela mit vzdy pevnou delku a to takovou, aby se tam akorat vesly buttons:

![screen shot 2014-01-30 at 4 59 33 pm](https://f.cloud.github.com/assets/3014917/2041649/c2f64f20-89c7-11e3-83ca-e96901ef225e.png)

Podobne pro dalsi sloupce s jasnymi hodnotami a jasnou minimalni sirkou (trebas status, last status, atd.), ty by proste mely mit pevnou velikost. Nikdy by se a

[2014-01-30 16:04] tomas-knap commented on #1129
2) Pipeline detail by mela obsahovat "Created by: {autorPipeline}". Pod visibility.

[2014-01-30 16:08] tomas-knap opened #1144 "New state for the executed pipeline - Finished with errors"
This status should be used when the pipeline was run and there was at least one log.error() among logs, but no error event.

So it is worse result then finished with warnings, but better result then error.

Icon: As for finished with warnings, but red instead of yellow

Motivation: Currently, there is the same icon in case there is log.warn or log.error in the logs.

[2014-01-30 16:11] tomas-knap commented on #1129
3) Execution monitor - fixni velikost. Sirku jeste malinko vetsi, aby se tam vesel i label "STATUS" sloupce. Omlouvam se, spatna spec ;-)
![screen shot 2014-01-30 at 5 09 43 pm](https://f.cloud.github.com/assets/3014917/2041756/1a5045a4-89c9-11e3-8372-0bc15177a806.png)

Similarly for debug. Label for scheduled should be only "SCH."

[2014-01-30 16:11] tomas-knap commented on #1129
4) Protor nad tlacitky vypada hrozne prazdny:

![screen shot 2014-01-30 at 5 11 10 pm](https://f.cloud.github.com/assets/3014917/2041761/2e3ab086-89c9-11e3-8d0b-32d30980fdac.png)

Co tam dat label "Actions"? U exec monitoru, pipeline listu.

[2014-01-30 16:21] tomas-knap commented on #1127
Viz odcs-test, nefunguje dobre pro nove exec

[2014-01-30 16:22] tomas-knap commented on #1129
5) Ten sloupec tlacitek "Detail" u pipeline name u exec monitoru -> dej tam prosim nejakou icon. A umisti ten detail button (aktualne ve sloupci pipeline name) jako posledni action mezi tlacitkove actions. Opet s nejakou icon. Koukam totiz, ze je to u toho sloupce name trochu divne a hlavne pak divne funguje klikani na record (kdyz kliknes na record mimo sloupec pipeline name, tak ok, kdyz kliknes

[2014-01-30 16:23] skodapetr commented on #1127
I forgot it's string format not logback ..

[2014-01-30 16:27] tomas-knap commented on #1129
7) pipeline exec detail -> zalozka log -> Dej prvni sloupec loglevel, prejmenuj prosim na "Type". Pridej tam taky ikonky jako u events.

8) Scheduller - viz zadani

[2014-01-30 16:31] tomas-knap commented on #1129
9) Ikony - exec monitor - debug data/show log (ruzne ikony), cancel. Text opet do tool tipu

[2014-01-30 21:21] skodapetr opened #1145 "Resource manager"
Přidat ResourceManagera jenž by umožnil centralizovaný přístup ke zdrojům (DataUnit, Directories) ~ může poskytovat jen cesty.

Očekávané přínosy:
- Možnost dát dialogu od DPU cestu k adresářům
- Možnost odstranit 1-2 tabulky execution contextu v databázi (jedna přibude)
- Lepší přístup k DataUnit - možnost požádat o list pro execution, dpu bez nutnosti stromového procházení kontextu
- Jednotné úl

[2014-01-31 07:38] ghost opened #1146 "Exception while executing tests"
See the transcript below. The execution, however, continues without any problems.

[code]

[2014-01-31 10:10] tomas-knap opened #1147 "Columns in the tables"
Check that:

Certain columns with predefined values and with know width should have fixed width.

Minimum width should always be so that the header is visible.

Width should be at maximum what is needed for the longest value in the column. (pipeline name in exec monitor, e.g.)

[2014-01-31 10:11] #1128 closed, assigned to skodapetr

[2014-01-31 11:10] #1092 closed, assigned to bogo777

[2014-01-31 11:13] #1127 closed, assigned to skodapetr

[2014-01-31 11:14] #1117 closed, assigned to bogo777

[2014-01-31 11:16] tomas-knap commented on #1093
Petr, so the default value is used only in case of missing/null value. Otherwise, if there is already some value and new default value is defined, it is not overwritten automatically?

[2014-01-31 11:21] tomas-knap commented on #1082
On ODCS-test, see first execution - Decisions form nsoud.cz - Batch.

If I go to browse/query, select XSLT metadata, select file data unit. "No brose available", which is correct. Then I reselect data unit to rdfInput and:

![screen shot 2014-01-31 at 12 17 39 pm](https://f.cloud.github.com/assets/3014917/2049914/d7e77e0c-8a69-11e3-913e-6e129b04ad1d.png)

2014-01-31 12:17:27,241 [http-bio-8080-exe

[2014-01-31 11:24] tomas-knap commented on #1082
2) In the Edge detail dialog. When I am addimg a mapping to a list o mappings, if I try to map incompatible data units, it displays warning. Rather it should display an error and mapping of incompatible types cannot be added to the listbox of "available mappings"

[2014-01-31 11:28] #1038 closed, assigned to skodapetr

[2014-01-31 11:35] tomas-knap commented on #1101
Tohle prosim zkus vyresit, jinak si uzivatel rekne, ze nam to haze hodne chyba a pritom za to muze addon. Nejlepe asi tim testem startsi verze

[2014-01-31 11:41] tomas-knap commented on #1129
10) Zkontroluj na zaver prosim, ze vsechny sloupce maji minimalni sirku nastavenou tak, aby se tam vesel header (label) sloupce.

[2014-01-31 11:57] tomas-knap opened #1148 "Log query used by core DPUs"
For every SPARQL extraction (and also SPARQL transformation and LOADER), there must be log.debug containing the request send to the SPARQL endpoint. This is missing.

This is needed so that I can debug why certain SPARQL query did not result any data

[2014-01-31 12:13] tomas-knap opened #1149 "Log messages core DPUs"
1 ) Instead of:

![screen shot 2014-01-31 at 12 58 23 pm](https://f.cloud.github.com/assets/3014917/2050180/0204843c-8a6f-11e3-8196-988b04af493d.png)

Use:

INFO: Parsing started
INFO: Parsing ended successfully.

[2014-01-31 12:15] tomas-knap commented on #1125
Mno, tak kdyz to tam neni, tak je treba doplnit

[2014-01-31 12:17] tomas-knap commented on #1104
Please prepare till Tuesday, will be preparing then release for SWC

[2014-01-31 12:37] tomas-knap opened #1150 "SPARQL Extractor - GUI validations"
1) Check that all default graphs have different value. Currenlty, the following is possible:

![screen shot 2014-01-31 at 1 34 39 pm](https://f.cloud.github.com/assets/3014917/2050409/378081ce-8a74-11e3-98db-db011443b6c5.png)

So when specifying two or more default graphs which are the same, error must occur when trying to save it.

2) See 1) but for named graphs (not default graph)

[2014-01-31 12:44] janvojt commented on #1104
Was this reproduced on Virtuoso 6 or 7?

[2014-01-31 12:45] tomas-knap commented on #1129
11) Please add back to exec monitor table the column "Started", which should be before the column "Duration". Sorry for that. Please add also column "Executed By" (instead of the original column "Author") to execution monitor. It should be the last column. It is needed because execution monitor is the only reasonable place where the user who executed the pipeline should be shown

[2014-01-31 12:47] tomas-knap commented on #1129
12) Regarding the action button for pipeline list, please order them as: Run, debug, schedule, copy, edit, delete. Delete icon should be red (the trash bin)

[2014-01-31 12:51] jakubklimek opened #1151 "NPE when setting "Status" filter to nothing"
![image](https://f.cloud.github.com/assets/718827/2050502/4bd9a0f4-8a76-11e3-899d-fc75716b1635.png)

[2014-01-31 12:52] tomas-knap commented on #1151
Add steps to reproduce

[2014-01-31 12:52] tomas-knap commented on #1104
Virtuoso 6

On Fri, Jan 31, 2014 at 1:44 PM, Jan Vojt notifications@github.com wrote:

[2014-01-31 12:54] #1149 closed, assigned to tomesj

[2014-01-31 13:01] jakubklimek commented on #1151
Click on running, click on “empty”.

From: Tomas Knap [mailto:notifications@github.com]
Sent: Friday, January 31, 2014 1:53 PM
To: mff-uk/ODCS
Cc: jakubklimek
Subject: Re: [ODCS] NPE when setting "Status" filter to nothing (#1151)

Add steps to reproduce

—
Reply to this email directly or view it on GitHub https://github.com/mff-uk/ODCS/issues/1151#issuecomment-33791492 .  https://github.com/notif

[2014-01-31 13:04] tomesj commented on #1148
SPARQL transformer never use SPARQL endpoint, it goes only about SPARQL extractor and loader.

I add this log.debug message to every type of possible request (GET, URL encoded POST, direct POST).

[2014-01-31 13:06] jakubklimek opened #1152 "SPARQL loader needs to log (as INFO message) each loaded datapart"
This way, I don't see whether it is loading or not.

[2014-01-31 13:32] skodapetr commented on #1093
Well, basically it's only for import. As then the whole configuration is never null and the default values are used only if the whole configuration is null.

If you add value ... it's set to null in case of de-serialization regardless what value you assign to it in constructor as default.

[2014-01-31 15:03] tomas-knap commented on #1093
ok

[2014-01-31 15:03] #1093 closed, assigned to skodapetr

[2014-01-31 16:21] tomesj commented on #1148
I add log.debug message to all possible request variants (include info about sparql endpoint, request content,response code,response message + uncoded query in direct POST case).

[2014-01-31 16:21] #1148 closed, assigned to tomesj

[2014-01-31 16:35] tomesj commented on #1152
There are 2 possibilities using info message:
1] log.info(...) - you see in LOG tab -> log level INFO+
2] context.sendMessage(MessageType.INFO,...) - you see in EVENTS tab

What type did you mean ?

[2014-01-31 16:36] jakubklimek commented on #1152
Logger.info instead of logger.debug for the loadin part xxx log message
On Jan 31, 2014 5:35 PM, "Jiří Tomeš" notifications@github.com wrote:

[2014-01-31 16:39] tomesj commented on #1152
OK, thanks :-)

[2014-01-31 16:41] #1152 closed, assigned to tomesj

[2014-01-31 16:55] janvojt commented on #1104
I cannot reproduce problem with graph uniqueness, but I managed to encounter 3 different issues when running this scenario.
1. I cannot serialize SPARQL configuration.
2. I get a NPE after "debug till DPU" finishes.
3. At the end of the scenario extractor and transformer magically disappear, only loader is left on canvas.

No. 3 seems like it may be relevant, but no error is displayed.

[2014-01-31 17:09] tomas-knap commented on #1148
Diky

[2014-01-31 17:12] tomas-knap commented on #1104
Please create 3 three issues, with steps to reproduce and assign to jirka, bogo, bogo, release 1.0, prioHigh

[2014-01-31 18:05] janvojt opened #1153 "NPE when debugging from canvas."
Reproduce on same scenario as in #1104, but looks like it happens everytime.

![screenshot from 2014-01-31 19 03 59](https://f.cloud.github.com/assets/2247062/2053111/3bdec82e-8aa2-11e3-9d93-f60a25245cce.png)

Stacktrace:

[code]

[2014-01-31 18:08] skodapetr commented on #1126
Looks like the #1101

[2014-01-31 18:08] skodapetr commented on #1153
The source of the problem may be same as in #1126, #1101

[2014-01-31 18:42] tomas-knap commented on #1126
Duplicates #1101

[2014-01-31 18:42] #1126 closed, assigned to bogo777

[2014-02-01 17:04] jakubklimek opened #1154 "Internal Error while setting WARN+ filter on the latest ARES Test execution log"
![image](https://f.cloud.github.com/assets/718827/2058187/ddcd49f6-8b62-11e3-80d9-5b01a7b2ede5.png)

[2014-02-02 11:23] janvojt opened #1155 "SPARQL query is incorrectly serialized."
When I cahnge SPARQL configuration, e.g. "construct {?s ?p ?o} where {?s ?p ?o} limit 5", and save configuration, it is correctly validated, however incorrectly serialized and saved into database. In the database I only find `[B@37e1338`. Instead, it should contain xml string with serialized configuration.

Then when trying to open configuration, I get the following warning as the configuration ca

[2014-02-02 11:33] janvojt commented on #1088
From the screen I understand this is expected behaviour for the following scenario:
1. Copy `DBpedia` -> `Copy of DBpedia` is created.
2. Copy `DBpedia` -> `Copy of DBpedia #1` is created.
3. Copy `Copy of DBpedia #1` -> `Copy of Copy of DBpedia #1` is created.
4. Copy `Copy of DBpedia #1` -> `Copy of Copy of DBpedia #1 #1` is created.

If it was reproduced with this scenario, I believe it is expe

[2014-02-02 13:32] janvojt opened #1156 "After debugging DBpedia from canvas, changing and saving canvas, extractor disappears."
Most likely the root cause is also causing #1104. The problem here is, that in the debugging process the edge contained in the graph has a backreference to a different object representing a new graph (with null as id).

![screenshot from 2014-02-02 14 27 09](https://f.cloud.github.com/assets/2247062/2060321/e52bce92-8c0d-11e3-9018-2d41bcda1de4.png)

[2014-02-02 15:32] #1156 closed, assigned to janvojt

[2014-02-02 15:34] janvojt commented on #1104
I could not reproduce this exact error, but I think 3201022cba94bf0c976934a0fe2c767d042fcdda might have resolved this. Please retest and comment/close.

[2014-02-02 15:40] janvojt commented on #982
This is finished in e0369f4e035b72dcfcea11f571e43274e5689811.

[2014-02-02 15:40] #982 closed, assigned to janvojt

[2014-02-02 21:35] tomas-knap commented on #1088
The scenario was : Copy pipeline 156. Copy pipeline 156 once again. But it seems to be working for me now

[2014-02-02 21:35] #1088 closed, assigned to janvojt

[2014-02-03 07:20] ghost commented on #1088
Just to correct janvojt comment:
1. Copy `DBpedia` -> `Copy of DBpedia` is created.
2. Copy `DBpedia` -> `Copy of DBpedia` already exists, add suffix `#1` ->`Copy of DBpedia #1` is created.
3. Copy `Copy of DBpedia` -> `Copy of Copy of DBpedia` is created (prefix is created always).
4. Copy `Copy of DBpedia` -> `Copy of Copy of DBpedia` already exists, add suffix `#1` -> `Copy of Copy of DBpedia #

[2014-02-03 08:34] ghost opened #1157 "Save action changes entity"
In the `PipelineFacade:154`, the save action actually changes the saved entity of foreign type `DPUTemplateRecord` (which should be managed in its own `DPUFacade` class).
When the pipeline is `PUBLIC` , it modifies all `DPUTemplateRecord`s in the pipeline to be at least `PUBLIC_RO` accessible. Without notifying the user of course. See the code:

[code]

[2014-02-03 09:05] tomas-knap commented on #1157
It should be documented in the method description that it automatically changes the visibility of DPU.

But on the other hand, facade may provide access to more than dao class

[2014-02-03 09:17] tomas-knap opened #1158 "SPARQL Transformer -"
Please modify the core tab as in SPARQL transformer, so that it does not have one textarea for SPARQL query, but there is "+" and "-" button to add more textareas, so that one text area could be one query.

In short, the solution should be for the query textarea the same as for textfields for default graphs for SPARQL extractor.

[2014-02-03 09:19] tomas-knap commented on #1155
Jirka, please correct this till Wed 5.2. by latest.

[2014-02-03 09:37] tomas-knap opened #1159 "Comments of Michal"
https://docs.google.com/document/d/1m-ULZtnOFR5zIIXO36sQiO6kZ2uvicObrJ4JcQ9THPk/edit

[2014-02-03 10:26] ghost commented on #1157
I would prefer to notify the user about errors in his pipeline design, rather than changing underlying things without user notification.

[2014-02-03 10:31] ghost opened #1160 "Pipeline up-to-date depends on timestamp"
See the code in `PipelineFacadeImpl`:

[code]

It uses timestamps to check if something is up-to-date. This can lead (especially on Windows OS) to errors. It is possible to hit the same timestamp value. I have seen (in practice) situations where `new Date()` was generating only 4 distinct timestamp values per second.
Lets use Lamport timestamps. Moreover, there are dead branches I think.
`dbPipeli

[2014-02-03 11:20] tomesj commented on #1155
Author of serialization configuration with database is @skodape. I only call methods deserialize/serialize when is needed. He should colve this.

[2014-02-03 11:48] ghost commented on #1159
and what?

[2014-02-03 12:03] ghost commented on #1134
And what is there right now? <div onclick=...> ? That is, is vaadin default behavior incorrect (in respecting current web standards)?

[2014-02-03 12:10] tomas-knap commented on #1157
User is notified about that, so at GUI, it is solved. When certain private
dpu is saved on the pipeline being public, user is notified that all DPUs
will become public

On Mon, Feb 3, 2014 at 11:26 AM, Michal klempa notifications@github.comwrote:

[2014-02-03 12:16] tomas-knap commented on #1134
Currently, the html contains only divs with vaadin menu item objects. When clicked, our custom navigator is used to navigate to a different page. So it behaves more like a desktop app menu then menu in the browser.

[2014-02-03 12:41] tomas-knap opened #1161 "Support expansion of prefixes in SPARQL queries of core DPUs"
- The system will use ontologies in the knowledge base to suggest the ontology terms in DPUs, management of RDF prefixes -> Aktualne mame tabulku prefixu, ta ale na nic neni vazana. Jedine co by slo udelat rychle, je pridat metodu, ktera SPARQL queries pred validaci projde a doplni prefixy z tabulky prefixu. Zvazim jestli to jeste udelat.

[2014-02-03 12:57] tomas-knap opened #1162 "Problems with SPARQL extractor when clearing default graph from the configuration"
1)open dbpedia pipeline, remove the default graph:

![screen shot 2014-02-03 at 1 54 53 pm](https://f.cloud.github.com/assets/3014917/2064696/818fa870-8cd2-11e3-96db-e443c1555569.png)

2) Save such conf and reopen. As a result, there is a problem with configuration (check that problem as a root cause) and ALL config fields are lost:

![screen shot 2014-02-03 at 1 55 01 pm](https://f.cloud.github.c

[2014-02-03 13:03] tomas-knap commented on #1162
Problem is also that SPARQLExtractorDialog, 1050 line, accepts also empty graph!! Which is not a correct behaviour! If the Default graph field is empty, then there must be no default graph stored. Please check that

[2014-02-03 13:07] tomas-knap commented on #1162
This issue also appears when creating a SPARQL extractor with not specified default graph!
@skodape

[2014-02-03 13:09] tomas-knap commented on #1162
Also problem in case of SPARQL loader, so it must be a general problem caused when updating line ends in the conf?  It appears on odcs-test, on all core dpus basically.

[2014-02-03 15:09] tomas-knap opened #1163 "Export button should be hidden"
![screen shot 2014-02-03 at 4 08 44 pm](https://f.cloud.github.com/assets/3014917/2065689/21162308-8ce5-11e3-93f4-d2b58530bddf.png)

Hide the export button, so that it is not visible (because it is not implemented yet)

[2014-02-03 15:25] tomas-knap commented on #1151
duplicates #1101

[2014-02-03 15:25] #1151 closed, assigned to tomas-knap

[2014-02-03 15:28] tomas-knap commented on #1017
File data unit may be used as an alternative

[2014-02-03 15:29] tomas-knap commented on #527
Currently,Silk is called as an external process

[2014-02-03 15:30] tomas-knap commented on #1158
Validation of the SPARQL query is done for every such textarea. If some textarea has invalid query, such textarea is emphasized with exclamation mark

[2014-02-03 15:31] tomas-knap commented on #1158
When done with "+","-" buttons, assign to Jirka to finish the validation of the query.

[2014-02-03 15:34] skodapetr commented on #1155
colve? I can call .. for help. More info .. how does the serialization looks like before serialization etc .. is needed

@tomesj You could at least give info if the same happen on your PC or not.

[2014-02-03 15:50] bogo777 commented on #1101
I updated addon to latest version, this problem was mentioned as fixed in the change log, so please retest it, I can't reproduce this locally.

[2014-02-03 15:50] bogo777 commented on #1153
I updated addon to latest version, this problem was mentioned as fixed in the change log, so please retest it, I can't reproduce this locally.

[2014-02-03 16:26] janvojt commented on #1153
OK, thx, I will retest tomorrow. I am assigning myself so I do not forget about it.

[2014-02-03 18:19] tomas-knap opened #1164 "Adjust Devel Doc Chapter - Requirements"
https://grips.semantic-web.at/display/UNVI/2.+Requirements+Specification

Je potreba upravit tuto stranku a vsechny jeji podstranky (!) tak, aby:
- obsahovali aktualni obrazky, obsahovali popis aktualniho stavu.
- to, co se nakonec nestihlo, tak je treba presunout pod prislusny nadpis na stranku:
  https://grips.semantic-web.at/display/UNVI/Future+Work
- Snaz se mazat co nejmene veci, jen co oprav

[2014-02-03 18:46] tomas-knap opened #1165 "Generate and check javaDoc"
Jirko, take je potreba nechat si vygenerovat javaDoc (do 11.2.), http://maven.apache.org/plugins/maven-javadoc-plugin/, a zkontrolovat vysledek. Pokud najdes nejake nedokumentovane public tridy/metody/atributy, tak je potreba doplnit, resp. kontaktovat autora a uhanet ho, aby to doplnil.

Prioritni je develDoc, tohle hned pote.

[2014-02-03 20:03] tomas-knap commented on #1155
Jirko, otestuj si to na svem PC a dej vedet

[2014-02-03 21:48] bogo777 commented on #1129
Mělo by to být, až na:

5) Už jsem to upravil tak, že execution detail se zobrazí i po kliknutí na pipeline name, ještě by šel přes css přidat kurzor, aby byl stejný jako pro zbytek řádku, změnil bych header jen na pipeline a tlačítko detail nechal tam se standardní ikonou pro detail

nebo tedy přesunout a přidat novou ikonu, ale nenapadá mě žádná vhodná...

obecně k těm ikonám bych potřeboval nap

[2014-02-03 22:14] tomas-knap commented on #1155
so the problem is in one of these commits:

![screen shot 2014-02-03 at 11 12 34 pm](https://f.cloud.github.com/assets/3014917/2070801/6fb274b8-8d20-11e3-8584-703216c3bb45.png)

So it seems that problem is in https://github.com/mff-uk/ODCS/commit/3eaacfa8450cfdb43a2988b622c840d3b037c03d

[2014-02-03 23:32] tomas-knap commented on #1155
Problem is when setting configuration (see the setRaw below):

2014-02-04 00:30:43,793 [http-bio-8080-exec-22] DEBUG cz.cuni.mff.xrg.odcs.commons.app.dpu.DPURecord - getRawConf for: RDF File Loader on: <object-stream>
  <cz.cuni.mff.xrg.odcs.loader.file.FileLoaderConfig>
    <FilePath>/tmp/dbpedia.rdf</FilePath>
    <RDFFileFormat>RDFXML</RDFFileFormat>
    <DiffName>false</DiffName>
  </cz.cuni.m

[2014-02-03 23:35] tomas-knap commented on #1155
<pre>   public void setRawConf(byte[] conf) {
 -      serializedConfiguration = conf;
 +      serializedConfiguration = conf.toString();
        LOG.debug("setRawConf for: {} on: {}", this.name, this.serializedConfiguration);
    }</pre>

[2014-02-04 07:15] skodapetr commented on #1155
Well .. the Array.toString method look like:

[code]

( http://stackoverflow.com/questions/5499924/convert-java-string-to-byte-array )

So it looks like it use the array reference when It try to store it. The source of the evil may be:

[code]

The call of Array.toString() return address (B@blabla .. )not the value .. there should be

[code]

Tomas, can you test this?

[2014-02-04 07:42] tomas-knap commented on #1155
Solved

[2014-02-04 07:42] #1155 closed, assigned to janvojt

[2014-02-04 07:43] tomas-knap commented on #1162
Solved, problem with serializing conf

[2014-02-04 07:43] #1162 closed, assigned to skodapetr

[2014-02-04 07:49] tomas-knap commented on #1129
Ad 5) ok, zkusim, diky. Nech to zatim tedy u toho pipeline name se standardni ikonou pro detail. Uprav jeste prosim ten kurzor v CSS, at je to jednotne. Zkusime a uvidime.

9) Cancel - stejna jako ikona cancelled ve statusu, show log - http://findicons.com/icon/219135/view?id=219295  , debug view - to same co show log, ale s mensi "debug pipeline" icon v pravem dolnim rohu (tedy s tim broukem v pr

[2014-02-04 08:49] janvojt commented on #1155
I apologize, this was my fault in commit a9cdc998126408795cb734ffbf19fdbd0eab4437. Still however, my plan was to avoid using byte[] completely and use String instead, since we are storing XML, not binary data. This would however require changing all DPUs, so I am not sure we want to do that.

[2014-02-04 09:00] ghost opened #1166 "Is it possible to have authentication context with logged in user?"
See this chunk of code taken from the `PipelineFacade`:

[code]

There is condition `user == null`. Is it possible to have non-null `authCtx` with `null` user field?

[2014-02-04 10:07] skodapetr commented on #1155
I thing this can be done in ConfigWrap and in DPURecord (and related) .. we just have to make sure that we does not break exisitng configurations. I will create issue for this.

[2014-02-04 10:08] skodapetr opened #1167 "Serialized configuration should use String instead of byte array"
Based on #1155

[2014-02-04 10:32] ghost commented on #1167
Could we also take a look onto why we need to handle the serialization manually?
Couldn't we use a library for serialization?
At least, there are plain java serialization capabilities, I mean the ObjectInputStream and the ObjectOutputStream (but I don't vote on these).
Why gobble around with things, which are probably solved somewhere already.
Lets do the research on this.

For example, what do yo

[2014-02-04 11:18] skodapetr commented on #1167
We are using XStream for serialization ( http://xstream.codehaus.org/ ).

DPU Programmer declare configuration class that implements DPUConfigObject (what is the different to the bean?)
Add annotation .. we may consider this, actually user can use XStream annotation, what annotations do you thing we should support?

You speak about read-only instance. Why read only? and how would you secure that i

[2014-02-04 12:08] ghost commented on #1167
Sorry, will take a better look on this. At this time, I accept everything you've stated.

[2014-02-04 16:01] #1090 closed, assigned to kukharm

[2014-02-04 16:49] #1153 closed, assigned to janvojt

[2014-02-04 17:00] #1163 closed, assigned to kukharm

[2014-02-04 17:01] janvojt commented on #1166
Yes, `authCtx` only wraps Spring Security context. It is a Spring bean and it is never null. Actually, if you look at the documentation for `SecurityContextHolder.getContext()`, it is designed similarly - it never returns null.

[code]

If (non-anonymous) user is **not** logged in, `authCtx.getUser()` returns null, and `authCtx.isAuthenticated()` returns false.

[2014-02-04 17:26] janvojt commented on #1067
Can we close this and #1040 ?

[2014-02-04 17:36] janvojt commented on #936
This should have been fixed by 3201022cba94bf0c976934a0fe2c767d042fcdda. Please retest.

[2014-02-04 17:51] janvojt commented on #664
I cannot reproduce in current version.

[2014-02-04 17:51] #664 closed, assigned to janvojt

[2014-02-04 19:00] kukharm commented on #1158
I added new functionality to the SPARQLTransformerDialog.java and tred to modify SPARQLTransformerConfig.java. @tomesj  please modify the SPARQLTransformer.java (and maybe some other classes:) accordingly to this changes

[2014-02-04 19:10] tomas-knap commented on #1040
Zkousel jsem to ted a cookies jsou v poradku, nechapu. Funguje to

[2014-02-04 19:10] #1040 closed, assigned to janvojt

[2014-02-04 19:12] tomas-knap commented on #1067
Works ok now

[2014-02-04 19:12] #1067 closed, assigned to tomas-knap

[2014-02-04 19:27] janvojt commented on #712
## Suggested solution

Both import and export is realized by a dedicated shell script placed in the git repository of the project. Script assumes it is a part of the project workspace, where both application frontend and backend are available in their respective build directories in the same state they are intended to be included in the exported file.

The exported file is a gzip-compressed tar ar

[2014-02-04 20:25] janvojt commented on #1158
@kukharm
Please do not break build!
Also, if I try to add  more than 2 SPARQL queries, save button is below the window, and there is no scrollbar so it cannot be saved.
![screenshot from 2014-02-04 21 13 56](https://f.cloud.github.com/assets/2247062/2080727/058e0b6e-8dda-11e3-81d3-af5cdca9e59f.png)

@tomesj Please fix the SPARQL, I changed it to use only the first query, so it is compilable.

@tom

[2014-02-04 21:18] tomas-knap commented on #1158
Yes, scrollbar must automatically appear if needed. By default, there should be only one textarea with the possibility to add more.

@tomesj All the queries must be validated separately, so when there is an error, user should know from the error message where the problem was (in which query). Please test the +,- functionality, test more queries (e.g. using construct with limit and offset)

@janvoj

[2014-02-04 21:28] tomas-knap commented on #712
The script should take the configuration (config.properties) from the given location (param of the script). It should not take it only from home folder. Location may be mandatory to simplify things.

Apart from backend, you have to copy also lib folder needed by backend. Also you should export/import target/lib, not only target/dpu.

Please provide a simple guide (explained on one sample pipeline)

[2014-02-04 21:32] tomas-knap commented on #712
In case of importing, it would make sense to specify the target config.properties as a param of the script. Otherwise, taking exported config.properties would be useful only for backup creation. That is important, in order to be able to effectively import environment to a different location.

[2014-02-04 21:39] tomas-knap opened #1168 "TEST tool tip in case of logs"
See below:

![image](https://f.cloud.github.com/assets/718827/2058187/ddcd49f6-8b62-11e3-80d9-5b01a7b2ede5.png)

The tooltip should contain the long message. Or it should be removed.

[2014-02-04 21:40] bogo777 commented on #1123
Cannot reproduce now, please retest on version after f791c9c9e9ae372983ce505cc1d526f88dc99919 it could have solved it if it was related to #1101

[2014-02-04 21:43] #951 closed, assigned to tomas-knap

[2014-02-04 21:47] bogo777 commented on #1122
2) Should the user be explicitly redirected to the execution list with debug execution detail open or return wherever he came to edit from?

[2014-02-04 21:50] tomas-knap commented on #1154
cannot find the proper error in the log

[2014-02-04 21:51] tomesj commented on #1158
SPARQLTransformerConfig class is just only one boolean isContructType.

If we can support more queries , we need pairs (query,isContructType)....So, please @kukharm Maria to prepare it first. I can not update funkcionality without that :-)

isContructType
- is necesary when we use "special" contruct query where we can replace DPU names to graph names

[2014-02-04 21:53] tomas-knap commented on #1026
This still happens on ODCS (most of the errors in last few days are of this type):

014-02-01 18:03:12,916 [http-bio-8080-exec-147] ERROR cz.cuni.mff.xrg.odcs.frontend.AppEntry - Uncaught exception
java.lang.Error: java.lang.ClassCastException:java.lang.String cannot be cast to openlink.util.Vector
    at virtuoso.jdbc4.VirtuosoConnection.read_request(Unknown Source) ~[virtjdbc-4.1.jar:na]
    at

[2014-02-04 21:53] tomas-knap commented on #1026
Can we somehow mitigate this issue?

[2014-02-04 21:56] tomas-knap commented on #1039
Please ensure that the sample data - dbpedia pipeline and the DPUs on it work properly when somebody tries to open DPU details on dbpedia pipeline

[2014-02-04 22:01] tomas-knap commented on #1158
Jirka, I think it should be easy for you to replace one boolean with list of booleans? Maria could not test what she prepares.

[2014-02-04 22:02] tomas-knap commented on #1122
2) He should be switched to the open debug execution detail, as in case he clicks on "debug" button

[2014-02-04 22:03] tomas-knap commented on #1123
I will test, but I don't think it is related to this issue

[2014-02-04 22:08] tomas-knap commented on #712
Also when user would like to install prepared binaries, he is basically doing import (of the initial db state) with his defined target config.properties. So we will also use the import script as an "installer"

[2014-02-04 22:41] tomas-knap commented on #1158
Jirko, udelej to prosim tak, aby stavajici SPARQL transformery fungovali i v te verzi s vice textareas.

Ostatne ikdyz bude existovat vice textarea, obecne predpokladej, ze do jedne textarea nekdo muze narvat vice dotazu.

Tohle issue mi staci klidne do konce tydne, hlavne prosim davej pozor, abys commitoval jen kod, ktery je uplny a funguje mi s existujicimi extraktory. Dokud takovy kod nemas, pr

[2014-02-05 08:42] skodapetr commented on #1026
Maybe .. on which pipeline run, dpu .. this happens? I need access to data (database) so I can try to write code .. that will ignore the "hostile" logs. Then we can use some default value - warning about wrong data .. instead of showing user the exception

[2014-02-05 09:06] tomas-knap commented on #1129
Bohuslave, diky, jeste prosim:

[2014-02-05 09:15] tomas-knap commented on #1123
See it on ODCS-test. Just click on the first execution record.

![screen shot 2014-02-05 at 10 13 58 am](https://f.cloud.github.com/assets/3014917/2085471/f8f64346-8e45-11e3-91cf-560c16fedfcb.png)

[2014-02-05 09:22] tomas-knap commented on #1129
B) Id u pipeline detail dej prosim az za uzivatele, neni to tak dulezite, aby to bylo prvni. Pokud delam pipeline, nezobrazuj tam "ID New", ale proste tenhle radek schovej (klidne si tam na nej rezervuj misto, to je jedno). Kdyz dam save, radek s ID se objevi.

U schedulled event detail dopln prosim "Schedulled by: {user}" a dej to za description. Az za to dej opet to IDcko. Opet pokud ID jeste ne

[2014-02-05 09:24] tomas-knap commented on #1129
E) V Exec monitoru, kdyz kliknu na pipeline name, tak se zobrazi spravny kurzor, zobrazi se detail, ale nevybere se radek v exec monitoru. Kdyz kliknu na started, tak se vybere! To klikani na pipeline name sloupec v Exec monitoru funguje divne, obcas jo, obcas ne; jine sloupce se chovaji korektne. Vyzkousej si opet na odcs-test

[2014-02-05 09:30] tomas-knap opened #1169 "Redrawing of tables does not work properly"
When on execution monitor, detail open, I try to resize the left/rigth part. The redrawing of the tables should be smooth. But in my case, it takes some time before the table is redrawn and sometimes it even stays in a state like this:

![screen shot 2014-02-05 at 10 27 17 am](https://f.cloud.github.com/assets/3014917/2085588/f6d83cca-8e47-11e3-841f-088b57d0b3ec.png)

Redrawing table which has 15

[2014-02-05 09:38] tomas-knap opened #1170 "Chrome: Crashing table header + awful tabBrowser, border of tabs, combo boxes"
Look at ODCS- test - execution monitor + detail.
It happens for Chrome, Version 32.0.1700.107.

1) After playing for a while with execution monitor and filters, I got:

![screen shot 2014-02-05 at 10 35 14 am](https://f.cloud.github.com/assets/3014917/2085641/e2eacc68-8e48-11e3-892a-8337ef8a4b71.png)

Such situation must not happen. Is it a problem of the component or wrong use of the component?

[2014-02-05 09:41] tomas-knap commented on #1123
You have to click a bit, it happens only sometimes

[2014-02-05 09:42] tomas-knap commented on #1123
click to different exec records and it should show finaly

[2014-02-05 09:45] #1101 closed, assigned to bogo777

[2014-02-05 09:49] tomas-knap commented on #998
Tohle se stale deje. Jdi na ODCS-test, pust si Copy of DBpedia pipeline v debug rezimu a dej cancel, kdyz se spusti SPARQL loader. Po chvilce to preskoci z cerven cancelling na running a pak na cancelled.

[2014-02-05 09:49] tomas-knap commented on #998
Deleguj prosim, pokud myslis, ze problem neni u tebe.

[2014-02-05 09:50] #1122 closed, assigned to bogo777

[2014-02-05 09:58] skodapetr commented on #998
Do ExecutionAcessor  bychom mohli pridat log, to by mohlo pomoci abychom vedeli, co se tam deje?

Neb tam se hlida aby pokud je ve stavu "stop" tak to vratilo ten spravny status i kdyz backend jeste stav neupravil (tedy cancelling).

Ja mam na lokalu zrovna rozdelanou upravu na ukladani konfigurace do Stringu misto do byte[] tedy, pokud bych mohl poprosit o realizaci a otestovani.

[2014-02-05 09:59] tomas-knap commented on #1103
The idea is to have the length of the DPU tree, so that it fits to the screen. If not possible, it should have lower height.

[2014-02-05 09:59] tomas-knap commented on #1111
Tohle prosim zkontroluj u vsech combo boxu a oprav.

[2014-02-05 10:02] tomas-knap commented on #481
will be solved by #1134

[2014-02-05 10:02] #481 closed, assigned to bogo777

[2014-02-05 10:04] #1150 closed, assigned to kukharm

[2014-02-05 10:05] tomas-knap commented on #936
Ok now

[2014-02-05 10:05] #936 closed, assigned to janvojt

[2014-02-05 10:09] tomas-knap commented on #1158
Jirko, taky kdyz pustim sparql transformer v defaultni konfiguraci (prazdna query), tak mi to pri behu zahlasi:

![screen shot 2014-02-05 at 11 07 10 am](https://f.cloud.github.com/assets/3014917/2085879/7e420024-8e4d-11e3-9476-4514a96b8e83.png)

Takova chyba se nesmi objevit, musi tam byt smysluplna chyba ve stylu "Neni definovano query"

[2014-02-05 10:13] tomas-knap commented on #1170
exec detail when executing from canvas
![screen shot 2014-02-05 at 11 13 07 am](https://f.cloud.github.com/assets/3014917/2085912/2ca5ac7e-8e4e-11e3-95b9-60ca437cc0e9.png)

[2014-02-05 10:13] #1104 closed, assigned to janvojt

[2014-02-05 10:19] tomas-knap opened #1171 "Log detail, long message should be wrapped"
![screen shot 2014-02-05 at 11 18 09 am](https://f.cloud.github.com/assets/3014917/2085961/e99f9f56-8e4e-11e3-95d2-d8a72ec6698a.png)

Currently: scrollbar occurs

[2014-02-05 10:21] #1070 closed, assigned to tomesj

[2014-02-05 10:25] tomas-knap commented on #1069
Jeste Jirko toto:

Natahni si novy SPARQL loader, detail, SPARQL protocol. Zmen nastaveni default graph param. Pak, kdyz se prekliknes na Use POST with unencode, you have to see the default settings. So the text boxes query param a default graph param must be different from every choice on SPARQL protocol

Correct also for the extractor.

[2014-02-05 10:26] #1061 closed, assigned to tomesj

[2014-02-05 10:27] #1017 closed, assigned to tomas-knap

[2014-02-05 11:17] tomas-knap commented on #1170
Combo box is ok, when closed. When opening it, the arrow for opening is shifted down and it is really agly:

![screen shot 2014-02-05 at 12 16 11 pm](https://f.cloud.github.com/assets/3014917/2086428/1448b776-8e57-11e3-9a1a-0b301f91dce3.png)

[2014-02-05 11:21] tomas-knap commented on #1170
Or strange vertical lines over buttons:

![screen shot 2014-02-05 at 12 20 55 pm](https://f.cloud.github.com/assets/3014917/2086451/a3e567e4-8e57-11e3-8a8b-aa6e2a219d90.png)

[2014-02-05 11:37] tomas-knap commented on #1129
G) WHen opening exec monitor detail, it may happen that the pipeline name column dissapears:

![screen shot 2014-02-05 at 12 36 33 pm](https://f.cloud.github.com/assets/3014917/2086566/d41783c8-8e59-11e3-8b87-14f305a9cc4b.png)

Solution: Pipeline name column should have certain minimal width

[2014-02-05 11:45] tomas-knap commented on #1129
H) When filtering logs in exec monitor detail, there should be icon + text in the combo box. Currently there is only text.

![screen shot 2014-02-05 at 12 44 34 pm](https://f.cloud.github.com/assets/3014917/2086620/0e0d2ba4-8e5b-11e3-9a00-9c17351d494f.png)

[2014-02-05 11:49] tomas-knap commented on #1170
Please test how this behaves in latest Firefox, IE, in case of your version of Chrome. Ask @kukharm and @tomesj to help you.

[2014-02-05 11:49] tomas-knap commented on #1170
In my case the problems above do not occur in Safari, Version 6.0.5 (8536.30.1)

[2014-02-05 11:53] tomas-knap commented on #1129
I) In scheduller, there is no space between actions icons (but in pipeline list/exec monitor there is a space). Put space in scheduler.

[2014-02-05 11:57] tomas-knap opened #1172 "Browse/query - data is lost"
Happens on ODCS-test

To reproduce: Open dbpedia pipeline, debug the SPARQL extractor, go to browse/query, select SPARQL extractor, output data unit, click on "run query". It shows some data. Then try to filter predicates according to e.g. string Jirka. No data appears.

Then switch to execution monitor, open the same exec record detail, go to browse/query - no data available.

So something strang

[2014-02-05 12:03] tomas-knap opened #1173 "Status now available only in DPU instances"
Solution:

1) Status should be available on pipeline list
2) Status should show more information

[2014-02-05 12:04] tomas-knap opened #1174 "Adjust DPU instances tab"
Please adjust the DPU templates -> selectDPU -> DPU instance tab, so that it looks as Pipeline list:

Columns in DPU templates:
- action buttons: detail, delete, status. Use some icon for status.
- name

The rest of the columns is hidden

[2014-02-05 12:06] tomas-knap opened #1175 "Hide buttons in DPU template"
![screen shot 2014-02-05 at 1 05 33 pm](https://f.cloud.github.com/assets/3014917/2086731/f58c026e-8e5d-11e3-96ed-163b01b344f9.png)

Reason: not used

[2014-02-05 12:08] kukharm opened #1176 "Manage user table - buttons with icons"
actions buttons  in Manage user table  contain text description whereas the other tables now contain icons

[2014-02-05 12:10] tomas-knap opened #1177 "DPU templates - copy button"
Currently, copy button is enabled only for third level DPU templates. But there is no way, how to create "first" copy of the DPU template at the third level, because copying of DPUs at the second level is not possible.

Solution:
Copy button should be enabled also for DPU template at the second level. The result of the copy operation will be Copy of {DPU name}. But, the copied DPU template appears

[2014-02-05 12:12] kukharm opened #1178 "Execution monitor - debug data"
Tabs on Debug data view are missed
![debug](https://f.cloud.github.com/assets/3471169/2086770/b760906c-8e5e-11e3-902d-9da9394ca3c1.jpg)
and also i can't find the Close button there

[2014-02-05 12:13] tomas-knap commented on #1123
It seems to me that typically, it is missing for the first time when exec monitor detail is shown, but when clicking to a differernt exec record and back to the previous, everything is correct

[2014-02-05 12:15] tomas-knap opened #1179 "Schedulled event - remove extra text"
Extra text starting "wa..." after Pipeline {combobox} should be removed, see:
![screen shot 2014-02-05 at 1 14 09 pm](https://f.cloud.github.com/assets/3014917/2086804/2640c5c4-8e5f-11e3-968a-cab57975e1ad.png)

[2014-02-05 12:17] kukharm commented on #1178
It happens when i click on the debug data button on the first time, when i click after that to the other Debug data or Show log buttons, tabs appear

[2014-02-05 12:17] tomas-knap opened #1180 "Missing quotes in confirmation dialog"
When deleting schedulling event, quotes are missing holding the name of the pipeline for which schedule event is deleted

[2014-02-05 12:41] tomas-knap commented on #1170
A) Kdyz si zobrazim pipeline list (dostatecne velka obrazovka), tak stejne vidim posuvniky (viz pravy dolni roh). Ty tam byt nesmi, pokud k tomu neni duvod:

![screen shot 2014-02-05 at 10 05 09 am](https://f.cloud.github.com/assets/3014917/2085426/d000203e-8e44-11e3-937a-a9514e7aeec3.png)

Toto je velmi dulezite, bo toho si kazdy vsimne a vypada to hodne divne. Objevuje se to u vsech tabulek. Tak

[2014-02-05 12:41] tomas-knap commented on #1170
D) Kdyz otevru Exec monitor, tak to obcas dopadne takto:

![screen shot 2014-02-05 at 10 21 59 am](https://f.cloud.github.com/assets/3014917/2085537/0898a1a8-8e47-11e3-8ba2-e9deabae2765.png)

Stava se to take kdyz z exec monitoru otevru detail.

To se nesmi stat, sirka musi byt vzdy stejna. Opet is kdyztak zkus na odcs-test.
Also happening only in latest Chrome

[2014-02-05 12:41] tomas-knap commented on #1170
F) Combo boxes (debug, schedule) for execution monitor does not work properly, try to use them:

![screen shot 2014-02-05 at 10 31 01 am](https://f.cloud.github.com/assets/3014917/2085609/5899582c-8e48-11e3-8de3-bec775a46744.png)

![screen shot 2014-02-05 at 10 30 44 am](https://f.cloud.github.com/assets/3014917/2085610/5b88dff8-8e48-11e3-9fad-4344360b6259.png)

Such situations must not happen. In

[2014-02-05 13:00] tomas-knap commented on #1026
Tak koukam, ze se to asi tyka jedne execution = 535 na ODCS, coz je videt z tech casu.  Tech logu je u 535 hodne

[2014-02-05 13:05] tomas-knap commented on #1026
Nedari se mi ted najit pro kterou stranku to spadne.

[2014-02-05 13:07] skodapetr commented on #1026
ok a předtím se ti to povedlo? jako z toho místa odkud je tan log .. můžu se podívat přímo do logu a najít si to query atd ..

[2014-02-05 13:10] tomas-knap commented on #1026
V logu to najdes: /data/odcs/log, cat frontend.2014-02-\* | grep ERROR

Ale jen kdyz to hned uvidis, nema smysl tim travit hodin, to bych radsi
pockal az se to objevi na mensi pipeline

2014-02-05 Petr Škoda notifications@github.com:

[2014-02-05 13:16] tomas-knap commented on #1129
J) Execution monitor, sometimes, when resizing, the column for action buttons is resized so that not all actions are visible. Actions column's size should be fixed, if possible. Or at least, the minimum width should be specified so that the buttons are always all visible

![screen shot 2014-02-05 at 2 14 14 pm](https://f.cloud.github.com/assets/3014917/2087214/abccfb24-8e67-11e3-9720-3ebfbc95bde2.

[2014-02-05 13:51] janvojt commented on #712
In such case we should replace frontend deployment through maven (step 11), which requires `frontend/pom.xml` with correct login to tomcat. The best choice would probably be to use cURL as dependency, which can be used for deployment pretty easily. Otherwise we would need to write HTTP client able to send HTTP POST/PUT request to deploy.

To sum up, this would require extra [cURL](http://curl.haxx

[2014-02-05 14:11] tomas-knap commented on #712
I prefer cURL (over our own HTTP client). Extra information can be obtained interactively.

[2014-02-05 15:27] tomesj commented on #1158
Tome, tu chybu, kterou tu uvadíš dostaneš proto, že to Honza dočasně změnil, abychom měli stabilní build, neboť Marie to nechala rozdělané při předání tohoto issues. Já si udělám vlastní branch a až to budu mít, commitnu do mastera.

Jestli to chápu správně tak,
při ukládání - provede se validace pro všechny dotazy, které jsou v těch textboxech
při execution - 1x provede se merge dat a na něm se p

[2014-02-05 15:34] tomesj commented on #1069
Jo, jestli to právně chápu, tak chceš to, že když si překlikneš na jiný typ postu, tak se ti automaticky změní případně parametry pro default graph a query param. Je to tak ?

[2014-02-05 15:50] tomas-knap commented on #1069
jj

[2014-02-05 16:03] tomas-knap commented on #1158
Jirko, tohle jeste promyslim a napisu

[2014-02-05 16:31] skodapetr commented on #1167
Musel jsem nechat starý přístup k serializaci kvůli zpětné kompatibilitě a potížím s null value ve Virtuosu. Nicméně mimo metodu se nyní pracuje se String místo byte[].

[2014-02-05 16:31] #1167 closed, assigned to skodapetr

[2014-02-05 17:33] bogo777 commented on #1178
Close button was removed as part of changes in #1129.
Tabs issue is duplicate of #1123.

[2014-02-05 17:33] #1178 closed, assigned to bogo777

[2014-02-05 17:46] tomesj commented on #1172
This problem could be fixed now :-)

[2014-02-05 17:49] tomesj commented on #1050
I can not reproduced the deadlock now. It´s still actuall ?

[2014-02-05 18:34] tomesj commented on #1069
Ještě dotaz - ono jsou 2 pohledy, jak se na to koukat

1) změní se konfigurace - součástí budou všechny možné varianty, tedy mapování:
varianta- parametry (pro query, graph)....

2) Jde jen o lokální použití v rámci dialogu - tedy když mám otevřeno, můžu přepínat a pamatuje si to parametry, to co jsem si u zvolené možnosti už vyplnil (změnil), ale jen dokud nezavřu ten dialog (ať už úspěšně či neú

[2014-02-05 18:58] bogo777 commented on #1129
C, E, H, I, J - done

G - this a problem, I didn't find solution yet.
    - https://vaadin.com/api/com/vaadin/ui/Table.html#setColumnExpandRatio(java.lang.Object, float)
    - it looks like either expand ratio OR width can be set, NOT both

B - later tonight

[2014-02-05 19:00] bogo777 commented on #1123
I can reproduce it on ODCS-test easily, but not on local. Is there any easy way to get log from odcs-test instance? It could help a bit.

[2014-02-05 19:14] tomas-knap commented on #1172
Could be solved or is solved? ;)

[2014-02-05 19:14] tomesj commented on #1172
Is solved :-)

[2014-02-05 19:19] tomas-knap commented on #1069
Asi staci 2) Tedy ze se ulozi vzdy parametry pro aktualne nastavenou variantu a kdyz prekliknu v budoucnu (pri dalsim otevreni), tak dostanu defaultni hodnoty pro prislusnou jine moznosti.

[2014-02-05 19:22] tomesj commented on #1143
Problem propably solved thanks solving issue #1172.

Sceen of empty DPU as a proof:
![empty](https://f.cloud.github.com/assets/3481055/2090931/d5264df8-8e9a-11e3-8f43-24923baa9d1e.jpg)

[2014-02-05 19:41] tomesj commented on #1069
OK, tedy udělám variantu 2)

[2014-02-05 19:56] janvojt opened #1181 "Documentation for Facades."
https://grips.semantic-web.at/display/UNVI/Facades

[2014-02-05 19:58] janvojt opened #1182 "Update DB schema documentation."
https://grips.semantic-web.at/display/UNVI/Relational+database

[2014-02-05 19:58] janvojt opened #1183 "Create installation manual."
https://grips.semantic-web.at/display/UDDOC/Installation+Guide

[2014-02-05 19:59] janvojt opened #1184 "Document Use cases."
https://grips.semantic-web.at/display/UDDOC/Use+Cases

[2014-02-05 20:00] janvojt opened #1185 "Document use of aspects."
https://grips.semantic-web.at/display/UNVI/Use+of+Aspects

[2014-02-05 20:01] janvojt opened #1186 "Document authentication and authorization."
https://grips.semantic-web.at/display/UNVI/Authentication+and+Authorisation+Layer

[2014-02-05 21:06] skodapetr commented on #1123
You can connect directly to the odcs-database with local Frontend, is this enough?

[2014-02-05 22:37] bogo777 opened #1187 "Test GUI in different browsers"
For @tomesj also, please cooperate.

Play with GUI, look for problems mentioned in #1170. Other problems also.
Write them here or to #1170.
Please provide screenshots and browser with version. Also clear and easy as possible steps to reproduce if possible.
Use latest version or odcs-test instance(mention where the problem occured)

Test in Firefox, IE, Chrome.

[2014-02-05 22:40] bogo777 commented on #1168
I removed the "TEST" label and set the message as content of tooltip. But it doesn't show anything for me.

[2014-02-06 07:16] tomas-knap commented on #1123
I already sent Bohuslav account to get to logs. But yes, if you need access
to the db, odcs.xrg.cz:8901/conductor

On Wed, Feb 5, 2014 at 10:06 PM, Petr Škoda notifications@github.comwrote:

[2014-02-06 07:28] tomas-knap opened #1188 "Collapsing columns in Vaadin tables"
It seems that Vaadin has a direct support for the user to select which columns should be shown:

https://vaadin.com/book/-/page/components.table.html

Collapsing Columns
When setColumnCollapsingAllowed(true) is set, the right side of the table header shows a drop-down list that allows selecting which columns are shown. Collapsing columns is different than hiding columns with setVisibleColumns(), w

[2014-02-06 07:37] tomas-knap commented on #1129
Ad G) Nepomohlo by nastavit minimalWidth cele tabulce? Tedy aby trebas vypadala takto nejhure:

![screen shot 2014-02-06 at 8 36 12 am](https://f.cloud.github.com/assets/3014917/2096335/6eab9fa8-8f01-11e3-8542-7e104b7da5fb.png)

V pripade, ze ma tabulka jeste mene horizontalniho prostoru, tak se objevi horizontalni posuvnik.

Jeste dotaz, executedBy je fixni sloupec?

Ono kdyz na to ted koukam, ta

[2014-02-06 07:42] tomas-knap commented on #1129
Tu minimalWidth pro table prosim nastav nejak rozumne (aby byly vsechny sloupce aspon trochu videt, neposouvali se headers) take pro pipeline list, scheduller, exec record detail

[2014-02-06 07:55] tomas-knap commented on #1158
Jirko, melo by se to chovat takto:

Jednotlive textareas s dotazy se zpracovavaji postupne v poradi, v jakem jsou ty textarea v konfiguraci. Poradi je nutne dodrzet. Postupne se tedy od prvniho vyhodnocuji dotazy a pro kazdy se:
- pokud je to CONSTRUCT query, tak se dotaz proste provede (dle principu pro CONSTRUCT query), do vystupni data unit se prisypou nova data (tedy pripadna jiz existujici da

[2014-02-06 08:14] #1143 closed, assigned to tomesj

[2014-02-06 08:14] #1172 closed, assigned to tomesj

[2014-02-06 08:16] tomas-knap commented on #1129
Jeste drobnost, slo by do tech zavrenych comboboxu u uzkych sloupcu dava proste jen tu icon, bez nasledneho textu? Az kdyz se combo rozbali, tak tam bude videt to co ted (icon + text)

![screen shot 2014-02-06 at 9 15 47 am](https://f.cloud.github.com/assets/3014917/2096505/027a6228-8f07-11e3-9b62-70b46bbdb9f3.png)

[2014-02-06 09:49] tomesj commented on #1158
Jo, z toho, jak jsi to popsal, tak je mi to jasné, tak díky :-)
Budu to tedy aplikovat postupně výše uvedených pravidel s tím, že 1 textarea = 1 dotaz. Budu tohle issue řešit až nakonec a udělám si na to vlastní branch.

[2014-02-06 09:56] skodapetr commented on #1123
I meant use DB directly for frontend. So you can see data from odcs-test on your tomcat and replicate the issue ie. debug ... Bohuslav contact me or better Tomas for more info on skype.

[2014-02-06 10:34] kukharm commented on #1176
also in DPU Templates section/ DPU instances tab table

[2014-02-06 10:49] kukharm commented on #1111
@bogo777 please help wit this issue, i can't find where can i set the order of empty values in the filter.  The problem is in columns with boolean value (also in Sheduler table Status column)

[2014-02-06 11:00] #1175 closed, assigned to kukharm

[2014-02-06 12:02] janvojt commented on #1043
I am attaching from our email conversation.

@skodape You did some refactoring of RDF module. What is the current status? Do you have any comments on RDF reconnect aspect?

[2014-02-06 12:04] janvojt commented on #1023
Related to #1043.

[2014-02-06 12:04] janvojt commented on #968
Related to #1043.

[2014-02-06 12:06] janvojt commented on #735
What is the status of this issue? Which methods are misplaced?

[2014-02-06 12:09] skodapetr commented on #735
Já bych se v souvislosti s tím zeptal, na to jak se bindují aspecty .. jestli by bylo možné je všehny upravit tak, aby používali bind přes interface Facade (nebo jiný, jenž by třeba přímo říkla, že pokud ho implementuji tak budu ošetřený třeba proti výpadkům DB .. ) a nikoliv podle balíčku?

[2014-02-06 12:11] janvojt commented on #118
I suggest closing this issue. Creating database schema during runtime is very uncommon and even if implemented well, it will be unstable. We do not know what is the state of database, if everything is broken, only certain part is missing, whole db is missing, etc. It would be pretty hard to guess from the exception caught.

For installing, we have issue #712.

[2014-02-06 12:11] skodapetr commented on #1043
No RDF je teď rozdělený, tedy teoreticky můžeme do něj dostat spring aniž by se dostal do DPU. Na druhou stranu se zřejmě bude ještě poněkud upravovat, neb aktuálně "neodpovídá" tomu rozdělenému stavu.  A nevytváří tak ostré rozhraní z hlediska funkcionality tak jak by to mělo být - což souvisí s tím, že dříve to byl prostě jeden modul pro všechny a všechno.

@tomas-knap  Proč jsme vlastně chtěli

[2014-02-06 12:59] #1179 closed, assigned to kukharm

[2014-02-06 13:02] tomas-knap commented on #118
Initial sql execution by import script

[2014-02-06 13:02] #118 closed, assigned to janvojt

[2014-02-06 13:08] #1180 closed, assigned to kukharm

[2014-02-06 14:04] tomesj commented on #1069
Varianta 2) implementována :-)

[2014-02-06 14:07] tomesj commented on #1039
DBpedia pipeline has actually no problem with null values - it is solved thanks using onDesarialize() metod.
Re-open this issue in case of problems in the future.

[2014-02-06 14:07] #1039 closed, assigned to tomesj

[2014-02-06 14:17] janvojt commented on #1043
It works, but the code is thousands lines of mess and repeated code.

[2014-02-06 14:28] tomas-knap commented on #735
THis issue is outdated, but please answer Petr's question

[2014-02-06 15:18] janvojt commented on #735
Little off topic, but OK. Backend was already binding on Facade interface. I adjusted Virtuoso aspect in commons-app in commit 60b73fcd3cfc407554c0471e5dc5d2962e1e0725.

[2014-02-06 15:18] #735 closed, assigned to janvojt

[2014-02-06 21:54] bogo777 commented on #1111
Yes, it cannot be set directly, as combobox filter is generated by addon. We would have to override default component for filter and filter generation, as it is done for "scheduled" column in execution list...

[2014-02-06 21:56] bogo777 commented on #1129
Pri nastaveni pevne sirky tabulky se v pripade, ze je k dispozici mene mista nez je sirka, zobrazi posuvnik pro cele okno/levou cast okna u execution listu a ne primo v tabulce, coz vypada take blbe.

Byl bych pro nastaveni pevne sirky u vsech sloupcu, kde je to rozumne - ikonky, tlacitka, duration, mozna i datumy...a pro zbytek sloupcu bych nechal "natural" width = min. sirka takova, aby se tam v

[2014-02-06 22:01] bogo777 opened #1189 "Module Frontend documentation"
Describe the important groups of classes in the package - components, views. Describe the use of all add-ons (PagedTable, ... ). Describe the idea of canvas, how it is implemented so that it fits to Vaadin framework. Describe a sequence diagram showing exactly what happens when certain table (e.g. pipeline list) is being prepared. How the container in commons-app is extended with Vaadin filters. M

[2014-02-06 22:02] bogo777 opened #1190 "Model View Pattern in Frontend"
Describe general idea, describe pipeline list example in our case, describe for which views it was already applied

https://grips.semantic-web.at/display/UNVI/Model+View+Pattern+in+Frontend

[2014-02-06 22:07] bogo777 commented on #1123
From logs it seems ok. Removed some duplicit/suspicious calls in DebuggingView, but don't believe the problem was there.

[2014-02-06 23:43] tomesj opened #1191 "Developer Dokumentation - Intro"
Page: https://grips.semantic-web.at/pages/viewpage.action?pageId=52562167
- Stručné uvedení do problematiky, kterou projekt řeší
- Zasazení vytvořeného díla do kontextu existujících programových děl řešících obdobnou problematiku
- chronologický popis průběhu prací na projektu
- kritické zhodnocení přijatých řešení a možnosti dalšího vývoje

[2014-02-06 23:45] tomesj opened #1192 "Developer Dokumentation - Intro"

[2014-02-06 23:46] tomesj opened #1193 "Developer Documentation - Core DPUs"
Page:
https://grips.semantic-web.at/display/UNVI/Core+DPUs

Describe all available core DPUs, Describe an idea of the implementation.

[2014-02-06 23:50] tomesj opened #1194 "Developer Documentation - RDF-impl"
Page:
https://grips.semantic-web.at/display/UNVI/RDF-impl
- Describe the idea of openRDF, its architecture, which modules it provides, which modules we use.
- Describe the idea of repositories -  localRDF, Virtuoso. How do these repositories differ. - Describe for both repositories how they are initialized, release, where the intermediate results are stored.

[2014-02-06 23:51] #1192 closed, assigned to nobody

[2014-02-07 07:37] tomas-knap commented on #1123
Bohuslave, I did not deploy the version with logs on odcs-test yet, I will
do today and let you know

On Thu, Feb 6, 2014 at 11:07 PM, bogo777 notifications@github.com wrote:

[2014-02-07 07:39] tomas-knap commented on #1111
Bohuslave, can you please point me to the lines with custom filter?

[2014-02-07 07:53] tomas-knap commented on #1129
Bohuslave, k te sirce, urcite nastav prosim pevnou sirku vsude tam, kde to dava dobry smysl. To jsou vlastne vsechny sloupce (u pipelineList,execmonitor, scheduler) az na pipeline name, executedBy a rule u scheduleru. Bohuslave, ale kdyz ted koukam na tabulku exec monitor detail - events, tak tam se to chova rozumne. Jak je to tam nastavene? Bo standardne to vypada takto:

![screen shot 2014-02-07

[2014-02-07 07:53] tomas-knap commented on #1129
K te pevne sirce, urcite prosim zmensi status a debug:

![screen shot 2014-02-07 at 8 43 04 am](https://f.cloud.github.com/assets/3014917/2107505/8b78476a-8fcb-11e3-92f3-e7a7506a6207.png)

[2014-02-07 07:54] tomas-knap opened #1195 "Show only icon in closed combo box"
Jeste drobnost, slo by do tech zavrenych comboboxu u uzkych sloupcu dava proste jen tu icon, bez nasledneho textu? Az kdyz se combo rozbali, tak tam bude videt to co ted (icon + text)

![screen shot 2014-02-06 at 9 15 47 am](https://f.cloud.github.com/assets/3014917/2096505/027a6228-8f07-11e3-9b62-70b46bbdb9f3.png)

Bohuslav: U comboboxu muze byt bud ikona + text vzdy nebo nikdy, nevim jak by to s

[2014-02-07 07:55] tomas-knap commented on #1129
K tem combo boxum jen s ikonou, udelal jsem #1195 jako future work

[2014-02-07 07:59] skodapetr opened #1196 "Doc: Use of Spring"
https://grips.semantic-web.at/display/UNVI/Use+of+Spring

Describe which aspects of Spring we used, introduce some examples.

[2014-02-07 08:00] skodapetr opened #1197 "Doc: FileDataUnit"
https://grips.semantic-web.at/display/UNVI/Module+File+and+File-imp

[2014-02-07 08:00] skodapetr opened #1198 "Doc: Proposed RDF interface"
https://grips.semantic-web.at/display/UNVI/RDF

[2014-02-07 08:00] skodapetr opened #1199 "Doc: Module DPU Testing"
https://grips.semantic-web.at/display/UNVI/Module+DPU+Testing

[2014-02-07 08:01] skodapetr opened #1200 "Doc: Backend"
https://grips.semantic-web.at/display/UNVI/Module+Backend

[2014-02-07 08:01] skodapetr opened #1201 "Doc: Commons"
https://grips.semantic-web.at/display/UNVI/Module+Commons

[2014-02-07 08:01] skodapetr opened #1202 "Doc: Commons-app"
https://grips.semantic-web.at/display/UNVI/Module+Commons-app

[2014-02-07 08:02] skodapetr opened #1203 "Doc: Dao"
https://grips.semantic-web.at/display/UNVI/DAO+Layer

[2014-02-07 08:02] skodapetr opened #1204 "Doc: OSGi"
Renamed to "Dynamic DPU loading"

https://grips.semantic-web.at/display/UNVI/Dynamic+DPU+loading

[2014-02-07 08:03] skodapetr opened #1205 "Doc: Commons-web"
https://grips.semantic-web.at/display/UNVI/Module+Commons-web

[2014-02-07 08:03] skodapetr opened #1206 "Doc: Ontology"
https://grips.semantic-web.at/display/UNVI/Module+Ontology

[2014-02-07 12:26] skodapetr commented on #1197
The example of usage will be directly in javadoc

[2014-02-07 12:59] bogo777 commented on #1129
Upravil jsem sirky sloupcu, snad uz to vypada docela dobre. U te "natural" width, ktera se pouziva i v te Events table, se zjevne pri pocitani minimal width neberou v uvahu vsechny/aktualni radky.

Nevim presne jak to funguje, ale da se to snadno vyzkouset resizem okna. Muzu se zkusit podivat, jestli o tom nekde neco nepisou.

[2014-02-07 14:15] tomas-knap commented on #1129
Takhle, podstatne je, aby to fungovalo nejak rozumne, tedy sloupce, ktere mohou mit pevnou sirku, necht ji maji. Ale nesmi se stat toto (viz sloupec pipeline name):

![screen shot 2014-02-07 at 3 14 57 pm](https://f.cloud.github.com/assets/3014917/2110403/40cfc760-9002-11e3-92d4-b9faf02d37ad.png)

[2014-02-07 14:17] tomas-knap commented on #1129
Bohuslave, jeste bych poprosil udelat tam konstanty, ktere budou drzet aktualni pozadovane sirky sloupcu. At nemusim v budoucnu resit, ze chci upravit sirku, ale zapomenu to upravit na vice mistech. Tedy necht je v uvodu tridy serie konstant typu "COLUMN_PIPELINE_NAME_WIDTH"

[2014-02-07 15:31] tomesj commented on #1158
Tak SPARQL transformer je hotový a odzkoušený. Podporuje více dotazů, správně validuje. Co 1 text area, to 1 dotaz. Text areu jsem i trochu zmenšil.
Větev ve které jsem to dělal přimergovaná do mastera :-)

[2014-02-10 07:19] tomas-knap opened #1207 "Action buttons - cancel button order"
Cancel button should be the second, so that the detail buttons are in one column:

![screen shot 2014-02-10 at 8 17 35 am](https://f.cloud.github.com/assets/3014917/2123077/8f65ed28-9223-11e3-998f-101e422f973a.png)

Solution: Cancel should be after view detail for the running pipelines.

[2014-02-10 07:20] tomas-knap opened #1208 "Execution monitor refresh causes the whole table blinks"
When execution monitor is refreshed, it is blinking, which was not happening before. See ODCS-test

[2014-02-10 07:22] tomas-knap commented on #1123
Please check the deployment on ODCS (your logs are available there) . It must be solved, it looks really ugly. Right now, it always dissapers for the first time exec detail is shown. When clicking on different exec record, it reappears. Urgent issue

[2014-02-10 07:27] tomas-knap opened #1209 "Duration times not aligned"
![screen shot 2014-02-10 at 8 26 11 am](https://f.cloud.github.com/assets/3014917/2123117/cbee3204-9224-11e3-8cd2-b501edb30f2e.png)

[2014-02-10 07:28] tomas-knap commented on #1129
Dodelej prosim ty konstanty, at muzem uzavrit. Jinak jsem spokojen.

[2014-02-10 07:29] tomas-knap commented on #998
@skodape Petre, dodej prosim, at muzem dale testovat

[2014-02-10 07:34] tomas-knap opened #1210 "The height of the DPU template - DPU tree should reflect the height of the screen"
Currently, there is fixed height of the DPU tree.

Solution: The DPU tree should fill the space being available. So the height should be computed dynamically. As a result, such situation will not happen:

![screen shot 2014-02-10 at 8 30 56 am](https://f.cloud.github.com/assets/3014917/2123144/8398ce0a-9225-11e3-9b1f-595163f048b3.png)

[2014-02-10 07:39] tomas-knap commented on #1118
@skodape Is this solved?

[2014-02-10 07:39] tomas-knap commented on #1111
@bogo777

[2014-02-10 07:40] tomas-knap commented on #1099
Marie, could you please debug this problem?

[2014-02-10 07:44] tomas-knap commented on #1208
Also when loading pipeline list, first record is loaded first and then the rest (also such problem does not happen before)

[2014-02-10 08:17] skodapetr commented on #1118
Welll I only add function isTemplate(), so I think from my side all done. But it's up to the Maria to use this function in dialogs.

[2014-02-10 08:20] tomas-knap commented on #1118
Marie, use this function. Ask Petr, if needed

[2014-02-10 09:39] tomas-knap commented on #1208
Happens in all tables

[2014-02-10 10:51] tomas-knap opened #1211 "Download logs - not working properly?"
When launching pipeline from canvas and clicking on "download logs" as the pipeline is still running, nothing happens - tested for exec 348 on ODCS-TEST

Please test download logs, you can use ODCS-test

[2014-02-10 11:37] tomas-knap commented on #1211
Does not work anywhere

[2014-02-10 12:55] skodapetr commented on #1211
poznámka: zkoušel jsem na ODCS na exec 667 z monitoru a tam vše pracovalo jak mělo.

[2014-02-10 15:20] tomas-knap opened #1212 "Log properly how long the SPARQL loader was executed"
Tady jen upozornuju, ze to ze loader bezi dlouho muze byt i tim, ze nebezi cilove virtuoso, coz se muze stat kdyz bezi archivace, nebo kdyz to spadne atd. Bohuzel to jde poznat z logu jen v debug rezimu, v beznym to ten loader nehlasi, takze vubec neni jasny co se delo a co jak dlouho trvalo. Nejjednodussi by mi prislo v loaderu zaznamenavat casy straveny neuspesnejma a uspesnejma pripojenima a pa

[2014-02-10 15:40] kukharm opened #1213 "pipeline definition has been changing when backed was offline"
nemame to osetreno

[2014-02-10 16:23] skodapetr opened #1214 "FileDataUnit - Iterator"
Add possibility to iterate over three structure of the FileDataUnit.

[2014-02-10 16:46] tomesj opened #1215 "Add replacement feature for SPARQL update queries in SPARQL transformer"
Same as for Construct queries in SPARQL transformer

[2014-02-10 17:33] #1174 closed, assigned to bogo777

[2014-02-10 17:33] #1207 closed, assigned to bogo777

[2014-02-10 17:33] #1209 closed, assigned to bogo777

[2014-02-10 18:28] bogo777 commented on #1089
Problem is propably in showing the log...

[2014-02-10 19:27] #1176 closed, assigned to bogo777

[2014-02-10 19:40] #1136 closed, assigned to bogo777

[2014-02-10 19:56] bogo777 commented on #1208
It looks like some delay in db access:

For pipeline list:

[code]

execution list:

[code]

@skodape @janvojt Any ideas?

[2014-02-10 20:22] skodapetr commented on #1208
Jde o to, že se nejprve načte první řádek a až pak ostatní? (btw. mě to přišlo na jednu stranu docela cool 0: )
Není to prostě to jak se přenáší data v tabulce? Nebo myslíš Bohuslave, že je to opravu tím, že ten load z DB trvá 0.7 vteřiny? - myslíš, že je možné .. že se vyrenderuje stránka a až pak se renderují a poslají položky?

[2014-02-10 20:34] janvojt commented on #1208
I agree with Petr, the log does not tell anything about the speed of SQL query. The .7 seconds between the 2 queries may be just some slow java code in between. Did you try to execute query from console?

[2014-02-10 20:39] janvojt commented on #1208
I do not think the query `SELECT ID, full_name, u_password, table_rows, USERNAME, email_id FROM usr_user WHERE (ID = ?)` is going to be problematic, I am guessing there are only few users in DB. Even if there were many, we are searching with primary key, that must be fast.

[2014-02-10 20:42] bogo777 commented on #1208
I didn't mean that the SQL is responsible for the slowness, but from what I remember from debugging containers and tables, all these queries are result of single command at the frontend/table level. So if this isn't slowness of db(which it almost certainly isn't) this is most propably issue of container or PagedFilter addon. I think I saw some "DbCachedSource" in commits from @skodape which I thou

[2014-02-10 21:16] skodapetr commented on #1208
I can replicate on local host for 4 pipelines, which is positive as I can debug. I may try to add logs into DataSource and container to see what happens on background. But I do not see any reason for such behaviour on first glance.

@bogo777 I may try older version of the container first .. to try this I just need to update pom.xml for frontend?

[2014-02-10 22:13] bogo777 commented on #1208
Yes, that should be enough. The previous working version was:
<artifactId>filteringtable</artifactId>
<version>0.9.0.v7</version>

[2014-02-11 09:13] jakubklimek opened #1216 "Transaction roll back?"
![image](https://f.cloud.github.com/assets/718827/2135340/b4111b78-92fc-11e3-89e7-5913c3292d3e.png)

[2014-02-11 09:23] tomas-knap opened #1217 "Pipeline executions and cancel"
Pipeline exec 687 ODCS - skoncila ve stavu failed, ale neni tam zadna event typu error. To je divne. Je tam jen ERROR.

Jak k tomu doslo: Pipeline bezela, Kuba ji zrusil, nez dobehlo zruseni tak jsem restartoval backend.

Jeste je tam jeden problem, kdyz je DPU cancelled, tak ikdyz to ruseni dobehne v pohode, tak pri restartu pipeline by se to DPU nemelo preskocit a melo by se znovu provest. Podle

[2014-02-11 09:26] skodapetr commented on #1217
Ke druhé části, pokud je pipeline ve stavu cancelled a udělá se restart tak se DPU již neprovádí. Tedy tohle bychom museli zahrnout jako požadavek na novou feature.

[2014-02-11 10:38] skodapetr commented on #1208
Well, with the older version all the data are shown at once. So it's probably problem-feature of the container (version 0.9.4.v7).

[2014-02-11 11:02] tomas-knap commented on #1208
Is there any problem with the older version, or we switched to the newer one just because such version was available?

[2014-02-11 11:03] tomas-knap commented on #1217
jj, tak to bylo myslene. Jelikoz tim, ze bylo zrusene, tak se da ocekavat, ze neudelalo spravny output a tudiz nema cenu pokracovat od dalsiho

[2014-02-11 12:43] tomas-knap opened #1218 "Test for executeSelectQuery missing"
Please prepare junit tests for these methods:

rdfdataunit.executeSelectQueryAsTuples(query)
rdfdataunit.executeOrderedSelectQueryAsTuples(query)

I need to see junit tests. Further, when done, check that every method of rdfDataUnit interface has at least one test. If not, add these tests.

Motivation: The methods above seems to work strange. Cannot test XSLT DPU.

[2014-02-11 13:49] bogo777 commented on #1208
Motivation for upping the version was possible solution to #1025, but if it actually helped wasn't confirmed. For me, the tooltips didn' t show even after the update.

[2014-02-11 13:50] tomas-knap commented on #1208
For me, tooltips are working. But I do not know if that was because of that update

[2014-02-11 13:51] tomas-knap commented on #1208
Petr has downgraded the version, I will try it out

[2014-02-11 14:39] tomas-knap commented on #1218
Dokonci nejdriv doc

[2014-02-11 15:46] tomas-knap opened #1219 "Adjusting requirements"
For the pages below, it is necessary to read them through, check all the text and adjust if needed. Especially the red text has to be adjusted.

https://grips.semantic-web.at/display/UNVI/Debug+Pipeline

https://grips.semantic-web.at/display/UNVI/DPU+Configuration

https://grips.semantic-web.at/display/UNVI/DPU+-+Validator+of+RDF+data

https://grips.semantic-web.at/display/UNVI/DPU+-+RDF+File+Extr

[2014-02-12 11:37] tomas-knap opened #1220 "When SPARQL extracting data, optionally, LIMIT/OFFSET pattern should be used"
When SPARQL extracting data, it should be possible to define (optionally) possibility to get data not in one query, but via more queries using LIMIT/OFFSET pattern.

Motivation: Problem with bigger data if there is not a proper settings in virtuoso.ini of remote servers.

[2014-02-12 13:15] janvojt opened #1221 "When pipeline canvas is open, controls and DPU tree are misplaced."
DPU tree are placed above canvas. After a mouse pointer is moved (any movement), it is moved to correct location. Note that to reproduce you cannot move mouse after clicking on pipeline in pipeline list.

![screenshot from 2014-02-12 14 12 41](https://f.cloud.github.com/assets/2247062/2148536/c5f550fc-93e7-11e3-8c8c-ed7859ff7499.png)

[2014-02-12 13:30] #1125 closed, assigned to janvojt

[2014-02-12 13:55] Jan-Marcek opened #1222 "Sparql Loader inserting problem"
Hello,

I get this error message: Inserting failed to 1/13 data part. HTTP/1.1 400 Bad Request. Inserted data has wrong format. Caused by Virtuoso 22023 Error The request does not contain text of SPARQL query URL endpoint: http://localhost:8900/sparql-auth POST direct content: INSERT

I have a problem with uploading rdf's file to a virtuoso server. I'm using the SPARQ loader. I created pipeline in

[2014-02-12 13:57] Jan-Marcek opened #1223 "Sparql Loader inserting problem"
Hello,

I get this error message: Inserting failed to 1/13 data part. HTTP/1.1 400 Bad Request. Inserted data has wrong format. Caused by Virtuoso 22023 Error The request does not contain text of SPARQL query URL endpoint: http://localhost:8900/sparql-auth POST direct content: INSERT

I have a problem with upload rdf file to a virtuoso server. I'm using the SPARQ loader. I created pipeline in the

[2014-02-12 16:16] tomesj commented on #1223
Hello,
POST direct is not supported for Virtuoso (as RDF storage).

Motivation is that you should load to potencially different storages (like Fuseki, 4store,Bigdata, etc.).

Params in HTTP tab (like query, default graph param,...) depends on setting for your concrete target storage.

If your target storage (SPARQL endpoint) is Virtuoso then
- use default parameters set in dialogue
- use method PO

[2014-02-12 22:30] tomesj commented on #1219
Stránky jsem si přečetl :-) To, co se mi nezdálo jsem opravil, přepsal na aktuální stav, případně napsal výtky do komentáře.

[2014-02-13 08:29] tomas-knap opened #1224 "Popsat lepe role user/Admin v user doc, zkontrolovat v requirements spec."
Koukni na to Petre prosim
1. Nejsou tam poradne nekde v uvodu vysvetlene ty role user/admin. To musi byt, nejlepe nekde dole na hlavni strane za popisem sekci

Potrebuju aby to mi nekdo vysvetlil. Honza, Petr? Kdo o tom nejvic vi? v requirements specification to take nepopsano poradne https://grips.semantic-web.at/display/UNVI/System+roles (na to jsem uz upozornovala v jednem z predhozich mailu)

[2014-02-13 09:01] skodapetr opened #1225 "Pipeline edit"
Nevim zda je aktualni ale:
1) Zalozim pipeline, nastavim ji na publiv_rw, prihlasim se jako jiny uzivatel (ne admin) a mam moznost zmenit (ten selectio je enabled) viditelnost na public_ro.

2) Dalsi vec je, takovou pipeline nemohu smazat .. nemelo by se pak skryt to tlacitko pro mazani? (takhle mi to dovoli kliknout, pak nasleduje hlaska, ze to nelze).

@tomas-knap To by tak tusim byt nemelo.

[2014-02-13 09:17] skodapetr commented on #1224
Neco jsem zkusil, ale neni to zrovna moc ukecane tema ..

[2014-02-13 09:38] Jan-Marcek commented on #1223
It's a bit clear.

In fact, I successfully use the SPARQL module with two other rdf's file. But the one what I mentioned doesn't want to work properly with the same settings. Which is strange for me. You can see it at "http://odcs.xrg.cz:8080/odcleanstore-test/". Name of the pipeline is "test org".
Please, take a look. It could be a bug.

[2014-02-13 09:52] tomesj commented on #1223
I saw "test org" pipeline
- your setting "Query param" and "Default graph" param is wrong (you use empty values)

Default setting is:
Query param - update
Default graph - using-graph-uri

These default params can you see if you drag SPARQL loader on the canvas and see detail.

[2014-02-13 10:04] Jan-Marcek commented on #1223
I had those parameters before. My mistake that I didn't change them back.

if you set your parameters (Query param - update, Default graph - using-graph-uri) then you will see the error.So please, run the pipeline. It will take you 30 seconds.  Thank you.

[2014-02-13 10:39] tomesj commented on #1223
cz.cuni.mff.xrg.odcs.rdf.exceptions.RDFException: Inserting failed to 1/13 data part. HTTP/1.1 400 Bad Request. Inserted data has wrong format. Caused by Virtuoso 37000 Error SP030: SPARQL compiler, line 0: Bad character '?' (0xc4) in SPARQL expression at '?'
in
sparql_to_sql_text:(BIF),
<Top Level>

You use some invalid data or bad forbidden characters that are not supported in target SPARQL endp

[2014-02-13 11:22] Jan-Marcek commented on #1223
Thank you.

I changed a configuration of the "test org" pipeline and it works. (you can take a look). I changed the parameter SPARQL endpoint to http://localhost:8900/ (from: http://localhost:8890/sparql-auth). The data isn't the problem. It leads to the fact the problem is in SPARQ loader. I think there is the problem how you encode/decode data to SPARQL query.

[2014-02-13 11:24] Jan-Marcek commented on #1223
..and If you look to a log you will see that VALIDATION of rdf's file was finished successfully.

[2014-02-13 12:57] Jan-Marcek commented on #1223
The rdf file is here: https://www.dropbox.com/s/mwqgd2s1qg6gy8e/org.rdf
After all I find out that when you upload rdf via update via POST directly (application/sparql-update) then it works..

[2014-02-13 15:13] tomas-knap commented on #1225
ad 1) To by nemelo jit. Menit by to mel mit moznost jen Administrator a autor pipeline. Tohle je na @janvojt

ad 2) Uprav prosim @bogo777

[2014-02-13 15:36] janvojt commented on #1225
ad1) Hmm, implementacia nebude uplne jednoducha. Musel by som si pri volani save nacitat pipeline z db a porovnat ci user meni stav. Logicky to aj trochu dava zmysel tak ako to je - ak mozem napr z pipeline zmazat vsetky dpu, preco by som ju nemohil zmenit z rw na ro... Kazdopadne, nebude najjednoduchsie proste len v UI disablovat ten radiobox? Tympadom by to bolo na Bohuslava. :D

ad2) schovavani

[2014-02-13 15:40] tomas-knap commented on #1225
To by mi davalo smysl, tedy ze menit radiobox je k dispozici pouze autorovi pipeline/adminovi. Pro ostatni je taky k dispozici, ale greyed. To jsi myslel?

[2014-02-13 15:43] skodapetr commented on #1225
Je to zkoušeno na ODCS-test .. tedy je možné, že aktuální není a asi nebude pokud jsi tam dělal takovou změnu. Proto jsem tím ihned uvozoval začátek issue.

Co se týče 1) byl bych spíše pro disable toho switche (tak jsem to i myslel) .. ke myslu po zamyšlení možná, ale když jsem tou aplikací klikal jako user tak mě to překvapilo. ppřeci jen že smažu vše pipeline dá to práci .. tak asi proč by né.

[2014-02-13 15:43] janvojt commented on #1225
Ano.
On Feb 13, 2014 4:40 PM, "Tomas Knap" notifications@github.com wrote:

[2014-02-13 15:50] tomas-knap commented on #1193
Pripominky: Marie v nekterem z poslednich mailu psala, dle jake zasady se pouziva bolded font. To je treba dodrzet, nic dalsiho neztucnovat:

Pokud je to nazev  GUI sekce, tak je tucne a velkym pismem napr Execution monitor a i uprostred vety
Pokud je to nazev pole ci tlacitka v  dialogu, jsou tuna kurziva  a velkym pismem take (uprostred vety) napr Cancel button, Description field.
Pokud je to je

[2014-02-13 16:06] Jan-Marcek commented on #1223
Hello again,

The problem is occurred when the data is processing.
The data contains this line:

[code]

When you change to

[code]

then it'll successfully work.

First URI is correct.  According to the definition of URI: http://www.w3.org/TR/2004/REC-rdf-concepts-20040210/#dfn-URI-reference.

I tried http://www.w3.org/RDF/Validator/ on this rdf and it said that it's correct rdf.
Problem is somew

[2014-02-13 16:09] tomas-knap commented on #1193
Projdi znovu, neda se to cist, oprav preklepy

[2014-02-13 16:31] tomas-knap commented on #1193
oprav vsude to finded

[2014-02-13 16:36] tomas-knap commented on #1154
cannot reproduce

[2014-02-13 16:36] #1154 closed, assigned to tomas-knap

[2014-02-13 16:37] tomesj commented on #1193
Má to být found nebo něco jiného ?

[2014-02-13 16:38] tomas-knap commented on #1208
Please try to debug DBpedia pipeline on http://odcs.xrg.cz:8080/odcleanstore-test/
When exec monitor is refreshed, the table also always disappears (except of the first line) and reappears

[2014-02-13 16:39] tomas-knap commented on #1168
Tooltip currently not working, probably because of #1208

[2014-02-13 16:40] #1129 closed, assigned to bogo777

[2014-02-13 16:43] tomas-knap commented on #1211
Seems to be working again - on odcs-test

@bogo777  Did you change something?

[2014-02-13 16:46] tomas-knap commented on #1193
jj

[2014-02-13 16:51] tomas-knap commented on #1144
Je to enhancement, tedy budu rad kdyz to udelas, ale premlouvat te nebudu

[2014-02-13 18:18] tomesj commented on #1193
Tak jsem opravil chyby, co jsi psal a ještě jsem našel a opravil další díky free-spell checkeru. Sám jsem našel jen 1 a check mi jich našel ještě dalších asi 6, které jsem předtím vůbec neviděl.
Dám to pak pro jistotu ještě někomu přečíst.

Jinak jsem tam použil ty styly fontování, co psala Marie. Doufám, že je to v tomhle ohledu vše dobré. Kdyby se něco nelíbilo, dejte mi vědět.

[2014-02-14 07:34] tomas-knap commented on #712
Honzo, also please do not forget to export/import caches - global/user - they are in backend/working folder (under the folders for the dpus or under the folder for the users)

[2014-02-14 09:43] tomas-knap commented on #1036
This feature seems to be important, as DPU developer is typically adjusting DPUs couple of times and if having more than one instance of ODCS, he easily forgets where is which version deployed.

[2014-02-14 11:40] tomas-knap opened #1226 "Filtering for events table missing (in a similar way as for logs table)"

[2014-02-14 14:27] skodapetr commented on #1222
Duplicit to #1222, closing

[2014-02-14 14:27] #1222 closed, assigned to nobody

[2014-02-15 16:41] #1210 closed, assigned to bogo777

[2014-02-15 17:08] bogo777 commented on #1144
Status se čte z db, kam jej ukládá backend, změna by se tedy musela udělat také tam. Pokud to @skodape upravi tam a nejlepe asi @kukharm upravi ikonku, tak to neni problem.

[2014-02-15 20:53] bogo777 commented on #1123
I tried downgrading Vaadin version back to 7.1.8(last version used before 7.1.10) and it looks that tabs are working correctly again.

But this problem didn't occur on my local for some time, so I don't know, if it really helped. So, please deploy frontend with downgraded Vaadin and we'll see...

[2014-02-15 21:34] #1226 closed, assigned to bogo777

[2014-02-15 21:36] bogo777 commented on #1012
Do you mean simple error message with the text, or the one with "click here" link which sometimes occur too? That one is for Vaadins internal problems and I don't know if we can invoke it on demand...

[2014-02-15 23:07] #1218 closed, assigned to tomesj

[2014-02-16 10:27] tomas-knap opened #1227 "Email report contains URL to the executed pipeline."
Email report contains URL to the executed pipeline.

This should be easy and useful.

[2014-02-16 10:45] tomas-knap opened #1228 "Warnings to be solved"
Zbyly tyhle problémy  (které jsou podle rozpisu přiřazené Marii):
commons  - 39 warnings
commons-web- 10 warnings
commons-module - 6 warnings
module-test - 30 warnings

If you do not know, please ask others

[2014-02-16 10:53] tomas-knap commented on #1012
It could be the normal one

[2014-02-16 10:55] tomas-knap commented on #1012
@bogo777  Please write here short description how you intend to solve the exceptions. Just to know that we comprehend it in the same way

[2014-02-16 11:25] tomas-knap commented on #1219
Cist +
https://grips.semantic-web.at/display/UNVI/Core+DPUs

[2014-02-16 11:33] tomesj commented on #1219
Číst - chápu to jako čtení dokumentů a dokumentace obecně (co vzniká)
Core DPUs - to jsi myslel jak ? Stránku jsem v poslední době upravoval mnohokrát. Doufám, že už tam chyby nebudou. Nyní jsou tam komentáře Petra a moje a čekáme až se k tomu vyjádří někdo další... Jak to vidíš ty ?

[2014-02-16 12:31] tomas-knap commented on #1219
To je poznamka pro me, tedy ted je to na me, abych to prosel. Jen se prosim ujisti, ze tam nejsou zadne nesmysly

[2014-02-16 12:47] tomas-knap commented on #1220
Myslenka je takova, ze v dialogu se objevi na zalozce details novy checkbox + textbox, viz mockup:

https://grips.semantic-web.at/display/UNVI/DPU+-+SPARQL+Extractor

Tuhle zmenu v GUI prosim udelej sam at necekas na Marii, mela by to byt drobnost na 20min.
Co je treba upravit na strane funckionality? Pokud bude vyse uvedeny checkbox odskrtnuty (defaultni moznost), tak se to chova jak ted. Pokud b

[2014-02-16 12:48] tomas-knap commented on #1215
Jirka:
Teď jsem se chtěl pustit do implementace té DPU replacement pro update query, ale má tam vůbec smysl ?

Máme nějaké vůbec reálné využití toho pro update query ? Žádné mě totiž nenapadá. Myslím, že pro update to vůbec není potřeba. Update se provádí nad těmi data, co mám v transformeru. Když už tam vedu hranu, tak nad nimi dotaz provádět chci.

Tomas:
To neni pravda. Update query ma tvar:

I

[2014-02-16 13:10] tomesj commented on #1215
Jako mě je jasné, jak to myslíš, jen se bojím, aby tam nebyl nikde zádrhel.

Možná mi napiš příklad nějakého update dotazu,kde to bude použito, abych se přesvědčil, že to co už máme, můžeme použít i tady.

Teoreticky asi jo, ale chtěl bych mít jistotu, než tam budu něco měnit. Jinak pak bude asi potřeba změnit komentáře v dokumentaci a názvy metod, ale to nebude takový problém.

Díky

[2014-02-16 13:12] tomesj commented on #1219
Díky za ujasnění.
No já doufám, že tam nesmysly nebudou. Projel jsem ti i spell checkerem a nic mi to už nenašlo, Petr si to také četl. Jak jsem psal - jsou tam akorát místy ty naše komentáře - záleží jak se to vyhodnotí.

[2014-02-16 13:23] tomesj commented on #1220
A jak řešit případy, když budu mít už limit jako součást dotazu - viz naše DBPEDIA, kde to máme omezené na 100 triplů. Jak to potom řešit. To přeci nebude fungovat - 2x LIMIT být nesmí.

[2014-02-16 13:36] tomas-knap commented on #1215
Jirko, to pouziti tech placeholderu je presne stejne jako u construct
queries. Tam neni zadny rozdil. Priprav prosim v tech JUNITech jeden
construct a jeden sparql update. Posli mi ten construct/sparql dotaz, ktery
chcec pouzit a testovaci data, na ktera ho chces pouzit a ja ti ho
zkontroluju.

2014-02-16 14:10 GMT+01:00 Jiří Tomeš notifications@github.com:

[2014-02-16 13:37] tomas-knap commented on #1220
Vzdyt rikam, ze kdyz uz tam limit je, tak zahlasis, ze to nejde rozdelit, protze uz tam jeden limit je

[2014-02-16 13:40] tomesj commented on #1220
Jo, už to vidím :-) V tom případě v pohodě :-)

[2014-02-16 21:08] tomas-knap commented on #1123
Just tested on localhost so far. When opening exec record detail, fistly, the tab labels are hidden, but they appear after few seconds. Will test on odcs-test

Btw. What is the order in which the dialog is initialized? It seems to me that firstly the table with events is loaded and then the tab labels are set. It should be oposite.

[2014-02-16 22:40] bogo777 commented on #1123
Was it detail of running execution? Automatical refresh fixes it like clicking on other detail.

Each component is added to TabSheet in one command with tab name:
tabs.addTab("Events", eventsTable);
So if the component occurs in tab sheet, the label should be there too.

[2014-02-16 22:44] bogo777 commented on #1012
We use error handler for exceptions which are not caught in the code. We look for some exceptions and provide custom error messages. e.g. "Database is offline!"
For rest, the original error message is shown.

I would change the last "unrecognized" category only. We would provide common error message shown for all of these exception and the original cause would be logged.

[2014-02-17 07:40] tomas-knap commented on #1012
Ok, so basically the change will be that basically all unrecognized exceptions will be hidden (logged) but instead of them some general error will be shown. If yes, than I agree.

[2014-02-17 09:28] tomas-knap opened #1229 "Please test national characters in configuration for mysql/virtuoso7"
Create new pipeline with e.g. RDF loader. Then, put some national chars to the path in the RDF loader detail and to the description of the RDF loader. Store to db and reopen. Please test that for mysql and virtuoso7 and tell me the result (for both fields - description, path to file).

Motivation: Currently, there is a problem with national chars in Virtuoso6. It can be solved by switching the typ

[2014-02-17 09:28] tomas-knap commented on #1229
It is urgent, because national chars are wrongly handled on odcs/odcs-test currently

[2014-02-17 09:59] tomas-knap commented on #1208
@skodape  Where was the problem?

[2014-02-17 10:15] skodapetr commented on #1208
Byl v tride DbCachedSource source. Když jsem tam přidával ochranu proti chybě "Array can't cast to String" nebo jak to je (je to ta chyba v zobrazeni logu, kdyz jsou moc dlouhe a spatné). Tak jsem tam zanesl tento bug - mimo debug není zase až tak viditelný a proto jsem si ho nevšiml.
Nicméně ono ta ochrana stejně byla k ničemu, neb to sice tabulka přežila ale spatla aplikace na nejbližším dotazu.

[2014-02-17 10:29] skodapetr commented on #1227
Add frontend.url into backend's configuration file .. it should be url of the respective frontend.

[2014-02-17 10:58] tomas-knap commented on #1123
It seems that the downgrade works, tabs do not disappear. tested on odcs-test

[2014-02-17 10:58] #1208 closed, assigned to skodapetr

[2014-02-17 11:04] tomas-knap opened #1230 "Minor issues in exec detail tables"
1) Column type in log table should have the same size (minimum) as in case of exec detail - events table.

2) When resizing exec monitor detail - the column date/timestamp on tables events/log should have fixed width

3) Use either date or timestamp as a label for column in both cases (logs/events table)

4) DPU instance column should have the fixed width based on the longest DPU instance name (if

[2014-02-17 11:04] #1228 closed, assigned to skodapetr

[2014-02-17 11:06] #1069 closed, assigned to tomesj

[2014-02-17 11:06] #1123 closed, assigned to bogo777

[2014-02-17 18:15] skodapetr opened #1231 "DPU's config check"
Při načítání dpu zkontrolovat, že konfigurace (je-li obsažena) má bezparametrický konstruktor a informovat o tom příslušnou hláškou.

[2014-02-17 21:28] #1225 closed, assigned to bogo777

[2014-02-18 11:54] tomas-knap opened #1232 "Update virtuoso provider for sesame"

[2014-02-18 14:46] tomas-knap opened #1233 "File data unit - minor improvement in interface"
Add method:
FileHandler addNewFile() throws DataUnitException;

The name for the file is automatically generated

[2014-02-18 14:47] skodapetr commented on #1233
Any suggestions for file name? Like (new Date()).getTime() ?

[2014-02-18 14:55] tomas-knap commented on #1233
JJ, muze byt, pripadne pouzij guid

On Tue, Feb 18, 2014 at 3:47 PM, Petr Škoda notifications@github.comwrote:

[2014-02-19 09:00] tomas-knap opened #1234 "Virtuoso 7 - initializing db with schema.sql script"
Problem:

SQLState: 42S02
Message: SQ090: Bad table DB.ODCS.DPU_INSTANCE in trigger delete_instance_logs definition

-- TRIGGERS      ######################################################

-- BEGIN VIRTUOSO ONLY

CREATE TRIGGER delete_instance_logs BEFORE DELETE ON "DB"."ODCS"."DPU_INSTANCE" REFERENCING old AS o
{
    DELETE FROM "DB"."ODCS"."LOGGING"
        WHERE dpu = o.id;

[code]

}

SQLStat

[2014-02-19 09:33] tomas-knap opened #1235 "Virtuoso 7 - problems when opening logs for dbpedia pipeline"
The following error occur when running dbpedia pipeline on top of Virtuoso 7 and then trying to browse logs. @janvojt Can you please reproduce on localhost?

It may be reproduced on dbpedia pipeline.

[code]

[2014-02-19 09:36] tomas-knap opened #1236 "When clicking on clear filters on scheduller, filter appears for actions"
Please check that no extra filter appears for actions on scheduller window and also on the others.

[2014-02-19 09:40] tomas-knap commented on #1235
Also it appears sometimes when opening pipeline detail:

[code]

[2014-02-19 09:41] tomas-knap commented on #1235
Otherwise Virtuoso 7 seems to be working fine

[2014-02-19 09:43] tomas-knap opened #1237 "When clicking on Copy pipeline after creating and not saving new"
To reproduce:
- click create new pipeline.
- click copy pipeline

As a result, error occurs:

![screen shot 2014-02-19 at 10 41 49 am](https://f.cloud.github.com/assets/3014917/2205126/1a39fdc2-994a-11e3-9b50-066f6462502e.png)

The best solution would be to enable copy button (copy and close) only when the pipeline was saved for the first time before.

[2014-02-19 09:45] tomas-knap commented on #1235
This issue happens really often and has to be solved

[2014-02-19 10:25] tomas-knap opened #1238 "Problem with not responding frontend when certain DPU is logging more extensively"
This is not a task solely for Buhuslav, but a joint effort is needed (@skodape @janvojt):

Problem: When certain DPU is logging quite extensively, the whole GUI is unusable. When opening exec detail of a running pipeline, it loads and loads, but it takes really long before something happens. For other users, the GUI is not usable at all.

It is urgent, because it was discovered by Jakub as he was

[2014-02-19 10:34] skodapetr commented on #1238
4) try some background data loading ..
But this would require more then some background data loading for ROC's data sources ... so I would   left this as the last possible enhancement/solution.

[2014-02-19 19:36] #1201 closed, assigned to skodapetr

[2014-02-19 19:36] #1206 closed, assigned to skodapetr

[2014-02-19 19:39] #1197 closed, assigned to skodapetr

[2014-02-20 10:18] #1205 closed, assigned to skodapetr

[2014-02-20 10:20] tomas-knap commented on #1204
Nechapu: The loading-unloading of DPUs on non-developer instance is rare. Thanks to this we may assume that the resources-services-classes will almost not be uninsulated. With this feature it may be easier to add some additional support-functionality without using the third-party framework.

Prosim vysvetli lepe

[2014-02-20 10:25] tomas-knap commented on #1204
Zminil bych tam, ze mame ten skript (zatim jen PowerShell?), ktery nam usnadni praci pri uspokojovani zavislosti.

[2014-02-20 10:29] tomas-knap commented on #1203
Toto nebude jasne ctenari:
This object is a parameter in all interfaces, which should secure compile time control of the given dao layer implementation. The idea is to prevent user using dao layer for object A together with object B. It also specified that every object that can be possibly handled by dao implementation must provide some identification - id.

[2014-02-20 10:29] tomas-knap commented on #1203
Proc potrebujem data query a query count? "empty interfaces for data query and query for count. " To je treba vysvetlit

[2014-02-20 10:30] tomas-knap commented on #1203
Chtelo by to nejaky aktivity diagram, ktery ukaze, co se stane, kdyz se ta dao vrstva pouziva trebas pro naplneni nejake tabulky v GUI. Jinak neni jasna motivace tech jednotlivych trid. A tim diagramem ukazes pouziti dao i kontejneru. Je mozne ze to mas nekde u GUI, pak staci odkaz.

[2014-02-20 10:40] #1199 closed, assigned to skodapetr

[2014-02-20 10:46] tomas-knap commented on #1200
Jo, to se mi libi

[2014-02-20 10:46] #1200 closed, assigned to skodapetr

[2014-02-20 11:47] bogo777 commented on #1238
So the problem is that the database is flooded with data from logging and it takes long to handle requests from frontend?

Only thing that I think could be improved in the frontend is to check whether the last refresh is finished and if not, simply not start another until it is.
This could be easily realized for the "isChanged" queries which check for new/modified data, for refreshing the actual d

[2014-02-20 12:16] skodapetr commented on #1238
Tak jsem se na to díval .. chtěl jsem se podívat na logy z SqlAppenderu .. jak loguje a vytěžuje DB (neb loguje po kolika lozích ukládal do DB a jak dlouho mu to trvalo).
Jenže jsem žádné logy nenašel .. tedy jsem to pustil na localu a tam taky žádné nejsou.

Loguje se totiž v části kde se logy ukládají dávkově. Tedy jsem s zjistil .. že se aktuálně logy ukládají do DB po jednom ...

Proč se loguj

[2014-02-20 12:22] tomas-knap commented on #1238
@janvojt Honzo, koukni na to prosim co nejdriv.

Je potreba, aby to logovalo po tech davkach pres sdilene connection

[2014-02-20 13:04] skodapetr commented on #1238
Well ... it looks like a commit:
https://github.com/mff-uk/ODCS/commit/4ba33bb890e417f7f7c2acb577180ded3df5b143
still works, while in the next commit:
https://github.com/mff-uk/ODCS/commit/e0369f4e035b72dcfcea11f571e43274e5689811
we get supportsBatchUpdates  == false.

So the problem is probably somehow connected with addition of mysql functionality.

[2014-02-20 13:14] #1224 closed, assigned to skodapetr

[2014-02-20 13:54] tomas-knap commented on #1238
Actually there are three issues at the moment:

1) logger which inserts logs via dumps not working (see above). It was working before @janvojt merged mysql branch to master.
2) Query on count of records for the given exec takes quite a lot of time (0.4s for 1mil records). Could we solve that by having an extra table/column with counts of logs for each execution, which is updated via a trigger?
3)

[2014-02-20 14:28] tomas-knap commented on #1238
We may consider: https://dev.mysql.com/doc/refman/5.5/en/insert-delayed.html

[2014-02-20 14:32] tomas-knap commented on #1238
ad 3) EXPLAIN gives:

[code]

[2014-02-20 14:50] tomas-knap commented on #1229
fine for mysql 5.6, tested on odcs.xrg.cz

[2014-02-20 14:54] tomas-knap commented on #1220
Jirko, jeste mi tam chybi hlaska v logu, ktera rika neco jako "extrahuju triples po xx triples". A davej tam v debug rezimu i to query (to plati i pro ten single query mode)

[2014-02-20 14:54] tomas-knap commented on #1220
Pak muzes zavrit

[2014-02-20 15:03] tomas-knap opened #1239 "Query validator for sparql transformer must say which query was not valid"
If having more queries in SPARQL transformer, it is not clear where (in which query) the problem is if there is a problem
![screen shot 2014-02-20 at 4 02 13 pm](https://f.cloud.github.com/assets/3014917/2219408/1962a830-9a40-11e3-8764-eb13169e3157.png)

Solution: Write something like: Validation of 1. query failed: ...

[2014-02-20 15:07] #1215 closed, assigned to tomesj

[2014-02-20 15:08] #1211 closed, assigned to bogo777

[2014-02-20 15:09] tomas-knap commented on #1194
Jirko, mas tam neco o openRDF, fine. ALe urcite tam musi byt prehled trid (class diagram) a musi byt popsano proc tam jsou jak tam jsou.

[2014-02-20 15:11] tomas-knap commented on #1190
class diagram urcite pridat

Take tam prosim dej sequence/activity diagram, aby bylo jasne, co se stane, kdyz se ma zobrazit pipeline list. A co se deje, kdyz se trebas kopiruje pipeline.

[2014-02-20 15:14] #1191 closed, assigned to tomesj

[2014-02-20 15:15] tomas-knap commented on #1193
Stale je tam zeleny text, co nejdriv doladit!

[2014-02-20 15:16] tomas-knap commented on #1189
pridej prosim odkazy na ty addons zminene

[2014-02-20 15:17] #1177 closed, assigned to kukharm

[2014-02-20 15:19] tomas-knap commented on #1187
Could be done after 28.2.

[2014-02-20 15:19] #1168 closed, assigned to bogo777

[2014-02-20 15:20] #1166 closed, assigned to nobody

[2014-02-20 15:20] tomas-knap commented on #1165
Jaky je tedy stav?

[2014-02-20 15:21] tomas-knap commented on #1131
Lze k tomu vyuzit export/import skript

[2014-02-20 15:23] #1118 closed, assigned to kukharm

[2014-02-20 15:24] #1158 closed, assigned to tomesj

[2014-02-20 15:30] tomas-knap opened #1240 "Finalizing Development doc"
The development documentation has to be exported to word. Je treba zkontrolovat, ze na sebe jednotlive sekce navazuji, text se da cist od zacatku do konce.

Termin - 23.2. pro prvni verzi (kdy uz se to da cist odpredu dozadu, ale muzou tam byt jeste nejasnosti)

Termin - 25.2. finalni verze
26.2. to pujde Jirka vytisknout.

@tomesj je zodpovedny za kontrolu terminu a kontrolu celeho textu. Tedy ze

[2014-02-20 15:38] #1083 closed, assigned to tomas-knap

[2014-02-20 15:38] #1050 closed, assigned to tomas-knap

[2014-02-20 15:39] #742 closed, assigned to tomas-knap

[2014-02-20 15:40] tomas-knap opened #1241 "Finilizing user doc"
Prepare the word document, ktery jirka vytiskne.

Final version - nedele 23.2.

[2014-02-20 15:45] #1012 closed, assigned to bogo777

[2014-02-20 15:50] #953 closed, assigned to janvojt

[2014-02-20 16:30] skodapetr commented on #1238
Jak se zdá, tak pokud je použitý LIMIT tak MySql dělá fullscan na výsledek předchozího WHERE ..tedy dotaz na konec logů trvá i 8 vteřin ..

Nicméně ze zkoumání logů jsem zjistil, že by šlo vylepšit pár věcí:

1) setExecution je volán 2x po sobě .. každé jeho volání trvá 8 vteřin
Tedy jednou ho vyhodit, @bogo777 stačilo by na začátek volání přidat podmínku, která ověří, že se mění execution? (pokud

[2014-02-20 16:44] skodapetr commented on #1204
Přidal jsem komentář ke skriptu. Na localu mám i bash .. nicméně tam mi maven spadne na access denied .. tedy nevím zda je to chybka někde, nebo zda na linuxu to poběží. Ale než si někdo z venku dokumentaci přečte, tak to již budeme mít odladěné.

Zmatečnou část jsem vyhodil, ona tam byla stejně svým způsobem navíc.

[2014-02-20 16:51] tomas-knap commented on #1238
To co pise Petr, by melo podstatne zrychlit ten dotaz na LIMIT M,N. Nicmene porad tam bude ten dotaz na count(). Ktery trebas pro db se 4miliony records a dotazu na execution, ktera ma 1 milion records trva pres vterinu. Ty dotazy na count by minimalne sly ale cachovat, tj. ze kdyz se nekdo podruhe zepta na count u toho sameho exec, ktere uz dobehlo, tak se vezme z cache. To cachovani bych nechal

[2014-02-20 16:52] tomas-knap commented on #1238
@janvojt Jen pro zajimavost. Kdyz dam dotaz na pocet zaznamu v tabulce logging, tak to jako key pouzije index ix_LOGGING_dpu a ne index na primarnim klici. Nejake vysvetleni?

[code]

[2014-02-20 16:54] skodapetr commented on #1238
Není řidší? Primární index totiž bude jistě větší. Tenhle index by měl být z těch 3 co tam jsou nejmenší co do rozsahu hodnot.

[2014-02-21 10:07] mkl-eea-sk opened #1242 "Filename and directory name taken from client request"
There is possible problem with new DPU filename and directory name.
Both filename and directory names on the server are derived from what the client sent in HTTP POST request as filename (which can be really any string!).

Even if we take into account, that this system will not be attacked by any hacker, regular user can hit errors in my opinion.

Consider server running on Windows machine using N

[2014-02-21 11:38] tomas-knap commented on #1220
Jirko, je tam problem, koukni na odcs-test, exec 12

http://odcs.xrg.cz:8080/odcleanstore-test/#!ExecutionList/page=1&owner.username=admin

Nastavim si, ze chci extrahovat 200 000 triples z dbpedie, zalozka details:
![screen shot 2014-02-21 at 12 35 29 pm](https://f.cloud.github.com/assets/3014917/2229360/928c5ca4-9aec-11e3-8a2a-e35c28d4c24e.png)

Nicmene v logu pak je:
![screen shot 2014-02-21 at

[2014-02-21 11:40] tomas-knap commented on #1220
Co je tohle ve SPARQL ExtractorConfig?!!

if (splitConstructSize == null) {
            splitConstructSize = 50000;
        }

To v praxi znamena zrejme, ze pro vsechny stare konfigurace ktere v db nemaji splitConstructSize, tak extraktor extrahuje jen 50000 triples!

[2014-02-21 11:48] tomas-knap commented on #1220
Tak je mozne, ze za to muze omezeni dbpedie, zkus prosim

[2014-02-21 12:17] mingan opened #1243 "Pre-executor fails"
Running/debugging demo DBPedia pipeline fails with

Time:Feb 21, 2014 1:06:44 PMLevel:ERRORSource:cz.cuni.mff.xrg.odcs.backend.dpu.event.DPUEventMessage:
Pre-executor 'cz.cuni.mff.xrg.odcs.backend.execution.dpu.impl.Configurator' failed for DPU 'SPARQL Extractor' with message: 'dpu.configure throws non ConfigException'

Stack trace:
java.lang.NoSuchMethodError cz.cuni.mff.xrg.odcs.commons.app.dpu.

[2014-02-21 12:24] ghost opened #1244 "copyPipeline creates abbreviated name where the number of copy is hidden"
When a pipeline with considerably long name (1024) is copied, the "Copy of" is prefixed to the old name to create a new name. When such pipeline is copied again, the suffix " #1" is appended to create the name "Copy of long original name #1". But wait, since the name is then longer then database field limit (1024) it gets abbreviated into to "Copy of long origina..." for example. The number is los

[2014-02-21 13:00] ghost opened #1245 "Email address format and validation"
The current limits on the email address are out-of-reality. The maximum length of user account name (the part before @) is 85 and the domain name must be at most 45 chars long.
Rework this with respect to
http://stackoverflow.com/questions/386294/what-is-the-maximum-length-of-a-valid-email-address
http://isemail.info/about

Probably use this:
http://commons.apache.org/proper/commons-validator/apid

[2014-02-21 13:14] ghost opened #1246 "Inconsistency in User and where to hash the password"
Once a password is hashed in User.setPassword, second the password must be hashed before calling constructor of the User entity. Make this consistent.

[2014-02-21 13:18] ghost commented on #1113
Take care of the u_password column in usr_user table! It may become too short for longer scheme.

[2014-02-21 13:19] tomesj commented on #1220
Jo, tohle je u té metody onDeserialize, kde se to nastaví na hodnotu 50 000 v případě, že to není součástí konfigurace. Jinak dbpedia má myslím svá jistá omezení - zkontroluju to a dám vědět

[2014-02-21 13:22] ghost opened #1247 "Get rid of the full user name validation or create more meaningful one"
Well, will this project be used only be european people?
See this:

[code]

What about Chinese? Yiddish? etc

[2014-02-21 13:37] ghost opened #1248 "Research namespace length limits"
At first sight, I think that namespace prefix name (the abbreviation itself) has no max length limit in W3C specification (see http://www.w3.org/TR/xml-names/#NT-NCName).
We have the limit set to 25 characters and it is questionable, if this is enough for regular use, especially when the namespace name can be the URI itself.

[2014-02-21 13:44] ghost commented on #1248
TODO: also find out if a namespace can be of different scheme than http://. According to
www.w3.org/TR/xml-names/
namespaces are URIs. So it could happen that it is not always a http:// scheme. If so however, get rid of `PrefixCreate:142` starts with http:// validation.

[2014-02-21 13:44] ghost commented on #1248
And is 255 length of URI enough?

[2014-02-21 13:48] ghost commented on #1133
dpu_instance.tool_tip (512) - i think this is never used, should be removed from the code base
dpu_template.jar_directory(255) - see https://github.com/mff-uk/ODCS/issues/1242 should be resolved there
dpu_template.jar_name(255) - same as above
exec_dataunit_info.name(2048) - i was unable to figure where any of the values in this field come from
exec_context_pipeline.directory(255) - does not seem

[2014-02-21 14:22] jakubklimek opened #1249 "SPARQL Loader does not display number of loaded triples correctly"
See odcs executions 824 and 825.

In 824 Loader gets 39720 triples, but skips most of them because of errors. But reports it has loaded everything (39720 triples) which is not true.
In 825 Loader gets 39720 triples, does not skip anything and reports 39720 triples loaded, which is hopefully true.

Report only those triples that were actually loaded.

Even better, perform a count on the target grap

[2014-02-21 14:33] tomesj commented on #1220
Tak problém bude v dbpedii, protože když jsem to pustil na velký graf u sebe s hodnotou 200 000, tak vše OK, když na dbpedii, tak jsem dostal, že

cz.cuni.mff.xrg.odcs.rdf.exceptions.InsertPartException: HTTP/1.1 500 SPARQL Request Failed. Caused by Virtuoso 22023 Error SR353: Sorted TOP clause specifies more then 100000 rows to sort. Only 40000 are allowed. Either decrease the offset and/or row c

[2014-02-21 15:37] martinnec opened #1250 "Incorrect links in tutorial"
In http://www.ksi.mff.cuni.cz/~knap/odcs/practice.html there are several incorrect links:

1) link to vaadin leads to http://www.ksi.mff.cuni.cz/~knap/odcs/www.vaadin.com - it should lead to the developers guide which says how to write vaadin components

2) link to OSGi leads to http://www.ksi.mff.cuni.cz/~knap/odcs/practice.html#osgi which is nothing.

[2014-02-21 16:12] tomas-knap opened #1251 "Better control over logging/logs management"
Zkrátka by bylo dobré mít více pod kontrolou to logování a mazání. Čili např.
1)      Pro každou execution její log sypat

a.       do db

b.      do db i do filu

c.       jen do filu

2)      v exec. Monitoru u doběhnuté debug pipeline mít

a.       tlačítko na smazání logů a pracovních grafů

b.      tlačítko na smazání filu s logem

c.       tlačítko na stáhnutí souboru s logem – to už tam teď

[2014-02-21 16:15] tomas-knap commented on #1220
Dobra, ale kdyz se to nastavi na tech 50 000, tak to stale jeste neni
aktivni, ne? Tedy aby to rozdelovani bylo aktivni pro puvodni konfigurace,
tak to musi uzivatel explicitne zaskrtnout, je to tak?

2014-02-21 14:19 GMT+01:00 Jiří Tomeš notifications@github.com:

[2014-02-21 16:17] tomesj commented on #1220
Je to přesně tak - aktivní to je až v okamžiku zaškrnutí - do té doby do nemá žádnou váhu

[2014-02-21 17:20] janvojt commented on #1238
I fixed supportsBatchUpdates = true  by previous commit.

Will look into LIMIT for MySQL.

[2014-02-21 20:09] tomas-knap commented on #1238
Ok, diky, u toho limitu to lze vyresit imho jen tim prevodem na WHERE podminku

[2014-02-21 20:09] tomas-knap commented on #1238
Sjednotte se s @skodape , at se v nedeli potkate s temi upravami

[2014-02-21 20:40] tomesj commented on #1194
Popis tam už je, též jsem tam přidal i názorné class diagramy :-)

[2014-02-21 20:43] tomesj commented on #1055
Reconnection problem is still fixed.

[2014-02-21 20:43] #1055 closed, assigned to tomesj

[2014-02-21 21:38] skodapetr commented on #1238
@janvojt Nejsem si jistý co znamená reassign a pak solving tag bez komentáře, nějak konkrétněji ..

Každopádně co se týče toho co bylo na mě (alespoň původně) tak jsem se pokusil o použití WHERE místo LIMIT (ukázalo se těžší, než jsem čekal .. ) nicméně pokud máš jiné řešení už hotové tak můžeme vybrat to lepší - a upřímně bych byl docela zvědavý na další řešení, neb já jsem s ničím moc pěkným a n

[2014-02-21 22:16] janvojt commented on #1238
Pouzitie WHERE, cislovanie a podobne je blbost, to ani neskusaj, tym sa
nikam nedostanes. Ja som uz na odcs-test zmenil db engine pre tabulku
logging na MyISAM, co vyzera ze je tak 3 krat efektivnejsie. Zmenil som
este bigint na int, takze index je mensi. Zajtra to nacommitim do
schema.sql. Este mozeme skusit table partitioning, co sa hodi na tento typ
tabulky a mohlo by to pomoct. Este to ukladan

[2014-02-21 22:42] tomas-knap commented on #1238
Problem je, ze to potrebujem zefektivnit ne 3x, ale tak o dva rady nejmene. MyISAM urcite lepsi pro tyhle ucely bude. To Where mi prijde jako rozumna varianta, dotazy select where X =>< jsou s indexy velmi rychle a nezhorsuje se to linearne s rostouci tabulkou. Kdyztak prosim napis neco k tomu table partitioning, pripadne proc nejsi pro to where

[2014-02-22 10:28] janvojt opened #1252 "Tabs in execution detail are missin first time they are rendered."
I hope it is not a duplicate.

![screenshot from 2014-02-22 11 11 42](https://f.cloud.github.com/assets/2247062/2237489/ffbc6bf6-9bab-11e3-8743-a61ca86f6e95.png)

[2014-02-22 12:10] janvojt commented on #1238
Hmmm, mas pravdu, znie to sice neuveritelne, ale vyzera to ze MySQL
optimizer je docela blby a robi early row lookups pre cely offset.

2014-02-21 23:42 GMT+01:00 Tomas Knap notifications@github.com:

[2014-02-22 12:11] skodapetr commented on #1238
@janvojt  Pozdě, taková změna je prostě moc lákavá. Navíc, jsem čekal, že z povahy tabulku už bude pro tuto skutečnost "upravená" neb problém s pomalostí logů zde není na pořadu první den.

Nicméně moje změny nejsou nějak silně rozsáhlé, tedy pokud najdeme rychlé řešení bez toho tak je otázkou chvíle je odstranit - přeci jen hezké nastavení DB je lepší než úprava příkazu  v dao vrstvě.

@tomas-kna

[2014-02-22 12:21] janvojt commented on #1238
IMHO ale velky problem je aj loadovanie dat do table. Nato by mali stacit 2
dotazy - jeden count + select na data. Z logu
http://pastebin.com/8MGjXFwy ale vidim, ze sa dotazujeme na tabulku
logging celkom 15 krat...

Viem, ze kvoli vaadinu a datatypov tam bol este dotaz navyse na prvy
zaznam. Ale stale by to mali byt len 3 dotazy. Takze si myslim ze je to bud
chyba ROC, do ktoreho vidi najviac Pet

[2014-02-22 12:24] skodapetr commented on #1238
Link mi nejde :( nicméně by mě to velice zajímalo .. neb já u sebe napočítal těch dotazů kolem 4 - 5.

Jistou duplicitu popisuje bod 2.1) tedy volani setExecution. Další možnost ušetření pak 2.3 (tuším) ale i tak je třeba dvou dotazů .. a pokud dotaz trvá 8 vteřin, tak je to pořád moc.

[2014-02-22 12:24] janvojt commented on #1238
link som opravil

[2014-02-22 12:49] skodapetr commented on #1238
Jo to více méně zrcadlí co jsem psal v těch dalších bodech.

Něco je z toho jak Bohuslav nastavuje filtry a opakovaně něco volá (je to jeden z těch bodů co jsem psal) něco z toho jak ta table (addon) přistupuje k datům. Na druhou stranu Bohuslav má dost dalších issue (viz. to tvoje poslední) tohle se teoreticky neprojeví pokud tam není dost logů.

Ale i tak .. pokud budeš mít 3 dotazy a budou trva

[2014-02-22 13:02] skodapetr commented on #1238
Ještě jak starou máš verzi? Neb když to počítám u sebe na locálu tak dostanu:
2x3  ( tj. 2x volání set execution) + 1 (načtení dat)
na zobrazení dialogu.

Navíc se mi zdá, že tam počítáš nejen to první zobrazení, ale i ještě jedno kliknutí aby se ti tam zobrazili správně ty záložky. Tj. nikoliv jen rozsah jednoho zobrazení dialogu tj. od
DebuggingView - initialize()  do DebuggingView - initialize(

[2014-02-22 16:45] janvojt commented on #1252
I cannot reproduce any more. It is possible it was fixed in recent days.

[2014-02-22 21:00] bogo777 commented on #1238
@skodape To 2x volání setExecution() myslíš volání z initialize() v DebuggingView a pak přímo setExecution() z ViewImpl...nebo jsem to přehlédl ještě někde jinde?

[2014-02-22 21:13] skodapetr commented on #1238
@bogo777  Jj myslím tohle. Napadlo mě na začátku setExecutino si pamatovat poslední id a pokud je stejné tak jen vrátit return. Ale nejsem si jistý jestli to něco napokazí.

[2014-02-22 21:21] bogo777 commented on #1252
We had this problem, it is described in #1123 and it should be fixed. Could you have got it on older version(before downgrading Vaadin)?

[2014-02-22 21:32] bogo777 commented on #1236
Fixed for Scheduler, checked for other tables.

[2014-02-22 21:32] #1236 closed, assigned to bogo777

[2014-02-22 21:49] #1237 closed, assigned to bogo777

[2014-02-22 22:18] bogo777 commented on #1230
Ad 4) We are providing own component as filter, so the table doesn't know the proposed width, but it will only be bigger, when the space is not needed by mesage column. Alternatively we could count the longest DPU label and guess the width...

[2014-02-22 22:21] bogo777 commented on #1120
Multiple DPUs can be selected by holding CTRL key and clicking on them or by clicking on the "DPU formatting" from the DPU action bar and then clicking on DPUs. When at least 2 DPUs are selected, formatting menu is enabled.

[2014-02-22 22:24] bogo777 commented on #1082
2) is done. Can you provide DPU with file data unit for testing the exception, at least on odcs-test, better directly as jar for me to test on local?

[2014-02-22 22:40] bogo777 commented on #1103
DPU tree is fitted to the screen, but its max height is set from the case, where the tree begins at the top of the screen - screen is scrolled to show only the canvas...

[2014-02-22 22:57] bogo777 commented on #1188
Yes, it can be done. I allowed it for our tables, it seems to work fine. Only downside is, that it hides part of the column header if the last columns header takes full width of the column...

[2014-02-22 23:04] bogo777 commented on #1089
There wasn't Html escaping for some cases of showing this detail, but I'm not sure that that will fix this...

[2014-02-23 11:37] tomas-knap commented on #1082
Bohuslav, you can try Simple XSLT DPU, in repository
https://github.com/mff-uk/DPUs

On Sat, Feb 22, 2014 at 11:24 PM, bogo777 notifications@github.com wrote:

[2014-02-23 11:42] tomas-knap commented on #1230
Ok, let's leave that for fw

[2014-02-23 12:11] tomas-knap commented on #1103
Ok. And regarding the canvas, we use fixe sized canvas, right?

[2014-02-23 18:07] bogo777 commented on #1103
Yes, canvas has fixed size.

[2014-02-23 18:50] tomas-knap commented on #1120
Well, that does not work in Safari/Chrome. When I click with CTRL pressed, nothing happens. WHich browser do you use?

[2014-02-23 18:59] #1181 closed, assigned to janvojt

[2014-02-23 19:03] tomas-knap commented on #1184
Honzo, nemuzu najit tuhle stranku, hodis prosim update obrazku do
https://grips.semantic-web.at/display/UNVI/2.+Requirements+Specification

[2014-02-23 19:03] #1182 closed, assigned to janvojt

[2014-02-23 19:07] janvojt commented on #1252
It is possible I reproduced on older version. However Petr also said he reproduced this few days ago. I will try to reproduce again and if it does not happen I will close this...

[2014-02-23 19:14] #1186 closed, assigned to janvojt

[2014-02-23 19:21] #1196 closed, assigned to skodapetr

[2014-02-23 20:26] tomas-knap commented on #1193
Jirko, sparql transformer, v diagramu mas: "replace DPU name in query..." -> to by melo byt replace DU name, ne?

[2014-02-23 20:28] tomas-knap commented on #1193
Podobne v textu u sparql transf - Both types support DPU replacement feature - It allows using SPARQL queries variables in a special format.

Tahle veta neni jasna, vysvetli prosim lepe.
To neni DPU replacement feature, to je maximalne DU name replacement.

[2014-02-23 20:28] tomas-knap commented on #1193
Pak zavri

[2014-02-23 21:38] tomesj commented on #1193
Přejmenovány na příslušných místech na DU

[2014-02-23 21:38] #1193 closed, assigned to tomesj

[2014-02-23 21:39] tomesj commented on #1165
viz poslaný mail

[2014-02-23 21:48] janvojt commented on #1229
It seems accented characters do not work at all for MySQL. I cannot even save empty pipeline, I get the following error.

[code]

[2014-02-23 21:50] janvojt commented on #1184
I updated use cases diagram.

[2014-02-23 22:10] janvojt commented on #1235
I cannot reproduce this. I tried running several parallel DBpedia runs in both normal and debug mode while browsing logs without any problem.

[2014-02-23 22:25] janvojt commented on #1229
Virtuoso 7 works fine, I also tested serializing configuration.

[2014-02-24 09:45] tomas-knap commented on #1089
Bohuslav, please test that to find out whether it helped or not

[2014-02-24 09:47] ghost opened #1253 "Remove DPUInstance tool_tip"
Unused field

[2014-02-24 09:48] ghost opened #1254 "Where the values of exec_dataunit_info.name come from?"
exec_dataunit_info.name(2048) - i was unable to figure where any of the values in this field come from

[2014-02-24 09:49] ghost opened #1255 "Remove exec_schedule.name"
unused field

[2014-02-24 09:50] ghost commented on #1133
Tested, needs review of problematic fields - listed above. What to do with the, are they unused or ?

[2014-02-24 09:54] tomas-knap commented on #1103
So basically what is missing is to adjust the size of the DPU tree based on the fact whether the header is present or not (hidden)?

[2014-02-24 09:54] tomas-knap commented on #1189
pak uzavri

[2014-02-24 09:55] #1204 closed, assigned to skodapetr

[2014-02-24 10:02] #1185 closed, assigned to janvojt

[2014-02-24 10:03] #1184 closed, assigned to janvojt

[2014-02-24 10:05] tomas-knap commented on #1164
Jaky je stav tohoto issues?

[2014-02-24 10:11] tomas-knap commented on #1239
Jirko, zkousim, kdyz se pokusim ulozit SPARQL transformer conf, tak dostanu:

![screen shot 2014-02-24 at 11 10 07 am](https://f.cloud.github.com/assets/3014917/2244330/fba3d568-9d3b-11e3-82b6-2dc31588e7a1.png)

[2014-02-24 10:50] tomas-knap commented on #1235
which version of Virtuoso did you use?

Please test to connect to:
v7.xrg.cz 1121 8901 dba/dba

This is the db where I experienced the problem

[2014-02-24 10:56] tomas-knap commented on #1194
Jeste viz ten mail: tedy RDF data unit interface - methods for developers

[2014-02-24 11:04] #1219 closed, assigned to tomesj

[2014-02-24 11:09] tomas-knap opened #1256 "For SPARQL Transformer, the default query must be valid SPARQL 1.1. query"
Currently:

![screen shot 2014-02-24 at 12 06 58 pm](https://f.cloud.github.com/assets/3014917/2244787/cb42a7e8-9d43-11e3-9a4a-af393d39bb0d.png)

Must be valid SPARQL  query (no "modify" keyword): e.g. CONSTRUCT {?s ?p ?o} WHERE {?s ?p ?o} LIMIT 10.

So what should be done - replace the current MODIFY query with the simple CONSTRUCT query - in SPARQL transformer, doc (user,devel)

[2014-02-24 11:10] tomas-knap commented on #1249
This could be solved after the CD is prepared and before the end of the week. But it must be done, because Jakub will be checking that

[2014-02-24 11:11] tomas-knap commented on #1026
Relates with #1235

[2014-02-24 11:11] janvojt commented on #1235
This is my Virtuoso version:

[code]

[2014-02-24 11:21] tomas-knap commented on #1235
Tak zkus prosim verzi 7.1., nedavno publikovana (tyden, dva zpatky)

Pripadne zkus prosim to virtuoso, co jsem psal

On Mon, Feb 24, 2014 at 12:11 PM, Jan Vojt notifications@github.com wrote:

[2014-02-24 11:26] tomas-knap commented on #1229
Please test also on the virtuoso 7 ODCS server is running, see #1235

On Sun, Feb 23, 2014 at 11:25 PM, Jan Vojt notifications@github.com wrote:

[2014-02-24 11:55] tomas-knap commented on #1241
Pripominky:
- INTRO, section I.2, mensi nadpis, nelze mit na stejne urovni I.2 a I.3
- Chybi cislovani hlavnich kapitol, Cislovani je divne, nerespektuje hlavni kapitoly.
- Upravit INTRO page
- Osklive tabulky, ty je potreba upravit, viz PipelineCreation
- Podivne predsunute odrazky Run/Debug/ in PIPELINES section
- DPU TEMPLATES SECTION -> to section slovo nedavajte do nadpisu
- Particular DPUs -

[2014-02-24 12:06] tomas-knap commented on #1240
- V nadpisech vsechna slova az na predlozky/spojky, cleny zacinaji velkym pismenem. Zkontrolovat v user doc
- 1.4 sekce (fw), to dejte nekam na konec
- cerveny/zeleny text, odstranit, doresit (viz 1.10)
- cislovani kapitol
- vyhodit "DPU subchapters" a podobne, kdy na konci stranky jsou odkazy dal. To je jasne ze struktury exportu
- seradit moduly v architecture - prvni bude commons atd. ne backen

[2014-02-24 14:09] kukharm commented on #1164
vyreseno

[2014-02-24 14:14] kukharm commented on #1241
"Chybi cislovani hlavnich kapitol, Cislovani je divne, nerespektuje hlavni kapitoly. "
- cislovani tam je, jen to nezobrazuje google docs, nevim proc, vsihni kapitoly jsou ocislovane,

[2014-02-24 14:23] tomesj commented on #1239
O tomhle nic nevím, mě se configurace ukládá správně, jak má :-) Máš poslední verzi ?

[2014-02-24 14:27] tomesj commented on #1256
Do you mean change "tool tip text" to CONSTRUCT {?s ?p ?o} WHERE {?s ?p ?o} LIMIT 10 or set as default value?

[2014-02-24 14:37] tomas-knap commented on #1256
yes, tooltip (greyed text which dissappears when user enters the field), as it was

[2014-02-24 14:38] tomas-knap commented on #1239
Spis je otazkou, zda jsi neco nezapomnel dodat na git. Zeptej se prosim na schuzce nekoho, at to zkusi u sebe

[2014-02-24 15:21] tomesj commented on #1239
Dobře, snad někdo bude mít s sebou PC.

[2014-02-24 16:19] tomesj commented on #1241
Tu nerozumieme co Ti vadi:

[2014-02-24 18:10] martinnec opened #1257 "Browse/query results of DPUs does not work correctly"
See "[ehealth] SUKL - KLK - ONLY LEKFORMY.DBF" in execution monitor, run at 24.2.2014 19:00:55.

I choose Browse/query > LEKFORMY.DBF reader > output .

The preset query does not work - some exception is thrown.

[2014-02-24 19:08] tomesj commented on #1239
Tak tohle vypadá, že je OK - zkoušeli jsme teď přímo na schůzce

[2014-02-24 19:12] janvojt commented on #1252
It seems like I did not do clean&build on frontend, so downgrading Vaadin had no effect on my deployment.

[2014-02-24 19:12] #1252 closed, assigned to bogo777

[2014-02-24 20:58] skodapetr commented on #1257
Tomas, can you please redeploy so we can test on ODCS?

[2014-02-24 21:49] bogo777 commented on #1089
It did not helped. It seems that the RichTextArea(RTA) cannot display this characters, but normal TextArea can. But we need RTA for html formatted messages which we use. Also I didn't found any relevant setting on RTA which could be related to this...

[2014-02-24 21:54] bogo777 commented on #1120
I use Chrome/Firefox. Both work for me, tested on odcs-test also.

![image](https://f.cloud.github.com/assets/1550848/2251586/2c16bd02-9d9e-11e3-81cb-e0b45c12503c.png)

[2014-02-24 23:04] tomesj commented on #1194
Tak stránka přidána.

[2014-02-25 08:36] tomas-knap commented on #1241
Mno, slo mi o to, ze je na stejne urovni sekce Roles a Conventions, nebo
tak nejak, coz je divne. Jsou to tematicky uplne odlisne kapitoly

On Mon, Feb 24, 2014 at 5:19 PM, Jiøí Tome¹ notifications@github.comwrote:

[2014-02-25 09:26] tomas-knap commented on #1120
Thanks, will try to solve the CTRL key, problem on my site probably.
But regarding the focusing of DPUs/edges, it seems to behave not perfectly deterministically.

1) If I select one DPU, click on "DPU formatting icon", then what is the proper way to get back to the normal mode (when clicking on DPU causes that the DPU and its edges are emphasized)?

2) When switching to DPU layout formatting, I c

[2014-02-25 10:09] martinnec opened #1258 "Panel for editing pipelines cannot be scrolled for larger pipelines"
See pipeline [ehealth] SUKL - KLK - it is larger than the component in which it is displayed. However, it is not possible to scroll it.

[2014-02-25 11:17] #1194 closed, assigned to tomesj

[2014-02-25 11:20] tomas-knap commented on #1165
A ty problemy v tom mailu poslane uz jsou vyresene? Jaky ja aktualni stav?

[2014-02-25 11:29] tomas-knap commented on #1082
Does not work properly. It wrotes mapping cannot be created, but mapping is actually created (written in the lower textarea)

[2014-02-25 11:30] bogo777 commented on #1082
Should be fixed by c66db2c48910543494c9b1ff83d0f1f26aa035be . I forgot to mention it in commit message.

[2014-02-25 13:38] tomas-knap commented on #1258
Bohuslave, can you please look on that? It is enough to look on that on Thursday/Friday and have an update only in git rep, not on CD.

Regarding the canvas, the best would be to automatically increase its size when the user is close to the end. But I think, it would be enough to have a "+space" icon next to zooming icons. When pressing that icon, the size of canvas is increased in all directions.

[2014-02-25 13:54] tomas-knap commented on #1257
Will do that tomorrow

On Mon, Feb 24, 2014 at 9:58 PM, Petr Škoda notifications@github.comwrote:

[2014-02-25 14:09] martinnec commented on #1258
Please, it is necessary to have standard UI. I.e. automated increasing of the size of the canvas + scroll bars. Bohuslav should be able to do that. Otherwise, UI is not acceptable part of the software project.

[2014-02-25 16:30] tomesj commented on #1256
Použil jsem dotaz:

PREFIX s: http://schema.org
DELETE { ?address s:geo ?geo}
INSERT { ?place s:geo ?geo}
WHERE { ?address a s:postalAddress;
^s:address ?place;
s:geo ?geo .}

Ten má marie i v dokumentaci SPARQL transformeru, takže ho nemusí ani upravovat.

[2014-02-25 19:10] skodapetr commented on #1258
@bogo777 Just to be sure that Bohuslav get the email notification, as Tomas is still the one assigned for this issue.

[2014-02-25 20:00] tomas-knap commented on #1258
Bohuslav, so please think about an automatic increase. So when user places DPU close to the end, extra space is prepared (only) in that direction. It should work well also when expanding to the left/top. The points 1) 2) I wrote remain valid.

[2014-02-25 20:01] tomas-knap commented on #1082
ok, diky

[2014-02-25 20:01] #1082 closed, assigned to bogo777

[2014-02-25 22:03] tomesj commented on #1249
Jakub, I add the following info:
1) Size of target graph before loading
2) Size of target graph after loading
3) Count of triples which are prepared for loading
4) Count of triples which were really loaded

[2014-02-26 07:44] ghost commented on #1134
Resolved in https://github.com/mkl-eea-sk/ODCS/tree/feature/menulinks

[2014-02-26 09:12] tomas-knap opened #1259 "When validating pipelines, name of DPU instance should be used (not of DPU template)"
When validating DPUs/interconnection of data units, the DPU instance name should be used, not the DPU template name.

Motivation: see: http://odcs.xrg.cz:8080/odcleanstore/#!PipelineEdit/222

If you have time.

[2014-02-26 09:17] skodapetr commented on #1259
I think .. he use the instance name. The problem probably is that Martin copy a DPU that was at the very bottom of the canvas and so the copy was out of the canvas - unreachable for the user.
In order to fix it I manually updated the position in database.
Canvas resizing should fix that .. on the other hand we may add some condition to prevent this from happening or insert copy always in direction

[2014-02-26 09:25] tomas-knap commented on #1259
Ok. Yes, closing this

[2014-02-26 09:25] #1259 closed, assigned to bogo777

[2014-02-26 09:26] tomas-knap commented on #1258
Another motivation: When copying DPU being at the end of canvas, it may be copied out of the canvas space

[2014-02-26 10:42] tomas-knap commented on #1258
Od Bohuslava:

Requirements

When opening the pipeline detail, you have to be able to prepare the proper size of canvas. For that, either when saving the pipeline detail, you have to store to db also information about the actual size of the canvas. Or , when opening pipeline detail, you have to be able to compute the needed size from the positions of DPUs.

Also you have to keep in mind that when

[2014-02-26 10:57] tomas-knap commented on #1258
Upravy, ad 1) Tak to ted uz je, ne? Nebo v cem to bude nove?

ad 2) ano, canvas muze byt libovolne velky, ale videt by z nej mela byt vzdy jen cast ktera odpovida prostoru na obrazovace. Tedy viewport se vzdy upravi podle dostupneho prostoru.

ad 2A) tim headerem myslis ty zakladni udaje o pipeline? Asi nejlepsi by bylo, kdyby pri schovani headeru (zakladni info o pipeline) se znovu prepocetl dost

[2014-02-26 10:58] tomas-knap commented on #1258
Proberu jeste pozdejc odpoledne s Martinem, at to ma na miru

[2014-02-26 11:08] martinnec opened #1260 "Empty DPU description replaced with description of another DPU"
In [ehealth] SUKL - KLK pipeline, I have a loader with an empty description (let denote it A). I opened the dialog of another DPU (let it denote it B) which has a non empty description and then closed it. If I now open A, I see the description of B. I also opened another DPU C with a description, and closed it. If I reopen A, I can now see the description of C in the description of A.

[2014-02-26 11:13] tomas-knap commented on #1260
@martinnec  Can you also reproduce that on en empty new pipeline? I am trying that, but the problem does not appear

[2014-02-26 11:15] martinnec commented on #1260
Try this:
- new pipe
- new sparql extractor A
- give a description abc to A
- new sparql loader internal B
- open B, you can see description abc

[2014-02-26 12:24] tomas-knap commented on #1260
Thanks, @bogo777, proper initialization is missing?

[2014-02-26 12:28] tomas-knap opened #1261 "DPU tree is without hierarchy when filter is used"
When creating new pipeline, I filtered the DPU tree. When I entered "Extractor" to the filter, everything worked well, the hierarchy was preserved. But when I input "Loader" to the filter, I got:

![screen shot 2014-02-26 at 1 23 22 pm](https://f.cloud.github.com/assets/3014917/2269829/67361dd0-9ee1-11e3-8119-fea98592c724.png)

You can reproduce that on ODCS.
@bogo777, any explanation for that?

[2014-02-26 12:30] tomas-knap commented on #1258
Honza: Proc by jsi rozsiroval nahoru/doleva? Spis pokud jeste neni bych pridal tlacitko "select all" a posunul celou pipeline kam chci...to je jednodussi ne? A takhle bych i cekal ze to bude fungovat.

[2014-02-26 12:32] tomas-knap commented on #1258
Nejlepsi by bylo, kdyby slo mysi vybrat vicero DPU (klidne vsechny), podobne jako na plose windows. Pak bychom skutecne nepotrebovali rozsirovat do leva a nahoru, resit nejaky prepocet. Nicmene, @bogo777, jde ten vyber mysi nejak rozumne udelat? To by samozrejme resilo i pohodlnejsi vyber DPUs pro formatovani atd.

[2014-02-26 12:34] tomas-knap commented on #1258
Tedy pokud budes vedet, jak udelat ten vyber mysi (jako na plose windows), tak by to stacilo a netreba rozsirovani doleva/nahoru. A do budoucna by to usnadnilo i dalsi operace s canvasem.

[2014-02-26 14:36] tomas-knap opened #1262 "? Possibility to execute e.g. SPARQL update agains target endpoint (not governed by ODCS)"

[2014-02-27 10:27] #1190 closed, assigned to bogo777

[2014-02-27 10:27] #1189 closed, assigned to bogo777

[2014-02-27 10:28] tomas-knap commented on #1258
@bogo777, dej mi prosim vedet, jestli pujde rozumne udelat ten vyber DPUs na canvasu mysi. To by resilo radu problemu. Na zaklade toho uzavrem to zadani pro toto issue

[2014-02-27 10:30] #1183 closed, assigned to janvojt

[2014-02-27 12:11] bogo777 commented on #1258
Zatím mám rozpracovanou úpravu velikosti canvasu, když je potřeba.

K výběru DPUs myší jsem našel článek, jak to v KineticJS implementovat, mělo by to tedy jít. A další článek o tom, jak pohybovat více objekty najednou. Jediný možný problém tedy vidím v rychlosti, ale to asi nezjistíme, dokud to nezkusíme...

[2014-02-27 12:41] ghost commented on #1113
resolved here  https://github.com/mkl-eea-sk/ODCS/tree/feature/PasswordHash

[2014-02-27 12:51] tomas-knap commented on #1258
Ok, diky za info. Zkus kdyztak tu mys nejdriv, bo kdyz by to fungovalo, tak
bychom nepotrebovali zvetsovat canvas doleva/nahoru a usetrili si nejakou
logiku. A zvetsoval by se jen doprava/dolu a kdyztak by si uzivatel vybral
vsechna DPU a posunul.

Pokud by to s tou mysi nejak rozumne neslo, tak bychom holt museli umet
rozsirovat i doleva/nahoru.

Tom

2014-02-27 13:11 GMT+01:00 bogo777 notificati

[2014-02-27 12:59] tomas-knap opened #1266 "Tutorial for use of file data unit"
Something is in the interface, but more info, e.g., for the case, when certain metadata should be tracked for each file added as a link

[2014-02-27 13:09] tomas-knap opened #1267 "Use of jenkins or some other tool for automated builds"
https://wiki.jenkins-ci.org/display/JENKINS/Meet+Jenkins

[2014-02-27 13:11] tomas-knap opened #1268 "Reorder the columns for Exec log detail"
Log level, description, then time and combo with DPU instance

Description could have natural width. If too long, it is a problem of the DPU's author.

[2014-02-27 13:11] tomas-knap opened #1269 "Test logs on Virtuoso 7 - could be faster than for mysql"

[2014-02-27 13:27] #1071 closed, assigned to tomas-knap

[2014-02-27 14:33] tomas-knap commented on #1242
Michale, which commit solves this issues? In which feature branch?

[2014-02-27 14:35] tomas-knap commented on #1133
Michale, the code seems to be ok.

Regarding
ppl_edge.data_unit_name(2048), I think that it cannot be specified directly, but it is build based on the label of the output and input of the next DPU

[2014-02-27 14:36] tomas-knap commented on #1133
When we merge your feature request, there is a TODO for us to go through the problems you have discovered and solve them.

[2014-02-27 14:40] tomas-knap commented on #1134
It seems to be ok, when we merge the code to unifiedView rep, we will test and close

[2014-02-27 14:47] tomas-knap commented on #1248
For the namespace prefixes, 25 should be in general enough, but we can increase the limit to 255, which is for sure enough.

In Linked data environment, every ontology term must be available on the Web, must be dereferencable. So there is no big sense to introduce a different namespace prefix than http://

Regarding length of URI - 2048 would be better.

[2014-02-27 14:48] tomas-knap commented on #1247
Yes, there is no big reason to restrict the user name, data is considered as UTF-8

[2014-02-27 15:29] #1159 closed, assigned to tomas-knap

[2014-02-27 15:32] tomas-knap commented on #1157
Can we close this?

[2014-02-27 15:39] #1240 closed, assigned to kukharm

[2014-02-27 15:39] #1241 closed, assigned to kukharm

[2014-02-27 15:39] #1198 closed, assigned to skodapetr

[2014-02-27 15:39] #1202 closed, assigned to skodapetr

[2014-02-27 15:39] #1203 closed, assigned to skodapetr

[2014-02-27 15:39] #1165 closed, assigned to tomesj

[2014-02-27 15:40] #1164 closed, assigned to kukharm

[2014-02-27 15:40] tomas-knap commented on #1131
Zkontrolovat, co je splneno

[2014-02-27 16:43] tomas-knap opened #1270 "Adjust the way how execution monitor detail is shown"
Adjust the way how execution monitor detail is shown to the user based on the user's space in the browser being available in the horizontal direction.

Current situation:
- open the execution monitor
- click on detail of any record
- you will get (the screen is divided and shows the main exec record table and the details):

![screen shot 2014-02-27 at 4 47 36 pm](https://f.cloud.github.com/assets/

[2014-02-28 07:55] ghost commented on #1242
To this time, i have not resolved this issue.

[2014-02-28 07:57] ghost commented on #1248
I will fix this issue according to your guidance.

[2014-02-28 08:01] ghost opened #1272 "What is exec_context_pipeline.directory(255) - does not seem to be JPA mapped"
What is the field
exec_context_pipeline.directory(255)
it does not seem to be JPA mapped
Could it be removed, is it used somewhere?

[2014-02-28 08:02] ghost opened #1273 "What is exec_dataunit_info.name(2048) - i was unable to figure where any of the values in this field come from"
What is
exec_dataunit_info.name(2048) - i was unable to figure where any of the values in this field come from
is it used somewhere? could it be removed?

[2014-02-28 08:03] ghost opened #1274 "What is exec_context_pipeline.directory(255)"
What is exec_context_pipeline.directory(255)
- does not seem to be JPA mapped. could it be removed? is it used somewere?

[2014-02-28 08:04] ghost opened #1275 "Abbreviate ppl_edge.data_unit_name(2048)?"
The field  ppl_edge.data_unit_name(2048) is generated. When the length of it exceeds, I am  unsure what to do in this case. Is it possible to use abbr. value for this (when saving to DB)? Inst the value used for something else somewhere (reverse parsing)? or should we replace the data type varchar with text?

[2014-02-28 08:15] ghost commented on #1133
Hi, well, I have created separate issue for each problematic field I mention in my comment. Just not to lose the track of what we do with each of them.
Updated list is:
dpu_instance.tool_tip (512) - remove, see #1253
dpu_template.jar_directory(255) - rework, see #1242 should be resolved there
dpu_template.jar_name(255) - rework, see #1242 should be resolved there
exec_dataunit_info.name(2048) - qu

[2014-02-28 08:53] ghost commented on #1157
Yes.

[2014-02-28 12:01] ghost commented on #1238
I have read all the way up here :)
When I was starting my work on the project, I have asked @skodape why the project is divided into two separated applications - backend and frontend. Answer was, something like, when the hard computations take place on the backend, the frontend should not be influenced, nor become unresponsive.
Well, here we are. Project divided into two separated applications and

[2014-02-28 12:16] tomas-knap commented on #1238
Michal,

we will test the current solution (improvement we did in last days), which replaces the ineffective LIMIT/OFFSET queries to WHERE queries, for which indexes may be effectively used and in that way we increased the speed of loading queries substantially. If that will not help, we have to put the logs into files only.

It also depends whether the DPU is logging reasonably or not. If the pip

[2014-02-28 12:18] tomas-knap commented on #1242
Ok, than I will remove the "test that" flag

[2014-02-28 12:28] tomas-knap opened #1277 "Exception when trying to browse/query data"
@bogo777 , try that, if you know how to solve that quickly, please solve that. If not, reassign please on @skodape

To reproduce:

* ODCS, exec monitor, exec 895
* click on browse/query
* select xslt, rdfInput
* click browse

An error occurs:
2014-02-28 13:24:17,051 [http-bio-8080-exec-290] ERROR cz.cuni.mff.xrg.odcs.frontend.AppEntry - Uncaught exception
java.lang.NullPointerException: null
	at c

[2014-02-28 12:41] bogo777 commented on #1277
Do you have version after commit 3870b32131caf35fdc9e54a6446f546e6eb0e01d ? It should be fixed by it.

[2014-02-28 12:44] tomas-knap commented on #1277
Ok, will check on that

[2014-02-28 13:01] ghost commented on #1242
Oh, sorry for that flag.

[2014-02-28 13:27] janvojt commented on #1238
I believe separating frontend and backend provides more flexibility and better design. With this setup it should be possible to have multiple (possibly different) frontend applications (which I actually never tested, so I am not sure it works at the moment). Originally, when we were specifying requirements for the project, we were considering a separate frontend for administrator for browsing data

[2014-02-28 14:30] ghost commented on #1238
It depends. PipelineGraph > List<Node> is fetchType EAGER, but Note > DPUInstanceRecord is fetched LAZY. Consider user editing pipeline and backend starting up execution of that pipeline. Can user save changes to DPUInstanceRecord after execution of the pipeline started, but before it was fetched in backend by that execution? Probably yes. It is not problem of transaction isolation, but of "what i

[2014-02-28 14:54] janvojt commented on #1238
I have not tested this, but I expect it currently works with the following mindset:
- When pipeline is run, its structure and setup is always preserved as was at the time it was started.
- Propagation of changes on DPUs is undefined, as according to JPA FetchType.LAZY is only a hint, not a requirement. Therefore, either DPU state from when pipeline was run may be used, or current updated state may

[2014-02-28 19:14] #995 closed, assigned to skodapetr

[2014-02-28 19:18] janvojt commented on #1234
I got rid of the warnings mentioned in issue #995, however I cannot reproduce any errors. Please try to reproduce on clean database.

[2014-02-28 19:34] janvojt commented on #1229
This actually happened only on the database I copied from odcs.xrg. The problem is, that this database uses latin1 as the default charset. It must obviously use utf-8 to support utf-8 strings.

Virtuoso 7 on ODCS is also fine.

[2014-02-28 20:01] janvojt commented on #1229
I have to reopen. National characters on Virtuoso 7 do NOT work in DPU configuration. They are displayed correctly when DPU conf dialog is closed and reopened, however stop working when pipeline detail is closed and reopened. It replaces accented characters with question marks.

[2014-02-28 20:22] mingan commented on #1243
Works fine with build from 616e41b4027e1a14bba82cbb9383f79691384b52

[2014-02-28 20:22] #1243 closed, assigned to nobody

[2014-02-28 20:24] janvojt commented on #1229
Behavior is DPU specific.
- XSLT transformer can handle national characters correctly.
- RDF File Extractor shows `�` instead of accented character in path
- RDF File Loader shows `?` instead of accented character in path

String saved in database is persisted correctly when inspecting through conductor. @bogo777 Do you think this may be caused by some TextField not supporting national characters?

[2014-02-28 23:33] janvojt commented on #1235
When connecting to v7.xrg.cz I also get NPE just before getting ClassCastException. This seems like a bug in JDBC. If I rememeber correctly, we already had this issue when trying Virtuoso 7.0 and it was resolved by upgrading JDBC to the latest version. @tomas-knap can you add the latest JDBC to nexus **under next version number** so we can try it?

Please do not just overwritethe old JDBC. I am em

[2014-03-01 10:58] bogo777 commented on #1229
Yes, this could be the source. I know that RichTextArea in Log detail displays ? instead of accented cahracters, and elsewhere it is shown correctly. But I didn't found any setting which could change charset or something like that...

[2014-03-01 11:15] #1015 closed, assigned to janvojt

[2014-03-01 17:06] janvojt commented on #1229
Actually, it must be caused by Virtuoso database/JDBC, because with MySQL same fields work well.

[2014-03-01 17:20] janvojt commented on #1229
What I do not understand is that when testing XSLT transformer, text fields do not work while text area for XSLT template works. Both are serialized in the same column as a serialized XML, in which accented characters are stored properly when cecking through conductor. I am not sure we will be able to solve this until defence, it seems to be some "speciality" of Virtuoso...

I just tested on odcs.

[2014-03-01 17:24] tomas-knap commented on #1187
Could you please test that Maria? Write down please version you have used and whether it seems to be working correctly or not. So that we can say to the examiner which browser we support correctly

[2014-03-01 18:07] tomas-knap commented on #1277
Still appears, please check ODCS

[2014-03-02 15:53] tomas-knap opened #1278 "Strange error during SPARQL loading"
When running SPARQL loader on ODCS, it failed with the following error (see below). Data seems to be fine.  Jirka, could you please look on that (on the data)? Please try to manually load them to the Virtuoso (6.1.8./7.0.x) If you find anything suspicious, please let me know. It would be a pity, if that happens when the tool is reviewed.

--- start of error

cz.cuni.mff.xrg.odcs.rdf.exceptions.RDF

[2014-03-02 16:19] tomas-knap opened #1279 "Increase speed of RUIAN cache pipeline"
See pipeline RUIAN cache on ODCS. Speed must be increased, so that it is processed under 2 day.

Without ODCS, the pipeline runs cca 1 day, 18000 files.
With ODCS, currently, it is running for 22h, and processed only 1613 files / 18000

So it should run at least 5x faster

@jakubklimek Please add any note if needed

[2014-03-02 16:20] #1260 closed, assigned to bogo777

[2014-03-02 16:21] #1256 closed, assigned to tomesj

[2014-03-02 18:06] jakubklimek commented on #1279
Basically you should profile the pipeline and see whats taking longer than
necessary
On Mar 2, 2014 5:19 PM, "Tomas Knap" notifications@github.com wrote:

[2014-03-02 19:07] bogo777 commented on #1258
Mergnul jsem branch, ve ktere jsem udelal vyber vice DPU pomoci mysi. (Vyber musi zahrnovat cele DPU aby se vybralo, odebirat/pridavat DPU lze klikanim se stisknutou klavesou CTRL)

Vybrana DPU lze posunovat(pri posune se zobrazuje pouze schematicky obdelnik, po dokonceni presunu se pipeline prekresli)

Pri posunuti DPU k pravemu nebo spodnimu okraji se zvetsi oblast canvasu.

Chtelo by to otestov